{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_fechainicio, #id_fechafin").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
            $("#id_fechainicio, #id_fechafin, #id_rol, #id_nombre, #id_financiamiento, #id_institucion").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block atras %}{{ rutainv }}?action=participantes&cabid={{ cabid|encrypt }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}{{ rutainv }}{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formdestination %}{{ rutainv }}?action=participantes&cabid={{ cabid|encrypt }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addproyectoexterno'/>
    <input type='hidden' name='id' value='{{ id|encrypt }}'/>
{% endblock %}
{% block formback %}{{ rutainv }}?action=participantes&cabid={{ cabid|encrypt }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}