{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script>
        $(function(){
            $("#id_nombre").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block atras %}{{ rutainv }}?id={{ areaunesco.id|encrypt }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}{{ rutainv }}{% endblock %}
{% block formdestination %}{{ rutainv }}?action=areaunesco{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editareaunesco'/>
    <input type='hidden' name='id' value='{{ areaunesco.id|encrypt }}'/>
{% endblock %}
{% block formsuffix %}
    <div class="table-responsive mb-4">
        <table id="tbDetalle" class="table table-bordered">
            <thead style="background-color: #0c0c0c">
            <tr>
                <th style="width: 200%">Subáreas</th>
                <th>
                    Acción
                </th>
            </tr>
            </thead>
            <tbody>
            {% for o in subareas %}
                <tr>
                    <td>
                        <input class="textinput textInput form-control"
                               type="text" name="subareas[]" required
                               value="{{ o.nombre }}">
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-danger btn-tini deleteObj">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>
                    <a id="btnAdd" class="btn btn-block btn-success">
                        <i class="fa fa-plus-circle"></i></a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
    <script>
        contObserv = 0;
        $('#btnAdd').click(function () {
            $('#tbDetalle tbody').append($('<tr>', {}).append($('<td>', {}).append($('<input>', {
                'class': 'textinput textInput form-control validate[required]',
                'type': 'text',
                'required': 'true',
                'name': 'subareas[]'
            })), $('<td>', {}).append($('<button>', {
                'type': 'button',
                'class': 'btn-tini btn btn-danger deleteObj',
                'html': '<i class="fa fa-trash"></i>'
            }))));
        });

        $('#tbDetalle').on("click", "tbody tr td .deleteObj", function () {
            $(this).parents('tr').remove();
        });
    </script>
{% endblock %}
{% block formback %}{{ rutainv }}?action=areaunesco{% endblock %}