{% extends "basebs.html" %}
{% load humanize %}
{% block heading %}
    <script type="text/javascript">
        $(function(){
            $('.delarchivo').unbind();
            $('.delarchivo').click(function(){
                var id = $(this).attr('ida');
                smoke.confirm("Desea eliminar?", function(e){
                    if (e){
                        $.ajax({
                            type: "POST",
                            url: "/ob_presupuestos",
                            data: {'action': 'delarchivo', 'id': id },
                            success: function(data) {
                                if (data.result == 'ok') {
                                    $('#filaarchivo_'+id).remove();
                                } else {
                                    $.unblockUI();
                                    smoke.alert(data.mensaje);
                                }
                            },
                            error: function() {
                                $.unblockUI();
                                smoke.alert("Error de conexión");
                            },
                            dataType: "json"
                        });
                    }else{

                    }
                }, {
                    ok: "Si",
                    cancel: "No",
                    classname: "custom-class",
                    reverseButtons: true
                });

            });

        });
    </script>
{% endblock %}
{% block atras %}/ob_presupuestos{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
            <h5>Presupuesto: {{ presupuesto }}</h5>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span6'>
            {% if perms.sagest.puede_subir_archivos_presupuesto %}
            <a href="/ob_presupuestos?action=subir&id={{ presupuesto.id }}" class='btn btn-success'><span class="fa fa-plus " ></span> Adicionar Archivo</a>
            {% endif %}
        </div>
    </div>
    <div class="row-fluid">
        <div class='span12'>
            <table class='table table-bordered'>
                <thead>
                <tr>
                    <th style="width: 450px">Nombre</th>
                    <th style="width: 90px; text-align: center">Tipo de Archivo</th>
                    <th style="width: 80px; text-align: center">Archivo</th>
                    <th style="width: 50px;"></th>
                </tr>
                </thead>
                <tbody>
                {% for archivo in archivos %}
                    <tr id="filaarchivo_{{ archivo.id }}">
                        <td>{{ archivo.nombre }}</td>
                        <td>{{ archivo.tipoarchivo }}</td>
                        <td style="text-align: center"><a class="btn btn-success btn-mini" href="{{ archivo.archivo.url }}"><i class="fa fa-arrow-down"></i> Descargar</a></td>
                        <td style="text-align: center">
                             {% if perms.sagest.puede_subir_archivos_presupuesto %}
                                <a class="btn btn-danger btn-mini tu delarchivo" ida="{{ archivo.id }}"><i class="fa fa-remove"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="12">
                            NO EXISTEN ARCHIVOS
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}