{% extends 'ajaxformmodal.html' %}
{% block header_info %}
    <div class="row">
        <div class="col-sm-6">
            <p><b>Origen ingreso : </b>{{ comprobante.origeningreso }}</p>

            <p><b>Activos comprados  </b>{{ comprobante.cantidad }}</p>
        </div>
        <div class="col-sm-6">
             <p><b>Tipo : </b>{{ comprobante.tipocomprobante.nombre }}</p>
            <p><b>Número : </b>{{ comprobante.numerocomprobante }}</p>
        </div>
    </div>
{% endblock %}
{% block extra_input %}
    <input type="hidden" name="numeroacta" value="{{ numeroacta }}">
{% endblock %}

{% block extra_js %}
    <script>
        $(function (){
            $("select").select2({width:'100%',placeholder:'Seleccione una opción'})
        })
    </script>
{% endblock %}