{% extends "ajaxdeletedinamicbs.html" %}
{% block titulo %}{{ title }} <br> {{ requerimiento.incidente }}{% endblock %}
{% block formaction %}/helpdesk_hdagente?action=requerimientospiezapartes&idincidente={{ requerimiento.incidente.id }}{% endblock %}
{% block formdestination %}/helpdesk_hdagente?action=requerimientospiezapartes&idincidente={{ requerimiento.incidente.id }}{% endblock %}
{% block formactionvalue %}delrequerimientopiezaparte{% endblock %}
{% block formobjectid %}{{ requerimiento.id }}{% endblock %}
{% block formobjectrepr %}{{ requerimiento.solicitudes }}{% endblock %}