{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/pro_laboratoriocronograma?action=aprobarevidenciasactividades{% endblock %}
{% block formaction %}/pro_laboratoriocronograma{% endblock %}
{% block formactionvalue %}aprobar{% endblock %}
{% block formobjectid %}{{ evidenciaactividaddetalledistributivo.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) de aprobar la evidencia: {{ evidenciaactividaddetalledistributivo }}{% endblock %}