{% load sga_extras %}
{% load tz %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?python import sitetemplate ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#" py:extends="sitetemplate">
<html lang="en">
<head>
    <meta charset=UTF-8">
    <style type="text/css">
        @page {
            background-image: url('media/reportes/encabezados_pies/hoja_membretada.png');
            /*background-position: right 0.5cm;*/
            /*background-position: right 1000px;
            background-repeat: no-repeat;*/
            size: a4;/*size: a4 landscape;*/
            @frame header_frame {
            -pdf-frame-content: header_content;
            left: 1.5cm; right: 0.5cm; top: 0.5cm; height: 4cm;
        }
        @frame {
        -pdf-frame-content: company_logo;
            /*-pdf-frame-border: 1;*/
        left: 1cm;
        }
        @frame content_frame {
        left: 2cm; right: 2cm; top: 4cm; bottom: 3cm;
        }
        @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 0cm;
        margin-left: 1cm;
        margin-right: 1cm;
        text-align: right;
        height: 1.5cm;
        }
        }
        td{
            vertical-align: top;
        }
        p{
            line-height: 17px;
        }
        li{
             line-height: 17px;
        }
    </style>
</head>
<body>
<div id="company_logo">
    <img src="https://sga.unemi.edu.ec/media/reportes/encabezados_pies/hoja_membretada.png" class="top_image" />
</div>
<div id="header_content">
</div>
<div>
    <div align="right" style="font-size: 12px"><p><strong style="border-bottom: 1px solid black;display: inline-block;">Convenio de Devengación {{ data.numeroconvenio }}</strong></p></div>
</div>
<div id="content_frame">
    <table width="100%"  align="center" border="0" style="font-size:12px; line-height:3px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
        <tr>
            <td style="text-align: center"><strong>
                <p class="contenido"> CONVENIO DE DEVENGACIÓN DE CAPACITACIÓN CELEBRADO ENTRE LA UNIVERSIDAD ESTATAL DE MILAGRO Y EL/LA DOCENTE {{ data.titulo1bene }} {{ data.capacitacion.profesor }}{{ data.titulo2bene }}</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <p class="contenido">
                    Comparecen a la celebración del presente Convenio de Devengación de Capacitación, por una parte, la
                    Universidad Estatal de Milagro- UNEMI, con Registro Único de Contribuyente número 0968533430001,
                    legalmente representada por el Doctor Jorge Fabricio Guevara Viejó, Rector, quien mediante Resolución
                    OCAS-SE-6-2022-N°4, en concordancia con el Instructivo de Delegación de Facultades y Atribuciones para
                    la Gestión Institucional de la Universidad Estatal de Milagro, delego al Dr. Edwuin Jesús Carrasquero
                    Rodríguez, en su calidad de Vicerrector de Investigación y Posgrado, para que a su nombre y
                    representación suscriba el presente instrumento legal, a quien en adelante se le denominará como la
                    <b>“UNEMI”</b>; por otra parte, comparece {% if data.capacitacion.profesor.persona.sexo_id == 1 %}la{% else %}el{% endif %} docente <b>{{ data.capacitacion.profesor }}</b>, con
                    cédula de identidad número <b>{{ data.capacitacion.profesor.persona.cedula }}</b>, de nacionalidad {{ data.capacitacion.profesor.persona.nacionalidad|lower }}, {{ data.capacitacion.profesor.persona.estado_civil|lower }}, domiciliad{% if data.capacitacion.profesor.persona.sexo_id == 1 %}a{% else %}o{% endif %}
                    en la ciudad de {{ data.capacitacion.profesor.persona.canton.nombre|lower|capfirst }} provincia del Guayas, por sus propios y personales derechos, a quien en adelante se la
                    podrá denominar simplemente como {% if data.capacitacion.profesor.persona.sexo_id == 1 %}la{% else %}el{% endif %} Responsable.
                </p>
                <p class="contenido">
                  Los comparecientes, acuerdan celebrar el siguiente CONVENIO DE DEVENGACIÓN DE CAPACITACIÓN, al tenor de las siguientes cláusulas:
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA PRIMERA. – BASE LEGAL:</strong><br><br>
                <table width="100%">
                    <tr>
                        <td width="4%"><p>1.</p></td>
                        <td><p> Los considerandos legales para el otorgamiento de la beca son:</p></td>
                    </tr>
                    <tr>
                        <td width="4%"><p>1.1.</p></td>
                        <td>
                            <p>  El artículo 349 de la Constitución de la República, señala:
                                <em>
                                    “El Estado garantizará al personal
                                    docente, en todos los niveles y modalidades, estabilidad, actualización, formación continua y
                                    mejoramiento pedagógico y académico; una remuneración justa, de acuerdo a la
                                    profesionalización, desempeño y méritos académicos. La ley regulará la carrera docente y el
                                    escalafón; establecerá un sistema nacional de evaluación del desempeño y la política salarial en
                                    todos los niveles. Se establecerán políticas de promoción, movilidad y alternancia docente”;
                                </em>
                            </p>
                        </td>
                    </tr>
                     <tr>
                        <td width="4%"><p>1.2.</p></td>
                        <td>
                            <p>
                                El artículo 350 ibídem, dispone: <em>“El sistema de educación superior tiene como finalidad la formación
                                académica y profesional con visión científica y humanista; la investigación científica y tecnológica;
                                la innovación, promoción, desarrollo y difusión de los saberes y las culturas; la construcción de
                                soluciones para los problemas del país, en relación con los objetivos del régimen de desarrollo”;</em>
                            </p>
                        </td>
                    </tr>
                     <tr>
                        <td width="4%"><p>1.3.</p></td>
                        <td>
                            <p>
                                El artículo 6.1, de la Ley Orgánica de Educación Superior (LOES), determina: <em>“Deberes de las y los
                                profesores e investigadores: Son deberes de las y los profesores e investigadores de conformidad
                                con la Constitución y esta Ley los siguientes: […] d) Mantener un proceso permanente de formación
                                y capacitación para una constante actualización de la cátedra y consecución del principio de calidad
                                […]”;</em>
                            </p>
                        </td>
                    </tr>
                     <tr>
                        <td width="4%"><p>1.4.</p></td>
                        <td>
                            <p>
                                El artículo 36 ibídem, determina: <em>“Las universidades y escuelas politécnicas de carácter público y#
                                particular asignarán de manera obligatoria en sus presupuestos partidas para ejecutar proyectos de
                                investigación, adquirir infraestructura tecnológica, publicar textos pertinentes a las necesidades
                                ecuatorianas en revistas indexadas, otorgar becas doctorales a sus profesores titulares y pago de
                                patentes. En las universidades y escuelas politécnicas esta asignación será de al menos el 6% de sus
                                respectivos presupuestos”;</em>
                            </p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <table>
                    <tr>
                        <td width="4%"><p>1.5.</p></td>
                        <td>
                            <p>
                                 El artículo 79 ibídem, establece: <em>“El Estado a través de las entidades competentes fomentará el
                                otorgamiento de crédito educativo y becas en favor de los estudiantes, docentes e investigadores
                                del sistema de educación superior. El órgano rector de la política de fortalecimiento del talento
                                humano coordinará con el sistema financiero el otorgamiento de créditos educativos en condiciones
                                favorables para los estudiantes de todos los niveles de la educación superior”;</em>
                            </p>
                        </td>
                    </tr>
                     <tr>
                        <td width="4%"><p>1.6.</p></td>
                        <td>
                            <p>
                                El artículo 100 del Reglamento de Carrera y Escalafón del Personal Académico del Sistema de
                                Educación Superior determina para la Garantía del perfeccionamiento académico que: <em>“Las
                                universidades y escuelas politécnicas elaborarán el plan de perfeccionamiento para cada periodo
                                académico, para lo cual considerarán los requerimientos del personal académico, así como los
                                objetivos, fines institucionales y los resultados de la evaluación integral de desempeño. Como parte
                                de los programas de perfeccionamiento, entre otros, se consideran:
                                <br>
                                a) Los cursos u otros eventos de capacitación y/o actualización realizados tanto en el país como en
                                el extranjero;
                                <br>
                                b) Los cursos en metodologías de aprendizaje e investigación; […]”.
                                <br><br>
                                Los programas de perfeccionamiento se ejecutarán a través de becas, ayudas económicas, entre
                                otros. Las condiciones y los montos de las ayudas económicas serán definidos por el órgano
                                colegiado superior de la universidad o escuela politécnica, los mismos que deberán ser
                                planificados y constarán en su presupuesto institucional.
                                Además, la universidad o escuela politécnica deberá establecer los parámetros y procedimientos
                                para su devengación”.</em>
                            </p>
                        </td>
                    </tr>
                     <tr>
                        <td width="4%"><p>1.7.</p></td>
                        <td>
                            <p>
                                El artículo 48 del Reglamento de Becas y Ayudas Económicas para Estudios de Cuarto Nivel,
                                Posdoctorado, Concesión del Período Sabático, Capacitación y Actualización Científica Externas
                                para el Fortalecimiento del Personal Académico de la Universidad Estatal de Milagro, establece
                                que: <em>“La asignación de financiamiento para el Plan de Capacitación y Actualización Científica será
                                aprobada por el Órgano Colegiado Superior a partir de la propuesta articulada a la planificación
                                institucional presentada por la Dirección de Evaluación y Perfeccionamiento Académico, la misma
                                que responde a las necesidades del personal académico y de apoyo académico, y considere la
                                situación del presupuesto para el período fiscal”.</em>
                            </p>
                        </td>
                    </tr>
                     <tr>
                        <td width="4%"><p>1.8.</p></td>
                        <td>
                            <p>
                                El artículo 55 ibídem, señala que: <em>“Convenio de devengación. - El personal académico beneficiario
                                de la capacitación o actualización científica, deberá suscribir el convenio de devengación luego de
                                autorizado el evento que solicitó, en el que constarán al menos, el objeto, las obligaciones de las
                                partes, la duración, el costo, causales y procedimiento de terminación y otras cláusulas que serán de
                                cumplimiento obligatorio para los suscriptores”.</em>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA SEGUNDA. - OBJETO:</strong>
                <p>
                    El presente convenio de devengación por capacitación tiene por objeto poner en práctica los
                    conocimientos adquiridos en su área de trabajo para la mejora continua de la formación académica en
                    el <b>{{ data.capacitacion.tema }}</b>, que potencializará los conocimientos, habilidades,
                    destrezas y actitudes de las y los docentes de la institución en la que el Estado hubiese invertido
                    recursos económicos, a fin de aplicarlos en el ejercicio de sus funciones.
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA TERCERA. - OBLIGACIONES:</strong><br><br>
                <ol type="">
                    <li>UNEMI: La UNEMI deberá cumplir con lo siguiente:</li>
                    <ol type="1">
                        <li>
                            Proceder con la logística de inscripción que ha sido autorizada previamente por el
                            Vicerrectorado de Investigación y Posgrado, a fin de poder ejecutar el programa
                            <b>{{ data.capacitacion.tema }}</b>, a realizarse en modalidad <b>{{ data.capacitacion.get_modalidad_display }}</b>, desde el
                            <b>{{ data.capacitacion.fechainicio|date:'d-m-Y' }}</b>, hasta <b>{{ data.capacitacion.fechafin|date:'d-m-Y' }}</b>, el mismo que es financiado por la institución
                            con una inversión de <b>${{ data.capacitacion.costo }}</b> por costo de inscripción del participante.
                        </li>
                    </ol>
                    <li>
                        BENEFICIARIO: La o el BENEFICIARIO del evento de capacitación, deberá cumplir con lo siguiente:
                    </li>
                    <ol type="1">
                         <li>
                            Participar de forma responsable y ética en todo el desarrollo de módulos o etapas de proceso educativo;
                        </li>
                        <li>
                            Si el valor del evento solicitado excede el monto máximo aprobado para cada profesor, este
                            excedente deberá ser cubierto por el beneficiario
                        </li>
                        <li>
                            Cumplir con la planificación y programación de actividades del evento, acorde a los parámetros
                            de evaluación mínimo que considera el proveedor para sus procesos académicos en asistencia
                            y/ aprovechamiento.
                        </li>
                        <li>
                            Poner en práctica los conocimientos adquiridos en su área de trabajo para la mejora continua
                            de la formación académica.
                        </li>
                    </ol>
                </ol>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA CUARTA. – APROBACIÓN DE LA CAPACITACIÓN:</strong><br>
                <p>La aprobación del evento de capacitación está sujeta a los parámetros establecidos por el proveedor/
                    organizador del evento al que asistan los Docentes de la UNEMI.</p>
                <p>Los certificados por aprobación obtenido posterior al proceso de capacitación deberán ser registrados
                    por el servidor en el sistema informático institucional (Hoja de Vida); y, entregados a la Unidad
                    Administrativa de Talento Humano en copias simples y legibles para anexar al archivo personal.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA QUINTA. – UNIVERSIDAD Y LUGAR DE ESTUDIO:</strong><br>
                <p>
                    {% if data.capacitacion.profesor.persona.sexo_id == 1 %}La{% else %}El{% endif %} Beneficiario, realizará su capacitación o actualización científica de <b></b>{{ data.capacitacion.tema }}
                    ofertada por {{ data.capacitacion.institucion }}.
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA SEXTA. – PLAZO DE VIGENCIA:</strong><br>
                <p>
                    El presente Convenio de Devengación tendrá vigencia a partir del inicio del evento de capacitación y
                    culminará cuando el/la Responsable presente el certificado de aprobación del programa y factura, en el
                    caso de ser eventos extranjeros deberá entregar comprobante de pago y transferencia, a la Dirección de
                    Evaluación y Perfeccionamiento Académico.
                </p>
                <p>
                    La duración del programa académico inicia el <b>{{ data.capacitacion.fechainicio|date:'d-m-Y' }}</b>
                    y culmina el <b>{{ data.capacitacion.fechafin|date:'d-m-Y' }}</b>,
                    en la modalidad de estudio <b>{{ data.capacitacion.get_modalidad_display }}</b>, sin que se suspendan sus actividades como
                    docente puesto que imparte clases en modalidad en línea/presencial, según el cronograma académico
                    aprobado por el Órgano Colegiado Superior.
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA SÉPTIMA. MONTO DE FINANCIAMIENTO:</strong><br>
                <p>
                     El monto máximo por concepto de capacitación académica o actualización científica, otorgado y
                    aprobado por Órgano Colegiado Superior mediante <b>{% if not data.coronograma.resolucion %}RESOLUCIÓN OCS-SO-23-2022-Nº6{% else %}{{ data.cronograma.resolucion }}{% endif %}</b> de fecha 8 de
                    diciembre del dos mil veintidós, es de {{ data.monto_natural }} dólares de los Estados Unidos de América (USD
                    ${{ data.cronograma.monto }}).
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA OCTAVA. - DESEMBOLSO:</strong><br>
                <p>
                    Para la acreditación de valores, la Dirección de Evaluación y Perfeccionamiento Académico registra y
                    remite el informe consolidado del proceso, convenio de devengación y documentación de información
                    del curso al Rectorado, quien autorizará a la Dirección Financiera se acredite en la cuenta registrada por
                    el personal académico, el valor del programa de capacitación o actualización científica, que no podrá
                    exceder al valor máximo asignado para la capacitación y actualización científica externa del personal
                    académico.
                </p>
                <p>
                    Si el valor del evento solicitado excede el monto máximo aprobado para cada profesor, este excedente
                    deberá ser cubierto por el/la Beneficiario.
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA NOVENA. – TERMINACIÓN DEL CONVENIO DE DEVENGACIÓN:</strong><br>
                <p>El presente convenio de devengación podrá darse por terminado en los siguientes casos:</p>
                <ol type="a">
                    <li>Terminación por mutuo consentimiento;</li>
                    <li>Cumplimiento del objeto y obligaciones contraídas por las partes;</li>
                    <li>Por incumplimiento del/la Beneficiaria, respecto al contenido del presente convenio;</li>
                    <li>Por abandono injustificado por parte del/la Beneficiaria; y,</li>
                    <li>Muerte del/la Beneficiario.</li>
                </ol>
                <p>La o el BENEFICIARIO que hubiese desertado del programa o evento de capacitación, o no hubiese
                    aprobado sus estudios por aprobación, estará obligado a reintegrar a la institución el valor de lo
                    invertido en su capacitación, en un plazo no superior a sesenta (60) días contados a partir del informe
                    presentado por la Dirección de Evaluación y Perfeccionamiento Académico.</p>
                <p>
                    Por tanto, el/la Beneficiario autoriza a la Universidad Estatal de Milagro para que realice el descuento
                    correspondiente del rol de pago de los valores invertidos en la capacitación, o de su liquidación si fuera el
                    caso.
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA DÉCIMA. – RECONOCIMIENTO DE COMPROMISO MUTUO:</strong><br>
                <p>
                    Este convenio de devengación es una declaración de intención para promover la capacitación continua y
                    mejoramiento del conocimiento de las y los servidores públicos que la instituyen.
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA DÉCIMA PRIMERA. – DOMICILIO</strong><br>
                <p>
                    El domicilio para notificaciones de las partes serán los siguientes:
                </p>
                <ol type="a">
                    <li>
                        Beneficiario/a: Docente {{ data.titulo1bene|lower|capfirst }} {{ data.capacitacion.profesor.persona.nombre_completo_minus }}{{ data.titulo2bene}}, domiciliado en la Provincia de
                        {{ data.capacitacion.profesor.persona.provincia.nombre|lower|capfirst }}, ciudad de {{ data.capacitacion.profesor.persona.canton.nombre|lower|capfirst }}, en las Calles {{ data.capacitacion.profesor.persona.direccion|lower }} y calle {{ data.capacitacion.profesor.persona.direccion2|lower }};
                        Teléfono: {{ data.capacitacion.profesor.persona.telefono }},
                        Correo electrónico: {{ data.capacitacion.profesor.persona.emailinst }}.
                    </li>
                    <li>
                        UNEMI: Provincia del Guayas, cantón Milagro, Cdla. Universitaria Dr. Rómulo Minchala Murillo,
                        Km 1 ¡/2 Vía Milagro Km. 26; Teléfono: 042715081 – 042715079; Correo electrónico:
                        rectorado@unemi.edu.ec.
                    </li>
                </ol>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA DÉCIMA SEGUNDA. - CONTROVERSIAS:</strong><br>
                <p>
                    Para la solución de toda controversia o diferencia derivada de la aplicación, interpretación, ejecución,
                    liquidación o terminación de este convenio de devengación; las partes acuerdan someter las divergencias
                    en primera instancia, al diálogo, agotando todos sus esfuerzos para establecer consensos y evitar
                    desacuerdos que perjudiquen el espíritu del presente instrumento legal.
                </p>
                <p>
                    En caso de no haber llegado a un consenso por mutuo acuerdo, las controversias serán sometidas ante el
                    Centro de Mediación y Arbitraje de la Procuraduría General del Estado, teniendo como última instancia,
                    someterse al procedimiento establecido en la Ley de la Jurisdicción Contencioso Administrativa; siendo
                    competente para conocer la controversia el Tribunal Distrital de lo Contencioso Administrativo de la
                    Provincia del Guayas, en la vía judicial correspondiente.
                </p>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <strong>CLÁUSULA DÉCIMA TERCERA. – RATIFICACIÓN Y ACEPTACIÓN:</strong><br>
                <p>
                     Las partes declaran que se ratifican en todas las cláusulas y declaraciones contenidas en el presente
                    instrumento legal, por así convenir a sus intereses y en constancia de lo pactado, se ratifican y aceptan el
                    presente contrato, suscribiéndolo en unidad de acto en dos (2) ejemplares de igual tenor y valor
                    jurídico.
                </p>
               <p>
                   Dado en San Francisco de Milagro, a los {{ data.fecha_natural.dia }} días del mes de {{ data.fecha_natural.mes }} del año {{ data.fecha_natural.anio }}.
               </p>
            </td>
        </tr>
    </table>
    <table width="95%" align="center" border="0" style=" font-size:12px; line-height:3px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
        <tr>
            <td valign="bottom" style="width: 500px; height: 170px;" align="center">
                <p style="margin: 0px; line-height: 2px">DR. {{ data.dvice.responsable.nombre_completo_minus }}</p>
                <p style="margin: 0px; line-height: 2px"><strong>Vicerrector de Investigación y Posgrado</strong></p>
                <p style="margin: 0px; line-height: 2px"><strong>UNEMI</strong></p>
            </td>
            <td valign="bottom" style="width: 500px; height: 170px;" align="center">
                <p style="margin: 0px; line-height: 2px">{{ data.titulo1bene|lower|capfirst }} {{ data.capacitacion.profesor.persona.nombre_completo_minus  }}{{ data.titulo2bene }}</p>
                <p style="margin: 0px; line-height: 2px"><strong>C.C. {{ data.capacitacion.profesor.persona.cedula }}</strong></p>
                <p style="margin: 0px; line-height: 2px">
                    <strong>Beneficiario</strong>
                </p>
            </td>
        </tr>
    </table>
</div>
<div id="footerContent">
    <div >
        {%block page_foot%}
            <hr color="black" />
            <table style="color: grey;text-align: right">
                <tr>
                    <td >
                        &nbsp;&nbsp;<b>P&aacute;gina <pdf:pagenumber></pdf:pagenumber> de <pdf:pagecount></pdf:pagecount></b>
                    </td>
                </tr>
            </table>
        {%endblock%}
    </div>
</div>
</body>
</html>