{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet" />
{% endblock %}
{% block atras %}/pro_laboratoriocronograma{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <table class='table table-bordered table-striped' >
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Actividad</th>
                    <th style="width: 90px;text-align: center;" class="hidden-phone hidden-tablet">Desde</th>
                    <th style="width: 90px;text-align: center;">Hasta</th>
                    <th style="width: 90px;text-align: center;" class="hidden-phone hidden-tablet">Archivo</th>
                </tr>
                </thead>
                <tbody>
                {% if evidenciaseliminadas %}
                    {% for evidencia in evidenciaseliminadas %}
                        <tr>
                            <td data-title='no'>{{ forloop.counter }} ({{ evidencia.id }})</td>
                            <td data-title='Evidencia'>{{ evidencia.actividad }}</td>
                            <td style="text-align: center;" class="hidden-phone hidden-tablet">{{ evidencia.desde|date:"d-m-Y" }}</td>
                            <td style="text-align: center;" data-title='Hasta'>{{ evidencia.hasta|date:"d-m-Y" }}</td>
                            <td style="text-align: center;" class="hidden-phone hidden-tablet">
                                {% if evidencia.archivo %}
                                    <a target="_blank" href="{{ evidencia.download_link }}" class="btn btn-success btn-mini"><i class="fa fa-arrow-down"></i> Descargar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">NO TIENE EVIDENCIAS SUBIDAS</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}