<input value="{{ solicitud.id }}" type="hidden" id="id_solicitud">

<table class="table table-bordered">
    <thead>
   <tr>
        <th>Fecha Registro:</th>
        <td>{{ solicitud.fecharegistro|date:'d-m-Y' }} {{ solicitud.fecha_creacion|time:'h:i a' }}</td>
        <th>Estado:</th>
        <td style="text-align: center"><b><span class="label label-{% if solicitud.estadoaprobacion == 1 %}info{% elif solicitud.estadoaprobacion == 2 %}warning{% elif solicitud.estadosolicitud == 5 %}inverse{% elif solicitud.estadoaprobacion == 3 %}success{% else %}important{% endif %}">{{ solicitud.get_estadoaprobacion_display }}</span></b></td>
    </tr>
  <tr>
        <th>Solicita:</th>
        <td>{{ solicitud.solicita.nombre_completo_inverso }}</td>
        <th>Solicita Revisión:</th>
        <td style="text-align: center">
              {% if solicitud.solicitarevision %}
                                    <i class="fa fa-check" style="color: green"></i>
                                {% else %}
                                    <i class="fa fa-remove" style="color: red"></i>
                                {% endif %}</td>
    </tr>
    </thead>
</table>



<table class="table table-bordered">
    <thead>
    <tr>
        <th style="font-weight: bold">Observación</th>
        <th style="text-align: center; font-weight: bold; width: 150px;">Estado</th>
        <th style="text-align: center; font-weight: bold; width: 70px;">Fecha</th>
        <th style="font-weight: bold; width: 300px;">Aprobador/Solicitante</th>
    </tr>
    </thead>
    <tbody>
<tr>
        <td style="text-align: justify">{{ solicitud.observacion|upper }}</td>
        <td style="text-align: center">ELABORADA</td>
        <td style="text-align: center">{{ solicitud.fecharegistro|date:"d-m-Y" }}</td>
        <td style="text-align: center">{{ solicitud.solicita }}</td>
    </tr>
    {% for aprobado in aprobadores %}
        <tr>
            <td style="text-align: justify">{{ aprobado.observacion }}</td>
            <td style="text-align: center">{{ aprobado.get_estadosolicitud_display }}</td>
            <td style="text-align: center">{{ aprobado.fechaaprobacion|date:"d-m-Y" }}</td>
            <td style="text-align: center">{{ aprobado.aprueba }}</td>
        </tr>

    {% endfor %}
      <tr>
        <td style="text-align: justify"><textarea id="id_observacion" rows="7" cols="35" name="observacion" maxlength="1000" style="width: 100%" class="validate[required]"></textarea></td>
        <td style="text-align: center"style="width: 300px">
            {% if solicitud.estadoaprobacion == 2 %}
                <select id="id_estadosolicitud" class="imp-75" name="estadosolicitud">
                <option value="0">Estado</option>

                    <option value="4">APROBADA</option>
                    <option value="5">RECHAZADA</option>


            </select><hr>

            {% else %}
                  <select id="id_estadosolicitud" class="imp-75" name="estadosolicitud">
                <option value="0">Estado</option>

                    <option value="2">REVISADA</option>
                    <option value="5">RECHAZADA</option>
                    <option value="3">OBSERVADA</option>

            </select><hr>
            {% endif %}


        </td>
        <td style="text-align: center">{{ fecha|date:"d-m-Y" }}</td>
        <td style="text-align: center">{{ aprobador }}</td>
    </tr>
    </tbody>
</table>
<table class="table table-bordered">
    <thead>

    </thead>
    <tbody>



    </tbody>
</table>