<meta charset=UTF-8">
{% load sga_extras %}
{% block heading %}
{% endblock %}
{% block canvas %}
    <style type="text/css">
        @page {
            background-image: url('https://sga.unemi.edu.ec/media/reportes/encabezados_pies/hoja_membretada.png');
            background-position: right 0.5cm;
            size: a4;/*size: a4 landscape;*/
            @frame header_frame {
            -pdf-frame-content: header_content;
            left: 2.5cm; right: 1cm; top: 0.5cm; height: 4cm;border-top: 0cm;
        }

        @frame content_frame {
        left: 2.5cm; right: 1cm; top: 4cm; bottom: 1cm;
        }
        @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 0cm;
        margin-left: 2.5cm;
        margin-right: 1cm;
        text-align: right;
        height: 1cm;
        }
        }
    </style>

    <div id="header_content">
        <div align="center"><img name='unemi' src="media/reportes/encabezados_pies/cabecera_unemi.png" ></div>
        <div align="center" style="font-size:24px; font-weight: bold">UNIVERSIDAD ESTATAL DE MILAGRO</div>
        <div align="center" style="font-size:24px; font-weight: bold">ORDEN DE MOVILIZACIÓN</div>
        <div align="center" style="font-size:24px; font-weight: bold">N° {{ data.solicitudvehiculo.codigop }}</div>
    </div>
    <div id="header_body">
        <span style="line-height: 0.5px; font-size: 12px"><strong>MILAGRO, </strong> {{ data.solicitudvehiculo.fechasalida|date:"Y-m-d" }}  <strong>HORA: </strong>{{ data.solicitudvehiculo.horasalida|date:"H:i" }}-{{ data.solicitudvehiculo.horaingreso|date:"H:i" }}  </span><br><br>
        <span style="line-height: 0.5px; font-size: 12px"><strong>MOTIVO DE LA MOVILIZACION: </strong></span><br>
        <table style="border: 0.5px solid #000000; font-size:9px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
            <tr>
                <td>{{ data.solicitudvehiculo.finalidadviaje|upper }}</td>
            </tr>
        </table><br><br>
        <table style="border: 0.5px solid #000000; font-size:9px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
            <tr>
                <td><strong>LUGAR DE ORIGEN:</strong></td>
                <td colspan="3">{{ data.solicitudvehiculo.cantonsalida }}</td>
            </tr>
            <tr>
                <td><strong>LUGAR DE DESTINO:</strong></td>
                <td colspan="3">{{ data.solicitudvehiculo.cantondestino }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong>TIEMPO DE DURACIÓN DE LA COMISIÓN</strong></td>
                <td colspan="2">{{ data.solicitudvehiculo.tiempoviaje|date:"h:i" }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong>NOMBRES Y APELLIDOS DEL CONDUCTOR:</strong></td>
                <td colspan="2">{{ data.solicitudvehiculodetalle.conductor|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong># C.I.</strong></td>
                <td colspan="2">{{ data.solicitudvehiculodetalle.conductor.cedula|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td colspan="4" width="100%"></td>
            </tr>
            <tr>
                <td colspan="2"><strong>PROFESOR O FUNCIONARIO RESPONSABLE DE LA GIRA</strong></td>
                <td colspan="2">{{ data.solicitudvehiculo.responsablegira }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong># C.I.</strong></td>
                <td colspan="2">{{ data.solicitudvehiculo.responsablegira.cedula }}</td>
            </tr>
        </table><br><br>
        <table style="border: 0.5px solid #000000; font-size:9px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
            <tr>
                <td colspan="4" width="100%" align="center"><strong>CARACTERISTICAS DEL VEHICULO</strong></td>
            </tr>
            <tr>
                <td width="25%"><strong>TIPO:</strong></td>
                <td width="25%">{{ data.solicitudvehiculodetalle.vehiculo.tipovehiculo }}</td>
                <td width="25%"><strong>MARCA:</strong></td>
                <td width="25%">{{ data.solicitudvehiculodetalle.vehiculo.marca }}</td>
            </tr>
            <tr>
                <td width="25%"><strong>COLOR:</strong></td>
                <td width="25%">{{ data.solicitudvehiculodetalle.vehiculo.colorprimario }}</td>
                <td width="25%"><strong>Nº PLACA:</strong></td>
                <td width="25%">{{ data.solicitudvehiculodetalle.vehiculo.placa }}</td>
            </tr>
            <tr>
                <td width="25%"><strong>MATRICULA:</strong></td>
                <td colspan="3"></td>
            </tr>
        </table><br><br>
        <table style="border: 0.5px solid #000000; font-size:9px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
            <tr>
                <td colspan="4" width="100%" align="center"><strong>EMISIÓN DE LA ORDEN EFECTUADA POR:</strong></td>
            </tr>
            <tr>
                <td colspan="2"><strong>EXPERTO EN SERVICIOS GENERALES Y AREAS VERDES</strong></td>
                <td colspan="2">{{ data.solicitudvehiculo.administradorgeneral }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Nº DE CEDULA</strong></td>
                <td colspan="2">{{ data.solicitudvehiculo.administradorgeneral.cedula }}</td>
            </tr>
        </table><br><br><br><br><br><br><br>
        <span style="line-height: 0.5px; font-size: 12px;"><p align=center><strong>_______________________________________________</strong></p></span>
    <span style="line-height: 0.5px; font-size: 12px;" ><p align=center><strong>FIRMA DEL FUNCIONARIO EMISOR DE LA ORDEN </strong></p></span>
    <span style="line-height: 0.5px; font-size: 12px;" ><p align=center><strong># DE CÉDULA DE CIUDADANÍA</strong> {{ data.solicitudvehiculo.cedula_ingreso }} </span></p><br>

    </div><br>
    <div id="footerContent" align="right">
        {%block page_foot%}
            <hr color="black" />
            {{ data.fechaactual|date:"Y-m-d" }} | P&aacute;gina <pdf:pagenumber></pdf:pagenumber>/ <pdf:pagecount></pdf:pagecount>
        {%endblock%}
    </div>
{% endblock %}