<!DOCTYPE html>
<html lang="es" data-location="UNEMI">
<head>
    <meta charset="utf-8"/>
    <title>{% block pagetitle %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta name="description" content="Unemi">
    <meta name="keywords" content="Empresa Publica y de Producción, Epunemi">
    <link rel="shortcut icon" href="/static/images/aok/favicon32X32.ico?1.6.0">
    <link href="/static/fonts/family-sans/family-sans.css" rel="stylesheet"/>
    <link href="/static/coloradmin/assets/css/default/app.min.css" rel="stylesheet"/>
    {% block  heading %}
    {% endblock %}
</head>
<body class="pace-top">

<div id="page-container" class="fade">

    {% block canvas %}
    {% endblock %}

    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>
</div>
<script src="/static/coloradmin/assets/js/app.min.js?v=1.0"></script>
<script src="/static/coloradmin/assets/js/theme/default.min.js"></script>
<link rel="stylesheet" href="/static/sweet2/sweetalert2.css">
<script src="/static/sweet2/sweetalert2.js"></script>
<script src="/static/jquery.blockUI.js"></script>
<script src="/static/coloradmin/bootstrap-show-password/dist/bootstrap-show-password.js"></script>

<script>
    window.RTCPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;   //compatibility for firefox and chrome
    var modalposition = 0;
    var mensaje = '';
    var capippriva = ''

    window.onload = function () {
        {% if messages %}
            {% for message in messages %}
                Swal.fire('{{ message }}', '{{ nombreempresa }}', '{% if message.tags %}{{ message.tags }}{% endif %}');
            {% endfor %}
        {% endif %}
    }

    function bloqueointerface() {
        $.blockUI({
            message: '<span class="spinner-grow spinner-border-lg text-primary" role="status" aria-hidden="true" style="width: 10rem; height: 10rem;"></span>',
            css: {
                backgroundColor: 'transparent',
                border: '0',
                zIndex: 9999999
            },
            overlayCSS: {
                backgroundColor: '#fff',
                opacity: 0.8,
                zIndex: 9999990
            }
        });
    }

    function mensajeSuccess(mensaje) {
        Swal.fire(mensaje, '{{ nombreempresa }}', 'success')
    }

    function mensajeWarning(mensaje) {
        Swal.fire(mensaje, '{{ nombreempresa }}', 'warning')
    }

    function mensajeDanger(mensaje) {
        Swal.fire(mensaje, '{{ nombreempresa }}', 'error')
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

</script>

{% block jsscript %}
{% endblock %}

</body>
</html>