<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
    <style>
        /* NECESSARY CSS CLASSES AND ID WITH APPLIED PROPERTIES TO DISPLAY HEADER */
    </style>
    <script>
        function subst() {
            var vars = {};
            var x = document.location.search.substring(1).split('&');
            for (var i in x) {
                var z = x[i].split('=', 2);
                vars[z[0]] = unescape(z[1]);
            }
            var x = ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection'];
            for (var i in x) {
                var y = document.getElementsByClassName(x[i]);
                for (var j = 0; j < y.length; ++j) y[j].textContent = vars[x[i]];

                /*if (vars['page'] == 1) { // If page is 1, set FakeHeaders display to none as don't want to show
                // the header first page of PDF
                    document.getElementById("FakeHeaders").style.display = 'none';
                }*/
            }


// HERE IS THE TRICK TO PLACE WATERMARK
// HERE BODY ELEMENT IS DIFFERENT FOR EVERY PAGE OF PDF
            if (!document.body.classList.contains('imgActive')) { // CHECK IS IMAGE ALREADY ADDED
                document.body.classList.add('imgActive');
                var body = document.getElementsByTagName("body")[0];
                var img = document.createElement("img");

                img.src = "https://sga.unemi.edu.ec/media/reportes/encabezados_pies/hoja_membretada.png";
                img.style.opacity = 0.5;
                img.style.marginTop = '0px';
// IF NOT ADDED AN IMAGE THEN ADD IT , TO DISPLAY IT AS WATERMARL
                body.appendChild(img);
            }
        }
        // END

    </script>
</head>
<body style="" onload="subst();">
<!-- Log and Title -->

<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div>// _ HTML _ HEADER _ VIEW</div>
<div class="row" id="FakeHeaders">

</div>
</body>
</html>