{% extends "base.html" %}
{% load sga_extras %}
{% block heading %}
    <script>
        $(function() {

            $("#search").click(function() {
                var term = $("#searchinput").val().toUpperCase();
                location.href = "/alu_solicitudtutor?action=solicitudestutormateria&s="+term;
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });
            $(".verobservaciones").click(function() {
                var id = $(this).attr('id');
                $.post("/alu_solicitudtutor", {'action':'verobservacionesmimateria', 'id': id}, function(data) {
                    if (data.result == 'ok') {
                        $.unblockUI();
                        $(".panelbody").html(data.data);
                        $("#divmostrar").modal({backdrop:'static', width: '1000px'}).modal('show');
                    }
                }, 'json');
            });
            $(".cerrarmodal").click(function() {
                $("#divmostrar").modal("hide");
            });
        });

    </script>
{% endblock %}
{% block canvas %}
     <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3 class="texto-blue">{{ title }}</h3>
                <h6>{{ persona.nombre_completo_minus }}</h6>
            </div>
        </div>
    </div>
        <div class="container-fluid">
            <div class='row'>
                <div class='col-lg-9 pb-2'>
                    <a href="/alu_solicitudtutor?action=addsolicitudtutormateria" class='btn btn-info tu' title="Agregar Solicitud"><span class="fa fa-plus" ></span> Agregar solicitud a docente de mis materias</a>
                </div>
                <div class="col-sm-3 pb-2">
                    <form class="form-search" onsubmit="return busqueda()">
                    <div class="input-group mb-3">
{#                        <input class='searchinput' type='text' id='searchinput' value='{{ search }}' autocomplete="off"/>#}
                    <input type="text" class="form-control searchinput" placeholder="Buscar..." aria-label="Buscar..." aria-describedby="search">
{#                        <a href="javascript:;" id='search' class='btn btn-info bloqueo_pantalla'><span class="fa fa-search "></span> Buscar</a>#}
                    <button class="btn btn-info bloqueo_pantalla" type="button" id="search"><span class="fa fa-search "></span></button>
                        {% if search or ids %}
                            <a href="/alu_solicitudtutor?action=solicitudestutormateria" id='allresults' class='btn btn-info bloqueo_pantalla'><span class="fa fa-refresh "></span> Todos</a>
                        {% endif %}
                    </div>
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body border-top border-6 rounded-3 border-dark-info">
                    <div class="table-responsive-xxl">
                        <table class='table table-bordered table-striped' cellpadding="0" cellspacing="0">
                            <thead>
                            <tr>
                                <th style="width: 250px">Profesor</th>
                                <th style="width: 300px">Materia</th>
                                <th style="width: 60px">Tipo</th>
                                <th style="width: 400px">Observación</th>
                                <th style="width: 100px">Archivo</th>
                                <th style="width: 100px">Estado</th>
                                <th style="width: 100px">Fecha respuesta</th>
                                <th style="width: 50px"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for solicitud in solicitudes %}
                                <tr>
                                    <td>{{ solicitud.profesor.persona.nombre_completo_minus }}</td>
                                    <td>{{ solicitud.materiaasignada.materia.nombre_completo }}</td>
                                    <td>{{ solicitud.get_tipo_display|lower|capfirst }}</td>
                                    <td>{{ solicitud.descripcion }}</td>
                                    <td>
                                        {% if solicitud.archivo %}
                                            <a target="_blank" href="{{ solicitud.download_link }}"
                                               class="btn btn-success btn-mini"><i class="fa fa-download"></i> Descargar</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ solicitud.get_estado_display|lower|capfirst }}</td>
                                    <td>{{ solicitud.fecharespuesta|date:"d-m-Y" }}</td>
                                    <td class="text-center">
                                        <div class="dropdown dropstart">
                                            <a href="javascript:void(0);"
                                               class="btn-icon btn btn-ghost btn-sm rounded-circle"
                                               data-bs-toggle="dropdown" data-offset="-140"
                                               aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="dropdown-menu" x-placement="right-start">
                                                <li class="dropdown-item"><a
                                                            href='/alu_solicitudtutor?action=editsolicitudtutormateria&id={{ solicitud.id|encrypt }}' class="bloqueo_pantalla"><i
                                                            class="fa fa-edit"></i> Editar</a></li>
                                            {% if not solicitud.en_uso %}
                                                <li class="dropdown-item"><a class="eliminacionmodal" href="javascript:;"
                                                           nhref="/alu_solicitudtutor?action=delsolicitudtutormateria&id={{ solicitud.id|encrypt }}"><i
                                                            class="fa fa-times fa-fw fa fa-remove"></i> Eliminar</a>
                                                    </li>
                                            {% endif %}
                                                <div class="dropdown-divider"></div>
                                                <li class="dropdown-item">
                                                    <a href='/alu_solicitudtutor?action=gestionrespuestas&id={{ solicitud.id }}'
                                                       id="{{ solicitud.id }}"><i class='fa fa-list '></i> Gestion de
                                                        respuestas</a>
                                                </li>
                                        </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10">
                                        NO EXISTEN REGISTROS EN EL SISTEMA
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <div class="card-footer">
            {% include 'paginacionb4.html' %}
        </div>
{#            <div class='row'>#}
{#                {% if paging.num_pages > 20 %}#}
{#                    <div class='pagination'>#}
{#                        <ul>#}
{#                            {% if paging.primera_pagina %}#}
{#                                <li><a href="/alu_solicitudtutor?action=solicitudestutormateria&page=1">1</a></li>#}
{#                                <li><a href="/alu_solicitudtutor?action=solicitudestutormateria&page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>#}
{#                            {% endif %}#}
{#                            {% for pagenumber in paging.paginas %}#}
{#                                <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/alu_solicitudtutor?action=solicitudestutormateria&page={{ pagenumber }}">{{ pagenumber }}</a></li>#}
{#                            {% endfor %}#}
{#                            {% if paging.ultima_pagina %}#}
{#                                <li><a href="/alu_solicitudtutor?action=solicitudestutormateria&page={{ paging.ellipsis_derecha }}" class="active">...</a></li>#}
{#                                <li><a href="/alu_solicitudtutor?action=solicitudestutormateria&page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>#}
{#                            {% endif %}#}
{#                        </ul>#}
{#                    </div>#}
{#                {% else %}#}
{#                    <div class='pagination'>#}
{#                        <ul>#}
{#                            {% for pagenumber in paging.page_range %}#}
{#                                <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/alu_solicitudtutor?action=solicitudestutormateria&{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}">{{ pagenumber }}</a></li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
{#                {% endif %}#}
{#            </div>#}
        </div>

     <div class="modal fade static" id="divmostrar" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Observaciones</h3>
        </div>
        <div class="modal-body panelbody">

        </div>
        <div class="modal-footer">
            <table class="pull-right">
                <tr>
                    <td><a href="javascript:;" class="btn btn-default cerrarmodal">Cerrar</a></td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
