{% extends 'basebs.html' %}
{% block atras %}/{% endblock %}
{% block heading %}
    <script>
        $(function () {
            $(".detalle").click(function () {
               var id = $(this).attr('gid');
               $.ajax({
                  type: "GET",
                    url: "/adm_grupoinvestigacion",
                    data: {'action': 'detalle', 'id': id},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $("#body-modal").html(data.data);
                            $("#showdetalle").modal({backdrop:'static', width: '700px'}).modal('show');
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
               })
            });
            $("#cerrardetallemodal").click(function () {
                $("#showdetalle").modal("hide");
            });
            $('.publicar_convocatoria').click(function(){
                id = $(this).attr('idc');
                if ($(this).is(':checked')){
                    valor = 'y';
                } else {
                    valor = 'n';
                }
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_convocatoriainvestigacion",
                    data: {'action': 'publicacion', 'id': id, 'val': valor},
                    success: function(data) {
                        if (data.result == 'ok') {
                            $.unblockUI();
                        } else {
                            $.unblockUI();
                            if (valor=='y'){
                                $("#publicar_"+id).prop('checked', false);
                            } else {
                                $("#publicar_"+id).prop('checked', true);
                            }
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        if (valor=='y'){
                            alert();
                            $("#publicar_"+id).prop('checked', false);
                        } else {
                            $("#publicar_"+id).prop('checked', true);
                        }
                        smoke.alert("Error al enviar los datos.");
                    },
                    dataType: "json"
                });
           });
            $(".mostrardetalle").click(function() {
                var id = $(this).attr('idc');
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/adm_convocatoriainvestigacion",
                    data: {'action': 'verdetalle', 'id': id},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $(".panelbody").html(data.data);
                            $("#itemspanel").modal({backdrop:'static', width: '900px'}).modal('show');
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
            });
            $("#itemspanel .btn-cerrar").click(function() {
                $("#itemspanel").modal("hide");
                return false;
            });
        })
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span10'>
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span6'>
                <a href="/adm_convocatoriainvestigacion?action=add" class='btn btn-success'><span class="fa fa-plus"></span> Adicionar</a>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped'>
                <thead>
                <tr>
                    <th style="width: 30px;text-align: center" >PUBLICAR</th>
                    <th>NOMBRE</th>
                    <th style="text-align: center; width: 75px; text-align: center">INICIO / FIN</th>
                    <th style="width: 70px; text-align: center">DURACIÓN</th>
                    <th style="width: 150px; text-align: center">PRESUPUESTO</th>
                    <th style="width: 50px; text-align: center">INF.</th>
                    <th style="width: 80px; text-align: center"></th>
                </tr>
                </thead>
                <tbody>
                {% for convocatoria in convocatorias %}
                    <tr>
                        <td style='text-align: center'>
                            <input class='publicar_convocatoria tu'  id="publicar_{{ convocatoria.id }}"  idc='{{ convocatoria.id }}' title='Publicar' type='checkbox' {% if convocatoria.publicar %}checked='checked'{% endif %}/>
                        </td>
                        <td>{{ convocatoria.nombre }}</td>
                        <td style="text-align: center">{{ convocatoria.fechainicio|date:'d-m-Y' }}<br>{{ convocatoria.fechafin|date:'d-m-Y' }}</td>
                        <td style="text-align: center">{{ convocatoria.duracionmeses }}</td>
                        <td style="text-align: center">${{ convocatoria.presupuestodesde|floatformat:2  }} a ${{ convocatoria.presupuestohasta|floatformat:2  }}</td>
                        <td style="text-align: center;"><a href="javascript:;" idc="{{ convocatoria.id }}" class="btn btn-mini btn-warning mostrardetalle"><i class="fa fa-list" ></i></a> </td>
                        <td style="text-align: center; ">
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span></a>
                                <ul class="dropdown-menu pull-right">
                                    <li style="text-align: left;">
                                        <a href="/adm_convocatoriainvestigacion?action=edit&id={{ convocatoria.id }}" ><i class="fa fa-edit"></i>Editar</a>
                                    </li>
                                    <li style="text-align: left;">
                                        <a href="javascript:;" class="eliminacionmodal tu" title="Eliminar" nhref="/adm_convocatoriainvestigacion?action=del&id={{ convocatoria.id }}"><i class="fa fa-remove" ></i>Eliminar</a>
                                    </li>
                                    <li style="text-align: left;">
                                        <a href="/adm_convocatoriainvestigacion?action=sublinea&id={{ convocatoria.id }}" ><i class="fa fa-list"></i>Línea de investigación</a>
                                    </li>
{#                                    {% if reporte_0 %}#}
{#                                        <li style="text-align: left"><a href="javascript:;" tipos="{{ reporte_0.tiporeporte }}" nhref="/reportes?action=run&n={{ reporte_0.nombre }}&convocatoria={{ convocatoria.id }}" class="reportedirecto"><span class="fa fa-print"></span> Convocatoria</a> </li>#}
{#                                    {% endif %}#}
                                </ul>
                            </div>

                          </td>
                    </tr>
                {% empty%}
                    <tr>
                         <td style="text-align: center" colspan="8">NO EXISTE CONVOCATORIA REGISTRADA</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Detalle de convocatoria</h3>
        </div>
        <div class="modal-body panelbody">
        </div>
        <div class="modal-footer">
            <table class="pull-right">
                <tr>
                    <td><a href="javascript:;" class="btn btn-cerrar btn-info">Cerrar</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}