{% extends 'base.html' %}
{% load humanize %}
{% load sga_extras %}
{% block heading %}
    <link rel="stylesheet" href="/static/css/calendar.css">
    <link rel="stylesheet" href="/static/css/bloques.css">
    <link href="/static/switchery/switchery.min.css" rel="stylesheet"/>
    <script src="/static/switchery/switchery.min.js"></script>
    <script src="/static/adicionalesjs/formquestionb4.js?0.24"></script>
    <script type="text/javascript">
        $(function (){
             MenuFijo()
            $('.form-box').hide()
            CargarCalendario('cargarcalendario','{{ servicio.id|encrypt }}')
        })
         //Menu Fijo Izquierdo
        function MenuFijo(){
            var altura=$('.menu').offset().top;
            $(window).on('scroll', function (){
                if ( $(window).scrollTop() > altura){
                    $('.menu').addClass('caja-menu-flotante');
                }else{
                    $('.menu').removeClass('caja-menu-flotante');
                }
            })
        }
        function CargarDatos(lista, fecha, box){
            $(".calendar__disponible").removeClass('calendar__disponible-active')
            $('.btn_extra').empty()
            $("#cal" + box).addClass('calendar__disponible-active')
             bloqueointerface()
            $.ajax({
            type: "GET",
            url: `{{ request.path }}`,
            data: {
                'action': 'addcita',
                'listaid[]': lista,
                'fecha': fecha,
                'idservicio': '{{ servicio.id|encrypt }}',
            },
            success: function (data) {
                $.unblockUI()
                if (data.result === true) {
                    $('.box-content-reserva').html(data.data);
                    $('.form-box').show()
                    $('.box-reserva').hide()
                } else if(data.agendado=== true) {
                    RemplazarTexto('','','',box,data.mensaje)
                } else {
                    alertaDanger(data.mensaje);
                }
            },
            error: function () {
                $.unblockUI()
                alertaDanger("Error de conexión.");
            },
            dataType: "json"
        });
        }
        function CargarCalendario(action,id,movimiento,mes,anio,diasreserva){
            var control = $(this);
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "{{request.path}}",
                    data: {'action': action,
                        'idservicio':id,
                        'mover': movimiento,
                        'mes': mes,
                        'anio':anio,
                        'diasreserva':diasreserva
                    },
                    success: function (data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $('.calendario').html(data.data);
                        } else {
                            control.val(0).trigger("change");
                            alertaDanger(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        control.val(0).trigger("change");
                        alertaDanger("Error de conexion.");
                    },
                    dataType: "json"
                });
    }
        function RemplazarTexto(fecha_actual,fecha_selec,numdias,box,mensaje=false) {
            let text = "Fecha no está disponible para reservar. Puede reservar máximo hasta " + numdias + " días posteriores a la primera fecha disponible."
            $(".calendar__disponible").removeClass('calendar__disponible-active')
            $('.btn_extra').empty()
            $("#cal" + box).addClass('calendar__disponible-active')
            $(".box-content-reserva").empty()
            $('.box-reserva').show().addClass('card').css('border', '0px')
            if (mensaje==true){
                text="Turnos agotados en fecha seleccionada"
            }else if(mensaje != false){
                text=mensaje
                $('.btn_extra').html(`<a class="btn btn-orange" href="{{ request.path }}?action=miscitas" target="_blank">Ver citas agendadas</a>`)
            }else{
                if (fecha_actual==fecha_selec){
                    text="Los turnos de esta fecha ya se han inicializado o finalizado."
                }
            }
            $('.mensaje').html(`<div class="swal2-icon swal2-info swal2-animate-info-icon mt-0 mb-1" style="display: flex;"></div><h2 class="text-secondary"><strong>Alerta!</strong></h2><p class="text-secondary lh-1 p-4 py-0">${text}</p>`)
        }

    </script>
{% endblock %}
{% block atras %}{{ request.path }}{% endblock %}
{% block canvas %}
    <div class='row'>
        <div class='col-12'>
            <div class="contenedor">
                <div class="principal">
                    <div class="headtitle">
                        <h3 class="texto-blue">{{ servicio.serviciocita|lower|capfirst }}</h3>
                        <h6>Consulta las fechas disponibles y agenda tu cita </h6>
                    </div>
                </div>
                <div class="sidebar"></div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="justify-content: space-between;margin-left: calc(var(--bs-gutter-x) * -.5)!important;">
            <div class="col-sm-12 col-md-5 col-lg-4 col-xxl-3">
             <div class="card h-100" style="height: 432px">
                 <div class="menu">
                     <div class="box-content-img p-0" style="height: 8rem">
                         {% if servicio.serviciocita.portada %}
                             <img src="{{ servicio.serviciocita.portada.url }}" class="img-fluid rounded-top">
                         {% else %}
                             <div class="py-8 text-center rounded">
                                 <i class="fa fa-area-chart" style="color: white; font-size: 58px"></i>
                             </div>
                         {% endif %}
                     </div>
                     <div class="card-body h-100">
                         {#                    <h5 class="card-title">Descripción de servicio.</h5>#}
                         <p>  {{ servicio.serviciocita.descripcion|safe }}  </p>
                         {#                     <small class="text-secondary">Ver más..</small>#}
                     </div>
                 </div>
             </div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-4 col-xxl-4">
                <div class="calendario menu"></div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xxl-3">
                <div class="menu">
                    <div class="box-cabecera">
                        <h5 style="color: #182F44; margin-bottom: 2px"><b>Detalles de cita</b></h5>
                        <p style="font-size: 14px; color: #8f8f8f; line-height: 14px">Si el servicio requiere de requisitos con archivos estos tendrán que ser subidos antes de agendar la cita. </p>
                    </div>
                    <form id="form2" class="form-box" autocomplete="off" method="POST" enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="box-content-reserva">
                        </div>
                    </form>
                    <div class="box-reserva text-center" style="height: 370px;">
                        <div class="mensaje p-4 py-0">
                            <h4 class="text-secondary">Este campo se habilitará al momento de seleccionar una fecha de reserva</h4>
                        </div>
                        <div class="btn_extra pt-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}