{% extends "basebs.html" %}
{% load humanize %}
{% load sga_extras %}
{% block heading %}
    <link href="/static/widget_ppp.css" rel="stylesheet"/>
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet" />
    <style type="text/css">
        .searchinput {
        {% if search %}
            max-width: 280px !important;
        {% else %}
            max-width: 320px !important;
        {% endif %}
            min-width: 100px !important;
        }

        .radio label,
        .checkbox label {
            display: inline-block;
            cursor: pointer;
            color: #0074D9;
            position: relative;
            padding: 5px 15px 5px 51px;
            font-size: 1em;
            border-radius: 5px;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
        .radio label:hover,
        .checkbox label:hover {
            background: rgba(255, 65, 54, 0.1); }
        .radio label:before,
        .checkbox label:before {
            content: "";
            display: inline-block;
            width: 17px;
            height: 17px;
            position: absolute;
            left: 15px;
            border-radius: 50%;
            background: none;
            border: 3px solid #0074D9; }
        input[type="radio"] {
            display: none; }
        input[type="radio"]:checked + label:before {
            display: none; }
        input[type="radio"]:checked + label {
            padding: 5px 15px;
            background: #0074D9;
            border-radius: 2px;
            color: #fff; }
        .checkbox label:before {
            border-radius: 3px; }
        .checkbox input[type="checkbox"] {
            display: none; }
        .checkbox input[type="checkbox"]:checked + label:before {
            display: none; }
        .checkbox input[type="checkbox"]:checked + label {
            background: #0074D9;
            color: #fff;
            padding: 5px 15px; }
    </style>
    <script>
        var busqueda = function(page/*=undefined*/){
            bloqueointerface();
            var term = $("#searchinput").val().toUpperCase();
            var visible = $('[name="filter_visible"]:checked').val();
            var origen = $('[name="filter_origen"]:checked').val();
            var tipo_validacion = $('[name="filter_tipo_validacion"]:checked').val();
            var destino = $('[name="filter_destino"]').val();
            var dep = $('[name="filter_departamento"]').val();
            var co = $('[name="filter_coodinacion"]').val();
            page = typeof page == 'undefined' ? 1 : page;
            if (term.length>0){
                bloqueointerface();
                location.href = `/adm_certificados?s=${term}&v=${visible}&o=${origen}&tv=${tipo_validacion}&d=${destino}&dep=${dep}&co=${co}&page=${page}`;
            }else{
                bloqueointerface();
                location.href = `/adm_certificados?v=${visible}&o=${origen}&tv=${tipo_validacion}&d=${destino}&dep=${dep}&co=${co}&page=${page}`;
            }
        };
        $(function() {

            $("#search").click(function() {
                busqueda();
            });

            $('[name="filter_visible"], [name="filter_origen"], [name="filter_tipo_validacion"], [name="filter_destino"], [name="filter_departamento"], [name="filter_coodinacion"]').change(function(){
                busqueda();
            });


            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });
            $(".action-close", $("#modalClone")).click(function (){
                $("#modalClone").modal('hide');
            });

            $(".actionClone").click(function (){
                var idc = $(this).attr('idc');
                var to = $(this).attr('to');
                var tv = $(this).attr('tv');
                $(".modal-body", $("#modalClone")).html("");
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_certificados",
                    data: {'action': 'loadClone', 'idc': idc, 'to': to, 'tv': tv},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $(".modal-body", $("#modalClone")).html(data.html);
                            var h = $(window).height() - 150;
                            $("#modalClone").modal({backdrop:'static', width: '60%', height: h}).modal('show');
                        } else {
                            NotificationJG.error(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        NotificationJG.error("Error de conexión.");
                    },
                    dataType: "json"
                });
            });

            $(".action-copy", $("#modalClone")).click(function (){
                var id_to = $("[name='id_certificado_to']", $("#modalClone")).val();
                var id_from = $("[name='id_certificado_from']", $("#modalClone")).val();
                console.log(id_to);
                console.log(id_from);
                smoke.confirm("¿Está seguro de clonar o copiar.?", function(e) {
                    if (e) {
                        bloqueointerface();
                        $.ajax({
                            type: "POST",
                            url: "/adm_certificados",
                            data: {'action':'cloneEntities', 'id_to':id_to, 'id_from': id_from},
                            success: function(data) {
                                $.unblockUI();
                                if (data.result=='ok'){
                                    location.reload();
                                } else {
                                    NotificationJG.warning(data.mensaje);
                                }
                            },
                            error: function() {
                                $.unblockUI();
                                NotificationJG.warning("Error de conexión.");
                            },
                            dataType: "json"
                        });
                    }
                },{
                    ok: "Copiar/Clonar",
                    cancel: "Cancelar",
                    classname: "custom-class",
                    reverseButtons: true,
                    value: ""
                });
            });

            $("#action_min").click(function(){
                $("#panel_filter .panel-body").hide();
                $("#action_min").hide();
                $("#action_max").show();
            });
            $("#action_max").click(function(){
                $("#panel_filter .panel-body").show();
                $("#action_min").show();
                $("#action_max").hide();
            });

            {% if not search and not ids and origen == 0 and visible == 0 and tipo_validacion == 0  and departamentoselect == 0 and coordinacionselect == 0%}
                $("#action_min").trigger("click");
            {% else %}
                $("#action_max").trigger("click");
            {% endif %}

            $(".action_page").click(function (){
                var page = $(this).attr('page');
                busqueda(page);
            });

            $(".action_clean").click(function(){
                $('#searchinput').val("");
                busqueda();
            });

            $("select").select2({minimumResultsForSearch: 20});

            $('#cerrarmostrarresponasablesunidadescertificadoras').click(function () {
                let boton_shr =$(".showreponsablesunidadcertificadora");
                let data_r = boton_shr.data('json');
                data_r.btipo_origen = 1
                boton_shr.data(data_r);
                $('#showresponasablesunidadescertificadoras').modal('hide');
            })
            $('.showreponsablesunidadcertificadora').click(function () {
                let data_json = $(this).data('json');
                bloqueointerface();
                $.get("{{ request.path }}", data_json)
                    .then(function (data) {
                        if(data.result){
                            $('#showresponasablesunidadescertificadoras .panelbody').html(data.data);
                            $('#showresponasablesunidadescertificadoras').modal({backdrop:'static', width: '80%'}).modal('show');
                            $('#showresponasablesunidadescertificadoras .modal-header .paneltitle').html(`${data.title}`);
                            $.unblockUI();
                        }else{
                            $.unblockUI();
                            Swal.fire({
                                toast: false,
                                position: 'center',
                                icon: 'error',
                                type: 'error',
                                title: 'Notificación',
                                text:data.mensaje,
                                showConfirmButton: false,
                                timer: 6000
                            });
                        }
                    }).fail(function (error) {
                    $.unblockUI();
                    Swal.fire({
                        toast: false,
                        position: 'center',
                        icon: 'error',
                        type: 'error',
                        title: 'Notificación',
                        text:'Error de conexión  con el servidor',
                        showConfirmButton: false,
                        timer: 6000
                    });
                });
            });

            $('.showasistentescertificadoras').click(function () {
                let data_json = $(this).data('json');
                bloqueointerface();
                $.get("{{ request.path }}", data_json)
                    .then(function (data) {
                        if(data.result){
                            $('#showasistentescertificadoras .panelbody').html(data.data);
                            $('#showasistentescertificadoras').modal({backdrop:'static', width: '80%'}).modal('show');
                            $('#showasistentescertificadoras .modal-header .paneltitle').html(`${data.title}`);
                            $.unblockUI();
                        }else{
                            $.unblockUI();
                            Swal.fire({
                                toast: false,
                                position: 'center',
                                icon: 'error',
                                type: 'error',
                                title: 'Notificación',
                                text:data.mensaje,
                                showConfirmButton: false,
                                timer: 6000
                            });
                        }
                    }).fail(function (error) {
                    $.unblockUI();
                    Swal.fire({
                        toast: false,
                        position: 'center',
                        icon: 'error',
                        type: 'error',
                        title: 'Notificación',
                        text:'Error de conexión  con el servidor',
                        showConfirmButton: false,
                        timer: 6000
                    });
                });
            });
            $('#cerrarshowasistentescertificadoras').click(function () {
                let boton_shr =$(".showasistentescertificadoras");
                let data_r = boton_shr.data('json');
                data_r.btipo_origen = 1;
                boton_shr.data(data_r);
                $('#showasistentescertificadoras').modal('hide');
            })
        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span7'>
            <div class='row-fluid'>
                <div class="span12">
                    <h3>{{ title }}</h3>
                </div>
            </div>
            <div class='row-fluid'>
                <div class='span12'>
                    {% if perms.certi.puede_modificar_certificados %}
                            <a href="/adm_certificados?action=add" class='btn btn-success'><span class="fa fa-plus " ></span> Adicionar</a>
                    {% endif %}
                    <div class="btn-group">

                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="javascript:;"><i class="fa fa-cogs" aria-hidden="true"></i>
                            Configurar <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-left" style="width: 300px;">
                            <li>
                                <a href="javascript:;" class="showreponsablesunidadcertificadora" data-json='{"action":"showresponasablesunidadescertificadoras","btipo_origen":1}'><i class="fa fa-grav" aria-hidden="true"></i>  Cambiar Responsable Unidad Certificadora</a>
                                <a href="javascript:;" class="showasistentescertificadoras" data-json='{"action":"showasistentescertificadoras","btipo_origen":1}'><i class="fa fa-grav" aria-hidden="true"></i>  Cambiar Asistentes Certificadoras</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class='span5'>
            <div class="panel panel-sga" id="panel_filter">
                <div class="panel-heading">
                    <h3 class="panel-title">Filtro</h3>
                    <div class="pull-right btn-group">
                        <a style="margin-right: 5px" href="javascript:;" class='btn btn-mini btn-info tu' id="action_min" title="Minimizar"><span class="fa fa-minus"></span></a>
                        <a style="margin-right: 5px" href="javascript:;" class='btn btn-mini btn-info tu' id="action_max" title="Maximizar"><span class="fa fa-plus"></span></a>
                        {% if search or ids or origen != 0 or visible != 0 or tipo_validacion != 0 %}
                            <a href="/adm_certificados?page=1" id='allresults' class='btn btn-mini btn-success tu' title="Todos"><span class="fa fa-refresh"></span></a>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row-fluid">
                        <div class="span3"><b>Origen:</b></div>
                        <div class="span9">
                            <div class="radio">
                                <input type="radio" id="filter_origen_all" name="filter_origen" value="0" {% if origen  == 0 %}checked="checked"{% endif %} >
                                <label class="" for="filter_origen_all">Ambos</label>
                                <input type="radio" id="filter_origen_interno" name="filter_origen" value="1" {% if origen == 1 %}checked="checked"{% endif %} >
                                <label class="" for="filter_origen_interno"><span class="label label-info">Interno</span></label>
                                <input type="radio" id="filter_origen_externo" name="filter_origen" value="2" {% if origen == 2 %}checked="checked"{% endif %} >
                                <label class="" for="filter_origen_externo"><span class="label label-success">Externo</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><b>Destino:</b></div>
                        <div class="span9">
                            <select name="filter_destino" style="width: 100%">
                                <option value="0" selected="selected">----TODOS----</option>
                                {% for d in destinos %}
                                    <option value="{{ d.0 }}" {% if destino == d.0 %}selected="selected"{% endif %}>{{ d.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><b>Visible:</b></div>
                        <div class="span9">
                            <div class="radio">
                                <input type="radio" id="filter_visible_all" name="filter_visible" value="0" {% if visible == 0 %}checked="checked"{% endif %} >
                                <label class="tu" title="Visible SI/NO" for="filter_visible_all">Ambos</label>
                                <input type="radio" id="filter_visible_si" name="filter_visible" value="1" {% if visible == 1 %}checked="checked"{% endif %} >
                                <label class="tu" title="Visible" for="filter_visible_si"><span class="label label-success"><i class="fa fa-check"></i></span></label>
                                <input type="radio" id="filter_visible_no" name="filter_visible" value="2" {% if visible == 2 %}checked="checked"{% endif %} >
                                <label class="tu" title="No Visible" for="filter_visible_no"><span class="label label-important"><i class="fa fa-close"></i></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><b>Tipo Validación:</b></div>
                        <div class="span9">
                            <div class="radio">
                                <input type="radio" id="filter_tipo_validacion_all" name="filter_tipo_validacion" value="0" {% if tipo_validacion == 0 %}checked="checked"{% endif %} >
                                <label class="tu" title="Todas" for="filter_tipo_validacion_all">Ambos</label>
                                <input type="radio" id="filter_tipo_validacion_1" name="filter_tipo_validacion" value="1" {% if tipo_validacion == 1 %}checked="checked"{% endif %} >
                                <label class="tu" title="Visible" for="filter_tipo_validacion_1"><span class="label label-danger">Departamento</span></label>
                                <input type="radio" id="filter_tipo_validacion_2" name="filter_tipo_validacion" value="2" {% if tipo_validacion == 2 %}checked="checked"{% endif %} >
                                <label class="tu" title="No Visible" for="filter_tipo_validacion_2"><span class="label label-danger">Facultad</span></label>
                            </div>
                        </div>
                    </div>
                    {% if departamentos %}
                        <div class="row-fluid">
                            <div class="span3"><b>Departamentos:</b></div>
                            <div class="span9">
                                <select id="filter_departamento" name="filter_departamento"  style="width: 100%">
                                    <option value="0" {% if departamentoselect == 0 %}selected{% endif %}>----TODOS----</option>
                                    {% for departamento in departamentos %}
                                        <option {% if departamentoselect == departamento.id %}selected{% endif %} value="{{ departamento.id }}">{{ departamento }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                    {% if coordinaciones %}
                        <div class="row-fluid">
                            <div class="span3"><b>Coordinación:</b></div>
                            <div class="span9">
                                <select name="filter_coodinacion" style="width: 100%">
                                    <option value="0" {% if coordinacionselect == 0 %}selected{% endif %}>----TODOS----</option>
                                    {% for co in coordinaciones %}
                                        <option value="{{ co.pk }}" {% if coordinacionselect == co.pk %}selected="selected"{% endif %}>{{ co }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row-fluid">
                        <div class="span3"><b>Buscar:</b></div>
                        <div class="span9">
                            <form class="form-search" onsubmit="return busqueda()">
                                <input class='searchinput' type='text' id='searchinput' value='{{ search }}' autocomplete="off" placeholder="POR CERTIFICACIÓN O REPORTE"/>
                                <a href="javascript:;" id='search' class='btn btn-info'><span class="fa fa-search "></span></a>
                                {% if search %}
                                    <a href="javascript:;" class='btn btn-mini btn-inverse tu action_clean' title="Limpiar"><span class="fa fa-remove"></span></a>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="no-more-tables">
        <div class="row-fluid">
            <div class='span12'>
                <table class='table table-bordered' cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th style="width: 8%; text-align: center; vertical-align: middle">Código/Origen</th>
                        <th style="width: 30%; text-align: center; vertical-align: middle">Certificación</th>
                        <th style="width: 15%; text-align: center; vertical-align: middle">Emisión / Modificación</th>
                        <th style="width: 20%; text-align: center; vertical-align: middle">Reporte</th>
                        <th style="width: 4%; text-align: center; vertical-align: middle">Visible</th>
                        <th style="width: 5%; text-align: center; vertical-align: middle">Tiempo Valido</th>
                        <th style="width: 8%;  vertical-align: middle"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for certificado in certificados %}
                        <tr>
                            <td style="vertical-align:middle;text-align: center" data-title="Código/Origen">
                                {{ certificado.codigo }} <br>
                                {{ certificado.get_clasificacion_display }} <br>
                                <span class="label {% if certificado.tipo_origen == 1 %}label-info{% else %}label-success{% endif %}">{{ certificado.get_tipo_origen_display }}</span>
                            </td>
                            <td style="vertical-align:middle;text-align: left" data-title="Detalles">
                                <table class="personal-task" style="width: 100%">
                                    <tbody>
                                    <tr>
                                        <td style="text-align: left;" class="hidden-phone"><b>Certificación</b></td>
                                        <td style="text-align: left" data-title="Certificación">{{ certificado.certificacion }}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;" class="hidden-phone"><b>Tipo</b></td>
                                        <td style="text-align: left" data-title="Tipo"><span class="label label-info">{{ certificado.get_tipo_certificacion_display }}</span></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;" class="hidden-phone"><b>Validación</b></td>
                                        <td style="text-align: left" data-title="Validación"><span class="label {% if certificado.tipo_validacion == 1 %}label-default{% else %}label-danger{% endif %}">{{ certificado.get_tipo_validacion_display }}</span></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;" class="hidden-phone"><b>Destino</b></td>
                                        <td style="text-align: left" data-title="Destino"><span class="label label-inverse">{{ certificado.get_destino_display }}</span></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;" class="hidden-phone"><b>Versión</b></td>
                                        <td style="text-align: left" data-title="Versión"><span class="label label-success">{{ certificado.version }}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="vertical-align:middle; text-align: left" data-title="Fechas">
                                <table class="table table-hover personal-task">
                                    <tr>
                                        <td style="text-align: right" class="hidden-phone"><b>Primera emisión:</b></td>
                                        <td>{{ certificado.primera_emision|date:"d-m-Y" }}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right" class="hidden-phone"><b>Ultima modificación:</b></td>
                                        <td>{{ certificado.ultima_modificacion|date:"d-m-Y" }}</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="vertical-align:middle;text-align: left" data-title="Reporte">{{ certificado.reporte.id }} - {{ certificado.reporte.descripcion }}</td>
                            <td style="vertical-align:middle;text-align: center" data-title="Visible">
                                {% if certificado.visible %}
                                    <span class="label label-success">SI</span>
                                {% else %}
                                    <span class="label label-important">NO</span>
                                {% endif %}
                            </td>
                            <td style="vertical-align:middle;text-align: center" data-title="Tiempo Valido">
                                {% if certificado.tipo_vigencia == 0 %}
                                    <span class="label label-default">NINGUNA</span>
                                {% elif certificado.tipo_vigencia == 1 %}
                                    <span class="label label-danger">{{ certificado.vigencia }} HORAS</span>
                                {% elif certificado.tipo_vigencia == 2 %}
                                    <span class="label label-warning">{{ certificado.vigencia }} DÍAS</span>
                                {% elif certificado.tipo_vigencia == 3 %}
                                    <span class="label label-success">{{ certificado.vigencia }} MESES</span>
                                {% else %}
                                    {% if certificado.vigencia > 1 %}
                                        <span class="label label-info">{{ certificado.vigencia }} AÑOS</span>
                                    {% else %}
                                        <span class="label label-info">{{ certificado.vigencia }} AÑO</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td style="vertical-align:middle;text-align: center">
                                <div class="btn-group">
                                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-right" style="text-align: left">
                                        {% if perms.certi.puede_modificar_certificados %}
                                            <li><a href="/adm_certificados?action=edit&id={{ certificado.id }}"><i class="fa fa-edit"></i> Editar </a> </li>
                                            {% if certificado.tipo_origen == 1 and not certificado.tiene_unidades_certificadoras %}
                                                {% if total_internos_facultad > 1 and certificado.tipo_validacion == 2 %}
                                                    <li><a class="actionClone" to="1" tv="2" idc="{{ certificado.id }}" href="javascript:;"><i class="fa fa-building-o"></i> Copiar Unidades Certificadoras </a> </li>
                                                {% elif total_internos_departamento > 1 and certificado.tipo_validacion == 1 %}
                                                    <li><a class="actionClone" to="1" tv="1" idc="{{ certificado.id }}" href="javascript:;"><i class="fa fa-building-o"></i> Copiar Unidades Certificadoras </a> </li>
                                                {% endif %}
                                            {% elif certificado.tipo_origen == 2 and total_externos > 1 and not certificado.tiene_unidades_certificadoras %}
                                                <li><a class="actionClone" to="2" tv="1" idc="{{ certificado.id }}" href="javascript:;"><i class="fa fa-building-o"></i> Copiar Unidades Certificadoras </a> </li>
                                            {% endif %}
                                        {% endif %}
                                        {% if perms.certi.puede_eliminar_certificados %}
                                            {% if not certificado.tiene_unidades_certificadoras %}
                                                <li><a href="javascript:;" nhref="/adm_certificados?action=deletecertificado&id={{ certificado.id }}" class='tl eliminacionmodal' id='{{ certificado.id }}' title="Eliminar"><i class="fa fa-remove"></i> Eliminar </a> </li>
                                            {% endif %}
                                        {% endif %}
                                        <li><a href="/adm_certificados?action=unidadescertificadoras&idc={{ certificado.id }}"><i class="fa fa-building-o"></i> Unidades Certificadoras </a> </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" style="text-align: center">
                                NO EXISTEN CERTIFICADOS REGISTRADOS
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">
            {% if paging.num_pages > 25 %}
                <div class='pagination'>
                    <ul>
                        {% if paging.primera_pagina %}
                            <li><a href="javascript:;" class="action_page" page="1">1</a></li>
                            <li><a href="javascript:;" class="action_page" page="{{ paging.ellipsis_izquierda }}">...</a></li>
                        {% endif %}
                        {% for pagenumber in paging.paginas %}
                            <li {%  if pagenumber == page.number %}class="active"{% endif %}><a href="javascript:;" class="action_page" page="{{ pagenumber }}">{{ pagenumber }}</a></li>
                        {% endfor %}
                        {% if paging.ultima_pagina %}
                            <li><a href="javascript:;" page="{{ paging.ellipsis_derecha }}" class="action_page">...</a></li>
                            <li><a href="javascript:;" page="{{ paging.num_pages }}" class="action_page">{{ paging.num_pages }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <div class='pagination'>
                    <ul>
                        {% for pagenumber in paging.page_range %}
                            <li {%  if pagenumber == page.number %}class="active"{% endif %}><a href="javascript:;" page="{{ pagenumber }}" class="action_page">{{ pagenumber }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="modal fade static" id="modalClone" style="display: none;">
        <div class="modal-header">
            <h4 class="paneltitle">Copiar Unidad Certificadora</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-success action-copy"> Copiar/Clonar</a>
            <a href="javascript:;" class="btn btn-danger action-close">Cerrar</a>
        </div>
    </div>
    <div class="modal fade static" id="showresponasablesunidadescertificadoras" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Cambiar Asignatura</h3>
        </div>
        <div class="modal-body panelbody">

        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-cerrar btn-default" id="cerrarmostrarresponasablesunidadescertificadoras"> <i class="fa fa-window-close"></i> Cerrar</a>
        </div>
    </div>
    <div class="modal fade static" id="showasistentescertificadoras" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Cambiar Asignatura</h3>
        </div>
        <div class="modal-body panelbody">

        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-cerrar btn-default" id="cerrarshowasistentescertificadoras"> <i class="fa fa-window-close"></i> Cerrar</a>
        </div>
    </div>
{% endblock %}

