{% load sga_extras %}
<div class='span12'>
    <input type="hidden" name="id" value="{{ configuracion.id|encrypt }}"/>
    <input type="hidden" name="action" value="{{ action }}"/>
    <div class="row-fluid">
        {% for field in form2 %}
            {% if field.field.widget.attrs.separator %}
                {% if field.field.widget.attrs.blanklinebefore %}
                {% endif %}
                <div style="width: 100%; height: max-content">
                    <h6 style="width:100%; text-align:left; border-bottom: 1px solid #98a3ab; line-height:0.1em; margin:10px 0 20px;">
                    <span style="padding:0 10px; background: #f5f5f5;">
                        {% if field.field.widget.attrs.separatortitle %}
                            {{ field.field.widget.attrs.separatortitle }}
                        {% endif %}
                    </span>
                    </h6>
                </div>
            {% endif %}
            <fieldset id="fieldset_{{ field.name }}" class="control-group nomargins"
                      style="float: left; padding-right: 10px; width:
                              {% if field.field.widget.attrs.formwidth %}{{ field.field.widget.attrs.formwidth }}{% else %}100%{% endif %}">
                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                    <p class="help-text">{{ field.help_text }} </p>
                </div>
            </fieldset>
        {% endfor %}
    </div>
    <div class="row-fluid">
        <div style="text-align: right; float: left; width: 100%">
            <button type="submit" id="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
            <a href="javascript:;" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-window-close"></i>
                Cancelar</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    tooltips = function () {
        $(".tl").tooltip({placement: "left"});
        $(".tr").tooltip({placement: "right"});
        $(".tu").tooltip({placement: "top"});
        $(".tb").tooltip({placement: "bottom"});
    };

    $(function () {
        tooltips();
        $("select").select2({width: '100%'});

        $('#id_fechainimaestrante, #id_fechafinmaestrante, #id_fechainiciotutoria, #id_fechafintutoria, #id_fechainiciopostulacion, #id_fechafinpostulacion, #id_rubricatitulacionposgrado').datepicker({format: "dd-mm-yyyy"}).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
        $("#id_periodo,#id_carrera,#id_fechainiciotutoria, #id_fechafintutoria, #id_fechainiciopostulacion, #id_fechafinpostulacion").addClass("validate[required]");
    });
</script>
