{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_fechafin").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });

        });
    </script>
{% endblock %}
{% block atras %}/rec_garantias?id={{ garantia.id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/rec_garantias{% endblock %}
{% block formdestination %}/rec_garantias?id={{ garantia.id }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='extender'/>
    <input type='hidden' name='garantia' value='{{ garantia.id }}'/>
{% endblock %}
{% block formback %}/rec_garantias?id={{ garantia.id }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}