{% extends "base.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function () {
            $(".verdetalle").click(function () {
                var idasignada = $(this).attr('idasignada');
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_complexivotematica",
                    data: {'action': 'verdetallerequisitos', 'idasignada': idasignada },
                    success: function (data) {
                        if (data.result == 'ok') {
                            bodyrequisitos
                            $("#bodyrequisitos").html(data.data);
                            $('#modaldetallerequisitos').modal('show');
                            $.unblockUI();
                        } else {
                            $.unblockUI();
                            mensajeSuccess(data.mensaje)
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        mensajeWarning('Error al obtener los datos.')
                    },
                    dataType: "json"
                });
            });
            $("#generarlistado").click(function () {
                bloqueointerface();
                var lista = "";
                $(".recorreasignados").each(function (index) {
                    if ($(this).is(":checked")) {
                        var seleccion = $(this).attr('codasignado');
                        lista += seleccion + ",";
                    }
                });
                if (lista.length == 0) {
                    $.unblockUI();
                    mensajeWarning('Favor seleccione alumnos a generar acta.')
                    return false;
                }
                $.unblockUI();
                $("#modalnotoficacionimportar").modal({backdrop: 'static', width: '600px'}).modal('show');
            });
            $("#boton_notoficaciongenerar").click(function () {
                var lista = "";
                $(".recorreasignados").each(function (index) {
                    if ($(this).is(":checked")) {
                        var seleccion = $(this).attr('codasignado');
                        lista += seleccion + ",";
                    }
                });
                if (lista.length == 0) {
                    mensajeWarning('Favor seleccione alumnos a generar acta.')
                    return false;
                }
                var id_memo = $("#id_memo").val()
                if (id_memo == ''){
                    mensajeWarning('Favor escribir número de memo.')
                    return false;
                }
                lista = lista.substring(0, lista.length - 1);
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_complexivotematica",
                    data: {'action': 'generaractamasivo', 'lista': lista, 'id_memo': id_memo},
                    success: function (data) {
                        if (data.result == 'ok') {
                            $('#modalnotoficacionimportar').modal('hide');
                            bloqueointerface();
                            location.reload();
                        } else {
                            $.unblockUI();
                            mensajeSuccess(data.mensaje)
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        mensajeWarning('Error al obtener los datos.')
                    },
                    dataType: "json"
                });

            });
            $(".seleccionartodoscheck").click(function () {
                if ($(this).is(":checked")) {
                    $(".recorreasignados").each(function () {
                        $(this).prop('checked', true);
                    });
                } else {
                    $(".recorreasignados").each(function () {
                        $(this).prop('checked', false);
                    });
                }

            });
            $("#cancel_importarcioncancela").click(function () {
                $("#modalnotoficacionimportar").modal('hide');
            });
            if($(".recorreasignados").length == 0) {
                $("#idaviso").css("display", "none");
                $("#generarlistado").css("display", "none");
                $(".seleccionartodoscheck").css("display", "none");
            }

            $(".pdfactatitulacion").click(function () {
                var idasig = $(this).attr('idasig');
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_complexivotematica",
                    data: {'action': 'pdfactatitulacioncomplexivo', 'idmateriaasign': idasig},
                    error: function () {
                        $.unblockUI();
                        smoke.alert("Error al obtener los datos.");
                    },
                    success: function (data) {
                        $.unblockUI();
                        if (data.result === "ok") {
                            window.open(data.url, '_blank');
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    }
                })
            });
        });
    </script>
{% endblock %}
{#{% block atras %}{{ request.path }}?action=asignaturastitulacion{% endblock %}#}
{% block atras %}{{ request.path }}?action=asignaturastitulacion{% endblock %}
{% block canvas %}
    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3>{{ title }}</h3>
                <h6>{{ materia }} - {{ materia.asignaturamalla.nivelmalla.nombre }}</h6>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="alert alert-warning" id="idaviso" role="alert">
            <i class="fa fa-warning"></i> Favor revisar requisitos de titulación antes de generar actas.
        </div>
        {% if sinrequisitos %}
            <div class="alert alert-danger" role="alert">
                <i class="fa fa-warning"></i> No tiene configurado los requisitos de titulación.
            </div>
        {% endif %}
        <form method="GET">
            <div class="container-fluid">
                <div class="form-row">
                    <div class="col-md-12 col-sm-12">
                        <div class="input-group mb-2">
                            <input type="hidden" name="action" value="{{ action }}">
                            <input type="hidden" name="idm" value="{{ materia.id|encrypt }}">
                            <input type="text" class="form-control" placeholder="Buscar"
                                   aria-label="Buscar" autocomplete="off" aria-describedby="button-addon2" name="s" value="{{ s }}">
                            <div class="input-group-append">
                                <button class="btn btn-primary bloqueo_pantalla" type="submit" id="button-addon2">
                                    <i class="fa fa-search"></i>
                                </button>
                                {% if url_vars %}
                                    <a title="Ver todo" href="{{ request.path }}?action={{ action }}&idm={{ materia.id|encrypt }}" class="btn btn-default tr bloqueo_pantalla">
                                        <i class="fas fa-sync-alt"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="card mb-4">
            <div class="card-body border-top border-6 rounded-3 border-dark-info">
                <table class='tabla_responsive table table-bordered table-striped'>
                    <thead class="table-light">
                    <tr>
                        <th style="text-align: center;width: 5%">
                            Nro.
                        </th>
                        <th style="text-align: center;width: 50%">ESTUDIANTE</th>
                        {% for campo in materia.modeloevaluativo.campos %}
                            <th style="text-align: center; width: 35px; vertical-align: middle;"><a  href="javascript:;" class="tl" title="{{ campo.alternativa }}">{{ campo.nombre }}</a></th>
                        {% endfor %}
                        <th style="text-align: center; width: 50px;">Nota Final</th>
                        <th style="text-align: center; width: 50px;">Asist.</th>
                        <th style="text-align: center; width: 100px;">Estado</th>
                        <th style="text-align: center; width: 15px;">CUMPLE REQUISITOS</th>
                        <th style="text-align: center; width: 15px;">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for asignadomateria in listado %}
                        <tr>
                            {% with validacionrequisitos=asignadomateria.matricula.inscripcion|args:materia.id|args:False|call:"valida_requisitos_complexivo" %}
                                <td style="text-align: center;">
                                    {% if numeropagina == 1 %}
                                        {{ forloop.counter }}
                                    {% else %}
                                        {% with contador=numerofilasguiente|sumar_pagineo:forloop.counter %}
                                            {{ contador }}
                                        {% endwith %}
                                    {% endif %}
                                </td>
                                <td style="text-align: left;">
                                    <div class="d-flex align-items-center">
                                        <div>
                                        <span class="avatar avatar-lg">
                                            {% if asignadomateria.matricula.inscripcion.persona.foto.foto %}
                                                <img src="https://sga.unemi.edu.ec{{ asignadomateria.matricula.inscripcion.persona.foto.foto.url }}" class="rounded-circle">
                                            {% else %}
                                                {% if asignadomateria.matricula.inscripcion.persona.sexo_id == 1 %}
                                                    <img src="/static/images/iconos/mujer.png" class="rounded-circle">
                                                {% else %}
                                                    <img src="/static/images/iconos/hombre.png" class="rounded-circle">
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                        </div>
                                        <div class="ms-0">
                                            <h6 class="mb-0">
                                                <span class="fa fa-id-badge" aria-hidden="true"></span>
                                                {% if asignadomateria.matricula.inscripcion.persona.cedula %}
                                                    {{ asignadomateria.matricula.inscripcion.persona.cedula }}
                                                {% else %}
                                                    {{ asignadomateria.matricula.inscripcion.persona.pasaporte }}
                                                {% endif %}
                                                |
                                                <span class="fa fa-user" aria-hidden="true"></span> {{ asignadomateria.matricula.inscripcion }}
                                            </h6>
                                            <p class="mb-0 text-muted">
                                                <span class="fa fa-envelope"></span> <a
                                                    href="mailto:{{ asignadomateria.matricula.inscripcion.persona.email }}">{{ asignadomateria.matricula.inscripcion.persona.email }}</a>
                                                | <span
                                                    class="fa fa-phone-square"></span> {{ asignadomateria.matricula.inscripcion.persona.telefono }}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                {% for campo in materia.modeloevaluativo.campos %}
                                    {% with valor=asignadomateria|args:campo.nombre|call:"valor_nombre_campo" %}
                                        <td style="text-align: center;vertical-align: middle;font-size: 11px;" id="materiaasignada{{ asignadomateria.id }}{{ campo.htmlid }}">{{ valor|floatformat:campo.decimales }}</td>
                                    {% endwith %}
                                {% endfor %}
                                <td style="text-align: center; vertical-align: middle;">{{ asignadomateria.notafinal|floatformat:"0" }}</td>
                                <td style="text-align: center;vertical-align: middle;">
                                    {% if not asignadomateria.porciento_requerido %}
                                        <span style="color: #ff0000;"><b>{{ asignadomateria.asistenciafinal|floatformat:0 }}%</b></span>
                                    {% else %}
                                        <span style="color:#006400;"><b>{{ asignadomateria.asistenciafinal|floatformat:0 }}%</b></span>
                                    {% endif %}
                                </td>
                                <td style="text-align: center;vertical-align: middle;">
                                    {% if asignadomateria.aprobada %}
                                        <span id='maestado{{ asignadomateria.id }}' style="color: #006400;"><b>{{ asignadomateria.estado }}</b></span>
                                    {% endif %}
                                    {% if asignadomateria.reprobado %}
                                        <span id='maestado{{ asignadomateria.id }}' style="color: #dc143c;"><b>{{ asignadomateria.estado }} </b></span>
                                    {% endif %}
                                    {% if asignadomateria.encurso %}
                                        <span id='maestado{{ asignadomateria.id }}'>{{ asignadomateria.estado }}</span>
                                    {% endif %}
                                    {% if asignadomateria.recuperacion %}
                                        <span id='maestado{{ asignadomateria.id }}' style="color: #daa520;"><b>{{ asignadomateria.estado }} </b></span>
                                    {% endif %}
                                </td>
                                <td style="text-align: center;vertical-align: middle;">
                                    {% if not sinrequisitos %}
                                        {% if validacionrequisitos %}
                                            <i class="fa fa-check" style="color:green"></i>
                                        {% else %}
                                            <i class="fa fa-remove" style="color:red"></i>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td style="text-align: center">
                                    {% if not sinrequisitos %}
                                        <div class="dropbottom">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Acción <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" x-placement="right-start">
                                                <li class="dropdown-item">
                                                    <a href="javascript:;" class="verdetalle" idasignada="{{ asignadomateria.id }}"><i class="fa fa-list"></i> Ver detalle requisitos</a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="15">NO EXISTEN REGISTROS</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="card-footer border-top-0">
                    {% include 'paginacionb4.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalnotoficacionimportar" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Generar actas</h5>
                </div>
                <div class="modal-body">
                    MEMORANDO Nro.
                    <input class="form-control" type="text" id="id_memo" name="id_memo" placeholder="Ej. UNEMI-FACE-2022-0666-MEM">
                </div>
                <div class="modal-footer">
                    <p style="text-align: right; margin-bottom: 0">
                        <a href="javascript:;" id="boton_notoficaciongenerar" class='btn btn-success'> Generar</a>
                        <a href="javascript:;" id="cancel_importarcioncancela" class='btn btn-default'> Cancelar</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modaldetallerequisitos" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Requisitos de titulación</h5>
                </div>
                <div class="modal-body" id="bodyrequisitos"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                        <i class="fa fa-window-close"></i> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}