{% load sga_extras %}
<div class="row-fluid">
    {#    <label class="label label-info"#}
    {#           style="font-size: 12px;">{{ filtro.codigodocumento }}</label>#}
    <table class="table table-bordered table-striped">
        {#        <div class="alert alert-warning">#}
        {#            <strong>#}
        {#                NOTA: Se le recuerda que solo se suman los#}
        {#                recursos que se encuentren migrados a moodle.#}
        {#            </strong>#}
        {#        </div>#}
        <thead class="table-light">
        <tr>
            <th style="text-align: center; width: 400px;"
                bgcolor="#f1f1f1">INFORMACIÓN DE TEMAS
            </th>
            <th style="text-align: center; width: 80px;"
                bgcolor="#f1f1f1">IMPARTIDO
            </th>
            <th style="text-align: center; width: 80px;"
                bgcolor="#f1f1f1">PORCENTAJE DE CUMPLIMIENTO
            </th>
        </tr>
        </thead>
        <tbody>
        {% temasimpartidos idprofe idmateria periodo as contenidotema %}
        {% for evidencia in contenidotema %}
            {% if evidencia.4 == 'fechas' %}
                <tr>
                    <td colspan="3" bgcolor="#f1f1f1">
                        <strong>Semana: {{ evidencia.0 }} (Fecha inicio: {{ evidencia.1|date:'d/m/Y' }} - Fecha
                            fin: {{ evidencia.2|date:'d/m/Y' }})</strong>
                    </td>
                </tr>
            {% else %}
                {% if not forloop.last %}
                    <tr>
                        <td>
                            {% if evidencia.4 == 'subtemas' %} &nbsp; &nbsp; - {% endif %}
                            {{ evidencia.3 }}
                        </td>
                        <td style="text-align: center;">
                            {% if evidencia.5 == 1 %}
                                <i class="fa fa-check" style="color: green"></i>
                            {% elif evidencia.5 == '-' %}
                                -
                            {% else %}
                                <i style="color: red" class="fa fa-close"></i>
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if evidencia.5 == 1 %}
                                100%
                            {% elif evidencia.5 == '-' %}
                                -
                            {% else %}
                                0%
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1"
                            style="text-align: center; background-color: transparent; border-bottom-style: hidden; border-left-color: transparent;"></td>
                        <td style="text-align: center;"><strong>TOTAL (100%)</strong></td>
                        <td style="text-align: center;{% if evidencia.1 < 30 %}background-color:#f8d7da{% endif %}">
                            <div id="portotal_traido">
                                {{ evidencia.0 }}%
                            </div>
{#                            <input type="hidden"#}
{#                                   id="idhorasplanificadas{{ actividad.id }}"#}
{#                                   name="idhorasplanificadas{{ actividad.id }}"#}
{#                                   value="{{ evidencia.1 }}"/>#}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1"
                            style="text-align: center; background-color: transparent; border-bottom-style: hidden; border-left-color: transparent;"></td>
                        <td style="text-align: center;"><strong>PONDERACIÓN
                            (30%)</strong></td>
                        <td style="text-align: center;{% if evidencia.1 < 30 %}background-color:#f8d7da{% endif %}">
                            <div id="convertido30">
                                {{ evidencia.1 }}%
                            </div>
{#                            <input type="hidden"#}
{#                                   id="idhorasplanificadas{{ actividad.id }}"#}
{#                                   name="idhorasplanificadas{{ actividad.id }}"#}
{#                                   value="{{ evidencia.1 }}"/>#}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}


        </tbody>
    </table>
</div>
