{% extends "lineagrafica/baselg.html" %}
{% load sga_extras %}
{% block atras %}/adm_sistemas{% endblock %}
{% block extraheading %}
    <link rel="stylesheet" href="/static/bootstrap5/libs/quill/dist/quill.snow.css">
    <script src="/static/bootstrap5/libs/quill/dist/quill.min.js"></script>
{% endblock %}
{% block content %}

    <div class="row card pd-12">
        <div class="col-xxl-6 offset-xl-1 col-xl-7 col-md-12 col-sm-12 col-12">
            <!-- Content -->
            <div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="mb-8" id="intro">
                            <h1 class="mb-2 fw-bold display-3">Quill JS</h1>
                            <p class="lead text-muted"> Quill es un editor de texto.
                            </p>
                            <a href="https://quilljs.com/docs/quickstart/" target="_blank">Quill
                                Documentation <i class="fa fa-external-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="mb-4" id="usage">
                            <h2 class="mb-4 fw-semi-bold">Uso</h2>
                            <h3 class="fw-semi-bold">CSS</h3>
                            <p>Copie y pegue la hoja de estilo <code>&lt;link&gt;</code> en su
                                <code>&lt;head&gt;</code> para cargar el CSS.</p>
                            <div class=" mb-6">


                          <pre><code class="language-markup"><span class="token tag"><span class="token tag"><span
                                  class="token punctuation">&lt;</span>link</span> <span
                                  class="token attr-name">rel</span><span class="token attr-value"><span
                                  class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>stylesheet<span
                                  class="token punctuation">"</span></span> <span
                                  class="token attr-name">href</span><span class="token attr-value"><span
                                  class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>/static/bootstrap5/libs/quill/dist/quill.snow.css<span
                                  class="token punctuation">"</span></span><span
                                  class="token punctuation">&gt;</span></span>
</code></pre>


                            </div>
                            <h3 class="fw-semi-bold">Js</h3>
                            <p>Copie y pegue el siguiente <code>&lt;script&gt;</code> y
                                <code>Function</code> cerca del final de sus páginas.</p>
                            <div class="mb-2">

                          <pre
                                  class="language-markup"><code class="language-markup"><span class="token tag"><span
                                  class="token tag"><span class="token punctuation">&lt;</span>script</span> <span
                                  class="token attr-name">src</span><span class="token attr-value"><span
                                  class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>/static/bootstrap5/libs/quill/dist/quill.min.js<span
                                  class="token punctuation">"</span></span><span
                                  class="token punctuation">&gt;</span></span><span class="token tag"><span
                                  class="token tag"><span class="token punctuation">&lt;/</span>script</span><span
                                  class="token punctuation">&gt;</span></span></code></pre>

                            </div>
                            <div>
                              <pre class="language-markup">
                                  <code class="language-markup">
                                      <span class="token tag">
                                         if ($("#editor").length) new Quill("#editor", {
                                            modules: {toolbar: [[{header: [1, 2, !1]}], [{font: []}], ["bold", "italic", "underline", "strike"], [{size: ["small", !1, "large", "huge"]}], [{list: "ordered"}, {list: "bullet"}], [{color: []}, {background: []}, {align: []}], ["link", "image", "code-block", "video"]]},
                                            theme: "snow"
                                        });
                                      </span>
                                  </code>
                              </pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="mb-4" id="basic">
                            <h2 class="mb-0 fw-semi-bold">Básico</h2>
                        </div>
                        <!-- Card -->
                        <div class="mb-10">
                            <ul class="nav nav-line-bottom mb-3" id="pills-tab-quillEditor" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-quillEditor-design-tab" data-bs-toggle="pill"
                                       href="#pills-quillEditor-design" role="tab"
                                       aria-controls="pills-quillEditor-design"
                                       aria-selected="true">Design</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-quillEditor-html-tab" data-bs-toggle="pill"
                                       href="#pills-quillEditor-html" role="tab" aria-controls="pills-quillEditor-html"
                                       aria-selected="false">HTML</a>
                                </li>
                            </ul>
                            <!-- Tab content -->
                            <div class="tab-content" id="pills-tabContent-quillEditor">
                                <div class="tab-pane tab-example-design fade show active" id="pills-quillEditor-design"
                                     role="tabpanel" aria-labelledby="pills-quillEditor-design-tab">
                                    <div id="editor">
                                        <p>Hello World!</p>
                                        <p>Some initial <strong>bold</strong> text</p>
                                        <p><br></p>
                                    </div>
                                </div>
                                <div class="tab-pane tab-example-html fade " id="pills-quillEditor-html" role="tabpanel"
                                     aria-labelledby="pills-quillEditor-html-tab">
                            <pre><code class="language-markup"><span class="token tag"><span class="token tag"><span
                                    class="token punctuation">&lt;</span>div</span> <span
                                    class="token attr-name">id</span><span class="token attr-value"><span
                                    class="token punctuation attr-equals">=</span><span
                                    class="token punctuation">"</span>editor<span
                                    class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span
          class="token punctuation">&gt;</span></span>Hello World!<span class="token tag"><span class="token tag"><span
                                        class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span
          class="token punctuation">&gt;</span></span>Some initial <span class="token tag"><span class="token tag"><span
                                        class="token punctuation">&lt;</span>strong</span><span
                                        class="token punctuation">&gt;</span></span>bold<span class="token tag"><span
                                        class="token tag"><span class="token punctuation">&lt;/</span>strong</span><span
                                        class="token punctuation">&gt;</span></span> text<span class="token tag"><span
                                        class="token tag"><span class="token punctuation">&lt;/</span>p</span><span
                                        class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span
          class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span
                                        class="token punctuation">&lt;</span>br</span><span class="token punctuation">&gt;</span></span><span
                                        class="token tag"><span class="token tag"><span
                                        class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span
        class="token punctuation">&gt;</span></span> </code></pre>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 d-none d-xl-block position-fixed end-0">
            <!-- Sidebar nav fixed -->
            <div class="sidebar-nav-fixed">
                <span class="px-4 mb-2 d-block text-uppercase ls-md fw-semi-bold fs-6">Contents</span>
                <ul class="list-unstyled">
                    <li><a href="#intro" class="active">Introduction</a></li>
                    <li><a href="#usage">How to Use</a></li>
                    <li><a href="#basic">Basic</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}