{% extends "ajaxformdinamicbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script>
        $(function(){

            {% if record == 0 %}
                $("#id_observacion_envia, #id_archivo").addClass("validate[required]");
            {% else %}
                $("#id_descripcion, #id_archivo").addClass("validate[required]");
            {% endif %}
            $("#id_observacion_envia").css({'text-transform': 'none'});
            $("#id_puntaje").change(function(){
                numerico($(this), 0, 1000, 2);
            });
        });
    </script>
{% endblock %}
{% block formaction %}/adm_admision{% endblock %}
{% block formdestination %}/adm_admision?action=listadorequisitosinscripcion&idinscripcioncohorte={{ id|encrypt }}&tipoestado={{ tipoestado }}&cant_requisitos={{ cant_requisitos }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='idevidencia' id='idevidencia' value='{{ idevidencia }}' />
    <input type='hidden' name='action' value='cargararchivo' />
    <input type='hidden' name='id' id="id" value='{{ id }}' />
{% endblock %}
{% block formback %}/adm_admision{% endblock %}
{% block buttonname %}Guardar{% endblock %}