{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            if ($('#action').val() === 'addfirma'){
                $('#preview_foto').hide();
                $('#firmatipofirma_container').hide();
                $("#id_persona, #id_firma").addClass("validate[required]");
            }

            $('#input_cargo').text($('#id_cargo').val());

           /* $('#preview_foto').click(function () {
                $('#id_firma').click();
            });*/

            $('#id_firma').on('change',function () {
                if ($(this).val().length > 0){
                    $('#preview_foto').show();
                    $("#preview_foto").attr('src', ''+URL.createObjectURL($(this)[0].files[0]));
                }else{
                    $('#preview_foto').hide();
                }

            });

            ItemsDisplay = function (item) {
                if(item.text=='undefined')
                {
                    return '---------';
                }
                if (item.text){
                    return $('<span>' + item.text+ '</span>');
                }else{
                    if(item.name){
                        return $('<span>' + item.name+ '</span>');
                    }else {
                        return '---------';
                    }
                }
            };

            if ($( "#id_persona option:selected" ).text() === ''){
                $("#id_persona").select2({
                    placeholder: "--Seleccione--",
                    allowClear: true,
                    ajax: {
                        url: function (params) {
                            return "/adm_admision?action=buscarpersona&q=" + params.term;
                        },
                        dataType: 'json',
                        delay: 400,
                        data: function (params) {
                            return {
                                q: params.term,
                                page: params.page
                            };
                        },
                        processResults: function (data, params) {
                            params.page = params.page || 1;

                            return {
                                results: data.results,
                                pagination: {
                                    more: (params.page * 30) < data.total_count
                                }
                            };
                        },
                        cache: true
                    },
                    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                    minimumInputLength: 1,
                    templateResult: ItemsDisplay, // omitted for brevity, see the source of this page
                    templateSelection: ItemsDisplay // omitted for brevity, see the source of this page
                }).on("select2:select", function (evt) {
                    $("#id_persona").attr({"value":(evt.params.data.id)});
                    (evt.params.data.cargo.length > 0) ? $("#id_cargo").val((evt.params.data.cargo)):$("#id_cargo").val('').focus();
                    $('#input_cargo').text((evt.params.data.cargo));
                        $.ajax({
                            type: "GET",
                            url: "/adm_admision",
                            data: {"action": "{{ action }}", "id": (evt.params.data.id)},
                            success: function (data) {
                                $.unblockUI();
                                if (data.result == "ok") {
                                    $("#input_name").text(data.data['nombre']);
                                    if  ((data.data['firma']).length > 0){
                                        $('#firmatipofirma_container').hide();
                                        $("#preview_foto").show().attr('src', 'https://sga.unemi.edu.ec/media/'+data.data['firma']).on("error", function () {
                                            $(this).attr("src", 'https://sga.unemi.edu.ec/static/images/image.png');
                                            $('#firmatipofirma_container').show();
                                        });
                                    }else{
                                        $('#preview_foto').hide();
                                        $('#firmatipofirma_container').show("slow");
                                    }

                                }else{
                                    smoke.alert('Se daño :(');
                                }
                            },
                            error: function(){
                                $.unblockUI();
                                smoke.alert("Error al enviar la solicitud.");
                            },
                            dataType:"json"
                        });
                });
            }

            $('#id_cargo').on('keyup', function () {
               $('#input_cargo').text(($(this).val()).toUpperCase());
            });

        });
    </script>
{% endblock %}
{% block atras %}/adm_admision?action=configuracionfirma{% endblock %}
{% block pre_form %}
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert"  id="id_x" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading">Antes de guardar tener en cuenta las siguientes consideraciones:</h4>
        <ul>
            <li>
                1.- Asegúrese de que el cargo se ingresó correctamente ya que este se presentará bajo la firma del titular.
            </li>
            <li>
                2.- El orden en que se presentarán las firmas en el certificado varía en función del orden en que las vaya ingresando.
            </li>
        </ul>
    </div>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_admision{% endblock %}
{% block formdestination %}/adm_admision?action=configuracionfirma{% endblock %}
{% block formextra %}
    <input type="hidden" name="id" id="idHidden" value="{{ id|encrypt }}"/>
    <input type="hidden" name="idf" value="{{ idf|encrypt }}"/>
    <input type="hidden" name="action" id="action" value="{{ action }}"/>
{% endblock %}
{% block formpreffix %}

    <hr>
    <div id="firmatipofirma_container">
        <fieldset id="fieldset_tipofirma" class="control-group nomargins" style="min-height:45px; float: left; width: 100%">
            <div class="control-label label-text"
                 style="display: table; height: 30px; float: left; text-align: right; width: 160px;">

                <div style="display: table-cell; vertical-align: middle; line-height: 11px">
                    <label for="id_cargo" style="padding-right: 20px">Tipo Firma *</label>
                </div>
            </div>
            <div class="control" style="float: left;">
                <select type="search" name="tipofirma" class="imp-100" id="id_tipofirma" disabled>
                    <option value="1">COLOR</option>
                    <option value="2" selected>BLANCO Y NEGRO</option>
                </select>
                <p class="help-text" style="font-size: xx-small; margin-bottom: 0; height: 13px; line-height: 13px"></p>
            </div>
        </fieldset>
        <fieldset id="fieldset_firma" class="control-group nomargins" style="min-height:45px; float: left; width: 100%">
            <div class="control-label label-text"
                 style="display: table; height: 30px; float: left; text-align: right; width: 160px;">
                <div style="display: table-cell; vertical-align: middle; line-height: 11px">
                    <label for="id_firma" style="padding-right: 20px">Firma *</label>
                </div>
            </div>
            <div class="form-control-file" style="float: left; width: 630px;" id="id_firmacontainer">
                <input type='file' name='firma' class='custom-file-input' accept="image/png" id='id_firma'><br>
                <p style="font-size: xx-small; margin-bottom: 0; height: 13px; line-height: 13px">Tamaño Maximo permitido 6Mb, en formato png</p>
            </div>
        </fieldset>&nbsp;
    </div>
        <br>
        <div class="card m-4">
        <div class="card-body">
            <div style="margin-left: 160px;" class="ml-3">
                <span class="badge badge-info"> Previsualización: </span><br><br>
            </div>

            <div align="center" style="font-size:10px; font-weight: bold; min-width:175px;min-height:125px">
                <img id="preview_foto" src="https://sga.unemi.edu.ec/media/{{ configFirma.administrativo.persona.tiene_firma.0.2 }}" width="175" height="125" alt="FIRMA" style="max-width:175px;max-height:125px">
            </div>
            <div align="center"
                 style="font-size:9px;font-family: Verdana, Arial, sans-serif;font-weight: normal;">
                ________________________________________________________ <br>
                <strong>
                    <div id="input_name">
                        {{ nombre }}
                    </div><br>
                    <div id="input_cargo"></div><br><br>
                </strong>
            </div>
        </div>
    </div>
{% endblock %}
{% block formback %}/adm_admision?action=configuracionfirma{% endblock %}
{% block buttonname %}Guardar{% endblock %}

