{% extends "baseposgradobs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src='/static/js/jquery.validationEngine.js?v=1.0.0'></script>
    <script type="text/javascript" src='/static/js/jquery.validationEngine-es.js?v=1.0.0' ></script>
    <link type='text/css' rel='stylesheet' href="/static/css/validationEngine.jquery.css?v=1.0.0"/>
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css?v=1.0.0" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v=1.0.0"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
            $(".gallerypdf").fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic',
                autoSize: true,
                type: 'iframe',
                iframe: {
                    preload: false // fixes issue with iframe and IE
                }
            });
        });
        $(function() {
            $(".pdfcontratopago").click(function () {
                var idins = $(this).attr('idins');
                var idtf = parseInt($('#id_tipofinanciamiento').val());
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_admision",
                    data: {'action': 'pdfcontratopagoprograma', 'idins': idins, 'idtf': {{ fpago.id }} },
                    error: function () {
                        $.unblockUI();
                        smoke.alert("Error al obtener los datos.");
                    },
                    success: function (data) {
                        $.unblockUI();
                        if (data.result === "ok") {
                            window.open(data.url, '_blank');
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    }
                })
             });

            $(".cargarcontratopago").click(function() {
                var idmae = $(this).attr('idins');
                var action = 'cargarcontratopago'
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/adm_admision",
                    data: {'action': action, 'id': idmae, 'fp': '{{fpago.id}}', 'tipoestado':'{{ tipoestado }}'},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $(".panelbody").html(data.data);
                            $(".paneltitle").html(data.nombre);
                            $("#itemspanel").modal({backdrop:'static', width: '900px'}).modal('show');
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
            });
            busqueda = function(){
                var term = $("#searchinput").val().toUpperCase().trim();
                if (term.length>0){
                    location.href = "/graduados?s="+term;
                }
            };

            $("#search").click(function(){
                busqueda();
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    busqueda();
                }
            });

        });

    </script>
{% endblock %}
{% block atras %}/adm_admision?action=evidenciacontrato&idcohorte={{ inscripcioncohorte.cohortes.id|encrypt}}&aspirante={{ inscripcioncohorte.id|encrypt}}&tipoestado={{ tipoestado }}{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span6'>
            <h4>{{ title }}<br>{{ inscripcioncohorte }}</h4>
        </div>
        <div class='span6 alert alert-warning'>
            Estimado postulante la carpeta de todo su expediente deberá presentarla en forma física a secretaría de postgrado una vez siendo admitido al programa de maestría.
        </div>
    </div>

    <div class="tab-pane {% if ventanaactiva == 3.1 %}active{% endif %}" id="formapagomaestria">
        {% if contrato.ultima_evidencia.estado_aprobacion != 2 %}
        <div class="alert alert-info">
            <h4 class="alert-heading">NOTA</h4>
            - Descargue el contrato para luego subirlo con su firma electrónica.
        </div>
        {% endif %}
        <div id="no-more-tables"><!-- inicio no more tables-->
            <div class='row-fluid'>
                <div class='span12'>
                    <table class='table table-striped table-bordered' >
                        <thead>
                            <tr>
                                <th colspan="2" style="width: 30%;text-align: left;">DOCUMENTO</th>
                                <th style="width: 30%;text-align: left;">OBSERVACIÓN</th>
                                <th style="width: 10%;text-align: left;">ESTADO</th>
                                <th style="width: 10%;text-align: left;">ARCHIVO</th>
                                <th style="width: 20%;text-align: center;">ACCIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: justify">
                                    CONTRATO -{% if fpago.id == 1 %} PAGO CONTADO{% else %} {{ fpago }}{% endif %}
                                </td>
                                <td style="text-align: center; border-left:none;">
                                {% if contrato.ultima_evidencia.estado_aprobacion != 2 %}
                                    <a class="btn btn-warning pdfcontratopago" href="javascript:;" idins="{{ inscripcioncohorte.id }}"><i class="fa fa-file-text" ></i> Descargar contrato<span id="txt_bt_finan" style="text-transform: lowercase"> </span></a>
                                {% endif %}
                                </td>

                                <td data-title='Obs. Aprobación' style="text-align: justify;">
                                    {% if contrato.ultima_evidencia.estado_aprobacion != 1 %}
                                        {% if contrato.ultima_evidencia %}
                                            <span style="font-size: 9px">{{ contrato.ultima_evidencia.observacion|upper }}<span><br>
                                            {{ contrato.ultima_evidencia.fecha_aprobacion|date:"Y-m-d h:i a" }}
                                        {% endif %}
                                    {% else %}
                                        {{ contrato.observacion|default:'Ninguna' }}<br>
                                        {{ contrato.fechacontrato|date:"Y-m-d h:i a" }}
                                    {% endif %}
                                </td>

                                <td data-title='Estado' style="text-align: center;">
                                        {% if contrato.ultima_evidencia %}
                                            <span class="label
                                            {% if contrato.ultima_evidencia.estado_aprobacion == 1 %}
                                                label-warning tu" data-original-title="Solicitado
                                            {% elif contrato.ultima_evidencia.estado_aprobacion == 2 %}
                                                label-success tu" data-original-title="Aprobado
                                            {% elif contrato.ultima_evidencia.estado_aprobacion == 3 %}
                                                label-important tu" data-original-title="Rechazado
                                            {% endif %}">
                                            {{ contrato.ultima_evidencia.get_estado_aprobacion_display }}</span>
                                        {% endif %}
                                    </td>
                                    <td data-title='Archivo' style="text-align: center;">
                                        {% if contrato.archivo  %}
                                            <a class="btn btn-default btn-sm btn-hover gallerypdf" data-fancybox-type="iframe" href="{{ contrato.download_evidencia }}"><img src="/static/images/pdf.png" width="18" height="18" align="absmiddle"></a></a>
                                        {% endif %}
                                    </td>
                                <td style="text-align: center">

                                    {% if contrato.ultima_evidencia.estado_aprobacion != 2 %}
                                        <a href="javascript:;" id="" class="btn btn-success btn-mini cargarcontratopago" idins="{{ inscripcioncohorte.id }}"><i class="fa fa-upload"></i>{% if contrato.archivo  %} Modificar contrato {% else %}Subir contrato {% endif %}</a>
                                    {% endif %}

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-header">
            <table border="0" width="100%" style="background-color: transparent">
                <tr>
                    <td style="width: 90%">
                        <div style="text-align: justify">
                            <h7 class="paneltitle"></h7>
                        </div>
                    </td>
                    <td><a href="javascript:;" id="cerrarpanel" class="btn btn-danger btn-mini pull-right"><i class="fa fa-remove"></i></a></td>
                </tr>
            </table>
        </div>
        <div class="alert alert-{% if permisocontrato %}info{% else %}danger{% endif %}">
            <h4 class="alert-heading">{% if permisocontrato %}AVISO{% else %}LO SENTIMOS{% endif %}</h4>
            {% if permisocontrato %}
                Se le comunica que al volver a subir el archivo, este reemplazará al anterior.
            {% else %}
                Expiró la fecha de subida del contato.
            {% endif %}
        </div>
        <div class="modal-body panelbody">
        </div>
    </div>

{% endblock %}
