{% extends "ajaxconfirmaciondinamicbs.html" %}
{% load sga_extras %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_admision?action=listadoaspirantes&id={{ inscripcion.cohortes.id|encrypt }}{% endblock %}
{% block formaction %}/adm_admision{% endblock %}
{% block formactionvalue %}regresaproceso{% endblock %}
{% block formobjectid %}{{ inscripcion.id }}{% endblock %}
{% block mensaje %}
    <br>Esta seguro(a) que desea regresar a estado de proceso a: {% endblock %}
{% block formobjectrepr %}{{ inscripcion.inscripcionaspirante }}{% endblock %}