{% extends 'base_menu.html' %}
{% load sga_extras %}
{% block heading_ext %}
{% endblock %}
{% block extraJs_ext %}
	<script>
        const openEncuesta = (id, action, title) =>{
            bloqueointerface();
            const aData = { action: action, id: id }
            $.ajax({
                type: "GET",
                url: "{{ request.path }}",
                data: aData,
                success: function(response) {
                    if (response.isSuccess) {
                        $("#modalEncuestaForm").modal({backdrop:'static'}).modal('show');
                        $(".modal-title", $("#modalEncuestaForm")).html(title);
                        $(".modal-body", $("#modalEncuestaForm")).html(response.html);
                        $(".action-save", $("#modalEncuestaForm")).hide();
                        $.unblockUI();
                    }
                    else{
                        NotificationJG.error(response.message);
                        $.unblockUI();
                    }
                },
                error: function() {
                    $.unblockUI();
                    NotificationJG.error("Error al enviar los datos.");
                },
                dataType: "json",
            });
        }

        $(function () {

        })
	</script>
{% endblock %}
{% block subtitle %}
	Listado de capacitaciones registradas
{% endblock %}
{% block buttons_action %}
	{% if not tipo %}
		<a href="javascript:void(0)"
		   onclick="formModal('','','Adicionar capacitacion','addcapacitacion')"
		   class="btn btn-success">
			<i class="fa fa-plus"></i> Adicionar
		</a>
		{% if reporte_capacitaciones_persona %}
			<a href="javascript:;"
			   tipos="{{ reporte_capacitaciones_persona.tiporeporte }}"
			   nhref="/reportes?action=run&n={{ reporte_capacitaciones_persona.nombre }}&persona={{ persona.id }}"
			   class="reportedirecto reporte btn btn-cian-opacity"
			   title="Descargar reporte de capacitaciones"
			   data-bs-toggle="tooltip">
				<i class="fa fa-print"></i> Reporte de capacitaciones
			</a>
		{% endif %}
	{% endif %}
{% endblock %}
{% block content %}
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
		{% if not perfilprincipal.es_estudiante and not perfilprincipal.es_inscripcionaspirante %}
			<div class="col">
				<!-- card -->
				<a href="{{ request.path }}?action={{ action }}" class="bloqueo_pantalla texto-blue">
					<div class="card mb-2 border-top border-muted border-4 card-hover-with-icon {% if not tipo %}border-primary{% endif %}"
						 style="border: 0px">
						<!-- card body -->
						<div class="card-body">
							<span class="fs-6 text-uppercase fw-semi-bold">Externas</span>
							<div class="mt-0 d-flex justify-content-start align-items-center">
								<h2 class="h1 fw-bold mb-1 text-secondary text-start">
									<i class="fa fa-graduation-cap me-2"></i>
								</h2>
							</div>
						</div>
					</div>
				</a>
			</div>
			{#            <div class="col">#}
			{#                <!-- card -->#}
			{#                <a href="{{ request.path }}?action={{ action }}&tipo=eventos"#}
			{#                   class="bloqueo_pantalla texto-blue">#}
			{#                    <div class="card mb-2 border-top border-muted border-4 card-hover-with-icon {% if tipo == 'eventos' %}border-primary{% endif %}"#}
			{#                         style="border: 0px">#}
			{#                        <!-- card body -->#}
			{#                        <div class="card-body">#}
			{#                            <span class="fs-6 text-uppercase fw-semi-bold">Eventos programados</span>#}
			{#                            <div class="mt-0 d-flex justify-content-between align-items-center">#}
			{#                                <div class="lh-1">#}
			{#                                    <h2 class="h1 fw-bold mb-1 text-secondary"><i class="fa fa-calendar-check-o"></i>#}
			{#                                    </h2>#}
			{#                                </div>#}
			{#                            </div>#}
			{#                        </div>#}
			{#                    </div>#}
			{#                </a>#}
			{#            </div>#}
			<div class="col">
				<!-- card -->
				<a href="{{ request.path }}?action={{ action }}&tipo=solicitudes"
				   class="bloqueo_pantalla texto-blue">
					<div class="card mb-2 border-top border-muted border-4 card-hover-with-icon {% if tipo == 'solicitudes' %}border-primary{% endif %}"
						 style="border: 0px">
						<!-- card body -->
						<div class="card-body">
							<span class="fs-6 text-uppercase fw-semi-bold">Institucionales</span>
							<div class="mt-0 d-flex justify-content-between align-items-center">
								<div class="lh-1">
									<h2 class="h1 fw-bold mb-1 text-secondary"><i class="fa fa-university"></i></h2>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col">
				<!-- card -->
				<a href="{{ request.path }}?action={{ action }}&tipo=perfeccionamiento"
				   class="bloqueo_pantalla texto-blue">
					<div class="card mb-2 border-top border-muted border-4 card-hover-with-icon {% if tipo == 'perfeccionamiento' %}border-primary{% endif %}"
						 style="border: 0px">
						<!-- card body -->
						<div class="card-body">
							<span class="fs-6 text-uppercase fw-semi-bold">Perfeccionamiento académico</span>
							<div class="mt-0 d-flex justify-content-between align-items-center">
								<div class="lh-1">
									<h2 class="h1 fw-bold mb-1 text-secondary"><i class="fa fa-user-graduate"></i></h2>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		{% else %}
			<div class="col">
				<!-- card -->
				<div class="card mb-2 border-top border-muted border-4 card-hover-with-icon {% if not tipo %}border-primary{% endif %}"
					 style="border: 0px">
					<!-- card body -->
					<div class="card-body">
						<span class="fs-6 text-uppercase fw-semi-bold">Acciones</span>
						<div class="mt-0 d-flex justify-content-between align-items-center">
							<div class="">
								<h2 class="h1 fw-bold mb-1 text-secondary text-start">
									<a href="{{ request.path }}?action={{ action }}"
									   class="bloqueo_pantalla text-secondary" id="id_capacitaciones"></a>

									{% if reporte_capacitaciones_persona %}
										<a href="javascript:;" tipos="{{ reporte_capacitaciones_persona.tiporeporte }}"
										   nhref="/reportes?action=run&n={{ reporte_capacitaciones_persona.nombre }}&persona={{ persona.id }}"
										   class="reportedirecto reporte btn btn-success"><i class="fa fa-download"></i>
										</a>
									{% endif %}

								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
	{% if not tipo %}
		<table class="table table_primary tabla_responsive">
			<thead class="table-light">
			<tr>
				<th class="text-center w-15">Fechas</th>
				<th>Institución</th>
				<th>Evento</th>
				<th>Detalle</th>
				<th class="w-3"></th>
			</tr>
			</thead>
			<tbody>
			{% for l in listado %}
				<tr>
					<td class="text-center w-15">
						<p>
							<b>Inicio: </b>{{ l.fechainicio|date:'d-m-Y' }}
						</p>
						<p>
							<b>Fin: </b>{{ l.fechafin|date:'d-m-Y' }}
						</p>
					</td>
					<td class="w-25">
						<p>{{ l.institucion }}</p>
					</td>
					<td class="w-25">
						<p>{{ l.nombre }}</p>
					</td>
					<td class="w-25">
						<div class="row">
							<div class="col">
								<div class="d-flex fs-35">
									<div class="ms-2">
										<div class="arrow-content">
											<div class="arrow-item"></div>
											<div class="arrow-text">
												Horas:
												{{ l.horas|floatformat:2 }}
											</div>
										</div>
										<div class="arrow-content">
											<div class="arrow-item"></div>
											<div class="arrow-text">
												¿Aprobado por UATH?:
												{% if l.verificado %}
													<i class="fa fa-check text-success"></i>
												{% else %}
													<i class="fa fa-close text-secondary"></i>
												{% endif %}
											</div>
										</div>
										<div class="arrow-content">
											<div class="arrow-item"></div>
											<div class="arrow-text">
												Documento:
												{% if l.archivo %}
													<a title="Visualizar archivo"
													   data-bs-toggle="tooltip"
													   data-width="2048" data-height="1380"
													   data-fancybox="archivo_{{ l.id }}"
													   data-caption="Documento : {{ l.archivo.name }}"
													   href="{{ l.download_link }}"
													   class=""><i class="fa fa-file-pdf-o fs-4 text-danger"></i></a>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-auto text-center me-2 v-align-middle justify-content-center">
								<a href="javascript:void(0)"
								   onclick="formModal('','{{ l.id }}','Detalle de capacitación','detallecapacitacion','modal-xl',false)"
								   cid="{{ c.id }}"
								   class="text-info"
								   data-bs-toggle="tooltip" data-bs-placement="top" title=""
								   data-bs-original-title="Para mas información dar click aquí!">
									<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
										 class="bi bi-info-circle-fill me-2" viewBox="0 0 16 16">
										<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
									</svg>
								</a>
							</div>
						</div>
					</td>
					<td class="text-center align-middle">
						{% if not l.verificado %}
							{% if not l.tienecapacitacioncronograma %}
								<div class="dropdown">
									<div class="dropdown dropleft">
										<a href="javascript:void(0);"
										   class="btn-icon btn btn-ghost btn-sm rounded-circle"
										   data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true"
										   aria-expanded="false">
											<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
										</a>
										<ul class="dropdown-menu">
											<span class="dropdown-header"><i class="fa fa-cogs"></i> Acciones</span>
											<li>
												<a class="dropdown-item"
												   href="javascript:void(0)"
												   onclick="formModal('','{{ l.id|encrypt }}','Editar {{ l }}','editcapacitacion')">
													<i class="fa fa-edit dropdown-item-icon"></i> Editar
												</a>
											</li>
											<li>
												<a class="dropdown-item"
												   href="javascript:void(0)"
												   onclick="eliminarajax('{{ l.id|encrypt }}','{{ l.nombre }}','delcapacitacion')">
													<i class="fa fa-trash-o dropdown-item-icon"></i> Eliminar
												</a>
											</li>
										</ul>
									</div>
								</div>
							{% endif %}
						{% endif %}
					</td>
				</tr>
				{% empty %}
				<tr>
					<td class="text-center" colspan="8">Sin registros existentes</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% elif tipo == 'eventos' %}
		<table class='table table_primary tabla_responsive' cellpadding="0" cellspacing="0">
			<thead>
			<tr>
				<th>Evento</th>
				<th>Enfoque</th>
				<th class="text-center">Modalidad</th>
				<th>Fechas</th>
				<th>Detalle</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{% for registro in listado %}
				{% with capacitaciones=registro|call:"lista_capacitacion_evento_periodo" %}
					{% for capacitacion in capacitaciones %}
						<tr>
							<td class="lh-15 fs-6">
								{{ capacitacion.capevento }}
							</td>
							<td class="lh-15 fs-6">{{ capacitacion.enfoque }}</td>
							<td class="w-10 text-center">{{ capacitacion.get_modalidad_display|title2 }}</td>

							<td class="w-15">
								<p>
									<b>Inicio: </b>{{ capacitacion.fechainicio|date:'d-m-Y' }}
								</p>
								<p>
									<b>Fin: </b>{{ capacitacion.fechafin|date:'d-m-Y' }}
								</p>
							</td>
							<td class="w-15">
								<div class="row">
									<div class="col">
										<p>
											<b>Inscritos: </b>{{ capacitacion.contar_inscripcion_evento_periodo }}
										</p>
										<p>
											<b>Cupo: </b>{{ capacitacion.cupo }}
										</p>
										<p>
											<b>Horas: </b>{{ capacitacion.horas }}
										</p>
									</div>
									<div class="col-auto text-center me-2 v-align-middle justify-content-center">
										<a href="javascript:void(0)"
										   onclick="formModal('','{{ capacitacion.id }}','Detalle de capacitación','detalleevento','modal-xl',false)"
										   cid="{{ c.id }}"
										   class="text-info"
										   data-bs-toggle="tooltip" data-bs-placement="top" title=""
										   data-bs-original-title="Para mas información dar click aquí!">
											<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
												 fill="currentColor"
												 class="bi bi-info-circle-fill me-2" viewBox="0 0 16 16">
												<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
											</svg>
										</a>
									</div>
								</div>
							</td>
							<td class="text-center w-5">
								{% if capacitacion.esta_en_fecha_evento.0 %}
									<div class="dropdown">
										<div class="dropdown dropleft">
											<a href="javascript:void(0);"
											   class="btn-icon btn btn-ghost btn-sm rounded-circle"
											   data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true"
											   aria-expanded="false">
												<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
											</a>
											<ul class="dropdown-menu">
												<span class="dropdown-header"><i class="fa fa-cogs"></i> Acciones</span>
												<li>
													<a class="dropdown-item"
													   href="javascript:void(0)"
													   onclick="eliminarajax('{{ capacitacion.id }}','{{ capacitacion }}','addcabsolicitud','{{ request.path }}','Esta seguro(a) que desea solicitar evento: ')"
															{#                                      ><i
															class="fa fa-plus dropdown-item-icon"></i> Solicitar</a>
												</li>

											</ul>
										</div>
									</div>
								{% else %}
									<span class="label label-{{ capacitacion.esta_en_fecha_evento.2 }} tu">{{ capacitacion.esta_en_fecha_evento.1 }}</span>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				{% endwith %}
			{% endfor %}
			</tbody>
		</table>
	{% elif tipo == 'solicitudes' or tipo == 'perfeccionamiento' %}
		<table class='table  table_primary tabla_responsive' cellpadding="0" cellspacing="0">
			<thead>
			<tr>
				<th>Evento</th>
				<th>Enfoque</th>
				<th class="text-center">Estado</th>
				<th>Detalle</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{% for cabecera in listado %}
				<tr>
					<td class="lh-15">
						{{ cabecera.capeventoperiodo.capevento }}
					</td>
					<td class="w-20 lh-15">{{ cabecera.capeventoperiodo.enfoque }}</td>
					<td class="text-center w-10">
                            <span class="text-{% if cabecera.estadosolicitud == solicitud_capacitacion %}info{% elif cabecera.estadosolicitud == pendiente_capacitacion %}warning{% elif cabecera.estadosolicitud == aprobado_capacitacion %}success{% else %}danger{% endif %} tu">
                                {{ cabecera.get_estadosolicitud_display|title2 }}
                            </span>
					</td>
					<td class="w-25">
						<div class="row">
							<div class="col">
								<div class="d-flex">
									<div class="ms-2">
										<p><b>Fecha: </b>{{ cabecera.fechasolicitud|date:'d-m-Y' }}</p>
										<p><b>Horas: </b>{{ cabecera.capeventoperiodo.horas }}</p>
										<p>
											<b>Modalidad: </b>{{ cabecera.capeventoperiodo.get_modalidad_display|title2 }}
										</p>
										<p>
											{% if tipo == 'perfeccionamiento' %}
												{% if cabecera.rutapdf %}
													<b>Documento: </b>
													{% if cabecera.aplica_encuesta %}
														{% if cabecera.respondio_encuesta %}
															<a title="Visualizar archivo"
															   data-bs-toggle="tooltip"
															   data-width="2048" data-height="1380"
															   data-fancybox="archivo_{{ cabecera.id }}"
															   data-caption="Documento : {{ cabecera.rutapdf.name }}"
															   href="{{ cabecera.rutapdf.url }}"
															   class=""><i class="fa fa-file-pdf-o fs-4 text-danger"></i></a>
														{% else %}
															<a title="Visualizar archivo"
															   onclick="openEncuesta('{{ cabecera.id|encrypt }}', 'loadEncuesta', 'Encuesta de satisfacción')"
															   class=""><i class="fa fa-file-pdf-o fs-4 text-danger"></i>
															</a>
														{% endif %}
														<!--<a title="Visualizar archivo"
															   onclick="openEncuesta('{{ cabecera.id|encrypt }}', 'loadEncuesta', 'Encuesta de satisfacción')"
															   class=""><i class="fa fa-file-pdf-o fs-4 text-danger"></i>
															</a>-->
													{% else %}
														<a title="Visualizar archivo"
														   data-bs-toggle="tooltip"
														   data-width="2048" data-height="1380"
														   data-fancybox="archivo_{{ cabecera.id }}"
														   data-caption="Documento : {{ cabecera.rutapdf.name }}"
														   href="{{ cabecera.rutapdf.url }}"
														   class=""><i class="fa fa-file-pdf-o fs-4 text-danger"></i></a>
													{% endif %}
													<!---->
												{% endif %}
											{% else %}
												{% if cabecera.rutapdf %}
													<b>Documento: </b>
													<a title="Visualizar archivo"
													   data-bs-toggle="tooltip"
													   data-width="2048" data-height="1380"
													   data-fancybox="archivo_{{ cabecera.id }}"
													   data-caption="Documento : {{ cabecera.rutapdf.name }}"
													   href="{{ cabecera.rutapdf.url }}"
													   class=""><i class="fa fa-file-pdf-o fs-4 text-danger"></i></a>
												{% endif %}
											{% endif %}
										</p>
									</div>
								</div>
							</div>
							<div class="col-auto text-center me-2 v-align-middle justify-content-center">
								<a href="javascript:void(0)"
								   onclick="formModal('','{{ cabecera.capeventoperiodo.id }}','Detalle de solicitud de evento','detalleevento','modal-xl',false)"
								   cid="" class="text-info" data-bs-toggle="tooltip" data-bs-placement="top" title=""
								   data-bs-original-title="Para mas información dar click aquí!">
									<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
										 class="bi bi-info-circle-fill me-2" viewBox="0 0 16 16">
										<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
									</svg>
								</a>
							</div>
						</div>
					</td>
					<td class="w-3 text-center align-middle">
						<div class="dropdown">
							<div class="dropdown dropleft">
								<a href="javascript:void(0);"
								   class="btn-icon btn btn-ghost btn-sm rounded-circle"
								   data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true"
								   aria-expanded="false">
									<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
								</a>
								<ul class="dropdown-menu">
									<span class="dropdown-header"><i class="fa fa-cogs"></i> Acciones</span>
									<li>
										<a class="dropdown-item"
										   href="javascript:void(0)"
												{% if tipo == 'perfeccionamiento' %}
										   onclick="formModal('','{{ cabecera.id }}','Editar {{ cabecera }}','detalleeventoaprobacion_docente')"
												{% else %}
										   onclick="formModal('','{{ cabecera.id }}','Editar {{ cabecera }}','detalleeventoaprobacion')"
												{% endif %}>
											<i class="fa fa-edit dropdown-item-icon"></i> Detalle de aprobación
										</a>
									</li>
									{% if cabecera.estadosolicitud == 1 %}
										<li>
											<a class="dropdown-item"
											   href="javascript:void(0)"
											   onclick="eliminarajax('{{ cabecera.id|encrypt }}','{{ cabecera }}','deleventoaprobacion')">
												<i class="fa fa-trash-o dropdown-item-icon"></i> Eliminar
											</a>
										</li>
									{% endif %}
								</ul>
							</div>
						</div>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="10">NO EXISTEN CAPACITACIONES SOLICITADAS</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
	{% include 'paginacionb4.html' %}

	<div class="modal fade" id="modalEncuestaForm" tabindex="-1" role="dialog" aria-labelledby="modalEncuestaFormTitle" aria-hidden="true" data-bs-focus="false">
		<div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable modal-fullscreen-md-down" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title">Add Notes</h6>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-success action-save">Guardar</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}