{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src='/static/js/select2.js?v=1.0.0' ></script>
    <script type="text/javascript" src="/static/js/bootstrap-filestyle.min.js"> </script>
    <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
    <script type="text/javascript">
        $(function() {
            $("select").select2({minimumResultsForSearch: 5 });

            paisper = parseInt('{{ persona.pais.id }}');
            provper = parseInt('{{ persona.provincia.id }}');
            cantonper = parseInt('{{ persona.canton.id }}');
            parrper = parseInt('{{ persona.parroquia.id }}');

            cargar_pais = function () {
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/api",
                    data: {'a': 'paises'},
                    success: function (data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            estaselec = false;
                            for (elemento in data.lista) {
                                selecc = '';
                                if(estaselec == false){
                                    idpais = parseInt(data.lista[elemento][0]);
                                    if(paisper == idpais){
                                        estaselec = true;
                                        selecc='selected';
                                    }
                                }
                                $('#pais').append('<option value="' + data.lista[elemento][0] + '" '+selecc+'>' + data.lista[elemento][1] + '</option>');
                            }
                            $("#pais").val(paisper).trigger("change");
                        } else {
                            control.val(0).trigger("change");
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        control.val(0).trigger("change");
                        smoke.alert("Error de conexion.");
                    },
                    dataType: "json"
                });
            };

            $('#pais').change(function(){
                $('#provincia, #canton, #parroquia').empty().append('<option value="">---------</option>').val(0).trigger("change");
                var control = $(this);
                var id = parseInt($("#pais").val());
                if (id > 0) {
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/api",
                        data: {'a': 'provincias', 'id': id},
                        success: function (data) {
                            $.unblockUI();
                            if (data.result == 'ok') {
                                estaselec = false;
                                for (elemento in data.lista) {
                                    selecc = '';
                                    if(estaselec == false){
                                        idprov = parseInt(data.lista[elemento][0]);
                                        if(provper == idprov){
                                            estaselec = true;
                                            selecc='selected';
                                        }
                                    }
                                    $('#provincia').append('<option value="' + data.lista[elemento][0] + '" '+selecc+'>' + data.lista[elemento][1] + '</option>');
                                }
                                $("#provincia").val(provper).trigger("change");
                            } else {
                                control.val(0).trigger("change");
                                smoke.alert(data.mensaje);
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            control.val(0).trigger("change");
                            smoke.alert("Error de conexion.");
                        },
                        dataType: "json"
                    });
                }
            });

            $('#provincia').change(function(){
                $('#canton, #parroquia').empty().append('<option value="">---------</option>').val(0).trigger("change");
                var control = $(this);
                var id = parseInt($("#provincia").val());
                if (id > 0) {
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/api",
                        data: {'a': 'cantones', 'id': id},
                        success: function (data) {
                            $.unblockUI();
                            if (data.result == 'ok') {
                                estaselec = false;
                                for (elemento in data.lista) {
                                    selecc = '';
                                    if(estaselec == false){
                                        idcanton = parseInt(data.lista[elemento][0]);
                                        if(cantonper == idcanton){
                                            estaselec = true;
                                            selecc='selected';
                                        }
                                    }
                                    $('#canton').append('<option value="' + data.lista[elemento][0] + '" '+selecc+'>' + data.lista[elemento][1] + '</option>');
                                }
                                $("#canton").val(cantonper).trigger("change");
                            } else {
                                control.val(0).trigger("change");
                                smoke.alert(data.mensaje);
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            control.val(0).trigger("change");
                            smoke.alert("Error de conexion.");
                        },
                        dataType: "json"
                    });
                }
            });

            $('#canton').change(function(){
                $('#parroquia').empty().append('<option value="">---------</option>').val(0).trigger("change");
                var control = $(this);
                var id = $("#canton").val();
                if (id > 0){
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/api",
                        data: {'a': 'parroquias', 'id': id},
                        success: function(data) {
                            $.unblockUI();
                            if (data.result == 'ok') {
                                estaselec = false;
                                for (elemento in data.lista){
                                    selecc = '';
                                    if(estaselec == false){
                                        idparr = parseInt(data.lista[elemento][0]);
                                        if(parrper == idparr){
                                            estaselec = true;
                                            selecc='selected';
                                        }
                                    }
                                    $('#parroquia').append('<option value="'+data.lista[elemento][0]+'" '+selecc+'>'+data.lista[elemento][1]+'</option>');
                                }
                                $("#parroquia").val(parrper).trigger("change");
                            } else {
                                control.val(0).trigger("change");
                                smoke.alert(data.mensaje);
                            }
                        },
                        error: function() {
                            $.unblockUI();
                            control.val(0).trigger("change");
                            smoke.alert("Error de conexion.");
                        },
                        dataType: "json"
                    });
                }
            });

            cargar_pais();

            $('#btnguardar').click(function () {
                pais = $("#pais").val();
                provincia = $("#provincia").val();
                canton = $("#canton").val();
                parroquia = $("#parroquia").val();
                casa = $("#numerocasa").val().trim();
                sector = $("#sector").val().trim();
                direccion1 = $("#direccion1").val().trim();
                direccion2 = $("#direccion2").val().trim();
                referencia = $("#referencia").val().trim();
                telefonofijo = $("#telefono").val().trim();
                celular = $("#celular").val().trim();
                operadora = $("#operadora").val();

                if(datoscompletos(pais,provincia,canton,parroquia,sector,casa,direccion1,direccion2,referencia,telefonofijo,celular,operadora)){
                    bloqueointerface();
                    $("#formulario2")[0].submit();
                }
            });

            datoscompletos = function (pais,provincia,canton,parroquia,sector,casa,direccion1,direccion2,referencia,telefonofijo,celular,operadora) {
                if(pais == ''){
                    smoke.alert("Seleccione el país del domicilio");
                    return false;
                }
                if(provincia == ''){
                    smoke.alert("Seleccione la provincia del domicilio");
                    return false;
                }
                if(pais == 1){
                    if(canton == ''){
                    smoke.alert("Seleccione el cantón del domicilio");
                    return false;
                    }
                    if(parroquia == ''){
                        smoke.alert("Seleccione la parroquia del domicilio");
                        return false;
                    }
                }

                if(sector == ''){
                    smoke.alert("Ingrese el sector del domicilio");
                    return false;
                }
                if(direccion1 == ''){
                    smoke.alert("Ingrese la calle principal del domicilio");
                    return false;
                }
                if(direccion2 == ''){
                    smoke.alert("Ingrese la calle secundaria del domicilio");
                    return false;
                }
                if(referencia == ''){
                    smoke.alert("Ingrese una referencia del domicilio");
                    return false;
                }
                if(celular == ''){
                    smoke.alert("Ingrese un número de celular");
                    return false;
                }
                if(celular.length != 10){
                    smoke.alert("El número de celular debe tener 10 dígitos");
                    return false;
                }
                if(operadora == '0'){
                    smoke.alert("Seleccione la operadora");
                    return false;
                }
                return true;
            };

{#            {% if persona.pais.id == 1 %}#}
{#                $("#pais").prop('disabled',true);#}
{#            {% endif %}#}

            $("#operadora").val('{{ inscripcion.persona.tipocelular }}').trigger('change');

            $(".solo-digitos").bind("keypress", function (e) {
                var keyCode = e.which ? e.which : e.keyCode
                if (!(keyCode >= 48 && keyCode <= 57)) {
                    //$(".error").css("display", "inline");
                    return false;
                }else{
                    //$(".error").css("display", "none");
                }
            });
        });
    </script>
{% endblock %}
{% block atras %}/{% endblock %}
{% block canvas %}
    <div id="no-more-tables"><!-- inicio no more tables-->
        <div class='row-fluid'>
            <div class='span12'>
                <h4>{{ title }}<br>
                    {{ title2 }}<br>
                </h4>
                <form name="formulario2" id="formulario2" method="POST" action="/">
                    <input type='hidden' name='action' value='actualizarlocalizacionpersona'/>
                    {% csrf_token %}
                <table class='table table-bordered table-striped'>
                    <tr>
                        <td colspan="6"><strong>Datos del domicilio y contacto de la Persona</strong></td>
                    </tr>
                    <tr>
                        <td><strong>País:</strong></td>
                        <td>
                            <select id="pais" name="pais">
                                <option value="">---------</option>
                            </select>
                        </td>
                        <td><strong>Provincia:</strong></td>
                        <td>
                            <select id="provincia" name="provincia">
                                <option value="">---------</option>
                            </select>
                        </td>
                        <td><strong>Cantón:</strong></td>
                        <td>
                            <select id="canton" name="canton">
                                <option value="">---------</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Parroquia:</strong></td>
                        <td>
                            <select id="parroquia" name="parroquia">
                                <option value="">---------</option>
                            </select>
                        </td>
                        <td><strong>Sector:</strong></td>
                        <td><input class="input-xlarge" style="text-align: left; text-transform: uppercase" id="sector" name="sector" type="text" value="{{ persona.sector }}"></td>
                        <td><strong>N° Casa:</strong></td>
                        <td><input class="input-xlarge" style="text-align: left; text-transform: uppercase" id="numerocasa" name="numerocasa" type="text" value="{{ persona.num_direccion }}"></td>
                    </tr>
                    <tr>
                        <td><strong>Calle Principal:</strong></td>
                        <td><input class="input-xlarge" style="text-align: left; text-transform: uppercase" id="direccion1" name="direccion1" type="text" value="{{ persona.direccion }}" ></td>
                        <td><strong>Calle Secundaria:</strong></td>
                        <td><input class="input-xlarge" style="text-align: left; text-transform: uppercase" id="direccion2" name="direccion2" type="text" value="{{ persona.direccion2 }}" ></td>
                        <td><strong>Referencia:</strong></td>
                        <td><input class="input-xlarge" style="text-align: left; text-transform: uppercase" id="referencia" name="referencia" type="text" value="{{ persona.referencia }}" ></td>
                    </tr>
                    <tr>
                        <td><strong>Teléfono (Fijo):</strong></td>
                        <td><input class="input-xlarge" style="text-align: left; text-transform: uppercase;" maxlength="15" id="telefono" name="telefono" type="text" value="{{ persona.telefono_conv }}" ></td>
                        <td><strong>Celular:</strong></td>
                        <td><input class="input-xlarge solo-digitos" style="text-align: left; text-transform: uppercase" maxlength="10" id="celular" name="celular" type="text" value="{{ persona.telefono }}" ></td>
                        <td><strong>Operadora:</strong></td>
                        <td>
                            <select id="operadora" name="operadora">
                                <option value="0">---------</option>
                                <option value="1">CLARO</option>
                                <option value="2">MOVISTAR</option>
                                <option value="3">CNT</option>
                            </select>
                        </td>
                    </tr>
                </table>
                </form>
            </div>
            <div class='span12' style="text-align: center">
                <a href="javascript:;" class="btn btn-success btn-small" id="btnguardar">Guardar</a>
            </div>
        </div>
    </div><!-- Fin no more tables-->
{% endblock %}
