{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function () {
            $("#id_objetivogeneral , #id_objetivoespecifico  ,#id_perfilingreso  ,#id_requisitoingreso  ,#id_aprobaciontrabajo, #id_perfilprofesional ,#id_requisitotitulacion ,#id_descripcionintegracioncurricular ,#id_pertinencia ,#id_objetoestudio  ,#id_metodologiaambiente ").addClass("validate[required]");
            {#var lista_items4= [];#}
            {#var itemstimerai = 1;#}
            {#var numerodeperiodos = {{programa.numeroperiodosordinario}};#}

            {#numeroperiodos = function () {#}
            {#    var nperiodo = document.getElementById('id_periodoacademico');#}
            {#    nperiodo.insertAdjacentHTML('beforebegin', 'Máx: '+numerodeperiodos);#}
            {#    var ultimoValorValido = $("#id_periodoacademico").val();#}
            {#    $("#id_periodoacademico").on("change", function() {#}
            {#      if ($("#id_periodoacademico option:checked").length > numerodeperiodos) {#}
            {#        $("#id_periodoacademico").val(ultimoValorValido);#}
            {#        $("#id_periodoacademico").change();#}
            {#      } else {#}
            {#        ultimoValorValido = $("#id_periodoacademico").val();#}
            {#      }#}
            {#    });#}
            {#;#}

            {#$("#itemsadicionarrai").click(function () {#}
            {#    numeroperiodos();#}
            {#    $("#id_asignatura").val(0);#}
            {#    $('#id_asignatura').change();#}
            {#    $("#id_periodoacademico").val(0);#}
            {#    $('#id_periodoacademico').change();#}
            {#    $("#id_itinerariomencion").val('');#}
            {#    $("#id_unidadorganizacioncurricular").val(0);#}
            {#    $('#id_unidadorganizacioncurricular').change();#}
            {##}
            {#    $("#alertaingreso").hide();#}
            {#    $("#itemspanelrai .incompletorai").hide();#}
            {#    $("#itemspanelrai .incompletovaloresrai").hide();#}
            {#    $("#adicionarycerrarrai").show();#}
            {#    $("#guardar").hide();#}
            {#    $("#itemspanelrai").modal({backdrop: 'static', width: '550px'}).modal('show');#}
            {#    return false;#}
            {#);#}
            {##}
            {#$("#cerrarrai").click(function () {#}
            {#    $("#itemspanelrai .incompletorai").hide();#}
            {#    $("#itemspanelrai .incompletovaloresrai").hide();#}
            {#    $("#itemspanelrai").modal("hide");#}
            {#);#}
            {#$("#adicionarycerrarrai").click(function () {#}
            {#    adicionar_resultadorai()#}
            {#);#}
            {##}
            {#adicionar_resultadorai = function (ocultar) {#}
            {#    var asignaturarai = $("#id_asignatura option:selected").text();#}
            {#    var idasignaturarai = $("#id_asignatura").val();#}
            {#    var periodoacademico = $("#id_periodoacademico option:selected").text();#}
            {#    var idperiodoacademico = $("#id_periodoacademico").val();#}
            {#    var itinerariorai = $("#id_itinerariomencion").val();#}
            {#    var unidadrai = $("#id_unidadorganizacioncurricular option:selected").text();#}
            {#    var idunidadrai = $("#id_unidadorganizacioncurricular").val();#}
            {#    if (idasignaturarai == '' || itinerariorai == '' ||  idunidadrai == 0 || idperiodoacademico == '') {#}
            {#        $("#itemspanelrai .incompletorai").show();#}
            {#        return false;#}
            {#    }#}
            {##}
            {#    $("#itemsbodyrai").append('<tr class="elementosrai" id="filarai_' + itemstimerai + '">' +#}
            {#        '<td style="text-align: left" ><input type="hidden" class="detallerai" value="'+idasignaturarai+'"/><div class="" id="columnrai' + itemstimerai + '">' + asignaturarai + '</td></div>' +#}
            {#        '<td style="text-align: left" ><input type="hidden" class="detallerai0" value="'+idperiodoacademico+'"/><div class="" id="columnrai0' + itemstimerai + '">' + periodoacademico + '</td></div>' +#}
            {#        '<td style="text-align: center" ><div class="detallerai1" id="columnrai1' + itemstimerai + '">' + itinerariorai + '</td></div>' +#}
            {#        '<td style="text-align: center" ><input type="hidden" class="detallerai2" value="'+idunidadrai+'"/><div class="" id="columnrai2' + itemstimerai + '">' + unidadrai + '</td></div>' +#}
            {#        '<td style="text-align: center">' +#}
            {#        // '<a href="javascript:;" class="btn btn-tini btn-info editrai tu" id="adicionarraiedit' + itemstimerai + '" onclick="editrai(' + itemstimerai + ')"  title="Editar"><i class="fa fa-edit"></i></a>' +#}
            {#        '<a class="btn btn-tini btn-danger tu eliminarrai" title="Eliminar" id="eliminarrai"><i class="fa fa-remove"></i></a>' +#}
            {#        '</td>' +#}
            {#        '</tr>');#}
            {#    $("#itemspanelrai").modal("hide");#}
            {#    itemstimerai += 1;#}
            {#    conectar_controlesrai();#}
            {#    actualizar_listarai();#}
            {#;#}
            {#conectar_controlesrai = function () {#}
            {#    $(".eliminarrai").unbind();#}
            {#    $(".eliminarrai").click(function () {#}
            {#        var padre = $(this).parent().parent();#}
            {#        padre.remove();#}
            {#        actualizar_listarai();#}
            {#    });#}
            {#;#}
            {##}
            {#actualizar_listarai = function () {#}
            {#    lista_items4 = [];#}
            {#    $(".elementosrai").each(function () {#}
            {#        var itemrai = {#}
            {#            listaasignatura: $(this).find(".detallerai").val(),#}
            {#            listaperiodo: $(this).find(".detallerai0").val(),#}
            {#            listaitinerario: $(this).find(".detallerai1").html(),#}
            {#            listaunidad: $(this).find(".detallerai2").val()#}
            {#        };#}
            {#        lista_items4.push(itemrai);#}
            {#    });#}
            {#    $("#detalle").val(JSON.stringify(lista_items4));#}
            {#;#}
        });

    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}/adm_pac?action=addpac&idprograma={{programa.id|encrypt}}{% endblock %}
{% block formaction %}/adm_pac{% endblock %}
{% block formdestination %}/adm_pac?action=addpac&idprograma={{programa.id|encrypt}}&idfuncion={% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addfuncionsustantiva'/>
{#    <input type='hidden' name='detalle' id="detalle"/>#}
{#    <input type='hidden' name='preguntasrespuestaspac' id="preguntasrespuestaspac"/>#}
    <input type='hidden' name='pro' value='{{programa.id|encrypt}}'/>
{% endblock %}
{% block formback %}/adm_pac?action=addpac&idprograma={{programa.id|encrypt}}{% endblock %}
{% block buttonname %}Guardar{% endblock %}
{#{% block formsuffix %}#}
{#    <fieldset class="control-group nomargins" style="float: left; width: 100%">#}
{#        <div class="controls">#}
{#            <table class='table table-bordered' cellpadding="0" cellspacing="0">#}
{#                <label style="padding-right: 20px">Descripción microcurricular de la carrera/programa:</label>#}
{#                <thead>#}
{#                <tr>#}
{#                    <th style="text-align: center" width="30%">Nombre de la asignatura</th>#}
{#                    <th style="text-align: center" width="30%">Periodo Académico (Nivel)</th>#}
{#                    <th style="text-align: center" width="30%">Nombre del Itinerario/Mención</th>#}
{#                    <th style="text-align: center" width="30%">Unidad de organización curricular</th>#}
{#                    <th style="text-align: center" width="10%"><a href="javascript:;" id="itemsadicionarrai"#}
{#                                                                  class="btn btn-success btn-mini"><span#}
{#                            class="fa fa-plus"></span></a></th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody id="itemsbodyrai" class="datatable">#}
{#                </tbody>#}
{#                <tfoot>#}
{#                </tfoot>#}
{#            </table>#}
{#        </div>#}
{#    </fieldset>#}
{#{% endblock %}#}
{#{% block extraalerts %}#}
{#    <div class="modal fade static" id="itemspanelrai" style="display: none;">#}
{#        <div class="modal-header">#}
{#            <h3 class="paneltitle">Detalle microcurricular de la carrera/programa</h3>#}
{#        </div>#}
{#        <div class="modal-body panelbody">#}
{#            <div class="alert alert-info incompletorai" style="display: none;">#}
{#                <i class="fa fa-info-sign"></i> Complete todos los campos para continuar#}
{#            </div>#}
{#            <div class="row-fluid">#}
{#                <form id="formulario2" class='form-vertical' action="" method="POST">#}
{#                    {{ formdetalle }}#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#        <div class="modal-footer">#}
{#            <a href="javascript:;" class="btn btn-success" id="adicionarycerrarrai"><i class="fa fa-plus"></i> Adicionar</a>#}
{##}
{#            <a href="javascript:;" class="btn btn-cerrar btn-info" id="cerrarrai">Cerrarlo</a>#}
{#        </div>#}
{#    </div>#}

{#{% endblock %}#}