{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}

    <style type="text/css">
        .hiddenRow {
            padding: 0 !important;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            $("select").select2({minimumResultsForSearch: 20 });

            CKEDITOR.replace("id_objetivogeneral", {
                language: 'es',
                width: '100%',
                height: 100,
                resize_enabled: false,
                toolbarGroups: [

                ],
                removeButtons: 'Image,Flash'
            });

            $("#id_ponderaciontotal").addClass("validate[required, min[1], max[100]]");

            contador_persona = 0;
            contador_entregable = 0;
            filaagregapersona = "";
            filaagregaentregable = "";
            abreviaturafila = "";

            {% for objetivo in objetivos %}
                var nf_{{ objetivo.id }} = 0;
            {% endfor %}

            {% for objetivo in objetivos %}
                valoresPonderacion_{{ objetivo.id }} = function (){
                    numerico($(this), 0.01, 100, 2);
                    sumarponderaciones_{{ objetivo.id }}();
                };

            {% endfor %}

            {% for objetivo in objetivos %}
                sumarponderaciones_{{ objetivo.id }} = function (){
                    var aponderaciones = new Array();

                    $('input[name="valorponderacion_{{ objetivo.id }}[]"]').each(function () {
                        valor_{{ objetivo.id }} = parseFloat($(this).val());
                        aponderaciones.push(parseFloat($(this).val()));
                    });

                    var suma = 0;
                    for (i = 0; i < aponderaciones.length; i++) {
                        var total = 0;

                        total = aponderaciones[i];

                        suma += total;
                    }


                    $("#lbl_totalponderacion_{{ objetivo.id }}").html("" + suma.toFixed(2));
                    $("#lbl_totalobjetivo_{{ objetivo.id }}").html("" + suma.toFixed(2));
                    $("#bdg_totalactividades_{{ objetivo.id }}").html(aponderaciones.length);

                    calculartotalponderacion();
                };
            {% endfor %}

            calculartotalponderacion = function (){
                var totalponderacion = 0;
                {% for objetivo in objetivos %}
                    $('input[name="valorponderacion_{{ objetivo.id }}[]"]').each(function () {
                        totalponderacion += parseFloat($(this).val());
                    });
                {% endfor %}
                $("#id_ponderaciontotal").val(totalponderacion.toFixed(2));
            };


            {% for objetivo in objetivos %}
                $(".agregaitem_{{ objetivo.id }}").click(function() {
                    if(datos_{{ objetivo.id }}_completo()) {
                        nf_{{ objetivo.id }} += 1;

                        nueva = '<tr id="fila_{{ objetivo.id }}_' + nf_{{ objetivo.id }}.toString() + '">' +
                            '<td><input autocomplete="off" style="text-align: left; width: 100%; text-transform: none" maxlength="5000" id="actividad_{{ objetivo.id }}[]" name="actividad_{{ objetivo.id }}[]" type="text" value="" ></td>' +
                            '<td><input autocomplete="off" style="text-align: right; width: 100%; text-transform: none" maxlength="6" id="valorponderacion_{{ objetivo.id }}[]" name="valorponderacion_{{ objetivo.id }}[]" type="text" value="0.00" class="valoresponderacion_{{ objetivo.id }}"></td>' +
                            '<td style="text-align: center"><input type="text" class="selectorfecha" id="fechainicio_{{ objetivo.id }}[]" name="fechainicio_{{ objetivo.id }}[]" value="" readonly style="cursor:text; background-color: #FFFFFF"/></td>' +
                            '<td style="text-align: center"><input type="text" class="selectorfecha" id="fechafin_{{ objetivo.id }}[]" name="fechafin_{{ objetivo.id }}[]" value="" readonly style="cursor:text; background-color: #FFFFFF"/></td>' +
                            '<td id="td_{{ objetivo.id }}_'+ nf_{{ objetivo.id }}.toString() +'_5">' +
                            '<a href="javascript:;" class="btn btn-tini btn-success agregarentregable_{{ objetivo.id }} tu" abrev="{{ objetivo.id }}"  idf="' + nf_{{ objetivo.id }}.toString() + '" title="Agregar entregable"><i class="fa fa-folder-open"></i></a>  <input style="text-align: right; width: 100%; text-transform: none; background-color: white" maxlength="5000" id="codigosentregables_{{ objetivo.id }}_'+ nf_{{ objetivo.id }}.toString()+'" name="codigosentregables_{{ objetivo.id }}[]" type="hidden" value="" readonly="readonly" >'+
                            '<input maxlength="5000" id="descripcionesentregables_{{ objetivo.id }}_'+ nf_{{ objetivo.id }}.toString()+'" name="descripcionesentregables_{{ objetivo.id }}[]" type="hidden" value="" readonly="readonly" >'+
                            '<td id="td_{{ objetivo.id }}_'+ nf_{{ objetivo.id }}.toString() +'_6"  >    <a href="javascript:;" class="btn btn-tini btn-success agregarpersona_{{ objetivo.id }} tu" abrev="{{ objetivo.id }}"  idf="' + nf_{{ objetivo.id }}.toString() + '" title="Agregar responsable"><i class="fa fa-user-plus"></i></a>  <input style="text-align: right; width: 100%; text-transform: none; background-color: white" maxlength="5000" id="codigosresponsables_{{ objetivo.id }}_'+ nf_{{ objetivo.id }}.toString()+'" name="codigosresponsables_{{ objetivo.id }}[]" type="hidden" value="" readonly="readonly" >   '+
                            '</td>'+
                            '<td><a href="javascript:;" class="btn btn-tini btn-danger eliminaritem_{{ objetivo.id }} tu" idf="' + nf_{{ objetivo.id }}.toString() + '" title="Eliminar actividad"><i class="fa fa-remove"></i></a></td>';

                        $("#detalle_cronograma_{{ objetivo.id }}").append(nueva);
                        $("#detalle_cronograma_{{ objetivo.id }}").find(".selectorfecha").datepicker({format:"yyyy-mm-dd"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
                        $(".agregarpersona_{{ objetivo.id }}").unbind("click.agregarPersona_{{ objetivo.id }}");
                        $(".agregarpersona_{{ objetivo.id }}").bind("click.agregarPersona_{{ objetivo.id }}", agregarPersona_{{ objetivo.id }});
                        $(".agregarentregable_{{ objetivo.id }}").unbind("click.agregarEntregable_{{ objetivo.id }}");
                        $(".agregarentregable_{{ objetivo.id }}").bind("click.agregarEntregable_{{ objetivo.id }}", agregarEntregable_{{ objetivo.id }});
                        $(".eliminaritem_{{ objetivo.id }}").unbind("click.eliminarItem_{{ objetivo.id }}");
                        $(".eliminaritem_{{ objetivo.id }}").bind("click.eliminarItem_{{ objetivo.id }}", eliminarItem_{{ objetivo.id }});
                        $(".valoresponderacion_{{ objetivo.id }}").unbind("blur.valoresPonderacion_{{ objetivo.id }}");
                        $(".valoresponderacion_{{ objetivo.id }}").bind("blur.valoresPonderacion_{{ objetivo.id }}", valoresPonderacion_{{ objetivo.id }});
                    }
                });
            {% endfor %}

            {% for objetivo in objetivos %}
                datos_{{ objetivo.id }}_completo = function (){
                    var c1e = true, c2e = true, c3e = true, c4e = true;

                    $('input[name="actividad_{{ objetivo.id }}[]"]').each(function() {
                        if($(this).val().trim()==''){
                            c1e = false;
                            return false;
                        }
                    });

                    $('input[name="valorponderacion_{{ objetivo.id }}[]"]').each(function() {
                        if($(this).val().trim()==''){
                            c2e = false;
                            return false;
                        }
                    });

                    $('input[name="fechainicio_{{ objetivo.id }}[]"]').each(function() {
                        if($(this).val().trim()==''){
                            c3e = false;
                            return false;
                        }
                    });

                    $('input[name="fechafin_{{ objetivo.id }}[]"]').each(function() {
                        if($(this).val().trim()==''){
                            c4e = false;
                            return false;
                        }
                    });

                    return (c1e && c2e && c3e && c4e);
                };
            {% endfor %}

            {% for objetivo in objetivos %}
                eliminarItem_{{ objetivo.id }} = function() {
                    var id = $(this).attr("idf");
                    $("#fila_{{ objetivo.id }}_"+id).remove();
                    sumarponderaciones_{{ objetivo.id }}();
                };
            {% endfor %}

            {% for objetivo in objetivos %}
                agregarPersona_{{ objetivo.id }} = function() {
                    var idp='{{ id }}';

                    $("#itemspanelparticipante").modal({backdrop:'static', width: '800px'}).modal('show');

                    var id = $(this).attr("idf");
                    var abrev = $(this).attr('abrev');
                    filaagregapersona = id;
                    abreviaturafila = abrev;
                };

                agregarEntregable_{{ objetivo.id }} = function() {
                    var idp='{{ id }}';
                    $("#descripcionentregable").val("");

                    $("#itemspanelentregable").modal({backdrop:'static', width: '700px'}).modal('show');

                    var id = $(this).attr("idf");
                    var abrev = $(this).attr('abrev');
                    filaagregaentregable = id;
                    abreviaturafila = abrev;
                };
            {% endfor %}

            {% for objetivo in objetivos %}
                actualizarlistaPersona_{{ objetivo.id }} = function(idfila) {
                    var id = idfila;
                    var codigosPersonas_{{ objetivo.id }}="";

                    $("#td_{{ objetivo.id }}_"+id+"_6 .grupopersona").each(function() {
                        codigosPersonas_{{ objetivo.id }} += $(this).attr('idpersona')+",";
                    });

                    $("#codigosresponsables_{{ objetivo.id }}_"+id).val(codigosPersonas_{{ objetivo.id }});
                };
                
                actualizarlistaEntregable_{{ objetivo.id }} = function(idfila) {
                    var id = idfila;
                    var codigosEntregables_{{ objetivo.id }}="";
                    var descripcionesEntregables_{{ objetivo.id }}="";

                    $("#td_{{ objetivo.id }}_"+id+"_5 .grupoentregable").each(function() {
                        codigosEntregables_{{ objetivo.id }} += $(this).attr('identregable')+"|";
                        descripcionesEntregables_{{ objetivo.id }} += $(this).attr('descripcionentregable')+"|";
                    });

                    $("#codigosentregables_{{ objetivo.id }}_"+id).val(codigosEntregables_{{ objetivo.id }});
                    $("#descripcionesentregables_{{ objetivo.id }}_"+id).val(descripcionesEntregables_{{ objetivo.id }});
                };
            {% endfor %}

            {% for objetivo in objetivos %}
                borrarPersona_{{ objetivo.id }} = function() {

                    var id = $(this).attr("idpersona");
                    var idf = $(this).attr("idf");
                    $("#persona"+id).remove();

                    actualizarlistaPersona_{{ objetivo.id }}(idf);
                };

                borrarEntregable_{{ objetivo.id }} = function() {

                    var id = $(this).attr("identregable");
                    var idf = $(this).attr("idf");
                    $("#entregable"+id).remove();

                    actualizarlistaEntregable_{{ objetivo.id }}(idf);
                };
            {% endfor %}

            $("#itemspanelparticipante .agregar").click(function () {
                var idpe = $("#personalproyecto").val();

                var i = 0;
                var nombrepersona;

                if($('select[name=personalproyecto] option:selected').size() == 0){
                    smoke.alert("Seleccione el(los) responsable(s) para la actividad");
                }else {
                    var codigos_personas =  $("#personalproyecto").val();
                    var nombres_personas = $('#personalproyecto option:selected').toArray().map(item => item.text);
                    var listaper=$("#codigosresponsables_"+abreviaturafila+"_"+filaagregapersona).val();

                    for(i=0; i < codigos_personas.length; i++){
                        if(listaper.search(codigos_personas[i]) >=0){
                            smoke.alert("La persona "+nombres_personas[i]+" ya ha sido asignada a la actividad");
                            return false;
                        }
                    }

                    for(i=0; i < codigos_personas.length; i++){
                        idpe = codigos_personas[i];
                        nombrepersona = nombres_personas[i];

                        contador_persona++;

                        var objeto = "<span class='grupopersona' idpersona='" + idpe + "' id='persona" + contador_persona.toString() + "'><span class='label label-info'>" + nombrepersona + "</span>" +
                            "<a href='javascript:;' idf='" + filaagregapersona + "'  idpersona='" + contador_persona.toString() + "' class='borrarpersona_" + abreviaturafila + " btn-danger btn-tini' title='Borrar responsable'><i class='fa fa-user-times'></i></a></span>"

                        $("#td_" + abreviaturafila + "_" + filaagregapersona + "_6").append(objeto);
                        $(".borrarpersona_" + abreviaturafila).unbind("click.borrarPersona_" + abreviaturafila);
                        $(".borrarpersona_" + abreviaturafila).bind("click.borrarPersona_" + abreviaturafila, eval("borrarPersona_" + abreviaturafila));

                    }
                    $("#personalproyecto").val("0").trigger('change');
                    eval("actualizarlistaPersona_" + abreviaturafila + "(" + filaagregapersona + ");");
                    $('#itemspanelparticipante').modal('hide');
                }
                return false;
            });

            $("#itemspanelparticipante .cerrar").click(function () {
                $('#itemspanelparticipante').modal('hide');
            });

            $("#itemspanelparticipante .cerrar2").click(function () {
                $('#itemspanelparticipante').modal('hide');
            });


            $("#itemspanelentregable .agregar").click(function () {
                var descripcionentregable;

                if($("#descripcionentregable").val().trim()==''){
                    smoke.alert("Ingrese la descripción del entregable");
                }else {
                    var codigos_entregables =  "0";
                    var descripcion_entregable = $("#descripcionentregable").val().trim();

                    var listaent=$("#codigosentregables_"+abreviaturafila+"_"+filaagregaentregable).val();
                    var listaDescent=$("#descripcionesentregables_"+abreviaturafila+"_"+filaagregaentregable).val();

                    if(listaDescent.search(descripcion_entregable) >= 0){
                        smoke.alert("El entregable "+descripcion_entregable+" ya ha sido agregado a la actividad");
                        return false;
                    }


                    identre = codigos_entregables;
                    descripcionentregable = descripcion_entregable;

                    contador_entregable++;

                    var objeto = "<span class='grupoentregable' descripcionentregable='"+descripcionentregable+"' identregable='" + identre + "' id='entregable" + contador_entregable.toString() + "'><span class='label label-info'>" + descripcionentregable + "</span>" +
                        "<a href='javascript:;' idf='" + filaagregaentregable + "'  identregable='" + contador_entregable.toString() + "' class='borrarentregable_" + abreviaturafila + " btn-danger btn-tini' title='Borrar entregable'><i class='fa fa-times-rectangle'></i></a></span>"

                    $("#td_" + abreviaturafila + "_" + filaagregaentregable + "_5").append(objeto);
                    $(".borrarentregable_" + abreviaturafila).unbind("click.borrarEntregable_" + abreviaturafila);
                    $(".borrarentregable_" + abreviaturafila).bind("click.borrarEntregable_" + abreviaturafila, eval("borrarEntregable_" + abreviaturafila));


                    eval("actualizarlistaEntregable_" + abreviaturafila + "(" + filaagregaentregable + ");");
                    $('#itemspanelentregable').modal('hide');
                }
                return false;
            });

            $("#itemspanelentregable .cerrar").click(function () {
                $('#itemspanelentregable').modal('hide');
            });

            $("#itemspanelentregable .cerrar2").click(function () {
                $('#itemspanelentregable').modal('hide');
            });

            $(".seleccionartodos").click(function (){
                $('#personalproyecto option').prop('selected', true);
                $('#personalproyecto').trigger('change');
            });

        });
    </script>
{% endblock %}
{% block atras %}/pro_proyectoinvestigacion?action=propuestas&id={{ id }}&idc={{ idconvocatoria|encrypt }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/pro_proyectoinvestigacion?action=propuestas&id={{ id }}&idc={{ idconvocatoria|encrypt }}{% endblock %}
{% block formwidth %}form-xxl{%  endblock %}
{% block formdestinationswal %}/pro_proyectoinvestigacion?action=propuestas&id={{ id }}&idc={{ idconvocatoria|encrypt }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addcronograma'/>
    <input type='hidden' name='id' value='{{ id }}'/>
{% endblock %}
{% block formback %}/pro_proyectoinvestigacion?action=propuestas&id={{ id }}&idc={{ idconvocatoria|encrypt }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}
{% block formsuffix %}
    <div class="row-fluid" id="detallecronograma">
        <div style="width: 100%; height: max-content; display: inline-block">
            <h6 style="width:100%; text-align:left; border-bottom: 1px solid #98a3ab; line-height:0.1em; margin:10px 0 20px;"><span style="padding:0 10px; background: #f5f5f5;">Cronograma de Actividades del Proyecto</span></h6>
        </div>
        <div class="accordion" id="accordion2">
        {% for objetivo in objetivos %}
            <div class="accordion-group">
                <div class="accordion-heading" style="background-color: whitesmoke">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_{{ objetivo.id }}">
                        {{ objetivo.descripcion }}
                        <span class="badge badge-info tu" title="Total Actividades" id="bdg_totalactividades_{{ objetivo.id }}">0</span>
                        <span class="label label-success tu" title="Total % ponderación" id="lbl_totalobjetivo_{{ objetivo.id }}">0.00</span>
                    </a>
                </div>
                <div id="collapse_{{ objetivo.id }}" class="accordion-body collapse in">
                    <div class="accordion-inner" style="padding: 5px">
                        <table class="table table-bordered" id="tbrecurso_{{ objetivo.id }}">
                            <thead>
                                <tr>
                                    <th width="40%" style="text-align: center">Actividad</th>
                                    <th width="10%" style="text-align: center">Ponderación (%)</th>
                                    <th width="8%" style="text-align: center">Fecha Inicio</th>
                                    <th width="8%" style="text-align: center">Fecha Fin</th>
                                    <th width="15%" style="text-align: center">Entregable</th>
                                    <th width="40%" style="text-align: center">Responsables</th>
                                    <th width="2%"><a href="javascript:;" class="btn btn-success btn-mini agregaitem_{{ objetivo.id }}" title="Agregar actividad"><i class="fa fa-plus"></i> </a></th>
                                </tr>
                            </thead>
                            <tbody id="detalle_cronograma_{{ objetivo.id }}">

                            </tbody>
                            <tfoot>
                                <td colspan="1"><strong>TOTAL PONDERACIÓN</strong></td>
                                <td style="text-align: right"><strong><span id="lbl_totalponderacion_{{ objetivo.id }}">0.00</span></strong></td>
                                <td colspan="5"></td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="modal fade static"  data-keyboard="false" id="itemspanelparticipante" style="display: none;">
        <div class="modal-header">
            <table border="0" width="100%" style="background-color: transparent">
                <tr>
                    <td style="width: 80%"><h4 class="paneltitleparticipante">Agregar Responsable</h4></td>
                    <td><a href="javascript:;" title="Cerrar" class="btn btn-danger btn-mini pull-right cerrar2"><i class="fa fa-remove"></i></a></td>
                </tr>
            </table>
        </div>
        <div class="modal-body panelbodyparticipante">
            <table class="table table-bordered" >
                <tbody>
                    <tr>
                        <td style="width: 20%">Persona Responsable: <a href="javascript:;" id="btnseleccionartodo" class="btn btn-info btn-mini seleccionartodos" data-toggle="tooltip" data-placement="bottom" data-original-title="Seleccionar todos"><i class="fa fa-check-square"></i> </a></td>
                        <td>
                            <select id="personalproyecto" multiple name="personalproyecto" style="width: 95%">
                                {% for personal in personalproyecto %}
                                    <option value="{{ personal.persona.id }}">{{ personal.persona }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer" style="text-align: right">
            <a href="javascript:;" class="btn btn-success agregar"> Agregar</a>
            <a href="javascript:;" class="btn btn-danger cerrar"> Cancelar</a>
        </div>
    </div>

    <div class="modal fade static"  data-keyboard="false" id="itemspanelentregable" style="display: none;">
        <div class="modal-header">
            <table border="0" width="100%" style="background-color: transparent">
                <tr>
                    <td style="width: 80%"><h4 class="paneltitleentregable">Agregar Entregable</h4></td>
                    <td><a href="javascript:;" title="Cerrar" class="btn btn-danger btn-mini pull-right cerrar2"><i class="fa fa-remove"></i></a></td>
                </tr>
            </table>
        </div>
        <div class="modal-body panelbodyentregable">
            <table class="table table-bordered" >
                <tbody>
                    <tr>
                        <td style="width: 15%">Entregable:</td>
                        <td>
                            <input autocomplete="off" style="text-align: left; width: 100%; text-transform: none" maxlength="250" id="descripcionentregable" name="descripcionentregable" type="text" value="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer" style="text-align: right">
            <a href="javascript:;" class="btn btn-success agregar"> Agregar</a>
            <a href="javascript:;" class="btn btn-danger cerrar"> Cancelar</a>
        </div>
    </div>
{% endblock %}