{% load sga_extras %}
{% load humanize %}
{% load tz %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?python import sitetemplate ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#" py:extends="sitetemplate">
<html lang="en">
<head>
    <meta charset=UTF-8">
    <style type="text/css">
        @page {
            background-image: url('media/reportes/encabezados_pies/hoja_membretada.png');
            /*background-position: right 0.5cm;*/
            /*background-position: right 1000px;
            background-repeat: no-repeat;*/
            size: a4;/*size: a4 landscape;*/
            @frame header_frame {
            -pdf-frame-content: header_content;
            left: 1cm; right: 0.5cm; top: 0.5cm; height: 4cm;
            }
            @frame {
            -pdf-frame-content: company_logo;
                /*-pdf-frame-border: 1;*/
            left: 1cm;
            }
            @frame content_frame {
            left: 2cm; right: 2cm; top: 3cm; bottom: 3cm;
            }
            @frame footer {
            -pdf-frame-content: footerContent;
            bottom: 0cm;
            margin-left: 1cm;
            margin-right: 1cm;
            text-align: right;
            height: 1.5cm;
            }
        }
    </style>
</head>
<body>
<div id="company_logo">
    <img src='media/reportes/encabezados_pies/hoja_membretada.png' class="top_image" />
</div>
<div id="header_content">
</div>
<div>
    <div align="center" style="font-size: 13px">
        <table width="90%" align="center" border="0" style="font-size:13px; line-height:15px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
            <tr>
                <td colspan="2" style="font-size: 14px">
                    <strong>DIRECCIÓN DE INVESTIGACIÓN Y POSGRADO - GESTIÓN DE INVESTIGACIÓN<br>
                        HOJAS DE VIDA DE LOS INTEGRANTES<br> DEL PROYECTO DE INVESTIGACIÓN</strong>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="content_frame">
    {% for integrante in data.integrantes %}
        <br>
        <span style="line-height: 0.5px; font-size: 12px"><strong>FUNCIÓN: {{ integrante.get_funcion_display }}</strong></span><br>
        <span style="line-height: 0.5px; font-size: 12px"><strong>Datos Principales:</strong></span><br>
        <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
            <tr>
                <td width="18%">Nombre Completo:</td>
                <td colspan="5" width="84%" style="text-align: left">{{ integrante.persona.nombre_completo_inverso }}</td>
            </tr>
            <tr>
                <td width="18%">Sexo:</td>
                <td width="16%">{% if integrante.persona.sexo %}{{ integrante.persona.sexo }}{% else %}&nbsp;{% endif %}</td>
                <td width="17%">Fecha de Nacimiento:</td>
                <td width="16%">{{ integrante.persona.nacimiento|date:'Y-m-d' }}</td>
                <td width="17%">Nacionalidad:</td>
                <td width="16%">{{ integrante.persona.nacionalidad }}</td>
            </tr>
            <tr>
                <td>Tipo de identificación:</td>
                <td colspan="2">{% if integrante.persona.cedula %}CÉDULA{% else %}PASAPORTE{% endif %}</td>
                <td>Número de Identificación:</td>
                <td colspan="2">{% if integrante.persona.cedula %}{{ integrante.persona.cedula }}{% else %}{{ integrante.persona.pasaporte }}{% endif %}</td>
            </tr>
        </table>
        <br>
        <span style="line-height: 0.5px; font-size: 12px"><strong>Formación Académica:</strong></span><br>
        {% if integrante.tiene_formacion_academica %}
            <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                <tr>
                    <td width="35%" style="text-align: center;">Título</td>
                    <td width="10%" style="text-align: center;">Año</td>
                    <td width="35%" style="text-align: center;">Institución</td>
                    <td width="20%" style="text-align: center;">País</td>
                </tr>
                {% for formacion in integrante.formacion_academica  %}
                    <tr>
                        <td style="text-align: justify">{{ formacion.titulo.nombre }}</td>
                        <td style="text-align: center">{% if formacion.fechaobtencion %}{{ formacion.fechaobtencion|date:"Y" }}{% else %}&nbsp;{% endif %}</td>
                        <td style="text-align: justify">{{ formacion.institucion.nombre }}</td>
                        <td style="text-align: center">{% if formacion.pais %}{{ formacion.pais.nombre }}{% else %}&nbsp;{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                <tr>
                    <td style="text-align: justify">NO EXISTEN REGISTROS</td>
                </tr>
            </table>
        {% endif %}
        <br>
        <span style="line-height: 0.5px; font-size: 12px"><strong>Experiencia Académica e Investigativa:</strong></span><br>
        {% if integrante.tiene_experiencia %}
            <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                <tr>
                    <td width="35%" style="text-align: center;">Cargo</td>
                    <td width="35%" style="text-align: center;">Institución</td>
                    <td width="15%" style="text-align: center;">Desde</td>
                    <td width="15%" style="text-align: center;">Hasta</td>
                </tr>
                {% for exp in integrante.experiencia_laboral_unemi %}
                    <tr>
                        <td style="text-align: justify">{{ exp.cargo }}</td>
                        <td style="text-align: justify">UNIVERSIDAD ESTATAL DE MILAGRO</td>
                        <td style="text-align: center">{{ exp.fechainicio|date:"d-m-Y" }}</td>
                        <td style="text-align: center">&nbsp;</td>
                    </tr>
                {% endfor %}
                {% for exp in integrante.experiencia_laboral %}
                    <tr>
                        <td style="text-align: justify">{% if exp.cargo %}{{ exp.cargo }}{% else %}&nbsp;{% endif %}</td>
                        <td style="text-align: justify">{% if exp.institucion %}{{ exp.institucion }}{% else %}&nbsp;{% endif %}</td>
                        <td style="text-align: center">{% if exp.fechainicio %}{{ exp.fechainicio|date:"d-m-Y" }}{% else %}&nbsp;{% endif %}</td>
                        <td style="text-align: center">{% if exp.fechafin %}{{ exp.fechafin|date:"d-m-Y" }}{% else %}&nbsp;{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                <tr>
                    <td style="text-align: justify">NO EXISTEN REGISTROS</td>
                </tr>
            </table>
        {% endif %}
        <br>
        <span style="line-height: 0.5px; font-size: 12px"><strong>Producción Científica:</strong></span><br>
        {% if integrante.tiene_produccion_cientifica %}
            {% if integrante.tipo != 4 %}
                {% if integrante.articulos_publicados %}
                    <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td colspan="4" style="font-weight: bold">Artículos:</td>
                        </tr>
                        <tr>
                            <td width="40%" style="text-align: center;">Artículo</td>
                            <td width="29%" style="text-align: center;">Revista</td>
                            <td width="20%" style="text-align: center;">Bases Indexadas</td>
                            <td width="11%" style="text-align: center;">Fecha Pub.</td>
                        </tr>
                        {% for reg in integrante.articulos_publicados %}
                            <tr>
                                <td style="text-align: justify;">{{ reg.nombre|upper }}</td>
                                <td style="text-align: justify">{{ reg.revista.nombre|upper }}</td>
                                <td style="text-align: center">
                                    {% with listabasesindexadas=reg|call:'basesartculos' %}
                                        {% for listabases in listabasesindexadas %}
                                            {% if forloop.counter > 1 %}
                                                ,
                                            {% endif %}
                                            {{ listabases.baseindexada }}
                                        {% empty %}
                                            &nbsp;
                                        {% endfor %}
                                    {% endwith %}
                                </td>
                                <td style="text-align: center">{% if reg.fechapublicacion %}{{ reg.fechapublicacion|date:"Y-m-d" }}{% else %}&nbsp;{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% else %}
                {% if integrante.articulos_publicados_persona_externa %}
                    <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td colspan="4" style="font-weight: bold">Artículos:</td>
                        </tr>
                        <tr>
                            <td width="40%" style="text-align: center;">Artículo</td>
                            <td width="29%" style="text-align: center;">Revista</td>
                            <td width="20%" style="text-align: center;">Bases Indexadas</td>
                            <td width="11%" style="text-align: center;">Fecha Pub.</td>
                        </tr>
                        {% for reg in integrante.articulos_publicados_persona_externa %}
                            <tr>
                                <td style="text-align: justify;">{{ reg.titulo|upper }}</td>
                                <td style="text-align: justify">{{ reg.revista|upper }}</td>
                                <td style="text-align: center">{{ reg.baseindexada }}</td>
                                <td style="text-align: center">{{ reg.fechapublicacion|date:"Y-m-d" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endif %}

            {% if integrante.tipo != 4 %}
                {% if integrante.ponencias_publicadas %}
                    <br>
                    <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td colspan="4" style="font-weight: bold">Ponencias:</td>
                        </tr>
                        <tr>
                            <td width="35%" style="text-align: center">Ponencia</td>
                            <td width="34%" style="text-align: center">Evento</td>
                            <td width="20%" style="text-align: center">País/Ciudad</td>
                            <td width="11%" style="text-align: center">Fecha Congreso</td>
                        </tr>
                        {% for reg in integrante.ponencias_publicadas %}
                            <tr>
                                <td style="text-align: justify;">{% if reg.nombre %}{{ reg.nombre|upper }}{% else %}&nbsp;{% endif %}</td>
                                <td style="text-align: justify">{% if reg.evento %}{{ reg.evento|upper }}{% else %}&nbsp;{% endif %}</td>
                                <td style="text-align: center">{% if reg.pais %}{{ reg.pais.nombre|upper }} / {{ reg.ciudad|upper }}{% else %}&nbsp;{% endif %}</td>
                                <td style="text-align: center">{% if reg.fechainicio %}{{ reg.fechainicio|date:"Y-m-d" }}{% else %}&nbsp;{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% else %}
                {% if integrante.ponencias_publicadas_persona_externa %}
                    <br>
                    <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td colspan="4" style="font-weight: bold">Ponencias:</td>
                        </tr>
                        <tr>
                            <td width="35%" style="text-align: center">Ponencia</td>
                            <td width="34%" style="text-align: center">Evento</td>
                            <td width="20%" style="text-align: center">País/Ciudad</td>
                            <td width="11%" style="text-align: center">Fecha Congreso</td>
                        </tr>
                        {% for reg in integrante.ponencias_publicadas_persona_externa %}
                            <tr>
                                <td style="text-align: justify;">{{ reg.titulo|upper }}</td>
                                <td style="text-align: justify">{{ reg.congreso|upper }}</td>
                                <td style="text-align: center">{{ reg.pais.nombre|upper }} / {{ reg.ciudad|upper }}</td>
                                <td style="text-align: center">{{ reg.fechainicio|date:"Y-m-d" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endif %}

            {% if integrante.tipo != 4 %}
                {% if integrante.libros_publicados %}
                    <br>
                    <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td colspan="4" style="font-weight: bold">Libros:</td>
                        </tr>
                        <tr>
                            <td width="19%" style="text-align: center">Código ISBN</td>
                            <td width="35%" style="text-align: center">Título</td>
                            <td width="35%" style="text-align: center">Editorial</td>
                            <td width="11%" style="text-align: center">Fecha Publicación</td>
                        </tr>
                        {% for reg in integrante.libros_publicados %}
                            <tr>
                                <td style="text-align: justify;">{% if reg.codisbn %}{{ reg.codisbn|upper }}{% else %}&nbsp;{% endif %}</td>
                                <td style="text-align: justify;">{% if reg.nombrelibro %}{{ reg.nombrelibro|upper }}{% else %}&nbsp;{% endif %}</td>
                                <td style="text-align: justify">{% if reg.editorial %}{{ reg.editorial }}{% else %}&nbsp;{% endif %}</td>
                                <td style="text-align: center">{% if reg.fechapublicacion %}{{ reg.fechapublicacion|date:"Y-m-d" }}{% else %}&nbsp;{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% else %}
                {% if integrante.libros_publicados_persona_externa %}
                    <br>
                    <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td colspan="4" style="font-weight: bold">Libros:</td>
                        </tr>
                        <tr>
                            <td width="19%" style="text-align: center">Código ISBN</td>
                            <td width="35%" style="text-align: center">Título</td>
                            <td width="35%" style="text-align: center">Editorial</td>
                            <td width="11%" style="text-align: center">Fecha Publicación</td>
                        </tr>
                        {% for reg in integrante.libros_publicados_persona_externa %}
                            <tr>
                                <td style="text-align: justify;">{{ reg.codigoisbn|upper }}</td>
                                <td style="text-align: justify;">{{ reg.titulolibro|upper }}</td>
                                <td style="text-align: justify">{{ reg.editorial }}</td>
                                <td style="text-align: center">{{ reg.fechapublicacion|date:"Y-m-d" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endif %}

            {% if integrante.tipo != 4 %}
                {% if integrante.capitulos_libro_publicados %}
                    <br>
                    <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td colspan="5" style="font-weight: bold">Capítulos de Libros:</td>
                        </tr>
                        <tr>
                            <td width="24%" style="text-align: center">Código ISBN</td>
                            <td width="25%" style="text-align: center">Título Capítulo</td>
                            <td width="20%" style="text-align: center">Título Libro</td>
                            <td width="20%" style="text-align: center">Editorial</td>
                            <td width="11%" style="text-align: center">Fecha Publicación</td>
                        </tr>
                        {% for reg in integrante.capitulos_libro_publicados %}
                            <tr>
                                <td style="text-align: justify;">{{ reg.codisbn|upper }}</td>
                                <td style="text-align: justify;">{{ reg.titulocapitulo|upper }}</td>
                                <td style="text-align: justify;">{{ reg.titulolibro|upper }}</td>
                                <td style="text-align: justify">{{ reg.editorcompilador|upper }}</td>
                                <td style="text-align: center">{{ reg.fechapublicacion|date:"Y-m-d" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% else %}
                {% if integrante.capitulos_libro_publicados_persona_externa %}
                    <br>
                    <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td colspan="5" style="font-weight: bold">Capítulos de Libros:</td>
                        </tr>
                        <tr>
                            <td width="24%" style="text-align: center">Código ISBN</td>
                            <td width="25%" style="text-align: center">Título Capítulo</td>
                            <td width="20%" style="text-align: center">Título Libro</td>
                            <td width="20%" style="text-align: center">Editorial</td>
                            <td width="11%" style="text-align: center">Fecha Publicación</td>
                        </tr>
                        {% for reg in integrante.capitulos_libro_publicados_persona_externa %}
                            <tr>
                                <td style="text-align: justify;">{{ reg.codigoisbn|upper }}</td>
                                <td style="text-align: justify;">{{ reg.titulocapitulo|upper }}</td>
                                <td style="text-align: justify;">{{ reg.titulolibro|upper }}</td>
                                <td style="text-align: justify">{{ reg.editorial|upper }}</td>
                                <td style="text-align: center">{{ reg.fechapublicacion|date:"Y-m-d" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endif %}
        {% else %}
            <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                <tr>
                    <td style="text-align: justify">NO EXISTEN REGISTROS</td>
                </tr>
            </table>
        {% endif %}
        <br>
        <span style="line-height: 0.5px; font-size: 12px"><strong>Proyectos de Investigación :</strong></span><br>
        {% if integrante.tiene_proyectos_investigacion %}
            {% if integrante.tipo != 4 %}
                {% if integrante.proyectos_investigacion_unemi or integrante.proyectos_investigacion_externo %}
                    {% if integrante.proyectos_investigacion_unemi %}
                        <br>
                        <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                            <tr>
                                <td colspan="3" style="font-weight: bold">Proyectos Internos:</td>
                            </tr>
                            <tr>
                                <td width="78%" style="text-align: center">Proyecto</td>
                                <td width="11%" style="text-align: center">Fecha Inicio</td>
                                <td width="11%" style="text-align: center">Fecha Fin</td>
                            </tr>
                            {% for reg in integrante.proyectos_investigacion_unemi %}
                                <tr>
                                    <td style="text-align: justify;">{{ reg.proyecto.nombre|upper }}</td>
                                    <td style="text-align: center">{{ reg.proyecto.fechainicio|date:"Y-m-d" }}</td>
                                    <td style="text-align: center">{{ reg.proyecto.fechareal|date:"Y-m-d" }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    {% if integrante.proyectos_investigacion_externo %}
                        <br>
                        <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                            <tr>
                                <td colspan="4" style="font-weight: bold">Proyectos Externos:</td>
                            </tr>
                            <tr>
                                <td width="50%" style="text-align: center">Proyecto</td>
                                <td width="28%" style="text-align: center">Institución</td>
                                <td width="11%" style="text-align: center">Fecha Inicio</td>
                                <td width="11%" style="text-align: center">Fecha Fin</td>
                            </tr>
                            {% for reg in integrante.proyectos_investigacion_externo %}
                                <tr>
                                    <td style="text-align: justify;">{% if reg.nombre %}{{ reg.nombre|upper }}{% else %}&nbsp;{% endif %}</td>
                                    <td style="text-align: justify">{% if reg.institucion %}{{ reg.institucion|upper }}{% else %}&nbsp;{% endif %}</td>
                                    <td style="text-align: center">{% if reg.fechainicio %}{{ reg.fechainicio|date:"Y-m-d" }}{% else %}&nbsp;{% endif %}</td>
                                    <td style="text-align: center">{% if reg.fechafin %}{{ reg.fechafin|date:"Y-m-d" }}{% else %}&nbsp;{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if integrante.proyectos_investigacion_persona_externa %}
                    <br>
                    <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td colspan="4" style="font-weight: bold">Proyectos:</td>
                        </tr>
                        <tr>
                            <td width="50%" style="text-align: center">Proyecto</td>
                            <td width="28%" style="text-align: center">Institución Patrocinadora</td>
                            <td width="11%" style="text-align: center">Fecha Inicio</td>
                            <td width="11%" style="text-align: center">Fecha Fin</td>
                        </tr>
                        {% for reg in integrante.proyectos_investigacion_persona_externa %}
                            <tr>
                                <td style="text-align: justify;">{{ reg.titulo|upper }}</td>
                                <td style="text-align: justify">{{ reg.patrocinador|upper }}</td>
                                <td style="text-align: center">{{ reg.fechainicio|date:"Y-m-d" }}</td>
                                <td style="text-align: center">{{ reg.fechafin|date:"Y-m-d" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endif %}
        {% else %}
            <table width="100%" style="border: 0.5px solid #000000; font-size:12px; line-height:5px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
                <tr>
                    <td style="text-align: justify">NO EXISTEN REGISTROS</td>
                </tr>
            </table>
        {% endif %}
        <br><br><br><br>
        {% if forloop.counter < data.totalintegrantes %}
            <pdf:nextpage />
        {% endif %}
    {% endfor %}
</div>
<div id="footerContent">
    <div >
        {%block page_foot%}
            <hr color="black" />
            <table style="color: grey;text-align: right">
                <tr>
                    <td >
                        &nbsp;&nbsp;<b>P&aacute;gina <pdf:pagenumber></pdf:pagenumber> de <pdf:pagecount></pdf:pagecount></b>
                    </td>
                </tr>
            </table>
        {%endblock%}
    </div>
</div>
</body>
</html>