{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $(" #id_fechainicio, #id_fechafin, #id_mensaje, #id_motivo, #id_coordinacion").addClass("validate[required]");
            $("#id_fechainicio, #id_fechafin, #id_fechamaximoagendatutoria").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide');});
            $('#id_coordinacion').change(function(){
                $('#id_carrera').empty().append('<option value="">---------</option>').val(0).trigger("change");
                var control = $(this);
                var coordinaciones = $("#id_coordinacion").val();
                if (coordinaciones) {
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "{{ request.path }}",
                        data: {'action': 'carrerascoordinacion', 'idc': JSON.stringify(coordinaciones)},
                        success: function (data) {
                            $.unblockUI();
                            if (data.result == 'ok') {
                                for (elemento in data.lista) {
                                    $('#id_carrera').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                                }
                            } else {
                                control.val(0).trigger("change");
{#                                smoke.alert(data.mensaje);#}
                                smoke.alert("sdfasdf    ");
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            control.val(0).trigger("change");
                            smoke.alert("Error de conexion.");
                        },
                        dataType: "json"
                    });
                }
            });
        });
    </script>
{% endblock %}
{% block atras %}{{ request.path }}?action=confpreinscripciones{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}{{ request.path }}{% endblock %}
{% block form-type %}form-horizontal{% endblock %}
{% block formdestination %}{{ request.path }}?action=confpreinscripciones{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addconfpreinscripcion'/>
{% endblock %}
{% block formback %}{{ request.path }}?action=confpreinscripciones{% endblock %}
{% block buttonname %}Guardar{% endblock %}
