{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){

            $("#id_fechainicio, #id_fechafin").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); }).addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block atras %}{{ request.path }}?action=informemensual{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}{{ request.path }}{% endblock %}
{% block form-type %}form-horizontal{% endblock %}
{% block formdestination %}{{ request.path }}?action=informemensual{% endblock %}
{% block formwidth %}form-m{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editinformemensual'/>
    <input type='hidden' name='id' value='{{ informesupervisor.id|encrypt }}'/>
{% endblock %}
{% block formback %}{{ request.path }}?action=informemensual{% endblock %}
{% block buttonname %}Guardar{% endblock %}
