{% load sga_extras %}
<script !src="">
    $(".vistaprevia").click(function () {
        let url_file = $(this).attr("urlf");
        let name_file = $(this).attr("ename");
        $("#frameevidencia").attr("src", url_file);
        $("#nombreevidencia").text(`- ${name_file}`)
        $("#averevidencia").trigger("click");
    });
</script>
<b>CARRERA: </b>{{ practicainscripcion.inscripcion.carrera.nombre_completo }}<br>
<b>ESTUDIANTE: </b>{{ practicainscripcion.inscripcion.persona.nombre_completo }}
<div class="tabbable">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#tab_evidencias" data-toggle="tab">Evidencias</a></li>
        <li><a id="averevidencia" href="#tab_verevidencia" data-toggle="tab">Vista previa <span id="nombreevidencia"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_evidencias">
            <table style="width: 100%;" class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th style="text-align: center; width: 110px;">Archivo</th>
                </tr>
                </thead>
                <tbody class="accordion" style="margin: 0;overflow-y:auto;max-height:100px;">
                {% for evidencia in evidencias %}
                    <tr>
                        <td>{{ evidencia.nombre }}</td>
                        {% with evidenciasubida=evidencia|args:practicainscripcion|call:'detalle_evidenciaspracticas' %}
                            <td align="center">
                                {% if evidenciasubida %}
                                    <a href="{{ evidenciasubida.descargar_archivo }}"
                                       class='btn btn-success btn-mini' download=""><i class="fa fa-arrow-down"></i> Descargar</a>
                                    <button ename="{{ evidencia.nombre }}" urlf="{{ evidenciasubida.descargar_archivo }}" class="btn btn-mini btn-info vistaprevia"><i class="fa fa-eye"></i></button>
                                {% else %}
                                    <label class=" label label-warning">NO HA SUBIDO LA EVIDENCIA</label>
                                {% endif %}
                            </td>
                        {% endwith %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_verevidencia">
            <iframe id="frameevidencia" width="98%" height="400"></iframe>
        </div>
    </div>
</div>

