/settings.py
/settings_1.10.py
/requeriments.txt
**/migrations/**
!**/migrations
!**/migrations/__init__.py
/.idea
/.idea/**
/api_google_key.json
/media/
/media/**
/venv/
/venv/**
/.vscode
/.vscode/**
/__pycache__/
/__pycache__/**
/requirements.txt
/console/
/thirdparty/jasperstarter/3.6.2/java/
/mediadocumental/
/channels/migrations/
/sga/migrations/
/sagest/migrations/
/med/migrations/
/bib/migrations/
/socioecon/migrations/
/mobile/migrations/
/moodle/migrations/
/posgrado/migrations/
/helpdesk/migrations/
/investigacion/migrations/
/admision/migrations/
/clrncelery/migrations/
/balcon/migrations/
/inno/migrations/
/bd/migrations/
/api/migrations/
/crispy_forms/migrations/
/certi/migrations/
/elfinderfs/migrations/
/voto/migrations/
/even/migrations/
/matricula/migrations/
/evath/migrations/
/soap/migrations/
/pdip/migrations/
/postulaciondip/migrations/
/webpush/migrations/
/pwa/migrations/
/wpush/migrations/
/postulate/migrations/
/poli/migrations/
/becadocente/migrations/
/ws/migrations/
/gdocumental/migrations/
/feria/migrations/
/faceid/migrations/
/empresa/migrations/
/empleo/migrations/
/cita/migrations/
/plan/migrations/
/secretaria/migrations/
/vincula/migrations/
/homologa/migrations/
/edcon/migrations/
/automatiza/migrations/
/idioma/migrations/
/oma/migrations/
/ejecuform/migrations/
/juventud/migrations/
/valida/migrations/
/preventconcurrentlogins/migrations/
