{% extends 'alu_practicassaludinscripcion/modal/ajaxformmodal.html' %}
{% block extra_js %}
    <script src="/static/validaciones/funciones.js?v=2.0"></script>
    <script type="text/javascript">
        $(function () {
            $('#fieldset_archivocustodia').hide();
            let bajocustodia = document.getElementById('fieldset_bajocustodia').querySelector('.switchery');
            estabajocustodia = function () {
                if ($("#id_bajocustodia").is(":checked")) {
                    $('#fieldset_archivocustodia').show();
                    $("#id_archivocustodia").addClass("validate[required]");
                } else {
                    $('#fieldset_archivocustodia').hide();
                    $("#id_archivocustodia").removeClass("validate[required]");
                }
            };
            bajocustodia.addEventListener('click', function () {
                estabajocustodia()
            });
            estabajocustodia();
            {% if not familiar.cedulaidentidad %}
                $("#id_archivocustodia").addClass("validate[required]");
            {% endif %}
        });
    </script>
{% endblock %}
{% block extra_input %}
    <input type="hidden" name="edit_d" id="id_editd" value="{{ edit_d }}">
{% endblock %}