{% load humanize %}
{% load sga_extras %}
{% block extraheading %}
    <link rel="stylesheet" href="/static/css/stylesfc.css">
    <script>
        $(function(){
            $("select").select2({minimumResultsForSearch: 5 });

            $("#estado").addClass("validate[required]");
        });
    </script>
{% endblock %}
<form id="frmRevisarInforme" style="width: 100%; margin-bottom: 0px;padding-left: 0px;padding-top: 0px; padding-right: 0px; padding-bottom: 0px">
    <input type='hidden' id="action" name='action' value='revisarinformeotorgamiento'/>
    <input type='hidden' name='id' value='{{ informe.id|encrypt }}'/>

    <table class="table table-bordered table-striped" id="tbvistadocumento">
        <thead class="table-light">
            <tr>
                <th><span id="titulodocumento">N° Informe {{ informe.numero }} - {{ solicitud.profesor.persona.nombre_completo_inverso }}</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <iframe border=1 id="framearchivo" frameborder=0 height=350px width=100% src="{{ informe.archivofirmado.url }}"></iframe>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped" >
        <thead class="table-light">
            <tr>
                <th colspan="2">Revisión</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 20%;"><b>Estado a Asignar:</b></td>
                <td style="width: 80%;">
                    <select id="estado" name="estado" style="width: 300px">
                        <option value="" selected>---------</option>
                        {% for estado in estados %}
                            <option value="{{ estado.id }}">{{ estado.descripcion }}</option>
                        {% endfor %}
                    </select>
                    <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>