.jstree .jstree-container-ul .jstree-node {
    position: relative;
    background: 0 0 !important
}

.jstree .jstree-container-ul .jstree-node:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 1px;
    border-left: 1px dotted #c6ced5
}

.jstree .jstree-container-ul .jstree-node:last-child:before {
    bottom: 11px
}

.jstree .jstree-container-ul .jstree-node > .jstree-icon.jstree-ocl {
    position: relative;
    background: 0 0
}

.jstree .jstree-container-ul .jstree-node > .jstree-icon.jstree-ocl:before {
    content: '';
    position: absolute;
    left: 50%;
    right: 1px;
    top: 50%;
    border-top: 1px dotted #c6ced5
}

.jstree .jstree-container-ul .jstree-node > .jstree-icon.jstree-ocl:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3px;
    margin-top: -3px;
    border: 5px solid transparent;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.jstree .jstree-container-ul .jstree-node .jstree-anchor {
    color: #6f8293;
    font-weight: 600
}

.jstree .jstree-container-ul .jstree-node .jstree-anchor .jstree-icon.jstree-checkbox {
    background: 0 0
}

.jstree .jstree-container-ul .jstree-node .jstree-anchor .jstree-icon.jstree-checkbox:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    right: 4px;
    bottom: 4px;
    border: 1px solid #d5dbe0;
    display: block;
    background: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.jstree .jstree-container-ul .jstree-node .jstree-anchor .jstree-icon.jstree-checkbox:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 7px;
    right: 7px;
    bottom: 7px;
    display: block;
    font-family: Font Awesome\ 5 Free, Font Awesome\ 5 Pro, FontAwesome !important;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto
}

.jstree .jstree-container-ul .jstree-node .jstree-anchor .jstree-icon.jstree-checkbox.jstree-undetermined:after {
    background: #d5dbe0
}

.jstree .jstree-container-ul .jstree-node .jstree-anchor.jstree-clicked {
    color: #2d353c
}

.jstree .jstree-container-ul .jstree-node .jstree-anchor.jstree-clicked .jstree-icon.jstree-checkbox:after {
    content: '\f00c';
    font-size: 10px;
    line-height: 15px;
    color: #2d353c;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px
}

.jstree .jstree-container-ul .jstree-node .jstree-anchor.jstree-disabled {
    color: #9ba8b4
}

.jstree .jstree-container-ul .jstree-node .jstree-anchor.jstree-disabled > .jstree-icon {
    opacity: .4;
    -webkit-filter: none;
    filter: none
}

.jstree .jstree-container-ul .jstree-node .jstree-hovered, .jstree .jstree-container-ul .jstree-node .jstree-wholerow-hovered {
    background: 0 0;
    color: #2d353c;
    -webkit-box-shadow: none;
    box-shadow: none
}

.jstree .jstree-container-ul .jstree-node .jstree-clicked, .jstree .jstree-container-ul .jstree-node .jstree-wholerow-clicked {
    background: #f2f3f4;
    -webkit-box-shadow: none;
    box-shadow: none
}

.jstree .jstree-container-ul .jstree-node.jstree-open .jstree-anchor > .fa-folder:before {
    content: '\f07c';
    color: #9ba8b4
}

.jstree .jstree-container-ul .jstree-node.jstree-open .jstree-anchor.jstree-clicked > .fa-folder:before {
    color: #2d353c
}

.jstree .jstree-container-ul .jstree-node.jstree-open > .jstree-ocl:after {
    border-left-color: #9ba8b4;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.jstree .jstree-container-ul .jstree-node.jstree-closed > .jstree-ocl:after {
    border-left-color: #9ba8b4;
    margin-top: -5px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
}