{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">
        function formModal(id, text, action) {
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    if (data.result === true) {
                        $('.panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text);
                        $("#itemspanel").modal({backdrop: 'static', width: '900'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"
            });
        }
    </script>
<script src="/static/adicionalesjs/formquestion.js?0.24"></script>
{% endblock %}
{% block atras %}/adm_gedcevaluacion{% endblock %}
{% block canvas %}
    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-header">
            <h4><i class="fa fa-list"></i> <b class="paneltitle">FORMULARIO MODAL</b></h4>
        </div>
        <div class="modal-body">
            <form id="form2" class="form-horizontal form-modal" autocomplete="off" method="post"
                  enctype="multipart/form-data" action="{{ request.path }}" >
                {% csrf_token %}
                <div class="row-fluid panelbody">
                </div>
            </form>
        </div>
        <div class="modal-footer">
{#            <a href="javascript:;" class="btn btn-default" data-dismiss="modal"><i#}
{#                    class="fa fa-window-close"></i>#}
{#                Cerrar</a>#}
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}<br>{{ cab.nombre }}</h4>
        </div>
    </div>

    <div class="row-fluid">
        {% if not cab.nopuede_eliminar %}
            <div class="btn-group">
                <a data-toggle="tooltip" data-placement="top"
                   href="javascript:void(0)"
                   onclick="formModal('{{ cab.id }}','ADICIONAR PREGUNTAS','addpregunta')"
                   class="btn btn-success">
                    <i class="fa fa-plus-circle"></i>
                    Registrar Pregunta
                </a>
            </div>
        {% endif %}
    </div>

    <div class="row-fluid">
        <div class='span12'>
            <form class="form-horizontal form-label-left" autocomplete="off" method="post"
                  enctype="multipart/form-data" action="{{ ruta }}">
                {% csrf_token %}
                <div class='row-fluid'>
                    <div class='span12'>
                        <input type="hidden" name="action" value="responder"/>
                        <input type="hidden" name="id" value="{{ cab.id }}">
                        {% for indicador in preguntas %}
                            <table class='table table-bordered'>
                                <input type="hidden" name="valor{{ indicador.id }}"
                                       value="{{ indicador.id }}">
                                <thead class="thead-light">
                                <tr>
                                    <th style="font-size: 17px" colspan="6">
                                        {% if not cab.nopuede_eliminar %}
                                            <a href="javascript:void(0);"
                                               class="btn btn-danger btn-mini eliminacionmodal"
                                               title="Eliminar"
                                               nhref='{{ request.path }}?action=delpregunta&id={{ indicador.id }}'
                                               data-toggle="tooltip" data-placement="right">
                                                <i class="fa fa-trash"></i></a>{% endif %}
                                            <a href="javascript:void(0);"
                                               class="btn btn-primary btn-mini"
                                               title="Editar"
                                               onclick="formModal('{{ indicador.id }}','EDITAR PREGUNTAS','editpregunta')"
                                               data-toggle="tooltip" data-placement="right">
                                                <i class="fa fa-pencil"></i></a>
                                        <b>{{ forloop.counter }})</b> {{ indicador.indicador }} . (Orden {{ indicador.orden }})
                                    {% if indicador.obligatorio %} <span class="text-error" style="font-size: 14px">*</span> {% endif %}</th>
                                </tr>
                                </thead>
                                {% if indicador.indicador.evalua %}
                                    <tr>
                                        <td width="15%">
                                            Elija una opción:
                                        </td>
                                        <td>
                                            <b>SI</b> &nbsp;
                                            <input type="radio" required
                                                   name="eval{{ indicador.id }}"
                                                   id="eval{{ indicador.id }}"
                                                   value="True"> &nbsp;
                                            <b>NO</b>
                                            <input type="radio" required
                                                   name="eval{{ indicador.id }}"
                                                   id="eval{{ indicador.id }}"
                                                   value="False">
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if indicador.indicador.calificacion %}
                                    <tr>
                                        <td width="15%">Califique:</td>
                                        <td>
                                            {% for tipo in indicador.metodo_evaluar %}
                                                <b>{{ tipo.1 }}</b>
                                                <input type="radio" required
                                                       name="cal{{ indicador.id }}" id="cal{{ indicador.id }}"
                                                       value="{{ tipo.0 }}"> &nbsp;
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if indicador.indicador.observacion %}
                                    <tr>
                                        <td width="15%">Ingrese una Observación:</td>
                                        <td>
                                                    <textarea id="obs{{ indicador.id }}" required
                                                              name="obs{{ indicador.id }}" rows="1"
                                                              class="form-control observaciones"></textarea>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if indicador.indicador.evidencias %}
                                    <tr>
                                        <td width="15%">
                                            <i class="fa fa-info-circle" data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Permitido solo .pdf"></i> Subir Evidencia
                                        </td>
                                        <td>
                                            <input type="file"
                                                   name="file{{ indicador.id }}" id="file{{ indicador.id }}"
                                                   class="form-control filepdf" required>
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}