{% extends "basebs.html" %}
{% load sga_extras %}
{% load humanize %}
{% block heading %}
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v=1.0.0"></script>
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css?v=1.0.0" type="text/css" media="screen" />
    <script type="text/javascript" src='/static/js/select2.js?v=1.0.0' ></script>
    <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
    <link href="/static/widget_ppp.css" rel="stylesheet"/>
    <script type="text/javascript">
        var myController = {
            init: function () {
                var self = this;
                $("#periodos_list, #carreras_list, #niveles_malla_origen_list, #niveles_malla_destino_list").select2({minimumResultsForSearch: 20 });

                $("#periodos_list, #carreras_list, #niveles_malla_origen_list, #niveles_malla_destino_list").change(function () {
                    self.search();
                });
                $(".action-gear").click(function (){
                    self.actionMatricular();
                });
            },
            search: function()
            {
                var self = this;
                var idpd = $("#periodos_list").val();
                var idc = $("#carreras_list").val();
                var idnmo = $("#niveles_malla_origen_list").val();
                var idnmd = $("#niveles_malla_destino_list").val();
                bloqueointerface();
                location.href = `/niveles?action=matriculacioninternado&idpd=${idpd}&idc=${idc}&idnmo=${idnmo}&idnmd=${idnmd}`;
            },
            actionMatricular: function(){
                var self = this;
                bloqueointerface();
                var idpd = $("#periodos_list").val();
                var idc = $("#carreras_list").val();
                var idnmo = $("#niveles_malla_origen_list").val();
                var idnmd = $("#niveles_malla_destino_list").val();
                var lista_item1 = [];
                $(".matricular").each(function(e) {
                    if ($(this).is(':checked')) {
                        lista_item1.push(JSON.stringify({
                            "inscripcion_id": $(this).attr('idinscripcion'),
                            "materia_id": $(this).attr('idmateria'),
                        }));
                    }
                });
                $.ajax({
                    type: "POST",
                    url: "niveles",
                    data: {"action": 'matricularInternado', 'periodo_id': idpd, 'carrera_id': idc, 'nivelmalla_id': idnmd, 'items': JSON.stringify(lista_item1)},
                    success: function(res) {
                        if (res.result == 'ok') {
                            NotificationJG.success(res.mensaje);
                            setTimeout(function() {
                                location.reload();
                            }, 8000);
                            $.unblockUI();
                        } else {
                            $.unblockUI();
                            NotificationJG.error(res.mensaje);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        $.unblockUI();
                        {#smoke.alert("Error de conexión.");#}
                        var msg = '';
                        if (jqXHR.status === 0) {
                            msg='Not connect: Verify Network.';
                        } else if (jqXHR.status == 404) {
                            msg='Requested page not found [404]';
                        } else if (jqXHR.status == 500) {
                            msg='Internal Server Error [500].';
                        } else if (textStatus === 'parsererror') {
                            msg='Requested JSON parse failed.';
                        } else if (textStatus === 'timeout') {
                            msg='Time out error.';
                        } else if (textStatus === 'abort') {
                            msg='Ajax request aborted.';
                        } else {
                            msg='Uncaught Error: ' + jqXHR.responseText;
                        }
                        NotificationJG.error("Error al enviar los datos: " + msg);
                    },
                    dataType: "json",
                });
            }
        }
        $(function() {
            myController.init();
        });
    </script>
{% endblock %}
{% block atras %}/niveles{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span8'>
            <h4>{{ title }}</h4>
            <h6 style="width:100%; text-align:left; border-bottom: 1px solid #98a3ab; line-height:0.1em; margin:10px 0 20px;"><span style="padding:0 10px; background: #f5f5f5;">Periodo académico actual</span></h6>
            <h5>{{ periodo_origen.nombre }} - [{% if periodo_origen.activo %} <span class="label label-success">Activo</span> {% else %} <span class="label label-important">Inactivo</span> {% endif %}] - [<span class="label label-info">{{ periodo_origen.tipo.nombre }}</span>]</h5>
            <h5>Fecha Inicio: {{ periodo_origen.inicio|date:"d-m-Y" }} - Fecha Fin: {{ periodo_origen.fin|date:"d-m-Y" }}</h5>
            <h5>Inicio agregaciones: {{ periodo_origen.inicio_agregacion|date:"d-m-Y" }} - Limite agregaciones: {{ periodo_origen.limite_agregacion|date:"d-m-Y" }} - Limite retiro: {{ periodo_origen.limite_retiro|date:"d-m-Y" }}</h5>
            <br>
            {% if periodo_destino %}
                <h6 style="width:100%; text-align:left; border-bottom: 1px solid #98a3ab; line-height:0.1em; margin:10px 0 20px;"><span style="padding:0 10px; background: #f5f5f5;">Periodo académico a matricular</span></h6>
                <h5>{{ periodo_destino.nombre }} - [{% if periodo_destino.activo %} <span class="label label-success">Activo</span> {% else %} <span class="label label-important">Inactivo</span> {% endif %}] - [<span class="label label-info">{{ periodo_destino.tipo.nombre }}</span>]</h5>
                <h5>Fecha Inicio: {{ periodo_destino.inicio|date:"d-m-Y" }} - Fecha Fin: {{ periodo_destino.fin|date:"d-m-Y" }}</h5>
                <h5>Inicio agregaciones: {{ periodo_destino.inicio_agregacion|date:"d-m-Y" }} - Limite agregaciones: {{ periodo_destino.limite_agregacion|date:"d-m-Y" }} - Limite retiro: {{ periodo_destino.limite_retiro|date:"d-m-Y" }}</h5>

            {% endif %}
            <hr noshade="noshade" style="clear: both; color: #0c0c0c; height: 4px; width: 100%; align-content: center" />
            {% if matriculados %}
                <a href="javascript:;" class='btn btn-success action-gear'><span class="fa fa-gears" ></span> Matricular masivamente</a>
            {% endif %}
        </div>
        <div class="span4">
            <table class='table table-hover personal-task'>
                <thead>
                <tr>
                    <th colspan="2" style="text-align: left">Datos</th>
                </tr>
                </thead>
                <tbody style="font-weight: bold">
                <tr>
                    <td><i class="fa fa-book"></i> Total matriculados ({{ periodo_origen.nombre }})</td>
                    <td style="text-align: center;">{{ total_matriculado_pa }}</td>
                </tr>
                {% if periodo_destino %}
                    <tr>
                        <td><i class="fa fa-book"></i> Total matriculados ({{ periodo_destino.nombre }})</td>
                        <td style="text-align: center;">{{ total_matriculado_pd }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="panel panel-sga" id="panel_filter">
                <div class="panel-heading">
                    <h3 class="panel-title">Filtro</h3>
                </div>
                <div class="panel-body" style="display: block;">
                    <div class="row-fluid">
                        <div class="span3"><b>Periodo a matricular:</b></div>
                        <div class="span9">
                            <select id="periodos_list" class="periodos_list" style="width: 100%">
                                <option selected="selected" value="0">-------------</option>
                                {% for p in periodo_todos %}
                                    <option  {% if p.id == periodo_destino.id %}selected{% endif %} value="{{ p.id }}">{{ p }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><b>Carrera a matricular:</b></div>
                        <div class="span9">
                            <select id="carreras_list" class="carreras_list" style="width: 100%">
                                <option selected="selected" value="0">-------------</option>
                                {% for c in carrera_todos %}
                                    <option  {% if c.id == carrera.id %}selected{% endif %} value="{{ c.id }}">{{ c }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><b>Nivel malla origen:</b></div>
                        <div class="span9">
                            <select id="niveles_malla_origen_list" class="niveles_malla_origen_list" style="width: 100%">
                                <option selected="selected" value="0">-------------</option>
                                {% for n in niveles_malla %}
                                    <option  {% if n.id == nivel_malla_origen.id %}selected{% endif %} value="{{ n.id }}">{{ n }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><b>Nivel malla destino:</b></div>
                        <div class="span9">
                            <select id="niveles_malla_destino_list" class="niveles_malla_destino_list" style="width: 100%">
                                <option selected="selected" value="0">-------------</option>
                                {% for n in niveles_malla %}
                                    <option  {% if n.id == nivel_malla_destino.id %}selected{% endif %} value="{{ n.id }}">{{ n }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="no-more-tables"><!-- inicio no more tables-->
        <div class='row-fluid'>
            <div class='span12'>
                <table class='table table-bordered table-striped'>
                    <thead>
                    <tr>
                        <th style="width: 5%; text-align: center">#</th>
                        <th style="width: 5%; text-align: center">ID Matricula</th>
                        <th style="width: 20%;text-align: center">Alumno</th>
                        <th style="width: 30%;text-align: center">Periodo académico ({{ periodo_origen.nombre }})</th>
                        <th style="width: 30%;text-align: center">Periodo académico ({% if periodo_destino %}{{ periodo_destino.nombre }}{% else %}-{% endif %})</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for matricula in matriculados %}
                        <tr>
                            <td style="text-align: center; vertical-align: middle">{{ forloop.counter }}</td>
                            <td style="text-align: center; vertical-align: middle">{{ matricula.id }}</td>
                            <td style="text-align: left; vertical-align: middle">
                                {{ matricula.inscripcion.persona }}
                                {% if matricula.inscripcion.persona.tipo_documento %}
                                    <br>
                                    <b>Tipo de documento:</b> {{ matricula.inscripcion.persona.tipo_documento }}
                                {% endif %}
                                {% if matricula.inscripcion.persona.documento %}
                                    <br>
                                    <b>Documento:</b> {{ matricula.inscripcion.persona.documento }}
                                {% endif %}
                                {% if matricula.inscripcion.carrera %}
                                    <br>
                                    <b>Carrera:</b> {{ matricula.inscripcion.carrera }}
                                {% endif %}
                            </td>
                            <td>
                                <table class="table table-hover personal-task">
                                    <thead>
                                    <tr>
                                        <th style="width: 10%; text-align: center; vertical-align: middle">ID</th>
                                        <th style="width: 70%; text-align: center; vertical-align: middle">Materia</th>
                                        <th style="width: 20%; text-align: center; vertical-align: middle">Paralelo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ma in matricula.materias %}
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle">{{ ma.id }}</td>
                                            <td style="text-align: left; vertical-align: middle">{{ ma.materia.nombre_completo }}-{{ ma.materia.nivel.paralelo }}</td>
                                            <td style="text-align: center; vertical-align: middle">{{ ma.materia.paralelo }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="3" style="text-align: center; vertical-align: middle">No existe registros</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                {% with materias=matricula|args:periodo_destino|args:nivel_malla_destino|call:'disponibilidad_materias_periodo_siguiente' %}
                                    {% if materias %}
                                        <table class="table table-hover personal-task">
                                            <thead>
                                            <tr>
                                                <th style="width: 10%; text-align: center; vertical-align: middle">ID</th>
                                                <th style="width: 60%; text-align: center; vertical-align: middle">Materia</th>
                                                <th style="width: 20%; text-align: center; vertical-align: middle">Paralelo</th>
                                                <th style="width: 10%; text-align: center; vertical-align: middle"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for m in materias %}
                                                <tr>
                                                    <td style="text-align: center; vertical-align: middle">{{ m.id }}</td>
                                                    <td style="text-align: left; vertical-align: middle">{{ m.nombre_completo }}-{{ m.nivel.paralelo }}</td>
                                                    <td style="text-align: center; vertical-align: middle">{{ m.paralelo }}</td>
                                                    <td style="text-align: center; vertical-align: middle">
                                                        <input type="checkbox" name="materia_id_{{ m.id }}" idmateria="{{ m.id }}" idinscripcion="{{ matricula.inscripcion.id }}"  class="matricular" disabled="disabled" checked="checked">
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <span class="label label-important">DISTRIBUTIVO NO CONFIGURADO CORRECTAMENTE</span>
                                    {% endif %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">No existen registros</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
