<thead>
<tr>
    <th>Integrante de familia</th>
    <th style="width: 100px"></th>
</tr>
</thead>
<tbody>
{% for permifamilia in permisofamilia %}
     <tr>
         <td style="vertical-align: middle;">{{ permifamilia.integrantefamilia }}</td>
         {% if permifamilia.utilizado_permiso_inst %}
             <td style="vertical-align: middle;text-align: center;"><i class="fa fa-ban" style="color: red"></i></td>
         {% else %}
             <td style="vertical-align: middle;text-align: center;"><a href="javascript:;" idi='{{ permifamilia.integrantefamilia.id }}' id="vincularfamilia_{{ permifamilia.integrantefamilia.id }}" class="vincularfamilia"><i class="fa fa-check"  style="color: darkgreen"></i></a></td>
         {% endif %}
     </tr>
{% endfor %}
{% for intfamilia in integrantesfamilia %}
    <tr>
     <td style="vertical-align: middle;">{{ intfamilia}}</td>
     <td style="vertical-align: middle;text-align: center;"><a href="javascript:;" idi='{{ intfamilia.id }}' id="vincularfamilia_{{ intfamilia.id}}" class="vincularfamilia"><i class="fa fa-remove" style="color: red"></i></a></td>
    </tr>
{% endfor %}
</tbody>