{% extends "base.html" %}
{% load humanize %}
{% block heading %}
    <script type="text/javascript">
        $(function() {
           $(".tl").tooltip({position:"center up"});
        });
    </script>
{% endblock %}
{% block atras %}/{% endblock %}
{% block canvas %}
    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3 class="texto-blue">{{ title }}</h3>
                <h6>Administración de cronograma</h6>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class='row mb-3'>
            <div class="col-sm-6">
                <a class="btn  btn-success" href="/adm_capdocenteperiodo?action=addperiodo"><i class="fa fa-plus"></i> Adicionar</a>
            </div>
        </div>
            <div class="card mb-4">
                <div class="card-body border-6 rounded-3">
                    <div class='row'>
                    <div class='col-sm-12'>
                        <table class='table table_primary tabla_responsive'>
                            <thead>
                            <tr>
                                <th style="width: 70px; text-align: center">Tipo</th>
                                <th style="width: 430px; text-align: center">Descripcion</th>
                                <th style="width: 40px; text-align:center ">Ins.</th>
                                <th style="width:80px;text-align: center">Inicio / Fin Convocatoria</th>
                                <th style="width:50px;text-align: center">Monto</th>
                                <th style="width:80px;text-align: center">Inicio / Fin Capac.</th>
                                <th style="width:80px;text-align: center">Modelo Informe</th>
                                <th style="width: 80px; text-align: center">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for per in periodo %}
                                    <tr>
                                        <td style="text-align: center">
                                            <b class="text-{% if per.tipo == 1 %}info{% else %}warning{% endif %}">{{ per.get_tipo_display }}</b>
                                        </td>
                                        <td>{{ per.descripcion}}</td>
                                         <td style="text-align: right">
                                             <b class="text-info">{{ per.contar_inscripcion_periodo}}</b>
                                         </td>
                                        <td style="text-align: center">{{ per.inicio|date:"d-m-Y"}}<br>{{ per.fin|date:"d-m-Y" }}</td>
                                        <td style="text-align: center">$ {{ per.monto }}</td>
                                        <td style="text-align: center">
                                            {% if per.iniciocapacitacion %}
                                                {{ per.iniciocapacitacion|date:"d-m-Y"}}<br>{{ per.fincapacitacion|date:"d-m-Y" }}
                                            {% endif %}
                                        </td>
                                        <td style="text-align: center">
                                            {% if per.modeloinforme %}
                                                <a target="_blank" href="{{ per.modeloinforme.url }}" class="btn btn-success"><i class="fa fa-download"></i> Descargar</a>
                                            {% endif %}
                                        </td>

                                        <td style="text-align: center">
                                            <div class="btn-group dropleft">
                                                <button class="btn-icon btn btn-ghost btn-sm rounded-circle dropdown-toggle"
                                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </button>
                                                <ul class="dropdown-menu" x-placement="right-start">
                                                    <li class="dropdown-item"><a href="/adm_capdocenteperiodo?action=editperiodo&id={{ per.id }}"><span class="fa fa-edit "></span> Editar</a></li>
                                                    {#                                    {% if not per.puede_eliminar_planificacion_evento %}#}
                                                    {% if per.contar_inscripcion_periodo == 0 %}
                                                        <li class="dropdown-item"><a href="javascript:;" nhref="/adm_capdocenteperiodo?action=delperiodo&id={{ per.id }}" class="eliminacionmodal"><i class="fa fa-remove"></i> Eliminar</a></li>
                                                    {% endif %}
                                                    <li class="dropdown-item"><a href="/adm_capdocenteperiodo?action=participantes&id={{ per.id }}&fase={{ fase }}"><i class="fa fa-list-ul"></i> Participantes</a></li>
                                                </ul>
                                            </div>

                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="8">NO EXISTEN CRONOGRAMAS DE CAPACITACIONES</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
    </div>

{% endblock %}

