{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_tema, #id_nombre,#id_descripcion, #id_tiporecurso").addClass("validate[required]");
            $("#id_nombre").css({'text-transform': 'none'});
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}/niveles?action=planclasevirtual&silaboid={{ codigosemana.silabo.id|encrypt }}&idmalla={{ idmallavirtual|encrypt }}{% endblock %}
{% block formaction %}/niveles{% endblock %}
{% block formdestination %}/niveles?action=planclasevirtual&silaboid={{ codigosemana.silabo.id|encrypt }}&idmalla={{ idmallavirtual|encrypt }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addsemanasilaborecurso'/>
    <input type='hidden' name='id' value='{{ codigosemana.id|encrypt }}'/>
{% endblock %}
{% block formback %}/niveles?action=planclasevirtual&silaboid={{ codigosemana.silabo.id|encrypt }}&idmalla={{ idmallavirtual|encrypt }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}