<div class='row-fluid' style="height: 375px; overflow-y: scroll">
    <div class='span12'>
        {% if conflicto_horario.lista_conflicto_profesor %}
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th colspan="8">Conflicto con profesores</th>
                    </tr>
                <tr>
                    <th>Materia</th>
                    <th>Carrera</th>
                    <th>Nivel</th>
                    <th style="text-align: center">Paralelo</th>
                    <th>Profesor</th>
                    <th style="text-align: center">Fecha</th>
                    <th>Turno</th>
                </tr>
                </thead>
                <tbody>
                {% for conflictoprofesor in conflicto_horario.lista_conflicto_profesor %}
                    {% for conflictohorarios in conflictoprofesor.1 %}
                        <tr>
                            <td>{{ conflictohorarios.materia.asignatura }}</td>
                            <td>{{ conflictohorarios.materia.asignaturamalla.malla.carrera.nombre }}</td>
                            <td>{{ conflictohorarios.materia.asignaturamalla.nivelmalla }}</td>
                            <td style="text-align: center">{{ conflictohorarios.materia.paralelo }}</td>
                            <td>{{ conflictoprofesor.0.persona.nombre_completo_inverso }}</td>
                            <td style="text-align: center">{{ conflictohorarios.fecha|date:'d-m-Y' }}</td>
                            <td>{{ conflictohorarios.turno.nombre_horario }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if conflicto_horario.conflicto_materias_curso %}
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th colspan="8">Conflicto con materias del curso</th>
                    </tr>
                <tr>
                    <th>Materia</th>
                    <th>Carrera</th>
                    <th>Nivel</th>
                    <th style="text-align: center">Paralelo</th>
                    <th style="text-align: center">Fecha</th>
                    <th>Turno</th>
                </tr>
                </thead>
                <tbody>
                {% for conflicto_materias in conflicto_horario.conflicto_materias_curso %}
                    <tr>
                        <td>{{ conflicto_materias.materia.asignatura }}</td>
                        <td>{{ conflicto_materias.materia.asignaturamalla.malla.carrera }}</td>
                        <td>{{ conflicto_materias.materia.asignaturamalla.nivelmalla }}</td>
                        <td style="text-align: center">{{ conflicto_materias.materia.paralelo }}</td>
                        <td style="text-align: center">{{ conflicto_materias.fecha|date:'d-m-Y' }}</td>
                        <td>{{ conflicto_materias.turno.nombre_horario }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>