{% extends "basepse.html" %}
{% load sga_extras %}
{% block atras %}/{% endblock %}
{% block heading %}
    <script src="/static/adicionalesjs/formquestionb4.js?0.25"></script>
    <script type="text/javascript">
        $(function () {
        });
    </script>
{% endblock %}
{% block canvas %}
    <div class="container-fluid">
        <div class="form-row mb-3">
            <div class="mb-0 border-left-3 border-warning lh-15">
                <h3 class="ml-2 my-0">{{ title }}</h3>
                <p class="ml-2 my-0 text-muted">Listado de actas disponibles para legalizar</p>
            </div>
        </div>
        <form method="GET" class="form-row justify-content-end mb-1">
            <div class="col-md-8 col-sm-12 py-1 d-flex align-items-center">
                <div class="btn-group">
                    <a class="btn btn-cian-opacity"
                       href="javascript:void(0);"
                        onclick="formModalBase('','Firmar actas masivamente','firmaractamasiva','','modal-md')">
                        <i class="fa fa-signature"></i> Firma masiva
                    </a>
                    {% if request.user.is_superuser %}
                        <a class="btn btn-primary-old"
                           href="javascript:void(0);"
                            onclick="eliminarajax('','Recalcular actas',
                                                'recalcularestado','{{ request.path }}',
                                                'Estas por recalcular estado de todas las actas')">
                            <i class="fa fa-refresh"></i> Recalcular estados
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 col-sm-12 py-1">
{#                <div class="input-group">#}
{#                    <input type="hidden" name="action" value="listaractas">#}
{#                    <input type="hidden" name="id" value="{{ convocatoria.id|encrypt }}">#}
{#                    <input type="text" class="form-control" placeholder="Código o Título acta"#}
{#                           aria-label="Buscar"#}
{#                           aria-describedby="button-addon3" name="s" value="">#}
{#                    <div class="input-group-append">#}
{#                        <button class="btn btn-primary" type="submit" id="button-addon3"><i#}
{#                                class="fa fa-search"></i></button>#}
{#                        {% if url_vars %}#}
{#                            <a title="Ver todo" href="{{ request.path }}?action=listaractas{{ url_vars }}" class="btn btn-default">#}
{#                                <i class="fas fa-sync-alt"></i>#}
{#                            </a>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
            </div>
        </form>
    </div>

    <div class="card card-primary card-outline">
        <div class="card-body">
            <table class="tabla_responsive table table-bordered table-td-valign-middle">
                <thead class="thead-light">
                <tr>
                    <th style="text-align: center;width: 3%">N°</th>
                    <th>Detalle de acta</th>
                    <th style="width: 33%">Responsables</th>
                    <th style="text-align: center;width: 15%">Acta</th>
                    <th class="text-center" width="10%">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for acta in listado %}
                    <tr>
                        <td class="text-center align-middle">{% contador_lista page forloop.counter %}</td>
                        <td class="align-middle">
                            <h5 title="Acta" data-toggle="tooltip" class="mb-1">{{ acta.get_tipo_display }} ({{ acta.get_tipotribunal_display|title2 }})</h5>
                            <p title="Partida" data-toggle="tooltip">
                                <i class="fa fa-business-time"></i>({{ acta.partida.codpartida }}) {{ acta.partida.denominacionpuesto|title2 }}
                            </p>
                            {% if acta.partida.carrera %}
                                <p title="Carrera" data-toggle="tooltip">
                                    <i class="fa fa-graduation-cap"></i> {{ acta.partida.carrera|title2 }}
                                </p>
                            {% endif %}
                        </td>
                        <td>
                            {% for r in acta.responsables %}
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="arrow-content">
                                            <i class="arrow-item"></i>
                                            <div class="arrow-text">
                                                <p class="lh-15">
                                                    {{ r.persona.nombre_completo_minus }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        {% with puede_firmar=acta|args:r.persona|call:'puede_firmar' %}
                                            <p>
                                                {% if not puede_firmar %}
                                                    <span class="text-success"><i class="fa fa-signature"></i> Firmado</span>
                                                {% else %}
                                                    <span class="text-muted"><i class="fa fa-clock-o"></i> Pendiente</span>
                                                {% endif %}
                                            </p>
                                        {% endwith %}
                                    </div>
                                </div>
                            {% endfor %}
                        </td>
                        <td class="text-center align-middle">
                            <a href="{{ acta.get_documento.url }}"
                                   class="btn {{ acta.btn_estado }} rounded-pill fs-5"
                                    title="Visualizar acta"
                                   data-bs-toggle="tooltip"
                                   data-width="3048" data-height="1380"
                                   data-fancybox="acta_{{ acta.id }}"
                                   data-caption="{{ acta }}">
                                    {{ acta.get_estado_display }} | <img src="/static/logos/editar_posgrado.svg"
                                                                      width="20px" height="20px">
                                </a>
                        </td>
                        <td class="text-center align-middle">
                            <div class="dropbottom">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cogs"></i>
                                </button>
                                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    {% with puede_firmar=acta|args:persona|call:'puede_firmar' %}
                                        {% if puede_firmar %}
                                            <a class="dropdown-item" href="javascript:void(0);" onclick="formModalBase('{{ acta.id|encrypt }}','{{ acta }}','firmaracta','','modal-md')" title="Firmar acta"><i class="fa fa-signature"></i> Firmar acta</a>
                                        {% endif %}
                                    {% endwith %}
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="formModalBase('{{ acta.id|encrypt }}','{{ acta }}','historialfirmas')" title="Detalles"><i class="fa fa-clock-o"></i> Historial de actas</a>
                                    {% if request.user.is_superuser %}
                                        <a class="dropdown-item" href="javascript:void(0);" onclick="eliminarajax('{{ acta.id|encrypt }}','{{ acta }}','delacta')"><i class="fa fa-trash-o"></i> Eliminar</a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- paginacion  -->
            {% include 'paginacionb4.html' %}
            <!-- final de la paginacion  -->
            <hr>
            <label>Total Registros: {{ list_count }}</label>
        </div>
    </div>
{% endblock %}