{% extends "base.html" %}
{% load humanize %}
{% block heading %}
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css?v=1.0.0" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v=1.0.0"></script>
    <script type="text/javascript">
        $(function() {
            $(".tl").tooltip({position:"center up"});

        });
    </script>
{% endblock %}
{% block atras %}/mallas?action=procedimientoeva{% endblock %}
{% block canvas %}

    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3 class="texto-blue">{{ title }}</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class='row'>
            <div class="col-lg-6 col-md-4 col-12">
                <a class="btn btn-primary " href="/mallas?action=adddetprocedimento&id={{ cabprocedimiento }}"><i class="fa fa-plus"></i> Adicionar</a>

            </div>


        </div>
        <div class='card mb-4'>
        <div class='card-body border-top border-6 rounded-3 border-dark-info'>
            <table class='tabla_responsive table table-bordered table-striped'>
                <thead>
                <tr>
                    <th style="width: 30px;text-align: center" >Referente</th>
                    <th style="width: 30px;text-align: center" >Porcentaje</th>
                    <th style="width: 30px;text-align: center" >Calificación</th>
                    <th style="width: 30px;text-align: center" >Descripción</th>
                    <th style="width: 30px;text-align: center" >Artículo</th>
                    <th style="width: 60px; text-align: center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for detp in detprocedimientos %}
                    <tr>

                        <td>{{ detp.referente }}</td>
                        <td>{{ detp.porcentaje }}</td>
                        <td>{{ detp.calificacion }}</td>
                        <td>{{ detp.descripcion }}</td>
                        <td>{{ detp.articulo }}</td>

                        <td style="text-align: center">
                            <div class="btn-group dropleft" >
                                <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Acciones <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" x-placement="right-start">
                                    <li class="dropdown-item"><a href="/mallas?action=editdetalleproce&id={{ detp.id }}"><i class="fa fa-edit"></i> Editar</a></li>

                                    <li><a class="dropdown-item" href="javascript:;"  title="Eliminar" onclick="eliminarajax('{{ detp.id }}', '', 'deldetalleprocedimiento')">
                                                            <span class="fa fa-trash"></span> Eliminar</a></li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10">NO EXISTEN FICHAS REGISTRADAS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer border-top-0">
            {% include 'paginacionb4.html' %}
        </div>
    </div>
    </div>





{% endblock %}

