{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
             $("#id_nombre,#id_itinerario").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block atras %}/mallas?action=listaitinerariosespecialidad&id={{ itinerarioespecial.malla.id|encrypt }}{% endblock %}
{% block formdestination %}/mallas?action=listaitinerariosespecialidad&id={{ itinerarioespecial.malla.id|encrypt }}{% endblock %}
{% block titulo %}{{ title }} <br> {{ itinerarioespecial.malla }}{% endblock %}
{% block formaction %}/mallas{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='edititinerarioespecial'/>
    <input type="hidden" name='id' value='{{ itinerarioespecial.id|encrypt }}'/>
{% endblock %}
{% block formback %}/mallas?action=listaitinerariosespecialidad&id={{ itinerarioespecial.malla.id|encrypt }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}