{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_archivo").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }} {{ tema }}
    {% if tema.archivo %}
        <a target="_blank" href="media/{{ tema.archivo }}" class="btn btn-success btn-mini"><i class="fa fa-arrow-down"></i> Descargar</a>
    {% endif %}
{% endblock %}
{% block atras %}/mallas?action=editprogramanalitico&id={{ idprogramanalitico|encrypt }}{% endblock %}
{% block formaction %}/mallas{% endblock %}
{% block formdestination %}/mallas?action=editprogramanalitico&id={{ idprogramanalitico|encrypt }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editarchivosilabotema'/>
    <input type='hidden' name='id' value='{{ tema.id|encrypt }}'/>
{% endblock %}
{% block formback %}/mallas?action=editprogramanalitico&id={{ idprogramanalitico|encrypt }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}