{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
{% block atras %}/mallas?action=edit&id={{ eAsignaturaMalla.malla.id|encrypt }}{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
            <h5>Asignatura Malla: {{ malla }}</h5>
        </div>
    </div>
    {% if eAsignaturaMalla.malla.cerrado %}
        <div class='alert alert-danger'>
            <h5>¡IMPORTANTE!</h5>
            Malla se encuentra cerrada
        </div>
    {% endif %}
    {% if puede_modificar_mallas %}
        <div class='row-fluid'>
            <div class='span12'>
                <a href="/mallas?action=addintegracioncurricular&id={{ eAsignaturaMalla.id|encrypt }}" class='btn btn-success'><span class="fa fa-plus "></span> Adicionar</a>
            </div>
        </div>
    {% endif %}
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' >
                <thead>
                <tr>
                    <th style="text-align: center">Orden</th>
                    <th style="text-align: center">Requisito</th>
                    <th style="text-align: center">Estado</th>
                    <th style="text-align: center">Obligatorio</th>
                    <th style="text-align: center">Matriculación en línea</th>
                    <th style="width: 90px;"></th>
                </tr>
                </thead>
                {% if integracioncurricular %}
                    <tbody>
                    {% for integra in integracioncurricular %}
                        <tr>
                            <td style="text-align: center"> {{ integra.orden }}</td>
                            <td><a href="/mallas?action=editintegracioncurricular&id={{ integra.id|encrypt }}"></a> {{ integra.requisito.nombre }}</td>
                            {#                            <td> {{ integra.requisito.nombre_funcion }}</td>#}
                            <td style="text-align: center">
                                {% if integra.activo %}
                                    <span style="text-align: center" class="badge badge-success text-center">ACTIVO</span>
                                {% else %}
                                    <span style="text-align: center" class="badge badge-warning text-center">INACTIVO</span>
                                {% endif %}
                            </td>
                            <td style="text-align: center">
                                {% if integra.obligatorio %}
                                    <span style="text-align: center" class="badge badge-info">SI</span>
                                {% else %}
                                    <span style="text-align: center" class="badge badge-gray ">NO</span>
                                {% endif %}
                            </td>
                            <td style="text-align: center">
                                {% if integra.enlineamatriculacion %}
                                    <span style="text-align: center" class="badge badge-info">SI</span>
                                {% else %}
                                    <span style="text-align: center" class="badge badge-gray ">NO</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if puede_modificar_mallas %}
                                    <div class="btn-group">
                                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span></a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="/mallas?action=editintegracioncurricular&id={{ integra.id|encrypt }}"><span class="fa fa-edit" ></span> Editar</a>
                                            <li><a class="eliminacionmodal" href="javascript:;" nhref="/mallas?action=delintegracioncurricular&id={{ integra.id|encrypt }}"><span class="fa fa-remove" ></span> Eliminar</a>
                                        </ul>
                                    </div>
                                {% endif %}

                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <tfoot>
                    <tr>
                        <td colspan="6">NO TIENE REQUISITOS INGRESO UNIDAD INTEGRACIÓN CURRICULAR...</td>
                    </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
