{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
             $("#id_areaconocimiento,#id_subareaconocimiento,#id_subareaespecificaconocimiento, #id_codigokoha, #id_nombre, #id_autor, #id_aniopublicacion, #id_editorial, #id_cantidad, #id_ciudad, #id_coordinacion, #id_carrera, #id_hilera, #id_titulo, #id_codigoisbn, #id_idioma, #id_tipo").addClass("validate[required]");
            $('#id_codigokoha,#id_aniopublicacion,#id_cantidad').blur(function(){
                numerico($(this),0,0,0);
            });
            $('#id_coordinacion').change(function () {
                var id = $(this).val();
                $.post("/librosbiblioteca", {'action': 'carreras', "id": id}, function(data){
                    $.unblockUI();
                    if (data.result=='ok'){
                        $('#id_carrera').empty().append('<option value="">---------</option>').val(0).trigger("change");
                        for (elemento in data.lista) {
                            $('#id_carrera').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                        }
                    }else{
                        smoke.alert(data.mensaje);
                    }
                }, "json" );
            });
            $('#id_areaconocimiento').change(function(){
                $('#id_subareaconocimiento, #id_subareaespecificaconocimiento').empty().append('<option value="">---------</option>').val(0).trigger("change");
                var control = $(this);
                var id = parseInt($("#id_areaconocimiento").val());
                if (id > 0) {
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/api",
                        data: {'a': 'subareaconocimiento', 'id': id},
                        success: function (data) {
                            $.unblockUI();
                            if (data.result == 'ok') {
                                for (elemento in data.lista) {
                                    $('#id_subareaconocimiento').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                                }
                            } else {
                                control.val(0).trigger("change");
                                smoke.alert(data.mensaje);
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            control.val(0).trigger("change");
                            smoke.alert("Error de conexion.");
                        },
                        dataType: "json"
                    });
                }
            });

             $('#id_subareaconocimiento').change(function(){
                $('#id_subareaespecificaconocimiento').empty().append('<option value="">---------</option>').val(0).trigger("change");
                var control = $(this);
                var id = parseInt($("#id_subareaconocimiento").val());
                if (id > 0) {
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/api",
                        data: {'a': 'subareaespecificaconocimiento', 'id': id},
                        success: function (data) {
                            $.unblockUI();
                            if (data.result == 'ok') {
                                for (elemento in data.lista) {
                                    $('#id_subareaespecificaconocimiento').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                                }
                            } else {
                                control.val(0).trigger("change");
                                smoke.alert(data.mensaje);
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            control.val(0).trigger("change");
                            smoke.alert("Error de conexion.");
                        },
                        dataType: "json"
                    });
                }
            });
        });
    </script>
{% endblock %}
{% block atras %}/librosbiblioteca?id={{ libros.id }}{% endblock %}
{% block formdestination %}/librosbiblioteca?id={{ libros.id }}{% endblock %}
{% block titulo %}{{ title }}<br>{{ libros.nombre.upper }}{% endblock %}
{% block formaction %}/librosbiblioteca{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editarlibro'/>
    <input type="hidden" name='id' value='{{ libros.id }}'/>
{% endblock %}
{% block formback %}/librosbiblioteca?id={{ libros.id }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}