{% load humanize %}
{% load sga_extras %}
{% block extraheading %}
    <script>
        $(function(){
            $('[data-bs-toggle="tooltip"]').tooltip();

            $('[data-bs-toggle="tooltip"]').on('click', function () {
                $(this).tooltip('hide');
            });
        });
    </script>
{% endblock %}
<div class="table-responsive-xxl">
    <table class="table table-bordered pb-0 mb-0">
        <thead class="table-light">
            <tr>
                <th colspan="4">Datos del Informe</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 15%;"><b>Número:</b></td>
                <td style="width: 35%;">{{ informe.numero }}}</td>
                <td style="width: 15%;"><b>Fecha:</b></td>
                <td style="width: 35%;">{{ informe.fecha|date:"d-m-Y" }}</td>
            </tr>
            <tr>
                <td><b>Docente:</b></td>
                <td colspan="3">{{ informe.docente.profesor.persona.nombre_completo_inverso }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive-xxl">
    <label>Anexos Archivos:</label>
    <table class="table table-bordered table-striped mb-0" id="tbdetalleanexos">
        <thead class="table-light">
            <tr>
                <th style="width: 3%; text-align: center;">#</th>
                <th style="width: 67%; text-align: center;">Descripción</th>
                <th style="width: 13%; text-align: center;">Fecha Gen.</th>
                <th style="width: 10%; text-align: center;"># Páginas</th>
                <th style="width: 7%; text-align: center;">Archivo</th>
            </tr>
        </thead>
        <tbody id="detalle_anexos">
            {% for anexo in anexosarchivo %}
                <tr class="detalleanexos" id="filaanexo_{{ forloop.counter }}">
                    <td style="text-align: center">{{ forloop.counter }}</td>
                    <td class="text-justify">{{ anexo.descripcion }}</td>
                    <td class="text-center">{{ anexo.fechagenera|date:"d-m-Y" }}</td>
                    <td class="text-center">{{ anexo.numeropagina }}</td>
                    <td style="text-align: center;">
                        {% if anexo.tipo_accion == 'preview' %}
                            <a href="{{ anexo.archivo.url }}" class="btn btn-mini btn-info" data-width="2048" data-height="1380" data-fancybox="anexo{{ anexo.id }}" data-caption="Anexo: {{ anexo.descripcion }}" data-bs-toggle="tooltip" data-placement="top" title="Ver anexo"><i class="fa fa-eye"></i> </a>
                        {% else %}
                            <a href="{{ anexo.archivo.url }}" target="_blank" class="btn btn-mini btn-info"  data-bs-toggle="tooltip" data-placement="top" title="Descargar anexo"><i class="fa fa-download"></i> </a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr id="fila_default_anexo">
                    <td colspan="5" style="text-align: center">NO EXISTEN DETALLES DE ANEXOS TIPO ARCHIVO</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="table-responsive-xxl">
    <label>Anexos Enlaces:</label>
    <table class="table table-bordered table-striped mb-0" id="tbdetalleenlaces">
        <thead class="table-light">
            <tr>
                <th style="width: 3%; text-align: center;">#</th>
                <th style="width: 87%; text-align: center;">Descripción</th>
                <th style="width: 10%; text-align: center;">Enlace</th>
            </tr>
        </thead>
        <tbody id="detalle_enlaces">
            {% for anexo in anexosenlace %}
                <tr class="detalleenlaces" id="filaenlace_{{ forloop.counter }}">
                    <td style="text-align: center">{{ forloop.counter }}</td>
                    <td class="text-justify">{{ anexo.descripcion }}</td>
                    <td style="text-align: center;">
                        <a href="{{ anexo.url }}" target="_blank" class="btn btn-mini btn-info" data-bs-toggle="tooltip" data-placement="top" title="Ir a enlace"><i class="fa fa-external-link-square"></i> </a>
                    </td>
                </tr>
            {% empty %}
                <tr id="fila_default_enlace">
                    <td colspan="3" style="text-align: center">NO EXISTEN DETALLES DE ANEXOS TIPO ENLACE</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>