{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script src="/static/js/highcharts.js"></script>
    <script src="/static/js/exporting.js"></script>
    <script src="/static/js/data.js"></script>
    {#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
{#    <script src="/static/js/jquery.table2excel.js"></script>#}
    <script type="text/javascript">

        $(function () {

            $(".descargarexcel").click(function () {
            });

            $(".detalleactivo").click(function () {
                var id = $(this).attr("cid");
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/af_activofijo",
                    data: {'action': 'detalle_activo', 'id': id},
                    success: function (data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $("#detalleactivomodal_body").html(data.html);
                            $("#detalleactivomodal").modal({"backdrop": "static", "width": "1000px"}).modal("show");
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
                return false;
            });
            $("#detalleactivomodal_aceptar").click(function () {
                $("#detalleactivomodal").modal("hide");
            });
            $(".detallemantenimiento").click(function () {
                var id = $(this).attr("idact");
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/af_activofijo",
                    data: {'action': 'detalle_mantenimiento', 'id': id},
                    success: function (data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $("#detalleactivomantenimientomodal_body").html(data.html);
                            $("#detalleactivomantenimientomodal").modal({
                                "backdrop": "static",
                                "width": "1000px"
                            }).modal("show");
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
                return false;
            });
            $("#detalleactivomantenimientomodal_aceptar").click(function () {
                $("#detalleactivomantenimientomodal").modal("hide");
            });
            $("#detalledificiomodal_aceptar").click(function () {
                $("#detalledificiomodal").modal("hide");
            });

            var totalrojos = 0
            var totalverdes = 0
            var totalnaranjas = 0
            var totalazules = 0
            $(".rojos").each(function () {
                totalrojos = totalrojos + 1;
            });
            rojosPorcentaje = (totalrojos * 100) / {{ totales }}
                {#alert(totalrojos)#}
                $(".verdes").each(function () {
                    totalverdes = totalverdes + 1;
                });
            verdesProcentaje = (totalverdes * 100) / {{ totales }}
                {#alert(totalverdes)#}
                $(".naranjas").each(function () {
                    totalnaranjas = totalnaranjas + 1;
                });
            naranjasPorcentaje = (totalnaranjas * 100) / {{ totales }}
                $(".azules").each(function () {
                    totalazules = totalazules + 1;
                });
            azulesPorcentaje = (totalazules * 100) / {{ totales }}

                Highcharts.chart('containerpolitica', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        events: {
                            load: function () {
                                var label = this.renderer.label("<strong></strong> <strong>Baja (" + totalrojos + ") | Vigente (" + totalverdes + ") | Archivo baja (" + totalazules + ") | Proximo cumplir vida util (" + totalnaranjas + ")</strong> ")
                                    .css({
                                        width: '1500px',
                                        fontSize: '10px'
                                    })
                                    .attr({
                                        'stroke': 'silver',
                                        'stroke-width': 1,
                                        'r': 2,
                                        'padding': 5
                                    })
                                    .add();
                                label.align(Highcharts.extend(label.getBBox(), {
                                    align: 'center',
                                    x: 30,
                                    verticalAlign: 'bottom',
                                    y: 20
                                }), null, 'spacingBox');
                            }
                        },
                    },
                    credits: {
                        //desabilita el texto de la pagina de la grafica
                        enabled: false
                    },
                    title: {
                        text: 'Inventario Tecnológico ({{ totales }})',
                        color: '#FFAC33'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Porcentaje',
                        colorByPoint: true,
                        data: [


                            {
                                name: 'Cumple vida útil',
                                y: rojosPorcentaje,
                                color: "#b94a48"
                            },

                            {
                                name: 'Vigente',
                                y: verdesProcentaje,
                                color: "#468847"
                            },


                            {
                                name: 'Proximo cumplir vida util',
                                y: naranjasPorcentaje,
                                color: "#f89406"
                            },
                            {
                                name: 'Informe de baja',
                                y: azulesPorcentaje,
                                color: "#1C558B"
                            }


                        ]
                    }]
                });
            busqueda = function () {
                var codigo = $("#grupo_list").val();
                bloqueointerface();
                location.href = "/af_activofijo?action=chartinventariotecnologico&codigo=" + codigo;
            };

            $("#grupo_list").change(function () {
                busqueda();
            });

            $(".filterable tr:has(td)").each(function () {
                var t = $(this).text().toLowerCase();
                $("<td class='indexColumn'></td>").hide().text(t).appendTo(this);
            });

            $("#FilterTextBox").keyup(function () {
                var s = $(this).val().toLowerCase().split(" ");
                $(".filterable tr:hidden").show();
                $.each(s, function () {
                    $(".filterable tr:visible .indexColumn:not(:contains('" + this + "'))").parent().hide();
                });
                $(".filterable3 tr:hidden").show();
            });

            $(".filterable2 tr:has(td)").each(function () {
                var t = $(this).text().toLowerCase();
                $("<td class='indexColumn2'></td>").hide().text(t).appendTo(this);
            });

            $("#FilterTextBox2").keyup(function () {
                var s = $(this).val().toLowerCase().split(" ");
                $(".filterable2 tr:hidden").show();
                $.each(s, function () {
                    $(".filterable2 tr:visible .indexColumn2:not(:contains('" + this + "'))").parent().hide();
                });
            });

        });

    </script>
    <style>
        .factIva {
            font-family: Geneva, Arial, Helvetica, sans-serif;
            font-size: 12px;
            background-color: #FFFFFF;
            border: 1px solid #999999;
            border-bottom: 1px solid #CCCCCC;
        }

        .caja {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 8pt;
            text-decoration: none;
            color: #000000;
            font-weight: normal;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #CCCCCC;
            border-bottom: 0px solid #CCCCCC;
            border-left: 0px solid #CCCCCC;
            text-align: left;
        }

    </style>
    <script>

        function reporteinforme(tpreporte) {
            $('#id_action').val(tpreporte)
            valuelist_ = $('#grupo_list').val();
            $('#id_lista').val(valuelist_)
            $('#id_action').val(tpreporte)
            $("#repinforme").modal({backdrop: 'static', width: '600px'}).modal('show');
        }

        function repall() {
            var cadena = $("#grupo_list").val()
            var url = "/af_activofijo?action=excellistadoactivos&cadenatexto=" + cadena;
            $(location).attr('href', url);
        }

        function repallpdfactivotodos() {
            var cadena = $("#grupo_list").val()
            var url = "/af_activofijo?action=pdflistadoactivostodos&cadenatexto=" + cadena;
            $(location).attr('href', url);
        }

        function repallpdfbajatodos() {
            var cadena = $("#grupo_list").val()
            var url = "/af_activofijo?action=pdflistadoactivosinactiostodos&cadenatexto=" + cadena;
            $(location).attr('href', url);
        }
    </script>
{% endblock %}
{% block atras %}/af_activofijo?action=inventariotecnologico{% endblock %}
{% block canvas %}

    <div class="modal fade static" id="repinforme" style="display: none;">
        <div class="modal-header">
            <h4 class="paneltitle"><i class="fa fa-file-pdf-o"></i> Generación de Informes</h4>
        </div>
        <form method="GET" action="{{ request.path }}" target="_blank">
            <input type="hidden" name="action" value="" id="id_action">
            <input type="hidden" name="cadenatexto" value="" id="id_lista">
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span6">
                        <label for=""><b>Fecha Ingreso Desde:</b> <span class="text-error">*</span></label>
                        <input type="date" required name="fechadesde" id="id_fechadesde" width="100%"
                               class="form-control"
                               style="width: 100%">
                    </div>
                    <div class="span6">
                        <label for=""><b>Fecha Ingreso Hasta:</b> <span class="text-error">*</span></label>
                        <input type="date" required name="fechahasta" id="id_fechahasta" width="100%"
                               class="form-control"
                               style="width: 100%">
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: right">
                <button type="submit" class='btn btn-success'>
                    <span class="fa fa-download"></span> Generar
                </button>
                <a href="javascript:;" class="btn btn-default" data-dismiss="modal"><i class="fa fa-window-close"></i>
                    Cerrar</a>
            </div>
        </form>
    </div>


    <div class="span7" style="text-align: center;border: 1px solid #e3e3e3;padding: 5px;border-radius: 5px">
        <div class='row-fluid'>
            <div class='span10'>
                <form class="form-search">
                    <select id="grupo_list">
                        <option value="0">TODOS</option>
                        {% for grupo in grupocatalogo %}
                            <option {% if codigo == grupo.id %}selected{% endif %}
                                    value="{{ grupo.id }}">{{ grupo }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="btn-group">
                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                    <i class="fa fa-file-pdf"></i> Generar Informes <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pull-right list-group" style="text-align: left">
                    <li>
                        <a href='javascript:void(0)' onclick="repall()">
                            <i class="fa fa-file-excel-o"></i> Exportar a Excel <b>(Todos)</b>
                        </a>
                        <a href='javascript:void(0)' onclick="reporteinforme('excellistadoactivos')">
                            <i class="fa fa-file-excel-o"></i> Exportar a Excel <b>(Por Fechas)</b>
                        </a>
                        <a href='javascript:void(0)' onclick="reporteinforme('pdflistadoactivos')">
                            <i class="fa fa-file-pdf-o"></i> Informe de Activos <b>(Vigentes)</b>
                        </a>
                        <a href='javascript:void(0)' onclick="reporteinforme('pdflistadoactivosinactios')">
                            <i class="fa fa-file-pdf-o"></i> Informe de Activos <b>(Dados de baja)</b>
                        </a>
                        <a href='javascript:void(0)' onclick="repallpdfactivotodos('pdflistadoactivostodos')">
                            <i class="fa fa-file-pdf-o"></i> <b>Todos</b> Informe de Activos <b>(Vigentes)</b>
                        </a>
                        <a href='javascript:void(0)' onclick="repallpdfbajatodos('pdflistadoactivosinactiostodos')">
                            <i class="fa fa-file-pdf-o"></i> <b>Todos</b> Informe de Activos <b>(Dados de baja)</b>
                        </a>
                    </li>

                </ul>
            </div>
            <input type="search" style="text-transform: uppercase; margin-bottom: 0px" class="input-block-level"
                   id="FilterTextBox" name="FilterTextBox">
            <div style="height: 400px; overflow-y: scroll;">
                <table class="factIva filterable" id="example" width="100%">
                    <thead>
                    <tr>
                        <th style="text-align: center; width: 300px" class="caja">Descripción</th>
                        <th style="text-align: center; width: 50px" class="caja">Detalle</th>
                        <th style="text-align: center; width: 80px" class="caja">V.Util<br>(años)</th>
                        <th style="text-align: center; width: 80px" class="caja">T.Transcurrido<br>(meses)</th>
                        <th style="text-align: center; width: 80px" class="caja">Informe Baja</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for listado in listadocatalogo %}
                        <tr>
                            <td style="text-align: left" class="caja">
                                <div class="seleccionados" idsele="{{ listado.id }}">{{ listado.codigointerno }}
                                    - {{ listado }}</div>
                                <label class="label label-info tu">
                                    {{ listado.fechaingreso|date:"Y-m-d" }}
                                </label>
                                {{ listado.archivobaja }}
                            </td>
                            <td style="text-align: center" class="caja">
                                <a class="btn btn-info btn-mini detalleactivo tu" title="Detalles" href='javascript:;'
                                   cid="{{ listado.id }}"> <i class='fa fa-list'></i> </a>
                                {#                                <a class="btn btn-success btn-mini detallemantenimiento tu" title="Mantenimientos" href='javascript:;' idact="{{ listado.id }}"> <i class='fa fa-wrench'></i>-{{ listado.total_mantenimientos }} </a>#}
                            </td>
                            <td style="text-align: center" class="caja"> {{ listado.vidautil }}</td>
                            <td style="text-align: center" class="caja">

                                {% for rangos in rangosemaforo %}
                                    {% if rangos.anio == listado.vidautil and rangos.numeromesdesde <= listado.fechaingreso|sumarfecha and rangos.numeromeshasta >= listado.fechaingreso|sumarfecha %}
                                        {% if rangos.descripcion == 1 %}
                                            <label class="label label-success verdes">{{ listado.fechaingreso|sumarfecha }}</label>
                                        {% endif %}
                                        {% if rangos.descripcion == 2 %}
                                            <label class="label label-warning naranjas">{{ listado.fechaingreso|sumarfecha }}</label>
                                        {% endif %}
                                        {% if rangos.descripcion == 3 %}
                                            <label class="label label-important rojos">{{ listado.fechaingreso|sumarfecha }}</label>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                            </td>
                            <td style="text-align: center" class="caja">
                                {% if listado.existeinformebaja %}
                                    <label class="label label-inverse azules">SI</label>
                                {% else %}
                                    <label class="label label-info">NO</label>

                                {% endif %}

                            </td>
                        </tr>
                        <tr>
                            {% empty %}
                            <td colspan="8" style="text-align: center">NO TIENE SOLICITUDES</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="span5" style="text-align: center;border: 1px solid #e3e3e3;padding: 5px;border-radius: 5px">
        <div id="containerpolitica" style="min-width: 310px; height: 280px; max-width: 600px; margin: 0 auto">
        </div>
        <table class='factIva' width="100%">
            <thead>
            <tr>
                <th style="text-align: center; width: 50px" class="caja">Año</th>
                <th style="text-align: center; width: 300px" class="caja">Indicador</th>
                <th style="text-align: center; width: 80px" class="caja"># Mes desde</th>
                <th style="text-align: center; width: 80px" class="caja"># Mes hasta</th>
            </tr>
            </thead>
            <tbody>
            {% for rangos in rangosemaforo %}
                <tr>
                    <td style="text-align: center" class="caja">
                        {{ rangos.anio }}
                    </td>
                    <td style="text-align: left" class="caja">
                        {% if rangos.descripcion == 1 %}
                            <label class="label label-success">&nbsp;&nbsp;&nbsp;</label> VIGENTE
                        {% endif %}
                        {% if rangos.descripcion == 2 %}
                            <label class="label label-warning">&nbsp;&nbsp;&nbsp;</label> PRÓXIMO CUMPLIR VIDA ÚTIL
                        {% endif %}
                        {% if rangos.descripcion == 3 %}
                            <label class="label label-important">&nbsp;&nbsp;&nbsp;</label> CUMPLE VIDA ÚTIL
                        {% endif %}
                    </td>
                    <td style="text-align: center" class="caja">{{ rangos.numeromesdesde }}</td>
                    <td style="text-align: center" class="caja">
                        {% if rangos.numeromeshasta == 1000 %}
                            &infin;
                        {% else %}
                            {{ rangos.numeromeshasta }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    {% empty %}
                    <td colspan="8" style="text-align: center">NO TIENE INDICADOR</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade static" id="detalleactivomodal" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Detalles de activo</h3>
        </div>
        <div class="modal-body" id="detalleactivomodal_body"></div>
        <div class="modal-footer">
            <div style="float: right">
                <a href="javascript:;" id="detalleactivomodal_aceptar" class="btn btn-info btn-aceptar"> Aceptar</a>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="detalleactivomantenimientomodal" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Detalles de mantenimientos</h3>
        </div>
        <div class="modal-body" id="detalleactivomantenimientomodal_body"></div>
        <div class="modal-footer">
            <div style="float: right">
                <a href="javascript:;" id="detalleactivomantenimientomodal_aceptar" class="btn btn-info btn-aceptar">
                    Aceptar</a>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="detalledificiomodal" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Detalles Mantenimiento Preventivo</h3>
        </div>
        <div class="modal-body" id="detalledificiomodal_body"></div>
        <div class="modal-footer">
            <div style="float: right">
                <a href="javascript:;" id="detalledificiomodal_aceptar" class="btn btn-info btn-aceptar"> Aceptar</a>
            </div>
        </div>
    </div>
{% endblock %}
