{% load humanize %}
{#<table class="table table-bordered" style="font-size: 11px">#}
{#    <thead>#}
{#    <tr>#}
{#        <th style="width: 15%">Código del Bien:</th><td style="width: 20%">{{ edificio.codigobien }}</td>#}
{#        <th>Código del anterior:</th><td style="width: 25%">{{ edificio.codigoanterior }}</td>#}
{#        <th>Identificador:</th><td style="width: 20%">{{ edificio.identificador }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>Fecha de Ingreso:</th><td>{{ edificio.fechaingreso|date:"d-m-Y" }}</td>#}
{#        <th>Catalogo:</th><td>{{ edificio.catalogo }}</td>#}
{#        <th>Identificación:</th><td>{{ edificio.identificacion }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>Modelo/Cracteristica del Bien:</th><td colspan="5">{{ edificio.caracteristica}}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>Propietario Registrado en el Municipio:</th><td>{{ edificio.propietario}}</td>#}
{#        <th>Depresiable:</th><td>{% if edificio.depreciable %}<span class="btn btn-warning"> SI </span>{% else %}<span class="btn btn-danger"> NO </span>{% endif %}</td>#}
{#        <th>Fecha &Uacute;ltima Deprec.</th><td>{{ edificio.fechafindeprec|date:"d-m-Y" }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>Valor Residual</th><td>{{ edificio.valorresidual|floatformat:2|intcomma }}</td>#}
{#        <th>Valor Deprec. Acumulada: </th><td>{{ edificio.valordepreciacionacumulada|floatformat:2|intcomma }}</td>#}
{#        <th>Valor Deprec. Anual: </th><td>{{ edificio.valordepreciacionanual|floatformat:2|intcomma }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>Crítico:</th><td>{% if edificio.critico %}<span class="btn btn-warning"> SI </span>{% else %}<span class="btn btn-danger"> NO </span>{% endif %}</td>#}
{#        <th>Clave Catastral:</th><td>{{ edificio.clavecatastral }}</td>#}
{#        <th>Número de Predio:</th><td>{{ edificio.numeropredio }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>Numero de Escritura:</th><td>{{ edificio.numeroescritura }}</td>#}
{#        <th>Fecha de Escritura:</th><td>{{ edificio.fechaescritura|date:"d-m-Y" }}</td>#}
{#        <th>Notaria:</th><td>{{ edificio.notaria }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>Cuenta contable</th><td>{{ edificio.cuentacontable }}</td>#}
{#        <th>Responsable del Bien:</th><td>{{ edificio.responsable }}</td>#}
{#        <th>Custodio del Bien:</th><td>{{ edificio.custodio }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>Condición del Bien:</th><td>{{ edificio.condicionbien }}</td>#}
{#        <th>Estado del Bien:</th><td>{{ edificio.estadobien }}</td>#}
{#        <th>Vida Útil:</th><td>{{ edificio.vidautil }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>Área de Construcción:</th><td>{{ edificio.areaconstruccion }}</td>#}
{#        <th>Nuemro de Píso:</th><td>{{ edificio.numeropiso }}</td>#}
{#        <th>Valor Contable:</th><td>{{ edificio.valorcontable }}</td>#}
{#    </tr>#}
{#     <tr>#}
{#        <th>Observación Bien:</th><td colspan="5">{{ edificio.caracteristica}}</td>#}
{#    </tr>#}
{#    </thead>#}
{#</table>#}
<table class="table table-bordered" style="font-size: 11px">
    <thead>
    <tr>
        <td width="25px"><strong>Código del Bien:</strong> {{ edificio.codigobien }}</td>
        <td width="25px"><strong>Código del anterior:</strong> {{ edificio.codigoanterior }}</td>
        <td width="25px"><strong>Identificador:</strong> {{ edificio.identificador }}</td>
        <td width="25px"><strong>Fecha de Ingreso:</strong> {{ edificio.fechaingreso|date:"d-m-Y" }}</td>
    </tr>
    <tr>
        <td width="25px"><strong>Catalogo:</strong> {{ edificio.catalogo }}</td>
        <td width="25px"><strong>Identificación:</strong> {{ edificio.identificacion }}</td>
        <td colspan="2"><strong>Modelo/Cracteristica del Bien:</strong> {{ edificio.caracteristica}}</td>
    </tr>
    <tr>
        <td width="25px"><strong>Crítico:</strong> {% if edificio.critico %} SI {% else %} NO {% endif %}</td>
        <td width="25px"><strong>Clave Catastral:</strong> {{ edificio.clavecatastral }}</td>
        <td width="25px"><strong>Número de Predio:</strong> {{ edificio.numeropredio }}</td>
        <td width="25px"><strong>Numero de Escritura:</strong> {{ edificio.numeroescritura }}</td>
    </tr>
    <tr>
        <td width="25px"><strong>Fecha de Escritura:</strong> {{ edificio.fechaescritura|date:"d-m-Y" }}</td>
        <td width="25px"><strong>Área de Construcción:</strong> {{ edificio.areaconstruccion }}</td>
        <td colspan="2"><strong>Notaria:</strong> {{ edificio.notaria }}</td>
    </tr>
    <tr>
        <td colspan="4"><strong>Propietario Registrado en el Municipio:</strong> {{ edificio.propietario}}</td>
    </tr>
    <tr>
        <td colspan="2"><strong>Responsable del Bien:</strong> {{ edificio.responsable }}</td>
        <td colspan="2"><strong>Custodio del Bien:</strong> {{ edificio.custodio }}</td>
    </tr>
    <tr>
        <td width="25px"><strong>Nuemro de Píso:</strong> {{ edificio.numeropiso }}</td>
        <td width="25px"><strong>Condición del Bien:</strong> {{ edificio.condicionbien }}</td>
        <td width="25px"><strong>Estado del Bien:</strong> {{ edificio.estadobien }}</td>
        <td width="25px"><strong>Depresiable:</strong> {% if edificio.depreciable %} SI {% else %} NO {% endif %}</td>
    </tr>
    <tr>
        <td width="25px"><strong>Cuenta contable:</strong> {{ edificio.cuentacontable }}</td>
        <td width="25px"><strong>Valor Contable:</strong> {{ edificio.valorcontable }}</td>
        <td width="25px"><strong>Vida Útil:</strong> {{ edificio.vidautil }}</td>
        <td width="25px"><strong>Fecha Ultima Deprec.:</strong> {{ edificio.fechafindeprec|date:"d-m-Y" }}</td>
    </tr>
    <tr>
        <td width="25px"><strong>Valor Residual:</strong> {{ edificio.valorresidual|floatformat:2|intcomma }}</td>
        <td width="25px"><strong>Valor Libros:</strong> {{ edificio.valorlibros|floatformat:2|intcomma }}</td>
        <td width="25px"><strong>Valor Deprec. Acumulada:</strong> {{ edificio.valordepreciacionacumulada|floatformat:2|intcomma }}</td>
        <td width="25px"><strong>Valor Deprec. Anual:</strong> {{ edificio.valordepreciacionanual|floatformat:2|intcomma }}</td>
    </tr>
     <tr>
        <td colspan="4"><strong>Observación Bien:</strong> {{ edificio.caracteristica}}</td>
    </tr>
    </thead>
</table>