{% extends "ajaxformbs.html" %}
{% block atras %}/af_activofijo?action=garantiamantenimiento{% endblock %}
{% load humanize %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript" src='/static/js/select2.js?v=1.0.0' ></script>
    <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
    <script type="text/javascript">
        $(function(){
            $("#id_fechainicio, #id_fechafin").datepicker({format:"yyyy-mm-dd"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
            $("#id_valor,#id_fechainicio,#id_fechafin").addClass("validate[required]");
            $("#id_valor").blur(function(){
                numerico($(this), 0, 10000, 2);
            });
            ItemsDisplay = function (item) {
                if (item.name){
                    return $("<span class='listaactivos' idact="+ item.id+">" + item.name+ "</span>");
                }else{
                    return '';
                }
            };
            $("#id_activosfijo_select2").select2({
                {#placeholder: "---------",#}
                {#maximumInputLength: 10,#}
                width: '350px',
                multiple: false,
                allowClear: true,
                ajax: {
                    url: function (params) {
                        return "/reportes?action=data&model=ActivoFijo&p=1&s=10&q=" + params.term;
                    },
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                {#minimumInputLength: 1,#}
                tags:               true,
                templateResult: ItemsDisplay, // omitted for brevity, see the source of this page
                templateSelection: ItemsDisplay // omitted for brevity, see the source of this page
            }).on("select2:select", function (evt) {
                $("#id_activosfijo").attr({"value":(evt.params.data.id)});
            });

            {#$("#id_activofijo").attr({"value":(1)});#}
            {#ItemsDisplay = function (item) {#}
            {#    if (item.name) {#}
            {#        return $('<span>' + item.name + '</span>');#}
            {#    } else {#}
            {#        if ($("#id_activofijo").val() == 0) {#}
            {#            return '---------';#}
            {#        } else {#}
            {#            s= '<span>dfddddddddf</span>'#}
            {#            s+= '<span>dfddddddddf</span>'#}
            {#                        {% for detalle in detallemantenimiento %}#}
            {#return '{{ detalle.activofijo }}';#}
            {#            return $(s);#}
            {#return '<li class="select2-selection__choice" title=""><span class="select2-selection__choice__remove" role="presentation">×</span><span class="listaactivos" idact="33587">tertertetr </span></li>';#}
            {#                        {% endfor %}#}
            {#        }#}
            {#    }#}
            {# };#}


            {#$("#id_activofijo_select2").select2({#}
            {#    placeholder: "---------",#}
            {#    multiple: true,#}
            {#    allowClear: true,#}
            {#    ajax: {#}
            {#        url: function (params) {#}
            {#            return "/reportes?action=data&model=ActivoFijo&p=1&s=10&q=" + params.term;#}
            {#        },#}
            {#        dataType: 'json',#}
            {#        delay: 250,#}
            {#        data: function (params) {#}
            {#            return {#}
            {#                q: params.term,#}
            {#                page: params.page#}
            {#            };#}
            {#        },#}
            {#        processResults: function (data, params) {#}
            {#            params.page = params.page || 1;#}
            {#            return {#}
            {#                results: data.results,#}
            {#                pagination: {#}
            {#                    more: (params.page * 30) < data.total_count#}
            {#                }#}
            {#            };#}
            {#        },#}
            {#        cache: true#}
            {#    },#}
            {#initSelection: function(element, callback){#}
            {#    var preselected_ids = extract_preselected_ids(element);#}
            {#    var preselections = preselect(preselected_ids);#}
            {#    callback(preselections);#}
            {# },#}
            {#    callback({id: 1, text: 'initSelection test' });#}
            {# },#}
            {#    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work#}
            {#    minimumInputLength: 1,#}
            {#tags:["red", "green", "blue"],#}
            {#tags:                       true,#}
            {#    initSelection : function (element, callback) {#}
            {#        var obj= {id:1,text:'whatever value'};#}
            {#        callback(obj);#}
            {#    },#}
            {#    templateResult: ItemsDisplay, // omitted for brevity, see the source of this page#}
            {#    templateSelection: ItemsDisplay // omitted for brevity, see the source of this page#}
            {# }).on("select2:select", function (evt) {#}
            {#    $("#id_activofijo").attr({"value":(evt.params.data.id)});#}
            {# });#}


            $("#id_proveedor").attr({"value":({{ mangarantia.proveedor.id }})});
            ItemsDisplay2 = function (item) {
                if (item.name) {
                    return $('<span>' + item.name + '</span>');
                } else {
                    if ($("#id_proveedor").val() == 0) {
                        return '---------';
                    } else {
                        return '{{ mangarantia.proveedor }}';
                    }
                }
            };
            $("#id_proveedor_select2").select2({
                placeholder: "---------",
                allowClear: true,
                ajax: {
                    url: function (params) {
                        return "/reportes?action=data&model=Proveedor&p=1&s=10&q=" + params.term;
                    },
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;

                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: ItemsDisplay2, // omitted for brevity, see the source of this page
                templateSelection: ItemsDisplay2 // omitted for brevity, see the source of this page
            }).on("select2:select", function (evt) {
                $("#id_proveedor").attr({"value":(evt.params.data.id)});
            });
            $(".addactivo").click(function () {
                $(".itemspaneladicionar1").modal({backdrop:'static', width: '600px'}).modal('show');
            });
            $(".delactivo").click(function () {
                $("#nombreactivo").html($(this).attr('nameact'));
                var codigodetalle = $(this).attr('codigoact');
                $("#hidencodigodetalle").val(codigodetalle);
                $(".itemspaneldelete").modal({backdrop:'static', width: '900px'}).modal('show');
            });
            $(".itemspaneladicionar1 .cerrar1").click(function() {
                $(".itemspaneladicionar1").modal("hide");
            });
            $(".itemspaneldelete .cerraractivo").click(function() {
                $(".itemspaneldelete").modal("hide");
            });
            tipo_formulario($("#formulario3333"));
            $(".select2hidden").hide();

            $(".guardar1").click(function () {
                var codigoactivofijo = $("#id_activosfijo").val();
                if (codigoactivofijo==0){
                    smoke.alert('Ingrese Activo');
                    return false;
                }
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/af_activofijo",
                    data: {'action': 'addmanactivofijo', 'codigoactivofijo':codigoactivofijo, 'mangarantiaid': {{ mangarantia.id }} },
                    success: function (data) {

                        if (data.result == 'ok') {
                            location.reload();
                        }
                        else {
                            $.unblockUI();
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        smoke.alert("Error de conexion.");
                    },
                    dataType: "json"
                });
            });
            $(".eliminaractivo").click(function () {
                var hidencodigodetalle = $("#hidencodigodetalle").val();
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/af_activofijo",
                    data: {'action': 'delmanactivofijo', 'hidencodigodetalle':hidencodigodetalle },
                    success: function (data) {

                        if (data.result == 'ok') {
                            location.reload();
                        }
                        else {
                            $.unblockUI();
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        smoke.alert("Error de conexion.");
                    },
                    dataType: "json"
                });
            });
            $('#fieldset_arcevid').remove()
            $('#fieldset_estusu').remove()
            $('#fieldset_horamax').remove()
            $('#fieldset_minutomax').remove()
            $('#fieldset_estfrec').remove()
            $('#fieldset_estfent').remove()
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/af_activofijo{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editmantenimientogarantia'/>
    <input type='hidden' name='id' value='{{ mangarantia.id }}'/>
{% endblock %}
{% block formback %}/af_activofijo?action=garantiamantenimiento{% endblock %}
{% block formdestination %}/af_activofijo?action=garantiamantenimiento{% endblock %}
{% block buttonname %}Guardar{% endblock %}
{% block formadicional %}
    <div class='row-fluid'>
        <div class='span12'>
            <a href="javascript:;" style="display: none" class='btn btn-success btn-mini addactivo'><span class="fa fa-plus "></span> Adicionar Activo</a>
        </div>
    </div>
    <table class='table table-striped table-bordered' id="tabla" >
        <thead>
        <tr>
            <th style="width: 50px;text-align: center">N.</th>
            <th style="width: 800px;text-align: center;">ACTIVOS</th>
            <th style="width: 20px;text-align: center; display: none">ACCIONES</th>
        </tr>
        </thead>
        <tbody>
        {% for lista in detallemantenimiento %}
            <tr id="listapreguntas_{{ lista.id }}">
                <td style="text-align: center;">{{ forloop.counter}}</td>
                <td style="text-align: left;">{{ lista.activofijo }}</td>
                <td style="width: 100px;text-align: center; display: none">
                    <span class="tu" data-original-title="Eliminar Activo"><button class="btn btn-danger btn-mini delactivo" codigoact="{{ lista.id }}" nameact="{{ lista.activofijo }}"><i class="fa fa-trash"></i></button></span>
                </td>
            </tr>
        {% endfor %}
        {% if not detallemantenimiento %}
            <tr>
                <td colspan="11">
                    <input id="ultimoorden" name="ultimoorden" type="hidden" value="0">
                    NO EXISTEN ACTIVOS
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="modal fade static itemspaneladicionar1"  style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Adicionar</h3>
        </div>
        <div class="modal-body panelbody">
            <div class="row-fluid">
                <form id="formulario3333" class="form-horizontal form-modal" style="width: 870px; margin-bottom: 0">
                    {% for field in form3 %}
                        {% if field.field.widget.attrs.separator %}
                            <div style="width: 100%; height: 1px; float: left;"></div>
                        {% endif %}
                        <fieldset id="fieldset_{{ field.name }}" class="control-group nomargins" style="min-height:35px; float: left; width: 500px" >
                            <div class="control-label label-text" {% if field.field.widget.attrs.labelwidth %}labelwidth="{{ field.field.widget.attrs.labelwidth }}"{% endif %} style="display: table;height: 30px;">
                                <div style="display: table-cell; vertical-align: middle; line-height: 11px">
                                    <label for="id_{{ field.name }}" style="padding-right: 20px">{{ field.label }}</label>
                                </div>
                            </div>
                            <div class="control" style="float: left; width: {% if field.field.widget.attrs.controlwidth %}{{ field.field.widget.attrs.controlwidth }}{% else %}0{% endif %}">
                                {% if field.field.widget.attrs.select2search %}
                                    <select id="id_{{ field.name }}_select2" {% if field.field.widget.attrs.disabled %}disabled=""{% endif %} >
                                        <option value="0" selected="selected">---------</option>
                                    </select>
                                    <input name="{{ field.name }}" id="id_{{ field.name }}" value="{{ field.value }}" hidden="hidden" {% if field.field.widget.attrs.descripcion %}descripcion="{{ field.field.widget.attrs.descripcion }}"{% endif %} class="select2hidden">
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                <p class="help-text" style="font-size: xx-small; margin-bottom: 0; height: 13px; line-height: 13px">{{ field.help_text }} </p>
                            </div>
                        </fieldset>
                    {% endfor %}
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-success guardar1"><i class="fa fa-plus"></i> Guardar</a>
            <a href="javascript:;" class="btn btn-info cerrar1"> Cerrar</a>
        </div>
    </div>
    <div class="modal fade static itemspaneldelete"  style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Eliminar Activo</h3>
        </div>
        <div class="modal-body panelbody">
            <div class="row-fluid">
                Esta seguro que desea eliminar:
                <span id="nombreactivo" name="nombreactivo"></span>
            </div>
        </div>
        <input type="hidden" id="hidencodigodetalle" name="hidencodigodetalle">
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-danger eliminaractivo"><i class="fa fa-minus"></i> Eliminar</a>
            <a href="javascript:;" class="btn btn-default cerraractivo"> Cerrar</a>
        </div>
    </div>
{% endblock %}