{% extends "basebs.html" %}
{% block atras %}/af_activofijo{% endblock %}
{% block heading %}
    <script>

        $(function() {

            $("#search").click(function() {
                var term = $("#searchinput").val().toUpperCase();
                location.href = "/af_activofijo?action=histconstatacion&s="+term;
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });


            //Detalles
            $("#detalle .btn-aceptar").click(function(){
                $("#detalle").modal("hide");
                return false;
            });

            $(".detalle").click(function() {
                var id = $(this).attr("cid");
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/af_activofijo",
                    data: {'action':'detalle_constatacion', 'id': id},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result=='ok'){
                            $("#detalleconsmodal_body").html(data.html);
                            $("#detalle").modal({"backdrop":"static", "width": "1200"}).modal("show");
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
                return false;
            });

            $(".generarcsv").click(function () {
                var id = $(this).attr('ida');
                showWaiting('Exportando Bienes', 'Espere por favor; este proceso puede tardar. No lo interrumpa');
                $.ajax({
                    type: "POST",
                    url: "/af_activofijo",
                    data: {'action':'generarexpo', 'id': id},
                    success: function(data) {
                        if (data.result=='ok'){
                            location.href=location.href;
                        } else {
                            hideWaiting();
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        hideWaiting();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
                return false;
            });

            $(".generarxls").click(function () {
                var id = $(this).attr('ida');
                showWaiting('Exportando Bienes', 'Espere por favor; este proceso puede tardar. No lo interrumpa');
                $.ajax({
                    type: "POST",
                    url: "/af_activofijo",
                    data: {'action':'generarexpoxls', 'id': id},
                    success: function(data) {
                        if (data.result=='ok'){
                            location.href=location.href;
                        } else {
                            hideWaiting();
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        hideWaiting();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
                return false;
            });



        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span6'>
            {% if perms.sagest.puede_modificar_importacion %}
                <a class="btn btn-success" href="/af_activofijo?action=exportar"><i class="fa fa-plus "></i>  Nueva</a>
            {% endif %}
        </div>
        <div class='span6'>
            <form class="form-search" onsubmit="return busqueda()">
                <input class='searchinput' type='text' id='searchinput' value='{{ search }}' autocomplete="off"/>
                <a href="javascript:;" id='search' class='btn btn-info'><i class="fa fa-search "></i> Buscar</a>
                {% if search or ids %}
                    <a href="/af_activofijo?action=exportaciones" class='btn btn-info'><i class="fa fa-refresh "></i> Todos</a>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span12'>
            <table class='table table-bordered' cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th style="width: 100px; text-align: center">Fecha</th>
                    <th style="width: 100px;">Generado por</th>
                    <th style="width: 150px;">Clase Bien</th>
                    <th>Cuenta Contable</th>
                    <th style="width: 120px; text-align: center">Estado</th>
                    <th style="width: 80px; text-align: center">Activos</th>
                    <th style="width: 80px; text-align: center">Valor</th>
                    <th style="width: 80px">CSV</th>
                    <th style="width: 80px">XLS</th>
                    <th style="width: 100px"></th>
                </tr>
                </thead>
                <tbody>
                {% for i in exportaciones %}
                    <tr>
                        <td style="text-align: center">{{ i.fecha|date:'d-m-Y' }}</td>
                        <td>{{ i.usuario_creacion }}</td>
                        <td>{{ i.clase }}</td>
                        <td>{{ i.cuentacontable }}</td>
                        <td style="text-align: center">
                            {% if i.estado == 1 %}
                                <label class="label label-success"> EN PROCESO</label>
                            {% else %}
                                <label class="label label-important"> FINALIZADO</label>
                            {% endif %}
                        </td>
                        <td style="text-align: center">{{ i.total_activos }}</td>
                        <td style="text-align: right">$ {{ i.activos_costo|floatformat:2 }}</td>
                        <td style="text-align: center">
                            {% if perms.sagest.puede_modificar_importacion %}
                                <a ida="{{ i.id }}" href='javascript:;' class='btn btn-info btn-mini generarcsv tu' title="Generar"><i class="fa fa-save"></i></a>
                            {% endif %}
                            {% if i.ficherocsv %}
                                <a target="_blank" href='{{ i.ficherocsv.url }}' class='btn btn-success btn-mini tu' title="Descargar"><i class="fa fa-arrow-down"></i></a>
                            {% endif %}
                        </td>
                    <td style="text-align: center">
                            {% if perms.sagest.puede_modificar_importacion %}
                                <a ida="{{ i.id }}" href='javascript:;' class='btn btn-info btn-mini generarxls tu' title="Generar"><i class="fa fa-save"></i></a>
                            {% endif %}
                       {% if i.ficheroxls %}
                                <a target="_blank" href='{{ i.ficheroxls.url }}' class='btn btn-success btn-mini tu' title="Descargar"><i class="fa fa-arrow-down"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if i.estado == 1 and perms.sagest.puede_modificar_importacion %}
                                <div class="btn-group">
                                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span></a>
                                    <ul class="dropdown-menu pull-right list-group">
                                        <li><a class="confirmacionmodal" href="javascript:;" nhref="/af_activofijo?action=confirmarexpo&id={{ i.id }}"><i class="fa fa-check"></i> Marcar Exportados </a> </li>
                                        <li class="divider"></li>
                                        <li><a class="eliminacionmodal" href="javascript:;" nhref='/af_activofijo?action=deleteexpo&id={{ i.id }}'><i class='fa fa-remove'></i> Eliminar</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="20">
                            NO EXISTEN HISTORIAL DE EXPORTACIONES DE ACTIVOS
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row-fluid'>
        {% if paging.num_pages > 20 %}
            <div class='pagination'>
                <ul>
                    {% if paging.primera_pagina %}
                        <li><a href="/af_activofijo?action=exportaciones&page=1">1</a></li>
                        <li><a href="/af_activofijo?action=exportaciones&page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>
                    {% endif %}
                    {% for pagenumber in paging.paginas %}
                        <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/af_activofijo?action=exportaciones&page={{ pagenumber }}">{{ pagenumber }}</a></li>
                    {% endfor %}
                    {% if paging.ultima_pagina %}
                        <li><a href="/af_activofijo?action=exportaciones&page={{ paging.ellipsis_derecha }}" class="active">...</a></li>
                        <li><a href="/af_activofijo?action=exportaciones&page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class='pagination'>
                <ul>
                    {% for pagenumber in paging.page_range %}
                        <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/af_activofijo?action=exportaciones&{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}">{{ pagenumber }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block moreblock %}
    <div class="modal fade static" id="detalle" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Detalles de constatacion: <span cid={{ constatacion }}></span> </h3>
        </div>
        <div class="modal-body" >
            <div id="detalleconsmodal_body" style="max-height: 400px; overflow: auto">

            </div>
        </div>
        <div class="modal-footer">
            <div style="float: right">
                <a href="javascript:;" class="btn btn-info btn-aceptar"> Aceptar</a>
            </div>
        </div>
    </div>
{% endblock %}

