{% load sga_extras %}
    <script>
        function mensajeFlotanteTest(tipo, mensaje) {
            Swal.fire({
                toast: false,
                position: 'center',
                icon: tipo,
                type: tipo,
                title: mensaje,
                showConfirmButton: false,
                timer: 2000
            });
        }

        $(function() {
            $(".fragmento").click(function() {
                var seleccion = $(this).attr('idv');
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "{{ request.path }}",
                    data: {'action': 'validarseleccion', 'intento': '{{ intento_test.id }}', 'idpregunta': '{{ pregunta.id }}', 'seleccion': seleccion },
                    success: function(data) {
                        $.unblockUI();
                        if (data.result==='ok') {
                            mensajeFlotanteTest('success','CORRECTO');
                            bloqueointerface();
                            formModal('','','cargarpreguntatest', true)
                        } else {
                            if (data.result==='fail') {
                                mensajeFlotanteTest('error','INCORRECTO');
                                bloqueointerface();
                                formModal('','','cargarpreguntatest', true)
                            } else {
                                alertaDanger(data.mensaje);
                            }
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error al enviar los datos al servidor.");
                    },
                    dataType: "json"
                });
            });
        });
    </script>

    <div class="card">
        <div class="card-body border-6 rounded-3 border-dark-info">
            {% if pregunta %}
                <div class="row mt-2">
                    <div class="col text-center">
                        <h5><b>{{ test.nombre|title2 }}</b></h5>
                        <p>1.- Tapate el <b>ojo izquierdo</b></p>
                        <p>2.- Mantenga el dispositivo a <b>un brazo de distancia</b></p>
                        <p>3.- <b>¿Ves el anillo superior?</b> Marca la abertura correspondiente en el anillo inferior</p>
{#                        <b>{{ pregunta.descripcion|upper }}</b>#}
                        <br><br>
                        <svg fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 3 3" alt="landolt ring" class="img-fluid"
                             style="fill: rgba(0, 0, 0, {{ pregunta.rgb }}); transform: rotate({{ pregunta.rotacion }}); width: 30%; opacity: 1;">
                            <path d="M1.785,0.015c0.684,0.139 1.2,0.745 1.2,1.47c0,0.828 -0.672,1.5 -1.5,1.5c-0.828,0 -1.5,-0.672 -1.5,-1.5c0,-0.725 0.516,-1.331 1.2,-1.47l0,0.69c-0.321,0.119 -0.55,0.424 -0.55,0.78c0,0.46 0.381,0.833 0.85,0.833c0.469,0 0.85,-0.373 0.85,-0.833c0,-0.356 -0.229,-0.661 -0.55,-0.78l0,-0.69Z"></path>
                        </svg>
                    </div>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="col text-center svg-container">
                        <svg class="svg_alternativas img-fluid" viewBox="0 0 260.002 260.002" style="fill: rgb(0, 0, 0); width: 60%; opacity: 1;">
                            <path class="fragmento" idv="1" id="TOP" d="M158.934 57.545a77.47 77.47 0 00-13.211-3.957 78.642 78.642 0 00-31.437 0 77.47 77.47 0 00-13.211 3.957l-19.9-48.059a130.162 130.162 0 0197.674 0z" tabindex="0" style="opacity: 1;"></path>
                            <path class="fragmento" idv="2" id="TOPRIGHT" d="M201.693 99.226a78.216 78.216 0 00-40.914-40.914l19.906-48.059a130.414 130.414 0 0169.066 69.066l-48.059 19.907z" tabindex="0" style="opacity: 1;"></path>
                            <path class="fragmento" idv="3" id="RIGHT" d="M202.459 158.933a77.41 77.41 0 003.959-13.213 78.785 78.785 0 000-31.437 77.477 77.477 0 00-3.957-13.209l48.057-19.9a129.319 129.319 0 016.844 22.635 130.2 130.2 0 01-6.844 75.036z" tabindex="0" style="opacity: 1;"></path>
                            <path class="fragmento" idv="4" id="BOTTOMRIGHT" d="M160.779 201.692a78.193 78.193 0 0024.379-16.535 78.8 78.8 0 009.525-11.545 77.993 77.993 0 007.008-12.833l48.061 19.907a130.393 130.393 0 01-69.068 69.064z" tabindex="0" style="opacity: 1;"></path>
                            <path class="fragmento" idv="5" id="BOTTOM" d="M130 260.001a130.826 130.826 0 01-26.2-2.641 129.332 129.332 0 01-22.639-6.846l19.906-48.058a77.615 77.615 0 0013.213 3.957 78.642 78.642 0 0031.438 0 77.47 77.47 0 0013.211-3.957l19.906 48.058a129.181 129.181 0 01-22.639 6.846A130.778 130.778 0 01130 260.001z" tabindex="0" style="opacity: 1;"></path>
                            <path class="fragmento" idv="6" id="BOTTOMLEFT" d="M79.316 249.75a130.42 130.42 0 01-69.066-69.063l48.057-19.9a78.285 78.285 0 0028.084 33.9 77.645 77.645 0 0012.836 7.015z" tabindex="0" style="opacity: 1;"></path>
                            <path class="fragmento" idv="7" id="LEFT" d="M9.486 178.84a130.148 130.148 0 010-97.673l48.055 19.9a78.1 78.1 0 000 57.865z" tabindex="0" style="opacity: 1;"></path>
                            <path class="fragmento" idv="8" id="TOPLEFT" d="M10.252 79.316a130.414 130.414 0 0169.064-69.064l19.908 48.059a77.664 77.664 0 00-12.834 7.014 78.166 78.166 0 00-28.084 33.9z" tabindex="0" style="opacity: 1;"></path>
                        </svg>
                    </div>
                </div>
            {% else %}
                <div class="row mt-2">
                    <div class="col text-center">
                        {{ fechaactual|date:'d-m-Y' }}
                        <i class="fas fa-user"></i> <b>{{ profesor|title }}</b><br>
                        {% if usuario_respuestas %}
                            {% if valortotal < 2 %}
                                <i class="fas fa-exclamation-triangle text-warning"></i> BAJA SENSIBILIDAD DE CONTRASTES
                            {% else %}
                                <i class="fas fa-thumbs-up text-success"></i> NORMAL SENSIBILIDAD DE CONTRASTES
                            {% endif %}
                        {% endif %}<br>
                        <table class='table table_primary table-striped' cellpadding="0" cellspacing="0" >
                            <thead>
                            <tr>
                                <th style="width:300px; text-align: center">Pregunta</th>
                                <th style="width:200px; text-align: center">Repuesta</th>
                                <th style="width:200px; text-align: center">valor</th>
                            </tr>
                            </thead>
                            <tbody >
                            {% for u in usuario_respuestas %}
                                <tr>
                                    <td style="text-align: left"> {{ u.detalletest.descripcion|upper }} </td>
                                    <td style="text-align: center"> {% if u.correcto %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %} </td>
                                    <td style="text-align: center"> {{ u.valor }} </td>
                                </tr>
                                {% if forloop.last %}
                                    <tr>
                                        <td style="text-align: right" colspan="2"><b>Valor total contraste</b></td>
                                        <td style="text-align: center"> {{ valortotal }} </td>
                                    </tr>
                                {% endif %}
                            {% empty %}
                                <tr>
                                    <td colspan="10">No existen respuestas</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-warning" onclick="formModal('','','cargarpreguntatest', true, '1')"
                           href="javascript:void(0)"> <i class="fas fa-redo-alt"></i> Nuevo intento
                        </a>
                        <a class="btn btn-success" onclick="finalizartest('finalizartestusuario', '{{ intento_test.id }}')"
                           href="javascript:void(0)"> <i class="fas fa-paper-plane"></i> Enviar
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>