<meta charset=UTF-8">
{% load sga_extras %}
{% block canvas %}
    <style type="text/css">
        @page {
            background-image: url('media/reportes/encabezados_pies/hoja_membretada.png');
            /*background-position: right 0.5cm;*/
            /*background-position: right 1000px;
            background-repeat: no-repeat;*/
            size: a4;/*size: a4 landscape;*/
            @frame header_frame {
            -pdf-frame-content: header_content;
            left: 1cm; right: 0.5cm; top: 0.5cm; height: 5cm;
        }
        @frame {
        -pdf-frame-content: company_logo;
            /*-pdf-frame-border: 1;*/
        left: 1cm;
        }
        @frame content_frame {
        left: 1cm; right: 1cm; top: 3.5cm; bottom: 3.1cm;
        }
        @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 0cm;
        margin-left: 1cm;
        margin-right: 1cm;
        text-align: right;
        height: 1cm;
        }
        }
    </style>
    <body>
    <div id="company_logo">
        <img src="https://sga.unemi.edu.ec/media/reportes/encabezados_pies/hoja_membretada.png" class="top_image" />
    </div>
    <div id="header_content">
    </div>
    <div style="text-align: center">
        <h2>{{ data.coordinacion }}</h2>
        <h3>Reporte de aprobación de sílabos</h3>
        <h4>Periodo Académico {{ data.periodo.nombre }}</h4>
    </div>
    <br>
    <br>
    <div align="left">
        Fecha: {{ data.fechaactual|date:"Y-m-d" }}
    </div>
    <table style="border: 0.5px solid #000000; font-size:10px; line-height:3px; vertical-align:top; padding:2px; font-family: Verdana, Arial, sans-serif">
        <thead>
        <tr>
            <td style="font-weight: bold; text-align: center;" rowspan="2">Nro.</td>
            <td style="text-align: left; font-weight: bold; text-align: center;" rowspan="2">ASIGNATURA</td>
            <td style="text-align: left; font-weight: bold; text-align: center; line-height: 150%" colspan="2">% DE SÍLABOS APROBADOS CONFORME A LA PROGAMACIÓN ACADÉMICA HASTA {{ data.fecha_corte|date:"Y-m-d" }}</td>
        </tr>
        <tr>
            <td style="text-align: left; font-weight: bold; text-align: center;">PENDIENTE</td>
            <td style="text-align: left; font-weight: bold; text-align: center;">APROBADO</td>
        </tr>
        </thead>
        <tbody>
        {% for lista in data.silabos %}
            <tr>
                <td style="text-align: center; width: 6%">{{ forloop.counter }}</td>
                <td style="text-align: left; width: 44%">{{ lista.asignatura }}</td>
                <td style="text-align: center; width: 25%">{{ lista.porcentaje_silabos_pendientes }} %</td>
                <td style="text-align: center; width: 25%">{{ lista.porcentaje_silabos_aprobados }} %</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td style="text-align: center;" colspan="2">Total General</td>
            <td style="text-align: center;">{{ data.porcentaje_pendientes }} %</td>
            <td style="text-align: center;">{{ data.porcentaje_aprobados }} %</td>
        </tr>

        </tfoot>
    </table>
    <span>* Fuente.- Reporte de sílabos del SGA.</span>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center">
        {{ data.responsableccordinacion|default:"-" }}
    </div>
    <div style="text-align: left; font-weight: bold; text-align: center;">
        {{ data.coordinacion }}
    </div>
    <br>
    <br>
    <div id="footerContent" align="right">
        {% block page_foot %}
            <hr color="black" />
            P&aacute;gina <pdf:pagenumber></pdf:pagenumber>/ <pdf:pagecount></pdf:pagecount>
        {%endblock%}
    </div>
    </body>
{% endblock %}
