{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script>
        $(function(){
            $("#id_planificado, #id_ejecutado").addClass("validate[required]");

            $("#id_planificado, #id_ejecutado").blur(function(){
                numerico($(this), 0, 999999999999999, 0);
            });
        });
    </script>
{% endblock %}
{% block atras %}/totalpac{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/totalpac{% endblock %}
{% block formdestination %}/totalpac{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='pacadministrativo'/>
    <input type='hidden' name='id' value='{{ totalpac.id }}'/>
{% endblock %}
{% block formback %}/totalpac{% endblock %}
{% block buttonname %}Guardar{% endblock %}