{% extends "ajaxformbs.html" %}
{% block atras %}/seguimiento?action=estudio&id={{ seguimiento.id }}{% endblock %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_idioma, #id_lectura, #id_escritura").addClass("validate[required]");

            $("#id_lectura, #id_escritura, #id_oral").blur(function(){
                numerico($(this), 0, 100, 0);
            });
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/seguimiento{% endblock %}
{% block formwidth %}form-s{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addidioma'/>
    <input type='hidden' name='id' value='{{ seguimiento.id }}'/>
{% endblock %}
{% block formback %}/seguimiento?action=estudio&id={{ seguimiento.id }}{% endblock %}
{% block formdestination %}/seguimiento?action=estudio&id={{ seguimiento.id }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}