{% extends "oauth2/provider/base.html" %}

{% load i18n %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="block-center-heading card-title mb-4">
                <h3>Application Info</h3>
            </div>
            <hr />
            <div class="card-text">
                <h4>{{ application.name }}</h4>
            </div>
            <dl class="row">
                <dt class="col-sm-3">
                    {% trans "Client id" %}
                </dt>
                <dd class="col-sm-9">
                    {{ application.client_id }}
                </dd>
            </dl>

            <dl class="row">
                <dt class="col-sm-3">
                    {% trans "Client secret" %}
                </dt>
                <dd class="col-sm-9">
                    <details>
                        <summary>Show</summary>
                        <p>{{ application.client_secret }}</p>
                    </details>
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">
                    {% trans "Client type" %}
                </dt>
                <dd class="col-sm-9">
                    {{ application.client_type }}
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">
                    {% trans "Authorization Grant Type" %}
                </dt>
                <dd class="col-sm-9">
                    {{ application.authorization_grant_type }}
                </dd>
            </dl>

            <dl class="row">
                <dt class="col-sm-3">
                    {% trans "Redirect Uris" %}
                </dt>
                <dd class="col-sm-9">
                    {{ application.redirect_uris }}
                </dd>
            </dl>

        </div>
        <div class="card-body">
            <div class="btn-toolbar">
                <a class="btn mr-3" href="{% url "oauth2_provider:list" %}">{% trans "Go Back" %}</a>
                <a class="btn btn-primary mr-3" href="{% url "oauth2_provider:update" application.id %}">{% trans "Edit" %}</a>
                <a class="btn btn-danger" href="{% url "oauth2_provider:delete" application.id %}">{% trans "Delete" %}</a>
            </div>
        </div>
    </div>

{% endblock content %}
