{% extends 'faceid/base.html' %}
{% block canvas %}
     <div class="row justify-content-center pt-4 min-vh-100">
        <div class="col-lg-4 col-xl-3 col-md-5 col-sm-8 col-10 py-0 py-xl-0 ">
            <div class="card m-0 border-2" style="background: #f5f5f5 !important;">
                {% if not habilitado %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                               <h4>  Estimado usuario,</h4>
                                <p class="text-dark">
                                    El sistema está en mantenimiento.<br><br>
                                   <b>Atentamente,</b> <br>
                                    Dirección de Talento Humano.
                                </p>
                            </div>
                        </div>
                    </div>
                {% elif is_mobile %}
                     <div class="card-body p-3 text-center">
                        <i class="fa fa-exclamation-triangle fs-2 text-orange"></i>

                        <h4 class="text-dark">No es posible realizar el registro desde dispositivos móviles.</h4>
                        <img src="https://sga.unemi.edu.ec/static/logos/mobile.svg" width="45px" height="45px" />
                    </div>
                {% else %}
                    <div class="card-body p-3 text-center">
                        <h4 class="text-dark">No puede ingresar marcadas fuera de la institución.</h4>
                        <h3 class="text-dark-warning">IP: {{ my_ip }}</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}