{% extends "basebs.html" %}
{% load humanize %}
{% block atras %}/pod_periodo{% endblock %}
{% block heading %}
    <script>
        $(function() {

            $("#search").click(function() {
                var term = $("#searchinput").val().toUpperCase();
                location.href = "/pod_periodo?action=diccomlab&s="+term;
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });

            $("#tiposel").change(function() {
                var id = $(this).val();
                location.href = '/pod_periodo?action=diccomlab&t='+id;
            });

            $(".ver_comportamiento").click(function() {
                var tipo = $(this).attr("tipo");
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/pod_periodo",
                    data: {'action': 'ver_comportamiento', 'comportamiento': $(this).attr("comportamiento")},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $(".paneltitle").html("Comportamientos Observables");
                            $(".panelbody").html(data.data);
                            $("#itemspanel").modal({backdrop:'static', width: '1000px'}).modal('show');
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
            });

            $("#cerrarpanel").click(function() {
                $("#itemspanel").modal("hide");
                return false;
            });
        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <div class='span6'>
                <a href="/pod_periodo?action=adddiccomlab" class='btn btn-success'><span class="fa fa-plus " ></span> Adicionar</a>
            </div>
            <div class="span6">
                <form class="form-search" onsubmit="return busqueda()">
                    <input class='searchinput' type='text' id='searchinput' value='{{ search }}' autocomplete="off"/>
                    <a href="javascript:;" id='search' class='btn btn-info'><span class="fa fa-search "></span> Buscar</a>
                    {% if search or ids %}
                        <a href="/pod_periodo?action=diccomlab" id='allresults' class='btn btn-info'><span class="fa fa-refresh "></span> Todos</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span12'>
            <table class='table table-bordered' cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th style="width: 25%; text-align: center">Tipo</th>
                    <th style="width: 25%; text-align: center">Denominación</th>
                    <th style="width: 25%; text-align: center">Definicion</th>
                    <th style="width: 10%"></th>
                </tr>
                </thead>
                <tbody>
                {% for p in factores %}
                    <tr>
                        <td style="text-align: center">
                            {% if p.tipo == 1 %}
                                COMPETENCIA TECNICA
                            {% elif p.tipo == 2 %}
                                COMPETENCIA CONDUCTUAL
                            {% endif %}
                        </td>
                        <td style="text-align: center">{{ p.denominacion }}</td>
                        <td style="text-align: center">{{ p.definicion }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    Acciones
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-right list-group">
                                    <li><a href="/pod_periodo?action=editdiccomlab&id={{ p.id }}"><i class="fa fa-edit"></i> Editar </a> </li>
                                    <li><a class="ver_comportamiento" comportamiento="{{ p.id }}" href="javascript:;"><i class="fa fa-star"></i> Ver Comportamiento</a></li>
                                    {% if not p.en_uso %}
                                        <li><a class="eliminacionmodal" href="javascript:;" nhref="/pod_periodo?action=deletediccomlab&id={{ p.id }}"><i class="fa fa-remove"></i> Eliminar</a> </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10">
                            NO EXISTEN REGISTROS DE DICCIONARIO
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class='row-fluid'>
        {% if paging.num_pages > 20 %}
            <div class='pagination'>
                <ul>
                    {% if paging.primera_pagina %}
                        <li><a href="/pod_periodo?action=diccomlab&page=1">1</a></li>
                        <li><a href="/pod_periodo?action=diccomlab&page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>
                    {% endif %}
                    {% for pagenumber in paging.paginas %}
                        <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/pod_periodo?action=diccomlab&page={{ pagenumber }}{% if tipoid %}&t={{ tipoid }}{% endif%}">{{ pagenumber }}</a></li>
                    {% endfor %}
                    {% if paging.ultima_pagina %}
                        <li><a href="/pod_periodo?action=diccomlab&page={{ paging.ellipsis_derecha }}" class="active">...</a></li>
                        <li><a href="/pod_periodo?action=diccomlab&page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class='pagination'>
                <ul>
                    {% for pagenumber in paging.page_range %}
                        <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/pod_periodo?{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}{% if tipoid %}&t={{ tipoid }}{% endif %}">{{ pagenumber }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-header">
            <table border="0" width="100%" style="background-color: transparent">
                <tr>
                    <td style="width: 80%"><h3 class="paneltitle"></h3></td>
                    <td><a href="javascript:;" id="cerrarpanel" class="btn btn-danger btn-mini pull-right"><i class="fa fa-remove"></i></a></td>
                </tr>
            </table>
        </div>
        <div class="modal-body panelbody">
        </div>
    </div>

{% endblock %}

