{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        var lista_items1 = [];
        $(function(){
            $("#id_fechainicio,#id_fechafin,#id_mesesviaje").addClass("validate[required]");
            $("#id_fechainicio").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){
                $(this).datepicker('hide');
                var fecha = $(this).val();
                var fecha_nueva = editar_fecha(fecha, "{{ mes }}", "m");
                $("#id_fechafin").val(fecha_nueva).trigger('change');
            });
            $("#id_fechafin").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
            $("#id_mesesviaje").blur(function () {
                numerico($(this), 0, 0, 0);
            });


            $("#addcampos").click(function(){
                $("#activo").val("");
                $("#todos").prop('checked', false);
                $(".seleccionado").prop('checked', false);
                $("#itemspanel").modal({width: '900'}).modal('show');
                return false;
            });

            $("#cerrar").click(function(){
                $("#itemspanel").modal('hide');
            });


            $("#adicionar").click(function(){
                if ($(".eliminarc").length == 0){
                    $("#itemsbody").empty();
                }
                $(".seleccionado").each(function(){
                    if($(this).is(":checked")){
                        var campoid = $(this).attr("idac");
                        var descripcion = $(this).attr("desc");
                        var tipo = $(this).attr("tipo");
                        var adicionar = true;
                        if ($("#cr_"+campoid).length == 0){
                            $("#itemsbody").append("<tr id='cr_"+campoid+"'>" +
                                "<td style='text-align: center'>"+campoid+"</td>" +
                                "<td>"+descripcion+"</td><td>"+tipo+"</td>" +
                                "<td><input class='valores' type='text' id='valor_"+campoid+"' name='valor_"+campoid+"' value='0'/></td>" +
                                "<td style='text-align: center'><a class='btn btn-tini btn-danger eliminarc tu' title='Eliminar' idc='"+campoid+"' ><i class='fa fa-remove'></i></a></td></tr>");

                        }
                    }
                });
                conectar_eliminar();
                conectar_valores();
                tooltips();
                $("#itemspanel").modal('hide');
            });

            actualizar_lista = function(){
                lista_items1 = [];
                $(".eliminarc").each(function(){
                    var idc = $(this).attr("idc");
                    var valor1 = parseFloat($("#valor_" + idc).val());
                    var item = {
                        valors: valor1,
                        id: idc
                    };
                    lista_items1.push(item);
                });
            };


            conectar_eliminar=function() {
                $(".eliminarc").unbind();
                $(".eliminarc").click(function () {
                    var id = $(this).attr('idc');
                    $('#cr_' + id).remove();
                    actualizar_lista();
                    if ($(".eliminarc").length == 0){
                        $("#itemsbody").append("<tr><td colspan='10'>NO EXISTEN CAMPOS SELECCIONADOS</td></tr>");
                    }
                });
            };

            conectar_valores=function() {
                $(".valores").unbind();
                $(".valores").blur(function () {
                    numerico($(this), 0, 0, 2);
                    actualizar_lista();
                });
            };

            conectar_control = function () {
                $(".filterable tr:has(td)").unbind();
                $("#FilterTextBox").unbind();

                $(".filterable tr:has(td)").each(function(){
                    var t = $(this).text().toLowerCase();
                    $("<td class='indexColumn'></td>").hide().text(t).appendTo(this);
                });

                $("#FilterTextBox").keyup(function(){
                    var s = $(this).val().toLowerCase().split(" ");
                    $(".filterable tr:hidden").show();
                    $.each(s, function(){
                        $(".filterable tr:visible .indexColumn:not(:contains('" + this + "'))").parent().hide();
                    });
                    $(".filterable3 tr:hidden").show();
                });

            };

            $("#todos").click(function () {
                if ($(this).is(":checked")){
                    $(".seleccionado").prop('checked', true);
                }else{
                    $(".seleccionado").prop('checked', false);
                }

            });

            function editar_fecha(fecha, intervalo, dma, separador) {

                var separador = separador || "-";
                var arrayFecha = fecha.split(separador);
                var dia = arrayFecha[0];
                var mes = arrayFecha[1];
                var anio = arrayFecha[2];

                var fechaInicial = new Date(anio, mes - 1, dia);
                var fechaFinal = fechaInicial;
                if(dma=="m" || dma=="M"){
                    fechaFinal.setMonth(fechaInicial.getMonth()+parseInt(intervalo));
                }else if(dma=="y" || dma=="Y"){
                    fechaFinal.setFullYear(fechaInicial.getFullYear()+parseInt(intervalo));
                }else if(dma=="d" || dma=="D"){
                    fechaFinal.setDate(fechaInicial.getDate()+parseInt(intervalo));
                }else{
                    return fecha;
                }
                dia = fechaFinal.getDate();
                mes = fechaFinal.getMonth() + 1;
                anio = fechaFinal.getFullYear();

                dia = (dia.toString().length == 1) ? "0" + dia.toString() : dia;
                mes = (mes.toString().length == 1) ? "0" + mes.toString() : mes;

                return dia + "-" + mes + "-" + anio;
            }
            conectar_control();
        });
    </script>
{% endblock %}
{% block atras %}/pro_becarios?action=rubros&id={{ becadocente.id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block form-type %}form-vertical{% endblock %}
{% block formaction %}/pro_becarios?action=rubros&id={{ becadocente.id }}{% endblock %}
{% block formdestination %}/pro_becarios?action=rubros&id={{ becadocente.id }}{% endblock %}
{% block formwidth %}form-m{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addrubro'/>
    <input type='hidden' name='id' value='{{ becadocente.id }}'/>
{% endblock %}
{% block formback %}/pro_becarios?action=rubros&id={{ becadocente.id }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}
{% block formsuffix %}
    <table class="table table-bordered" style="margin-bottom: 0;">
        <thead>
        <tr>
            <th style="width: 80px; text-align: center">C&oacute;digo</th>
            <th>Rubro</th>
            <th style="width: 180px">Categoria</th>
            <th style="width: 60px">Valor</th>
            <th style="width: 50px"></th>
        </tr>
        </thead>
        <tbody id="itemsbody" class="datatable">
        <tr>
            <td colspan="10">NO EXISTEN RUBROS SELECCIONADOS</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="10">
                <a href="javascript:;" class='btn btn-mini btn-success' id="addcampos"><span class="fa fa-plus" ></span> Adicionar</a>
            </td>
        </tr>
    </table>
{% endblock %}
{% block moreblock %}
    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Adicionar Campos</h3>
        </div>
        <div class="modal-body">
            <div id="detalletalentohumanomodal_contenido" style="width: 100%; max-height: 400px; overflow: auto">
                <input type="search" style="text-transform: uppercase; margin-bottom: 0px" class="input-block-level" id="FilterTextBox" name="FilterTextBox">
                <table  class="table table-bordered filterable">
                    <thead>
                    <tr>
                        <th style="width: 30px; text-align: center"><input type="checkbox" id="todos"></th>
                        <th style="width: 80px; text-align: center">C&oacute;digo</th>
                        <th>Rubro</th>
                        <th style="width: 300px">Categoria</th>
                    </tr>
                    </thead>
                    <tbody id="contenidotabla">
                    {% for campo in campos %}
                        <tr>
                            <td style="text-align: center"><input type='checkbox' idac='{{ campo.id }}' desc='{{ campo.nombre }}' tipo='{{ campo.categoriarubrobeca }}' class='seleccionado'></td>
                            <td style="text-align: center">{{ campo.id }}</td>
                            <td>{{ campo.nombre }}</td>
                            <td>{{ campo.categoriarubrobeca }}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="10">NO EXISTEN RUBROS</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" id="adicionar" class="btn btn-adicionar btn-success"><i class="fa fa-plus"></i> Adicionar</a>
            <a href="javascript:;" id="cerrar" class="btn btn-cerrar btn-info">Cerrar</a>
        </div>
    </div>
{% endblock %}