{% extends "ajaxdeletedinamicbs.html" %}
{% load sga_extras %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/articulosinvestigacion{% endblock %}
{% block formaction %}/articulosinvestigacion{% endblock %}
{% block formactionvalue %}deletearticulo{% endblock %}
{% block formobjectid %}{{ articulo.id|encrypt }}{% endblock %}
{% block formobjectrepr %}{{ articulo }}{% endblock %}
{% block extrabuttons %}
    <input type="hidden" name="id" value="{{ articulo.id|encrypt }}">
{% endblock %}