{% block extraheading %}
    <script>
        $(function(){
            $("select").select2({minimumResultsForSearch: 20 });
            $("#id_baseindexada2, #id_tipo2, #id_cuartil2").select2({ width: '100%' });
            {#$("#id_codigoissn2, #id_nombrerevista2").addClass("validate[required]");#}

            $("#id_codigoissn2, #id_tipo2, #id_nombrerevista2, #id_baseindexada2").addClass("validate[required]");

            tiporegistro = parseInt('{{ revista.tiporegistro }}');

            mostrarcampobasescopus = function (){
                if(tiporegistro == 1){
                    $("#id_cuartil2 option[value='1']").removeAttr('disabled');
                    $("#id_cuartil2 option[value='2']").removeAttr('disabled');
                    $("#id_cuartil2 option[value='3']").removeAttr('disabled');
                    $("#id_cuartil2 option[value='4']").removeAttr('disabled');
                    $("#id_cuartil2 option[value='5']").attr('disabled','disabled');
                }else{
                    $("#id_cuartil2 option[value='1']").attr('disabled','disabled');
                    $("#id_cuartil2 option[value='2']").attr('disabled','disabled');
                    $("#id_cuartil2 option[value='3']").attr('disabled','disabled');
                    $("#id_cuartil2 option[value='4']").attr('disabled','disabled');
                    $("#id_cuartil2 option[value='5']").removeAttr('disabled','disabled');
                }
                $("#fieldset_cuartil2, #fieldset_sjr2").show();
                $("#id_cuartil2, #id_sjr2").addClass("validate[required]");

            };

            ocultarcampobasescopus = function (){
                $("#fieldset_cuartil2, #fieldset_sjr2").hide();
                $("#id_cuartil2, #id_sjr2").removeClass("validate[required]");
            };

            mostrarcampobasewebscience = function (){
                $("#fieldset_jcr2").show();
                $("#id_jcr2").addClass("validate[required]");
            };

            ocultarcampobasewebscience = function (){
                $("#fieldset_jcr2").hide();
                $("#id_jcr2").removeClass("validate[required]");
            };

            ocultarcamposscopusweb = function (){
                ocultarcampobasescopus();
                ocultarcampobasewebscience();
            }




            if(tiporegistro == 1)
                $("label[for='id_codigoissn2']").text("Código ISSN");
            else
                $("label[for='id_codigoissn2']").text("Código ISBN");

            //var ultimoseleccionado = null;
            var ultimoseleccionado = $('#id_baseindexada2').val();

            //alert(ultimoseleccionado);

            $('#id_baseindexada2').change(function() {

                //alert($(this).val().length);

                if($(this).val() != null){
                    if($(this).val().length > 3)
                        $(this).val(ultimoseleccionado).trigger("change");
                    else
                        ultimoseleccionado = $(this).val();

                    if($(this).val().length == 1){
                        var idbase = parseInt($(this).val());
                        if(idbase == 10){
                            mostrarcampobasescopus();
                            ocultarcampobasewebscience();
                        }
                        else if(idbase == 17 || idbase == 27){
                            mostrarcampobasewebscience();
                            ocultarcampobasescopus();
                        }
                        else{
                            ocultarcamposscopusweb();
                        }
                    }
                    else{
                        ocultarcamposscopusweb();
                    }

                    $("#detalle_documentos2").empty();
                    $.each($("#id_baseindexada2 option:selected"), function(){
                        var cbase = $(this).val();
                        var nbase = $(this).text();
                        nueva = '<tr>\n' +
                            '       <td>\n' +
                            '           '+nbase+'\n' +
                            '           <input type="hidden" name="idbasedocumento[]" value="'+cbase+'"/>\n' +
                            '       </td>\n' +
                            '       <td>\n' +
                            '           <label class="btn btn-default"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Seleccionar <span id="bga_'+cbase+'" class="badge">0</span><input type="file" style="color: transparent" class="archivosbase2" nf="'+cbase+'" nb="'+nbase+'" name="documento[]" hidden> </label>\n' +
                            '       </td>\n' +
                            '    </tr>'
                        $("#detalle_documentos2").append(nueva);
                        conectar_change_fileinput2();
                    });
                }
                else{
                    ultimoseleccionado = $(this).val();
                    ocultarcamposscopusweb();
                    $("#detalle_documentos2").empty();
                }
            });

            conectar_change_fileinput2=function() {
                $(".archivosbase2").unbind();
                $(".archivosbase2").change(function () {
                    var id = $(this).get(0).files.length;
                    var idf = $(this).attr('nf');
                    $("#bga_"+idf).html("1");
                    actualizar_lista_basedocumento2();
                });
            };

            actualizar_lista_basedocumento2 = function (){
                lista_items1 = [];
                $('input[type=file]').each(function() {
                    if($(this).get(0).files.length > 0){
                        var item = {
                            idbase: $(this).attr('nf'),
                            nombrebase: $(this).attr('nb')
                        };
                        lista_items1.push(item);
                    }
                });
            };

            $("#id_baseindexada2").trigger('change');
        });
    </script>
{% endblock %}
{% for field in form %}
    {% if field.field.widget.attrs.separator %}
        <div style="width: 100%; height: 1px; float: left;"></div>
    {% endif %}
    <fieldset id="fieldset_{{ field.name }}" class="control-group nomargins" style="float: left; width: {% if field.field.widget.attrs.formwidth %}{{ field.field.widget.attrs.formwidth }}{% else %}100%{% endif %}">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
            <div class="help-text">{{ field.help_text }} </div>
        </div>
    </fieldset>
{% endfor %}

<div class="row-fluid" id="documentosindexacion2">
    <table class="table table-bordered table-striped table-condensed table-hover table-even-widths" id="tbdocumentos2">
        <thead>
        <tr>
            <th colspan="15">
                Documentos Indexación
            </th>
        </tr>
        <tr>
            <th>Base Indexada</th>
            <th style="width: 100px; text-align: center">Documento Indexación</th>
        </tr>
        </thead>
        <tbody id="detalle_documentos2">

        </tbody>
    </table>
</div>