{% extends "base.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function () {
            $("#addpre").click(function () {
                $.post("/adm_balconservicios", {'action': 'addproceso'}, function (data) {
                    if (data.result == 'ok') {
                        $.unblockUI();
                        $("#paneltitle").html(data.title);
                        $(".panelbody").html(data.data);
                        $(".itempanelpreinscripcion1").modal({backdrop: 'static', width: '800px'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                }, 'json');
            });

            $('.publicar_evento').click(function () {
                var id = $(this).attr('eid');
                var valor;
                if ($(this).is(':checked')) {
                    valor = 'y';
                } else {
                    valor = 'n';
                }
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_balconservicios",
                    data: {'action': 'mostrarproceso', 'id': id, 'val': valor},
                    success: function (data) {
                        if (data.result == 'ok') {
                            $.unblockUI();
                        } else {
                            $.unblockUI();
                            if (valor == 'y') {
                                $("#publicar_evento_" + id).prop('checked', false);
                            } else {
                                $("#publicar_evento_" + id).prop('checked', true);
                            }
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        if (valor == 'y') {
                            alert();
                            $("#publicar_evento_" + id).prop('checked', false);
                        } else {
                            $("#publicar_evento_" + id).prop('checked', true);
                        }
                        smoke.alert("Error al enviar los datos.");
                    },
                    dataType: "json"
                });
            });

        });

        function formModal(id, text, action) {
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    if (data.result === true) {
                        $('.panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text);
                        $("#itemspanel").modal({backdrop: 'static', width: '900'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"
            });
        }

        $(function () {
            $("select").select2({minimumResultsForSearch: 20});

            $(".select2hidden").each(function () {
                var id = $(this).attr("id");
                $("#" + id + "_select2").html('<option>' + $(this).attr("descripcion") + '</option>').trigger('change');
            });
        });
    </script>
    <script src="/static/adicionalesjs/formquestion.js?0.24"></script>
{% endblock %}
{% block atras %}/adm_balconservicios{% endblock %}
{% block marcaaguabackground %}backgrounmarcaagua{% endblock %}
{% block canvas %}
    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><b class="paneltitle">FORMULARIO MODAL</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="row panelbody">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3 class="texto-blue">{{ title|lower|capfirst }}</h3>
                <h6>{{ proceso.descripcion }}</h6>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pb-2">
                <a onclick="formModal('{{ proceso.id|encrypt }}','ADICIONAR SERVICIO','addconfiguraservicio')"
                   href="javascript:void(0);"
                   class="btn btn-success"><i class="fa fa-plus"></i> Adicionar</a>
            </div>

            <div class="col-lg-12 col-md-12 col-12">
                <form method="GET">
                    <div class="input-group mb-2">
                        <input class='form-control' type='text' id='searchinput' name="s" value='{{ search }}'
                               autocomplete="off"
                               placeholder="Buscar por servicio"/>
                        <input type="hidden" name="action" id="action" value="configurarequisitos">
                        <input type="hidden" name="id" id="id" value="{{ id }}">
                        <div class="input-group-append">
                            <button href="javascript:;" id='search' class='btn btn-primary'><i
                                    class="fa fa-search "></i></button>
                            {% if search or ids %}
                                <a href="/adm_balconservicios?action=configurarequisitos&id={{ id }}" id='allresults'
                                   class="btn btn-default tr"><i
                                        class="fa fa-refresh "></i></a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class='card-body border-top border-6 rounded-3 border-dark-info'>
                <div class="table-responsive-xxl">
                    <table class='table table-bordered table-striped'>
                        <thead>
                        <tr>
                            <th style="text-align: center; width: 20%">Servicio</th>
                            <th style="text-align: center; width: 10%">Tiempo mínimo</th>
                            <th style="text-align: center; width: 10%">Tiempo máximo</th>
                            <th style="text-align: center; width: 10%">Minutos</th>
                            <th style="text-align: center; width: 10%">Opc. Sistema</th>
                            <th style="text-align: center; width: 10%">Tiene requisitos</th>
                            <th style="text-align: center; width: 30%">URL</th>
                            <th style="text-align: center; width: 10%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for serv in servicios %}
                            <tr>
                                <td style="text-align: center;">{{ serv.servicio }} -- {{ serv.servicio.id }}</td>
                                <td style="text-align: center;">{{ serv.tiempominimo }}</td>
                                <td style="text-align: center;">{{ serv.tiempomaximo }}</td>
                                <td style="text-align: center;">{{ serv.minutos }}</td>
                                <td style="text-align: center;">
                                    {% if serv.opcsistema %}
                                        {{ serv.opcsistema.descripcion }}<br>
                                        <b>{{ serv.opcsistema.modulo.nombre }}</b><br>
                                        <a class="btn-link">/{{ serv.opcsistema.modulo.url }}</a>
                                    {% endif %}
                                </td>
                                <td style="text-align: center; width: 20%">
                                    <i class="{{ serv.tiene_requisitos|safe }}"></i>
                                </td>
                                <td style="text-align: center;">{{ serv.url|default_if_none:' ' }}</td>
                                <td style="text-align: center">
                                    <div class="dropbottom" style="text-align: left">

                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Acción <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" x-placement="right-start">
                                            <li class="dropdown-item"><a href="javascript:void(0);"
                                                                         onclick="formModal('{{ serv.id|encrypt }}','EDITAR SERVICIO','editservicio')"><i
                                                    class="fa fa-edit"></i> Editar</a></li>
                                            <li class="dropdown-item"><a
                                                    href='/adm_balconservicios?action=viewinformacion&id={{ serv.id|encrypt }}'><i
                                                    class="fa fa-info"></i> Información</a></li>
                                            {% if serv.puede_eliminar %}
                                                <li class="dropdown-item"><a href="javascript:void(0);"
                                                                             onclick='eliminarajax("{{ serv.id|encrypt }}", "{{ serv.servicio|truncatechars:50 }}", "delservicio")'><i
                                                        class="fa fa-trash"></i> Eliminar</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <td colspan="15" style="text-align: center">NO EXISTEN REGISTROS DE CONFIGURACION DE SERVICIO EN EL SISTEMA</td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer border-top-0">
                {% include 'paginacionb4.html' %}
            </div>
        </div>


    </div>
{% endblock %}