{% extends "adm_balconservicios/basebalconservicios.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        function formModal(id, text, action, footer = true) {
            bloqueointerface();
            $('#itemspanel .paneltitle').html('');
            $('.panelbody').html('');
            $('#footermodal').show();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    $.unblockUI();
                    if (data.result === true) {
                        if (footer === true) {
                            $('#footermodal').hide();
                        }
                        $('.panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text.toUpperCase());
                        $("#itemspanel").modal({backdrop: 'static', width: '900px'}).modal('show');
                    } else {
                        mensajeErrorSwal("", data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    mensajeErrorSwal("", "Error de conexión.");
                },
                dataType: "json"
            });
        }
    </script>
{% endblock %}
{% block atras %}/adm_balconservicios{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pb-2">
                <a class="btn btn-success cambiar tu" href="javascript:;"
                   onclick="formModal('0','ADICIONAR AGENTE','addpersonalmodal')"><i
                        class="fa fa-plus"></i> Adicionar</a>
            </div>
            <div class="col-lg-12 col-md-12 col-12">

                <form method="GET">
                    <div class="input-group mb-2">
                        <input class='form-control' type='text' id='searchinput' name="s" value='{{ search }}'
                               autocomplete="off"
                               placeholder="Buscar por persona"/>
                        <input type="hidden" name="action" id="action" value="viewagentes">
                        <div class="input-group-append">
                            <button href="javascript:;" id='search' class='btn btn-primary' type="submit"><i
                                    class="fa fa-search "></i></button>
                            {% if search or ids %}
                                <a href="/adm_balconservicios?action=viewagentes" id='allresults'
                                   class="btn btn-default tr"><i
                                        class="fa fa-refresh "></i></a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body border-top border-6 rounded-3 border-dark-info">
                <div class="table-responsive-xxl">
                    <table class='table table-bordered table-striped'>
                        <thead>
                        <tr>
                            <th style="text-align: left; width: 20%">Persona</th>
                            <th style="text-align: center; width: 10%">Estado</th>
                            <th style="text-align: center; width: 10%">¿Es Admin?</th>
                            <th style="text-align: center; width: 10%">Total Pendientes</th>
                            <th style="text-align: center; width: 10%">Total Rechazadas</th>
                            <th style="text-align: center; width: 10%">Total en Tramites</th>
                            <th style="text-align: center; width: 10%">Total Aprobados</th>
                            <th style="text-align: center; width: 10%">Total Cerrados</th>
                            <th style="text-align: center; width: 10%">Total de Solicitudes</th>
                            <th style="text-align: center; width: 9%">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in personal %}
                            <tr>
                                <td>{{ p.persona }}</td>
                                <td style="text-align: center"><i class="{{ p.get_estado|safe }}"></i></td>
                                <td style="text-align: center"><i class="{{ p.get_admin|safe }}"></i></td>
                                <td>{{ p.total_solicitud }}</td>
                                <td>{{ p.total_solicitud_rechazadas }}</td>
                                <td>{{ p.total_solicitud_entramite }}</td>
                                <td>{{ p.total_solicitud_resuelto }}</td>
                                <td>{{ p.total_solicitud_cerrado }}</td>
                                <td><span class="label label-default">{{ p.total_general_solicitud }}</span></td>

                                <td style="text-align: center">
                                    <div class="dropbottom">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Acción <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" x-placement="right-start">
                                            <li class="dropdown-item"><a href="javascript:void(0);"
                                                                         onclick="formModal('{{ p.id|encrypt }}','EDITAR AGENTE','editpersonalmodal')"><i
                                                    class="fa fa-edit"></i> Editar</a></li>
                                            {% if not p.en_uso %}
                                                <li class="dropdown-item">
                                                    <a href="javascript:void(0);"
                                                       onclick="eliminarajax('{{ p.id|encrypt }}', '{{ p.persona|truncatechars:50 }}', 'delpersona')"><i
                                                            class="fa fa-trash"></i> Eliminar</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="12" style="text-align: center">
                                    NO EXISTEN REGISTROS DE AGENTES EN EL SISTEMA
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer border-top-0">
                {% include 'paginacionb4.html' %}
            </div>
        </div>

        <div class="modal fade static" id="itemspanel" style="display: none;">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4><b class="paneltitle">FORMULARIO MODAL</b></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-modal" autocomplete="off" method="post"
                              enctype="multipart/form-data" action="{{ request.path }}">
                            {% csrf_token %}
                            <div class="row panelbody">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
