{% extends "base.html" %}
{% load sga_extras %}
{% block heading %}
{#    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet"/>#}
    <script>

        $(function () {

            $("#importar").click(function () {
                $('#modalcuerpo').empty()
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/th_dir_planificacion",
                    data: {'action': 'addgestion', 'idg': {{cabecera.pk}}, 'unidad':{{ unidad }}},
                    success: function (data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            for (elemento in data.gestiones) {
                                $('#modalcuerpo').append('<option value="' + data.gestiones[elemento] + '">' + data.gestiones[elemento] + '</option>');
                            }
                            $("#itemspanel_gestion").modal({
                                backdrop: 'static',
                                height: '300px',
                                width: '700px'
                            }).modal('show');

                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
            });


            $(".aprobar_dir").click(function () {
                var codigo = $(this).attr('idg');
                $("#codigo_gestion").val(codigo);
                $("#itemspanelaprobar").modal({
                    backdrop: 'static',
                    height: '300px',
                    width: '450px'
                }).modal('show');
            });


            $("#importarok").click(function () {
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/th_dir_planificacion",
                    data: {'action': 'importargestion', 'idg': {{cabecera.pk}}},
                    success: function (data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $.unblockUI();
                            location.reload();
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
            });


            $("#cerrar").click(function () {
                $("#itemspanel_gestion").modal("hide");
                return false;
            });
            $("#cerraraprobar").click(function () {
                $("#itemspanelaprobar").modal("hide");
                return false;
            });
            $("#aprobar").click(function () {
                var codigo = $("#codigo_gestion").val();
                var estado = $("#estado_gestion").val();
                var observacion = $("#obser_gestion").val();
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/th_dir_planificacion",
                    data: {'action': 'aprobardir', 'idg': codigo, 'estado': estado, 'obser': observacion},
                    success: function (data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $.unblockUI();
                            location.reload();
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
            });

            $(".enviardir").click(function () {
                gest = $(this).attr("gest");
                smoke.confirm("¿Está seguro que desea enviar a revisión ?", function (e) {
                    if (e) {
                        bloqueointerface();
                        $.ajax({
                            type: "POST",
                            url: "/th_dir_planificacion",
                            data: {'action': 'enviardir', 'idg': gest},
                            success: function (data) {
                                if (data.result == 'ok') {
                                    $.unblockUI();
                                    smoke.alert("Datos enviados correctamente");
                                    location.reload();
                                } else {
                                    $.unblockUI();
                                    smoke.alert(data.mensaje);
                                }
                            },
                            error: function () {
                                $.unblockUI();
                                smoke.alert("Error al enviar los datos.");
                            }
                        })
                    }
                }, {
                    ok: "SI, SEGURO",
                    cancel: "NO,CANCELAR",
                    classname: "custom-class",
                    reverseButtons: true
                });
            });

        });

        function formModal(id, text, action, footer = true) {
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    if (data.result === true) {
                        if (footer === true) {
                            $('#footermodal').hide();
                        }
                        $('.panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text);
                        $("#itemspanel").modal({backdrop: 'static', width: '900'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"
            });
        }


        function formModalEstado(id, text, action, footer = true) {
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    if (data.result === true) {
                        $('.panelbodyEstado').html(data.data);
                        $('#itemspanelEstado .paneltitle').html(text);
                        $("#itemspanelEstado").modal({backdrop: 'static', width: '500'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"
            });
        }

        function formModalMover(id, text, action, footer = true) {
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    if (data.result === true) {
                        $('.panelbodyEstado').html(data.data);
                        $('#itemspanelEstado .paneltitle').html(text);
                        $("#itemspanelEstado").modal({backdrop: 'static', width: '500'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"
            });
        }

    </script>
    <script src="/static/adicionalesjs/formquestion.js?0.25"></script>
{% endblock %}

{% block atras %}/th_dir_planificacion?action=midepa&idp={{ cabecera.periodo.pk }}&unidad={{ unidad }} {% endblock %}

{% block canvas %}
    <div class='row'>
        <div class='col-lg-12'>
            <div class='headtitle'>
                <h3 class="texto-blue">Gestiones </h3>
                <h6 class="mb-0"><i class="bi bi-calendar2-range"></i> {{ cabecera.periodo }}</h6>
                <h6><i class="bi bi-diagram-3 fs-4"></i> {{ cabecera.departamento}}</h6>
            </div>
        </div>
    </div>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-sm-3'>
                {% if persona.tiene_gestion or persona.es_directordepartamental %}
                    <a href="javascript:;" class='btn btn-success' id="importar"><span
                            class="fa fa-plus "></span> Importar gestiones
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body rounded-3 border-dark-info">
            <table class="tabla_responsive table table_primary">
                <thead>
                <tr>
                    <th style="width: 120px">Nro.</th>
                    <th>Dirección</th>
                    <th>Gestión</th>
                    <th style="width: 230px">Responsable</th>
                    <th style="width: 230px">Responsable subrogante</th>
                    <th style="width: 230px">Estado</th>
                    <th style="width: 80px"></th>
                </tr>
                </thead>
                <tbody>
                {% for gestion in gestiones %}
                    <tr>
                        <td data-title="NO.">{{ forloop.counter }}</td>
                        <td data-title="dirección">{{ gestion.gestion.departamento }}</td>
                        <td data-title="gestión">{{ gestion.gestion.descripcion }}</td>
                        <td data-title="nivel territorial">{{ gestion.responsable }}</td>
                        <td data-title="responsable">{{ gestion.responsablesubrogante }}</td>
                        <td data-title="estado"><label
                                class=" {% if gestion.estado == 1 %}text-info{% else %}
                                    {% if gestion.estado == 2 or gestion.estado == 3 %}text-warning
                                        {% else %}
                                            {% if gestion.estado == 4 or gestion.estado == 5 %}text-success
                                                {% else %}text-danger
                                                {% endif %}
                                            {% endif %}
                                    {% endif %} ">
                            {{ gestion.get_estado_display }}
                        </label>
                        </td>

                        <td class="text-center w-3">
                            <div class="dropdown">
                                <div class="dropdown dropleft">
                                    <a href="javascript:void(0);"
                                       class="btn-icon btn btn-ghost btn-sm rounded-circle"
                                       data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">

                                        <span class="dropdown-header"><i class="fa fa-cogs"></i> Acciones</span>

                                        {% if not gestion.gestion.noactividades %}
                                            <li>
                                                <a class="dropdown-item"
                                                   href='/th_dir_planificacion?action=gestionar&id={{ gestion.id }}&unidad={{ unidad }}'>
                                                    <i class="fa fa-briefcase dropdown-item-icon"></i> Gestionar
                                                </a>
                                            </li>

                                            <li>

                                                <a class="dropdown-item"
                                                   href='/th_dir_planificacion?action=brecha&id={{ gestion.id }}&unidad={{ unidad }}'
                                                ><i class="fa fa-address-card dropdown-item-icon"></i>
                                                    Brechas
                                                </a>
                                            </li>
                                            {# 4 : Validado director#}

                                            <li>
                                                <a class="dropdown-item"
                                                   href='/th_dir_planificacion?action=descargaplantilla&idg={{ gestion.id }}&unidad={{ unidad }}'>
                                                    <i class="fa fa-download dropdown-item-icon"></i> Descargar
                                                    Plantilla</a></li>
                                        {% else %}

                                            <li>
                                                <a class="dropdown-item"
                                                   href='/th_dir_planificacion?action=brechagob&id={{ gestion.id }}&unidad={{ unidad }}'>
                                                    <i class="fa fa-address-card dropdown-item-icon"></i> Brechas
                                                </a>
                                            </li>

                                        {% endif %}

                                        {% if gestion.cabecera.estado != 5 and gestion.cabecera.estado != 3 %}

                                            {# 1 : en proceso#}
                                            {% if gestion.estado == 1 or gestion.estado == 6 %}
                                                <li>
                                                    <a href="javascript:;" class="enviardir dropdown-item"
                                                       gest="{{ gestion.id }}"><span
                                                            class="fa fa-list-alt dropdown-item-icon"></span>
                                                        Enviar a Director/a</a>
                                                </li>
                                            {% endif %}
                                            {# 2 : enviado a director#}
                                            {% if gestion.estado == 2 or gestion.cabecera.estado != 3 or gestion.cabecera.estado != 5 and persona.es_directordepartamental %}
                                                <li>
                                                    <a href='javascript:;'
                                                       class="aprobar_dir dropdown-item" idg="{{ gestion.pk }}"><i
                                                            class="fa fa-list dropdown-item-icon "></i> Aprobar/Rechazar
                                                    </a></li>
                                            {% endif %}
                                            {% if gestion.puede_eliminar or puede_gestionar_plantilla %}

                                                <li><a class="eliminacionmodal dropdown-item" href="javascript:;"
                                                       nhref='/th_dir_planificacion?action=delgestion&id={{ gestion.id }}&unidad={{ unidad }}'><span
                                                        class="fa fa-remove dropdown-item-icon"></span> Eliminar</a>
                                                </li>
                                            {% endif %}
                                        {% endif %}


                                        <li>
                                            <a class="dropdown-item"
                                               onclick="formModalBase('{{ gestion.id|encrypt  }}','VER SEGUIMIENTO','verproceso','','modal-md')"
                                               href="javascript:void(0);"><span
                                                    class="fa fa-comments dropdown-item-icon"></span> Seguimiento</a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item"
                                               onclick="formModalBase('{{ gestion.id|encrypt }}','CAMBIAR ESTADO','cambiarEstadoGestionPlanificacionTH','','modal-sm')"
                                               href="javascript:void(0);"
                                            ><i class="fa fa-refresh dropdown-item-icon"></i> Cambiar estado</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               onclick="formModalBase('{{ gestion.id|encrypt }}','CAMBIAR RESPONSABLE','cambiarResponsableGestion','','modal-md')"
                                               href="javascript:void(0);"
                                            ><i class="fa fa-user dropdown-item-icon"></i> Cambiar responsable</a>
                                        </li>
{#                                        <li>#}
{#                                            <a class="dropdown-item"#}
{#                                               onclick="formModalBase('{{ gestion.id|encrypt }}','MOVER GESTIÓN','movergestion','','modal-md')"#}
{#                                               href="javascript:void(0);"#}
{#                                            ><i class="fa fa-arrow-right dropdown-item-icon"></i> Mover gestión</a>#}
{#                                        </li>#}
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10">
                            NO EXISTEN GESTIONES REGISTRADAS
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    </div>


    <div class="modal fade static" id="itemspanel_gestion" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document"
             id="wmodalbase">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="paneltitle">Importar Gestiones</h4>
                </div>
                <div class="modal-body panelbody p-4">
                    <span>¿Desea importar las siguientes gestiones?:</span>
                    <div style="text-align: center;" id="modalcuerpo">
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <a href="javascript:;" class="btn btn-success" id="importarok"><i class="fa fa-plus"></i>
                        Importar</a>
                    <a href="javascript:;" class="btn btn-danger" id="cerrar"> Cerrar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static" id="itemspanelaprobar" style="display: none;">
       <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document" id="wmodalbase">
            <div class="modal-content border-radius-modal">
                <div class="modal-header">
                    <h4><i class="fa fa-list"></i> <b class="paneltitle">APROBAR/RECHAZAR</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row panelbodyaprobar">
                        <div class="col-12">
                            <label for="" class="fw-semi-bold">Estado: </label>
                            <select style="width: 150px" id="estado_gestion">
                                <option value="4">VALIDAR</option>
                                <option value="6">RECHAZAR</option>
                            </select>
                        </div>
                        <div class="select2">
                            <label for="" class="fw-semi-bold">Observación:</label>
                            <textarea class="form-control" id="obser_gestion"
                                      type="text"></textarea>
                        </div>
        
                        <input type='hidden' id='codigo_gestion'/>
        
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <a href="javascript:;" class="btn btn-orange fs-5 px-5" id="aprobar"><i class="fa fa-plus"></i> Guardar</a>
                    <a href="javascript:;" class="btn btn-cian-secondary fs-5 px-5" id="cerraraprobar"><i class="fa fa-close"></i> Cerrar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4><i class="fa fa-list"></i> <b class="paneltitle">FORMULARIO MODAL</b></h4>
        </div>
        <div class="modal-body">
            <div class="row-fluid panelbody">

            </div>
        </div>
        <div class="modal-footer" id="footermodal">
            <a href="javascript:;" class="btn btn-default" data-dismiss="modal"><i
                    class="fa fa-window-close"></i>
                Cerrar</a>
        </div>
    </div>


    <div class="modal fade static" id="itemspanelEstado" style="display: none;">
        <div class="modal-header">
            <h4><i class="fa fa-list"></i> <b class="paneltitle">FORMULARIO MODAL</b></h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal form-modal" autocomplete="off" method="post"
                  enctype="multipart/form-data" action="{{ request.path }}">
                {% csrf_token %}
                <div class="row-fluid panelbodyEstado">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
