<h5>Periodo: {{ periodo }}</h5><br>
<h5>Carrera: {{ carrera }}</h5><br>
<table class='table table-bordered table-striped filterable'>
    <thead>
    <tr>
        <th style="width: 40px; text-align: center"></th>
        <th width="30px">Nº</th>
        <th width="80px">Cedula</th>
        <th style="text-align: center;">Estudiante</th>
        <th style="text-align: center;">Deudas</th>
    </tr>
    </thead>
    <tbody>
    {% for matricula in matriculas %}
        <tr>
            <td style="text-align: center"><input type="checkbox" class="seleccionado_bloqueo" {% if matricula.bloqueo_matricula %} checked="checked" {% endif %} ida_bloqueo="{{ matricula.id }}"></td>
            <td>{{ forloop.counter }}</td>
            <td>{{ matricula.inscripcion.persona.cedula }}</td>
            <td>
                {{ matricula.inscripcion.persona.nombre_completo_inverso }}<br>
                {% if matricula.bloqueomatricula  %}
                    <br><span class="label label-important tu" title="Matricula Bloqueada, impide toma de asistencia, ingresos de deberes y notas"> MATRICULA BLOQUEADA</span>
                {% endif %}
            </td>
            <td>
                <strong>Pago ultimo rubro</strong> {{ matricula.ultimo_rubro|date:'d-m-Y' }}
            </td>
        <tr>
    {% endfor %}
    </tbody>
</table>
