<script language="JavaScript">
   $('.porcentajes').blur(function(){
        var elemento = $(this);
        var id = elemento.attr("eid");
        numerico($(this), 0, 100, 0);
        var proyectado = parseFloat($("#proyectado_"+id).html());
        var porcentaje = parseFloat($(this).val());
        valordescuento = (proyectado * porcentaje)/100;
        $("#descuento_"+id).html(valordescuento.toFixed(2));
        ingresoneto = proyectado - valordescuento;
        $("#neto_"+id).html(ingresoneto.toFixed(2));
    });
</script>


<h5>Proyección del Presupuesto General: {{ anio }}
    <input type="hidden" id="anioporcentaje" value="{{ anio }}" >
    <input type="hidden" id="tiporeporteanual" value="{{ tiporeporteanual }}" >
    <input type="hidden" id="fechadesde" value="{{ fechadesde }}" >
    <input type="hidden" id="fechahasta" value="{{ fechahasta }}" >
</h5><br>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th width="30%" style="text-align: center">Periodo</th>
            <th width="30%" style="text-align: center">Programa en ejecución</th>
            <th width="8%" style="text-align: center">Ingreso bruto</th>
            <th width="8%" style="text-align: center;">Porcentaje R/M/B</th>
            <th width="8%" style="text-align: center;">Retirado%-Mora%-Beca%</th>
            <th width="8%" style="text-align: center;">Ingreso Neto</th>
            <th width="8%" style="text-align: center;">Ingreso Pagado</th>
        </tr>
    </thead>
    <tbody>
    {% for p in programas %}
        <tr>
            <td>{{ p.periodo }}</td>
            <td>{{ p.programa }}</td>
            <td style="text-align: right"><span id="proyectado_{{ forloop.counter }}">{{ p.totalproyectado }}</span></td>
            <td style="text-align: center"><input class="form-imput input-mini porcentajes" style="text-align: right" eid="{{ forloop.counter }}" pid ="{{ p.periodoid }}" cid="{{ p.programaid }}" type="text" value="0" {% if p.totalproyectado == 0 %}readonly{% endif %} ></td>
            <td style="text-align: right"><strong><span id="descuento_{{ forloop.counter }}">{{ p.valordescuento }}</span></strong></td>
            <td style="text-align: right"><span id="neto_{{ forloop.counter }}">{{ p.ingresoneto }}</span></td>
            <td style="text-align: right">{{ p.totalpagado }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>