{% load humanize %}
{% block heading %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
<table class="table table-bordered">
    <tr>
        <td style="width: 15%;"><b>Identificación:</b></td>
        <td style="width: 35%;">{{ matricula.inscripcion.persona.cedula }}</td>
        <td style="width: 15%;"><b>Nombres:</b></td>
        <td style="width: 35%;">{{ matricula.inscripcion.persona }}</td>
    </tr>
    <tr>
        <td><b>Periodo:</b></td>
        <td colspan="3">{{ matricula.nivel.periodo }}</td>
    </tr>
    <tr>
        <td><b>Programa:</b></td>
        <td colspan="3">{{ matricula.inscripcion.carrera.nombre }}</td>
    </tr>
</table>
<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th style="width: 3%; text-align: center; ">#</th>
            <th style="width: 57%; text-align: center; ">Rubro</th>
            <th style="width: 10%; text-align: center;  ">Valor</th>
            <th style="width: 10%; text-align: center; ">Emitido</th>
            <th style="width: 10%; text-align: center; ">Vence</th>
            <th style="width: 10%; text-align: center; ">Pagado</th>
        </tr>
    </thead>
    <tbody>
    {% for rubro in rubrosadicionales %}
        <tr>
            <td style="text-align: right">{{ forloop.counter }}</td>
            <td style="text-align: justify">{{ rubro.nombre }}</td>
            <td style="text-align: right">$ {{ rubro.valor|floatformat:2|intcomma }}</td>
            <td style="text-align: center">{{ rubro.fecha|date:"Y-m-d" }}</td>
            <td style="text-align: center">{{ rubro.fechavence|date:"Y-m-d" }}</td>
            <td style="text-align: center">
                {% if rubro.valor == rubro.saldo %}
                    <span class="label label-danger">NO</span>
                {% elif rubro.saldo == 0 %}
                    <span class="label label-success">SI</span>
                {% else %}
                    <span class="label label-warning">PARCIAL</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <td colspan="2"><b>Total Rubros adicionales</b></td>
        <td style="text-align: right"><b>$ {{ totalrubros|floatformat:2|intcomma }}</b></td>
        <td colspan="3"></td>
    </tfoot>
</table>