{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script>
        $(function() {
            $(".listadocombo").change(function() {
                var res = $(this).val().split("_");
                if ((res[1]==35) || (res[1]==37)){
                    $('#id_observacion'+res[0]).attr('readonly', false);
                }else{
                    $('#id_observacion'+res[0]).attr('readonly', true);
                }
            });
            $("#guardar").click(function() {
                var lista = "";
                var valida = 0;
                var obs = 0;
                $(".listadocombo").each(function () {
                    if ($(this).val()==0){
                        valida = 1
                    }

                    if ($("#id_observacion" + $(this).attr('idpre')).attr('readonly')){
                        gra = 0
                    }else{
                        if ($("#id_observacion" + $(this).attr('idpre')).val() == ''){
                            valida = 1
                        }
                    }
                    obs = $("#id_observacion" + $(this).attr('idpre')).val();
                    lista =lista + $(this).val() + '_' + obs + ',';
                })
                if (lista.length > 0){
                    lista = lista.substring(0, lista.length-1);
                }
                if (valida == 1){
                    smoke.alert('Favor completar encuesta');
                    return true;
                }

                if (lista.length > 0){
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/helpdesk_hdusuario",
                        {#data: formdata,#}
                        data: {'action': 'realizarencuesta', 'lista': lista, 'incidente': '{{ incidente.id|encrypt }}'{% if incidente.revisionequipoexterno %},'mantexterno':$("#mantexterno").is(":checked"){% endif %}},
                        error: function () {
                            $.unblockUI();
                            smoke.alert("Error al enviar los datos.");
                        },
                        success: function (data) {
                            if (data.result == "ok") {
                                location.href = '/adm_hdusuario';
                            } else {
                                $.unblockUI();
                                smoke.alert(data.mensaje);
                            }
                        }
                    });
                }else{
                    smoke.alert("Debe seleccionar al menos una pregunta.");
                }
            });
            {#$("#mantexterno").change(function () {#}
            {#    if (document.getElementById('mantexterno').checked==true){#}
            {#        alert($("#mantexterno").val())#}
            {#    }#}
        });
    </script>
{% endblock %}
{% block atras %}/adm_hdusuario{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }} </h4>
            <h4>AGENTE RESOLVIÓ INCIDENTE: {{ agente }} </h4>
        </div>
    </div>
    <form class='formulario' method="POST" action="/helpdesk_hdusuario">
        <input type="hidden" id="action" name="action" value="realizarencuesta"/>
        <input type="hidden" name="id" value="{{ incidente.id }}">
        <div class="modal-body">
            <div class='row-fluid'>
                <div class='span12'>
                    <div class='alert alert-danger encuestaincompleta' style="display: none;">
                        LA ENCUESTA ESTA INCOMPLETA, POR FAVOR LLENAR TODOS LOS CAMPOS.
                    </div>
                    <i>Esta es una encuesta anonima. Sus datos no serán revelados.</i>
                    <input type="hidden" name="action" value="responder"/>
                    <input type="hidden" name="id" value="{{ encuesta.id }}">
                    <table class='table table-bordered table-striped' >
                        <thead>
                        <tr>
                            <th>Descripción de la encuesta</th>
                            <th style="width: 200px;text-align: center ">Valore el nivel de importancia</th>
                            <th style="width: 300px;text-align: center ">Observación</th>

                        </tr>
                        </thead>
                        {% for preguntas in listadopreguntas %}
                            <thead>
                            <tr>
                                <th style="font-size: 17px;vertical-align: middle" >{{ preguntas.pregunta }}</th>
                                <th style="font-size: 10px;text-align: center;vertical-align: middle">
                                    <select class="listadocombo" idpre="{{ preguntas.id }}" id="cmbpregunta" name="cmbpregunta">
                                        <option value="0">---</option>
                                        {% for respuesta in preguntas.tiporespuesta.listadorespuestas %}
                                            <option value="{{ preguntas.id }}_{{ respuesta.id }}">{{ respuesta }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th style="font-size: 17px" ><textarea readonly placeholder="Ayudenos a mejorar. Por favor indiquenos el motivo de su calificacion" cols="40" id="id_observacion{{ preguntas.id }}" name="id_observacion{{ preguntas.id }}" rows="2"></textarea></th>
                            </tr>
                            </thead>
                        {% endfor %}
                    </table>
                    {% if incidente.revisionequipoexterno %}
                        <div class='alert'>
                            <input style="width: 15px; height: 15px" type="checkbox" id="mantexterno" name="mantexterno"><span style="font-size: 14px"> Certificó haber recibido asistencia técnica en un equipo personal utilizando para la ejecución de mi trabajo institucional</span>
                        </div>
                    {% endif %}

                    <div class='alert alert-danger encuestaincompleta' style="display: none;">
                        LA ENCUESTA ESTA INCOMPLETA, POR FAVOR LLENAR TODOS LOS CAMPOS.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a  href="javascript:;" class="btn btn-success btn-large" id="guardar"><i class="fa fa-save"></i> Guardar</a>
        </div>
    </form>
{% endblock %}