{% load humanize %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

            var nf = 0;
            var numerocuota = 0;
            var fechabasepago = '{{ fechaultimacuota|date:"Y-m-d" }}';

            valoresCuotas = function (){
                numerico($(this), 0, 1000000, 2);
                sumarcuotas();
            };

            sumarcuotas = function (){
                var sumacuotas = 0;
                var refinanciar = parseFloat($("#totalrefinanciar").val());
                $('input[name="valorcuota[]"]').each(function () {
                    valor = parseFloat($(this).val());
                    sumacuotas += valor;
                });

                var diferencia = refinanciar - sumacuotas;

                $("#totalsumacuotas").val(sumacuotas.toFixed(2));
                $("#lbltotalcuotas").html("$ " + sumacuotas.toFixed(2));
                $("#lbldiferencia").html("$ " + diferencia.toFixed(2));
            };

            sumar_mes_a_fecha = function (fecha){
                var anio = parseInt(fecha.substring(0, 4));
                var mes = parseInt(fecha.substring(5, 7)) - 1;
                var dia = parseInt(fecha.substring(8, 10));

                var dateSrt = new Date(anio, mes, dia);
                var currentDay = dateSrt.getDate();
                var currentMonth = dateSrt.getMonth();
                dateSrt.setMonth(currentMonth + 1, currentDay);

                if (dateSrt.getMonth() > currentMonth + 1) {
                    dateSrt.setDate(0);
                }

                //var txtDay = $.datepicker.formatDate('dd-mm-yy', dateSrt);

                var val = {
                    d: dateSrt.getDate(),
                    m: dateSrt.getMonth() + 1,
                    yy: dateSrt.getFullYear().toString().substring(2),
                    yyyy: dateSrt.getFullYear()
                };
                val.dd = (val.d < 10 ? '0' : '') + val.d;
                val.mm = (val.m < 10 ? '0' : '') + val.m;

                var txtDay = val.yyyy + "-" + val.mm + "-" + val.dd;
                {#var x = $.datepicker.formatDate#}
                //$('.demo').append('<label>' + txtDay + '</label><br>');
                fechabasepago = txtDay;
                return txtDay;
            };

            eliminarItem = function() {
                var id = $(this).attr("idf");
                $("#fila_"+id).remove();

                var rowCount = $('#tbdetalleactividad tr').length;
                alert(rowCount);

                numerocuota = novencidas;

                $("#tbdetalleactividad tbody tr").each(function (index) {
                    numerocuota ++;
                    $("#fechacuota")[0].val("hola");
                    alert($("#fechacuota")[0].val());
                    $(this).children("td").each(function (index2) {
                        if(index2 == 0){
                            $(this).text(numerocuota.toString());
                        }
                        else if(index2 == 1){
                            $(this).text("CUOTA # "+numerocuota.toString());
                        }
                    });
                });


            };


            {% for detalle in detallecuotas %}
                nf += 1;
                numerocuota ++;
                nueva = '<tr id="fila_'+nf.toString()+'">\n' +
                    '                    <td width="3%" style="text-align: right; font-weight: bold">'+numerocuota.toString()+'</td>\n' +
                    '                    <td width="30%">CUOTA # '+numerocuota.toString()+'</td>\n' +
                    '                    <td width="30%" style="text-align: center"><input type="text" name="fechacuota[]" class="selectorfecha" value="{{ detalle.fechacuota|date:"Y-m-d" }}" readonly style="cursor:text; background-color: #FFFFFF" /></td>\n' +
                    '                    <td width="30%" style="text-align: center"><input style="text-align: right; width: 80%; text-transform: uppercase" maxlength="7" class="form-imput input-mini valorescuotas" name="valorcuota[]"  type="text" value="{{ detalle.valorcuota }}" ></td>\n' +
                    '                    <td width="3%" style="text-align: center"></td>\n' +
                    '                </tr>';

                $("#detalle_actividades").append(nueva);
                $("#detalle_actividades").find(".selectorfecha").datepicker({format:"yyyy-mm-dd"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
                $(".eliminaritem").unbind("click.eliminarItem");
                $(".eliminaritem").bind("click.eliminarItem", eliminarItem);

                $(".valorescuotas").unbind("blur.valoresCuotas");
                $(".valorescuotas").bind("blur.valoresCuotas", valoresCuotas);
            {% endfor %}

            $(".agregacuota").click(function() {
                if(datoscuotacompleto()){
                    nf += 1;
                    numerocuota ++;

                    fechapagocuota = sumar_mes_a_fecha(fechabasepago);
                    nueva = '<tr id="fila_'+nf.toString()+'">\n' +
                        '                    <td width="3%" style="text-align: right; font-weight: bold">'+numerocuota.toString()+'</td>\n' +
                        '                    <td width="30%">CUOTA # '+numerocuota.toString()+'</td>\n' +
                        '                    <td width="30%" style="text-align: center"><input type="text" name="fechacuota[]" class="selectorfecha" value="'+fechapagocuota+'" readonly style="cursor:text; background-color: #FFFFFF"/></td>\n' +
                        '                    <td width="30%" style="text-align: center"><input style="text-align: right; width: 80%; text-transform: uppercase" maxlength="7" class="form-imput input-mini valorescuotas" name="valorcuota[]"  type="text" value="0.00" ></td>\n' +
                        '                    <td width="3%" style="text-align: center"></td>\n' +
                        '                </tr>';


                    $("#detalle_actividades").append(nueva);

                    $("#detalle_actividades").find(".selectorfecha").datepicker({format:"yyyy-mm-dd"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });

                    $(".eliminaritem").unbind("click.eliminarItem");
                    $(".eliminaritem").bind("click.eliminarItem", eliminarItem);

                    $(".valorescuotas").unbind("blur.valoresCuotas");
                    $(".valorescuotas").bind("blur.valoresCuotas", valoresCuotas);

                    $("#lblnumerocuotas").html(numerocuota);
                }
            });

            datoscuotacompleto = function (){
                var c1e = true;

                $('input[name="valorcuota[]"]').each(function() {
                    if($(this).val().trim()==''){
                        c1e = false;
                        return false;
                    }
                });

                return c1e;
            };

        });
    </script>
{% endblock %}
<form id="formulario3" style="width: 100%; margin-bottom: 0px;padding-left: 0px;padding-top: 0px; padding-right: 0px; padding-bottom: 0px">
    <input type='hidden' name='action' value='editarcuotaspropuesta'/>
    <input type='hidden' name='idsolicitud' value='{{ solicitud.id|encrypt }}'/>

<table class="table table-bordered table-striped" >
    <tbody>
        <tr>
            <td><strong>N° Solicitud:</strong></td>
            <td><span class="label label-success">{{ solicitud.id|stringformat:"05d" }}</span></td>
            <td><strong>Fecha:</strong></td>
            <td colspan="3"><span class="label label-info">{{ solicitud.fecha_creacion|date:"Y-m-d" }}</span></td>
        </tr>
        <tr>
            <td><strong>Programa/Cohorte:</strong></td>
            <td colspan="5">{{ solicitud.matricula.inscripcion.carrera.nombre }} /
                {{ solicitud.matricula.nivel.periodo.nombre }}
            </td>
        </tr>
        <tr>
            <td><strong>Total Pagar Programa:</strong></td>
            <td>$ {{ solicitud.totalprograma|floatformat:2|intcomma }}</td>
            <td><strong>Total Pagado:</strong></td>
            <td><span class="label label-success">$ {{ solicitud.pagado|floatformat:2|intcomma }}</span></td>
            <td><strong>Total Pendiente:</strong><input type='hidden' name='totalpendiente' id='totalpendiente' value='{{ solicitud.pendiente }}' /></td>
            <td><span class="label label-warning">$ {{ solicitud.pendiente|floatformat:2|intcomma }}</span></td>
        </tr>
        <tr>
            <td><strong>Pago Requerido:</strong></td>
            <td><span class="label label-inverse">$ {{ solicitud.pagorequerido|floatformat:2|intcomma }}</span></td>
            <td><strong>Total Refinanciar:</strong></td>
            <td><span class="label label-success"><input type="hidden" id="totalrefinanciar" value="{{ solicitud.montorefinanciar }}">$ {{ solicitud.montorefinanciar|floatformat:2|intcomma }}</span></td>
            <td><strong>Número Cuotas:</strong></td>
            <td><span id="lblnumerocuotas" class="badge badge-info">{{ totalcuotas }}</span></td>
        </tr>
    </tbody>
</table>

<div class="row-fluid">
    <div class="span12" style="overflow-y:scroll; height: 350px">
        <table class="table table-bordered table-striped table-condensed table-hover table-even-widths">
            <thead>
            <tr>
               <th colspan="2" style="text-align: left">DETALLE DE CUOTAS PROPUESTO<input type='hidden' name='totalsumacuotas' id='totalsumacuotas' value='{{ solicitud.montorefinanciar }}' /></th>
               <th colspan="3" style="text-align: right"><strong>Total Cuotas: <span id="lbltotalcuotas">$ {{ solicitud.montorefinanciar|floatformat:2|intcomma }}</span>  (<span style="color: red">Diferencia:</span> <span id="lbldiferencia" style="color: red">$ 0.00</span>)</strong></th>
            </tr>
            <tr>
                <th style="width: 3%; text-align: center;">#</th>
                <th style="width: 54%; text-align: center;">Cuota</th>
                <th style="width: 20%; text-align: center;">Fecha Vence</th>
                <th style="width: 20%; text-align: center;">Valor Cuota</th>
                <th style="width: 3%"><a href="javascript:;" id="btnagregarcuota" class="btn btn-success btn-mini agregacuota" data-toggle="tooltip" data-placement="bottom" data-original-title="Agregar Cuota"><i class="fa fa-plus"></i> </a></th>
            </tr>
            </thead>
            <tbody id="detalle_actividades">

            </tbody>
        </table>
    </div>
</div>
</form>