{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_email").addClass("validate[required]");
            $("#id_email").css({'text-transform': 'none'}).addClass("validate[custom[email],correoprivado[@{{ email_domain }}]]");

        });
    </script>
{% endblock %}
{% block atras%}/rec_facturas{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/rec_facturas{% endblock %}
{% block formdestination %}/rec_facturas{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editcorreo'/>
    <input type='hidden' name='id' value="{{ factura.id }}"/>
{% endblock %}
{% block formback %}/rec_facturas{% endblock %}
{% block buttonname %}Guardar{% endblock %}