{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            $("#id_refecencia, #id_cuentabanco").addClass("validate[required]");

            $("#id_fecha").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });

            $("#id_valor").blur(function () {
                numerico($(this), 0, 0, 2);
            })
        });
    </script>
{% endblock %}
{% block atras %}/rec_facturas{% endblock %}
{% block titulo %}{{ title }}: {{ factura.numero }}{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formaction %}/rec_facturas{% endblock %}
{% block formdestination %}/rec_facturas?id={{ factura.id }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='recibirpago'/>
    <input type='hidden' name='id' value='{{ factura.id }}'/>
{% endblock %}
{% block formback %}/rec_facturas{% endblock %}