{% extends 'base_pdf.html' %}
{% load sga_extras %}
{% block extra_style %}
    <style>
        .page-break {
            page-break-before: always;
        }

        .table-container {
            page-break-before: avoid;
            page-break-after: avoid;
            page-break-inside: avoid;
        }</style>
{% endblock %}
{% block extra_header %}

{% endblock %}
{% block content %}
    <div class="text-center">
        <h1 class="fs-20">ACTA DE AUDIENCIA</h1>
    </div>
    <div class="pt-2 lh-15">
        <p>
            En la ciudad de Milagro, a los {{ fechainicio|date:"d" }} días del mes de {{ fechainicio|mes_fecha_natural }} del año {{ fechainicio|date:"Y" }},
            a las {{ horainicio|time:"H" }} horas con {{ horainicio|time:"i" }} minutos,
            en la Sala de Audiencias Unemi, ante el Msc {{ sustanciador.nombre_completo_minus }} Sustanciador
            Administrativo e infrascrito Secretario que certifica,
            siendo el día y hora señalados para que se lleve a efecto la presente Audiencia, comparecen:
            1.- El servidor: {{ servidor.nombre_completo_minus }}, {% if abogado %}con su abogado {{ abogado.nombre_completo_minus }}, {% endif %}
            da inicio y declara instalada la AUDIENCIA.
            Se han respetado todas las garantías y derechos constitucionales por lo que pido que se declare la validez del proceso.
            Se concede la palabra al servidor, a fin de que se pronuncie respecto a lo generado como incumplimiento, quien dice:
            {{ documento.audiencia.detalle_audiencia_alegato_acta_audiencia|safe }}

        </p>

        <p>
            Escuchadas que han sido las partes el Señor Sustanciador CONSIDERA y RESUELVE: En la presente causa se
            han observado las reglas del debido proceso, no se han presentado cuestiones de procedibilidad, prejudicialidad,
            de competencia y de nulidad que deban ser resueltas en ésta instancia por lo cual se declara la validez del proceso.
        </p>
        <p>
            Escuchado que ha sido el servidor, se anuncia la Resolución, misma que posteriormente en
            informe debidamente motivado será expedida en forma motivada.
        </p>
        <p>
            Por cuanto luego de concluida la audiencia los resultados presentados por ésta Autoridad concluye que los hechos {% if es_procedente %} si {% else %} no {% endif %}
            constituyen existencia del incumplimiento, en definitiva {% if es_procedente %} no {% else %} si {% endif %} se ha justificado plenamente la existencia del mismo,
            o se han establecido causas de justificación que eximen de responsabilidad al servidor, estableciendo la imposición de la falta leve o el archivo correspondiente.
        </p>
        <p>
            Se declara concluida la presente audiencia siendo las {{ horafin|time:"H" }} horas con {{ horafin|time:"i" }} minutos,
            para lo cual como constancia firman al pie de la presente,
            el infrascrito secretario de esta unidad que certifica {{ secretario.nombre_completo_minus }}
        </p>

    </div>

    <table>
        <tr>
            <td>
                <table class="table-bordered">
                    <thead class="bg-cian">
                    <tr>
                        <th class="text-center">
                            <p class="text-center py-8 text-cian">Rol/Cargo</p>
                        </th>
                        <th class="text-center">
                            <p class="text-center py-8 text-cian"> Firma</p>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
{#                    se esta excluyendo al abodago #}
                    {% for responsable in documento.responsables_firma_acta_audiencia %}
                        <tr>
                            <td class="w-60 text-cneter">
                                <p class="text-cian text-center">
                                    {{ responsable.get_rol_firma_display }}
                                </p>
                                <p class="mt-1 lh-15 fs-11">
                                    {{ responsable.persona.nombre_completo_titulo }}
                                    <br>
                                    <b>{{ responsable.cargo|default_if_none:'' }}</b>
                                </p>
                            </td>
                            <td class="align-middle fs-11 p-6 w-40 text-blue">

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}