{% extends "base.html" %}
{% load humanize %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src='/static/js/select2.js?v=1.0.0' ></script>
    <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
    <style>
        #app {padding-left: 1.5rem !important;padding-right: 1.5rem !important}
        .table_striped thead th:nth-child(2), .table_striped thead td:nth-child(2) {text-align: left !important;padding-left: 15px}
        .table_primary thead th:first-child, .table_primary thead td:first-child {width: 20px;background-color: #1c3247}
        .table_success thead th:first-child, .table_primary thead td:first-child {width: 20px;background-color: #468847}
        .table_warning thead th:first-child, .table_warning thead td:first-child {width: 20px;background-color: #fe9900}
        html {
            scroll-behavior: smooth;
        }
        .btn-group {margin-bottom: 10px;}

        @media only screen and (max-width: 767px) {
            .btn-group {
                display: block;
            }

            .btn-group .btn {
                display: block;
                float: none;
                width: 100%;
            }
        }
        @media (max-width: 768px) {
            .dropbottom button.btn {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        .dataTables_filter {
            display:none!important;
        }
    </style>
    <script>
        $(function() {
            $(".detalleactivo").click(function() {
                var id = $(this).attr("cid");
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_laboratoriosacademia",
                    data: {'action':'detalle_activo', 'id': id},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result=='ok'){
                            $("#detalleactivomodal_body").html(data.html);
                            $("#detalleactivomodal").modal({"backdrop":"static", "width": "1000px"}).modal("show");
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
                return false;
            });
            $("#detalleactivomodal_aceptar").click(function(){
                $("#detalleactivomodal").modal("hide");
            });
            var tabhojavida = localStorage.getItem('tabhojavida');
            if (!tabhojavida){
                tabhojavida = "#1";
                localStorage.setItem("tabhojavida", tabhojavida);
            }

            $('.tabs').each(function(){
                if ($(this).attr('href') == tabhojavida){
                    $(this).trigger('click');
                }
            }).click(function(){
                localStorage.setItem("tabhojavida", $(this).attr('href'));
            });


        });
    </script>
{% endblock %}
{% block atras %}/adm_laboratoriosacademia{% endblock %}
{% block canvas %}
    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3>{{ title }}</h3>
                <h6>{{ laboratorio }}</h6>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="card mb-4">
            {#                <div class="card-body border-top border-6 rounded-3 border-dark-info table-responsive">#}
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link navegalink {% if t == 1 or not t %}active{% endif %}" href="#act" data-bs-toggle="tab">ACTIVOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegalink {% if t == 2 %}active{% endif %}" href="#mat" data-bs-toggle="tab">MATERIALES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegalink {% if t == 3 %}active{% endif %}" href="#equi" data-bs-toggle="tab">EQUIPOS SIN CODIGO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegalink {% if t == 4 %}active{% endif %}" href="#insu" data-bs-toggle="tab">INSUMOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegalink {% if t == 5 %}active{% endif %}" href="#resp" data-bs-toggle="tab">MATERIALES RESPUESTOS Y ACCESORIOS</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane container {% if t == 1 or not t %}active{% else %}fade{% endif %}" id="act">
                    <div class="row-fluid">
                        <div class='span12'><br>
                            <a href="/adm_laboratoriosacademia?action=addinventario&idlaboratorio={{ laboratorio.id }}" class='btn btn-success bloqueo_pantalla'><i class="fa fa-plus "></i> Adicionar</a>
                        </div>
                    </div>
                    <table class='table table_primary table-striped' >
                        <thead>
                        <tr>
                            <th style="border:0!important;"></th>
                            <th>Activo</th>
                            <th style="width:250px; text-align: center">Observación</th>
                            <th style="width:100px; text-align: center">Fecha Desde</th>
                            <th style="width:100px; text-align: center">Fecha Hasta</th>
                            <th style="width:100px; text-align: center">Vigente</th>
                            <th style="width: 90px;">Estado Fisico</th>
                            <th style="width: 40px; text-align: center">Baja</th>
                            <th style="width: 40px; text-align: center">Detalle</th>
                            <th style="width:80px;"></th>
                        </tr>
                        </thead>
                        <tbody >
                        {% for inventariolaboratorioacademia in inventariolaboratorioacademias %}
                            <tr>
                                <td></td>
                                <td>{{ inventariolaboratorioacademia.activo }}</td>
                                <td>{{ inventariolaboratorioacademia.observacion }}</td>
                                <td style="text-align: center">{{ inventariolaboratorioacademia.fechadesde|date:'d-m-Y' }}</td>
                                <td style="text-align: center">{{ inventariolaboratorioacademia.fechahasta|date:'d-m-Y' }}</td>
                                <td style="text-align: center">{% if inventariolaboratorioacademia.vigente  %} SI {% else %} NO {% endif %} </td>
                                <td> {{ inventariolaboratorioacademia.activo.estado }}</td>
                                <td style="text-align: center">
                                    {% if inventariolaboratorioacademia.activo.statusactivo == 2 %}
                                        <label class="label label-important tu" title="Baja">SI</label>
                                    {% endif %}
                                </td>
                                <td style="text-align: center">
                                    <a class="btn btn-info btn-mini detalleactivo tu" title="Detalles" href='javascript:;' cid="{{ inventariolaboratorioacademia.activo.id }}"> <i class='fa fa-list'></i> </a>
                                </td>
                                <td>
                                    <div class="dropdown dropleft">
                                        <a href="javascript:void(0);" class="btn-icon btn btn-ghost btn-sm rounded-circle" data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v fs-6" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right" x-placement="right-start" style="">
                                            <li>
                                                <a href="/adm_laboratoriosacademia?action=editinventario&id={{ inventariolaboratorioacademia.id }}&idlaboratorio={{ laboratorio.id }}" class="dropdown-item bloqueo_pantalla" ><span class="fa fa-edit dropdown-item-icon" aria-hidden="true"></span> Editar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" title="Eliminar" class="dropdown-item" onclick="eliminarajax({{ inventariolaboratorioacademia.id }}, '{{ inventariolaboratorioacademia.activo }}', 'deleteinventario')">
                                                    <span class="fa fa-trash dropdown-item-icon" aria-hidden="true"></span> Eliminar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">NO EXISTEN DATOS</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane container {% if t == 2 %}active{% else %}fade{% endif %}" id="mat">
                    <div class="row-fluid">
                        <div class='span12'><br>
                            <a href="/adm_laboratoriosacademia?action=addinventarioproducto&idlaboratorio={{ laboratorio.id }}" class='btn btn-success bloqueo_pantalla'><i class="fa fa-plus "></i> Adicionar</a>
                        </div>
                    </div>
                    <table class='table table_primary table-striped' >
                        <thead>
                        <tr>
                            <th style="border:0!important;"></th>
                            <th>Material</th>
                            <th style="width:250px; text-align: center">Observación</th>
                            <th style="width:100px; text-align: center">Fecha Desde</th>
                            <th style="width:100px; text-align: center">Fecha Hasta</th>
                            <th style="width:75px; text-align: center">Vigente</th>
                            <th style="width:75px; text-align: center">Cantidad</th>
                            <th style="width: 75px;">U.M.</th>
                            <th style="width: 250px; text-align: center">Tipo</th>
                            <th style="width:80px;"></th>
                        </tr>
                        </thead>
                        <tbody >
                        {% for inventariolaboratorioacademiaproducto in inventariolaboratorioacademiasproducto %}
                            <tr>
                                <td></td>
                                <td>{{ inventariolaboratorioacademiaproducto.producto }}</td>
                                <td>{{ inventariolaboratorioacademiaproducto.observacion }}</td>
                                <td style="text-align: center">{{ inventariolaboratorioacademiaproducto.fechadesde|date:'d-m-Y' }}</td>
                                <td style="text-align: center">{{ inventariolaboratorioacademiaproducto.fechahasta|date:'d-m-Y' }}</td>
                                <td style="text-align: center">{% if inventariolaboratorioacademiaproducto.vigente  %} SI {% else %} NO {% endif %} </td>
                                <td style="text-align: center"> {{ inventariolaboratorioacademiaproducto.cantidad }}</td>
                                <td> {{ inventariolaboratorioacademiaproducto.producto.unidadmedida }}</td>
                                <td> {{ inventariolaboratorioacademiaproducto.producto.tipoproducto.nombre }}</td>
                                <td>
                                    <div class="dropdown dropleft">
                                        <a href="javascript:void(0);" class="btn-icon btn btn-ghost btn-sm rounded-circle" data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v fs-6" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right" x-placement="right-start" style="">
                                            <li>
                                                <a href="/adm_laboratoriosacademia?action=editinventarioproducto&id={{ inventariolaboratorioacademiaproducto.id }}&idlaboratorio={{ laboratorio.id }}" class="dropdown-item bloqueo_pantalla" ><span class="fa fa-edit dropdown-item-icon" aria-hidden="true"></span> Editar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" title="Eliminar" class="dropdown-item" onclick="eliminarajax({{ inventariolaboratorioacademiaproducto.id }}, '{{ inventariolaboratorioacademiaproducto.producto }}', 'deleteinventarioproducto')">
                                                    <span class="fa fa-trash dropdown-item-icon" aria-hidden="true"></span> Eliminar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">NO EXISTEN DATOS</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane container {% if t == 3 %}active{% else %}fade{% endif %}" id="equi">
                    <div class="row-fluid">
                        <div class='span12'><br>
                            <a href="/adm_laboratoriosacademia?action=addinventarioequipo&idlaboratorio={{ laboratorio.id }}" class='btn btn-success bloqueo_pantalla'><i class="fa fa-plus "></i> Adicionar</a>
                        </div>
                    </div>
                    <table class='table table_primary table-striped' >
                        <thead>
                        <tr>
                            <th style="border:0!important;"></th>
                            <th style="width:300px; text-align: left">Nombre</th>
                            <th style="width:300px; text-align: left">Observación</th>
                            <th style="width:75px; text-align: center">Vigente</th>
                            <th style="width:75px; text-align: center">Cantidad</th>
                            <th style="width:150px; text-align: center">Estado</th>
                            <th style="width:50px;"></th>
                        </tr>
                        </thead>
                        <tbody >
                        {% for itemequipo in listadoequiposincodigo %}
                            <tr>
                                <td></td>
                                <td>{{ itemequipo.nombre }}</td>
                                <td>{{ itemequipo.observacion }}</td>
                                <td style="text-align: center">{% if itemequipo.vigente  %} SI {% else %} NO {% endif %} </td>
                                <td style="text-align: center"> {{ itemequipo.cantidad }}</td>
                                <td style="text-align: center"> {{ itemequipo.get_estadoinventario_display }}</td>
                                <td>
                                    <div class="dropdown dropleft">
                                        <a href="javascript:void(0);" class="btn-icon btn btn-ghost btn-sm rounded-circle" data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v fs-6" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right" x-placement="right-start" style="">
                                            <li>
                                                <a href="/adm_laboratoriosacademia?action=editinventarioequipo&id={{ itemequipo.id }}&idlaboratorio={{ laboratorio.id }}" class="dropdown-item bloqueo_pantalla" ><span class="fa fa-edit dropdown-item-icon" aria-hidden="true"></span> Editar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" title="Eliminar" class="dropdown-item" onclick="eliminarajax({{ itemequipo.id }}, '{{ itemequipo.nombre }}', 'deleteequipo')">
                                                    <span class="fa fa-trash dropdown-item-icon" aria-hidden="true"></span> Eliminar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7">NO EXISTEN DATOS</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane container {% if t == 4 %}active{% else %}fade{% endif %}" id="insu">
                    <div class="row-fluid">
                        <div class='span12'><br>
                            <a href="/adm_laboratoriosacademia?action=addinventarioinsumo&idlaboratorio={{ laboratorio.id }}" class='btn btn-success bloqueo_pantalla'><i class="fa fa-plus "></i> Adicionar</a>
                        </div>
                    </div>
                    <table class='table table_primary table-striped' >
                        <thead>
                        <tr>
                            <th style="border:0!important;"></th>
                            <th style="width:300px; text-align: left">Nombre</th>
                            <th style="width:300px; text-align: left">Observación</th>
                            <th style="width:75px; text-align: center">Vigente</th>
                            <th style="width:75px; text-align: center">Cantidad</th>
                            <th style="width:50px;"></th>
                        </tr>
                        </thead>
                        <tbody >
                        {% for iteminsumo in listadoinsumos %}
                            <tr>
                                <td></td>
                                <td>{{ iteminsumo.nombre }}</td>
                                <td>{{ iteminsumo.observacion }}</td>
                                <td style="text-align: center">{% if iteminsumo.vigente  %} SI {% else %} NO {% endif %} </td>
                                <td style="text-align: center"> {{ iteminsumo.cantidad }}</td>
                                <td>
                                    <div class="dropdown dropleft">
                                        <a href="javascript:void(0);" class="btn-icon btn btn-ghost btn-sm rounded-circle" data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v fs-6" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right" x-placement="right-start" style="">
                                            <li>
                                                <a href="/adm_laboratoriosacademia?action=editinventarioinsumo&id={{ iteminsumo.id }}&idlaboratorio={{ laboratorio.id }}" class="dropdown-item bloqueo_pantalla" ><span class="fa fa-edit dropdown-item-icon" aria-hidden="true"></span> Editar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" title="Eliminar" class="dropdown-item" onclick="eliminarajax({{ iteminsumo.id }}, '{{ iteminsumo.nombre }}', 'deleteinsumo')">
                                                    <span class="fa fa-trash dropdown-item-icon" aria-hidden="true"></span> Eliminar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7">NO EXISTEN DATOS</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane container {% if t == 5 %}active{% else %}fade{% endif %}" id="resp">
                    <div class="row-fluid">
                        <div class='span12'><br>
                            <a href="/adm_laboratoriosacademia?action=addinventariorespuesto&idlaboratorio={{ laboratorio.id }}" class='btn btn-success bloqueo_pantalla'><i class="fa fa-plus "></i> Adicionar</a>
                        </div>
                    </div>
                    <table class='table table_primary table-striped' >
                        <thead>
                        <tr>
                            <th style="border:0!important;"></th>
                            <th style="width:300px; text-align: left">Nombre</th>
                            <th style="width:300px; text-align: left">Observación</th>
                            <th style="width:75px; text-align: center">Vigente</th>
                            <th style="width:75px; text-align: center">Cantidad</th>
                            <th style="width:50px;"></th>
                        </tr>
                        </thead>
                        <tbody >
                        {% for itemrespuesto in listadorespuestos %}
                            <tr>
                                <td></td>
                                <td>{{ itemrespuesto.nombre }}</td>
                                <td>{{ itemrespuesto.observacion }}</td>
                                <td style="text-align: center">{% if itemrespuesto.vigente  %} SI {% else %} NO {% endif %} </td>
                                <td style="text-align: center"> {{ itemrespuesto.cantidad }}</td>
                                <td>
                                    <div class="dropdown dropleft">
                                        <a href="javascript:void(0);" class="btn-icon btn btn-ghost btn-sm rounded-circle" data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v fs-6" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right" x-placement="right-start" style="">
                                            <li>
                                                <a href="/adm_laboratoriosacademia?action=editinventariorespuesto&id={{ itemrespuesto.id }}&idlaboratorio={{ laboratorio.id }}" class="dropdown-item bloqueo_pantalla" ><span class="fa fa-edit dropdown-item-icon" aria-hidden="true"></span> Editar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" title="Eliminar" class="dropdown-item" onclick="eliminarajax({{ itemrespuesto.id }}, '{{ itemrespuesto.nombre }}', 'deleterespuesto')">
                                                    <span class="fa fa-trash dropdown-item-icon" aria-hidden="true"></span> Eliminar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7">NO EXISTEN DATOS</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {#                </div>#}
        </div>
    </div>
    <div class='row-fluid'>
        {% if paging.num_pages > 20 %}
            <div class='pagination'>
                <ul>
                    {% if paging.primera_pagina %}
                        <li><a href="/adm_laboratoriosacademia?{% if search %}s={{ search }}&{% endif %}page=1">1</a></li>
                        <li><a href="/adm_laboratoriosacademia?{% if search %}s={{ search }}&{% endif %}page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>
                    {% endif %}
                    {% for pagenumber in paging.paginas %}
                        <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/adm_laboratoriosacademia?{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}">{{ pagenumber }}</a></li>
                    {% endfor %}
                    {% if paging.ultima_pagina %}
                        <li><a href="/adm_laboratoriosacademia?{% if search %}s={{ search }}&{% endif %}page={{ paging.ellipsis_derecha }}" class="active">...</a></li>
                        <li><a href="/adm_laboratoriosacademia?{% if search %}s={{ search }}&{% endif %}page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class='pagination'>
                <ul>
                    {% for pagenumber in paging.page_range %}
                        <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/adm_laboratoriosacademia?{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}">{{ pagenumber }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="modal fade static" id="detalleactivomodal" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Detalles de activo</h3>
                </div>
                <div class="modal-body" id="detalleactivomodal_body"></div>
                <div class="modal-footer">
                    <p style="text-align: right; margin-bottom: 0">
                        <a href="javascript:;" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-times-circle"></i> Cerrar</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block formback %}/adm_laboratoriosacademia{% endblock %}