{% extends 'core/baseperfil.html' %}
{% load sga_extras %}
{% block content_js %}
    <script>
        $(document).ready(function () {
            // Función para validar la contraseña y mostrar el check junto a cada ítem
            function validarClave() {
                let clave = $("#newpassword").val();
                let confirmarClave = $("#confirmpassword").val();
                let claveActual = $("#currentpassword").val();
                let check_icon = "bi bi-check2-circle";
                let remove_icon = "bi bi-x-circle";
                let validado = true
                // Restablecer el estado inicial
                $("#pswd_info p").removeClass("text-success text-danger");
                $(".validar i").removeClass(check_icon).removeClass(remove_icon);
                $(".button_save").empty()
                // Verificar cada criterio y mostrar el check
                // 1. Al menos una letra
                if (/[a-zA-Z]/.test(clave)) {
                    $("#letter").addClass("text-success");
                    $("#letter i").addClass(check_icon);
                } else {
                    $("#letter").addClass("text-danger");
                    $("#letter i").addClass(remove_icon);
                    validado = false
                }

                // 2. Al menos una letra en mayúscula y una letra en minúscula
                if (/[a-z]/.test(clave) && /[A-Z]/.test(clave)) {
                    $("#capital").addClass("text-success");
                    $("#capital i").addClass(check_icon);
                } else {
                    $("#capital").addClass("text-danger");
                    $("#capital i").addClass(remove_icon);
                    validado = false
                }

                // 3. Al menos un número
                if (/\d/.test(clave)) {
                    $("#number").addClass("text-success");
                    $("#number i").addClass(check_icon);
                } else {
                    $("#number").addClass("text-danger");
                    $("#number i").addClass(remove_icon);
                    validado = false
                }

                // 4. Al menos 8 caracteres
                if (clave.length >= 8) {
                    $("#length").addClass("text-success");
                    $("#length i").addClass(check_icon);
                } else {
                    $("#length").addClass("text-danger");
                    $("#length i").addClass(remove_icon);
                    validado = false
                }

                // 5. La nueva clave no debe ser igual a la anterior
                if (clave !== claveActual) {
                    $("#igualdad").addClass("text-success");
                    $("#igualdad i").addClass(check_icon);
                } else {
                    $("#igualdad").addClass("text-danger");
                    $("#igualdad i").addClass(remove_icon);
                    validado = false
                }

                // 6. La nueva clave debe ser igual a repetir clave
                if (clave === confirmarClave) {
                    $("#nuevarepetir").addClass("text-success");
                    $("#nuevarepetir i").addClass(check_icon);
                } else {
                    $("#nuevarepetir").addClass("text-danger");
                    $("#nuevarepetir i").addClass(remove_icon);
                    validado = false
                }
                if (validado){
                    $(".button_save").append(` <button type="submit" class="btn btn-orange fs-5 px-5">
                                                    <i class="bi bi-check-circle"></i> Guardar
                                                </button>`)
                }
            }

            // Agregar evento de entrada para validar la contraseña
            $("#newpassword, #confirmpassword, #currentpassword").on("input", function () {
                validarClave();
            });
        });
    </script>
{% endblock %}
{% block section_center_content %}
    <div>
        <!-- Form -->
        <form class="row" autocomplete="off" method="post" enctype="multipart/form-data"
                      action="{{ request.path }}">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            <div class="order-1 order-lg-0 col-lg-6 col-md-12 col-12">
                <!-- Current password -->
                <div class="mb-3">
                    <label class="form-label" for="currentpassword">Clave actual: <b class="text-danger">*</b></label>
                    <input id="currentpassword" type="password" name="currentpassword" class="form-control"
                           placeholder="" required/>
                </div>
                <!-- New password -->
                <div class="mb-3 password-field">
                    <label class="form-label" for="newpassword">Nueva Clave: <b class="text-danger">*</b></label>
                    <input id="newpassword" type="password" name="newpassword" class="form-control mb-2"
                           placeholder="" required/>
                    <div class="row align-items-center g-0">
                        <div class="col-12">
                            <span data-bs-toggle="tooltip" data-placement="right"
                                  title="Pruébelo escribiendo una contraseña en el campo a
                                  continuación. Para alcanzar su máxima potencia, utilice al menos 6
                                  caracteres, una letra mayúscula y un dígito,Ejem. 'Prueba01'">
                                Seguridad de la contraseña <i class="bi bi-info-circle ms-1"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <!-- Confirm new password -->
                    <label class="form-label" for="confirmpassword">Confirmar nueva clave: <b class="text-danger">*</b></label>
                    <input id="confirmpassword" type="password" name="confirmpassword" class="form-control mb-2"
                           placeholder="" required/>
                </div>
                <!-- Button -->
                <div class="button_save text-end">

                </div>
            </div>
             <div class="order-0 order-lg-1 col-lg-6 vertical-align-middle">
                <h5 class="">La clave debe cumplir con los siguientes parámetros:</h5>
                <div id="pswd_info" class="texto-blue">
                    <p id="letter" class="validar">
                        <i></i> Al menos <b class="fw-semi-bold">una letra</b>
                    </p>
                    <p id="capital" class="validar">
                        <i></i> Al menos <b class="fw-semi-bold">una letra en mayúscula y en minúscula</b>
                    </p>
                    <p id="number" class="validar">
                        <i></i> Al menos <b class="fw-semi-bold">un número</b>
                    </p>
                    <p id="length" class="validar">
                        <i></i> Al menos ha de contener <b class="fw-semi-bold">8 caracteres</b>
                    </p>
                    <p id="igualdad" class="validar">
                        <i></i> La nueva clave <b class="fw-semi-bold">no debe ser igual</b> a la anterior
                    </p>
                    <p id="nuevarepetir" class="validar">
                        <i></i> La nueva clave <b class="fw-semi-bold">debe ser igual</b> a repetir clave.
                    </p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}