{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script>
        $(function(){
            $("#id_nombre").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_requerimiento?action=sistema{% endblock %}
{% block formdestination %}/adm_requerimiento?action=sistema{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addsistema'/>
{% endblock %}
{% block formback %}/adm_requerimiento?action=sistema{% endblock %}
{% block buttonname %}Guardar{% endblock %}