{% extends "ajaxdeletedinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_requerimiento?action=viewparticipante&id={{ participante.capacitacion.id }}{% endblock %}
{% block formaction %}/adm_requerimiento?action=viewparticipante&id={{ participante.capacitacion.id }}{% endblock %}
{% block formactionvalue %}deleteparticipante{% endblock %}
{% block formobjectid %}{{ participante.id }}{% endblock %}
{% block formobjectrepr %}{{ participante.nombres }}{% endblock %}
