{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <style>
        .text-center  th td{
          text-align: center;
        }
    </style>
    <script type="text/javascript">

        oPermissions = {
            canView: eval({% if persona.usuario.is_staff %} true {% else %} false {% endif %}),
        };
        $.extend(true, $.fn.dataTable.defaults, {
            oLanguage: {
                sSearch: "<span>Filtro:</span> _INPUT_",
                sLengthMenu: "<span>Mostrar Entradas:</span> _MENU_",
                sZeroRecords: "No se encontraron resultados",
                sProcessing: "Procesando...",
                sEmptyTable: "Ningún dato disponible para visualizar",
                sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                sLoadingRecords: "Cargando...",
                oPaginate: {
                    sFirst: "<i title='Inicio' class='fa fa-step-backward'></i>",
                    sLast: "<i title='Último' class='fa fa-step-forward'></i>",
                    sNext: "<i title='Siguiente' class='fa fa-fast-forward'></i>",
                    sPrevious: "<i title='Anterior' class='fa fa-fast-backward'></i>"
                },
            }
        });
        var ActivityRegiterController = {
            init: function () {

                var self = this;
                self.$table = $('.datatable table');


                $(".addActividad").click(function (){
                    var idc = $('#idc').val();
                    ModalActivityRegister.open(true, idc);
                });


                self.$table.dataTable({
                    bJQueryUI: false,
                    bAutoWidth: false,
                    bProcessing: false,
                    bServerSide: true,
                    bSort: false,
                    sPaginationType: "full_numbers",
                    iDisplayLength: 25,
                    sDom: '<"datatable-header"fl><"datatable-scroll"tr><"datatable-footer"ip>',
                    sAjaxSource: "adm_requerimiento",
                    fnServerParams: function (aoData)
                    {
                        aoData.push(
                            {"name": "action", "value": 'load_data_detalle'},
                            {"name": "idc", "value": $("#idc").val()},
                            );
                    }
                    ,
                    aoColumnDefs:
                            [
                                {
                                    /*RESPONSABLE*/
                                    aTargets: [0],
                                    width: "25%",
                                },
                                {
                                    /*ACTIVIDAD*/
                                    aTargets: [1],
                                    width: "15%",
                                    fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                    {
                                        if(sData != 'NULL') {
                                            $(nTd).css('text-align', 'center')
                                        }
                                    }
                                },
                                {
                                    /*DESCRIPCION*/
                                    aTargets: [2],
                                    width: "20%",
                                },
                                {
                                    /*FECHA DE INICIO*/
                                    aTargets: [3],
                                    width: "8%",
                                    fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                    {
                                        if(sData != 'NULL') {
                                            $(nTd).css('text-align', 'center')
                                        }
                                    }
                                },
                                {
                                    /*FECHA DE FIN*/
                                    aTargets: [4],
                                    width: "8%",
                                    fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                    {
                                        if(sData != 'NULL') {
                                            $(nTd).css('text-align', 'center')
                                        }
                                    }
                                },
                                {
                                    /*ESTADO DE ACTIVIDAD*/
                                    aTargets: [5],
                                    width: "10%",
                                    mRender: function (data, type, row)
                                    {
                                        return '<input type="hidden" class="dt-col-state" value="' + (data) + '"/>';
                                    },
                                    fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                    {
                                        if(sData != 'NULL') {
                                            $(nTd).css('text-align', 'center')
                                        }
                                    }
                                },
                                {
                                    /*ESTADO*/
                                    aTargets: [6],
                                    width: "8%",
                                    mRender: function (data, type, row)
                                    {
                                        //console.log("data del estatus");
                                        //console.log(data);
                                        return '<input type="hidden" class="dt-col-status" value="' + (data ? 1 : 0) + '"/>';
                                    },
                                    fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                    {
                                        /*console.log(nTd);
                                        console.log(sData);
                                        console.log(oData);*/
                                        if(sData != 'NULL') {
                                            $(nTd).css('text-align', 'center')
                                        }

                                    },
                                    visible: oPermissions.canView,
                                },
                                {
                                    /*ACCIONES*/
                                    aTargets: [7],
                                    width: "10%",
                                    mRender: function (data, type, row)
                                    {
                                        return '<input type="hidden" class="dt-col-option" value="' + (data.idd) + '"/>'+
                                                '<input type="hidden" class="dt-col-option-idc" value="' + (data.idc) + '"/>' +
                                                '<input type="hidden" class="dt-col-option-state" value="' + (data.state) + '"/>'+
                                                '<input type="hidden" class="dt-col-option-status" value="' + (data.status ? 1 : 0) + '"/>'+
                                                '<input type="hidden" class="dt-col-option-responsable" value="' + (data.responsable) + '"/>';
                                    },
                                    fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                    {
                                        if(sData != 'NULL') {
                                            $(nTd).css('text-align', 'center')
                                        }
                                    }
                                }
                            ]
                    ,
                    fnDrawCallback: function ()
                    {
                        var count = 0;

                        //aTargets: [5]
                        $('.dt-col-state').each(function () {
                            var data = $(this).val();
                            var html = '';
                            /*
                            (1, u'INGRESADO'),
                            (2, u'NO INICIADA'),
                            (3, u'EN PROCESO'),
                            (4, u'REALIZADA'),
                            */
                            if(data==1){
                                html = '<span class="label label-info" >INGRESADO</span>';
                            }
                            else if(data==2){
                                html = '<span class="label label-inverse" >NO INCICIADA</span>';
                            }
                            else if(data==3){
                                html = '<span class="label label-warning" >EN PROCESO</span>';
                            }
                            else if(data==4){
                                html = '<span class="label label-success" >REALIZADA</span>';
                            }

                            var $html = $(html);

                            $(this).after($html);
                        });

                        $('.dt-col-status').each(function () {
                            var data = $(this).val();
                            var html = '';
                            if (data==1){
                                html = '<span class="label label-success" >Activo</span>';
                            }
                            else{
                                html = '<span class="label label-important" >Inactivo</span>';
                            }
                            var $html = $(html);
                            $(this).after($html);
                        });

                        //aTargets: [7]
                        $('.dt-col-option').each(function () {
                            var idd = $(this).val();
                            var idc = $('.dt-col-option-idc').eq(count).val();
                            var state = $('.dt-col-option-state').eq(count).val();
                            var responsable = $('.dt-col-option-responsable').eq(count).val();
                            var status = $('.dt-col-option-status').eq(count).val();

                            var html = '' +
                                        '<div class="table-controls">' +
                                        '<a class="btn btn-warning btn-mini dt-action-edit tu" title="Editar" data-original-title="Editar"  href="javascript:;" idc="'+idc+'" idd="'+idd+'"><span class="fa fa-edit"></span> </a> ';
                            if( state==1 && oPermissions.canView && status==1) {
                                if (state==1 && oPermissions.canView){
                                    html += '<a class="btn btn-danger btn-mini dt-action-inactive tu" title="Inactivar" data-original-title="Inactivar"  href="javascript:;" idc="'+idc+'" idd="'+idd+'"><span class="fa fa-close"></span> </a>';
                                }
                            }else if(status==0){
                                html += '<a class="btn btn-info btn-mini dt-action-active tu" title="Activar" data-original-title="Activar"  href="javascript:;" idc="'+idc+'" idd="'+idd+'"><span class="fa fa-check"></span> </a>';
                            }

                            var $html = $(html);

                            $(".dt-action-edit", $html).click(function (){
                                ModalActivityRegister.open(false, idc, idd, responsable);
                            });

                            $(".dt-action-inactive", $html).click(function () {
                                smoke.confirm("¿Está seguro de eliminar detalle de la actividad del responsable "+responsable+".? ", function (e) {
                                        if (e) {
                                            bloqueointerface();
                                            //console.log('paso');
                                            $.ajax({
                                                type: "POST",
                                                dataType: "json",
                                                url: "/adm_requerimiento",
                                                data: {'action': 'SaveInactiveHistoriaDetalle', 'idc': idc, 'idd': idd},
                                                success: function(data) {
                                                    $.unblockUI();
                                                    if (data.result == 'ok')
                                                    {
                                                        smoke.alert("Datos eliminados correctamente");
                                                        self.$table.dataTable().fnDraw();
                                                        var html = '';
                                                        if(data.estado==1){
                                                            html = '<span class="label label-info" >INGRESADO</span>';
                                                        }
                                                        else if(data.estado==2){
                                                            html = '<span class="label label-inverse" >NO INCICIADA</span>';
                                                        }
                                                        else if(data.estado==3){
                                                            html = '<span class="label label-warning" >EN PROCESO</span>';
                                                        }
                                                        else if(data.estado==4){
                                                            html = '<span class="label label-success" >REALIZADA</span>';
                                                        }
                                                        $("#tdEstado").html(html);
                                                    }
                                                    else
                                                    {
                                                        smoke.alert(data.mensaje);
                                                    }
                                                },
                                                error: function() {
                                                    $.unblockUI();
                                                    smoke.alert("Error al obtener los datos.");
                                                }
                                            });
                                        }
                                    }, {
                                        ok: "SI,ELIMINAR ACTIVIDAD",
                                        cancel: "NO,CANCELAR",
                                        classname: "custom-class",
                                        reverseButtons: true,
                                    }
                                );
                            });

                            $(".dt-action-active", $html).click(function () {
                                smoke.confirm("¿Está seguro de restaurar detalle de la actividad del responsable "+responsable+".? ", function (e) {
                                        if (e) {
                                            bloqueointerface();
                                            //console.log('paso');
                                            $.ajax({
                                                type: "POST",
                                                dataType: "json",
                                                url: "/adm_requerimiento",
                                                data: {'action': 'SaveActiveHistoriaDetalle', 'idc': idc, 'idd': idd},
                                                success: function(data) {
                                                    $.unblockUI();
                                                    if (data.result == 'ok')
                                                    {
                                                        smoke.alert("Datos restaurados correctamente");
                                                        self.$table.dataTable().fnDraw();
                                                        var html = '';
                                                        if(data.estado==1){
                                                            html = '<span class="label label-info" >INGRESADO</span>';
                                                        }
                                                        else if(data.estado==2){
                                                            html = '<span class="label label-inverse" >NO INCICIADA</span>';
                                                        }
                                                        else if(data.estado==3){
                                                            html = '<span class="label label-warning" >EN PROCESO</span>';
                                                        }
                                                        else if(data.estado==4){
                                                            html = '<span class="label label-success" >REALIZADA</span>';
                                                        }
                                                        $("#tdEstado").html(html);
                                                    }
                                                    else
                                                    {
                                                        smoke.alert(data.mensaje);
                                                    }
                                                },
                                                error: function() {
                                                    $.unblockUI();
                                                    smoke.alert("Error al obtener los datos.");
                                                }
                                            });
                                        }
                                    }, {
                                        ok: "SI,RESTAURAR ACTIVIDAD",
                                        cancel: "NO,CANCELAR",
                                        classname: "custom-class",
                                        reverseButtons: true,
                                    }
                                );
                            });

                            $(this).after($html);
                            count++;
                        });

                        $('.tip').tooltip();
                    }

                });

                ModalActivityRegister.init();

            }
        };
        var ModalActivityRegister = {
            init: function ()
            {
                var self = this;

                self.$modal = $('#modalAddEditAtividad');
                self.$frmAddEditAtividad = $("[name='frmAddEditAtividad']", self.$modal);

                $('#id_responsable, #id_actividad, #id_estado, #id_fechainicio, #id_fechafin, #id_descripcion', self.$modal).addClass("validate[required]");
                $("#id_fechainicio, #id_fechafin", self.$modal).datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });

                self.$frmAddEditAtividad.validate;

                $(".action-save", self.$modal).click(function() {
                    self.actionSave(true);
                });
                //self.initLoadComponent();
                self.$modal.on("show.bs.modal", function () {
                    //alert('show form');
                    //$("#id_fechainicio, #id_fechafin", self.$modal).datepicker({format:"yyyy/mm/dd"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
                    tipo_formulario(self.$frmAddEditAtividad);
                });

                self.$modal.on("hidden.bs.modal", function () {
                    self.formReset();
                });
            },
            initLoadComponentRepresentante: function (data/*=UNDEFINED*/){
                var self = this;

                //id_responsable = typeof id_responsable == 'undefined' ? 0 : id_responsable;

                ItemsDisplayRepresentante = function (item) {
                    if (item.name){
                        return $('<span>' + item.name+ '</span>');
                    }
                    else{
                        if (data) {
                            return $('<span>' + data.name+ '</span>');
                        } else {
                            return '---------';
                        }
                    }
                };

                $("#id_responsable", self.$modal).select2({
                    placeholder: "---------",
                    allowClear: true,
                    ajax: {
                        url: function (params) {
                            return "/reportes?action=data&model=DistributivoPersona&p=1&s=10&q=" + params.term;
                        },
                        dataType: 'json',
                        delay: 400,
                        data: function (params) {
                            return {
                                q: params.term,
                                page: params.page
                            };
                        },
                        processResults: function (data, params) {
                            // parse the results into the format expected by Select2
                            // since we are using custom formatting functions we do not need to
                            // alter the remote JSON data, except to indicate that infinite
                            // scrolling can be used
                            params.page = params.page || 1;

                            return {
                                results: data.results,
                                pagination: {
                                    more: (params.page * 30) < data.total_count
                                }
                            };
                        },
                        cache: true
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    }, // let our custom formatter work
                    minimumInputLength: 1,
                    templateResult: ItemsDisplayRepresentante, // omitted for brevity, see the source of this page
                    templateSelection: ItemsDisplayRepresentante // omitted for brevity, see the source of this page
                    }).
                on("select2:select", function (evt) {
                    $("#id_responsable").attr({"value":(evt.params.data.id)});
                });
            },
            open: function (isNew/*=false*/, idc/*=0*/, idd/*=0*/, responsable/*=UNDEFINED*/){
                var self = this;
                self.formReset();
                //console.log(idc)
                //console.log(idd)
                //$("#id_responsable", self.$frmAddEditAtividad).select2({'placeholder': '---------'});
                isNew = typeof isNew == 'boolean' ? isNew : false;
                idc = typeof idc == 'undefined' ? 0 : idc;
                idd = typeof idd == 'undefined' ? 0 : idd;
                //console.log(idc)
                //console.log(isNew)
                //$("#idc", self.$modal).val(idc);
                $("#idd", self.$modal).val(idd);
                //console.log($("#idc", self.$modal).val())
                //console.log($("#idd", self.$modal).val())



                if (isNew==true)
                {
                    self.formType('new')
                    self.initLoadComponentRepresentante();
                }
                else
                {
                    self.formType('edit')
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/adm_requerimiento",
                        data: {'action': 'LoadDetalleActividad', 'idd': idd},
                        success: function(data){

                            if (data.result == 'ok') {
                                //location.reload();
                                //console.log(data);

                                $("#id_responsable", self.$frmAddEditAtividad).attr({"value": (data.responsable.id)}).trigger("change");
                                $("#id_responsable_h", self.$frmAddEditAtividad).attr({"value": (data.responsable.id)}).trigger("change");
                                self.initLoadComponentRepresentante(data.responsable);
                                $("#id_actividad", self.$frmAddEditAtividad).val(data.actividad).trigger("change");
                                $("#id_estado", self.$frmAddEditAtividad).val(data.estado).trigger("change");
                                $("#id_fechainicio", self.$frmAddEditAtividad).val(data.fechainicio).trigger("change");
                                $("#id_fechafin", self.$frmAddEditAtividad).val(data.fechafin).trigger("change");
                                $("#id_descripcion", self.$frmAddEditAtividad).val(data.descripcion).trigger("change");
                                $.unblockUI();
                            }
                            else{
                                smoke.alert(data.mensaje);
                            }
                        },
                        error: function() {
                           $.unblockUI();
                           smoke.alert("Error de conexión.");
                        }
                    });
                }



                self.$modal
                .off('shown.bs.modal')
                .on('shown.bs.modal', function () {
                    //self.initLoadComponents(function () {
                    //fLoad();
                    //});
                })
                .modal('show');
            },
            formType: function (type /* new, edit, view */) {
                var self = this;
                $('.action-save', self.$modal).show();

                if (type == 'new') {
                    $('.modal-title span', self.$modal).html('Adicionar');

                    //$('.action-save', self.$modal).show();
                    //$('.action-edit', self.$modal).hide();

                    //self.formReadOnly(false);
                } else if (type == 'edit') {
                    $('.modal-title span', self.$modal).html('Editar');

                    //$('.action-save', self.$modal).hide();
                    //$('.action-edit', self.$modal).show();


                }
            },
            formReset: function ()
            {
                var self = this;
                //self.$frmAddEditAtividad[0].reset();

                $("#id_responsable_h", self.$frmAddEditAtividad).val(0).trigger('change');
                $("#id_responsable", self.$frmAddEditAtividad).empty().trigger('change');
                $("#id_responsable", self.$frmAddEditAtividad).attr({"value": (0)});
                $("#id_actividad", self.$frmAddEditAtividad).val(0).trigger("change");
                $("#id_estado", self.$frmAddEditAtividad).val(0).trigger("change");
                //$("#idc", self.$frmAddEditAtividad).val(0).trigger("change");
                $("#idd", self.$frmAddEditAtividad).val(0).trigger("change");
                //$("#fechainicio", self.$frmAddEditAtividad).val('').trigger('change')
                $("#id_descripcion", self.$frmAddEditAtividad).val('').trigger('change')
            },
            //====================
            // ACTIONS
            //====================
            actionSave: function (type /* new, edit, view */)
            {
                var self = this;

                var idc = $("#idc", self.$frmAddEditAtividad).val();

                var id_responsable = $("#id_responsable", self.$frmAddEditAtividad).attr("value")

                var id_estado = $("#id_estado", self.$frmAddEditAtividad).val();
                var id_fechainicio = $("#id_fechainicio", self.$frmAddEditAtividad).val();
                var id_fechafin = $("#id_fechafin", self.$frmAddEditAtividad).val();
                var id_descripcion = $("#id_descripcion", self.$frmAddEditAtividad).val();
                var idd = $("#idd", self.$frmAddEditAtividad).val();
                var id_actividad = $("#id_actividad", self.$frmAddEditAtividad).val();
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/adm_requerimiento",
                    data: {'action': 'SaveDetalleActividad', 'idc': idc, 'idd': idd,'responsable':id_responsable,'estado':id_estado,'fechainicio':id_fechainicio,'fechafin':id_fechafin,'descripcion':id_descripcion, 'actividad':id_actividad},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result == 'ok')
                        {
                            smoke.alert("Datos Guardados");
                            self.close();
                            var html = '';
                            if(data.estado==1){
                                html = '<span class="label label-info" >INGRESADO</span>';
                            }
                            else if(data.estado==2){
                                html = '<span class="label label-inverse" >NO INCICIADA</span>';
                            }
                            else if(data.estado==3){
                                html = '<span class="label label-warning" >EN PROCESO</span>';
                            }
                            else if(data.estado==4){
                                html = '<span class="label label-success" >REALIZADA</span>';
                            }
                            $("#tdEstado").html(html);
                            ActivityRegiterController.$table.dataTable().fnDraw();
                        }
                        else
                        {
                            smoke.alert(data.mensaje);
                        }

                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    }
                });
            },
            close: function()
            {
                var self = this;
                self.formReset();
                $("#id_responsable", self.$modal).select2("destroy");
                self.$modal.modal('hide');
            },
        };
        $(function(){
            ActivityRegiterController.init()
            //console.log({{ return_url }})
        });
    </script>
{% endblock %}
{% block atras %}/adm_requerimiento{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block canvas %}
    <div class="row-fluid">
        <div style="overflow: auto">
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style="width: 100%" colspan="4">REQUERIMIENTO
                            <a href='/adm_requerimiento?action=edithistoria&id={{ historia.id }}&return=detalles' class="btn btn-mini btn-info pull-right"><i class="fa fa-edit"></i> Editar </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 25%"><b>Fecha:</b> {{ historia.fecha|date:'d-m-Y' }}</td>
                        <td style="width: 25%"><b>Solicita:</b> {{ historia.solicita.nombre_completo_inverso }}</td>
                        <td style="width: 25%"><b>Departamento: </b>{{ historia.departamento }} </td>
                        <td style="width: 25%"><b>Cargo:</b> {{ historia.denominacionpuesto }}</td>
                    </tr>
                    <tr>
                        <td><b>Asunto:</b> {{ historia.asunto }}</td>
                        <td colspan="2"><b>Descripión:</b> {{ historia.cuerpo|safe }}</td>
                        <td><b>Archivo:</b>
                            {% if historia.archivo %}
                                <a href='{{ historia.download_link }}' target="_blank" class='btn btn-mini btn-info tu' title="Descargar archivo"><i class="fa fa-arrow-down"></i></a>
                                <span class="label label-info">CARGADO</span>
                            {% else %}
                                <span class="label label-important">SIN ARCHIVO</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Responsable:</b> {{ historia.responsable.nombre_completo_inverso }}</td>
                        <td><b>Módulo:</b> {{ historia.modulo.nombre }} <br>
                        <b>Activo en el Sistema:</b>
                            {% if historia.modulo.sga == True %}
                                <span class="label label-success"> <i class="fa fa-check tu" title='Activo'></i> SGA</span>
                            {% elif historia.modulo.sga == False %}
                                <span class="label label-danger"> <i class="fa fa-close tu" title='Inactivo'></i> SGA</span>
                            {% endif %}
                            {% if historia.modulo.sagest == True %}
                                <span class="label label-success"><i class="fa fa-check tu" title='Activo'></i> SAGEST</span>
                            {% elif historia.modulo.sagest == False %}
                                <span class="label label-danger"><i class="fa fa-close tu" title='Inactivo'></i> SAGEST</span>
                            {% endif %}
                            {% if historia.modulo.posgrado == True %}
                                <span class="label label-success"> <i class="fa fa-check tu" title='Activo'></i> POSTGRADO</span>
                            {% elif historia.modulo.posgrado == False %}
                                <span class="label label-danger"> <i class="fa fa-close tu" title='Inactivo'></i> POSTGRADO</span>
                            {% endif %}
                        </td>
                        <td>
                            <b>Estado:</b>
                            <span id="tdEstado">
                                {% if historia.estado == 1 %}
                                <span class="label label-info" >{{ historia.get_estado_display }}</span>
                                {% elif historia.estado == 2 %}
                                    <span class="label label-inverse" >{{ historia.get_estado_display }}</span>
                                {% elif historia.estado == 3 %}
                                    <span class="label label-warning" >{{ historia.get_estado_display }}</span>
                                {% elif historia.estado == 4 %}
                                    <span class="label label-success" >{{ historia.get_estado_display }}</span>
                                {% endif %}
                            </span>

                        </td>
                        <td><b>Prioridad:</b> {{ historia.prioridad }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h6>REGISTRO DE ACTIVIDADES  <a class="btn btn-success btn-mini addActividad tu" title="Adicionar actividad"  href="javascript:;" idc="{{ historia.id }}" ><span class="fa fa-plus"></span> </a></h6>
        <div class="row-fluid">
            <div class="span12">
                <!--<input type="search" style="text-transform: uppercase; margin-bottom: 0px" class="input-block-level" id="FilterTextBox" name="FilterTextBox">-->
                <div class="datatable" id="divDetailData">
                    <table class='table table-bordered table-striped'>
                        <thead>
                            <tr>
                                <th style="text-align: center">Responsable</th>
                                <th style="text-align: center">Actividad</th>
                                <th style="text-align: center">Descripción</th>
                                <th style="text-align: center">Fecha Inicio</th>
                                <th style="text-align: center">Fecha Fin</th>
                                <th style="text-align: center">Estado de Actividad</th>
                                <th style="text-align: center" {% if not persona.usuario.is_staff %} hidden {% endif %}>Estado</th>
                                <th style="text-align: center"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div id="modalAddEditAtividad" class="modal fade" tabindex="-1" role="dialog" style="display: block;" data-keyboard="false" data-backdrop="static">
        <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
            <h3 class="modal-title panel-title"><span></span> Actividad</h3>
        </div>
        <div class="modal-body panelbody">
            <div class="row-fluid">
                <form enctype="multipart/form-data" name="frmAddEditAtividad" action="javascript:;" role="form">
                    <input type="hidden" value="{{ historia.id }}" id="idc">
                    <input type="hidden" value="0" id="idd">
                    <input type="hidden" value="0" id="id_responsable_h">
                    {% for field in form2 %}
                        {% if field.field.widget.attrs.separator %}
                            <div style="width: 100%; height: 1px; float: left;"></div>
                        {% endif %}
                        <fieldset id="fieldset_{{ field.name }}" class="control-group nomargins" style="min-height:35px; float: left; width: {% if field.field.widget.attrs.formwidth %}{{ field.field.widget.attrs.formwidth }}{% else %}100%{% endif %}" >
                            <div class="control-label label-text" {% if field.field.widget.attrs.labelwidth %}labelwidth="{{ field.field.widget.attrs.labelwidth }}"{% endif %} style="display: table;height: 30px;">
                                <div style="display: table-cell; vertical-align: middle; line-height: 11px">
                                    <label for="id_{{ field.name }}" style="padding-right: 20px">{{ field.label }}</label>
                                </div>
                            </div>
                            <div class="control" style="float: left; width: {% if field.field.widget.attrs.controlwidth %}{{ field.field.widget.attrs.controlwidth }}{% else %}0{% endif %}">
                                {% if field.field.widget.attrs.select2search %}
                                    <select id="id_{{ field.name }}" name="id_{{ field.name }}" style="width: 100%">
                                    </select>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                <p class="help-text" style="font-size: xx-small; margin-bottom: 0; height: 13px; line-height: 13px">{{ field.help_text }} </p>
                            </div>
                        </fieldset>

                    {% endfor %}
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-success action-save"><i class="fa fa-plus"></i> Guardar</a>
            <!--<a href="javascript:;" class="btn btn-success action-edit"><i class="fa fa-edit"></i> Editar</a>-->
            <a href="javascript:;" class="btn btn-info action-close" data-dismiss="modal"> Cerrar</a>
        </div>

    </div>
{% endblock %}
