<meta charset=UTF-8">
{% load sga_extras %}
{% block heading %}
    <title>Reporte</title>
{% endblock %}
{% block canvas %}
    <style type="text/css">
        @page
        {
        {#background-image: url('media/reportes/encabezados_pies/cabecera.png');#}
            size: a4;
        {#top: 4.5cm;#}
            top: 5.1cm;
            left: 2cm;
            right: 1cm;
            bottom: 2cm;
            @frame header_frame {
            -pdf-frame-content: header_content;
            left: 2cm; right: 1cm; top: 1cm; height: 11cm;
        }


        @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 1cm;
        margin-left: 2cm;
        margin-right: 1cm;
        text-align: right;
        height: 1cm;
        }
        }
    </style>
    </head>
    <body>
    <div id="header_content">
      <DIV TYPE=HEADER>
	<p ALIGN=RIGHT STYLE="margin-bottom: 0in; line-height: 100%">
{#        {{ data.solicitud.secuencia|stringformat:"04d" }}#}
	<span>
        {% if data.solicitud.confsecuencia.anio < 2022 %}
            {{ data.solicitud.confsecuencia.descripcion }}-{{ data.solicitud.secuencia }}-{{ data.solicitud.confsecuencia.anio }}
        {% else %}
            {{ data.solicitud.confsecuencia.descripcion }}-{{ data.solicitud.secuencia|stringformat:"04d" }}-{{ data.solicitud.confsecuencia.anio }}
        {% endif %}
    </span>
	Versión 1.5 <br><br><img name='unemi' src="media/reportes/encabezados_pies/direcciontic_azul.png" width="450px" align="left" >

{#        <IMG SRC="cb27e9c400ec1a0ab211b51e1f38e0dd_html_3e56ca79.png" NAME="0 Imagen" ALIGN=LEFT HSPACE=12 WIDTH=108 HEIGHT=56 BORDER=0><IMG SRC="cb27e9c400ec1a0ab211b51e1f38e0dd_html_8d627a8c.png" NAME="Imagen 5" ALIGN=LEFT HSPACE=12 WIDTH=85 HEIGHT=39 BORDER=0></p>#}
          <hr color="black" />
{#	<P STYLE="margin-bottom: 0.35in; line-height: 100%">#}
{#	</P>#}
</DIV>
{#        <br>#}
<div>
    <table align="left" width="95%" border="0" style="font-size:10px; line-height:4px; vertical-align:top; padding:2px; font-family: Verdana, Arial, sans-serif">
        <tr>
            <td><b><span style="font-size: 16px;">UNIVERSIDAD ESTATAL DE MILAGRO</span></b></td>
        </tr>
        <tr>
            <td><b>TECNOLOGÍAS DE LA INFORMACIÓN Y COMUNICACIONES</b></td>
        </tr>
        <tr>
            <td>PRESENTACIÓN-CAPACITACIÓN SISTEMAS DE INFORMACIÓN Y SERVICIOS TI</td>
        </tr>
        <tr>
            <td><b>Fecha: </b>{{data.solicitud.fecha|date:"d-m-Y" }}<b> Horario:
            </b>{{data.solicitud.horainicio |time:'H:i'}} - {{data.solicitud.horafin |time:'H:i'}}</td>
        </tr>
    </table>
</div>


{#<P STYLE="margin-bottom: 0in; line-height: 100%;font-size:14px;">#}
{#    <B>UNIVERSIDAD ESTATAL DE MILAGRO#}
{#        <BR></B>#}
{#    <B><br>TECNOLOGÍAS DE LA INFORMACIÓN Y COMUNICACIONES</B></P>#}
{#<p STYLE="margin-bottom: 0in; line-height: 100%;font-size:12px">PRESENTACIÓN-CAPACITACIÓN SISTEMAS DE INFORMACIÓN Y SERVICIOS TI</p>#}

    </div>
{#    <p STYLE="margin-bottom: 0in;font-size:10px"><b>Fecha: </b>{{data.solicitud.fecha|date:"d-m-Y" }}<b> Horario:#}
{#</b>{{data.solicitud.horainicio |time:'H:i'}}-{{data.solicitud.horafin |time:'H:i'}}</p>#}
<p STYLE="margin-bottom: 0in">
</p>
    <OL>
	<LI><P align=justify style="margin-bottom: 0in;font-size:12px"><B>DETALLES</B></P>
</OL>
<table WIDTH=662 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=467>
	<COL WIDTH=165>
	<tr>
		<td rowspan=2 WIDTH=467 HEIGHT=10 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<p style="margin-bottom: 0in;font-size:10px"><b>Sistema:</b> {{ data.solicitud.get_tiposistema_display }}
			</p>

		</td>
		<td WIDTH=165 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<p style="margin-bottom: 0in;font-size:10px"><B>No.: </B>
                {% if data.solicitud.confsecuencia.anio < 2022 %}
                    {{ data.solicitud.confsecuencia.descripcion }}-{{ data.solicitud.secuencia }}-{{ data.solicitud.confsecuencia.anio}}
                {% else %}
                    {{ data.solicitud.confsecuencia.descripcion }}-{{ data.solicitud.secuencia|stringformat:"04d" }}-{{ data.solicitud.confsecuencia.anio}}
                {% endif %}
            </p>
		</td>
	</tr>
	<tr>
		<td WIDTH=165 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<p style="margin-bottom: 0in;font-size:10px"><B>Tipo(*): {{ data.solicitud.get_tipocapacitacion_display }} </B>
			</p>
		</td>
	</tr>
	<tr>
		<td colspan=2 WIDTH=646 HEIGHT=6 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<p> <b>Antecedentes / Solicitado: </b>     {{ data.solicitud.antecedente }}
			</p>
		</td>
	</tr>
	<tr>
		<td COLSPAN=2 WIDTH=646 HEIGHT=10 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<p><span LANG="en-US"><b>Responsable(s):  </b></span> {% for res in data.responsable %}{{ res.responsable.nombre_completo_inverso }}<br>{% endfor %}
			</p>
		</td>
	</tr>
</table>
<ol START=2>
	<li><p align="left"  style="margin-bottom: 0in;font-size:12px"><B>PARTICIPANTES: </B>
	</p>
</ol>
<table WIDTH=659 CELLPADDING=7 CELLSPACING=0>

	<tr VALIGN=TOP>
		<td WIDTH=24 HEIGHT=16 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><SPAN LANG="es-EC"><B>No.</B></SPAN></P>
		</td>
		<td WIDTH=220 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><SPAN LANG="es-EC"><B>NOMBRE</B></SPAN></P>
		</td>
		<td WIDTH=164 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><SPAN LANG="es-EC"><B>ROL
			/ CARGO</B></SPAN></P>
		</td>
		<td WIDTH=193 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><SPAN LANG="es-EC"><B>FIRMA</B></SPAN></P>
		</td>
	</tr>
    {% for par in data.participante %}

        <tr>
		<td WIDTH=24 HEIGHT=17 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><SPAN LANG="es-EC">{{ forloop.counter }}</SPAN></P>
		</td>
		<td WIDTH=220 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<p><br>
                {{ par.participante.nombre_completo_inverso }}
                <br><br>
			</p>
		</td>
		<td WIDTH=164 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in; text-align: center">
			<p>
               {% if par.cargo %}
                    {{ par.cargo }}
               {% else %}
                   {{ par.participante.mi_cargo_actual.denominacionpuesto.descripcion }}
               {% endif %}
{#               #}
{#               #}
{#                {% if par.participante.mi_cargo_actual %}#}
{#                    {{ par.participante.mi_cargo_actual.denominacionpuesto.descripcion }}#}
{#                {% else %}#}
{#                    {{ par.cargo }}#}
{#                {% endif %}#}
{#                {% for cargo in par.participante.mis_cargos_vigente  %}#}
{#                    {{ cargo.denominacionpuesto.descripcion }}<br>#}
{#                {% empty %}#}
{#                    &nbsp;<br>&nbsp;no tiene#}
{#                {% endfor %}#}
			</p>
		</td>

		<td WIDTH=193 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P LANG="es-EC"><BR>
			</P>
		</td>
	</tr>

    {% endfor %}
</table>

<ol START=3>
	<li><p align="justify"  style="margin-bottom: 0in;font-size:12px"><B>OPCIONES: </B>
	</p>
</ol>
<table WIDTH=661 CELLPADDING=7 CELLSPACING=0>
    	<tr VALIGN=TOP>
		<td WIDTH=24 HEIGHT=16 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><SPAN LANG="es-EC"><B>RESPONSABLE</B></SPAN></P>
		</td>
		<td WIDTH=220 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><SPAN LANG="es-EC"><B>MÓDULO</B></SPAN></P>
		</td>
		<td WIDTH=164 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><SPAN LANG="es-EC"><B>OPCIÓN</B></SPAN></P>
		</td>

	</tr>

    {% for opc in data.opcion %}

        <tr>

		<td WIDTH=220 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<p>{{ opc.responsable }}</p>
		</td>
		<td WIDTH=164 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <p>{{ opc.modulo.nombre }}
                {% if opc.modulo.descripcion %}
                <BR>({{ opc.modulo.descripcion }})
                {% endif %}
            </p>

		</td>
		<td WIDTH=193 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <p>{{ opc.observacion }}</p>

		</td>
	</tr>

    {% endfor %}

{#    <tr VALIGN=TOP>#}
{#		<td WIDTH=661 HEIGHT=9 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">#}
{#			{% for opcion in data.opcion  %}#}
{#            {{ opcion.opcion.descripcion }}#}
{#                <br>#}
{#            {% endfor %}#}
{#		</td>#}
{#	</tr>#}
</table>


<ol START=4>
	<LI><p align="justify"  style="margin-bottom: 0in;font-size:12px"><b>OBSERVACIONES Y
	RECOMENDACIONES:</b></p>
</ol>
<table WIDTH=662 CELLPADDING=7 CELLSPACING=0>

	<TR>
		<TD ROWSPAN=2 WIDTH=355 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Descripción</B></P>
		</TD>
		<TD COLSPAN=3 WIDTH=277 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Plan de Acción</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=109 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Responsable</B></P>
		</TD>
		<TD WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Fecha</B></P>
		</TD>
		<TD WIDTH=59 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Estado</B></P>
		</TD>
	</TR>
    {% for obser in data.observacion %}

        <tr >
		<td WIDTH=300 HEIGHT=7 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			 {{ obser.observacion }}
		</td>
		<td WIDTH=109 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			{{ obser.responsable.nombre_completo_inverso }}
		</td>
		<td WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in; text-align: center">
		{{ obser.fecha|date:"Y-m-d" }}
		</td>
		<td  WIDTH=100   style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in; text-align: center">
			{{ obser.get_estado_display }}
		</td>
	    </tr>

    {% empty %}
        <tr >
		<td WIDTH=300 HEIGHT=7 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">NINGUNA</td>
		<td WIDTH=109 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">-----</td>
		<td WIDTH=81 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">------</td>
		<td  WIDTH=100   style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">---</td>
	    </tr>


    {% endfor %}



</table>
    <BR>
    <BR>
<table>
    <tr>
        <br>
        <br>
        <br>
        <td>______________________________</td>
        <td>______________________________</td>
        {% if data.solicitud.aprobado %}
            <td>______________________________</td>
        {% endif %}

{#        <br>#}
{#        <br>#}
{#        <br>#}
{#        <br>#}
{#        <td  width=30% STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in" rowspan="4">#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#           <p>Sello de Área</p>#}
{#        </td>#}

    </tr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <tr>

        <td style="text-align: left">ELABORADO</td>
        <td style="text-align: left">VERIFICADO</td>
        {% if data.solicitud.aprobado %}
            <td style="text-align: left">APROBADO</td>
        {% endif %}



    </tr>

    <tr>

        <td style="text-align: left">Nombre: {{data.solicitud.elaborado.nombre_completo_inverso }}</td>
        <td style="text-align: left">Nombre: {{data.solicitud.verificado.nombre_completo_inverso }}</td>
        {% if data.solicitud.aprobado %}
            <td style="text-align: left">Nombre: {{data.solicitud.aprobado.nombre_completo_inverso }}</td>
        {% endif %}

    </tr>
    <tr>

        <td style="text-align: left">
            {% if data.solicitud.elaborado.mi_cargo_actual2 %}
                Cargo: {% for cargo in data.solicitud.elaborado.mi_cargo_actual2  %}{{ cargo }}{% endfor %}
            {% else %}
                Cargo: ASISTENTE DE <br>DESARROLLO DE SISTEMAS <br>DE INFORMACIÓN 3
            {% endif %}
{#            Cargo: {% for cargo in data.solicitud.elaborado.mi_cargo_actual2  %}{{ cargo }}{% endfor %}#}
        </td>
        <td style="text-align: left">Cargo: {% for cargo in data.solicitud.verificado.mi_cargo_actual2 %}{{ cargo }}{% endfor %}</td>
        {% if data.solicitud.aprobado %}
            <td style="text-align: left">Cargo: {% for cargo in data.solicitud.aprobado.mi_cargo_actual2 %}{{ cargo }}{% endfor %}</td>
        {% endif %}
    </tr>


</table>



    <div id="footerContent" align="right" style="font-style: oblique">
        {%block page_foot%}
            <hr color="black" />
            NCI 410-15 Capacitación informática - P&aacute;gina <pdf:pagenumber></pdf:pagenumber>/ <pdf:pagecount></pdf:pagecount>
        {%endblock%}
    </div>


{% endblock %}