{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script>
        $(function(){
            $("#id_fecha_inicio,#id_fecha_fin").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
            $("#id_descripcion, #id_responsable").addClass("validate[required]");
            $("#id_descripcion").css({'textTransform': 'None'});
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}/proyectovinculaciondocente?action=editar&id={{ pry }}{% endblock %}
{% block formaction %}/proyectovinculaciondocente{% endblock %}
{% block formdestination %}/proyectovinculaciondocente?action=editar&id={{ pry }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addcronograma' />
    <input type='hidden' name='pry' id="pry" value='{{ pry }}' />
    <input type='hidden' name='aObj' id="pry" value='{{ aObj }}' />
{% endblock %}
{% block formback %}/proyectovinculaciondocente?action=editar&id={{ pry }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}