{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script>
        $(function(){
            let accionbuscar = "";

            $("#id_horas, #id_profesor_select2, #id_nivel").addClass("validate[required]");

            $("#id_horas").change(function(){
                numerico($(this), 0, 1000, 0);
            });

            ItemsDisplay = function (item) {
                if (item.name){
                    return $('<span>' + item.name+ '</span>');
                }else{
                    return '---------';
                }
            };

            $("#id_profesor_select2").select2({
                placeholder: "---------",
                allowClear: true,
                ajax: {
                    url: function (params) {
                        return "/reportes?action=data&model=" + accionbuscar + "&p=1&s=10&q=" + params.term;
                    },
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: ItemsDisplay, // omitted for brevity, see the source of this page
                templateSelection: ItemsDisplay // omitted for brevity, see the source of this page
            }).on("select2:select", function (evt) {
                $("#id_profesor").attr({"value":(evt.params.data.id)});
            });

            $("#id_tipo").change(function(){
                $("#id_profesor_select2").empty().append('<option value="">---------</option>').val(0).trigger("change");
                $("#id_horas").val("");
                $("#id_nivel").val("").trigger('change');
                if($(this).val() == '1'){
                    $("#id_horas").attr('disabled', false);
                    $("#id_nivel").attr('disabled', false);
                    $("#add_externo").hide();
                    accionbuscar = 'Profesor';
                }else{
                    $("#id_horas").attr('disabled', true);
                    $("#id_nivel").attr('disabled', true);
                    $("#add_externo").show();
                    accionbuscar = 'Persona';
                }
            });

            $("#add_externo").click(function () {
                location.href = "/proyectovinculaciondocente?action=adddocenteexterno&idp={{ id }}";
            });

            $("#id_tipo").val("1").trigger('change');
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}/proyectovinculaciondocente?action=editar&id={{ id }}{% endblock %}
{% block formaction %}/proyectovinculaciondocente?action=editar&id={{ id }}{% endblock %}
{% block formdestinationswal %}/proyectovinculaciondocente?action=editar&id={{ id }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addparticipantesdocentesp' />
    <input type='hidden' name='id' id="id" value='{{ id }}' />
{% endblock %}
{% block formback %}/proyectovinculaciondocente?action=editar&id={{ id }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}