{% extends "basepse.html" %}
{% load sga_extras %}
{% block atras %}{{ request.path }}{% endblock %}
{% block heading %}
    <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js?v=1.0.1" data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js?v=1.0.1"></script>
    <script src="/static/adicionalesjs/formquestionb4.js?0.25"></script>
    <script type="text/javascript">
        function formModal(id, text, action) {
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: '{{ request.path }}',
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    $.unblockUI();
                    if (data.result === true) {
                        $('.panelbody').html(data.data);
                        $('#itempanel .paneltitle').html(text);
                        $("#itempanel").modal({backdrop: 'static'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    mensajeWarning("Error de conexión.");
                },
                dataType: "json"
            });
        }
    </script>
{% endblock %}
{% block canvas %}

    <form method="GET">
        <div class="container-fluid">
            <div class="form-row">
                <div class="col-md-4 col-sm-12">
                    <div class="input-group mb-3">
                        <input type="hidden" name="action" value="{{ action }}">
                        <input id="searchinput" type="text" class="form-control" placeholder="Buscar por tipo"
                               aria-label="Buscar"
                               aria-describedby="button-addon2" name="s" value="{{ search }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                    class="fa fa-search"></i></button>
                            {% if url_vars %}
                                <a title="Ver todo" href="{{ request.path }}?action=gruporequisito" class="btn btn-default">
                                    <i class="fas fa-sync-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 pb-2">
                    <a class="btn btn-success" id="partida" href="javascript:void(0);" onclick="formModal(' ','Adicionar Grupo','addgrupo')"><i class="fa fa-plus-circle"></i> Adicionar {{ titulo }}</a>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="card-title"><b>{{ title }}</b></h2>
        </div>
    </div>

    <div class="row">
        {% for l in listado %}
            <div class="col-lg-6">
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th colspan="2" style="text-align: center"><i class="fa fa-user"></i> {{ l }} {% if l.vigente %}<i class="fa fa-check-circle text-success"></i>{% else %}<i class="fa fa-times-circle text-danger"></i>{% endif %} </th>
                                    <th style="text-align: center; width: 100px">
                                        <div class="dropbottom">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Acción
                                            </button>
                                            <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="formModal('{{ l.id|encrypt }}','Editar Requisitos', 'editgrupo')">
                                                    <i class="fa fa-edit"></i> Editar
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="eliminarajax('{{ l.id|encrypt }}','{{ l }}', 'delgrupo')">
                                                    <i class="fa fa-trash"></i> Eliminar
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="formModal('{{ l.id }}','Adicionar Requisito para {{ l }}','addgruporequisito')"><i class="fa fa-plus-circle"></i> Adicionar Requisito</a>
                                            </div>
                                        </div>

                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for lr in l.traerrequisitos %}
                                    <tr>
                                        <td style="width: 5%"><b style="font-size: 12px">{{ lr.get_tipo_display }}</b></td>
                                        <td>
                                            {#                                    <table>#}

                                            {% for rl in lr.requisito.all %}
                                                {#                                            <li>#}
                                                <div>
                                                    <a class="btn-link" href="javascript:void(0);" onclick="formModal('{{ rl.id|encrypt }}','Editar requisito', 'editrequisito')">
                                                        <b><i class="fa fa-circle" style="font-size: 6px"></i> {{ rl }}</b>
                                                    </a>
                                                    {% if rl.varchivo %}PDF <i class="fa fa-check-circle text-success"></i>{% else %}Archivo <i class="fa fa-times-circle text-danger"></i>{% endif %}
                                                    {% if rl.vdescripcion %}Texto <i class="fa fa-check-circle text-success"></i>{% else %}Texto <i class="fa fa-times-circle text-danger"></i>{% endif %}
                                                    {% if rl.formato %}<a target="_blank" href="{{ rl.formato.url  }}">Formato <i class="fa fa-check-circle text-success"></i></a> {% else %}Formato <i class="fa fa-times-circle text-danger"></i>{% endif %}
                                                </div>
                                                {% if rl.descripcion %}
                                                    <div>{{ rl.descripcion|safe }}</div>
                                                {% endif %}
                                                <hr>
                                                {#                                            </li>#}
                                            {% endfor %}
                                            {#                                    </table>#}
                                        </td>
                                        <td class="text-center">
                                            <div class="dropbottom">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Acción
                                                </button>
                                                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <a class="dropdown-item" href="javascript:void(0);" onclick="formModal('{{ lr.id|encrypt }}','Editar Requisitos', 'editgruporequisito')">
                                                        <i class="fa fa-edit"></i> Editar
                                                    </a>
                                                    <a class="dropdown-item" href="javascript:void(0);" onclick="eliminarajax('{{ lr.id|encrypt }}','{{ lr.get_tipo_display }}', 'delgruporequisito')">
                                                        <i class="fa fa-trash"></i> Eliminar
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- paginacion  -->
    {% include 'paginacionb4.html' %}
    <!-- final de la paginacion  -->
    <hr>
    </div>

    <div class="modal fade static" id="itempanel" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-list"></i> <b class="paneltitle">FORMULARIO MODAL</b></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="row-fluid panelbody">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

{% endblock %}