{% load sga_extras %}


<div class="container">
    <table class="table table-responsive table-bordered">
        <tr>
            <th>ESTADO:</th>
            <td colspan="3"> {{ ePlanificacionMateria.get_estado |safe}}</td>
        </tr>
        <tr>

            <th style="width:400px;">¿Requiere lanzar
                convocatoria?
            </th>
            <td colspan="3">{{ ePlanificacionMateria.requiere_lanzar_convocatoria }}</td>
        </tr>

        {% if ePlanificacionMateria.boolean_requiere_profesor %}
            <tr>
                <th style="width:400px;">¿Requiere profesor?
                </th>
                <td colspan="3">{{ ePlanificacionMateria.requiere_profesor }}</td>
            </tr>
            <tr>
                <th style="width:400px;">Fecha inicio profesor
                </th>
                <td>
                    {{ ePlanificacionMateria.inicio_profesor | date:'Y-m-d'}}</td>
                <th style="width:400px;">Fecha fin profesor</th>
                <td>
                    {{ ePlanificacionMateria.fin_profesor | date:'Y-m-d'}}</td>
            </tr>
            <tr>
                <th style="width:400px;">Observación
                </th>
                <td colspan="3">{{ ePlanificacionMateria.observacionsolicitud }}</td>
            </tr>
        {% endif %}

        {% if ePlanificacionMateria.boolean_requiere_invitado %}
            <tr>
                <th style="width:400px;">¿Requiere profesor
                    invitado?
                </th>
                <td colspan="3">{{ ePlanificacionMateria.requiere_invitado }}</td>
            </tr>
            <tr>
                <th style="width:400px;">Fecha inicio contrato
                    invitado
                </th>
                <td>
                    {{ ePlanificacionMateria.inicio_invitado| date:'Y-m-d' }}</td>
                <th style="width:400px;">Fecha fin contrato
                    invitado
                </th>
                <td>
                    {{ ePlanificacionMateria.fin_invitado | date:'Y-m-d' }}</td>
            </tr>
        {% endif %}

        {% if ePlanificacionMateria.boolean_requiere_profesor_and_profesor_autor %}
            <tr>
                <th style="width:400px;">¿Requiere pofesor y
                    profesor autor?
                </th>
                <td colspan="3">{{ ePlanificacionMateria.requiere_profesor_and_profesor_autor }}</td>
            </tr>
            <tr>
                <th style="width:400px;">Fecha inicio profesor
                </th>
                <td>
                    {{ ePlanificacionMateria.inicio_profesor| date:'Y-m-d' }}</td>
                <th style="width:400px;">Fecha fin profesor</th>
                <td>
                    {{ ePlanificacionMateria.fin_profesor| date:'Y-m-d' }}</td>
            </tr>
            <tr>
                <th style="width:400px;">Fecha inicio profesor
                    autor
                </th>
                <td>
                    {{ ePlanificacionMateria.inicio_autor | date:'Y-m-d' }}</td>
                <th style="width:400px;">Fecha fin profesor
                    autor
                </th>
                <td>{{ ePlanificacionMateria.fin_autor| date:'Y-m-d' }}</td>
            </tr>
        {% endif %}

        {% if ePlanificacionMateria.boolean_requiere_invitado_and_profesor_autor %}
            <tr>

                <th style="width:400px;">¿Requiere profesor
                    invitado
                    y profesor autor?
                </th>
                <td colspan="3">{{ ePlanificacionMateria.requiere_invitado_and_profesor_autor }}</td>
            </tr>
            <tr>
                <th style="width:400px;">Fecha inicio contrato
                    invitado
                </th>
                <td>
                    {{ ePlanificacionMateria.inicio_invitado | date:'Y-m-d' }}</td>
                <th style="width:400px;">Fecha fin contrato
                    invitado
                </th>
                <td>
                    {{ ePlanificacionMateria.fin_invitado| date:'Y-m-d' }}</td>
            </tr>
            <tr>
                <th style="width:400px;">Fecha inicio autor</th>
                <td>
                    {{ ePlanificacionMateria.inicio_autor| date:'Y-m-d' }}</td>
                <th style="width:400px;">Fecha fin autor</th>
                <td>{{ ePlanificacionMateria.fin_autor | date:'Y-m-d'}}</td>
            </tr>
        {% endif %}
    </table>
    <table class="table table-bordered table-responsive-sm ">
        <tbody>
        <tr>
            <th class="text-center" colspan="2"><b>ESTADO ADMINISTRATIVOS</b></th>
        </tr>

        <tr>
            <th>TIPO DOCENTE:</th>
            <td colspan="4">{{ ePlanificacionMateria.tipodocente| default:"N/A"}}</td>
        </tr>
        <tr>
            <th>DENOMINACIÓN:</th>
            <td colspan="4">{{ ePlanificacionMateria.get_denominacion_display }}</td>
        </tr>
        <tr>
            <th>TIPO:</th>
            <td colspan="4">{{ ePlanificacionMateria.get_tipo_display }}</td>
        </tr>
        <tr>
            <th>FECHA CONTRATO:</th>
            <td colspan="4">{{ ePlanificacionMateria.fecha |date:"d-m-Y"}}</td>
        </tr>
        <tr>
            <th>PAGADO:</th>
            <td colspan="4">{% if ePlanificacionMateria.pagado %} SI {% else %}NO{% endif %}</td>
        </tr>


        {% if ePlanificacionMateria.pagado %}
            <tr>
                <th>Fecha Pagado:</th>
                <td colspan="4">{{ ePlanificacionMateria.fechapago|date:"d-m-Y" }}</td>
            </tr>
        {% endif %}




        <tr>
            <th>OBSERVACIÓN:</th>
            <td colspan="4">
                {{ ePlanificacionMateria.observacion|upper }}
            </td>
        </tr>
        </tbody>
    </table>
</div>