{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            $("#id_descripcion").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}/solicitudes{% endblock %}
{% block formaction %}/solicitudes{% endblock %}
{% block formdestination %}/solicitudes?id={{ solicitud.id }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editar'/>
    <input type="hidden" name="id" value='{{ solicitud.id }}'/>
{% endblock %}
{% block formback %}/solicitudes{% endblock %}
{% block buttonname %}Guardar{% endblock %}
{% block form-type %}{% endblock %}