.jgrowl-showcase .jGrowl {
    position: static
}

.jgrowl-showcase .jGrowl:first-child {
    margin-bottom: 10px
}

.jgrowl-showcase .jGrowl .jGrowl-notification {
    border: none;
    display: block;
    margin: 0;
    width: 100%
}

@media (min-width: 768px) {
     .jGrowl-close {
        -webkit-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        -o-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out
    }
}

 .jGrowl .jGrowl-closer, .jGrowl .jGrowl-notification{
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px
}


.jGrowl {
    z-index: 9999;
    color: #fff;
    position: absolute
}



body > .jGrowl {
    position: fixed
}

.jGrowl.top-left {
    left: 0;
    top: 0
}

.jGrowl.top-right {
    right: 25px;
    top: 45px
}

.jGrowl.bottom-left {
    left: 0;
    bottom: 0
}

.jGrowl.bottom-right {
    right: 25px;
    bottom: 25px
}

.jGrowl.center {
    top: 68px;
    width: 230px;
    left: 50%;
    margin-left: -115px
}

.center .jGrowl-closer, .center .jGrowl-notification {
    margin-left: auto;
    margin-right: auto
}

.jGrowl .jGrowl-notification {
    border: none;
    color: #fff;
    opacity: .95;
    filter: alpha(Opacity=95);
    width: 230px;
    padding: 12px 18px;
    margin-top: 5px;
    text-align: left;
    display: none;
    background-color: #32434d
}

.jGrowl-notification.growl-error {
    background-color: rgb(185, 74, 72)
}

.jGrowl-notification.growl-success {
    background-color: rgb(81, 163, 81)
}

.jGrowl-notification.growl-warning {
    background-color: rgb(248, 148, 6)
}

.jGrowl-notification.growl-info {
    background-color: rgb(47, 150, 180)
}

.jGrowl .jGrowl-notification .jGrowl-header {
    font-weight: 300;
    font-size: 13px;
    padding: 0 0 2px
}

.jGrowl .jGrowl-notification .jGrowl-header:empty {
    padding: 0
}

.jGrowl .jGrowl-notification .jGrowl-close {
    opacity: .6;
    filter: alpha(Opacity=60);
    z-index: 99;
    float: right;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer
}

.jGrowl .jGrowl-notification .jGrowl-close:hover {
    opacity: .8;
    filter: alpha(Opacity=80)
}

.jGrowl .jGrowl-closer {
    padding: 5px 0;
    cursor: pointer;
    font-size: 11px;
    margin-top: 5px;
    font-weight: 600;
    text-align: center;
    background: #454545;
    color: #fff;
    width: 222px
}

@media print {
    .jGrowl {
        display: none
    }
}