{% extends "basebs.html" %}
{% block heading %}
    <link type="text/css" rel="stylesheet" href="/static/css/jquery.flexbox.css?v=1.0.0"/>
    <script type='text/javascript' src='/static/js/jquery.flexbox.js?v=1.0.0'></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        coordinaciones = [{% for coordinacion in coordinaciones %}
            {"id":"{{ coordinacion.id }}","nombre":"{{ coordinacion.nombre }}","mujeres": {{ coordinacion.cantidad_matriculados_mujeres }}, "hombres": {{ coordinacion.cantidad_matriculados_hombres }}}{% if not forloop.last %},{% endif %}
        {% endfor %}
        ];
        sexos = [{% for sexo in sexos %}
            {"id":"{{ sexo.id }}","nombre":"{{ sexo.nombre }}","matriculados": {{ sexo.cantidad_matriculados}}}{% if not forloop.last %},{% endif %}
        {% endfor %}
        ];


        function drawChart() {
            var elements_mujeres = [];
            var elements_hombres = [];
            var elements_sexos = [];
            elements_mujeres.push(['Coordinaciones', 'Mujeres']);
            elements_hombres.push(['Coordinaciones', 'Hombres']);
            elements_sexos.push(['Sexos', 'Matriculados']);
            for (var i in coordinaciones) {
                var coordinacion = coordinaciones[i];
                elements_mujeres.push([coordinacion.nombre, coordinacion.mujeres]);
                elements_hombres.push([coordinacion.nombre, coordinacion.hombres]);
            }
            for (var i in sexos){
                var sexo = sexos[i];
                elements_sexos.push([sexo.nombre, sexo.matriculados]);
            }
            var datamujeres = google.visualization.arrayToDataTable(elements_mujeres);
            var datahombres = google.visualization.arrayToDataTable(elements_hombres);
            var datasexos = google.visualization.arrayToDataTable(elements_sexos);

            var optionsmujeres = {
                title: 'MUJERES MATRICULADAS (Total: {{ total_matriculados_mujeres }})',
                'is3D':true,
                'legend': {position: 'bottom', textStyle: {color: 'black', fontSize: 10}},
                'width':480,
                'height':350

            };

            var optionshombres = {
                title: 'HOMBRES MATRICULADOS (Total: {{ total_matriculados_hombres }})',
                'is3D':true,
                'legend': {position: 'bottom', textStyle: {color: 'black', fontSize: 10}},
                'width':480,
                'height':350

            };

            var optionssexos = {
                title: 'TOTALES POR SEXOS ({{ total_matriculados }})',
                'is3D':true,
                'legend': {position: 'bottom', textStyle: {color: 'black', fontSize: 10}},
                'width':480,
                'height':350

            };


            var chartmujeres = new google.visualization.PieChart(document.getElementById('piechart_sexof'));
            var charthombres = new google.visualization.PieChart(document.getElementById('piechart_sexom'));
            var chartsexos = new google.visualization.PieChart(document.getElementById('piechart_sexos'));

            chartmujeres.draw(datamujeres, optionsmujeres);
            charthombres.draw(datahombres, optionshombres);
            chartsexos.draw(datasexos, optionssexos);
        }



    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' >
                <thead>
                <tr>
                    <th colspan="3" style="text-align: center;">
                        <h4>Gr&aacute;ficos por Coordinaciones</h4>
                        <h4>Total de Estudiantes Matriculados: {{ total_matriculados }}</h4>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div class="span4" id="piechart_sexof"></div></td>
                        <td><div class="span4" id="piechart_sexom"></div></td>
                        <td><div class="span4" id="piechart_sexos"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
