

#logoarea { background: url(/static/images/sudame/logo.png) no-repeat bottom; }

#heading { background: #f8c301; }

.username { color: black; }

a.bt { color: #01968C; background: url("/static/images/iavq/bt_a.png") no-repeat scroll right top transparent; }
a.bt:active, a.bt:hover { color: black; }
a.bt span { background: url("/static/images/iavq/bt_span.png") no-repeat scroll left top transparent; }

.icon.hovered { background: #f8c301; color: black; }


.data thead tr { background: #099; color: white; }
.data tbody tr td a { color: #099; }
.username { color: white; float: left; margin-right: 7px; margin-top: 7px; font-size: 17px; font-weight: bold;}
input[type=submit] { padding: 3px 50px; font-size: 16px; border: solid 1px gray;
                     background: #f8c301; }


