.data { width: 100%; border: solid 1px #ccc; }
.data thead tr { background: #007dff; color: white; }
.data thead tr th { padding: 4px; text-transform: uppercase; font-size: 16px;  }
.data tbody tr.even { background: white; }
.data tbody tr.odd { background: #f8f8f8; }
.data tbody tr.hovered { background: rgba(255, 200, 1, 0.31);}
.data tbody tr td { padding: 4px; font-size: 16px; text-align: center; border-bottom: solid 1px #ccc; }

.data2 { width: 100%; border: solid 1px #ccc; }
.data2 thead tr { background: #aaa; color: white; }
.data2 thead tr th { padding: 2px; text-transform: uppercase; font-size: 13px;  }
.data2 tbody tr.even { background: white; }
.data2 tbody tr.odd { background: #f8f8f8; }
.data2 tbody tr.hovered { background: rgba(255, 200, 1, 0.31);}
.data2 tbody tr td { padding: 2px; font-size: 12px; text-align: center; border-bottom: solid 1px #ccc; }
.data2 thead tr a { color: #066; }

.alerta { background: red; color: white; font-size: 14px; padding: 3px; }
.data tbody tr td a { color: #07d; }
#formulary p { font-size: 16px; }
#formulary.p100 { width: 100%; }
.rightborder { border-right: solid 1px #ccc; }
.data tbody tr td.smaller, .smaller { font-size: 13px; }
.data tbody tr td.smaller12, .smaller12 { font-size: 12px; }
.data tbody tr td.smaller3, .smaller3 { font-size: 16px; color: blue }
.data tbody tr td.larger, .larger { padding: 6px; font-size: 17px; }
.data tbody tr td.larger1, .larger1 { padding: 4px; font-size: 17px; color: blue;}
.data tbody tr td.larger2, .larger2 { padding: 6px; font-size: 19px; color: blue;}
.grayed { color: #666; }
.smaller2 { font-size: 12px; }
#contenido, #observaciones { text-transform: uppercase; }