
.offcanvas-header {
    background-color: #1c3247;
    height: 68px;
    align-items: center;
    border-bottom: 10px solid #FE9900;
}

#offcanvasRightLabel {
    font-size: 15px;
    color: white;
    font-family: 'Arial',
    sans-serif;
    padding-top: 12px;
}

a h4 {
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px
}

a h4:hover,
.accordion-button:hover {
    background-color: #D6EAF8;
}

.btn-close {
    background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/.75rem auto no-repeat !important;
    border: 0;
    border-radius: .25rem;
    box-sizing: content-box;
    color: #fff;
    height: .75rem;
    opacity: 1;
    font-weight: bold;
    padding: .25em;
    width: .75rem
}

.radio label,
.checkbox label {
    display: inline-block;
    cursor: pointer;
    color: #0074D9;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.radio label:hover,
.checkbox label:hover {
    background: rgba(255, 65, 54, 0.1);
}

.radio label:before,
.checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #0074D9;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label:before {
    display: none;
}

input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #0074D9;
    border-radius: 2px;
    color: #fff;
}

.checkbox label:before {
    border-radius: 3px;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox input[type="checkbox"]:checked + label:before {
    display: none;
}

.checkbox input[type="checkbox"]:checked + label {
    background: #0074D9;
    color: #fff;
    padding: 5px 15px;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(155, 155, 155, 0.42);
}

.accordion-button {
    background-color: #fff;
}


#elementoOculto:target {
  display: none;
}