/* Estilos para controles de los formularios */
textarea{
    color: #495057;
    font-size: 14px;
    text-transform: none;
    resize: none;
    padding: 3px;
}

input[type=date] {
    color: #495057;
    font-size: 14px;
}

input[type=time] {
    color: #495057;
    font-size: 14px;
}

input[type=text] {
    color: #495057;
    font-size: 14px;
}

input[type=text]:read-only {
    background-color: #EEEEEE;
    cursor: not-allowed;
}

textarea:read-only {
    background-color: #EEEEEE;
    cursor: not-allowed;
}

input[type=date]:disabled {
    background-color: #EEEEEE;
    cursor: not-allowed;
}

input[type=checkbox]{
    accent-color:  #5DADE2;
}

input[type=time][disabled]{
    cursor: not-allowed;
}

input[type=checkbox][disabled]{
    cursor: not-allowed;
}