body {
    background: none;
}

#content {
    padding-top: 60px;
    padding-bottom: 60px;
    background: none;
}

.pd {
    padding: 5px 15px 15px 15px;
}

.icon {
    width: 160px;
    float: left;
    height: 190px;
    background: #fafafa;

    /*background: #0c0c0c;*/
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 15px 15px;
    vertical-align: middle;

}

.icon.hovered {
    /*background: #999;*/
    background: #9cb539;
    background: #13c2c2;
    background: #00CFDD;
    background: rgba(90, 141, 238, .15);
    color: white;
    color: #5A8DEE;
    cursor: pointer;
    /*border: 2.5px solid #859a2f;*/
    /*background-image: linear-gradient(to bottom, #038fde , #20C997);*/
}

.icon .iconname {
    font-weight: bold;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    line-height: 10px;
}

.icon .icondesc {
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
}

.icon .iconimage {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.icon .iconimage img {
    height: 80px;
}


/*MENU PRINCIPAL PANEL*/

.containerMenu {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 20px;
}

.containerMenu > * {
    grid-column: col-start / span 12;
}

.menuPanel {
    list-style: none;
    margin: 0em;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.menuPanel > li {
    border: 1px solid #ffe066;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /*background: #fafafa;*/
    border: 1px solid #e3e3e3;
    border-radius: 15px 15px;
    vertical-align: middle;
    text-align: center;
}

.menuPanel > li:hover {
    /*background: #999;*/
    background: #9cb539;
    background: #13c2c2;
    background: #00CFDD;
    background: rgba(90, 141, 238, .15);
    color: white;
    color: #5A8DEE;
    cursor: pointer;
    /*border: 2.5px solid #859a2f;*/
    /*background-image: linear-gradient(to bottom, #038fde , #20C997);*/
}

.menuPanel .iconfavorite {
    color: #1C3247;
}

.menuPanel .iconfavorite > a:hover {
    color: #F8B334;
}

.menuPanel .iconfavorite > .btn {
    border: 0px solid transparent !important;
}

.menuPanel .iconimage {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.menuPanel .iconimage img {
    height: 80px;
}

.menuPanel .iconname {
    font-weight: bold;
    width: 100%;
    /*position: absolute;*/
    bottom: 0;
    text-align: center;
    font-size: 14px;
    line-height: 10px;
}

.menuPanel .tituloicon {
    font-size: 15px;
    margin: 0;
    font-family: inherit;
    font-weight: bold !important;
    line-height: 14px;
    color: inherit;
    text-rendering: optimizelegibility;
}

.menuPanel .icondesc {
    font-weight: normal;
    font-size: 10px;
    line-height: 5px;
}

/*MENU DE ARCHIVOS PRINCIPAL PANEL*/

.containerFile {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 20px;
}

.containerFile > * {
    grid-column: col-start / span 12;
}


.filePanel {
    list-style: none;
    margin: 2em;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.filePanel li {
    border: 1px solid #ffe066;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: #fafafa;
    border: 1px solid #e3e3e3;
    border-radius: 15px 15px;
    vertical-align: middle;
    text-align: center;
    /*height: 190px;*/

}

.filePanel li:hover {
    /*background: #999;*/
    background: #9cb539;
    background: #13c2c2;
    background: #00CFDD;
    background: rgba(90, 141, 238, .15);
    color: white;
    color: #5A8DEE;
    cursor: pointer;
    /*border: 2.5px solid #859a2f;*/
    /*background-image: linear-gradient(to bottom, #038fde , #20C997);*/
}

.filePanel .iconimage {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.filePanel .iconimage img {
    height: 80px;
}

.filePanel .iconname {
    font-weight: bold;
    width: 100%;
    /*position: absolute;*/
    bottom: 0;
    text-align: center;
    font-size: 14px;
    line-height: 10px;
}

.filePanel .tituloicon {
    font-size: 15px;
    margin: 0;
    font-family: inherit;
    font-weight: bold !important;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

.filePanel .icondesc {
    font-weight: normal;
    font-size: 10px;
    line-height: 5px;
}


#idbuscador {
    width: 30%;
    padding: 3px 15px;
    float: right;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin-top: -4px;
}

@media only screen and (max-width: 412px), only screen and (max-width: 436px) {
    .menuPanel {
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    }

    .menuPanel > li {
        height: 220px;

    }

    .filePanel {
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    }

    .filePanel li {
        height: 210px;

    }

    #idbuscador {
        width: 50%;
    }
}

@media only screen and (max-width: 384px), only screen and (max-width: 360px) {
    .menuPanel {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    .menuPanel li {
        height: 210px;

    }

    .filePanel {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    .filePanel li {
        height: 200px;

    }

    #idbuscador {
        width: 40%;
    }
}


.icon_archivo {
    width: 160px;
    float: left;
    height: 190px;
    background: #fafafa;

    /*background: #0c0c0c;*/
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 15px 15px;
    vertical-align: middle;

}

.icon_archivo.hovered {
    /*background: #999;*/
    background: #9cb539;
    background: #13c2c2;
    background: #00CFDD;
    background: rgba(90, 141, 238, .15);
    color: white;
    color: #5A8DEE;
    cursor: pointer;
    /*border: 2.5px solid #859a2f;*/
    /*background-image: linear-gradient(to bottom, #038fde , #20C997);*/
}

.icon_archivo .icon_archivo_name {
    font-weight: bold;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    line-height: 10px;
}

.icon_archivo .icon_archivo_desc {
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
}

.icon_archivo .icon_archivo_image {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.icon_archivo .icon_archivo_image img {
    height: 80px;
}


#title.p80 {
    width: 80%;
}

.wide {
    float: left;
    width: 100%;
}

#nav-footer {
    font-size: 11px;
    /*background: #179e1c;*/
    /*background-image: linear-gradient(to bottom, #037529, #008a2e);*/


    background: #1a4f2e;


    background: #39b54a;

    background: #1f6b33;
    background: #1C3247;
    color: #ececec;
    padding-top: 5px;
    z-index: 0;
    /*height: 40px;*/
}

#nav-header {
    font-size: 11px;
    background-color: #333333;
    color: #ccc;
}

form input, form select, form textarea {
    color: black;
    width: 100%;
    font-size: 12px;
    margin-bottom: 0;
    /*text-transform: uppercase;*/
}

.form-horizontal .control-group {
    margin-bottom: 0;
}

.form-search {
    margin-bottom: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.row-fluid {
    margin-bottom: 10px;
}

.imp-codigo {
    width: 200px;
}

.imp-descripcion {
    width: 300px;
}

.imp-persona {
    width: 300px;
}

.imp-ruc {
    width: 130px;
}

.imp-comprobantes {
    width: 140px;
}

.imp-number {
    width: 100px;
}

.imp-numbersmall {
    width: 55px;
    text-align: center
}

.imp-numbermed-center {
    width: 100px;
    text-align: center
}

.imp-numbermed-right {
    width: 100px;
    text-align: right
}

.imp-numbermed-right-small {
    width: 50px;
    text-align: right
}

.imp-moneda {
    width: 100px;
    text-align: right;
}

.imp-anio {
    width: 50px;
    text-align: center
}

.imp-cedula {
    width: 110px;
}

.imp-email {
    width: 50%;
}

.imp-10 {
    width: 10%;
}

.imp-12 {
    width: 12%;
}

.imp-25 {
    width: 25%;
}

.imp-50 {
    width: 50%;
}

.imp-75 {
    width: 75%;
}

.imp-100 {
    width: 100%;
}

table {
    background: white;
}

table thead tr th {
    background: #f0f0f0;
}

.pagination {
    margin: 0;
    float: right;
}

.bg1 {
    background: url('/static/images/aok/bg14.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg2 {
    background: url('/static/images/aok/bg21.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*.bg3 { 	background: url('/static/images/aok/bg3.jpg') no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover; }*/

/*.bg4  { 	background: url('/static/images/aok/bg4.jpg') no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover; }*/

/*.bg5 { 	background: url('/static/images/aok/bg5.jpg') no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover; }*/

/*.bg6 { 	background: url('/static/images/aok/bg6.jpg') no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover; }*/

/*.bg7 { 	background: url('/static/images/aok/bolsalaboralbg.jpg') no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover; }*/

/*.bg8 { 	background: url('/static/images/aok/preinscrit.jpg') no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover; }*/

.bg9 {
    background: url('/static/images/aok/bg21sagest.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg10 {
    background: url('/static/images/aok/bg21sagest.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#largelogo {
    position: absolute;
    top: -110px;
    right: 20px;
    opacity: 0.7;
}

.bigger {
    font-size: 16px;
}

.larger {
    font-size: 14px;
}

.smaller {
    font-size: 10px;
}

.input-mini {
    width: 42px;
}

.nota {
    text-align: center;
    font-size: 10px;
}

.marcado {
    background: yellow;
    font-weight: bold;
}

.table-condensed {
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

.margeninferior {
    margin-bottom: 10px;
}

h4 {
    font-size: 16px;
    margin: 0;
}

h5 {
    margin: 0;
}

h3 {
    font-size: 20px;
    line-height: 20px;
}

.bookrepr {
    width: 370px;
    float: left;
    height: 120px;
}

.bookrepr img {
    float: left;
    margin-right: 7px;
}

.booksection {
    float: left;
}

div.progress {
    height: 12px;
    margin-bottom: 0;
}

#encuestapanel form {
    margin: 0;
}

.label {
    white-space: normal;
}

.navbar-inverse .navbar-inner {
    /*background-image: linear-gradient(to bottom, #00501f, #008a2e);*/
    /*background-image: linear-gradient(to bottom, #037529, #008a2e);*/
    /*background: #179e1c;*/
    /*background: #1a4f2e;*/
    /*background: #39b54a;*/
    /*background: #1f6b33;*/
    background: #1C3247;
    /*border: 0px;*/
    color: #ffffff;

}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #ffffff;
}

.navbar-inverse .divider-vertical {
    border-left-color: #e2e4e2;
    border-right-color: #e2e4e2;
}

.celdacalendarioheader {
    width: 14%;
    height: 40px;
}

.help-text {
    color: red;
}


.custom-multiselect {
    height: inherit;
    padding: 2px 4px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-multiselect > ul {
    margin: 0;
    padding: 0;
}

.custom-multiselect > ul > div > li {
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
}

.custom-multiselect > ul > div > li > input {
    margin: 0;
}

.custom-multiselect > ul > div {
    overflow: hidden;
    height: 20px;
}

.selectorfecha {
    text-align: center;
    width: 90px;
}

.selectorhora {
    text-align: center;
    width: 70px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinkimg {
    animation: blink 1s;
    animation-iteration-count: infinite;
}

.trMouseOut {
    cursor: pointer;
}

.trMouseOver {
    cursor: pointer;
    cursor: hand;
}

.titleform {
    min-height: 20px;
    padding: 5px;
    margin-bottom: 2px;
    background-color: #cccccc;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.form-s {
    width: 450px;
    min-height: 100px;
    margin: 25px auto;
}

.form-m {
    width: 650px;
    min-height: 100px;
    margin: 25px auto;
}

.form-l {
    width: 850px;
    min-height: 100px;
    margin: 25px auto;
}

.form-xl {
    width: 1300px;
    min-height: 100px;
    margin: 25px auto;
}

.dropdown-submenu .dropdown-menu {
    min-width: 230px;
}

.navbar .brand {
    margin-top: 7px;
    margin-left: 2px;
    padding: 0;
}

.materiasseleccionmodal {
    width: 1000px;
    margin-left: -450px;
}

.textatright {
    text-align: right;
}

.textatleft {
    text-align: left;
}

.textatcenter {
    text-align: center;
}

.form-search {
    margin-bottom: 0
}

.searchinput {
    max-width: 300px
}

.control-group {
    margin-bottom: 0
}

#top_menu .nav > li, ul.top-menu > li {
    float: left;
}

ul.top-menu > li > a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #f0f0f8 !important;
    padding: 2px 6px;
    margin-right: 15px;
}

.notify-row .badge {
    position: absolute;
    right: 3px;
    top: -9px;
    z-index: 100;
}

/*badge*/
.badge.bg-primary {
    background: #8075c4;
}

.badge.bg-success {
    background: #a9d86e;
}

.badge.bg-warning {
    background: #FCB322;
}

.badge.bg-important {
    background: #ff6c60;
}

.badge.bg-info {
    background: #41cac0;
}

.badge.bg-inverse {
    background: #2A3542;
}

.chat-form {
    margin-top: 25px;
    clear: both;
}

.chat-form .input-cont {
    margin-bottom: 10px;
}

.chat-form .input-cont input {
    margin-bottom: 0px;
}

.chat-form .input-cont input {
    border: 1px solid #d3d3d3 !important;
    margin-top: 0;
    min-height: 45px;
}

.chat-form .input-cont input {
    background-color: #fff !important;
}

.chat-features a {
    margin-left: 10px;
}

.chat-features a i {
    color: #d0d0d0;
}

.timeline-messages:before {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    top: 0;
    width: 2px;
}

.timeline-messages:before, .msg-time-chat:before, .msg-time-chat .text:before {
    content: "";
    left: 60px;
    position: absolute;
    top: -2px;
}

.timeline-messages, .msg-time-chat, .timeline-messages .msg-in, .timeline-messages .msg-out {
    position: relative;
}


.timeline-messages .msg-in .arrow {
    /*border-right: 8px solid #F4F4F4 !important;*/
}

.timeline-messages .msg-in .arrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 13px;
    width: 0;
}

.timeline-messages .msg-out .arrow {
    /*border-right: 8px solid #41cac0 !important;*/
}

.timeline-messages .msg-out .arrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 13px;
    width: 0;
}

.msg-time-chat:first-child:before {
    margin-top: 16px;
}

.msg-time-chat:before {
    background: #CCCCCC;
    border: 2px solid #FAFAFA;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    height: 14px;
    margin: 23px 0 0 -6px;
    width: 14px;
}

.msg-time-chat:hover:before {
    background: #41cac0;
}

.msg-time-chat:first-child {
    padding-top: 0;
}

.message-img {
    float: left;
    margin-right: 30px;
    overflow: hidden;
}

.message-img img {
    display: block;
    height: 44px;
    width: 44px;
}

.message-body {
    margin-left: 80px;
}

.msg-time-chat .msg-in .text {
    border: 1px solid #e3e6ed;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.msg-time-chat .msg-out .text {
    border: 1px solid #e3e6ed;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.msg-time-chat p {
    margin: 0;
}

.msg-time-chat .attribution {
    font-size: 11px;
    margin: 0px 0 5px;
}

.msg-time-chat {
    overflow: hidden;
    padding: 8px 0;
}

.msg-in a, .msg-in a:hover {
    color: #b64c4c;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 13px;
}

.msg-out a, .msg-out a:hover {
    color: #288f98;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 13px;
}

.room-box {
    border: 1px solid #e7e7e7;
    background: #f7f8fa;
    padding: 10px;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.room-box h5 {
    margin: 0 0 5px 0;
    font-weight: 300;
    font-size: 16px;
}

.text-primary {
    color: #59ace2;
}

p {
    margin: 0 0 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.text-muted {
    color: #a1a1a1;
}

.text-muted {
    color: #777;
}

#pswd_info {
    /*position: absolute;*/
    /*top: 250px;*/
    /*bottom: -115px\9;*/
    /* IE Specific */
    /*left: 15px;*/
    width: 100%;
    padding: 15px;
    background: #fefefe;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
}

#pswd_info h4 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
}

#pswd_info::before {
    content: "\25B2";
    position: absolute;
    top: -12px;
    left: 45%;
    font-size: 12px;
    line-height: 12px;
    color: #ddd;
    text-shadow: none;
    display: block;
}

.invalid {
    background: url('/static/images/16/cerrar.png') no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}

.valid {
    background: url('/static/images/16/true.png') no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}


.navbar .divider-vertical {
    height: 25px !important;
    margin: 9px !important;
    border-right: 1px solid #fff !important;
    border-left: 0px solid #f2f2f2 !important;
    vertical-align: middle !important;
}


.gb_Da {
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    /*height: 31px;*/
    /*width: 36px;*/
    height: 41px;
    width: 49px;
    z-index: 0;
}


.panelProfile {
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, .2);
    color: #000;
    -webkit-box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    display: none;
    outline: none;
    overflow: hidden;
    position: fixed !important;
    right: 8px;
    top: 75px;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: text;
    display: none;
    /*padding: 10px;*/
}

@media screen and (min-width: 361px) {
    .panelProfile {
        width: 354px;
    }

    .panelProfile .panelProfile_pesonal_info_image {
        /*margin-left: 101px;*/
    }
}


.panelProfile > .panelProfile_pesonal_info {
    margin: 20px 33px;
    /*white-space: nowrap;*/
}

.panelProfile .panelProfile_pesonal_info_image {
    margin-bottom: 10px;
    position: relative;
    height: 26px;
    width: 66px;
}

.panelProfile .profile_info_image {
    border: none;
    margin-top: 11px;
    /* margin-right: 6px; */
    vertical-align: top;
    height: 44px;
    width: 52px;
}

.panelProfile .panelProfile_pesonal_manage_info {
    display: block;
    vertical-align: top;
    text-align: left;
}

.panelProfile .panelProfile_pesonal_manage_data {
    color: #202124;
    font: 500 16px/22px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    letter-spacing: .29px;
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panelProfile .panelProfile_pesonal_manage_email {
    color: #5f6368;
    font: 400 14px/19px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panelProfile .panelProfile_pesonal_manage_my_profile {
    /**/
    color: #5f6368;
    font: 400 14px/19px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 16px 0 0;
    padding: 8px 16px;
}

.panelProfile_pesonal_manage_my_profile > a {
    background-color: #ffffff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: #3c4043;
    display: inline-block;
    font: 500 14px/16px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    letter-spacing: .25px;

    max-width: 254px;
    outline: 0;

    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panelProfile .panelProfile_pesonal_manage_my_pass {
    /**/
    color: #5f6368;
    font: 400 14px/19px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panelProfile_pesonal_manage_my_pass > a {
    background-color: #ffffff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: #3c4043;
    display: inline-block;
    font: 500 14px/16px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    letter-spacing: .25px;

    max-width: 254px;
    outline: 0;

    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panelProfile_profiles {
    border-top: 1px solid #e8eaed;
}

.panelProfile > .panelProfile_pesonal_profiles {
    /*margin: 20px 33px;*/
    white-space: nowrap;
    padding-bottom: 10px;
}

.panelProfile .panelProfile_logout {
    /**/
    color: #5f6368;
    font: 400 14px/19px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    /*text-align: center;*/
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    padding: 8px 16px;
    border-bottom: 1px solid #e8eaed;
    border-top: 1px solid #e8eaed;
    text-align: left;
}

.panelProfile_logout > a {
    background-color: #ffffff;
    /*border: 1px solid #dadce0;*/
    color: #3c4043;
    display: inline-block;
    font: 500 14px/16px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    letter-spacing: .25px;

    /*max-width: 254px;*/
    outline: 0;

    /*text-align: center;*/
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}


.menu-profiles {
    padding: 0;
    margin: 0;
    border: 0;
}

.menu-profiles ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-profiles ul {
    position: relative;
    z-index: 597;
    float: left;
}

.menu-profiles ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
}

.menu-profiles ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

/*.menu-profiles ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
}*/

/*.menu-profiles ul ul li {
    float: none;
}

.menu-profiles ul li:hover > ul {
    visibility: visible;
}

.menu-profiles ul ul {
    top: 0;
    left: 100%;
}*/

.menu-profiles ul li {
    float: none;
}

.menu-profiles {
    width: 100%;
}

.menu-profiles span, .menu-profiles a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.menu-profiles:after, .menu-profiles ul:after {
    content: '';
    display: block;
    clear: both;
}

.menu-profiles ul, .menu-profiles li {
    width: 100%;
}

.menu-profiles li {
    background: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, .125);

}

.menu-profiles li:last-child {
    border-bottom: 0px solid rgba(0, 0, 0, .125);
}

.menu-profiles li:hover {
    background: #f6f6f6;
}

.menu-profiles a {
    color: #333333;
    line-height: 160%;
    padding: 11px 28px 11px 28px;
    width: 100%;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font: 500 12px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

/*.menu-profiles ul ul li {
    background: #f6f6f6;
}
.menu-profiles ul ul li:hover {
    background: #f7f8f8;
}
.menu-profiles ul ul li:hover a {
    color: #666666;
}
.menu-profiles ul ul li ul li {
    background: #dddddd;
}
.menu-profiles ul ul li ul li:hover {
    background: #b7b7b7;
}*/
.menu-profiles .has-sub {
    position: relative;
}

/*.menu-profiles .has-sub:after, .menu-profiles .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
}

.menu-profiles .fa-angle-right {
    float: right;
}*/


.panelPeriodosAcademicos {
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, .2);
    color: #000;
    -webkit-box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    display: none;
    outline: none;
    overflow: hidden;
    position: fixed !important;
    right: 8px;
    top: 50px;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: text;
    width: 400px;
    display: none;
    /*padding: 10px;*/
}

@media screen and (min-width: 361px) {
    .panelPeriodosAcademicos {
        width: 400px;
    }

    /*.panelPeriodosAcademicos .panelProfile_pesonal_info_image{
        margin-left: 101px;
    }*/
}

.breadcrumb, .well {
    background-color: #FFFFFF !important;
    background: #f5f5f5 !important;

}


.divScroll {
    height: 350px;
    overflow: scroll;
}

.scrollbar-dusty-grass::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}


.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 10px;
}


/*

.divScroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}*/

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
/*
.divScroll::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}*/

/* Cambiamos el fondo cuando esté en active */
/*.divScroll::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}*/

/* Ponemos un color de fondo y redondeamos las esquinas del track */
/*.divScroll::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}*/

/* Cambiamos el fondo cuando esté en active o hover */
/*.divScroll::-webkit-scrollbar-track:hover,
.divScroll::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}*/


.has_hover:hover {
    color: #cb8a4f !important;
    /*background: #d8ac66;
    border-radius: 10px;
    border: #405b73 !important;*/
    /*background: #405b73 !important;*/
}

.viewProfile a:active > img {
    border: 1px #cb8a4f !important;
}

/*.navbar-inverse .nav > li  > a:focus,
.navbar-inverse .nav > li  > a:focus {
    background: transparent;
    color: #cb8a4f !important;
}*/

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {

    color: #FFFFFF !important;
    color: #cb8a4f !important;
    background: transparent;
    /*background: #d8ac66;
    border-radius: 10px;
    border: #405b73 !important;
    background: #405b73 !important;*/
}


#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #FFF none repeat scroll 0% 0%;
    z-index: 99999;
}

#page-loader .preloader-interior {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1C3247;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#page-loader .preloader-interior:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00501f;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#page-loader .preloader-interior:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #F8B334;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

/*preloader*/

#loading {
    /*background: #2b3258;*/
    /*background-color: rgb(0, 0, 0);*/
    background-color: rgb(255 255 255);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    margin: 0px;
    left: 0px;
    top: 0px;
    opacity: 0.6;
    cursor: wait;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1161;
    position: fixed;
    padding: 15px;
    margin: 0px;
    width: 140px;
    top: 40%;
    left: 45%;
    text-align: center;
    /* color: rgb(0, 0, 0); */
    /* background-color: rgb(255, 255, 255); */
    cursor: wait;
    /* border-radius: 10px; */
    height: 140px;
    opacity: revert;
    /* border: 2px solid rgb(0, 0, 0); */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#loading-center-absolute {
    margin: 0px auto;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    /*-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: loading-center-absolute 1.5s infinite;
    animation: loading-center-absolute 1.5s infinite;*/

}

/*#loading-center-absolute .object{*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-color: #FFF;*/
/*    float: left;*/

/*}*/

/*#object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}
#object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
}
#object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
}
#object_four {
    -webkit-animation: object_four 1.5s infinite;
    animation: object_four 1.5s infinite;
}


@-webkit-keyframes loading-center-absolute {
    100% { -webkit-transform: rotate(-45deg); }

}

@keyframes loading-center-absolute {
    100% {
        transform:  rotate(-45deg);
        -webkit-transform:  rotate(-45deg);
    }
}



@-webkit-keyframes object_one {
    25% { -webkit-transform: translate(0,-40px) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }

}

@keyframes object_one {
    25% {
        transform: translate(0,-40px) rotate(-180deg);
        -webkit-transform: translate(0,-40px) rotate(-180deg);
    }
    100% {
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}


@-webkit-keyframes object_two {
    25% { -webkit-transform: translate(40px,0) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_two {
    25% {
        transform: translate(40px,0) rotate(-180deg);
        -webkit-transform: translate(40px,0) rotate(-180deg);
    }
    100% {
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}

@-webkit-keyframes object_three {
    25% { -webkit-transform: translate(-40px,0) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_three {
    25% {
        transform:  translate(-40px,0) rotate(-180deg);
        -webkit-transform:  translate(-40px,0) rotate(-180deg);
    }
    100% {
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: rtranslate(0,0) rotate(-180deg);
    }
}


@-webkit-keyframes object_four {
    25% { -webkit-transform: translate(0,40px) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_four {
    25% {
        transform: translate(0,40px) rotate(-180deg);
        -webkit-transform: translate(0,40px) rotate(-180deg);
    }
    100% {
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}*/


/*BARRA LATERIAL MENU FAVORITO*/
@media (max-width: 979px) {

    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
        right: 0;
        left: 0;
        /*z-index: 1030;*/
        margin-bottom: 0
    }

    .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
    }
}

#content {
    padding-top: 80px;
    padding-bottom: 80px;
    background: none;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #1C3247; /* Black*/
    overflow-x: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: #F8B334;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#app {
    transition: margin-left .5s;
    padding: 0px;
    /*overflow:hidden;*/
}

body {
    /*overflow-x: hidden;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 12px;
    }
}


.demo_changer {
    top: 0;
    z-index: 1001;
    position: fixed;
    right: -250px;
    font-weight: 400 !important;
    color: #070510 !important;
}


@media only screen and (min-width: 768px) {
    .demo_changer {
        top: 0;
        z-index: 1001;
    }

    .demo_changer .demo-icon {
        width: 50px;
    }

    .demo_changer i {
        color: #fff;
        font-size: 17px;
    }
}

@media only screen and (max-width: 768px) {
    .demo_changer i {
        font-size: 21px;
    }

    .demo_changer .demo-icon {
        width: 40px;
        top: 7rem;
    }

    .demo_changer {
        display: block;
    }

    .demo_changer {
        top: 0px;
        z-index: 9999;
    }
}

.demo_changer .demo-icon {
    width: 50px;
}

.demo_changer .demo-icon {
    cursor: pointer;
    text-align: center;
    padding: 2px;
    float: left;
    line-height: 38px;
    width: auto;
    position: relative;
    top: 13rem;
    padding: 5px;
    padding-top: 10px;
    background: #f8f9fa;
    border-radius: 3px 0 0 3px !important;
    box-shadow: 0px 10px 10px 20px rgba(179, 186, 212, 0.09), 10px 10px 15px -5px rgb(176, 184, 214, 0);
    border: 1px solid #d3dfea;
    border-right-color: rgb(211, 223, 234);
    border-right-style: solid;
    border-right-width: 1px;
    border-right: 0;
}

.demo_changer .demo-icon a {
    /*width: 35px;
    height: 35px;
    color: #fff;
    border-radius: 3px;*/
    margin-bottom: 5px;
    display: block;
}


/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba {
    display: none;
    background-repeat: no-repeat;
    font-size: 20px;
    color: #1C3247;
    cursor: pointer;
    position: fixed;
    bottom: 52px;
    right: 1px;
    z-index: 2;
}

.btn-orange {
    border-radius: 20px;
    /*font-size: 12px;*/
    font-weight: 400;
    background-color: #FE9900;
    border-color: #FE9900;
    color: #fff;
    /*width: 180px;*/
    padding: 5px 18px 5px 18px;
}

.btn-orange:hover {
    background-color: #E18A00;
    border-color: #E18A00;
    color: #fff;
}

.btn-cian-secondary {
    background-color: #D3DEE8!important;
    color: #1F354A!important;
    border-color:#D3DEE8;
    /*font-size: 12px;*/
    /*width: 180px;*/
    font-weight: 400;
    border-radius: 20px;
    padding: 5px 18px 5px 18px;
}

.btn-cian-secondary:hover {
    background-color: #1F354A!important;
    border-color:#1F354A;
    color: white!important;
}

.btn-expand{
    width: 180px;
}

.btn-outline-orange {
    color: #5c596d;
}

.btn-outline-orange:hover {
    background-color: #FE9900;
    border-color: #FE9900;
    color: #fff
}

.btn-outline-orange-active {
    background-color: rgb(239, 143, 0);
    border-color: #FE9900;
    color: #fff;
}


/* Diseño de boton horario*/
.btn-primary-old{
    border:1px solid #182F44;
    background-color: #182F44;
    color: white!important;
}
.btn-primary-old:hover{
    border:1px solid #182F44;
    background-color: #182F44;
    color: white!important;
}
.btn-blue-old{
    border:1px solid #182F44;
    background-color: #ffffff;
}
.btn-blue-old h6{
    color: #253f56 !important;
}
.btn-blue-old-active, .btn-blue-old:hover{
    border:1px solid #182F44;
    background-color: #182F44;
    color: white!important;
}

.blue-border{
    border-color: #182F44!important;
}

.btn-blue-old-active h6, .btn-blue-old:hover h6{
    color: white!important;
}
