{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script>
        $(function(){
            $("#id_descripcion").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_productos?action=peligrosidad{% endblock %}
{% block formdestination %}/adm_productos?action=peligrosidad{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editpeligrosidad'/>
    <input type='hidden' name='id' value='{{ peligrosidad.id }}'/>
{% endblock %}
{% block formback %}/adm_productos?action=peligrosidad{% endblock %}