{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src='/static/js/select2.js?v=1.0.0' ></script>
    <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
    <script type="text/javascript">
        $(function() {
            $("#id_fecha").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
            busqueda = function(){
                var term = $("#searchinput").val().toUpperCase().trim();
                if (term.length>0){
                    location.href = "/adm_docentes?s="+term;
                }
                return false;
            };

            $("#search").click(function(){
                busqueda();
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    busqueda();
                }
            });
            $("#cerrar").click(function () {
                $('#itemspanel').modal('hide');
            });
            $(".calcular_asistencia").click(function () {
                $(".panelbody").html();
                $("#itemspanel").modal({backdrop:'static', width: '350px'}).modal('show');
            });
            $('#btn_recalcular_asistencia').click(function () {
                var fecha = $("#id_fecha").val();
                if (fecha.length>0){
                    empezar_recalcular();
                    $("#id_fecha").attr({'disabled': 'disabled'});
                    $("#cerrar, #btn_recalcular_asistencia").hide();
                }else{
                    smoke.alert('Ingrese la fecha')
                }
            });
            function terminar(){
                $("#cerrarpanelprogresshint").html("Finalizó el recalcula de asistencia");
                $("#progressbar").css({'width': '100%'});
                intentos = 0;
                $("#itemspanel").modal("hide");
                bloqueointerface();
                location.href = "/af_activofijo?action=edificios";
            }
            function fallo(){
                $.unblockUI();
                $("#itemspanel").modal("hide");
                smoke.alert("Fallo al recalcular asistencia");
                $("#id_fecha").removeAttr('disabled');
                $("#cerrar, #btn_recalcular_asistencia").show();
            }
            function recalcularasistencia (lista, elemento, cantidad){
                var clase = lista[elemento];
                var cp = (100 / (cantidad+1)) * elemento + '%';
                var fecha = $("#id_fecha").val();
                if (elemento>cantidad){
                    $("#itemspanel").modal("hide");
                    bloqueointerface();
                    location.href = "/adm_docentes?";
                } else {
                    $("#cerrarpanelprogresshint").html(clase.materia);
                    $("#progressbar").css({'width': cp});
                    $.ajax({
                        type: "POST",
                        url: "/adm_docentes",
                        data: {"action": "recalcular_asistencia", "id":clase.id, "fecha":fecha},
                        success: function(data) {
                            if (data.result=='ok'){
                                intentos = 0;
                                recalcularasistencia(lista, elemento+1, cantidad);
                            } else {
                                intentos += 1;
                                if (intentos>=100){
                                    fallo();
                                } else {
                                    recalcularasistencia(lista, elemento, cantidad);
                                }
                            }
                        },
                        error: function() {
                            intentos += 1;
                            if (intentos>=100){
                                fallo();
                            } else {
                                recalcularasistencia(lista, elemento, cantidad);
                            }
                        },
                        dataType: "json"
                    });
                }
            }
            empezar_recalcular = function () {
                var fecha = $("#id_fecha").val();
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_docentes",
                    data: {'action':'listar_clases', 'fecha': fecha},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result=='ok'){
                            lista = data.lista;
                            cantidad = lista.length;
                            indice = 0;
                            recalcularasistencia(lista, indice, (cantidad-1));
                        } else {
                            smoke.alert(data.mensaje);
                            $("#id_fecha").removeAttr('disabled');
                            $("#cerrar, #btn_recalcular_asistencia").show();
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                        $("#id_fecha").removeAttr('disabled');
                        $("#cerrar, #btn_recalcular_asistencia").show();
                    },
                    dataType: "json"
                });
            };
            {% if perms.sga.puede_modificar_materias %}
                $('.cambiardocente').click(function () {
                    $('#cambdocente').attr('idd',$(this).attr('idd'));
                    $("#itemspanel_docente").modal({backdrop:'static', width: '432px'}).modal('show');
                });

                $('#cerrardocente').click(function () {
                    $("#itemspanel_docente").modal("hide");
                });

                $('#conflicto_cerrar').click(function () {
                    $("#conflicto").modal("hide");
                });

                $('#cambdocente').click(function () {
                    var idd = $(this).attr('idd');
                    var idp = $("#id_profesor").val();
                    if (idp > 0){
                        bloqueointerface();
                        $.ajax({
                            type: "POST",
                            url: "/adm_docentes",
                            data: {'action': 'cambiardocente', 'id': idd, 'idp':idp},
                            success: function (data) {
                                $.unblockUI();
                                if (data.result == 'ok') {
                                    if (data.existeconflicto) {
                                        $("#conflicto_body").html(data.segmento);
                                        $("#conflicto").modal({backdrop:'static', width: 1000}).modal('show');
                                    }
                                    else{
                                        location.reload();
                                    }
                                } else {
                                    smoke.alert(data.mensaje);
                                }
                            },
                            error: function () {
                                $.unblockUI();
                                smoke.alert("Error de conexión.");
                            },
                            dataType: "json"
                        });
                    }
                    else{
                        smoke.alert("Seleccione un docente");
                    }
                });

                ItemsDisplay = function (item) {
                    if (item.name){
                        return $('<span>' + item.name+ '</span>');
                    }else{
                        return '---------';
                    }
                };

                $("#id_profesor_select2").select2({
                    placeholder: "---------",
                    allowClear: true,
                    ajax: {
                        url: function (params) {
                            return "/reportes?action=data&model=Profesor&p=1&s=10&q=" + params.term;
                        },
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                q: params.term,
                                page: params.page
                            };
                        },
                        processResults: function (data, params) {
                            params.page = params.page || 1;
                            return {
                                results: data.results,
                                pagination: {
                                    more: (params.page * 30) < data.total_count
                                }
                            };
                        },
                        cache: true
                    },
                    escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                    minimumInputLength: 1,
                    templateResult: ItemsDisplay, // omitted for brevity, see the source of this page
                    templateSelection: ItemsDisplay // omitted for brevity, see the source of this page
                }).on("select2:select", function (evt) {
                    $("#id_profesor").attr({"value":(evt.params.data.id)});
                });
            {% endif %}
        });
    </script>
{% endblock %}
{% block atras %}/{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span6'>
            {% if persona.usuario.is_superuser %}
                <a href="javascript:;" id='search' class='btn btn-warning calcular_asistencia'><span class="fa fa-refresh " ></span> Recalcular Asistencia</a>
            {% endif %}
        </div>
        <div class="span6">
            <form class="form-search" onsubmit="return busqueda()">
                <input class='searchinput' type='text' id='searchinput' value='{{ search }}' autocomplete="off"/>
                <a href="javascript:;" id='search' class='btn btn-info'><span class="fa fa-search " ></span> Buscar</a>
                {% if search or ids %}
                    <a href="/adm_docentes" id='allresults' class='btn btn-success'><span class="fa fa-refresh " ></span> Todos</a>
                {% endif %}
            </form>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' >
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th style="width: 130px">Coordinaci&oacute;n</th>
                    <th style="width: 200px;">Emails/Tel&eacute;fonos</th>
                    <th style="width: 200px; text-align: center">Materias /Paralelos / Total Horas</th>
                    <th style="width: 60px; text-align: center">Horas Docencia</th>
                    <th style="width: 60px; text-align: center">Horas Gesti&oacute;n</th>
                    <th style="width: 60px; text-align: center">Horas Investig.</th>
                    <th style="width: 60px; text-align: center">Horas Vinculación</th>
                    <th style="width: 60px; text-align: center">Total Horas</th>
                    {% if usa_planificacion %}
                        <th style="width: 80px; text-align: center">Planificadas</th>
                    {% endif %}
                    <th style="width: 60px; text-align: center">Total Horas registradas</th>
                    <th style="width: 80px;"></th>
                </tr>
                </thead>
                <tbody>
                {% for distributivo in distributivohora %}
                    <tr>
                        <td>{{ distributivo.profesor }}<br>
                            <strong>C.I: </strong>{{ distributivo.profesor.persona.cedula }}
                        </td>
                        <td>
                            {% with coordinaciones=distributivo.profesor|args:periodo|call:"mis_coordinaciones_materias" %}
                                {% for coordinacion in coordinaciones %}
                                    {{ coordinacion.alias }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </td>
                        <td>
                            {%  for email in distributivo.profesor.persona.lista_emails %}
                                <a href="mailto:{{ email }}">{{ email }}</a><br/>
                            {% endfor %}
                            {%  for telefono in distributivo.profesor.persona.lista_telefonos %}
                                {{ telefono }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td style="text-align: center">
                            {% with materiasperiodo=distributivo.profesor|args:periodo|call:"cantidad_asignaturas" %}
                                {{ materiasperiodo }}
                            {% endwith %} /
                            {% with materiasperiodo=distributivo.profesor|args:periodo|call:"cantidad_materias2" %}
                                {{ materiasperiodo }}
                            {% endwith %} /
                            {% with materiasperiodohoras=distributivo.profesor|args:periodo|call:"cantidad_materias_horas" %}
                                {{ materiasperiodohoras|floatformat:0 }}
                            {% endwith %}
                        </td>
                        <td style="text-align: center">{{ distributivo.horasdocencia|floatformat:0 }}</td>
                        <td style="text-align: center">{{ distributivo.horasgestion|floatformat:0 }}</td>
                        <td style="text-align: center">{{ distributivo.horasinvestigacion|floatformat:0 }}</td>
                        <td style="text-align: center">{{ distributivo.horasvinculacion|floatformat:0 }}</td>
                        <td style="text-align: center">{{ distributivo.total_horas|floatformat:0 }}</td>
                        {% if usa_planificacion %}
                            <td style="text-align: center">
                                {% with materiasplanificadas=distributivo.profesor|args:periodo|call:"cantidad_materias_planificadas" %}
                                    {{ materiasplanificadas }}
                                {% endwith %}
                            </td>
                        {% endif %}
                        <td style="text-align: center">
                            {% with clasesimpartidas=distributivo.profesor|args:periodo|call:"cantidad_lecciones" %}
                                {{ clasesimpartidas  }}
                            {% endwith %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    Consultas
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href='/adm_docentes?action=horario&id={{ distributivo.profesor.id }}'><span class="fa fa-calendar" ></span> Horario</a></li>
                                    <li><a href='/adm_docentes?action=cronograma&id={{ distributivo.profesor.id }}'><span class="fa fa-folder-open " ></span> Cronograma</a></li>
                                    <li><a href='/adm_docentes?action=clases&id={{ distributivo.profesor.id }}'><span class="fa fa-list " ></span> Clases</a></li>
                                    <li><a href='/adm_docentes?action=calificaciones&id={{ distributivo.profesor.id }}'><span class="fa fa-asterisk " ></span> Evaluaciones</a></li>
                                    <li><a href='/adm_docentes?action=asistencias&id={{ distributivo.profesor.id }}'><span class="fa fa-plus " ></span> Asistencias</a></li>
                                    <li><a href='/adm_docentes?action=distributivohoras&id={{ distributivo.profesor.id }}'><span class="fa fa-time" ></span> Planificaci&oacute;n de horas</a></li>
                                    <li><a href='/adm_docentes?action=verevidencia&id={{ distributivo.profesor.id }}'><span class="fa fa-list-alt" ></span> Evidencias</a></li>
                                    {% if perms.sga.puede_modificar_materias %}
                                        <li><a href="javascript:;" class="cambiardocente" idd={{ distributivo.id|encrypt }}><span class="fa fa-user" ></span> Cambiar de docentes</a></li>
                                    {% endif %}
                                    {% if usa_planificacion %}
                                        <li><a href='/adm_docentes?action=planificaciones&id={{ distributivo.profesor.id }}'><span class="fa fa-list " ></span> Planificaciones</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="15">NO EXISTEN DOCENTES ASIGNADOS A MATERIAS EN EL PERIODO SELECCIONADO</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">
            {% if paging.num_pages > 30 %}
                <div class='pagination'>
                    <ul>
                        {% if paging.primera_pagina %}
                            <li><a href="/adm_docentes?{% if search %}s={{ search }}&{% endif %}page=1">1</a></li>
                            <li><a href="/adm_docentes?{% if search %}s={{ search }}&{% endif %}page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>
                        {% endif %}
                        {% for pagenumber in paging.paginas %}
                            <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/adm_docentes?{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}">{{ pagenumber }}</a></li>
                        {% endfor %}
                        {% if paging.ultima_pagina %}
                            <li><a href="/adm_docentes?{% if search %}s={{ search }}&{% endif %}page={{ paging.ellipsis_derecha }}" class="active">...</a></li>
                            <li><a href="/adm_docentes?{% if search %}s={{ search }}&{% endif %}page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <div class='pagination'>
                    <ul>
                        {% for pagenumber in paging.page_range %}
                            <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/adm_docentes?{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}">{{ pagenumber }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle"><span class="fa fa-refresh"></span> Recalcular Asistencia </h3>
        </div>
        <div class="modal-body panelbody">
            <div class="row-fluid">
                <span>Fecha: </span><input type="text" class="selectorfecha" value="" id="id_fecha" style="width: 120px" >
            </div>
            Progreso de depreciaci&oacute;n:
            <div class="progress progress-striped active">
                <div class="bar" style="width: 0;" id="progressbar"></div>
            </div>
            <div id="cerrarpanelprogresshint">
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-generar btn-success calcular" id="btn_recalcular_asistencia"><i class="fa fa-refresh"></i>Calcular</a>
            <a href="javascript:;" class="btn btn-cerrar btn-info cerrar" id="cerrar"><i class="fa fa-close"></i> Cerrar</a>
        </div>
    </div>
    <div class="modal fade static" id="itemspanel_docente" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Seleccione el docente</h3>
        </div>
        <div class="modal-body panelbody_docente">
            <div class="row-fluid">

                <form id="form2" class="form-horizontal form-modal" style="width: 400px; margin-bottom: 0">
                    <div class="alert alert-info">
                        <h4 class="alert-heading">AVISO</h4>
                        <ul>
                            <li>
                                Se ejecutará el proceso según el periodo seleccionado.
                            </li>
                            <li>
                                Se validará conflicto de horario.
                            </li>
                        </ul>
                    </div>
                    {% for field in form2 %}
                        <fieldset id="fieldset_{{ field.name }}" class="control-group nomargins" style="min-height:35px; float: left; width: 100%" >
                            <div class="control-label label-text" {% if field.field.widget.attrs.labelwidth %}labelwidth="{{ field.field.widget.attrs.labelwidth }}"{% endif %} style="display: table;height: 30px;">
                                <div style="display: table-cell; vertical-align: middle; line-height: 11px">
                                    <label for="id_{{ field.name }}" style="padding-right: 20px">{{ field.label }}</label>
                                </div>
                            </div>
                            <div class="control" style="float: left; width: 100%">
                                {% if field.field.widget.attrs.select2search %}
                                    <select id="id_{{ field.name }}_select2" {% if field.field.widget.attrs.disabled %}disabled=""{% endif %} style="width: 100%" >
                                        <option value="0" selected="selected">---------</option>
                                    </select>
                                    <input type='hidden' name="{{ field.name }}" id="id_{{ field.name }}" value="{{ field.value }}" hidden="hidden" {% if field.field.widget.attrs.descripcion %}descripcion="{{ field.field.widget.attrs.descripcion }}"{% endif %} class="select2hidden">
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                <p class="help-text" style="font-size: xx-small; margin-bottom: 0; height: 13px; line-height: 13px">{{ field.help_text }} </p>
                            </div>
                        </fieldset>
                    {% endfor %}
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-danger" id="cambdocente"><i class="fa fa-refresh"></i> Procesar</a>
            <a href="javascript:;" class="btn btn-info" id="cerrardocente"> Cerrar</a>
        </div>
    </div>
    <div class="modal static" id="conflicto" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Conflicto del docente</h3>
        </div>
        <div class="modal-body" id="conflicto_body">
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-info" id="conflicto_cerrar"> Cerrar</a>
        </div>
    </div>
{% endblock %}