{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script>
        $(function() {
            $("#search").click(function() {
                var term = $("#searchinput").val().toUpperCase();
                location.href = "/pac_pacdepartamento?s="+term;
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });
            $("#periodo").change(function(){
                var valor = $(this).val();
                bloqueointerface();
                location.href = '/pac_pacpresupuesto?periodo=' + valor;
            });
        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span6'>
            <select id='periodo' style="width: 600px">
                {% for periodo in periodos %}
                    <option {% if periodo.id == idperiodo %} selected {% endif %} value='{{ periodo.id }}'>{{ periodo }}</option>
                {% endfor %}
            </select>
        </div>
        <div class='span6'>
            {% if not periodo.aprobado %}
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span></a>
                <ul class="dropdown-menu pull-left" style="width: 200px;">
                    <li><a href="/pac_pacpresupuesto?action=descargar&periodo={{ idperiodo }}"><i class="fa fa-table"></i> Descargar PAC</a></li>
                    <li><a href="/pac_pacpresupuesto?action=importar&idperiodo={{ idperiodo }}"><i class="fa fa-table"></i> Subir PAC</a></li>
                </ul>
            </div>
            {% endif %}
        </div>


    </div>
    <div class="row-fluid">
        <div class='span12'>
            <table class='table table-bordered table-striped filterable' cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th>Departamento</th>
                    {#                    <th style="width:100px;">Objetivo Operativo</th>#}
                    {#                    <th style="width:100px;">Indicador</th>#}
                    <th style="width:120px;">Actividad/Proyecto</th>
                    <th style="width:100px;">Programa</th>
                    <th style="width:100px;">Actividad</th>
                    <th style="width:100px;">Fuente</th>
                    <th style="width:100px;">Item</th>
                    <th style="width:100px;">Estado Item</th>
                    <th style="width:120px;">Caracteristica</th>
                    <th style="width:60px;">Cantidad</th>
                    <th style="width:100px;">Unidad</th>
                    <th style="width:60px;">Costo Unitario</th>
                    <th style="width:60px;">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for pac in pacs %}
                    <tr>
                        <td>{{ pac.departamento }}</td>
                        {#                        <td>{{ pac.acciondocumento.indicadorpoa.objetivooperativo }}</td>#}
                        {#                        <td>{{ pac.acciondocumento.indicadorpoa }}</td>#}
                        <td>{{ pac.acciondocumento|default_if_none:"" }}</td>
                        <td>{{ pac.programa|default_if_none:"" }}</td>
                        <td>{{ pac.actividad|default_if_none:"" }}</td>
                        <td>{{ pac.fuente|default_if_none:"" }}</td>
                        <td>{{ pac.item|default_if_none:"" }}</td>
                        <td>{{ pac.get__estadoitem__display|default_if_none:"" }}</td>
                        <td>{{ pac.caracteristicas }}</td>
                        <td>{{ pac.cantidad }}</td>
                        <td>{{ pac.unidadmedida }}</td>
                        <td>{{ pac.costounitario }}</td>
                        <td>{{ pac.total }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10">NO EXISTEN DATOS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
