{% load sga_extras %}
<div>
    <input type="hidden" name="id" value="{{ id }}"/>
    {#    <input type="hidden" name="proceso" value="{{ proceso }}"/>#}
    <input type="hidden" name="servicio" value="{{ servicio }}"/>
    <input type="hidden" name="tipo" value="{{ tipo }}"/>
    <input type="hidden" name="action" value="{{ action }}"/>
    <div class="row">
         {% for field in form2 %}
            {% if field.field.widget.attrs.separator %}
                {% if field.field.widget.attrs.blanklinebefore %}
                {% endif %}
                <div style="width: 100%; height: max-content">
                    <h6 style="width:100%; text-align:left; border-bottom: 1px solid #98a3ab; line-height:0.1em; margin:10px 0 20px;">
                        <span style="padding:0 10px; background: #f5f5f5;">
                            {% if field.field.widget.attrs.separatortitle %}
                                {{ field.field.widget.attrs.separatortitle }}
                            {% endif %}
                        </span>
                    </h6>
                </div>
            {% endif %}
            <div id="fieldset_{{ field.name }}"
                 class="col-lg-{% if field.field.widget.attrs.col %}{{ field.field.widget.attrs.col }}{% else %}12{% endif %}"
                 style="float: left; padding-right: 10px;">
                <label class="control-label pr-2" for="id_{{ field.name }}">
                    <b>{{ field.label }}&nbsp;:</b></label>
                <div style="width:{% if not field.field.widget.attrs.controlwidth %}100%{% else %}{{ field.field.widget.attrs.controlwidth }}{% endif %};">
                    {% if field.name == 'portada' %}
                        <input type="file" name="{{ field.name }}"
                               {% if filtro.portada %}data-default-file="{{ filtro.portada.url }}"
                               value="{{ filtro.portada.url }}"{% endif %}
                               class="form-control" id="id_{{ field.name }}" data-allowed-file-extensions="jpg png jpeg">
                        {% if filtro.portada %}
                            <div style="text-align: right">
                                <a href="{{ filtro.portada.url }}" target="_blank" class="btn btn-cian-secondary mt-1"><i
                                        class="fa fa-eye"></i> Ver portada</a>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if field.field.widget.attrs.select2search %}
                            <select id="id_{{ field.name }}_select2" style="width: 100%"
                                    {% if field.field.widget.attrs.disabled %}disabled=""{% endif %}>
                                <option value="0" selected="selected">---------</option>
                            </select>
                            <input name="{{ field.name }}" id="id_{{ field.name }}" value="{{ field.value }}"
                                   hidden="hidden"
                                   type="hidden"
                                   {% if field.field.widget.attrs.descripcion %}descripcion="{{ field.field.widget.attrs.descripcion }}"{% endif %}
                                   class="select2hidden">
                        {% elif field.field.widget.attrs.number %}
                            <div class="box-content-sum-res" style="height: 30px">
                                <div class="rounded-start text-center box-resta">
                                    <a style="padding: 10px 40% 10px 50%;" class="restar" id="restar_{{ field.name }}" data-id="{{ field.name }}"
                                       href="javascript:void(0);">-</a>
                                </div>
                                <div class="box-content">
                                    <input required name="{{ field.name }}" class="content" id="id_{{ field.name }}" min="1" max="32"
                                           placeholder="0" value="{{ field.value }}"
                                           style="width: 100%; text-align: center; border:0px; color:#22374C; font-size: 14px">
                                </div>
                                <div class="rounded-end text-center box-suma">
                                    <a style="color:#22374C;padding: 10px 50% 10px 40%; " class="sumar" id="sumar_{{ field.name }}" data-id="{{ field.name }}"
                                       href="javascript:void(0);">+</a>
                                </div>
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endif %}
                    <p class="help-text">{{ field.help_text }} </p>
                    <p id="errorMessage{{ field.name }}" class="fs-6 text-danger p-1 py-0"></p>
                </div>
            </div>
        {% endfor %}
        {% if subesolicitud %}
            <div id="fieldset_solicitud" class="col-12"
                      style="padding-bottom: 20px; min-height:35px; float: left; width:100%">
                        <label for="id_solicitud" style="padding-right: 20px"><b>Solicitud:</b></label>
                <div class="control" style="float: left;">
                    <input type="file" id="doc_solicitud" required
                           class="filepdf validate[required]"
                           data-allowed-file-extensions="pdf"
                           name="doc_solicitud">
                </div>
            </div>
        {% endif %}
        {% for doc in requisitos %}
            <div id="fieldset_archivos" class="col-12" style="padding-bottom: 20px; min-height:35px; float: left; width:100%">
                <label for="id_archivos"style="padding-right: 20px"><b>{{ doc.requisito.descripcion|lower|capfirst }}:</b></label>
                <div class="control" style="float: left;">
                    <input type="file" id="doc_{{ doc.requisito.pk }}" {% if doc.obligatorio %}
                           required {% endif %}
                           class="filepdf {% if doc.obligatorio %} validate[required] {% endif %}"
                           data-allowed-file-extensions="pdf"
                           name="doc_{{ doc.requisito.pk }}">
                    <span class="text-muted">{{ doc.requisito.leyenda|default_if_none:'' }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div style="text-align: right; float: left; width: 100%">
            <button type="submit" id="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Guardar</button>
            <a href="javascript:;" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times-circle"></i> Cancelar</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/bootstrap-filestyle.min.js?v=1.0.1"></script>
<link rel="stylesheet" href="/static/dropify/css/dropify.min.css">
<script type="text/javascript" src='/static/dropify/js/dropify.min.js?v=1.0.0'></script>
<script>
    $(function () {
        var drEvent = $('#id_archivo').dropify({
            messages: {
                default: 'Arrastre y suelte el archivo o haga clic aquí.',
                replace: 'Arrastre y suelte el archivo o haga clic aquí.',
                remove: 'Eliminar',
                error: 'Ocurrió un error!'
            },
            error: {
                fileSize: "El tamaño del archivo debe ser máximo (2MB).",
                fileExtension: "Sólo puede subir los archivos con las extensiones .jpeg .pdf .jpg .png"
            },
        });
    });

    tooltips = function () {
        $(".tl").tooltip({placement: "left"});
        $(".tr").tooltip({placement: "right"});
        $(".tu").tooltip({placement: "top"});
        $(".tb").tooltip({placement: "bottom"});
    };


    $(function () {

        tooltips();

        $("#id_descripcion,#id_archivo").addClass("validate[required]");
        tipo_formulario($("form"));

    })

    $(function () {
        $('.filepdf').on('change', function () {
            var rutaimg = $(this).val();
            var extension = rutaimg.substring(rutaimg.length - 3, rutaimg.length);
            if (extension.toLowerCase() === 'pdf') {
                $('.filepdf').fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
            } else {
                $(this).val(null);
                $(this).filestyle('clear');
                smoke.alert('Seleccione un archivo formato .pdf');
            }
        });
        $(":file").filestyle({"input": false});


        $("#id_persona_select2").val(0).trigger("change");
        ItemsDisplay = function (item) {
            if (item.name) {
                return $('<span>' + item.name + '</span>');
            } else {
                return '-------------------------------------------';
            }
        };


        $("#id_persona_select2").select2({
            placeholder: "-------------------------------------------",
            allowClear: true,
            ajax: {
                url: function (params) {
                    return "/adm_solicitudbalcon?action=buscarpersona3&q=" + params.term;
                },
                dataType: 'json',
                delay: 400,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
            templateResult: ItemsDisplay, // omitted for brevity, see the source of this page
            templateSelection: ItemsDisplay // omitted for brevity, see the source of this page
        }).on("select2:select", function (evt) {
            $("#id_persona").attr({"value": (evt.params.data.id)});
        });
    });

</script>