{% extends "basebs.html" %}
{% load sga_extras %}
{% load humanize %}
{% block heading %}
       <script type="text/javascript" src='/static/js/select2.js?v=1.0.0' ></script>
    <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
    <script>
 $(document).ready(function () {

 $('#id_bloque').empty().append('<option value="">---------</option>').val(0).trigger("change");
 $('#id_bloquepdf').empty().append('<option value="">---------</option>').val(0).trigger("change");
 $('#id_bloquec').empty().append('<option value="">TODOS</option>').val(0).trigger("change");
 $('#id_bloquecp').append('<option value="">TODOS</option>').val(0).trigger("change");


                $.post("/helpdesk_hdplanificacion", {'action': 'selectbloquerep'}, function(data) {
                    if (data.result == 'ok') {
                        for (elemento in data.lista) {
                            $('#id_bloque').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                            $('#id_bloquepdf').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                            $('#id_bloquec').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                            $('#id_bloquecp').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                        }
                    }
                }, 'json');
                $.post("/helpdesk_hdplanificacion", {'action': 'selecttecnico'}, function(data) {
                    if (data.result == 'ok') {
                        for (elemento in data.lista) {
                            $('#id_tecnicoc').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                            $('#id_tecnicocp').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');

                        }
                    }
                }, 'json');


        });
        $(function() {
 $("#id_bloque").select2({minimumResultsForSearch: 2 });
 $("#id_ubicacion").select2({minimumResultsForSearch: 2 });
 $("#id_grupo").select2({minimumResultsForSearch: 2 });

 $("#id_grupoc").select2({minimumResultsForSearch: 2 });
 $("#id_ubicacionc").select2({minimumResultsForSearch: 2 });
 $("#id_bloquec").select2({minimumResultsForSearch: 2 });
 $("#id_tecnicoc").select2({minimumResultsForSearch: 2 });
  $("#id_grupocp").select2({minimumResultsForSearch: 2 });
 $("#id_ubicacioncp").select2({minimumResultsForSearch: 2 });
 $("#id_bloquecp").select2({minimumResultsForSearch: 2 });
 $("#id_tecnicocp").select2({minimumResultsForSearch: 2 });
   $('#id_bloque').change(function (){
 $('#id_ubicacion').empty().append('<option value="">---------</option>').val(0).trigger("change");
                id = $(this).val();
                $.post("/helpdesk_hdplanificacion", {'action': 'selectubicacionrep', 'id': id}, function(data) {
                    if (data.result == 'ok') {
                        for (elemento in data.lista) {
                            $('#id_ubicacion').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                        }
                    }h
                }, 'json');
            });

      $('#id_ubicacion').change(function (){
 $('#id_grupo').empty().append('<option value="">---------</option>').val(0).trigger("change");
                id = $('#id_bloque').val();
                var ubi = $('#id_ubicacion').val();
                $.post("/helpdesk_hdplanificacion", {'action': 'selectgruporeparacion', 'id': id, 'ubi': ubi}, function(data) {
                    if (data.result == 'ok') {
                        for (elemento in data.lista) {
                            $('#id_grupo').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                        }
                    }h
                }, 'json');
            });


       $("#id_bloquepdf").select2({minimumResultsForSearch: 2 });
 $("#id_ubicacionpdf").select2({minimumResultsForSearch: 2 });
 $("#id_grupopdf").select2({minimumResultsForSearch: 2 });
   $('#id_bloquepdf').change(function (){
 $('#id_ubicacionpdf').empty().append('<option value="">---------</option>').val(0).trigger("change");
                id = $(this).val();
                $.post("/helpdesk_hdplanificacion", {'action': 'selectubicacionrep', 'id': id}, function(data) {
                    if (data.result == 'ok') {
                        for (elemento in data.lista) {
                            $('#id_ubicacionpdf').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                        }
                    }h
                }, 'json');
            });

      $('#id_ubicacionpdf').change(function (){
 $('#id_grupopdf').empty().append('<option value="">---------</option>').val(0).trigger("change");
                id = $('#id_bloquepdf').val();
                var ubi = $('#id_ubicacionpdf').val();
                $.post("/helpdesk_hdplanificacion", {'action': 'selectgruporeparacion', 'id': id, 'ubi': ubi}, function(data) {
                    if (data.result == 'ok') {
                        for (elemento in data.lista) {
                            $('#id_grupopdf').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                        }
                    }h
                }, 'json');
            });


        $('#id_bloquec').change(function (){
 $('#id_ubicacionc').empty().append('<option value="">TODOS</option>').val(0).trigger("change");
                id = $(this).val();
                $.post("/helpdesk_hdplanificacion", {'action': 'selectubicacionrep', 'id': id}, function(data) {
                    if (data.result == 'ok') {
                        for (elemento in data.lista) {
                            $('#id_ubicacionc').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                        }
                    }h
                }, 'json');
            });

      $('#id_ubicacionc').change(function (){
 $('#id_grupoc').empty().append('<option value="">TODOS</option>').val(0).trigger("change");
                id = $('#id_bloquec').val();
                var ubi = $('#id_ubicacionc').val();
                $.post("/helpdesk_hdplanificacion", {'action': 'selectgruporeparacion', 'id': id, 'ubi': ubi}, function(data) {
                    if (data.result == 'ok') {
                        for (elemento in data.lista) {
                            $('#id_grupoc').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                        }
                    }h
                }, 'json');
            });

        $('#id_bloquecp').change(function (){
 $('#id_ubicacioncp').empty().append('<option value="">TODOS</option>').val(0).trigger("change");
                id = $(this).val();
                $.post("/helpdesk_hdplanificacion", {'action': 'selectubicacionrep', 'id': id}, function(data) {
                    if (data.result == 'ok') {
                        for (elemento in data.lista) {
                            $('#id_ubicacioncp').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                        }
                    }h
                }, 'json');
            });

      $('#id_ubicacioncp').change(function (){
 $('#id_grupocp').empty().append('<option value="">TODOS</option>').val(0).trigger("change");
                id = $('#id_bloquecp').val();
                var ubi = $('#id_ubicacioncp').val();
                $.post("/helpdesk_hdplanificacion", {'action': 'selectgruporeparacion', 'id': id, 'ubi': ubi}, function(data) {
                    if (data.result == 'ok') {
                        for (elemento in data.lista) {
                            $('#id_grupocp').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                        }
                    }h
                }, 'json');
            });
            busqueda = function(){
                var term = $("#searchinput").val().trim().toUpperCase();
                if (term.length > 0){

                        location.href = "/helpdesk_hdplanificacion?action=viewreparacion&s="+term;
                    }


            };

            $("#search").click(function() {
                busqueda();
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    busqueda();
                }
            });
            $("#itemspanel .btn-cerrar").click(function() {
                $("#itemspanel").modal("hide");
                return false;
            });

            $(".mostrardetalle").click(function() {
                $("#aprobarcerrar").css('display', 'none');
                var id = $(this).attr('idd');
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/helpdesk_hdusuario",
                    data: {'action': 'detalle_incidente', 'id': id},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $(".panelbody").html(data.data);
                            $("#itemspanel").modal({backdrop:'static', width: '1200px'}).modal('show');
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
            });


            $("#cerrar_excelh").click(function () {

                $('#itemspanelreportegeneral_excelh').modal('hide');
            });
            $(".generar_reporte_general_excelh").click(function () {
                $(".panelbody").html();
                $("#itemspanelreportegeneral_excelh").modal({backdrop:'static', width: '700px'}).modal('show');

            });
            $("#generar_excelh").click(function () {
                var bloque = $("#id_bloque").val();
                var ubicacion = $("#id_ubicacion").val();
                var grupo = $("#id_grupo").val();

                location.href = "/helpdesk_hdplanificacion?action=reportegeneral_reparacion&bloque="+bloque+"&ubicacion="+ubicacion+"&grupo="+grupo;
                $('#itemspanelreportegeneral_excelh').modal('hide');
            });


            $("#cerrar_excelhpdf").click(function () {

                $('#itemspanelreportegeneral_excelhpdf').modal('hide');
            });
            $(".generar_reporte_general_excelhpdf").click(function () {
                $(".panelbody").html();
                $("#itemspanelreportegeneral_excelhpdf").modal({backdrop:'static', width: '700px'}).modal('show');

            });
            $("#generar_excelhpdf").click(function () {
                 var bloque = $("#id_bloquepdf").val();
                var ubicacion = $("#id_ubicacionpdf").val();
                var grupo = $("#id_grupopdf").val();

                location.href = "/helpdesk_hdplanificacion?action=reportepdfreparacion&bloque="+bloque+"&ubicacion="+ubicacion+"&grupo="+grupo;

                $('#itemspanelreportegeneral_excelh').modal('hide');
            });


              $("#cerrar_excelc").click(function () {

                $('#itemspanelreportegeneral_excelc').modal('hide');
            });
            $(".generar_reporte_general_excelc").click(function () {
                $(".panelbody").html();
                $("#itemspanelreportegeneral_excelc").modal({backdrop:'static', width: '700px'}).modal('show');

            });
            $("#generar_excelc").click(function () {
                var bloque = $("#id_bloquec").val();
                var ubicacion = $("#id_ubicacionc").val();
                var grupo = $("#id_grupoc").val();
                var tecnico = $("#id_tecnicoc").val();

                location.href = "/helpdesk_hdplanificacion?action=reportegeneralconsolidado&bloque="+bloque+"&ubicacion="+ubicacion+"&grupo="+grupo+"&tecnico="+tecnico;
                $('#itemspanelreportegeneral_excelc').modal('hide');
            });

             $("#cerrar_excelcp").click(function () {

                $('#itemspanelreportegeneral_excelcp').modal('hide');
            });
            $(".generar_reporte_general_excelcp").click(function () {
                $(".panelbody").html();
                $("#itemspanelreportegeneral_excelcp").modal({backdrop:'static', width: '700px'}).modal('show');

            });
            $("#generar_excelcp").click(function () {
                var bloque = $("#id_bloquecp").val();
                alert(bloque);
                var ubicacion = $("#id_ubicacioncp").val();
                var grupo = $("#id_grupocp").val();
                var tecnico = $("#id_tecnicocp").val();

                location.href = "/helpdesk_hdplanificacion?action=reportepdfconsolidado&bloque="+bloque+"&ubicacion="+ubicacion+"&grupo="+grupo+"&tecnico="+tecnico;
                $('#itemspanelreportegeneral_excelcp').modal('hide');
            });

        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span4'>
            <a href="/helpdesk_hdplanificacion?action=addreparacion" class='btn btn-success bloqueo_pantalla'><span class="fa fa-plus " ></span> Adicionar</a>
            <div class="btn-group ">
                <a class="btn dropdown-toggle btn-default" data-toggle="dropdown" href="#"><i class="fa fa-file-pdf-o "></i> Reporte <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:;" class='generar_reporte_general_excelh'><i class="fa fa-file-excel-o "></i>Reporte Necesidades Mant.  en Excel</a></li>
                    <li><a href="javascript:;" class='generar_reporte_general_excelhpdf'><i class="fa fa-file-pdf-o "></i> Reporte Necesidades Mant. en Pdf</a></li>
                    <li><a href="javascript:;" class='generar_reporte_general_excelc'><i class="fa fa-file-excel-o "></i>Reporte Consolidados Mant. en Excel</a></li>
                    <li><a href="javascript:;" class='generar_reporte_general_excelcp'><i class="fa fa-file-pdf-o "></i> Reporte Consolidados Mant. en Pdf</a></li>
                </ul>
            </div>
        </div>


        <div class="span6">
            <form class="form-search">
                <input class='searchinput' type='text' id='searchinput' value='{{ search }}' autocomplete="off" style="width: 63%" />
                <a href="javascript:;" id='search' class='btn btn-info'><span class="fa fa-search "></span> Buscar</a>
                {% if search or ids %}
                    <a href="/helpdesk_hdplanificacion?action=viewreparacion" id='allresults' class='btn btn-info bloqueo_pantalla'><span class="fa fa-refresh "></span> Todos</a>
                {% endif %}
            </form>
        </div>
    </div>
    <div id="no-more-tables">
        <div class="row-fluid">
            <div class='span12'>
                <table class='table table-bordered'>
                    <thead>
                    <tr>
                        <td colspan="12"><h3>Reparación</h3>
                    </tr>
                    <tr>
                        <th style="width: 30px; text-align: center;">#</th>
                        <th style="width: 90px; text-align: center;">Grupo Sistemas/Equipo</th>
                        <th style="width: 200px; text-align: center;">Ubicación</th>

                        <th style="width: 60px">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reparacion in reparacion %}
                        <tr >

                            <td  style="text-align: center;" data-title='#'>{{ forloop.counter }}</td>
                            <td  style="text-align: center;" data-title='Grupo Sistemas/Equipo'>{{ reparacion.gruposistema.descripcion }} </td>
                            <td style="text-align: center;"  data-title='Tipo Mantenimiento' > {{ reparacion.ubicacion.bloque }} - {{ reparacion.ubicacion.ubicacion }}</td>
                            <td data-title='Acciones'  style="text-align: center;">
                                <div class="btn-group">
                                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span></a>
                                    <ul class="dropdown-menu pull-right list-group" style="text-align: left;">
                                        <li><a href='/helpdesk_hdplanificacion?action=editreparacion&id={{ reparacion.id }}' class="bloqueo_pantalla"><i class="fa fa-edit" ></i> Editar</a></li>
                                        <li><a href='/helpdesk_hdplanificacion?action=viewdetreparacion&id={{ reparacion.id }}' class="bloqueo_pantalla"><i class="fa fa-plus" ></i> Agregar Detalle Reparación</a></li>
                                        <li><a class="eliminacionmodal" href="javascript:;" nhref="/helpdesk_hdplanificacion?action=delreparacion&id={{ reparacion.id }}"><i class="fa fa-times fa-fw fa fa-remove"></i> Eliminar </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="12" style="text-align: center">NO EXISTEN REPARACIÓN REGISTRADA</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">
            {% if paging.num_pages > 20 %}
                <div class='pagination'>
                    <ul>
                        {% if paging.primera_pagina %}
                            <li><a href="/helpdesk_hdplanificacion?action=viewreparacion&page=1{% if search %}&s={{ search }}{% endif %}">1</a></li>
                            <li><a href="/helpdesk_hdplanificacion?action=viewreparacion&page={{ paging.ellipsis_izquierda }}{% if search %}&s={{ search }}{% endif %}" class="active">...</a></li>
                        {% endif %}
                        {% for pagenumber in paging.paginas %}
                            <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/helpdesk_hdplanificacion?action=viewreparacion&page={{ pagenumber }}{% if search %}&s={{ search }}{% endif %}">{{ pagenumber }}</a></li>
                        {% endfor %}
                        {% if paging.ultima_pagina %}
                            <li><a href="/helpdesk_hdplanificacion?action=viewreparacion&page={{ paging.ellipsis_derecha }}{% if estadoid %}&id_estado={{ estadoid }}{% endif %}{% if search %}&s={{ search }}{% endif %}{% if idgrupo %}&idg={{ idgrupo }}{% endif %}{% if selecttipoeq %}&tipo_equipo={{ selecttipoeq }}{% endif %}" class="active">...</a></li>
                            <li><a href="/helpdesk_hdplanificacion?action=viewreparacion&page={{ paging.num_pages }}{% if estadoid %}&id_estado={{ estadoid }}{% endif %}{% if search %}&s={{ search }}{% endif %}{% if idgrupo %}&idg={{ idgrupo }}{% endif %}{% if selecttipoeq %}&tipo_equipo={{ selecttipoeq }}{% endif %}">{{ paging.num_pages }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <div class='pagination'>
                    <ul>
                        {% for pagenumber in paging.page_range %}
                            <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/helpdesk_hdplanificacion?action=viewreparacion&page={{ pagenumber }}{% if search %}&s={{ search }}{% endif %}{% if estadoid %}&id_estado={{ estadoid }}{% endif %}{% if idgrupo %}&idg={{ idgrupo }}{% endif %}{% if selecttipoeq %}&tipo_equipo={{ selecttipoeq }}{% endif %}">{{ pagenumber }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-body panelbody">
            <div class="modal-header">
                <h3 class="paneltitle">Mostrar detalle del Incidente</h3>
            </div>
        </div>
        <div class="modal-footer">
            <table class="pull-right">
                <tr>
                    <td id="aprobarcerrar"><a href="javascript:;" class="btn btn-aprobarcerrar btn-success"> Guardar</a></td>
                    <td><a href="javascript:;" class="btn btn-cerrar btn-info">Cerrar</a></td>
                </tr>
            </table>
        </div>
    </div>
        <div class="modal fade" id="itemspanelreportegeneral_excelh" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-header">
            <h3 class="paneltitle"><span class="fa fa-file-excel-o"></span> Necesidad de  Mantenimiento en excel </h3>
        </div>
        <div class="modal-body panelbody">
            <div class="row">
                <div class='span3'>
                     <span>Bloque:    </span>
                    <select id='id_bloque' style="width: 200px">
{#                        <option value="0">TODOS</option>#}
                        {% for c in bloque %}
                            <option value='{{ c.bloque.pk }}' >{{ c.bloque.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class='span3'>
                   <span>Ubicacion: </span>
                    <select id='id_ubicacion' style="width: 200px">

                        {% for c in bloque %}
                            <option value='{{ c.ubicacion.pk }}' >{{ c.ubicacion.nombre }}</option>
                        {% endfor %}
                    </select>
                </div><br><br>
            </div>
            <div class="row">

                <div class='span3'>
                    <span>Grupo: </span>
                    <select id='id_grupo' style="width: 200px">
                        <option value="0">TODOS LOS GRUPOS</option>
                        {% for c in grupo %}
                            <option value='{{ c.id }}' >{{ c.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div><br><br>
            </div>


        </div>
        <div class="modal-footer">
            <table class="pull-right">
                <tr>
                    <td><a href="javascript:;" class="btn btn-generar btn-success" id="generar_excelh"><i class="fa fa-file-pdf-o"></i> Generar</a></td>
                    <td><a href="javascript:;" class="btn btn-cerrar btn-info" id="cerrar_excelh"><i class="fa fa-close"></i> Cerrar</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal fade" id="itemspanelreportegeneral_excelhpdf" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-header">
            <h3 class="paneltitle"><span class="fa fa-file-pdf-o"></span>Necesidad de Mantenimiento en Pdf </h3>
        </div>
        <div class="modal-body panelbody">
             <div class="row">
                <div class='span3'>
                     <span>Bloque:    </span>
                    <select id='id_bloquepdf' style="width: 200px">
{#                        <option value="0">TODOS</option>#}
                        {% for c in bloque %}
                            <option value='{{ c.bloque.pk }}' >{{ c.bloque.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class='span3'>
                   <span>Ubicacion: </span>
                    <select id='id_ubicacionpdf' style="width: 200px">

                        {% for c in bloque %}
                            <option value='{{ c.ubicacion.pk }}' >{{ c.ubicacion.nombre }}</option>
                        {% endfor %}
                    </select>
                </div><br><br>
            </div>
            <div class="row">

                <div class='span3'>
                    <span>Grupo: </span>
                    <select id='id_grupopdf' style="width: 200px">
                        <option value="0">TODOS LOS GRUPOS</option>
                        {% for c in grupo %}
                            <option value='{{ c.id }}' >{{ c.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div><br><br>
            </div>


        </div>
        <div class="modal-footer">
            <table class="pull-right">
                <tr>
                    <td><a href="javascript:;" class="btn btn-generar btn-success" id="generar_excelhpdf"><i class="fa fa-file-pdf-o"></i> Generar</a></td>
                    <td><a href="javascript:;" class="btn btn-cerrar btn-info" id="cerrar_excelhpdf"><i class="fa fa-close"></i> Cerrar</a></td>
                </tr>
            </table>
        </div>
    </div>

     <div class="modal fade" id="itemspanelreportegeneral_excelc" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-header">
            <h3 class="paneltitle"><span class="fa fa-file-excel-o"></span>Consolidado Necesidad de Mantenimiento en excel </h3>
        </div>
        <div class="modal-body panelbody">
            <div class="row">
                <div class='span3'>
                     <span>Bloque:    </span>
                    <select id='id_bloquec' style="width: 200px">
{#                        <option value="0">TODOS</option>#}
                        {% for c in bloque %}
                            <option value='{{ c.bloque.pk }}' >{{ c.bloque.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class='span3'>
                   <span>Ubicacion: </span>
                    <select id='id_ubicacionc' style="width: 200px">

                        {% for c in bloque %}
                            <option value='{{ c.ubicacion.pk }}' >{{ c.ubicacion.nombre }}</option>
                        {% endfor %}
                    </select>
                </div><br><br>
            </div>
            <div class="row">

                <div class='span3'>
                    <span>Grupo: </span>
                    <select id='id_grupoc' style="width: 200px">
                        <option value="0">TODOS LOS GRUPOS</option>
                        {% for c in grupo %}
                            <option value='{{ c.id }}' >{{ c.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            <div class='span3'>
                    <span>Técnico: </span>
                    <select id='id_tecnicoc' style="width: 200px">
                        <option value="0">TODOS LOS GRUPOS</option>
                        {% for c in grupo %}
                            <option value='{{ c.id }}' >{{ c.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>




        </div>
        <div class="modal-footer">
            <table class="pull-right">
                <tr>
                    <td><a href="javascript:;" class="btn btn-generar btn-success" id="generar_excelc"><i class="fa fa-file-pdf-o"></i> Generar</a></td>
                    <td><a href="javascript:;" class="btn btn-cerrar btn-info" id="cerrar_excelc"><i class="fa fa-close"></i> Cerrar</a></td>
                </tr>
            </table>
        </div>
    </div>
 <div class="modal fade" id="itemspanelreportegeneral_excelcp" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-header">
            <h3 class="paneltitle"><span class="fa fa-file-excel-o"></span>Consolidado Necesidad de Mantenimiento en excel </h3>
        </div>
        <div class="modal-body panelbody">
            <div class="row">
                <div class='span3'>
                     <span>Bloque:    </span>
                    <select id='id_bloquecp' style="width: 200px">
                        <option value="0">TODOS</option>
                        {% for c in bloque %}
                            <option value='{{ c.bloque.pk }}' >{{ c.bloque.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class='span3'>
                   <span>Ubicacion: </span>
                    <select id='id_ubicacioncp' style="width: 200px">
 <option value="0">TODOS</option>
                        {% for c in bloque %}
                            <option value='{{ c.ubicacion.pk }}' >{{ c.ubicacion.nombre }}</option>
                        {% endfor %}
                    </select>
                </div><br><br>
            </div>
            <div class="row">

                <div class='span3'>
                    <span>Grupo: </span>
                    <select id='id_grupocp' style="width: 200px">
                        <option value="0">TODOS LOS GRUPOS</option>
                        {% for c in grupo %}
                            <option value='{{ c.id }}' >{{ c.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            <div class='span3'>
                    <span>Técnico: </span>
                    <select id='id_tecnicocp' style="width: 200px">
                        <option value="0">TODOS LOS GRUPOS</option>
                        {% for c in grupo %}
                            <option value='{{ c.id }}' >{{ c.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>




        </div>
        <div class="modal-footer">
            <table class="pull-right">
                <tr>
                    <td><a href="javascript:;" class="btn btn-generar btn-success" id="generar_excelcp"><i class="fa fa-file-pdf-o"></i> Generar</a></td>
                    <td><a href="javascript:;" class="btn btn-cerrar btn-info" id="cerrar_excelcp"><i class="fa fa-close"></i> Cerrar</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
{% block atras %}/helpdesk_hdplanificacion{% endblock %}