{% extends "basebs.html" %}
{% load sga_extras %}
{% load humanize %}
{% block heading %}
    <script>

        $(function() {
            busqueda = function(){
                var term = $("#searchinput").val().trim().toUpperCase();
                if (term.length > 0){
                    if ((id=parseInt($('#estado_list').val()))>0)
                    {
                        location.href = "/helpdesk_hdusuario?est=" +id+"&s="+term;
                    }
                    else
                    {
                        location.href = "/helpdesk_hdusuario?s="+term;
                    }
                }
                else
                {
                    if ((id=($("#estado_list").val()))>0)
                    {
                        location.href = "/helpdesk_hdusuario?est=" + id;
                    }
                    else{
                        return false;
                    }
                }
            };

            $("#search").click(function() {
                busqueda();
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    busqueda();
                }
            });
            $("#itemspanel .btn-cerrar").click(function() {
                $("#itemspanel").modal("hide");
                return false;
            });

            $(".mostrardetalle").click(function() {
                $("#aprobarcerrar").css('display', 'none');
                var id = $(this).attr('idd');
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/helpdesk_hdusuario",
                    data: {'action': 'detalle_incidente', 'id': id},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $(".panelbody").html(data.data);
                            $("#itemspanel").modal({backdrop:'static', width: '1200px'}).modal('show');
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
            });
        });
    </script>
{% endblock %}
{% block canvas %}
    {% if faltantes > 0 %}
        <div class="alert alert-danger">
            <a  href="javascript:;" class="close" data-dismiss="alert">×</a>
            <h4 class="alert-heading">AVISO</h4>
            No puede solicitar nuevo <b>Registro de incidentes</b> porque tiene encuestas pendientes, favor realizar encuesta en Acciones ==> Realizar encuesta
        </div>
    {% endif %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span6'>
            {% if faltantes == 0 %}
                <a href="/helpdesk_hdusuario?action=addsolicitud" class='btn btn-success'><span class="fa fa-plus " ></span> Adicionar</a>
            {% endif %}
        </div>
        <div class="span6">
            <form class="form-search" onsubmit="return busqueda()">
                <input class='searchinput' type='text' id='searchinput' value='{{ search }}' autocomplete="off"/>
                <a href="javascript:;" id='search' class='btn btn-info'><span class="fa fa-search "></span> Buscar</a>
                {% if search or ids %}
                    <a href="/helpdesk_hdusuario" id='allresults' class='btn btn-info'><span class="fa fa-refresh "></span> Todos</a>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span12'>
            <table class='table table-bordered'>
                <thead>
                <tr>
                    {#                    <th style="width: 50px">ID</th>#}
                    <th style="width: 400px; text-align: left;">Asunto</th>
                    {#                    <th style="width: 100px">Nombre del solicitante</th>#}
                    <th style="width: 150px">Bloque-Ubicación</th>
                    <th style="width: 80px; text-align: center;">Fecha de creación</th>
                    <th style="width: 60px; text-align: center;">Hora de creación</th>
                    <th style="width: 60px; text-align: center;">Estado</th>
                    <th style="width: 60px; text-align: center;">Realizó Encuesta</th>
                    <th style="width: 60px; text-align: center;">Archivo</th>
                    {#                    <th style="width: 20px; text-align: center;">Archivo</th>#}
                    <th style="width: 60px; text-align: center;">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for incidente in incidentes %}
                    <tr>
                        <td>{{ incidente.asunto }}</td>
                        <td>
                            {% if incidente.departamento %}
                                {{ incidente.departamento }}
                            {% else %}
                                {{ incidente.ubicacion.bloque }} - {{ incidente.ubicacion.ubicacion }}
                            {% endif %}
                        </td>
                        <td style="text-align: center">{{ incidente.fechareporte|date:"Y-m-d" }}</td>
                        <td style="text-align: center">{{ incidente.horareporte|time:"h:i a" }}</td>
                        <td style="text-align: center;">
                            {% if incidente.esta_abierto %}
                                <a title="{{ incidente.estado  }}" class="fancybox" rel="group"><img src="{{ incidente.estado.imagen.url }}"></a>
                            {% elif  incidente.esta_pendiente  %}
                                <a title="{{ incidente.estado  }}" class="fancybox" rel="group"><img src="{{ incidente.estado.imagen.url }}"></a>
                            {% elif  incidente.esta_cerrado  %}
                                <a title="{{ incidente.estado  }}" class="fancybox" rel="group"><img src="{{ incidente.estado.imagen.url }}"></a>
                            {% elif  incidente.esta_resulto  %}
                                <a title="{{ incidente.estado  }}"  class="fancybox" rel="group"><img src="{{ incidente.estado.imagen.url }}"></a>
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if incidente.tipoincidente.id == 2 %}
                                {% if incidente.realizoencuesta %}
                                    <span class="label label-success">SI</span>
                                {% else %}
                                    <span class="label label-important">NO</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if incidente.archivo %}
                                <a href="{{ incidente.download_link }}" target="_blank" class=" btn btn-warning btn-mini fa fa-download"></a>
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span></a>
                                <ul class="dropdown-menu pull-right list-group" style="text-align: left;">
                                    {% if incidente.esta_abierto %}
                                        <li><a href='/helpdesk_hdusuario?action=editsolicitud&id={{ incidente.id }}'><i class="fa fa-edit" ></i> Editar solicitud</a></li>
                                        <li><a class="eliminacionmodal" href="javascript:;" nhref="/helpdesk_hdusuario?action=delsolicitud&id={{ incidente.id }}"><i class="fa fa-times fa-fw fa fa-remove"></i> Eliminar solicitud</a></li>
                                    {% endif %}
                                    {% if not incidente.revisionequipoexterno %}
                                        {% if not incidente.realizoencuesta %}
                                            {% if faltantes > 0 %}
                                                <li><a href='/helpdesk_hdusuario?action=realizarencuesta&idincidente={{ incidente.id|encrypt }}'><i class="fa fa-edit" ></i> Realizar encuesta</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    <li><a href="javascript:;" class="mostrardetalle tu" idd="{{ incidente.id }}"><i class="fa fa-list" ></i> Detalle de solicitud</a></li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="text-align: center" colspan="11">
                            NO EXISTEN INCIDENTES REGISTRADOS
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">
            {% if paging.num_pages > 20 %}
                <div class='pagination'>
                    <ul>
                        {% if paging.primera_pagina %}
                            <li><a href="/helpdesk_hdusuario?page=1">1</a></li>
                            <li><a href="/helpdesk_hdusuario?page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>
                        {% endif %}
                        {% for pagenumber in paging.paginas %}
                            <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/helpdesk_hdusuario?page={{ pagenumber }}">{{ pagenumber }}</a></li>
                        {% endfor %}
                        {% if paging.ultima_pagina %}
                            <li><a href="/helpdesk_hdusuario?page={{ paging.ellipsis_derecha }}" class="active">...</a></li>
                            <li><a href="/helpdesk_hdusuario?page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <div class='pagination'>
                    <ul>
                        {% for pagenumber in paging.page_range %}
                            <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/helpdesk_hdusuario?{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}">{{ pagenumber }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-body panelbody">
            <div class="modal-header">
                <h3 class="paneltitle">Mostrar detalle del Incidente</h3>
            </div>
        </div>
        <div class="modal-footer">
            <table class="pull-right">
                <tr>
                    <td id="aprobarcerrar"><a href="javascript:;" class="btn btn-aprobarcerrar btn-success"> Guardar</a></td>
                    <td><a href="javascript:;" class="btn btn-cerrar btn-info">Cerrar</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}