{% load sga_extras %}
<div class='row-fluid'>
    <h4>Total Pac Departamento: {{ total_pac }}</h4>
</div>
<table class='table table-bordered table-striped filterable' cellpadding="0" cellspacing="0" >
    <thead>
    <tr>
        <th>Caracteritica</th>
        <th style="width:100px; text-align: center">Item</th>
{#        <th style="width:100px; text-align: center">Programa</th>#}
{#        <th style="width:100px; text-align: center">Actividad</th>#}
{#        <th style="width:100px; text-align: center">Fuente</th>#}
        <th style="width:80px; text-align: center">Unidad Medida</th>
        <th style="width:60px; text-align: center">Cantidad</th>
        <th style="width:60px; text-align: center">Cantidad Ejecutada</th>
        <th style="width:60px; text-align: center">Cantidad Saldo</th>
        <th style="width:80px; text-align: center">Costo Unitario</th>
        <th style="width:80px; text-align: center">Total</th>
        <th style="width:90px; text-align: center">Valor Reforma</th>
        <th style="width:80px; text-align: center">Valor Ejecutado</th>
        <th style="width:80px; text-align: center">Saldo</th>
        <th style="width:100px; text-align: center">Fecha Ejecución</th>
        <th style="width:50px; text-align: center">Tipo</th>
        <th style="width:70px;"></th>
    </tr>
    </thead>
    <tbody >
    {% for topeperiodopac in pac %}
        <tr>
            <td>{{ topeperiodopac.caracteristicas.descripcion }}</td>
            <td style="text-align: center">{{ topeperiodopac.item }}</td>
{#            <td style="text-align: center">{{ topeperiodopac.programa }}</td>#}
{#            <td style="text-align: center">{{ topeperiodopac.actividad }}</td>#}
{#            <td style="text-align: center">{{ topeperiodopac.fuente }}</td>#}
            <td style="text-align: center">{{ topeperiodopac.unidadmedida }}</td>
            <td style="text-align: center">{{ topeperiodopac.cantidad }}</td>
            <td style="text-align: center">{{ topeperiodopac.cantidadejecutada }}</td>
            <td style="text-align: center">{{ topeperiodopac.cantidadsaldo }}</td>
            <td style="text-align: center">{{ topeperiodopac.costounitario }}</td>
            <td style="text-align: center">{{ topeperiodopac.total }}</td>
            <td style="text-align: center">
                {% include "pac_pacrevision/reforma.html" %}
            </td>
            <td style="text-align: center">{{ topeperiodopac.valorejecutado }}</td>
            <td style="text-align: center">{{ topeperiodopac.saldo }}</td>
            <td style="text-align: center">{{ topeperiodopac.fechaejecucion|date:'d-m-Y' }}</td>
            <td style="text-align: center">{{ topeperiodopac.get_tipo_display }}</td>
            <td>
                {% if aprobado %}
                    <div class="btn-group">
                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right list-group">
                            <li><a href="/pac_pacejecucion?action=ejecucion&id={{ topeperiodopac.id }}"><i class="fa fa-arrow-up"></i> Ejecución </a> </li>
                            <li><a href="/pac_pacejecucion?action=verejecucion&id={{ topeperiodopac.id }}"><i class="fa fa-list"></i> Ver Ejecución</a></li>
                        </ul>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="15">NO EXISTEN DATOS</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
