{% extends "base.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src='/static/js/select2.js?v=1.0.0'></script>
    <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
    <script src="/static/adicionalesjs/formquestionb4.js?0.24"></script>
    <link rel="stylesheet" href="/static/cabonads.css?0.3.3">
    <style>
        .offline {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        .iconofile {
            margin-left: -3%;
        }

        @media screen and (min-width: 720px) {
            .iconofile {
                margin-left: -2%;
            }
        }

        .row{
            margin-left: calc(var(--bs-gutter-x) * -.5)!important;
        }
    </style>
    <script>

        $(function () {
            MenuFijo();
            $("select:not(.swal2-select)").select2({width: '100%'});
        })

        function formModal(id, text, action, footer = true, ext) {
            bloqueointerface()
            $('#footermodal').show();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                    'ext':ext,
                },
                success: function (data) {
                    $.unblockUI();
                    if (data.result === true) {
                        if (footer === true) {
                            $('#footermodal').hide();
                        }
                        $('.panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text.toUpperCase());
                        $("#itemspanel").modal({backdrop: 'static', width: '900px'}).modal('show');
                    } else {
                        mensajeDanger(data.message);
                    }
                },
                error: function () {
                    $.unblockUI();
                    mensajeDanger("Error de conexión.");
                },
                dataType: "json"
            });
        }
    </script>
    {% block extraheading %}
    {% endblock %}
{% endblock %}

{% block canvas %}

    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><b class="paneltitle">FORMULARIO MODAL</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" style="padding: 1.5%;">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post" enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="row panelbody">
                        </div>
                    </form>
                </div>
                <div class="modal-footer" id="footermodal">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3 class="texto-blue">Gestión Documental</h3>
                <h6>Espacio de {{ persona.nombre_minus }}</h6>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav caja-menu">
                    <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                            data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false">
                        <span class="fa fa-list"></span>
                    </button>
                    <div class="navbar-collapse" id="sidenav" style="margin-top: 4px;">
                        <div class="navbar-nav flex-column">
                            <ul class="list-unstyled ms-n2 mb-4">
                                <li class="nav-item {% if request.session.viewactivo == 1 %}active{% endif %}">
                                    <a class="nav-link" href="{{ request.path }}">
                                        <i class="fa fa-hdd nav-icon"></i> Mi unidad</a>
                                </li>
                                <li class="nav-item {% if request.session.viewactivo == 2 %}active{% endif %}">
                                    <a class="nav-link" href="{{ request.path }}?action=soliprocesos"><i class="fa fa-folder nav-icon"></i> Solicitudes de procesos</a>
                                </li>
                                <li class="nav-item {% if request.session.viewactivo == 3 %}active{% endif %}">
                                    <a class="nav-link" href="{{ request.path }}?action=compartidas"><i class="fa fa-users nav-icon"></i> Compartidas conmigo</a>
                                </li>
                                <li class="nav-item {% if request.session.viewactivo == 7 %}active{% endif %}">
                                    <a class="nav-link" href="{{ request.path }}?action=validarasignacion"><i class="fa fa-check-double nav-icon"></i> Validar asignación
                                        {% if valpendiente > 0 %}<label class="label label-warning"><i class="fa fa-bell blinkimg"></i> {{ valpendiente }}</label>{% endif %}
                                    </a>
                                </li>
                                <li class="nav-item {% if request.session.viewactivo == 4 %}active{% endif %}">
                                    <a class="nav-link" href="{{ request.path }}?action=buzondocumental"><i class="fa fa-clone nav-icon"></i> Buzón de documentos
                                        {% if buzonpendiente > 0 %}<label class="label label-warning"><i class="fa fa-bell blinkimg"></i> {{ buzonpendiente }}</label>{% endif %}
                                    </a>
                                </li>
                                <li class="nav-item {% if request.session.viewactivo == 5 %}active{% endif %}">
                                    <a class="nav-link" href="{{ request.path }}?action=papelera"><i class="fa fa-trash nav-icon"></i> Papelera</a>
                                </li>
                                <li class="nav-item {% if request.session.viewactivo == 6 %}active{% endif %}">
                                    <a class="nav-link" href="{{ request.path }}?action=log"><i class="fa fa-history nav-icon"></i> Mi actividad</a>
                                </li>
                            </ul>
                            <span class="navbar-header"><i class="fa fa-cloud"></i> Almacenamiento</span>
                            <ul class="list-unstyled ms-n2 mb-0">
                                {% for l in listdepartamentos %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0)">
                                            <i class="fa fa-building-o nav-icon"></i> {{ l.departamento.nombre|lower|capfirst }}
                                            <div class="d-flex align-items-center">
                                                <div class="progress flex-auto" style="height: 6px;">
                                                    <div class="progress-bar bg-primary"
                                                         role="progressbar" style="width: {{ l.porcentajeocupado }}%;"
                                                         aria-valuenow="{{ l.porcentajeocupado }}" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                                <div class="ms-2"><span>{{ l.porcentajeocupado }}%</span></div>
                                            </div>
                                            {{ l.storageocupadogb }} GB Ocupados de {{ l.storagesizegb }} GB
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}