{% extends "adm_areaspolideportivo/baseareaspoli.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function () {
        });
    </script>
{% endblock %}
{% block atras %}/{% endblock %}
{% block content %}

    <div class="card mb-2 mt-1">
        <div class="card-header">
            <h4 class="mb-0"><b><i class="fa fa-key"></i> {{ title }}</b></h4>
        </div>
    </div>

    <div class='row'>
        <div class="col-sm-6">
              <a href="javascript:void(0)"
               onclick="formModal('0','ADICIONAR CLUB','addclub')"
               class="btn btn-success">
                <i class="fa fa-plus"></i> Adicionar
            </a>
        </div>
        <div class="col-sm-6">
            <form method="GET">
                <div class="input-group">
                    <input type="hidden" name="action" value="{{ action }}">
                    <input class='searchinput form-control' type='text' id='searchinput' value='{{ search }}' autocomplete="off" name="s"
                       placeholder="Nombre de club..."/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                class="fa fa-search"></i></button>
                        {% if search %}
                            <a href="{{ request.path }}?action={{ action }}" id='allresults' class='btn btn-default'><span
                                    class="fa fa-refresh "></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class='card-body border-top border-6 rounded-3 border-dark-info'>
            <table class='table table-bordered table-striped'>
                <thead>
                <tr>
                    <th class="text-center">N°</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Responsable</th>
                    <th class="text-center">Disciplina</th>
                    <th class="text-center">Fechas</th>
                    <th class="text-center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for list in listado %}
                    <tr>
                        <td class="text-center">
                            {{ forloop.counter }}
                        </td>
                        <td class="text-center">
                            {{ list.nombre }}
                        </td>

                        <td class="text-center">
                            {{ list.responsable }}
                        </td>
                        <td class="text-center">
                            {{ list.disciplina }}
                        </td>
                        <td>
                            <div class="p-4 py-0">
                                 <p>
                                    <i class="fa fa-calendar"></i> F.Inicio: {{ list.finicio|date:"Y-m-d" }}
                                </p>
                                <p>
                                    <i class="fa fa-calendar"></i> F.Fin: {{ list.ffin|date:"Y-m-d" }}
                                </p>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="dropbottom">
                                 <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Acciones <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" x-placement="right-start">
                                    <li class="dropdown-item">
                                        <a href="{{ request.path}}?action=integrantes&id={{ list.id|encrypt }}"><span
                                                class="fa fa-users"></span> Integrantes</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="javascript:void(0)"
                                           onclick="formModal('{{ list.id|encrypt }}','Editar {{ list }}','editclub')"><span
                                                class="fa fa-edit"></span> Editar</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="javascript:;" title="Eliminar"
                                           onclick="eliminarajax('{{ list.id|encrypt }}', '{{ list }}', 'delclub')">
                                            <span class="fa fa-trash"></span> Eliminar
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="15" class="text-center">NO EXISTEN REGISTROS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'paginacionb4.html' %}
        </div>
    </div>



{% endblock %}