{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            $("#id_fechaaprobacion, #id_fechaconsejo").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });

            $("#id_calificacion").blur(function(){
                numerico($(this), 0, 100, 2);
            });

            $("#id_estado").find("option:first").remove();
        });
    </script>
{% endblock %}
{% block atras %}/adm_anteproyectos{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_anteproyectos{% endblock %}
{% block formwidth %}form-m{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='calificar'/>
    <input type='hidden' name='id' value='{{ proyecto.id }}'/>
{% endblock %}
{% block formdestination %}/adm_anteproyectos{% endblock %}
{% block formback %}/adm_anteproyectos{% endblock %}