{% extends "basebs.html" %}
{% load humanize %}
{% block heading %}
    <script>
        $(function() {

            $("#search").click(function() {
                bloqueointerface();
                var term = $("#searchinput").val().toUpperCase();
                var depa = $("#departamento").val();
                var peri = $("#periodo").val();
                location.href = "/poa_objoperativos?s="+term+"&depaid="+depa+"&periodoid="+peri;
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });

            $("#departamento, #periodo").change(function() {
                $("#search").trigger("click");
            });


        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span1'>
            <a href="/poa_objoperativos?action=add" class='btn btn-success'><span class="fa fa-plus " ></span> Adicionar</a>
        </div>
        <div class="span3">
            <select id='periodo' class="imp-100">
                {% for p in periodos %}
                    <option value="{{ p.id }}" {% if periodoid == p.id %}selected="selected"{% endif %}>{{ p.anio }}-{{ p.descripcion }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="span4">
            <select id='departamento' class="imp-100">
                <option value="0" {% if depaid == 0 %}selected="selected"{% endif %}>Todos los departamentos</option>
                {% for departameto in departametos %}
                    <option value="{{ departameto.id }}" {% if depaid == departameto.id %}selected="selected"{% endif %}>{{ departameto.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="span4">
            <form class="form-search" onsubmit="return busqueda()">
                <input class='searchinput' type='text' id='searchinput' value='{{ search }}' autocomplete="off"/>
                <a href="javascript:;" id='search' class='btn btn-info'><span class="fa fa-search "></span> Buscar</a>
                {% if search or ids %}
                    <a href="/poa_objoperativos" id='allresults' class='btn btn-info'><span class="fa fa-refresh "></span> Todos</a>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span12'>
            <table class='table table-bordered' cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th style="width: 50px; text-align: center">Orden</th>
                    <th style="width: 400px;">Periodo/Departamento/Programa</th>
                    <th style="width: 400px;">Objetivo T&aacute;ctico</th>
                    <th>Descripci&oacute;n</th>
                    <th style="width: 80px"></th>
                </tr>
                </thead>
                <tbody>
                {% for o in objetivos %}
                    <tr>
                        <td style="text-align: center">{{ o.orden }}</td>
                        <td>
                            <b>{{ o.objetivotactico.objetivoestrategico.periodopoa }}</b><br><b>{{ o.objetivotactico.objetivoestrategico.departamento }}</b>
                            <br>{{ o.objetivotactico.objetivoestrategico.programa }}<br>{{ o.objetivotactico.objetivoestrategico.carrera|default_if_none:"" }}</td>
                        <td>{{ o.objetivotactico.descripcion }}</td>
                        <td>{{ o.descripcion }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    Acciones
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-right list-group">
                                    <li><a href="/poa_objoperativos?action=edit&id={{ o.id }}"><i class="fa fa-edit"></i> Editar </a> </li>
                                    {% if not o.en_uso %}
                                        <li><a class="eliminacionmodal" href="javascript:;" nhref="/poa_objoperativos?action=delete&id={{ o.id }}"><i class="fa fa-remove"></i> Eliminar</a> </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10">
                            NO EXISTEN OBJETIVOS TACTICOS REGISTRADOS EN LA ENTIDAD
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class='row-fluid'>
        {% if paging.num_pages > 20 %}
            <div class='pagination'>
                <ul>
                    {% if paging.primera_pagina %}
                        <li><a href="/poa_objoperativos?page=1">1</a></li>
                        <li><a href="/poa_objoperativos?page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>
                    {% endif %}
                    {% for pagenumber in paging.paginas %}
                        <li {% if pagenumber == page.number %}class='active'{% endif %}><a href="/poa_objoperativos?page={{ pagenumber }}{% if tipoid %}&t={{ tipoid }}{% endif%}">{{ pagenumber }}</a></li>
                    {% endfor %}
                    {% if paging.ultima_pagina %}
                        <li><a href="/poa_objoperativos?page={{ paging.ellipsis_derecha }}" class="active">...</a></li>
                        <li><a href="/poa_objoperativos?page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class='pagination'>
                <ul>
                    {% for pagenumber in paging.page_range %}
                        <li {% if pagenumber == page.number %}class='active'{% endif %}><a href="/poa_objoperativos?{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}{% if tipoid %}&t={{ tipoid }}{% endif %}">{{ pagenumber }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}

