{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script>
        $(function(){
            $("#id_archivo").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block atras %}/th_accionpersonal{% endblock %}
{% block titulo %}{{ title }}<br>
{{ accionpersonal.numero }}-{{ accionpersonal.abreviatura }}-{{ accionpersonal.anio }} {{ accionpersonal.persona }}{% endblock %}
{% block formaction %}/th_accionpersonal{% endblock %}
{% block formdestination %}/th_accionpersonal{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='subiraccionpersonal'/>
    <input type='hidden' name='id' value='{{ accionpersonal.id }}'/>
{% endblock %}
{% block formback %}/th_accionpersonal{% endblock %}
{% block buttonname %}Guardar{% endblock %}