{% extends "base.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v=1.0.0"></script>
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css?v=1.0.0" type="text/css" media="screen"/>
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <style>
        table.table thead th, table.table thead td {
            padding: 4px;
            vertical-align: middle;
            font-weight: 700;
            background-color: #f5f4f8;
                    {##f5f4f8 !important;#}
        }

        table.table tbody th, table.table tbody td {
            padding-left: 5px;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            vertical-align: middle;
        }

        .dataTables_wrapper .dataTables_filter {
            display: none;
        }

    </style>
    <script type="text/javascript">
        $(function (e) {

            const table_paralelos = $('.table_paralelos').DataTable({
                responsive: true,
                ordering: false,
                paging: true,
                searching: true,
                bInfo: false,
                dom: 'Bfrtip',
                language: {
                    "url": '/static/js/i18n/Spanish.json'
                },
                buttons: [],
                columnDefs: [
                    {targets: 0, width: '3%'},
                    {targets: 1, width: '30%'},
                    {targets: 2, width: '20%'},
                    {targets: 3, width: '10%'},
                    {targets: 4, width: '10%'},
                    {targets: 5, width: '10%', class:'text-center'},
                    {targets: 6, width: '10%', class:'text-center'},
                    {targets: 7, width: '7%', class:'text-left'},
                ]
            });

            table_paralelos.buttons().container().appendTo('.table_paralelos .col-md-6:eq(0)');

            $('.table_paralelos tbody').on('click', 'tr', function () {
                var data = table_paralelos.row(this).data();
            });

            $("#search_paralelos").keyup(function () {
                table_paralelos.search($(this).val().trim()).draw();
            });

        });

        function formModal(id, text, action, footer = false) {
            bloqueointerface();
            footer && $('#footermodal').show();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    $.unblockUI();
                    if (data.result === true) {
                        $('#itemspanel .panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text.toUpperCase());
                        $("#itemspanel").modal({
                            backdrop: 'static',
                            width: '100%'
                        }).modal('show').on('hidden.bs.modal', function (e) {
                            $(".panelbody").empty();
                        });
                    } else {
                        mensajeDanger(data.message);
                    }
                },
                error: function () {
                    $.unblockUI();
                    mensajeDanger("Error de conexión.");
                },
                dataType: "json"
            });
        }
    </script>

{% endblock %}
{% block atras %}/adm_postulacion?action=actaseleccion&id={{ acta.pk }}&pk_cv={{ pk_cv }}{% endblock %}
{% block canvas %}


    {#    <input id="id_archivo" name="archivo" type="file">#}
    {#    <button id="id_botonguardar">Guardar</button>#}
    {#    <iframe id="id_frame" src="#" align="center" height="420px" width="99%"></iframe>#}
    <div class="container">
        <div class='row'>
            <div class='col-sm-12'>
                <div class="headtitle ms-0">
                    <h3 class="texto-blue">{{ title }} </h3>
                    <h6>Administración</h6>
                </div>
            </div>
        </div>
        {% if not puede_adicionar_paralelo %}
            <div class="row">
                <div class="col-12">
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </symbol>
                        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </symbol>
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </symbol>
                    </svg>
{#                    <div class="alert alert-warning alert-dismissible fade show" role="alert">#}
{#                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">#}
{#                            <use xlink:href="#info-fill"/>#}
{#                        </svg>#}
{#                        <strong>¡Aviso importante!</strong> Se ha ocultado el botón de adicionar debido a que se completó el total de paralelos a registrar.#}
{#                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#                    </div>#}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <a onclick="formModal('{{ acta.id }}', 'AGREGAR PARALELO', 'addparalelo')" href="javascript:;" class='btn btn-success bloqueo_pantalla'>
                    <i class="fa fa-plus" style="font-size: 10px;"></i> Adicionar</a>
                <a class="btn btn-default bloqueo_pantalla" href="?action=tipo&id={{ acta.id }}">
                    <i class="bi bi-person-fill-gear fs-5"></i> Tipos de personal
                </a>
            </div>
        </div>
        <br>
        <input style="font-family:Arial, FontAwesome;" type="text" id="search_paralelos"
               class="form-control my-1" placeholder=" Buscar por nombre del módulo o paralelo..." aria-label="Buscar"
               aria-describedby="button-addon2" name="s" value="{{ s }}">
        <div class='row'>
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body border-top border-3 rounded-3 border-dark-info pb-0">
                        <table class='table table-borderless table_paralelos'>
                            <thead>
                            <tr>
                                <td style="text-align: center"></td>
                                <td>MÓDULO</td>
                                <td class="text-center">APROBADOS</td>
                                <td>INICIO</td>
                                <td>FÍN</td>
                                <td>HORARIO</td>
                                <td>PERSONAL</td>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for paralelo in paralelos %}
                                <tr class="fw-lighter">
                                    <td class="text-center"> <span style="cursor: pointer;" class="tu" title="Cod: {{ paralelo.convocatoria_id }}">{{ forloop.counter }}</span></td>
                                    <td>{{ paralelo.convocatoria.asignaturamalla.asignatura }} - {{ paralelo.paralelo }}</td>
                                    <td style="vertical-align: middle;text-align: center;padding-right:10px">
                                        {% with personal=paralelo.get_personal %}
                                            <div class="avatar-group">
                                                {% for persona in personal %}
                                                    <span class="avatar avatar-md" title="{{ persona.inscripcion|lower|title }}">
                                                      <img style="width: 40px;" alt="avatar" src="{{ persona.inscripcion.postulante.persona.get_foto }}" class="rounded-circle imgtooltip" data-template="one">
                                                      <span id="one" class="d-none">
                                                        <span class="mb-0 h6">{{ persona.inscripcion|lower|title }}</span>
                                                      </span>
                                                    </span>
                                                {% endfor %}
                                                <span class="avatar avatar-md">
                                                  <span class="avatar-initials rounded-circle bg-light text-dark">{{ personal|length }}+</span>
                                                </span>
                                            </div>
                                        {% endwith %}
                                    </td>
                                    <td>{{ paralelo.inicio|date:"d/m/Y" }}</td>
                                    <td>{{ paralelo.fin|date:"d/m/Y" }}</td>
                                    <td>
                                        {% if paralelo.get_horario %}
                                            <a title="Duplicar horario" onclick="formModal('{{ paralelo.id }}', 'DUPLICAR HORARIO', 'obtener_horario')" href="javascript:;" class=" icon-sahpe icon-md bg-light-success rounded-circle text-center text-dark-success fs-6"> <i class=" btn btn-default fa fa-check-circle"></i></a>
                                            {% else %}
                                            <span class="icon-sahpe icon-md bg-light-danger rounded-circle text-center text-dark-danger fs-6"> <i class="fa fa-times-circle"> </i></span>
                                        {% endif %}
                                        <br><small>Horas : <b>{{ paralelo.get_total_horas_horario_docente }}.0</b> / {{ paralelo.convocatoria.get_horas_componente_docente }}</small>
                                    </td>
                                    <td>
                                        {% if paralelo.get_personal %}
                                            <span class="icon-sahpe icon-md bg-light-success rounded-circle text-center text-dark-success fs-6"> <i class="fa fa-check-circle"></i></span>
                                            {% else %}
                                            <span class="icon-sahpe icon-md bg-light-danger rounded-circle text-center text-dark-danger fs-6"> <i class="fa fa-times-circle"> </i></span>
                                        {% endif %}
                                    </td>
                                    <td style="padding: 0;text-align: center">
                                        <div class="dropdown">
                                            <a href="javascript:void(0);" class="btn-icon btn btn-ghost btn-sm rounded-circle" data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v fs-6"></i>
                                            </a>
                                            <div class="dropdown-menu fs-6">
                                                <a class="dropdown-item" onclick="formModal('{{ paralelo.pk }}', '{{ paralelo.paralelo }}', 'editparalelo')" title="Editar" href="javascript:;">
                                                    <i class="fa fa-edit dropdown-icon"></i> &nbsp; Editar
                                                </a>
                                                <a class="dropdown-item {% if paralelo.en_uso %}disabled{% endif %}" href="javascript:void(0);" onclick="eliminarajax('{{ paralelo.pk|encrypt }}','{{ paralelo.paralelo }}','delparalelo')">
                                                    <span class="fa fa-minus"></span> &nbsp; Eliminar
                                                </a>
{#                                                <a class="dropdown-item" onclick="formModal('{{ paralelo.pk }}', 'ADICIONAR HORARIO', 'addhorario')" href="javascript:void(0);">#}
{#                                                    <i class="bi bi-calendar-week"></i> &nbsp; Gestionar horarios#}
{#                                                </a>#}
                                                <a class="dropdown-item" href="?action=horarios&id={{ paralelo.pk }}&pk_cv={{ paralelo.convocatoria.pk }}">
                                                    <i class="bi bi-calendar-week"></i> &nbsp; Gestionar horarios
                                                </a>
                                                    <a class="dropdown-item" href="?action=personal&id={{ paralelo.pk }}&pk_cv={{ paralelo.convocatoria.pk }}">
                                                    <i class="bi bi-sliders"></i> &nbsp; Gestionar personal
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-top-0">
                        {% include 'paginacionb4.html' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade static" id="itemspanel" style="display: none;">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4><i class="fa fa-list"></i> <b class="paneltitle">FORMULARIO MODAL</b></h4>
                        <button type="button" class="close btn-icon btn btn-ghost btn-sm rounded-circle"
                                data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-modal" autocomplete="off" method="post"
                              enctype="multipart/form-data" action="{{ request.path }}">
                            {% csrf_token %}
                            <div class="row panelbody"></div>
                        </form>
                    </div>
                    <div class="modal-footer" id="footermodal" style="display:none;">
                        <div style="float: right">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                    class="fa fa-window-close"></i> Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade static" id="itemspanel2" style="display: none;">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4><i class="fa fa-list"></i> <b class="paneltitle2">FORMULARIO MODAL</b></h4>
                        <button type="button" class="close btn-icon btn btn-ghost btn-sm rounded-circle"
                                data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-modal" autocomplete="off" method="post" enctype="multipart/form-data" action="{{ request.path }}">
                            {% csrf_token %}
                            <div class="row panelbody2"></div>
                        </form>
                    </div>
                    <div class="modal-footer" id="footermodal" style="display:none;">
                        <div style="float: right">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                    class="fa fa-window-close"></i> Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}