
<script>
     function vistaprevia_informe_tribunal(id) {
            openwindow('POST', '/pro_tutoriaposgrado', {
                action: 'informe_tribunal_pdf',
                id: id
            }, '_blank');
        }
</script>
<!-- List group -->
<table class="table  table-bordered mt-2">
    <thead class="table-light">
    <th>Revisión:</th>
    <th style="width: 60px;">Informe</th>
    <th style="width: 350px;">Dictamen</th>


    </thead>
    <tbody>

    {% for revision in revisiones %}
        <tr>
            <td>

                <p>
                    {% if forloop.counter == 1 %}
                        Primera revisión del trabajo de titulación
                    {% endif %}

                    {% if forloop.counter == 2 %}
                        Segunda revisión del trabajo de titulación
                    {% endif %}

                    {% if forloop.counter == 3 %}
                        Tercera revisión del trabajo de titulación
                    {% endif %}


                </p>

            </td>
            <td class="text-center">
                <a onclick="vistaprevia_informe_tribunal({{ revision.id }})"
                   class="btn btn-info btn-sm " href="#"> <i class="fa fa-file-pdf-o  "></i></a>

            </td>

            <td>
                {{ revision.get_estado_display | lower|capfirst }}

            </td>


        </tr>
    {% empty %}
        <td colspan="3">No existen revisiones</td>
    {% endfor %}




    </tbody>
</table>
