{% load sga_extras %}
{% load tz %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?python import sitetemplate ?>
<html lang="es">
<head>
    <meta charset=UTF-8">
    <style type="text/css">
        @page {
            @frame header_frame {
            left: 3cm;
            right: 3cm;
            top: 3cm;
            height: 4cm;
         }
        @frame {
        -pdf-frame-content:company_logo;
        {#    /*-pdf-frame-border: 1;*/#}
        left: 1cm;
         }
        @frame content_frame {
        left: 3cm; right: 3cm; top: 8cm; bottom: 3cm;
         }

        }
    </style>

</head>
<body>
<div id="company_logo">
        <img src="https://sga.unemi.edu.ec/media/reportes/encabezados_pies/hoja_membretada.png" class="top_image" />
    </div>
<div id="header_content">
    </div>
    <div>
        <h1 style="text-align: right;">Milagro, {{ data.fechaactual|date:"d" }} de {{ data.fechaactual|nombremes }}
            de {{ data.fechaactual.year }}</h1>
    </div>
    <div style="font-size: 14px">

                    <p>Señor Doctor<br>Fabricio Guevara Viejo. MBA.<br> <b>RECTOR - UNEMI</b></p>

                <div style="text-align: justify;">
                    <p>De mi consideración,</p>
                    <p>Yo, {{ data.persona.nombre_completo_minus }} con C.I: {{ data.persona.identificacion }}, servidor de
                    la institución con la denominación de {% if data.persona.mi_cargo_administrativo %}{{ data.persona.mi_cargo_administrativo }}{% else %}{{ data.persona.mi_cargo }}{% endif %}; de acuerdo a lo estipulado en el Tercer
                    Suplemento del Registro Oficial N°. 483 del 20 de abril del 2015 mediante el cual fue publicada la
                    Ley Orgánica para la Justicia Laboral y Reconocimiento del Trabajo en el Hogar, cumplo con
                    manifestar mi deseo de percibir los rubros correspondientes a la décima tercera y décima cuarta
                        remuneración de manera {% if data.decimo.seleccion == 1 %}acumulada{% else %}mensualizada{% endif %}.</p>
                    <p>Agradezco la atención otorgada al presente.</p>
                <p>Atentamente,</p><br>
                </div>


                <p style="text-align: center;">{{ data.persona.nombre_completo_minus }} <br>
                    {{ data.persona.identificacion }}
                </p>


    </div>
</body>
</html>




