{% extends "base.html" %}
{% load humanize %}
{% load sga_extras %}
{% block heading %}
    <link rel="stylesheet" href="/static/css/bloques.css">
    <script type="text/javascript" src='/static/js/jquery.validationEngine.js?v=1.0.0'></script>
    <script type="text/javascript" src='/static/js/jquery.validationEngine-es.js?v=1.0.0' ></script>
    <link type='text/css' rel='stylesheet' href="/static/css/validationEngine.jquery.css?v=1.0.0"/>
    <script type="text/javascript">
        $(function() {

            $("#search").click(function() {
                busqueda();
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });

            busqueda = function () {
                var term = $("#searchinput").val().toUpperCase().trim();

                if (term.length > 0){
                    location.href = "/adm_obrarelevancia?action=postulaciones&idc={{ convocatoria.id|encrypt }}&s="+$("#searchinput").val().toUpperCase();
                }
            };

            $(".mostrarrecorrido").click(function() {
                var id = $(this).attr('idc');
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/adm_obrarelevancia",
                    data: {'action': 'mostrarrecorrido', 'id': id},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $(".paneltitlerecorrido").html(data.title);
                            $(".panelbodyrecorrido").html(data.data);
                            $("#itemspanelrecorrido").modal({backdrop:'static'}).modal('show');
                        } else {
                            mensajeErrorSwal("No se puede consultar", data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        mensajeErrorSwal("No se puede consultar", "Error al enviar los datos")
                    },
                    dataType: "json"
                });
            });

            $(".mostrarinformacion").click(function() {
                var id = $(this).attr('idc');
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/adm_obrarelevancia",
                    data: {'action': 'mostrarinformacion', 'id': id},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $(".paneltitleinformacion").html(data.title);
                            $(".panelbodyinformacion").html(data.data);
                            $("#itemspanelinformacion").modal({backdrop:'static'}).modal('show');
                        } else {
                            mensajeErrorSwal("No se puede consultar", data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        mensajeErrorSwal("No se puede consultar", "Error al enviar los datos")
                    },
                    dataType: "json"
                });
            });

            $(".habilitaredicion").click(function() {
                var id = $(this).attr('id');
                var titulo = $(this).attr('titulo');
                var url = "/adm_obrarelevancia";
                var action = "habilitaredicion";
                var urlDestino = "/adm_obrarelevancia?action=postulaciones&idc={{ convocatoria.id|encrypt }}";

                mensajeConfirmSwal("Confirmar habilitar la Edición para la Postulación a Obra de Relevancia", "¿Está seguro de habilitar la edición para la postulación a la obra de relevancia con título: "+titulo+"?", true, url, action, id, urlDestino);
            });

            $(".reportegeneral").click(function() {
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/adm_obrarelevancia",
                    data: {"action": "reportegeneral", "idc": "{{ convocatoria.id|encrypt }}"},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result=='ok'){
                            location.href = data.archivo;
                        } else {
                            $.unblockUI();
                            if(data.swalType == 'warning')
                                mensajeWarningSwal(data.titulo, data.mensaje);
                            else
                                mensajeErrorSwal(data.titulo, data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        mensajeErrorSwal("No se puede consultar", "Error al enviar los datos");
                    },
                    dataType: "json"
                });
            });

        });
    </script>
{% endblock %}
{% block atras %}/adm_obrarelevancia{% endblock %}
{% block canvas %}
    {# TITULO PANTALLA #}
    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3 class="texto-blue">{{ title }}</h3>
                <h6>Convocatoria {{ convocatoria.descripcion }}</h6>
            </div>
        </div>
    </div>
    {# TITULO PANTALLA #}
    <div class="container-fluid">
        {# FILA DE FILTRO #}
        <div class='row'>
            {# COLUMNA REPORTE #}
            <div class="col-sm-8 pb-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reportes <i class="fa fa-angle-down"></i></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item reportegeneral" href="javascript:;"><i class="fa fa-file-excel"></i>&nbsp;Postulaciones Obras Relevancia</a>
                    </div>
                </div>
            </div>
            {# COLUMNA REPORTE #}
            {# COLUMNA FILTRO #}
            <div class="col-sm-4 pb-2">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" autocomplete="off" placeholder="Apellidos del profesor" aria-label="Buscar" id='searchinput' name="s" value="{{ s }}">
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="search" type="button"><i class="fa fa-search"></i></button>
                        {% if url_vars %}
                            {% if s %}
                                <a title="Ver todo" href="{{ request.path }}?action=postulaciones&idc={{ convocatoria.id|encrypt }}" class="btn btn-default tr"><i class="fas fa-sync-alt"></i></a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {# COLUMNA FILTRO #}
        </div>
        {# FILA DE FILTRO #}
        {# TABLA DE DATOS #}
        <div class="card mb-4">
            <div class="card-body border-top border-6 rounded-3 border-dark-info">
                <div class="table-responsive-xxl">
                    <table class='table table-bordered table-striped'>
                        <thead class="table-light cabecera-fija">
                            <tr>
                                <th style="width: 7%; font-weight: bold; text-align: center">Fecha/Núm</th>
                                <th style="width: 7%; font-weight: bold; text-align: center">Tipo Obra</th>
                                <th style="width: 26%; font-weight: bold; text-align: center">Profesor / Título Libro / Área Conocimiento</th>
                                <th style="width: 26%; font-weight: bold; text-align: center">Título Capítulo de Libro</th>
                                <th style="width: 5%; font-weight: bold; text-align: center">Año Pub.</th>
                                <th style="width: 10%; font-weight: bold; text-align: center">Editorial</th>
                                <th style="width: 9%; font-weight: bold; text-align: center">Evidencias</th>
                                <th style="width: 5%; font-weight: bold; text-align: center">Estado</th>
                                <th style="width: 5%; font-weight: bold; text-align: center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for postulacion in postulaciones %}
                            <tr>
                                <td style="text-align: center">
                                    {{ postulacion.fecha_creacion|date:"d-m-Y" }}<br>
                                    <span class="label label-warning tu" title="Número de solicitud">{{ postulacion.id|stringformat:"06d" }}</span>
                                </td>
                                <td style="text-align: center">
                                    <span class="label label-success">{{ postulacion.get_tipo_display }}</span>
                                </td>
                                <td style="text-align: justify">
                                    <b>{{ postulacion.profesor.persona.nombre_completo_inverso }}</b><br>
                                    {{ postulacion.titulolibro }}
                                    <br>
                                    <span class="label label-info">{{ postulacion.areaconocimiento.nombre }}</span>
                                </td>
                                <td style="text-align: justify">
                                    {{ postulacion.titulocapitulo }}
                                </td>
                                <td style="text-align: center">
                                    {{ postulacion.aniopublicacion }}
                                </td>
                                <td style="text-align: justify">
                                    {{ postulacion.editorial }}
                                </td>
                                <td style="text-align: center">                                    
                                    <a href="{{ postulacion.archivolibro.url }}" class="btn btn-mini btn-success" data-width="2048" data-height="1380" data-fancybox="libro{{ postulacion.id }}" data-caption="Libro" data-bs-toggle="tooltip" data-placement="top" title="Ver Libro"><i class="fa fa-eye"></i> </a>
                                    {% if postulacion.archivocapitulo %}
                                        <a href="{{ postulacion.archivocapitulo.url }}" class="btn btn-mini btn-primary" data-width="2048" data-height="1380" data-fancybox="capitulo{{ postulacion.id }}" data-caption="Capítulo de Libro" data-bs-toggle="tooltip" data-placement="top" title="Ver Capítulo de Libro"><i class="fa fa-eye"></i> </a>
                                    {% endif %}                            
                                    <a href="{{ postulacion.archivoeditorial.url }}" class="btn btn-mini btn-warning" data-width="2048" data-height="1380" data-fancybox="certificado{{ postulacion.id }}" data-caption="Certificado Editorial" data-bs-toggle="tooltip" data-placement="top" title="Ver Certificado de Editorial"><i class="fa fa-eye"></i> </a>
                                    <a href="{{ postulacion.archivoinforme.url }}" class="btn btn-mini btn-info" data-width="2048" data-height="1380" data-fancybox="pares{{ postulacion.id }}" data-caption="Informe Revisión Pares" data-bs-toggle="tooltip" data-placement="top" title="Ver Informe Revisión pares"><i class="fa fa-eye"></i> </a>
                                </td>
                                <td style="text-align: center">
                                    <span class="{{ postulacion.estado.clase }} tu" title="{{ postulacion.estado.observacion }}">{{ postulacion.estado.descripcion }}</span>
                                    {% if postulacion.falta_cerrar_evaluaciones %}
                                        <span class="label label-warning tu" title="EVALUACIONES PENDIENTES DE CERRAR">EVALUACIONES P.</span>
                                    {% endif %}
                                </td>
                                <td style="text-align: center">
                                    <div class="dropbottom" style="text-align: left">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones <i class="fa fa-angle-down"></i></button>
                                        <ul class="dropdown-menu pull-right" x-placement="right-start">
                                            {% if postulacion.puede_habilitar_edicion %}
                                                <li class="dropdown-item"><a class="habilitaredicion" id="{{ postulacion.id|encrypt }}" titulo="{{ postulacion.titulolibro }}" href="javascript:;"><i class="fa fa-unlock-alt"></i> Habilitar Edición</a></li>
                                                <div class="dropdown-divider"></div>
                                            {% endif %}
                                            <li class="dropdown-item"><a class="mostrarrecorrido" idc="{{ postulacion.id|encrypt }}" href="javascript:;"><i class="fa fa-list-ol"></i> Mostrar Recorrido</a></li>
                                            <li class="dropdown-item"><a class="mostrarinformacion" idc="{{ postulacion.id|encrypt }}" href="javascript:;"><i class="fa fa-info-circle"></i> Mostrar Información</a></li>
                                            {% if postulacion.puede_asignar_evaluadores %}
                                                <li class="dropdown-item"><a href="/adm_obrarelevancia?action=asignarevaluador&id={{ postulacion.id|encrypt }}"><i class="fa fa-users"></i> Asignar Evaluadores</a></li>
                                            {% endif %}
                                            {% if postulacion.tiene_evaluaciones %}
                                                <li class="dropdown-item"><a href="/adm_obrarelevancia?action=evaluaciones&id={{ postulacion.id|encrypt }}"><i class="fa fa-file-text"></i> Mostrar Evaluaciones</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr><td style="text-align: center" colspan="9">NO EXISTEN REGISTROS DE POSTULACIONES A OBRAS DE RELEVANCIA</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer border-top-0">
                {% include 'paginacionb4.html' %}
            </div>
        </div>
        {# TABLA DE DATOS #}
    </div>
    <div class="modal fade static"  id="itemspanelrecorrido" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-list-ol"></i>&nbsp;<span class="paneltitlerecorrido">Mostrar Recorrido de la Convocatoria</span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body panelbodyrecorrido">

                </div>
                <div class="modal-footer" id="footermodal">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static"  id="itemspanelinformacion" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-info-circle"></i>&nbsp;<span class="paneltitleinformacion">Mostrar Recorrido de la Convocatoria</span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body panelbodyinformacion">

                </div>
                <div class="modal-footer" id="footermodal">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static"  id="itemspanelsubirsolicitud" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-cloud-upload"></i>&nbsp;<span class="paneltitlesubirsolicitud">Mostrar Recorrido de la Convocatoria</span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body panelbodysubirsolicitud">

                </div>
                <div class="modal-footer" id="footermodal">
                    <button type="button" class="btn btn-success guardar"> Guardar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static"  id="itemspanelnovedad" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-warning"></i>&nbsp;<span class="paneltitlenovedad">Mostrar Recorrido de la Convocatoria</span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body panelbodynovedad">

                </div>
                <div class="modal-footer" id="footermodal">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static"  id="itemspanelrevisarinforme" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-cloud-upload"></i>&nbsp;<span class="paneltitlerevisarinforme">Mostrar Recorrido de la Convocatoria</span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body panelbodyrevisarinforme">

                </div>
                <div class="modal-footer" id="footermodal">
                    <button type="button" class="btn btn-success guardar"> Guardar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}