{% extends 'finanzas/base.html' %}
{% load sga_extras %}
{% load humanize %}
{% block extraheading %}
    <style type="text/css">
        table th {
            text-align: center;
        }

        td {
            text-align: center;
        }

        table tbody td {
            text-align: center;
        }
    </style>




{% endblock %}
{% block content %}


    <div class="card mb-2 mt-1">
        <div class="card-header">
            <h4 class="mb-0"><b><i class="fa fa-user"></i> {{ title }}</b></h4>
        </div>
    </div>
    {#    <div class="card mb-2 mt-1">#}
    {#        <div class="card-header">#}
    {#            <a href="javascript:"#}
    {#               class="btn btn-icon btn-outline-secondary float-end mt-n1 me-1 tip action-download-report"#}
    {#               data-placement="left" title="Descargar Reporte" data-action="actionDownloadCoordinadores"#}
    {#            >#}
    {#                <i class="align-middle fa fa-download"></i>#}
    {#            </a>#}
    {#        </div>#}
    {#    </div>#}

    <div class='card my-1 p-1'>
        <div class="row container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form class="form-search" method="GET" action="{{ request.path }}">
                    <input type="hidden" name="action" value="profesormodulo">
                    <div class="row">
                        <div class="input-group-append mb-2 col-6">
                            <!-- heading -->
                            <i class="fa fa-calendar tu" title="Fecha"></i> Fecha (Mes y Año):<br>
                            <input class='form-control' type='text' id='fecha' name='fecha' autocomplete="off" style="width: 100%" placeholder="MM/YYYY"/>
                        </div>
                        <div class="input-group-append mb-2 col-6">
                            <!-- heading -->
                            <i class="fa fa-search tu" title="Buscar"></i> Buscar:<br>
                            <button type="submit" id="button-addon2" class='btn btn-info'>
                                <span class="fa fa-search"></span> Buscar
                            </button>
                            <a title="Ver todo" href="{{ request.path }}?action=profesormodulo"
                               id='allresults' class="btn btn-default tr cleartext">
                                <i class="fas fa-sync-alt"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body border-top border-6 rounded-3 border-dark-info">
            <div class="table-responsive-md table-responsive-lg">
                <div>
                    <table class="table table-bordered " style="width: 100%">
                        <tbody>

                        <tr>
                            <td>
                                <h3><b>Profesores Módulares</b></h3>
                            </td>
                            <td>
                                <h3><b>Total:</b></h3> $ {{ total_certificar }}
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <table class="table table-bordered " style="width: 100%">
                    <thead>
                    <tr>
                        <th colspan="2">Programa</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for item in estructura %}
                        <tr>
                            <td>
                                ({{ item.eMaestriaAdmisionPk }})
                                <b>
                                    {{ item.eCarrera }}
                                </b> ({{ item.eCarrera.pk }})
                            </td>

                            <td colspan="2" style="vertical-align: middle;text-align: center;">

                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table class="table table-bordered" style="width:100%; font-size: 12px">
                                    <thead>
                                    <tr>
                                        <th style="vertical-align: middle;text-align: center;">COHORTE</th>
                                        <th style="vertical-align: middle;text-align: center;">TOTAL PARALELOS</th>
                                        <th style="vertical-align: middle;text-align: center; width: 30%;">NRO. MODULOS A DICTAR CONFORME A LA MALLA </th>
                                        <th style="vertical-align: middle;text-align: center; width: 30%;">DESGLOSE DE LOS MODULOS A DICTAR</th>
                                        <th style="vertical-align: middle;text-align: center; width: 30%;">NRO. DE HORAS POR MÓDULO </th>
                                        <th style="vertical-align: middle;text-align: center; width: 30%;">TOTAL HORAS </th>
                                        <th style="vertical-align: middle;text-align: center; width: 30%;">VALOR POR HORA </th>
                                        <th style="vertical-align: middle;text-align: center; width: 30%;">TOTAL A CERTIFICAR </th>
                                        <th style="vertical-align: middle;text-align: center; width: 30%;">CATEGORÍA</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for eCohorte in item.eCohorteMaestrias %}
                                        <tr>
                                            <td style="vertical-align: middle;text-align: center;">
                                                {{ eCohorte.ePeriodo.numero_cohorte_romano }} - {{ eCohorte.ePeriodo.anio }}
                                            </td>
                                             {% if eCohorte.cantidad_paralelos  == 0%}
                                                 <td style="vertical-align: middle;text-align: center;" colspan="8">
                                                     No existen paralelos vigentes en niveles y materias en este periodo
                                                 </td>

                                             {% else %}
                                                 <td style="vertical-align: middle;text-align: center;">
                                                     {{ eCohorte.cantidad_paralelos }}
                                                 </td>
                                                 <td style="vertical-align: middle;text-align: center;">
                                                 {{ eCohorte.cantidad_modulos }}

{#                                                      <br>#}
{#                                                      {% for detalles in eCohorte.desgloce_modulo.detalles_materia %}#}
{#                                                          {% for detalle in detalles.eDetalleInformeContratacion %}#}
{#                                                                    {{  detalle}} <br><br><br><br>#}
{#                                                       {% endfor %}#}
{#                                                          ----------------------------------------------- <br>#}
{#                                                       {% endfor %}#}

                                                 </td>
                                                 <td colspan="5" style="vertical-align: middle;text-align: center;">

                                                     {% for horas_por_mes, data in eCohorte.desgloce_modulo.horas_por_mes_conteo.items %}
                                                         <table>
                                                             <tbody>
                                                             <tr>

                                                                 <td class="text-center"
                                                                     style="width:200px">{{ data.materias_ids|length }}</td>
                                                                 <td class="text-center"
                                                                     style="width:200px">{{ horas_por_mes }}</td>
                                                                 <td class="text-center"
                                                                     style="width:85px">{{ data.total_multiplicacion }}</td>
                                                                 <td class="text-center" style="width:50px">${{ data.valorhora }}</td>
                                                                 <td class="text-center" style="width:70px">
                                                                     $ {{ data.total_certificar }}</td>
                                                             </tr>
                                                             </tbody>
                                                         </table>
                                                     {% endfor %}
                                                 </td>

                                                 <td style="vertical-align: middle;text-align: center;">PROFESOR</td>

                                             {% endif %}


                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="9" class="text-center">No existen periodos activos</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="card-footer border-top-0">
            {% include 'paginacionb4.html' %}
        </div>
    </div>


    <script type="text/javascript">


        $(function () {
            $("#fecha").datepicker(
                {
                    format: "mm/yyyy",
                    startView: "months",
                    minViewMode: "months",
                    autoclose: true
                }
            );
        });


    </script>
{% endblock %}
