<meta charset=UTF-8">
{% load sga_extras %}
{% block heading %}
{% endblock %}
{% block canvas %}
    <style type="text/css">
        @page {
            background-image: url('https://sga.unemi.edu.ec/media/reportes/encabezados_pies/hoja_membretada.png');
            /*background-position: right 0.5cm;*/
            /*background-position: right 1000px;
            background-repeat: no-repeat;*/
            size: a4;/*size: a4 landscape;*/
            @frame header_frame {
            -pdf-frame-content: header_content;
            left: 1cm; right: 0.5cm; top: 0.5cm; height: 5cm;
        }
        @frame {
        -pdf-frame-content: company_logo;
            /*-pdf-frame-border: 1;*/
        left: 1cm;
        }
        @frame content_frame {
        left: 1cm; right: 1.5cm; top: 3.5cm; bottom: 1.5cm;
        }
        @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 0cm;
        margin-left: 1cm;
        margin-right: 1cm;
        text-align: right;
        height: 1cm;
        }
        }
    </style>
    <div id="company_logo">
        <img src="https://sga.unemi.edu.ec/media/reportes/encabezados_pies/hoja_membretada.png" class="top_image" />
    </div>

    <div >
        <div align="center" style="font-size: 14px">
            <p style="line-height: 3.5px">
                <strong>{% if data.graduado.actafacultad %}{{ data.graduado.actafacultad }}
                {% elif data.graduado.facultad %}{{ data.graduado.facultad }}{% elif data.graduado.inscripcion.coordinacion %}{{ data.graduado.inscripcion.coordinacion }}{% endif %}</strong> <br>
                <strong>CALIFICACIÓN DEL TRABAJO DE TITULACIÓN (EXAMEN  DE GRADO DE CARÁCTER COMPLEXIVO)</strong>
            </p>
        </div>
    </div>

    <div align="justify" style="font-size: 12px">
        <strong>FECHA:</strong> {{ data.fechagraduadodia }} de {{ data.fechagraduadomes }} del {{ data.fechagraduadoanio }}<br>
        <strong>TEMA:</strong> {{ data.graduado.tematesis }}<br>
        <strong>SUSTENTANTE:</strong> {{ data.graduado.inscripcion.persona }}<br>
        <strong>TUTOR(A):</strong> {{ data.graduado.profesor|default_if_none:"" }}<br>
        <table style="border: 0px solid #000000; font-size:11px; line-height:1.5px; vertical-align:top; font-family: Verdana, Arial, sans-serif">
            <tr>
                <td colspan="4"><div align="justufy"><strong>Los integrantes del Tribunal Calificador deberán examinar el trabajo de titulación (examen de grado de carácter complexivo) bajo los siguientes aspectos</strong></div></td>
            </tr>
            <tr>
                <td colspan="4"><strong>1) PRUEBA TEÓRICA (se evalúa sobre 100 puntos)({{ data.calificacion.fecha|date:"d-m-Y" }})</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="width: 3px;text-align: center"><b>CALIFICACIÓN</b></td>
                <td style="width: 3px;text-align: center"><b>PONDERACIÓN</b></td>
            </tr>
            <tr>
                <td width="9%"><div align="left">a)</div></td>
                <td width="68%">EL ESTUDIANTE DEBERÁ DEMOSTRAR LAS CAPACIDADES, DESTREZAS, CONOCIMIENTOS ADQUIRIDOS EN SU FORMACIÓN ARTICULADOS AL PERFIL DE EGRESO DE LA CARRERA.</td>
                <td width="3%">
                    <table style="border: 1px solid #000000; font-size:10px; line-height:1.5px; vertical-align:top; padding:2px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td>
                                <div style="text-align: center">{{ data.calificacion.examen|floatformat:2 }}</div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="3%">
                    <table  style="border: 1px solid #000000; font-size:10px; line-height:1.5px; vertical-align:top;  padding:2px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td>
                                <div style="text-align: center">{{ data.calificacion.ponderacion|floatformat:2 }}</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><div align="right"><strong>TOTAL</strong></div></td>
                <td></td>
                <td width="3%">
                    <table style="border: 1px solid #000000; font-size:10px; vertical-align:top; padding:2px;  font-family: Verdana, Arial, sans-serif"><tr><td><div style="text-align: center">{{ data.calificacion.ponderacion|floatformat:2 }}</div></td></tr></table></td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4"><strong>2) DEFENSA Y EVALUACIÓN (se evalúa sobre 100 puntos)</strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td style="text-align: center"><b>CALIFICACIÓN</b></td>
                <td style="text-align: center"><b>PONDERACIÓN</b></td>
            </tr>
            <tr>
                <td><div align="left">a)</div></td>
                <td>PENSAMIENTO CRÍTICO Y SISTÉMICO</td>
                <td><div align="center"></div></td>
                <td></td>
            </tr>
            <tr>
                <td><div align="left">b)</div></td>
                <td> CAPACIDAD COGNITIVA PARA ORGANIZAR EL CONOCIMIENTO Y LOS APRENDIZAJES OBTENIDOS A LO LARGO DE LA CARRERA O PROGRAMA, ORIENTADOS A LA COMPRENSIÓN, ANÁLISIS, EXPLICACIÓN Y SOLUCIÓN DEL PROBLEMA</td>
                <td><div align="center"></div></td>
                <td></td>
            </tr>
            <tr>
                <td><div align="left">c)</div></td>
                <td>DOMINIO METODOLÓGICO DE LENGUAJES, PROCESOS, PROCEDIMIENTOS DE LOS MÉTODOS DE LA CIENCIA, LA PROFESIÓN Y LA INVESTIGACIÓN</td>
                <td width="3%">
                    <table style="border: 1px solid #000000; font-size:10px; line-height:1.5px; vertical-align:top;  padding:2px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td>
                                <div style="text-align: center">{% if data.calificaciondos.examen %}{{ data.calificaciondos.examen }}{% else %}<br>{% endif %}</div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="3%">
                    <table style="border: 1px solid #000000; font-size:10px; line-height:1.5px;  padding:2px; vertical-align:top; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td>
                                <div style="text-align: center">{% if data.calificaciondos.examen %}{{ data.calificaciondos.ponderacion }}{% else %}<br>{% endif %}</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><div align="left">d)</div></td>
                <td>CREATIVIDAD E INNOVACIÓN PARA EL PLANTEAMIENTO DE ALTERNATIVAS DE SOLUCIÓN AL PROBLEMA</td>
                <td><div align="center"></div></td>
                <td></td>
            </tr>
            <tr>
                <td><div align="left">e)</div></td>
                <td>DISCURSO Y ARGUMENTACIÓN ACADÉMICA PARA EL ABORDAJE DEL CASO</td>
                <td><div align="center"></div></td>
                <td></td>
            </tr>
            <tr>
                <td><div align="left">f)</div></td>
                <td>PRESENTACIÓN EN TÉRMINOS DE SU ORDEN, COHERENCIA Y CONSISTENCIA</td>
                <td><div align="center"></div></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><div align="right"><strong>TOTAL</strong></div></td>
                <td></td>
                <td width="3%"><table style="border: 1px solid #000000; font-size:10px; line-height:1.5px;  padding:2px; vertical-align:top; font-family: Verdana, Arial, sans-serif"><tr><td><div style="text-align: center">{% if data.calificaciondos.examen %}{{ data.calificaciondos.ponderacion }}{% else %}<br>{% endif %}</div></td></tr></table></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr >
                <td>&nbsp;</td>
                <td ><div align="right"><strong>CALIFICACIÓN DE LA PRUEBA TEÓRICA (sobre 100 puntos) x 050+ CALIFICACIÓN DE LA SUSTENTACIÓN DEL CASO PRÁCTICO (sobre 100 puntos) x 0,50</strong></div></td>
                <td ><div align="center"><strong></strong></div></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><div align="center"><strong>VALORACIÓN</strong></div></td>
                <td><div style="text-align: center">{% if data.total %}{{ data.total }}{% else %}<strong>__________</strong>{% endif %}</div></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4"><strong>OBSERVACIONES:..........................................................................................................................................................................................................<br><br>
                    ...........................................................................................................................................................................................................................................<br><br>
                    ...........................................................................................................................................................................................................................................<br><br>
                    ...........................................................................................................................................................................................................................................<br><br>
                    ...........................................................................................................................................................................................................................................</strong><br><br><br></td>
            </tr>
            <tr>
                <td colspan="4">
                    <table style="border: 0px solid #000000; font-size:10px; line-height:2px; vertical-align:top; padding:2px; font-family: Verdana, Arial, sans-serif">
                        <tr>
                            <td width="25%"><div align="center">____________________________<br><br>INTEGRANTE DEL TRIBUNAL</div></td>
                            <td width="50%"><div align="center">________________________________________<br><br>INTEGRANTE DEL TRIBUNAL SECRETARIO(A)</div></td>
                            <td width="25%"><div align="center">____________________________<br><br>TUTOR(A)</div></td>
                        </tr>
                    </table></td>
            </tr>
        </table>
    </div>
    <br>

    {#        <div id="footerContent" align="right">#}
    {#            {%block page_foot%}#}
    {#                <hr color="black" />#}
    {#                COD: 001-PRAPRE-I-PROG-PEI Versión 1.0 Departamento de Extensi&oacute;n Universitaria&nbsp;&nbsp;&nbsp; P&aacute;gina <pdf:pagenumber></pdf:pagenumber>/ <pdf:pagecount></pdf:pagecount>#}
    {#            {%endblock%}#}
    {#        </div>#}
{% endblock %}