{% load sga_extras %}
{% block heading %}
    <meta charset=UTF-8">
    <title>{{ data.graduado.inscripcion.carrera|lower|capfirst }}</title>
{% endblock %}
{% block canvas %}
    <style type="text/css">
        @page {
            background-image: url('https://sga.unemi.edu.ec/media/reportes/encabezados_pies/fondo_titulo_posgrado.png?v={{ data.version }}');
            size: A4 landscape;
            top: 0.2cm;
            left: 0.75cm;
            right: 0.75cm;
            bottom: 0cm;
            @frame {
                -pdf-frame-content: company_logo;
                left: 5cm;
                right: 5cm;
                bottom: -2cm;
                top: 0cm;
            }
            @frame {
                -pdf-frame-content: evolucion_logo;
                left: 10cm;
                right: 10cm ;
                bottom: 1cm;
                top: 0cm;
            }
        }

        @page maintmpl {
            size: A4 landscape;
            top: 0.2cm;
            left: 2cm;
            right: 2cm;
            bottom: 0cm;
            @frame {
                -pdf-frame-content: footerContent;
                bottom: 0cm;
                margin-left: 1cm;
                margin-right: 1cm;
                text-align: right;
                height: 1cm;
            }
        }

        #texto {
            letter-spacing: 2pt; /* para separar entre letras */
            word-spacing: 5pt; /* para separacion entre palabras */
            line-height: 20pt; /* para la separacion entre lineas */
            text-indent: 30pt; /* para sangrias */
        }


    </style>
    <div>
    </div>
    <div>
        <table align="center" style="height: 115">
            <tr>
                <td style="text-align:center;width:850px;">
{#                    <img src="" width="120" height="120">#}
                </td>
            </tr>

        </table>

        <table width="800px" border="" align="center"
               style="text-align: center;padding:4px;font-family:'Cambria';color:#0d2f44;font-size:16px; border:1px;">
            <tr></tr>
{#            <tr></tr>#}
            <tr></tr>
            <tr></tr>
            <tr align="center">
                <td align="center" style="text-align:center;font-family:'Times New Roman'; font-size:19px;">
                    <strong>{{ data.posgrado}}</strong>
                </td>
            </tr>
            <tr align="center">
                <td style="text-align: center; font-size: 16px; color: #343A40;">En nombre de
                    la República del Ecuador
                    y por autoridad de la Ley, </br> hace notorio que:
                    {% if data.graduado.inscripcion.persona.sexo.id == 1 %} La {% else %}
                        El {% endif %}
                {% if data.graduado.inscripcion.persona.titulacion_solo3nivelparapogrado.titulo.abreviatura %}
                    {{ data.graduado.inscripcion.persona.titulacion_solo3nivelparapogrado.titulo.abreviatura|title }}
                {% else %}
                    profesional
                {% endif %}
                </td>
            </tr>
            <tr align="center">
                {#                <td style="width:30px;"></td>#}
                <td style="text-align: center;"><span
                        style="font-size: 26px; color: #1C3247;">{{ data.graduado.inscripcion.persona.nombre_completo|upper }}
{#                    {{ data.graduado.inscripcion.persona.nombre_completo|title }}#}
                </span>
                </td>
            </tr>
            <tr align="center">
                {#                <td valign="bottom" style="width:30px;text-align: center;position: absolute"><span#}
                {#                        style="font-size: 18px;color: #1C3247"></span></td>#}
                <td valign="bottom"
                    style="color: black; text-align: center;padding-bottom: 3px; color: #343A40;">Ha
                    cumplido con todos los requisitos legales y
                    reglamentarios, culminando la formación de cuarto nivel; </br>por lo que se le confiere el grado
                    académico de:</span>
                </td>
            </tr>
            <tr align="center">
                {#                <td style="width:30px;"></td>#}
                <td style="text-align: center;padding-bottom: 3px"><span
                        style="font-size: 26px; font-family: Tahoma;"><strong>
                        {{ data.graduado.inscripcion.carrera.titulo_otorga_con_sin_mencion|upper }}
{#                    {{ data.graduado.inscripcion.carrera.titulootorga|upper }}#}
{#                    {% if data.graduado.inscripcion.carrera.mencion != "" %}#}
{#                        con mención en {{ data.graduado.inscripcion.carrera.mencion }}#}
{#                    {% endif %}#}
                </strong></span>
                </td>
            </tr>
            <tr align="center">
                <td style="text-align: center;padding-bottom: 3px; color: #343A40;">En tal virtud, las
                    autoridades y ciudadanía le guardarán los fueros
                    y privilegios que le corresponden. </br>
                    Dado y firmado en {{ data.fecha }}
                </td>
            </tr>
        </table>
        {#        seccion de firmas#}
        <table border="" align="right" style="
        font-size:13px; font-family: Cambria; color:#343A40; text-align: center;">
            <tr>
                <td width="130">
                    {#                    vacio#}
                </td>
                {#                    firma rector#}
                <td width="125">
{#                    </br>#}
{#                    </br>#}
                    <table>
                        <tr>
                            <td>
                                <img src="https://sga.unemi.edu.ec/media/reportes/encabezados_pies/firmas/0917882961.png?v={{ data.version }}"
                                width="145px" height="75px">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% if data.firmauno %}
                                    {{ data.firmauno.persona.titulacionmaximavalida.titulo.abreviatura|default_if_none:''|title }}
                                    {{ data.firmauno.persona.un_nombre_dos_apellidos|default_if_none:'' }}
                                    <br>
                                    <span style="font-size:10px">{% if data.firmauno.persona.sexo.id == 1 %}RECTORA{% else %}RECTOR{% endif %}</span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
{#                    </br>#}
                </td>
                {#                    firma director/vicerrector de investigacion posgrado#}
                <td width="300">
                    <table>
                        <tr>
                            <td>
{#                                <img src="https://sga.unemi.edu.ec/media/{{ data.firmaimg.firma }}?v={{ data.version }}" width="150px" height="75px">#}
                                <img src="https://sga.unemi.edu.ec/media/{{ data.imgfirmadirector.firma }}?v={{ data.version }}"
                                     width="170px" height="75px">
                            </td>
                        </tr>
                        <tr>
                            <td>
{#                                {% if data.firmacertificado.personadepartamento.titulo_4to_nivel %}#}
{#                                    Ph.D#}
                                    {#                        {{ data.firmacertificado.personadepartamento.titulacionmaximavalida.titulo.abreviatura|default_if_none:''|title }}#}
{#                                    {{ data.firmacertificado.personadepartamento.un_nombre_dos_apellidos|default_if_none:'' }}#}
                                    {#                                            {% if not data.firmacertificado.personadepartamento.titulacion_principal_senescyt_registro == '' %}#}
                                    {#                                                {{ data.firmacertificado.personadepartamento.titulacion_principal_senescyt_registro.titulo.abreviatura|default_if_none:'' }}#}
                                    {#                                                {{ data.firmacertificado.personadepartamento.nombre_completo|default_if_none:'' }}#}
{#                                {% else %}#}
{#                                    {{ data.firmacertificado.personadepartamento.titulo.abreviatura|default_if_none:'' }}#}
{#                                    {{ data.firmacertificado.personadepartamento.un_nombre_dos_apellidos|default_if_none:'' }}#}
{#                                    ,#}
{#                                    {{ data.firmacertificado.personadepartamento.titulacion_principal_senescyt_registro.titulo.abreviatura|default_if_none:'' }}#}
{#                                {% endif %}#}
                                {% if data.firmadirector.id == 7 %}
                                    Ph.D.
                                {% else  %}
                                    {{ data.firmadirector.personadepartamento.titulacion_principal_senescyt_registro.titulo.abreviatura|lower|title|default_if_none:'' }}
                                {% endif %}
                                {{ data.firmadirector.personadepartamento.un_nombre_dos_apellidos }}
                                </br>
                                <span style="font-size:10px">
                                    {{ data.firmadirector.denominacionpuesto.descripcion }}
{#                                    {{ data.firmacertificado.denominacionpuesto.descripcion|default_if_none:'' }}#}
                                </span>
                            </td>
                        </tr>
                    </table>
{#                    </br>#}
                </td>
                {#                    firma secretaria general#}
                <td width="126">
                    <table style=" width: 100%">
                        <tr style=" width: 100%">
                            <td>
{#                                <img src="https://sga.unemi.edu.ec/media/reportes/pincay.png?v={{ data.version }}" width="150px" height="75px">#}
                                <img src="https://sga.unemi.edu.ec/media/{{ data.firmatres_rubrica }}?v={{ data.version }}" width="150px" height="75px">
                            </td>
                        </tr>
                        <tr style=" width: 100%">
                            <td style=" width: 100%">
                                {% if data.firmatres %}
                                    {{ data.firmatres.personadepartamento.titulacionmaximavalida.titulo.abreviatura|default_if_none:''|title }}
                                    {{ data.firmatres.personadepartamento.un_nombre_dos_apellidos|default_if_none:'' }}
                                    <br>
                                    <span style="font-size:10px">
                                        {% if not data.firmatres.personadepartamento.sexo_id == 1%}SECRETARIO GENERAL{% else %}{{ data.firmatres.denominacionpuesto.descripcion|default_if_none:'' }}{% endif %}
                                        {{ data.firmatres_tipocargo|default_if_none:'' }}
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
{#                    </br>#}
{#                    </br>#}
{#                    </br>#}
                </td>
                {#                codigo qr y link insignia#}
                <td width="130" align="right">
                    </br>
                    </br>
{#                    <img src="https://sga.unemi.edu.ec/media/qrcode/titulos/{{ data.qrname }}.png?v={{ data.version }}"#}
                    <img src="{{ data.DOMINIO_DEL_SISTEMA }}/media/qrcode/titulos/{{ data.qrname }}.png?v={{ data.version }}"
                         width="110" height="110" align="middle">
                    </br>
                    {#                    color:#4597bf;#}
                    <a style="font-size:20.5px;text-decoration: none; color:#335f7f;" id="insignia"
                       href="{{ data.urlhtmlinsignia }}?v={{ data.version }}"
                       target="_blank"><i><strong>Link de Insignia</strong></i></a>
                </td>
            </tr>
        </table>

        {#        <table width="1000">#}
        {#            <tr>#}
        {#                <td height="171" align="center" style="font-size: 9px">#}
        {#                    <img src="https://sga.unemi.edu.ec/media/{{ data.firmaimgizq.firma }}" width="140" height="90"#}
        {#                         style="margin: 0"><br>#}
        {#                    <strong style="font-size:12px;font-family: 'Arial Bold'">#}
        {#                        {% if data.firmacertificado.personadepartamento.titulo_4to_nivel %}#}
        {#                            PHD. {{ data.firmaizquierda.personadepartamento.nombre_completo|default_if_none:'' }}#}
        {#                        {% else %}#}
        {#                            {{ data.firmaizquierda.personadepartamento.titulo.abreviatura|default_if_none:'' }}#}
        {#                            {{ data.firmaizquierda.personadepartamento.nombre_completo|default_if_none:'' }}#}
        {#                            ,#}
        {#                            {{ data.firmaizquierda.personadepartamento.titulacion_principal_senescyt_registro.titulo.abreviatura|default_if_none:'' }}#}
        {#                        {% endif %}#}
        {#                    </strong><br>#}
        {#                    <strong style="font-family:Arial">DIRECTOR DE POSGRADO - UEP2446</strong>#}
        {#                </td>#}
        {#                <td height="171" align="center" style="font-size: 9px">#}
        {#                        <tr>#}
        {##}
        {#                            <td align="center" style="font-size: 9px;">#}
        {#                                {% comment %}#}
        {#                                    <img src="https://sga.unemi.edu.ec/media/reportes/{{ data.firmacertificado }}.png"#}
        {#                                         width="150" height="100"><br>#}
        {#                                <strong>______________________________________________________ </strong><br>#}
        {#                                    <strong style="font-size:12px;font-family:'Arial Bold'">#}
        {#                                        {% if data.evento.titulo_3nivel_aprobador3 %}#}
        {#                                            {{ data.evento.titulo_3nivel_aprobador3.titulo.abreviatura|default_if_none:'' }}{{ data.evento.aprobado3.nombre_completo|default_if_none:'' }}#}
        {#                                            ,#}
        {#                                            {{ data.evento.aprobado3.titulacion_principal_senescyt_registro.titulo.abreviatura|default_if_none:'' }}#}
        {#                                        {% elif not data.evento.aprobado3.titulacion_principal_senescyt_registro == '' %}#}
        {#                                            {{ data.evento.aprobado3.titulacion_principal_senescyt_registro.titulo.abreviatura|default_if_none:'' }}{{ data.evento.aprobado3.nombre_completo|default_if_none:'' }}#}
        {#                                        {% else %}#}
        {#                                            {{ data.evento.aprobado3.nombre_completo|default_if_none:'' }}#}
        {#                                        {% endif %}</strong>#}
        {#                                    <br><strong style="font-family:Arial">#}
        {#                                    {{ data.evento.denominacionaprobado3|default_if_none:'' }}</strong>{% endcomment %}#}
        {#                                <table width="990px">#}
        {#                                    <tr>#}
        {#                                        <td>&nbsp;#}
        {#                                            <img src="https://sga.unemi.edu.ec/media/{{ data.firmaimg.firma }}"#}
        {#                                                 width="145" height="90"><br>#}
        {#                                        </td>#}
        {#                                    </tr>#}
        {#                                    <tr>#}
        {#                                        <td style="padding-top: 3px;">#}
        {#                                            <strong>______________________________________________________ </strong><br>#}
        {#                                            <strong style="font-size: 12px;font-family:'Arial Bold'">#}
        {#                                                {% if data.firmacertificado.personadepartamento.titulo_4to_nivel %}#}
        {#                                                    PHD.#}
        {#                                                    {{ data.firmacertificado.personadepartamento.nombre_completo|default_if_none:'' }}#}
        {#                                            {% if not data.firmacertificado.personadepartamento.titulacion_principal_senescyt_registro == '' %}#}
        {#                                                {{ data.firmacertificado.personadepartamento.titulacion_principal_senescyt_registro.titulo.abreviatura|default_if_none:'' }}#}
        {#                                                {{ data.firmacertificado.personadepartamento.nombre_completo|default_if_none:'' }}#}
        {#                                                {% else %}#}
        {#                                                    {{ data.firmacertificado.personadepartamento.titulo.abreviatura|default_if_none:'' }}#}
        {#                                                    {{ data.firmacertificado.personadepartamento.nombre_completo|default_if_none:'' }}#}
        {#                                                    ,#}
        {#                                                    {{ data.firmacertificado.personadepartamento.titulacion_principal_senescyt_registro.titulo.abreviatura|default_if_none:'' }}#}
        {#                                                {% endif %}#}
        {#                                            </strong>#}
        {#                                            <br>#}
        {#                                            <strong style="font-family:Arial">#}
        {#                                                {{ data.firmacertificado.denominacionpuesto|default_if_none:'' }}</strong>#}
        {##}
        {#                                        </td>#}
        {##}
        {#                                    </tr>#}
        {#                                </table>#}
        {#                            </td>#}
        {#                        </tr>#}
        {#                    </table>#}
        {#                </td>#}
        {#                <td height="171" align="center" style="font-size: 9px">#}
        {#                    <img src="https://sga.unemi.edu.ec/media/reportes/pincay.png" width="140" height="90"><br>#}
        {#                    <strong style="font-size:12px;font-family:'Arial Bold'">#}
        {#                        {% if data.evento.titulo_3nivel_aprobador2 %}#}
        {#                            {{ data.evento.titulo_3nivel_aprobador2.titulo.abreviatura|default_if_none:'' }}#}
        {#                            {{ data.evento.aprobado2.nombre_completo|default_if_none:'' }}#}
        {#                            {{ data.evento.aprobado2.titulacion_principal_senescyt_registro.titulo.abreviatura|default_if_none:'' }}#}
        {#                        {% elif not data.evento.aprobado2.titulacion_principal_senescyt_registro == '' %}#}
        {#                            {{ data.evento.aprobado2.titulacion_principal_senescyt_registro.titulo.abreviatura|default_if_none:'' }}#}
        {#                            {{ data.evento.aprobado2.nombre_completo|default_if_none:'' }}#}
        {#                        {% else %}#}
        {#                            {{ data.evento.aprobado2.nombre_completo|default_if_none:'' }}#}
        {#                        {% endif %}</strong>#}
        {#                    <br><strong style="font-family:Arial">#}
        {#                    {{ data.evento.denominacionaprobado2|default_if_none:'' }}</strong>#}
        {#                </td>#}
        {##}
        {#            </tr>#}
        {##}
        {#        </table>#}
        {#    ultima fila pag 1#}
        {#        <table align="left" width="950px" border="0" style="font-family: Verdana, Arial, sans-serif;">#}
        {#            <tr align="center">#}
        {##}
        {#                <td width="70">&nbsp;</td>#}
        {#                <td align="center" width="370" style="font-size: 9px">#}
        {##}
        {#                </td>#}
        {#            </tr>#}
        {#            <tr>#}
        {#                <td width="370px"></td>#}
        {##}
        {#                <td align="left" height="187" colspan="3">#}
        {#                #}
        {##}
        {#                </td>#}
        {#                <td style="width: 40%;margin-left: 0px; font-size: 12px; color: #c87f0c;" align="right"#}
        {#                    valign="bottom;">#}
        {#                    <img src="{{ data.DOMINIO_DEL_SISTEMA }}/media/qrcode/titulos/{{ data.qrname }}.png"#}
        {#                         width="110" height="110"#}
        {#                         align="middle">#}
        {#                    </br><a#}
        {#                        style="font-family: Verdana, Arial, sans-serif; font-size: 20px;text-decoration: none;color: #0f3d81"#}
        {#                        id="insignia"#}
        {#                        href="{{ data.urlhtmlinsignia }}" target="_blank"><b><strong style="text-underline: #0b2f44">Link#}
        {#                    de#}
        {#                    insignia</strong></b></a>#}
        {##}
        {#                </td>#}
        {##}
        {#            </tr>#}
        {##}
        {#        </table>#}
        <pdf:nexttemplate name="maintmpl"/>
        <pdf:nextpage/>
    </div>
    <table style="vertical-align: middle; ">
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td style="color: #0d2f44"><span
                    style="font-size: 14px; font-family: 'Lucida Sans Unicode'">REFRENDADO: </span>
            </td>
            <td width="550">&nbsp;</td>
            <td>
                <img src="https://sga.unemi.edu.ec/media/reportes/encabezados_pies/logo_unemi.png?v={{ data.version }}" alt="" width="113" height="37">
            </td>

        </tr>
    </table>
{% endblock %}
