{% load humanize %}
{% load sga_extras %}
{% for dia in dias %}
    {#    {% if not dia.no_laborable %}#}
    <tr>
        <td style="text-align: center">{{ dia.fecha|date:"Y-m-d" }}</td>
        {% with jornadas1=distributivo|args:dia|call:'detalle_jornada' %}
            <td>{% if jornadas1 %}Jornada:{% endif %}
                {% for jornada1 in jornadas1 %}
                    [{{ jornada1.horainicio|time:'H:i a' }} - {{ jornada1.horafin|time:'H:i a' }}]
                {% endfor %}
            </td>
        {% endwith %}
        <td style="text-align: center">
            {% if dia.procesado %}
                <span class="label label-success tu" data-original-title="Estado">PROCESADO</span>
            {% else %}
                <span class="label label-important tu" data-original-title="Estado">SIN PROCESAR</span>
            {% endif %}
        </td>
        {% for m in dia.marcadas_log %}
            <td style="text-align: center; font-weight: bold;">
                {% if m %}
                    {% if m.status %}
                        <a href="javascript:;" class="label label-info tu "><span class="fa fa-check"></span> {{ m.time|date:"H:i" }}</a>
                    {% else %}
                        <a href="javascript:;" class="label label-important tu " data-original-title="Habilitar marcada"><span class="fa fa-remove"></span> {{ m.time|date:"H:i" }}</a>
                    {% endif %}
                {% endif %}
            </td>
        {% endfor %}
        <td style="text-align: center"></td>
    </tr>
    {#    {% endif %}#}
{% endfor %}
