{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <link href="/static/switchery/switchery.min.css" rel="stylesheet"/>
    <script src="/static/switchery/switchery.min.js"></script>
    <script>
        $(function(){
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

            elems.forEach(function (html) {
                var switchery = new Switchery(html, {size: 'small', color: '#5DADE2'});
            });
        });
    </script>
    <script type="text/javascript">
        $(function(){
            $("#id_director, #id_desde, #id_hasta").addClass("validate[required]");
            $("#id_desde, #id_hasta").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide');});

            $('#id_director').change(function(){
                $.ajax({
                    type: "POST",
                    url: "{{ request.path }}",
                    data: {'action': 'datacargodirector', 'id_director': JSON.stringify($('#id_director').val())},
                    success: function (data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            console.log(data)
                            for (elemento in data.lista) {
                                var dato = data.lista[elemento]
                                $('#id_cargo').val(dato[1]);
                                $('#id_cargo_form').val(dato[0]);
                            }
                        } else {
                            smoke.alert("Debe escoger un Director");
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        {#control.val(0).trigger("change");#}
                        smoke.alert("Error de conexion.");
                    },
                    dataType: "json"
                });
            });

        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}{{ request.path }}?action=conffirmadirectorvinculacion{% endblock %}
{% block formaction %}{{ request.path }}{% endblock %}
{% block formdestination %}{{ request.path }}?action=conffirmadirectorvinculacion{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='adddirectorvinculacion'/>
    <input type='hidden' name='id_cargo_form' value='null'/>
{% endblock %}
{% block formback %}{{ request.path }}?action=conffirmadirectorvinculacion{% endblock %}
{% block buttonname %}Guardar{% endblock %}