{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_nombre").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}{{ request.path }}?action=listadepartamentos{% endblock %}
{% block formaction %}{{ request.path }}{% endblock %}
{% block formdestination %}{{ request.path }}?action=listadepartamentos{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='adddepartamento'/>
{% endblock %}
{% block formback %}{{ request.path }}?action=listadepartamentos{% endblock %}
{% block buttonname %}Guardar{% endblock %}