{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){

            $(" #id_nombre").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block atras %}{{ request.path }}?action=formatopractica{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}{{ request.path }}{% endblock %}
{% block form-type %}form-horizontal{% endblock %}
{% block formdestination %}{{ request.path }}?action=formatopractica{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addformatopractica'/>
{% endblock %}
{% block formback %}{{ request.path }}?action=formatopractica{% endblock %}
{% block buttonname %}Guardar{% endblock %}
