{% extends "basepse.html" %}
{% load sga_extras %}
{% block heading %}
    <script src="/static/adicionalesjs/formquestionb4.js?0.25"></script>
    <script>
        function formModal(id, text, action) {
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: '{{ request.path }}',
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    $.unblockUI();
                    if (data.result === true) {
                        $('.panelbody').html(data.data);
                        $('#itempanel .paneltitle').html(text);
                        $("#itempanel").modal({backdrop: 'static'}).modal('show');
                    } else {
                        mensajeDanger(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    mensajeDanger("Error de conexión.");
                },
                dataType: "json"
            });
        }
    </script>
{% endblock %}

{% block canvas %}

    <form method="GET">
        <div class="container-fluid">
            <div class="form-row">
                <div class="col-md-4 col-sm-12">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Código o Nombre de Título"
                               aria-label="Buscar"
                               aria-describedby="button-addon2" name="s" value="{{ search }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                    class="fa fa-search"></i></button>
                            {% if url_vars %}
                                <a title="Ver todo" href="{{ ruta }}" class="btn btn-default">
                                    <i class="fas fa-sync-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row mb-2">
        <div class="col-lg-3">
            <a href="javascript:void(0)" class="btn btn-success" onclick="formModal('0', 'Configurar Título', 'addtitulo')"><i class="fa fa-plus-circle"></i> Configurar Título</a>
        </div>
    </div>

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title"><b><i class="fa fa-project-diagram"></i> {{ title }}</b></h3>
        </div>
        <div class="card-body">
            {% for l in listado %}
                <h6 class="page-header" style="font-size: 16px"><b><i class="fa fa-graduation-cap"></i> {{ l.titulo }}</b> -
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="btn btn-primary btn-mini tl"
                           title="Editar" onclick="formModal('{{ l.id }}', 'Editar Título', 'edittitulo')">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                    -
                    <div class="btn-group">
                        <a href="javascript:;" title="Eliminar" class="btn btn-danger btn-mini tl"
                           onclick="eliminarajax('{{ l.id }}', '{{ l.titulo }}', 'deltitulo')">
                            <span class="fa fa-trash"></span>
                        </a>
                    </div>
                </h6>
                <ul>
                    {% for lca in l.campoamplio.all %}
                        <li style="list-style-type: circle;"><span class="badge badge-warning" style="font-size: 13px">{{ lca }}</span></li>
                        <ul>
                            {% for lce in l.campoespecifico.all %}
                                {% if lce.areaconocimiento.id == lca.id %}
                                    <li style="list-style-type: circle;"><span class="badge badge-success" style="font-size: 13px">{{ lce }}</span></li>
                                    <ul>
                                        {% for lcd in l.campodetallado.all %}
                                            {% if lcd.areaconocimiento.id == lce.id %}
                                                <li style="list-style-type: circle;"><span class="badge badge-info" style="font-size: 13px">{{ lcd }}</span></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    {% endfor %}

                </ul>
            {% endfor %}

            <!-- paginacion  -->
            {% include 'paginacionb4.html' %}
            <!-- final de la paginacion  -->
            <hr>
            <label>Total Registros: {{ list_count }}</label>
        </div>
    </div>

    <div class="modal fade static" id="itempanel" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-pencil"></i> <b class="paneltitle">FORMULARIO MODAL</b></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="panelbody">
                        </div>
                    </form>
                </div>
                <div class="modal-footer" hidden>
                    <div style="float: right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}