{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/alu_tutorias?action=tutorias&id={{ tutoria.proyecto.preproyecto.id }}{% endblock %}
{% block formaction %}/alu_tutorias{% endblock %}
{% block formactionvalue %}confirmar{% endblock %}
{% block formobjectid %}{{ tutoria.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea confirmar que la tutoria del dia <b>{{ tutoria.fecha|date:'d-m-Y' }}</b> a las <b>{{ tutoria.acta.inicio|time:'h:i a' }}</b> fue realizada?{% endblock %}