
<script>
    tabla_paginada = $('.tabla_paginada').DataTable({
        responsive: false,
        ordering: false,
        paging: true,
        searching: true,
        language: {
            "url": "/static/bootstrap5/libs/datatables.net-bs5/js/es-ES.json"
        },
        bInfo: true,
        dom: 'Bfrtip',
        buttons: [],
        columnDefs: [
          {#{className:"text-center", targets: 0 },#}
          {#  {targets: 0, width:'5%', className:'text-center'},#}
          {#  {targets: 1, width:'10%', className:'text-center'},#}
          {#  {targets: 2, width:'15%', className:'text-center'},#}
          {#  {targets: 3, width:'50%', className:'text-center'},#}
          {#  {targets: 4, width:'20%', className:'text-left'},#}
        ]
    });

    $('.tabla_paginada tbody').on('click', 'tr', function () {
        var data = tabla_paginada.row(this).data();
    });
</script>

<div class="container">
    <table class="table table-bordered" width="100%">
        <tbody>
            <tr>
                <td>&nbsp;<b><i class="fa fa-info-circle"></i> OFERTA:</b> {{ configuracion }}</td>
            </tr>
            {% if configuracion.supervisor %}
            <tr>
                <td>&nbsp;<b><i class="fa fa-user-check"></i> SUPERVISOR:</b> {{ configuracion.supervisor }}</td>
            </tr>
            {% endif %}
            {% if configuracion.tutorunemi %}
            <tr>
                <td>&nbsp;<b><i class="fa fa-user-gear"></i> TUTOR:</b> {{ configuracion.tutorunemi }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <table class="table table-bordered tabla_paginada">
        <thead>
            <tr>
                <th style="text-align: center; width: 50px;">N°</th>
                <th style="text-align: center; width: 100px;">FOTO</th>
                <th style="text-align: center; width: 500px;">ESTUDIANTE</th>
                <th style="text-align: center; width: 300px;">CONTACTO</th>
            </tr>
        </thead>
        <tbody>
            {% for d in listadoinscritos %}
                <tr>
                    <td style="text-align: center">{{ forloop.counter }}</td>
                    <td style="text-align: center">
                        <div class="text-center">
                            {% if d.practicasppinscripcion.inscripcion.persona.foto %}
                                <img onerror="this.onerror=null;this.src='./image.png'" class="rounded-circle avatar-xl border border-4 border-white" alt="" style="width: 5em; height: 5em;" src="https://sga.unemi.edu.ec{{ d.practicasppinscripcion.inscripcion.persona.foto.foto.url }}">
                            {% else %}
                                <img onerror="this.onerror=null;this.src='./image.png'" class="rounded-circle avatar-xl border border-4 border-white" alt="" style="width: 5em; height: 5em;" src="/static/images/iconos/{% if d.practicasppinscripcion.inscripcion.persona.sexo.id == 2 %}hombre.png{% else %}mujer.png{% endif %}">
                            {% endif %}
                        </div>
                    </td>
                    <td style="text-align: left">
                        {{ d.practicasppinscripcion.inscripcion.persona.nombre_completo_inverso }}<br>
                        <i class="fas fa-id-card-alt"></i> {% if d.practicasppinscripcion.inscripcion.persona.cedula %}{{ d.practicasppinscripcion.inscripcion.persona.cedula }}{% else %}{{ d.practicasppinscripcion.inscripcion.persona.pasaporte }}{% endif %}
                    </td>
                    <td style="text-align: left">
                        <i class="fa fa-envelope"></i> {{ d.practicasppinscripcion.inscripcion.persona.emailinst }}<br>
                        <i class="fa fa-envelope"></i> {{ d.practicasppinscripcion.inscripcion.persona.email }}<br>
                        <i class="fa fa-phone"></i> {{ d.practicasppinscripcion.inscripcion.persona.telefono }}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td style="text-align: center" colspan="5">NO EXISTEN REGISTROS</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>