{% extends "basebs.html" %}
{% load humanize %}
{% block heading %}
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet"/>
    <link href="/static/widget_ppp.css" rel="stylesheet"/>
    <style type="text/css">
        .searchinput {
        {% if search %}
            max-width: 250px !important;
        {% else %}
            max-width: 280px !important;
        {% endif %}
            min-width: 100px !important;
        }

        .radio label,
        .checkbox label {
            display: inline-block;
            cursor: pointer;
            color: #0074D9;
            position: relative;
            padding: 5px 15px 5px 51px;
            font-size: 1em;
            border-radius: 5px;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .radio label:hover,
        .checkbox label:hover {
            background: rgba(255, 65, 54, 0.1);
        }

        .radio label:before,
        .checkbox label:before {
            content: "";
            display: inline-block;
            width: 17px;
            height: 17px;
            position: absolute;
            left: 15px;
            border-radius: 50%;
            background: none;
            border: 3px solid #0074D9;
        }

        input[type="radio"] {
            display: none;
        }

        input[type="radio"]:checked + label:before {
            display: none;
        }

        input[type="radio"]:checked + label {
            padding: 5px 15px;
            background: #0074D9;
            border-radius: 2px;
            color: #fff;
        }

        .checkbox label:before {
            border-radius: 3px;
        }

        .checkbox input[type="checkbox"] {
            display: none;
        }

        .checkbox input[type="checkbox"]:checked + label:before {
            display: none;
        }

        .checkbox input[type="checkbox"]:checked + label {
            background: #0074D9;
            color: #fff;
            padding: 5px 15px;
        }
    </style>
    <script>
        var busqueda = function (page/*=undefined*/) {
            var term = $("#searchinput").val().trim().toUpperCase();
            var niv = $("#nivel_list").val();
            var c = $("#carrera_list").val();
            var ests = $("#estadosolicitud_list").val();
            page = typeof page == 'undefined' ? 1 : page;
            if (term.length > 0) {
                bloqueointerface();
                location.href = `/adm_complexivo?action=inscritos&id={{ periodoc }}&s=${term}&c=${c}&niv=${niv}&ests=${ests}&page=${page}`;
            } else {
                bloqueointerface();
                location.href = `/adm_complexivo?action=inscritos&id={{ periodoc }}&c=${c}&niv=${niv}&ests=${ests}&page=${page}`;
            }
            return false;
        };
        $(function () {
            $("#search").click(function () {
                busqueda();
            });
            $("select").select2({minimumResultsForSearch: 20});

            $("#carrera_list, #nivel_list, #estadosolicitud_list").change(function () {
                console.log($(this).val())
                busqueda();
            });

            $('#searchinput').keyup(function (e) {
                if (e.keyCode == 13) {
                    busqueda();
                }
            });

            $("#action_min").click(function () {
                $("#panel_filter .panel-body").hide();
                $("#action_min").hide();
                $("#action_max").show();
            });
            $("#action_max").click(function () {
                $("#panel_filter .panel-body").show();
                $("#action_min").show();
                $("#action_max").hide();
            });

            {% if not search and nivelselect == 0 and  carreraselect == 0 and estadosolicitudselect == 0%}
                {#$("#action_min").trigger("click");#}
                $("#action_min").trigger("click");
            {% else %}
                $("#action_max").trigger("click");
            {% endif %}

            $(".action_page").click(function () {
                var page = $(this).attr('page');
                busqueda(page);
            });

            $(".action_clean").click(function () {
                $('#searchinput').val("");
                $('#nivel_list').val("0");
                $('#carrera_list').val("0");
                $('#estadosolicitud_list').val("0");
                busqueda();
            });


        });

        function formModal(id, text, action) {
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    $.unblockUI();
                    if (data.result === true) {
                        $('.panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text);
                        $("#itemspanel").modal({backdrop: 'static', width: '900'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"
            });
        }

    </script>
    <script src="/static/adicionalesjs/formquestion.js?0.24"></script>

{% endblock %}
{% block atras %}/adm_complexivo{% endblock %}
{% block canvas %}


    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-header">
            <h4><i class="fa fa-list"></i> <b class="paneltitle">FORMULARIO MODAL</b></h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal form-modal" autocomplete="off" method="post"
                  enctype="multipart/form-data" action="{{ request.path }}">
                {% csrf_token %}
                <div class="row-fluid panelbody">
                </div>
            </form>
        </div>
    </div>



    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
            <h3>{{ complexivo.nombre }}</h3>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span6'>
            <div class='row-fluid'>
                <h4>{{ title }} </h4>
            </div>
            <div class='row-fluid'>
                <a href="/adm_complexivo?action=addestudiante&id={{ periodoc }}" class='btn btn-success'><i
                        class="fa fa-plus "></i>
                    <t class="hidden-phone hidden-tablet ">Adicionar</t>
                </a>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:;">Reportes <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu pull-left">
                        <li><a href="/adm_complexivo?action=reporte&periodo={{ periodoc }}" target="_self"><i
                                class="fa fa-file-excel-o"></i> Listado de inscritos</a></li>
                    </ul>
                </div>
                <span class="label label-info" style="margin-bottom: 12px"><i class="fa fa-info-circle"
                                                                              aria-hidden="true"></i> {{ countsolicitudas }} Solicitudes</span>
                <span class="label label-success" style="margin-bottom: 12px"><i class="fa fa-check-circle"
                                                                                 aria-hidden="true"></i> {{ countaprobadas }} Aprobadas</span>
                <span class="label label-important" style="margin-bottom: 12px"><i class="fa fa-close"
                                                                                   aria-hidden="true"></i> {{ countnegadas }} Negadas</span>
                <span class="label label-inverse" style="margin-bottom: 12px"><i class="fa fa-list"
                                                                                 aria-hidden="true"></i> {{ counttotales }} totales</span>
            </div>
        </div>
        <div class='span6'>
            <div class="panel panel-sga" id="panel_filter">
                <div class="panel-heading">
                    <h3 class="panel-title">Filtro</h3>
                    <div class="pull-right btn-group">
                        <a style="margin-right: 5px" href="javascript:;" class='btn btn-mini btn-info tu'
                           id="action_min" title="Minimizar"><span class="fa fa-minus"></span></a>
                        <a style="margin-right: 5px" href="javascript:;" class='btn btn-mini btn-info tu'
                           id="action_max" title="Maximizar"><span class="fa fa-plus"></span></a>
                        {% if search or carreraselect or  nivelselect %}
                            <a href="/adm_complexivo?page=1&action=inscritos&id={{ periodoc }}" id='allresults'
                               class='btn btn-mini btn-success tu' title="Todos"><span class="fa fa-refresh"></span></a>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if carreras %}
                        <div class="row-fluid">
                            <div class="span3"><b>Carreras:</b></div>
                            <div class="span9">
                                <form class="form-search">
                                    <select id="carrera_list">
                                        <option value="0" {% if nivelselect == 0 %}selected{% endif %}>TODOS</option>
                                        {% for carrera in carreras %}
                                            <option {% if carreraselect == carrera.id %}selected{% endif %}
                                                    value="{{ carrera.id }}">{{ carrera }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                    {% if niveles %}
                        <div class="row-fluid">
                            <div class="span3"><b>Niveles:</b></div>
                            <div class="span9">
                                <form class="form-search">
                                    <select id="nivel_list">
                                        <option value="0" {% if nivelselect == 0 %}selected{% endif %}>TODOS</option>
                                        {% for nivel in niveles %}
                                            <option {% if nivelselect == nivel.id %}selected{% endif %}
                                                    value="{{ nivel.id }}">{{ nivel }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row-fluid">
                        <div class="span3"><b>Estado Solicitud:</b></div>
                        <div class="span9">
                            <form class="form-search">
                                <select id="estadosolicitud_list" style="width: 100%">
                                    <option value="0" {% if estadosolicitudselect == 0 %}selected{% endif %}>TODAS LAS
                                        SOLICITUDES
                                    </option>
                                    <option value="1" {% if estadosolicitudselect == 1 %}selected{% endif %}>
                                        SOLICITADO
                                    </option>
                                    <option value="2" {% if estadosolicitudselect == 2 %}selected{% endif %}>APROBADAS
                                    </option>
                                    <option value="3" {% if estadosolicitudselect == 3 %}selected{% endif %}>NEGADAS
                                    </option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><b>Buscar:</b></div>
                        <div class="span9">
                            <form class="form-search" onsubmit="return busqueda()">
                                <input class='searchinput' type='text' id='searchinput' value='{{ search }}'
                                       autocomplete="off" placeholder="POR APELLIDOS O DOCUMENTO"/>
                                <a href="javascript:;" id='search' class='btn btn-info'><i
                                        class="fa fa-search "></i></a>
                                {% if search or nivelselect or carreraselect or estadosolicitud %}
                                    <a href="javascript:;" class='btn btn-mini btn-inverse tu action_clean'
                                       title="Limpiar"><span class="fa fa-remove"></span></a>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span12'>
            <table class='table table-bordered' cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th style="width: 250px">Alumno</th>
                    <th style="width: 80px">Nivel</th>
                    <th>Facultad</th>
                    <th style="width: 300px">Carrera</th>
                    <th style="width: 100px; text-align: center">Fecha</th>
                    <th style="width: 100px; text-align: center">Estado</th>
                    <th style="width: 100px; text-align: center">Petición</th>
                    <th style="width: 80px"></th>
                </tr>
                </thead>
                <tbody>
                {% for so in solicitudes %}
                    <tr>
                        <td>{{ so.inscripcion.persona }}</td>
                        <td>{{ so.inscripcion.mi_nivel }}</td>
                        <td>{{ so.inscripcion.coordinacion }}</td>
                        <td>{{ so.inscripcion.carrera }}</td>
                        <td style="text-align: center">
                            {% if so.ultimosemestre %}
                                {{ so.ultimosemestre|date:"d-m-Y" }}
                            {% endif %}
                        </td>
                        <td style="text-align: center"><b><span
                                class="label label-{% if so.estadosolicitud == 1 %}info{% elif so.estadosolicitud == 2 %}success{% else %}important{% endif %} tu"
                                data-original-title="Estado">{{ so.get_estadosolicitud_display }}</span></b></td>
                        <td style="text-align: center">
                            {% if so.solicituddecano %}
                                <a href="{{ so.solicituddecano.url }}" target="_blank"><i class="fa fa-arrow-down"></i>
                                    Descargar</a>
                            {% else %}
                                No existe archivo
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                    Acciones
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-right " style="text-align: left">
                                    {% if so.estadosolicitud == 1 %}
                                        <li>
                                            <a href="/adm_complexivo?action=edit_estado&est=2&id={{ so.id }}&idins={{ idins }}"><i
                                                    class="fa fa-check-circle"></i> Aprobar </a>
                                        </li>
                                        <li>
                                            <a href="/adm_complexivo?action=edit_estado&est=3&id={{ so.id }}&idins={{ idins }}"><i
                                                    class="fa fa-close"></i> Negar </a>
                                        </li>
                                    {% endif %}
                                    {% if so.estadosolicitud == 2 %}
                                        <li>
                                            <a href="/adm_complexivo?action=edit_estado&est=3&id={{ so.id }}&idins={{ idins }}"><i
                                                    class="fa fa-close"></i> Negar </a>
                                        </li>
                                    {% endif %}
                                    {% if so.estadosolicitud == 3 %}
                                        <li>
                                            <a href="/adm_complexivo?action=edit_estado&est=2&id={{ so.id }}&idins={{ idins }}"><i
                                                    class="fa fa-check-circle"></i> Aprobar </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a onclick="formModal('{{ so.id }}','MOVER INSCRITO','mover')"
                               href="javascript:void(0);">
                                            <i class="fa fa-refresh"></i> Mover</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            NO EXISTEN SOLICITUDES REGISTRADAS
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">
            {% if paging.num_pages > 25 %}
                <div class='pagination'>
                    <ul>
                        {% if paging.primera_pagina %}
                            <li><a href="javascript:;" class="action_page" page="1">1</a></li>
                            <li><a href="javascript:;" class="action_page"
                                   page="{{ paging.ellipsis_izquierda }}">...</a></li>
                        {% endif %}
                        {% for pagenumber in paging.paginas %}
                            <li {%  if pagenumber == page.number %}class="active"{% endif %}><a
                                    href="javascript:;" class="action_page" page="{{ pagenumber }}">{{ pagenumber }}</a>
                            </li>
                        {% endfor %}
                        {% if paging.ultima_pagina %}
                            <li><a href="javascript:;" page="{{ paging.ellipsis_derecha }}" class="action_page">...</a>
                            </li>
                            <li><a href="javascript:;" page="{{ paging.num_pages }}"
                                   class="action_page">{{ paging.num_pages }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <div class='pagination'>
                    <ul>
                        {% for pagenumber in paging.page_range %}
                            <li {%  if pagenumber == page.number %}class="active"{% endif %}><a
                                    href="javascript:;" page="{{ pagenumber }}" class="action_page">{{ pagenumber }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

