{% load sga_extras %}
{% with listadoevidencias=actividad.criteriodocenciaperiodo|args:data.distributivo.profesor|args:data.finicresta|args:data.ffincresta|call:'horario_evidencia_moodle' %}
    <div align="left" style="font-size: 10px"><strong>NOTA:</strong>
        Este documento muestra las actividades finalizadas 5 días antes de la fecha de inicio y fin de los parámetros generados en el informe.
    </div>
    <table width="100%" align="center" style="border: 1px solid black; line-height:3px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
        <thead>
        <th bgcolor="#f1f1f1"><b>HORARIO DE LA ACTIVIDAD</b></th>
        <th style="text-align: left" >
            <ol>
                {% for s in listadoevidencias %}
                    {% if forloop.first %}
                        {% for acti in s.0 %}
                            <span class="smaller" style="font-size: 8px">
                                <li>
                                   {{ acti.dia_semana }} - ({{ acti.turno.comienza }} a {{ acti.turno.termina }})
                                </li>
                            </span>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ol>
        </th>
        </thead>
    </table><br>
    <table width="100%" align="center" border="1" style=" font-size:10px; line-height:3px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
        <thead>
        <tr>
            <th style="width: 300px"><b>Nombre de la asignatura</b></th>
            <th style="width: 200px"><b>Actividad</b></th>
            <th style="text-align: center; width: 100px"><b>Fecha inicio</b></th>
            <th style="text-align: center; width: 100px"><b>Fecha fin</b></th>
            <th style="text-align: center; width: 100px"><b>Total enviados</b></th>
            {#            <th style="text-align: center; width: 100px"><b>Total no enviados</b></th>#}
            <th style="text-align: center; width: 100px"><b>Total calificados</b></th>
            <th style="text-align: center; width: 100px"><b>Total no calificados</b></th>
            <th style="text-align: center; width: 100px"><b>Porcentaje</b></th>
        </tr>
        </thead>
        <tbody>
        {#        {% with tareas=profesormateria.materia|args:data.finicresta|args:data.ffincresta|call:"tareas_asignatura_moodle" %}#}
        {% for evidencia in listadoevidencias %}
            {% if not forloop.last %}
                <tr>
                    <td>
                        {{ evidencia.1.asignaturamalla.asignatura.nombre }} - {{ evidencia.1.paralelo }}
                        <br>{{ evidencia.1.asignaturamalla.malla.carrera.nombre }}
                    </td>
                    <td>
                        {{ evidencia.2|default_if_none:""}}
                    </td>
                    <td style="text-align: center">
                        {% if evidencia.11 == 2 %}
                            -
                        {% else %}
                            {{ evidencia.3|date:"d-m-Y"|default_if_none:""}}
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {{ evidencia.4|date:"d-m-Y"|default_if_none:""}}
                    </td>
                    <td style="text-align: center">{{ evidencia.5|default_if_none:"" }}
                        {#                        {% with cant=profesormateria.materia|args:tarea.0|call:"cant_tareas_enviadas_por_tarea_moodle" %}#}
                        {#                            {{ cant|default_if_none:"" }}#}
                        {#                        {% endwith %}#}
                    </td>
                    {#                    <td style="text-align: center">#}
                    {#                        {{ evidencia.6|default_if_none:"" }}#}
                    {##}
                    {#                        {% with cant=profesormateria.materia|args:tarea.0|call:"cant_tareas_no_enviadas_por_tarea_moodle" %}#}
                    {#                            {{ cant|default_if_none:"" }}#}
                    {#                        {% endwith %}#}
                    {#                    </td>#}
                    <td style="text-align: center">
                        {% if evidencia.11 == 2 %}
                            {{ evidencia.6|default_if_none:"" }}
                        {% else %}
                            {{ evidencia.7|default_if_none:"" }}
                        {% endif %}
                        {#                        {% with cant=profesormateria.materia|args:tarea.0|call:"cant_tareas_calificadas_por_tarea_moodle" %}#}
                        {#                            {{ cant|default_if_none:"" }}#}
                        {#                        {% endwith %}#}
                    </td>
                    <td style="text-align: center">
                        {% if evidencia.11 == 2 %}
                            {{ evidencia.7|default_if_none:"" }}
                        {% else %}
                            {{ evidencia.8|default_if_none:"" }}
                        {% endif %}


                        {#                        {% with cant=profesormateria.materia|args:tarea.0|call:"cant_tareas_no_calificadas_por_tarea_moodle" %}#}
                        {#                            {{ cant|default_if_none:"" }}#}
                        {#                        {% endwith %}#}
                    </td>
                    <td style="text-align: center">{{ evidencia.9|default_if_none:"" }}%
                        {#                        {% with porcentaje=profesormateria.materia|args:tarea.0|call:"porcentaje_tareas_calificadas_moodle" %}#}
                        {#                            {{ porcentaje|default_if_none:"" }} %#}
                        {#                        {% endwith %}#}
                    </td>
                </tr>
            {% else %}
                {% if evidencia.11 == 4 %}
                    <tr>
                        <td colspan="8" style="text-align: center;"><strong>NO HAY ACTIVIDADES EJECUTADAS EN LOS PARÁMETROS GENERADOS DEL INFORME</strong></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" style="text-align: center;"><strong>RESUMEN</strong></td>
                        <td style="text-align: center;">{{ evidencia.10|default_if_none:"" }}%</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endwith %}
<br><br>
{% with listadoevidencias=actividad.criteriodocenciaperiodo|args:data.distributivo.profesor|args:data.finicresta|args:data.ffin|call:'horario_evidencia_moodleplan' %}
    <div align="left" style="font-size: 10px"><strong>ACTIVIDADES PLANIFICADAS PENDIENTES POR EJECUTAR</strong>
    </div>
    <table width="100%" align="center" border="1" style=" font-size:10px; line-height:3px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
        <thead>
        <tr>
            <th style="width: 300px"><b>Nombre de la asignatura</b></th>
            <th style="width: 200px"><b>Actividad</b></th>
            <th style="text-align: center; width: 100px"><b>Fecha inicio</b></th>
            <th style="text-align: center; width: 100px"><b>Fecha fin</b></th>
        </tr>
        </thead>
        <tbody>
        {% for evidencia in listadoevidencias %}
            {% if not forloop.last %}
                <tr>
                    <td>
                        {{ evidencia.1.asignaturamalla.asignatura.nombre }} - {{ evidencia.1.paralelo }}
                        <br>{{ evidencia.1.asignaturamalla.malla.carrera.nombre }}
                    </td>
                    <td>
                        {{ evidencia.2|default_if_none:""}}
                    </td>
                    <td style="text-align: center">
                        {% if evidencia.11 == 2 %}
                            -
                        {% else %}
                            {{ evidencia.3|date:"d-m-Y"|default_if_none:""}}
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {{ evidencia.4|date:"d-m-Y"|default_if_none:""}}
                    </td>
                </tr>
            {% else %}
                {% if evidencia.11 == 4 %}
                    <tr>
                        <td colspan="4" style="text-align: center;"><strong>NO HAY ACTIVIDADES PLANIFICADAS EN LOS PARÁMETROS GENERADOS DEL INFORME</strong></td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endwith %}