{% extends "base.html" %}
{% load humanize %}
{% load sga_extras %}
{% block heading %}
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v=1.0.0"></script>
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css?v=1.0.0" type="text/css" media="screen"/>
    <style>
        .alertmenos {
            line-height: 15px;
            padding: 4px 20px 4px 10px;
            margin-bottom: 10px;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
            background-color: #fcf8e3;
            border: 1px solid #fbeed5;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px
        }

        .alertmenos-info {
            color: #3a87ad;
            background-color: #d9edf7;
            border-color: #bce8f1
        }

        .alertmenos-success {
            color: #468847;
            background-color: #dff0d8;
            border-color: #d6e9c6
        }

        .alertmenos-danger, .alertmenos-error {
            color: #b94a48;
            background-color: #f2dede;
            border-color: #eed3d7
        }
    </style>
    <script src="/static/adicionalesjs/formquestion.js?0.24"></script>
    <script type="text/javascript">
        function mostrardiv(idrequisito) {
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: "/comercial",
                data: {'action': 'informeevidencias1', 'idrequisito': idrequisito, 'idinscripcioncohote': {{ inscripcioncohorte.id }}},
                success: function (data) {
                    if (data.result == 'ok') {
                        $.unblockUI();
                        $("#cuerporequisito").html(data.data);
                        {% if not revisaevidencia and not perms.posgrado.puede_aprobar_requisitos_financiamiento %}
                            $('#btnguardar').hide();
                            $('#id_observacion').attr('readonly', true);
                        {% endif %}
                    }
                    if (data.result == 'sin') {
                        $.unblockUI();
                        $("#cuerporequisito").html('<div style="text-align: center" class="alert alert-danger">' + data.mensaje + '</div>');
                    } else {
                        $.unblockUI();
                        $("#cuerporequisito").html(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"
            });
        }

    </script>
{% endblock %}
{% block atras %}{% if sign == "1" %}/comercial?action=leadsmatriculados&s={{ inscripcioncohorte.inscripcionaspirante.persona.cedula }}{% else %}/comercial?s={{ inscripcioncohorte.inscripcionaspirante.persona.cedula }}{% endif %}{% endblock %}
{% block canvas %}
    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
{#                <h3 class="texto-blue">{{ title }}</h3>#}
{#                <h6>Gestión de requisitos de financiamiento</h6>#}
                <h3>{{ inscripcioncohorte.inscripcionaspirante.persona.nombre_completo_inverso|title }}</h3>
                <h6>{{ inscripcioncohorte.cohortes|lower|capfirst }}</h6>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class="col-lg-4 col-md-3 col-sm-12">
            <div class="card-body border-dark-info ms-2">
                <h4>Requisitos del postulante</h4>
                {% for requisito in requisitospos %}
                    {% with ingresoevidencias=requisito|args:inscripcioncohorte|call:'detalle_requisitosmaestriacohorte' %}
                        <div class="listadoevi alertmenos alertmenos-{% if ingresoevidencias.archivo %}{% if ingresoevidencias.ultima_evidencia_aspirante.estado_aprobacion == 2 %}success{% else %}{% if ingresoevidencias.ultima_evidencia_aspirante.estado_aprobacion == 3 %}danger{% else %}info{% endif %}{% endif %}{% else %}warning{% endif %}"
                             idr="{{ requisito.id }}">
                        {% if ingresoevidencias.archivo %}
                            <i class="fa fa-check-circle tu" data-original-title="Si tiene requisito"></i>
                        {% else %}
                            <i class="fa fa-times-circle tu" data-original-title="No tiene requisito"></i>
                        {% endif %}
                    {% endwith %}
                <a href="#" onclick="mostrardiv({{ requisito.id }})">{{ requisito|lower|capfirst }}</a>
                </div>
                {% endfor %}
                <br>
                {% if inscripcioncohorte.subirrequisitogarante %}
                    <h4>Requisitos del garante</h4>
                    {% for requisito in requisitosgar %}
                        {% with ingresoevidencias=requisito|args:inscripcioncohorte|call:'detalle_requisitosmaestriacohorte' %}
                            <div class="listadoevi alertmenos alertmenos-{% if ingresoevidencias.archivo %}{% if ingresoevidencias.ultima_evidencia_aspirante.estado_aprobacion == 2 %}success{% else %}{% if ingresoevidencias.ultima_evidencia_aspirante.estado_aprobacion == 3 %}danger{% else %}info{% endif %}{% endif %}{% else %}warning{% endif %}"
                                 idr="{{ requisito.id }}">
                            {% if ingresoevidencias.archivo %}
                                <i class="fa fa-check-circle tu" data-original-title="Si tiene requisito"></i>
                            {% else %}
                                <i class="fa fa-times-circle tu" data-original-title="No tiene requisito"></i>
                            {% endif %}
                        {% endwith %}
                    <a href="#" onclick="mostrardiv({{ requisito.id }})">{{ requisito|lower|capfirst }}</a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-lg-8 col-md-3 col-sm-12">
            <div class="card-body border-dark-info" id="cuerporequisito">
                {% if inscripcioncohorte.grupo %}
                    <div style="font-size: 12px;text-align: justify">
                        <span style="font-weight: bold"> PERFIL DEL POSTULANTE:</span> {{ inscripcioncohorte.grupo }}
                    </div>
                {% endif %}
                <div style="font-size: 18px;font-weight: bold;text-align: left">
                    Para aprobar o rechazar, favor dar clic en en el requisito.
                </div>
                <table border="0" width="100%">
                    <tr>
                        <td style="width: 10%">
                            <div style="text-align: center" class="alert alert-warning">&nbsp;</div>
                        </td>
                        <td style="width: 90%" valign="left">
                            <div style="text-align: left">Requisito sin evidencia</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%">
                            <div style="text-align: center" class="alert alert-info">&nbsp;</div>
                        </td>
                        <td style="width: 90%" valign="left">
                            <div style="text-align: left">Requisito con evidencia</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%">
                            <div style="text-align: center" class="alert alert-danger">&nbsp;</div>
                        </td>
                        <td style="width: 90%" valign="left">
                            <div style="text-align: left">Requisito rechazado</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%">
                            <div style="text-align: center" class="alert alert-success">&nbsp;</div>
                        </td>
                        <td style="width: 90%" valign="left">
                            <div style="text-align: left">Requisito aprobado</div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

{% endblock %}