{% extends "ajaxform.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block extraheading %}
 <script type="text/javascript">
        var lista_items1 = [];
        $(function() {
            var items = 1;
            $("#id_departamento, #id_participante_select2,#id_observacion").addClass("validate[required]");
            $("#id_departamento").attr("disabled", "disabled");
            $("#tablalistado").hide();
             $('#id_tipo').change(function (){
                 let value = parseInt($(this).val());
                 if (value === 2){
                      $("#id_participante_select2").removeAttr("disabled");
                     $("#id_departamento").attr("disabled", "disabled");

                     $("#tablalistado").hide();
                 }
                 else {
                     $("#id_departamento").removeAttr("disabled");
                     $("#id_participante_select2").attr("disabled", "disabled");
                     $("#tablalistado").show();
                 }
             })

            ItemsDisplay = function (item) {
                if (item.name){
                    var $result = $('<span>' + item.name + '</span>');
                    if (!item.aplica) {
                        $result = $('<span>' + item.name+ ' NO APLICA</span>');
                    }
                    return $result
                }else{
                    return '---------';
                }
             };
            $("#id_participante_select2").select2({
                placeholder: "---------",
                allowClear: true,
                ajax: {
                    url: function (params) {
                        return "{{ request.path }}?action=busquedainstructor&q=" + params.term;
                    },
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            ide: {{ eventoperiodo }}
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        data.aData.forEach(function (item) {
                            if (!item.aplica) { // Reemplaza esto con tu condición
                                item.disabled = true;
                            }
                        });
                        return {
                            results: data.aData,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                         };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: ItemsDisplay, // omitted for brevity, see the source of this page
                templateSelection: ItemsDisplay // omitted for brevity, see the source of this page
            }).on("select2:select", function (evt) {
                $("#id_participante").attr({"value":(evt.params.data.id)});
            });
            $("#id_departamento").change(function() {
                    $(".elementoslisto").remove();
                    items=0;
                    bloqueointerface();
                    $.ajax({
                            type: "GET",
                            url: "{{ request.path }}",
                            data: {'action': 'listadodistributivo',"id":$("#id_departamento").val(), 'ide':{{ eventoperiodo }}},
                            success: function (data) {
                                $.unblockUI();
                                if (data.result === 'ok')
                                {
                                    if (data.results) {
                                        for (var i in data.results){
                                            var dato = data.results[i];
                                            if (dato.aplica) {
                                            $("#contenidopersona").append('<tr class="elementoslisto" id="fila_'+items+'">' +
                                                '<td style="text-align: center">' +
                                                '<label><input type="checkbox" name="selectorinscribir" value="'+dato.id+'"></label>' +
                                                '</td>' +
                                                '<td style="text-align: center" class="regimen"> '+dato.regimen+'/ <br> '+dato.modalidadlaboral+'</td>' +
                                                '<td style="text-align: left" class="nombres">'+dato.apellidos+' <br><b>Cedula:</b>'+dato.cedula+'</td>' +
                                                '<td style="text-align: left" class="cargo">'+dato.cargo+'</td>' +
                                                '</tr>'); }
                                            else {
                                                $("#contenidopersona").append('<tr class="elementoslisto" id="fila_'+items+'">' +
                                                '<td style="text-align: center">' +
                                                '<label><i class="fa fa-warning text-warning" data-bs-toggle="tooltip" title="No aplica con el regimen y/o modalidad requerida"> ' +
                                                '</td>' +
                                                '<td style="text-align: center" class="regimen"> '+dato.regimen+'/ <br> '+dato.modalidadlaboral+'</td>' +
                                                '<td style="text-align: left" class="nombres">'+dato.apellidos+'<br><b>Cedula:</b>'+dato.cedula+'</td>' +
                                                '<td style="text-align: left" class="cargo">'+dato.cargo+'</td>' +
                                                '</tr>');
                                            }
                                            tooltips();
                                            items += 1;
                                        }
                                        $('[data-bs-toggle="tooltip"]').tooltip();
                                    }
                                }
                            },
                            error: function () {
                                $.unblockUI();
                                mensajeWarning("Error de conexion.");
                            },
                            dataType: "json"
                        });
            });
            {% if not modalidadeslab %}
                $('#id_modalidadlaboral').append(new Option('No definido', 0, true, true)).trigger('change');
            {% endif %}
        });
    </script>
{% endblock %}
{% block formdestination %}{{ request.path }}?action=inscritos&id={{ eventoperiodo }}{% endblock %}
{% block formaction %}{{ request.path }}{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addinscribir'/>
    <input type='hidden' name='eventoperiodo' value='{{ eventoperiodo }}'/>
{#    <div class="col-sm-12">#}
{#        <label class="btn btn-info">#}
{#            <input type="radio" name="options" id="check_individual" autocomplete="off" value="2" checked  onclick="seleccionar(this.value)"> <strong>Individual</strong>#}
{#            <span class="fa fa-check"></span>#}
{#        </label>#}
{#        <label class="btn btn-info">#}
{#            <input type="radio" name="options" id="check_grupal" autocomplete="off" value="3" onclick="seleccionar(this.value)"> <strong>Grupal</strong>#}
{#            <span class="fa fa-check"></span>#}
{#        </label>#}
{#    </div>    <br>#}
{% endblock %}
{% block atras %}{{ request.path }}?action=inscritos&id={{ eventoperiodo }}{% endblock %}
{% block formback %}{{ request.path }}?action=inscritos&id={{ eventoperiodo }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}
{% block formsuffix %}
    <div class="col-sm-3"></div>
    <div class='col-sm-9'>
            <table style="width: 100%; margin-right: 20px; " align="center" class='table table-striped table-bordered' id ="tablalistado">
                <thead>
                <tr>
                    <th style="width: 70px;"></th>
                    <th style="width: 70px;"> Regimen / Modalidad </th>
                    <th style="width: 250px;"> Apellidos y Nombres </th>
                    <th style="width: 250px;"> Cargo</th>
                </tr>
                </thead>
                <tbody id="contenidopersona" class="datatable">
                </tbody>
            </table>
        </div>
{% endblock %}
{% block validaciones %}
     if($('#id_tipo').val() == '2') {
                     if ($("#id_participante").val()==0)
                     {
                         $.unblockUI();
                         mensajeWarning('Debe seleccionar un participante');
                         var valid= false;
                         return false;
                     }
     }
     else {
             lista_items1 = [];
             $('input[name=selectorinscribir]:checked').not(":disabled").each(function(){
                 var elemento={
                 iddistributivo: $(this).val()
                 };
                 lista_items1.push(elemento);
             });
             if ($('input[name=selectorinscribir]:checked').length === 0)
             {
                 $.unblockUI();
                 mensajeWarning('Debe seleccionar participante de la tabla');
                 var valid= false;
                 return false;
             }
     }
{% endblock %}