{% extends "ajaxform.html" %}
{% block atras %}{{ request.path }}?action=instructor&id={{ eventoperiodo }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            $("#id_instructor_select2").addClass("validate[required]");
            ItemsDisplay = function (item) {
                if (item.name){
                    return $('<span>' + item.name+ '</span>');
                }else{
                    return '---------';
                }
            };
            $("#id_instructor_select2").select2({
                placeholder: "---------",
                allowClear: true,
                ajax: {
                    url: function (params) {
                        return "{{ request.path }}?action=busquedainstructor&ide={{ eventoperiodo }}&p=1&s=10&q=" + params.term;
                    },
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.aData,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: ItemsDisplay, // omitted for brevity, see the source of this page
                templateSelection: ItemsDisplay // omitted for brevity, see the source of this page
            }).on("select2:select", function (evt) {
                $("#id_instructor").attr({"value":(evt.params.data.id)});
            });
        });
    </script>
{% endblock %}
{% block formdestination %}{{ request.path }}?action=instructor&id={{ eventoperiodo }}{% endblock %}
{% block formaction %}{{ request.path }}{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addinstructor'/>
    <input type='hidden' name='eventoperiodo' value='{{ eventoperiodo }}'/>
    <div class="row">
        <div class="col-lg-6 col-md-4 col-12">
            <a href="{{ request.path }}?action=addnuevoinstructor&id={{ eventoperiodo }}" class="btn btn-mini  btn-xs btn-warning"><i class="fa fa-plus"></i></a>
        </div>
    </div>
{% endblock %}
{% block formback %}{{ request.path }}?action=instructor&id={{ eventoperiodo }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}