{% extends "base.html" %}
{% load humanize %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function () {
            $(".tl").tooltip({position: "center up"});

            $(".btn-abrir").click(function () {
                var tarea = $(this).attr('idt');
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "{{ request.path }}",
                    data: {'action': 'calificar', 'id': tarea},
                    error: function () {
                        $.unblockUI();
                        mensajeWarning("Error al enviar los datos.");
                    },
                    success: function (data) {
                        if (data.result == "ok") {
                            location.href = "{{ request.path }}?action=calificar&id=" + tarea;
                        } else {
                            $.unblockUI();
                            mensajeWarning(data.mensaje);
                        }
                    }
                });
                return false;
            });

            $(".calificageneral").click(function () {
                var instructor = $(this).attr('idt');
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "{{ request.path }}",
                    data: {'action': 'calificageneral', 'id': instructor},
                    error: function () {
                        $.unblockUI();
                        mensajeWarning("Error al enviar los datos.");
                    },
                    success: function (data) {
                        if (data.result == "ok") {
                            location.href = "{{ request.path }}?action=calificageneral&id=" + instructor;
                        } else {
                            $.unblockUI();
                            mensajeWarning(data.mensaje);
                        }
                    }
                });
                return false;
            });


            $(".adicionar").click(function () {
                $('#id_modelo').empty().append('<option value="0">--------Seleccione--------</option>').val(0).trigger("change");
                bloqueointerface();
                var idi = $(this).attr('idi');
                $.ajax({
                    type: "POST",
                    url: "{{ request.path }}",
                    data: {'action': 'modelonotas', 'id': idi},
                    error: function () {
                        $.unblockUI();
                        mensajeWarning("Error al enviar los datos.");
                    },
                    success: function (data) {
                        $.unblockUI();
                        if (data.result == "ok") {
                            $("#inst").val(idi);
                            $("#id_profesor").val(data.instructor);
                            for (elemento in data.modelos) {
                                var dato = data.modelos[elemento];
                                $('#id_modelo').append('<option value="' + dato.id + '">' + dato.nombre + '</option>');
                            }
                            $("#citamodal").modal({backdrop: 'static', width: '400px'}).modal('show');
                        } else {
                            mensajeWarning(data.mensaje);
                        }
                    }
                });
            });


            $("#id_modelo").click(function () {
                $("#mensaje").hide();
            });

            $('#cerrarcitamodal').click(function () {
                $('#citamodal').modal('hide');
            });

            $('#citamodal_run').click(function () {
                var idm = $('#id_modelo').val();
                var idi = $("#inst").val();
                if (idm > 0 && idi > 0) {
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "{{ request.path }}",
                        data: {'action': 'addmodelonotas', 'idm': idm, 'idi': idi},
                        error: function () {
                            $.unblockUI();
                            mensajeWarning("Error al enviar los datos.");
                        },
                        success: function (data) {
                            if (data.result == "ok") {
                                location.reload();
                            } else {
                                $.unblockUI();
                                mensajeWarning(data.mensaje);
                            }
                        }
                    });
                    return false;
                } else {
                    $("#mensaje").show();
                }
            });
        });

        function formModal(id, text, action) {
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    $.unblockUI();
                    if (data.result === true) {
                        $('.panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text);
                        $("#itemspanel").modal({backdrop: 'static', width: '100%'}).modal('show');
                    } else {
                        alert(data.mensaje)
                    }
                },
                error: function () {
                    $.unblockUI();
                    mensajeWarning("Error de conexión.");
                },
                dataType: "json"
            });
        }


    </script>
    <script src="/static/adicionalesjs/formquestionb4.js?0.24"></script>
{% endblock %}
{% block atras %}{{ request.path }}?action=instructor&id={{ idinstructor }}{% endblock %}
{% block canvas %}

{#    <div class="modal fade static" id="itemspanel" style="display: none;">#}
{#        <div class="modal-header">#}
{#            <h4><i class="fa fa-list"></i> <b class="paneltitle">FORMULARIO MODAL</b></h4>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#            <form id="form2" class="form-horizontal form-modal" autocomplete="off" method="post"#}
{#                  enctype="multipart/form-data" action="{{ request.path }}" >#}
{#                {% csrf_token %}#}
{#                <div class="row-fluid panelbody">#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}


    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><b class="paneltitle">FORMULARIO MODAL</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" method="post" enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="panelbody"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3 class="texto-blue">{{ title }}</h3>
                <h6>Periodo: {{ evento.periodo }}</h6>
                <h6>Planificación: {{ evento.capevento }}; Fecha: {{ evento.fechainicio|date:"d-m-Y" }}
                - {{ evento.fechafin|date:"d-m-Y" }}</h6>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class='card mb-4'>
        <div class='card-body border-top border-6 rounded-3 border-dark-info'>
            {% for instructor in instructores %}
                ({{ instructor.id }})
                <br>
                <table class='tabla_responsive table table-bordered table-striped'>
                    <thead>
                    <tr>
                        <th colspan="10">PROFESOR: {{ instructor.instructor.nombre_completo_inverso }}
                                {% if modeloevaluativogeneral %}

                                    <a class="btn-mini btn-xs btn btn-warning "  href='javascript:;'
                                       onclick="formModal('{{ instructor.id }}','Confirmar Modelo Evaluativo','confimodelogeneral')"><i
                                            class="fa fa-plus"></i></a>
                                {% else %}
                                    <a class="btn-mini btn-xs btn btn-success adicionar" href='javascript:;'
                                       idi="{{ instructor.id }}"><i class="fa fa-plus"></i></a>
                                {% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th style="width: 100px; text-align: center">Fecha</th>
                        <th style="width: 400px">Evaluativo</th>
                        <th style="width: 70px; text-align: center">Calificados</th>
                        <th style="width: 100px;text-align: center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notamodelo in instructor.notas_por_instructor %}
                        <tr>
                            <td style="text-align: center">{{ notamodelo.fecha|date:"d-m-Y" }}</td>
                            <td>{{ notamodelo.modelo }} <br> ({{ notamodelo.modelo.id}})  </td>
                            <th style="text-align: center">
                                <span class="badge badge-success">{{ notamodelo.contar_calificados }} / {{ notamodelo.instructor.capeventoperiodo.contar_inscripcion_evento_periodo }}</span>
                            </th>
                            <td style="text-align: center">

                                    {% if not notamodelo.existen_calificados %}
                                        <a href="javascript:;"
                                           nhref="{{ request.path }}?action=delmodelonota&id={{ notamodelo.id }}"
                                           class="btn btn-danger btn-mini eliminacionmodal tu" title="Eliminar"><i
                                                class="fa fa-remove"></i></a>
                                    {% endif %}
                                    <a href="javascript:;" idt="{{ notamodelo.id }}"
                                       class="btn btn-mini btn-success btn-abrir tu" title="Calificar"><i
                                            class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    {% empty %}
                    {% endfor %}
                        {% if instructor.notas_por_instructor %}
                            <tr>
                                <td colspan="2" STYLE="text-align: right">ACCIONES GENERALES</td>
                                <td colspan="2" STYLE="text-align: center"><a href="javascript:;"
                                                                              idt="{{ instructor.id }}"
                                                                              class="btn btn-mini btn-warning calificageneral tu"
                                                                              title="Calificación General"><i
                                        class="fa fa-pencil"></i> Calificación General</a></td>
                            </tr>
                        {% endif %}
                    </tbody>
                    {% if not instructor.notas_por_instructor %}
                        <tbody>
                        <tr>
                            <td colspan="4" STYLE="text-align: center">NO EXISTEN NOTAS REGISTRADAS</td>
                        </tr>
                        </tbody>
                    {% endif %}
                </table>
            {% endfor %}
        </div>
    </div>
    </div>




{#    <div class="modal fade static" id="citamodal" style="display: none;">#}
{#        <div class="modal-header">#}
{#            <h4 id="paneltitle">Adicionar modelo de notas</h4>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#            <form id="formulario1" class='form-horizontal'>#}
{#                {% for field in form %}#}
{#                    <fieldset class="control-group nomargins">#}
{#                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>#}
{#                        <div class="controls">#}
{#                            {{ field }}#}
{#                        </div>#}
{#                    </fieldset>#}
{#                {% endfor %}#}
{#            </form>#}
{#            <div class="alert alert-danger" id="mensaje" style="display:none; text-align: center;font-size: 12px"><b>Seleccione#}
{#                un modelo de evaluación</b></div>#}
{#        </div>#}
{#        <div class="modal-footer">#}
{#            <input type='hidden' id="inst" name='inst' value='0'/>#}
{#            <a href="javascript:;" id="citamodal_run" class="btn btn-success">Adicionar</a>#}
{#            <a href="javascript:;" id="cerrarcitamodal" class="btn">Cerrar</a>#}
{#        </div>#}
{#    </div>#}


    <div class="modal fade static" id="citamodal" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><b class="paneltitle">Adicionar modelo de notas</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formulario1" class='form-horizontal'>
                        {% for field in form %}
                            <fieldset class="control-group nomargins">
                                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                <div class="controls">
                                    {{ field }}
                                </div>
                            </fieldset>
                        {% endfor %}
                    </form>
                    <div class="alert alert-danger" id="mensaje" style="display:none; text-align: center;font-size: 12px"><b>Seleccione
                        un modelo de evaluación</b></div>
                </div>
                <div class="modal-footer">
                    <p style="text-align: right; margin-bottom: 0">
                        <input type='hidden' id="inst" name='inst' value='0'/>
                        <a href="javascript:;" id="citamodal_run" class="btn btn-success">Adicionar</a>
                        <a href="javascript:;" id="cerrarcitamodal" class="btn">Cerrar</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

