{% extends "base.html" %}
{% load humanize %}
{% load sga_extras %}
{% block heading %}
	<script type="text/javascript">

        const openForm = (id, action, title) =>{
            bloqueointerface();
            const aData = { action: action, id:id, idp: '{{ eCapPeriodoDocente.id|encrypt }}' }
            $.ajax({
                type: "GET",
                url: "{{ request.path }}",
                data: aData,
                success: function(response) {
                    if (response.result) {
                        $("#modalForm").modal({backdrop:'static'}).modal('show');
                        $(".modal-title", $("#modalForm")).html(title);
                        $(".modal-body div", $("#modalForm")).html(response.html);
                        $.unblockUI();
                    }
                    else{
                        NotificationJG.error(response.message);
                        $.unblockUI();
                    }
                },
                error: function() {
                    $.unblockUI();
                    NotificationJG.error("Error al enviar los datos.");
                },
                dataType: "json",
            });
        }


        $(function() {
            $(".tl").tooltip({position:"center up"});

            $(".btn-cerrar", $("#modalForm")).click(function() {
                $("#modalForm").modal("hide");
                // return false;
            });

             $(".reporteactividades").click(function (){
                $.get("{{ request.path }}", {'action': 'reporteactividades','id':'{{ eCapPeriodoDocente.id }}'}, function (data) {
                    if (data.result) {
                        mensajeSuccess(data.mensaje)
                    } else {
                        mensajeWarning(data.mensaje)
                    }
                }, 'json');
            });

        });
	</script>
{% endblock %}
{% block atras %}{{ request.path }}{% endblock %}
{% block canvas %}

	<div class='row'>
		<div class='col-lg-12'>
			<div class="headtitle">
				<h3 class="texto-blue">{{ title }}</h3>
				<h6>Período: {{ eCapPeriodoDocente }}</h6>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<div class='row'>
			<div class="col-lg-6 col-md-4 col-12">
				<a class="btn btn-primary " onclick="openForm('{{ 0|encrypt }}', 'loadFormEncuesta', 'Agregar encuesta de satisfacción')" href="javascript:;"><i class="fa fa-plus"></i> Adicionar</a>
				<a class="btn btn-default reporteactividades" href="javascript:;"><i class="fa fa-file-pdf"></i> Resultados</a>
			</div>

			<!--<div class="col-lg-6 col-md-4 col-12">
				<div class="input-group mb-2">
					<input class='form-control' type='text' id='searchinput' value='{{ search }}' autocomplete="off" />
					<div class="input-group-append">
						<a class="btn btn-primary" href="javascript:;" id="search"><span class="fa fa-search"></span></a>
						{% if search or ids %}
							<a title="Ver todo" href="{{ request.path }}?action=planificacion&id={{ eCapPeriodoDocente.id }}" id='allresults' class="btn btn-default tr">
								<i class="fas fa-sync-alt"></i></a>
						{% endif %}
					</div>
				</div>
			</div>-->

		</div>
		<div class='card mb-4'>
			<div class='card-body border-top border-6 rounded-3 border-dark-info'>
				<table class='tabla_responsive table table-bordered table-striped'>
					<thead>
					<tr>
						<th style="width: 60%; text-align: center" >Nombre</th>
						<th style="width: 30%; text-align: center" >¿Está Vigente?</th>
						<th style="width: 10%; text-align: center">Acciones</th>
					</tr>
					</thead>
					<tbody>
					{% for eCapEncuesta in eCapEncuestas %}
						<tr>
							<td style='text-align: left; vertical-align: middle'>
								{{ eCapEncuesta.nombre }}
							</td>
							<td style='text-align: center; vertical-align: middle'>
								{% if eCapEncuesta.isVigente %}
									<span class="label label-success tu" title="Vigente">SI</span>
								{% else %}
									<span class="label label-danger tu" title="No Vigente">NO</span>
								{% endif %}
							</td>
							<td style="text-align: center; vertical-align: middle">
								<div class="dropdown dropstart">
									<a href="javascript:void(0);"
									   class="btn-icon btn btn-ghost btn-sm rounded-circle"
									   data-bs-toggle="dropdown" data-offset="-140"
									   aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-ellipsis-v"></i>
									</a>
									<ul class="dropdown-menu" x-placement="right-start">
										<li>
											<a href="javascript:void(0)"
											   onclick="openForm('{{ eCapEncuesta.id|encrypt }}', 'loadFormEncuesta', 'Encuesta de satisfacción')"
											   class="dropdown-item"><span class="fa fa-pen-alt dropdown-item-icon"></span> Editar <label class="label tu"></label>
											</a>
										</li>
										<li>
											<a href="{{ request.path }}?action=listPreguntas&id={{ eCapEncuesta.id|encrypt }}" class="dropdown-item bloqueo_pantalla">
												<span class="fa fa-list dropdown-item-icon"></span> Preguntas <label class="label tu"></label>
											</a>
										</li>

									</ul>
								</div>
							</td>
						</tr>
						{% empty %}
						<tr>
							<td colspan="4">NO EXISTEN DATOS REGISTRADOS</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="card-footer border-top-0">
				{% include 'paginacionb4.html' %}
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header p-3">
					<h5 class="modal-title" id="modalFormLabel"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form class="form-horizontal form-modal" id="formModal" autocomplete="off" action="javascript:;">
						{% csrf_token %}
						<div class="panel-body m-3">
						</div>
					</form>
				</div>
				<!--<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary action-save">Guardar</button>
                </div>-->
			</div>
		</div>
	</div>

{% endblock %}

