{% extends "base.html" %}
{% load humanize %}
{% block heading %}
	<script type="text/javascript">
        $(function() {
            $(".tl").tooltip({position:"center up"});
            $("#search").click(function() {
                var term = $("#searchinput").val().toUpperCase();
                location.href = "{{ request.path }}?action=planificacion&id={{ eCapPeriodoDocente.id }}&s="+term;
            });
            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });
            $('.cupos').blur(function(){
                var elemento = $(this);
                var mid;
                var valoranterior = elemento.attr("va");
                var valoractual = elemento.val();
                if (valoractual!=valoranterior){
                    mid = elemento.attr("eid");
                    bloqueointerface();
                    $.post("{{ request.path }}", {'action': 'updatecupo', 'eid': mid, 'vc': valoractual}, function(data) {
                        $.unblockUI();
                        if (data.result=='ok') {
                            elemento.attr({'va': data.valor});
                            elemento.val(data.valor);
                            location.reload();
                        } else {
                            elemento.val(valoranterior);
                            mensajeWarning(data.mensaje);
                        }
                    }).error(function(){
                        $.unblockUI();
                        elemento.val(valoranterior);
                        mensajeWarning("Fallo al cambiar el cupo");
                    });
                }
            });
            $('.publicar_evento').click(function(){
                id = $(this).attr('eid');
                if ($(this).is(':checked')){
                    valor = 'y';
                } else {
                    valor = 'n';
                }
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "{{ request.path }}",
                    data: {'action': 'bloqueopublicacion', 'id': id, 'val': valor},
                    success: function(data) {
                        if (data.result == 'ok') {
                            $.unblockUI();
                        } else {
                            $.unblockUI();
                            if (valor=='y'){
                                $("#publicar_evento_"+id).prop('checked', false);
                            } else {
                                $("#publicar_evento_"+id).prop('checked', true);
                            }
                            mensajeWarning(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        if (valor=='y'){
                            alert();
                            $("#publicar_evento_"+id).prop('checked', false);
                        } else {
                            $("#publicar_evento_"+id).prop('checked', true);
                        }
                        mensajeWarning("Error al enviar los datos.");
                    },
                    dataType: "json"
                });
            });
            $(".mostrardetalle_view").click(function() {
                $("#aprobarcerrar").css('display', 'none');
                var id = $(this).attr('ide');
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "{{ request.path }}",
                    data: {'action': 'verdetalleevento', 'id': id},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            console.log('si llega resultado')
                            $(".panelbody").html(data.data);
                            $("#itemspanel").modal({backdrop:'static', width: '1000px'}).modal('show');
                        } else {
                            mensajeWarning(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        mensajeWarning("Error de conexión.");
                    },
                    dataType: "json"
                });
            });
            $("#itemspanel .btn-cerrar").click(function() {
                $("#itemspanel").modal("hide");
                return false;
            });
            $(".reporteasistenciapdf").click(function() {
                var id = $(this).attr('idr');
                openwindow('POST' ,'{{ request.path }}', {action: 'reporte_asistencia','id':id},'_blank');
            });
            $(".matrizgeneralcapacitaciones").click(function (){
                var idp = $(this).attr('idp');
                $.get("{{ request.path }}", {'action': 'reportegeneral', 'id':idp}, function (data) {
                    if (data.result) {
                        $('#btnNotificacionTareas').html(data.btn_notificaciones);
                        mensajeSuccess(data.mensaje)
                    } else {
                        mensajeWarning(data.mensaje)
                    }
                }, 'json');
            });

            $(".matrizgeneralinscritoscapacitaciones").click(function (){
                var idp = $(this).attr('idp');
                $.get("{{ request.path }}", {'action': 'reporteinscritosgeneral', 'id':idp}, function (data) {
                    if (data.result) {
                        $('#btnNotificacionTareas').html(data.btn_notificaciones);
                        mensajeSuccess(data.mensaje)
                    } else {
                        mensajeWarning(data.mensaje)
                    }
                }, 'json');
            });

            $(".matrizgeneralinscritosfacultadcapacitaciones").click(function (){
                var idp = $(this).attr('idp');
                $.get("{{ request.path }}", {'action': 'reporteinscritosfacultad', 'id':idp}, function (data) {
                    if (data.result) {
                        $('#btnNotificacionTareas').html(data.btn_notificaciones);
                        mensajeSuccess(data.mensaje)
                    } else {
                        mensajeWarning(data.mensaje)
                    }
                }, 'json');
            });

            $(".matriztotalinscritosfacultad").click(function (){
                var idp = $(this).attr('idp');
                $.get("{{ request.path }}", {'action': 'reportetotalfacultad', 'id':idp}, function (data) {
                    if (data.result) {
                        $('#btnNotificacionTareas').html(data.btn_notificaciones);
                        mensajeSuccess(data.mensaje)
                    } else {
                        mensajeWarning(data.mensaje)
                    }
                }, 'json');
            });

            $(".matrizgeneralinscritoscarreracapacitaciones").click(function (){
                var idp = $(this).attr('idp');
                $.get("{{ request.path }}", {'action': 'reporteinscritoscarrera', 'id':idp}, function (data) {
                    if (data.result) {
                        $('#btnNotificacionTareas').html(data.btn_notificaciones);
                        mensajeSuccess(data.mensaje)
                    } else {
                        mensajeWarning(data.mensaje)
                    }
                }, 'json');
            });

            $(".matrizaprobadoscapacitaciones").click(function (){
                var idp = $(this).attr('idp');
                $.get("{{ request.path }}", {'action': 'reportecapacitacionesaprobadas', 'id':idp}, function (data) {
                    if (data.result) {
                        $('#btnNotificacionTareas').html(data.btn_notificaciones);
                        mensajeSuccess(data.mensaje)
                    } else {
                        mensajeWarning(data.mensaje)
                    }
                }, 'json');
            });




        });
	</script>
{% endblock %}
{% block atras %}{{ request.path }}{% endblock %}
{% block canvas %}
	<div class='row'>
		<div class='col-lg-12'>
			<div class="headtitle">
				<h3 class="texto-blue">{{ title }}</h3>
				<h6>Período: {{ eCapPeriodoDocente }}</h6>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class='row'>
			<div class="col-lg-6 col-md-4 col-12">
				<a class="btn btn-success " href="{{ request.path }}?action=addperiodoevento&id={{ eCapPeriodoDocente.id }}"><i class="fa fa-plus"></i> Adicionar</a>
				<div class="btn-group dropleft">
					<button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-file-excel"></i> Reportes <i class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu" x-placement="right-start">

						<li class="dropdown-item"><a class="matrizgeneralcapacitaciones tu" idp="{{ eCapPeriodoDocente.id }}"><i class="fa fa-table"></i> Reporte general de inscritos capacitaciones</a></li>
						<li class="dropdown-item"><a class="matrizaprobadoscapacitaciones tu" idp="{{ eCapPeriodoDocente.id }}"><i class="fa fa-table"></i> Reporte de capacitaciones aprobadas</a></li>
						<li class="dropdown-item"><a class="matrizgeneralinscritoscapacitaciones tu" idp="{{ eCapPeriodoDocente.id }}"><i class="fa fa-table"></i> Reporte general de aprobación de capacitaciones</a></li>
						<li class="dropdown-item"><a class="matrizgeneralinscritosfacultadcapacitaciones tu" idp="{{ eCapPeriodoDocente.id }}"><i class="fa fa-table"></i> Reporte general de capacitaciones por facultad</a></li>
						<li class="dropdown-item"><a class="matrizgeneralinscritoscarreracapacitaciones tu" idp="{{ eCapPeriodoDocente.id }}"><i class="fa fa-table"></i> Reporte general de capacitaciones por carrera</a></li>
						<li class="dropdown-item"><a class="matriztotalinscritosfacultad tu" idp="{{ eCapPeriodoDocente.id }}"><i class="fa fa-table"></i> Reporte total inscritos por facultad</a></li>

					</ul>
				</div>
				<div class="btn-group dropleft">
					<button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-pencil"></i> Mantenimiento <i class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu" x-placement="right-start">
						<li class="dropdown-item"><a class="tu" href="/adm_capacitaciondocente/gestion?action=listEncuestas&id={{ eCapPeriodoDocente.id }}"><i class="fa fa-table"></i> Encuestas de satisfacción</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-6 col-md-4 col-12">
				<div class="input-group mb-2">
					<input class='form-control' type='text' id='searchinput' value='{{ search }}' autocomplete="off" />
					<div class="input-group-append">
						<a class="btn btn-primary" href="javascript:;" id="search"><span class="fa fa-search"></span></a>
						{% if search or ids %}
							<a title="Ver todo" href="{{ request.path }}?action=planificacion&id={{ eCapPeriodoDocente.id }}" id='allresults' class="btn btn-default tr">
								<i class="fas fa-sync-alt"></i></a>
						{% endif %}
					</div>
				</div>
			</div>

		</div>
		<div class='card mb-4'>
			<div class='card-body border-6 rounded-3'>
				<table class='tabla_responsive table_primary table table-striped'>
					<thead>
					<tr>
						<th style="width: 30px;text-align: center" >Publicar</th>
						<th style="width: 260px" >Evento</th>
						<th style="width: 150px" >Régimen</th>
						<th style="width: 150px" >Enfoque</th>
						<th style="text-align: center;width: 30px" >Ins.</th>
						<th style="text-align: center;width: 30px" >Cupo</th>
						<th style="text-align: center; width: 50px" >Horas Acad.</th>
						<th style="text-align: center;width: 60px" >Inicio / Fin</th>
						<th style="width: 20px;text-align: center" >Inf.</th>
						<th style="width: 60px; text-align: center">Acciones</th>
					</tr>
					</thead>
					<tbody>
					{% for per in evento %}
						<tr>
							<td style='text-align: center'>
								<input class='publicar_evento tu'  id="publicar_evento_{{ per.id }}"  eid='{{ per.id }}' title='Publicar' type='checkbox' {% if per.visualizar %}checked='checked'{% endif %}/>
							</td>
							<td>{{ per.capevento }} - [{{ per.aula.nombre}}] - [{{ per.id}}]<br/>
								<b class="text-success tu" style="color: rgb(13 193 20) !important" title="Código">{{ per.concatenar_codigo }}</b>
								{% if per.minasistencia %}
									<b style="color: #000000" title=" Promedio mínimo de asistencia">Min. Asis. - {{ per.minasistencia }}</b>
								{% endif %}
								{% if per.minnota %}
									<b class="text-info tu" title="Promedio mínimo de nota">Min. Nota - {{ per.minnota }}</b>
								{% endif %}
								{% if not per.hay_cupo_inscribir %}
									<b class="text-danger tu" title="Cupo Lleno">Cupo Lleno</b>
								{% endif %}
								{% if per.encuesta %}
									{% with encuesta=per.estadistica_encuesta  %}
										<div class="row mt-2">
											<!-- col -->
											<div class="col-lg-4 col-md-12 col-12">
												<div class="d-flex align-items-center justify-content-between p-1">
													<div>
														<h3 class="h4 fw-bold mb-0">{{ encuesta.total }}</h3>
														<p class="mb-0 fs-6">Total a encuestar</p>
													</div>
												</div>
											</div>
											<!-- col -->
											<div class="col-lg-4 col-md-12 col-12 border-start-md">
												<div class="d-flex align-items-center justify-content-between p-1">
													<div>
														<h3 class="h4 fw-bold mb-0">{{ encuesta.encuestados }}</h3>
														<p class="mb-0 fs-6">Total encuestados</p>
													</div>
												</div>
											</div>
											<!-- col -->
											<div class="col-lg-4 col-md-12 col-12 border-start-md">
												<div class="d-flex align-items-center justify-content-between p-1">
													<div>
														<h3 class="h4 fw-bold mb-0">{{ encuesta.faltantes }}</h3>
														<p class="mb-0 fs-6">Total faltantes</p>
													</div>
												</div>
											</div>
										</div>
									{% endwith %}
								{% endif %}
							</td>
							<td>{{ per.regimenlaboral }}
                            {% if per.modalidadlaboral.exists %}
                                <br><br>
                            <b>Dirigido a:</b>
                                {% for modalidadlaboral in per.modalidadlaboral.all %}
                                <li>{{ modalidadlaboral|lower|capfirst }}</li>
                                {% endfor %}

                            {% endif %}
                            </td>
							<td>{{ per.enfoque }}</td>
							<td style="text-align: center;">{{ per.contar_inscripcion_evento_periodo }}</td>
							{% if not per.hay_cupo_inscribir %}
								<td style="text-align: center;"><input class="form-imput input-mini" style="text-align: center;" type="text"  value="{{ per.cupo}}" disabled></td>
							{% else %}
								<td style="text-align: center;"><input class="form-imput input-mini cupos" style="text-align: center;" eid="{{ per.id }}" type="text" va="{{ per.cupo}}" value="{{ per.cupo }}"></td>
							{% endif %}
							<td style="text-align: center;">{{ per.horas }}</td>
							<td style="text-align: center">{{ per.fechainicio|date:"d-m-Y"}}<br>{{ per.fechafin|date:"d-m-Y" }}</td>
							<td style='text-align: center'>
								<a class="btn btn-mini btn-info mostrardetalle_view tu" title="Ver Detalle" href="javascript:;" ide="{{ per.id }}"><i class="fa fa-list"></i></a>
							</td>
							<td style="text-align: center">
								<div class="btn-group dropleft" >
									<button class="btn-icon btn btn-ghost btn-sm rounded-circle dropdown-toggle"
											type="button" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
									</button>
									<ul class="dropdown-menu" x-placement="right-start">
										<li class="dropdown-item"><a href="{{ request.path }}?action=editperiodoevento&id={{ per.id }}"><span class="fa fa-edit "></span> Editar</a></li>
										{#                                    {% if not per.puede_eliminar_planificacion_evento %}#}
										{% if per.puede_eliminar_evento %}
											<li class="dropdown-item"><a class="eliminacionmodal" href="javascript:;"  nhref="{{ request.path }}?action=delperiodoevento&id={{ per.id }}"><span class="fa fa-remove"></span> Eliminar</a></li>
										{% endif %}
										<li class="dropdown-item"><a href="{{ request.path }}?action=instructor&id={{ per.id }}"><span class="fa fa-user"></span> Instructor</a></li>
										<li class="dropdown-item"><a href="{{ request.path }}?action=horario&id={{ per.id }}"><span class="fa fa-calendar"></span> Horarios</a></li>
										<li class="dropdown-item"><a href="{{ request.path }}?action=inscritos&id={{ per.id }}"><span class="fa fa-list"></span> Inscritos</a></li>
										<li class="dropdown-item"><a href="{{ request.path }}?action=asistencia&id={{ per.id }}"><span class="fa fa-calendar"></span> Asistencia</a></li>
										<li class="dropdown-item"><a href="{{ request.path }}?action=listafirmas&id={{ per.id }}"><span class="fa fa-group"></span> Otras firmas</a></li>
										{#                                    {% if per.exiten_inscritos_aprobado %}#}
										{#                                        <li class="dropdown-submenu dropdown-item">#}
										{#                                            <a href="javascript:;"><i class="fa fa-refresh"></i> Actualizaciones moodle</a>#}
										{#                                            <ul class="dropdown-menu" x-placement="right-start">#}
										{#                                                <li class="dropdown-item"><a class="confirmacionmodal" href="javascript:;" nhref='{{ request.path }}?action=confirmar_actualizacion_modelo&clave=todo&id={{ per.id }}'><span class="fa fa-retweet" ></span> Crear curso moodle</a></li>#}
										{#                                            </ul>#}
										{#                                        </li>#}
										{#                                    {% endif %}#}
										{#                                    {% if per.exiten_inscritos_aprobado %}#}
										{#                                        <li class="dropdown-submenu dropdown-item">#}
										{#                                            <a style="text-align: left;" href="javascript:;"><span class="fa fa-print" ></span> Reportes</a>#}
										{#                                            <ul class="dropdown-menu" x-placement="left-start">#}
										{#                                                {% if reporte_0 %}#}
										{#                                                    <li class="dropdown-item"><a href="javascript:;" tipos="{{ reporte_0.tiporeporte }}" nhref="/reportes?action=run&n={{ reporte_0.nombre }}&periodoevento={{ per.id }}&estadosolicitud={{aprobado_capacitacion}}" class="reportedirecto"><span class="fa fa-list"></span> Inscritos</a> </li>#}
										{#                                                {% endif %}#}
										{#                                                {% if per.exiten_asistencia %}#}
										{#                                                    <li class="dropdown-item"><a class="reporteasistenciapdf tu" href="javascript:;" idr="{{ per.id }}"><i class="fa fa-table"></i>Asistencia pdf</a></li>#}
										{#                                                {% endif %}#}
										{#                                            </ul>#}
										{#                                        </li>#}
										{#                                    {% endif %}#}
									</ul>
								</div>
							</td>
						</tr>
						{% empty %}
						<tr>
							<td colspan="10">NO EXISTEN FICHAS REGISTRADAS</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="card-footer border-top-0">
				{% include 'paginacionb4.html' %}
			</div>
		</div>
		{#        <div class='card mb-4'>#}
		{#            <div class='card-body border-top border-6 rounded-3 border-dark-info'>#}
		{#                <table class='tabla_responsive table table-bordered table-striped'>#}
		{#                <thead>#}
		{#                <tr>#}
		{#                    <th style="width: 30px;text-align: center" >Publicar</th>#}
		{#                    <th style="width: 260px" >Evento</th>#}
		{#                    <th style="width: 150px" >Régimen</th>#}
		{#                    <th style="width: 150px" >Enfoque</th>#}
		{#                    <th style="text-align: center;width: 30px" >Ins.</th>#}
		{#                    <th style="text-align: center;width: 30px" >Cupo</th>#}
		{#                    <th style="text-align: center; width: 50px" >Horas Acad.</th>#}
		{#                    <th style="text-align: center;width: 60px" >Inicio / Fin</th>#}
		{#                    <th style="width: 20px;text-align: center" >Inf.</th>#}
		{#                    <th style="width: 60px; text-align: center">Acciones</th>#}
		{#                </tr>#}
		{#                </thead>#}
		{#                <tbody>#}
		{#                {% for per in evento %}#}
		{#                    <tr>#}
		{#                        <td style='text-align: center'>#}
		{#                            <input class='publicar_evento tu'  id="publicar_evento_{{ per.id }}"  eid='{{ per.id }}' title='Publicar' type='checkbox' {% if per.visualizar %}checked='checked'{% endif %}/>#}
		{#                        </td>#}
		{#                        <td>{{ per.capevento }} - [{{ per.aula.nombre}}] - [{{ per.id}}]<br/>#}
		{#                            <span class="label label-success tu" title="Código">{{ per.concatenar_codigo }}</span>#}
		{#                            {% if per.minasistencia %}#}
		{#                                <span class="label label-inverse tu" title=" Promedio mínimo de asistencia">Min. Asis. - {{ per.minasistencia }}</span>#}
		{#                            {% endif %}#}
		{#                            {% if per.minnota %}#}
		{#                                <span class="label label-info tu" title="Promedio mínimo de nota">Min. Nota - {{ per.minnota }}</span>#}
		{#                            {% endif %}#}
		{#                            {% if not per.hay_cupo_inscribir %}#}
		{#                                <span class="label label-important tu" title="Cupo Lleno">Cupo Lleno</span>#}
		{#                            {% endif %}#}
		{#                        </td>#}
		{#                        <td>{{ per.regimenlaboral }}</td>#}
		{#                        <td>{{ per.enfoque }}</td>#}
		{#                        <td style="text-align: center;">{{ per.contar_inscripcion_evento_periodo }}</td>#}
		{#                        {% if not per.hay_cupo_inscribir %}#}
		{#                            <td style="text-align: center;"><input class="form-imput input-mini" style="text-align: center;" type="text"  value="{{ per.cupo}}" disabled></td>#}
		{#                        {% else %}#}
		{#                            <td style="text-align: center;"><input class="form-imput input-mini cupos" style="text-align: center;" eid="{{ per.id }}" type="text" va="{{ per.cupo}}" value="{{ per.cupo }}"></td>#}
		{#                        {% endif %}#}
		{#                        <td style="text-align: center;">{{ per.horas }}</td>#}
		{#                        <td style="text-align: center">{{ per.fechainicio|date:"d-m-Y"}}<br>{{ per.fechafin|date:"d-m-Y" }}</td>#}
		{#                        <td style='text-align: center'>#}
		{#                            <a class="btn btn-mini btn-info mostrardetalle_view tu" title="Ver Detalle" href="javascript:;" ide="{{ per.id }}"><i class="fa fa-list"></i></a>#}
		{#                        </td>#}
		{#                        <td style="text-align: center">#}
		{#                            <div class="btn-group dropleft" >#}
		{#                                <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
		{#                                            Acciones <i class="fa fa-angle-down"></i>#}
		{#                                </button>#}
		{#                                <ul class="dropdown-menu" x-placement="right-start">#}
		{#                                    <li class="dropdown-item"><a href="{{ request.path }}?action=editperiodoevento&id={{ per.id }}"><span class="fa fa-edit "></span> Editar</a></li>#}
		{#                                    {% if not per.puede_eliminar_planificacion_evento %}#}
		{#                                    {% if per.puede_eliminar_evento %}#}
		{#                                        <li class="dropdown-item"><a class="eliminacionmodal" href="javascript:;"  nhref="{{ request.path }}?action=delperiodoevento&id={{ per.id }}"><span class="fa fa-remove"></span> Eliminar</a></li>#}
		{#                                    {% endif %}#}
		{#                                    <li class="dropdown-item"><a href="{{ request.path }}?action=instructor&id={{ per.id }}"><span class="fa fa-user"></span> Instructor</a></li>#}
		{#                                    <li class="dropdown-item"><a href="{{ request.path }}?action=horario&id={{ per.id }}"><span class="fa fa-calendar"></span> Horarios</a></li>#}
		{#                                   <li class="dropdown-item"><a href="{{ request.path }}?action=inscritos&id={{ per.id }}"><span class="fa fa-list"></span> Inscritos</a></li>#}
		{#                                    <li class="dropdown-item"><a href="{{ request.path }}?action=asistencia&id={{ per.id }}"><span class="fa fa-calendar"></span> Asistencia</a></li>#}
		{#                                    <li class="dropdown-item"><a href="{{ request.path }}?action=listafirmas&id={{ per.id }}"><span class="fa fa-group"></span> Otras firmas</a></li>#}
		{#                                    {% if per.exiten_inscritos_aprobado %}#}
		{#                                        <li class="dropdown-submenu" x-placement="left-start">#}
		{#                                            <a href="javascript:;"><i class="fa fa-refresh"></i> Actualizaciones moodle</a>#}
		{#                                            <ul class="dropdown-menu" x-placement="right-start">#}
		{#                                                <li class="dropdown-item"><a class="confirmacionmodal" href="javascript:;" nhref='{{ request.path }}?action=confirmar_actualizacion_modelo&clave=todo&id={{ per.id }}'><span class="fa fa-retweet" ></span> Crear curso moodle</a></li>#}
		{#                                            </ul>#}
		{#                                        </li>#}
		{#                                    {% endif %}#}
		{#                                    {% if per.exiten_inscritos_aprobado %}#}
		{#                                        <li class="dropdown-submenu" x-placement="left-start">#}
		{#                                            <a style="text-align: left;" href="javascript:;"><span class="fa fa-print" ></span> Reportes</a>#}
		{#                                            <ul class="dropdown-menu" x-placement="right-start">#}
		{#                                                {% if reporte_0 %}#}
		{#                                                    <li class="dropdown-item"><a href="javascript:;" tipos="{{ reporte_0.tiporeporte }}" nhref="/reportes?action=run&n={{ reporte_0.nombre }}&periodoevento={{ per.id }}&estadosolicitud={{aprobado_capacitacion}}" class="reportedirecto"><span class="fa fa-list"></span> Inscritos</a> </li>#}
		{#                                                {% endif %}#}
		{#                                                {% if per.exiten_asistencia %}#}
		{#                                                    <li class="dropdown-item"><a class="reporteasistenciapdf tu" href="javascript:;" idr="{{ per.id }}"><i class="fa fa-table"></i>Asistencia pdf</a></li>#}
		{#                                                {% endif %}#}
		{#                                            </ul>#}
		{#                                        </li>#}
		{#                                    {% endif %}#}
		{#                                </ul>#}
		{#                            </div>#}
		{#                        </td>#}
		{#                    </tr>#}
		{#                {% empty %}#}
		{#                    <tr>#}
		{#                        <td colspan="10">NO EXISTEN FICHAS REGISTRADAS</td>#}
		{#                    </tr>#}
		{#                {% endfor %}#}
		{#                </tbody>#}
		{#            </table>#}
		{#            </div>#}
		{#        </div>#}
	</div>
	{#    <div class="modal fade static" id="itemspanel" style="display: none;">#}
	{#        <div class="modal-header">#}
	{#            <h3 class="paneltitle">Mostrar detalles de planificación</h3>#}
	{#        </div>#}
	{#        <div class="modal-body panelbody">#}
	{#        </div>#}
	{#        <div class="modal-footer">#}
	{#            <table class="pull-right">#}
	{#                <tr>#}
	{#                    <td id="aprobarcerrar"><a href="javascript:;" class="btn btn-aprobarcerrar btn-success"> Guardar</a></td>#}
	{#                    <td><a href="javascript:;" class="btn btn-cerrar btn-info">Cerrar</a></td>#}
	{#                </tr>#}
	{#            </table>#}
	{#        </div>#}
	{#    </div>#}
	<div class="modal fade static" id="itemspanel" style="display: none;">
		<div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4><b class="paneltitle">Detalles de planificación</b></h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body panelbody">

					{#                    <form autocomplete="off" method="post" enctype="multipart/form-data" action="{{ request.path }}">#}
					{#                        {% csrf_token %}#}
					{#                        <div class="panelbody"></div>#}
					{#                    </form>#}



				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>

				</div>
			</div>
		</div>
	</div>
{% endblock %}

