{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script>
        $(function(){
            $("#id_fecha").addClass("validate[required]");

            {% if validaesigef %}
                $("#id_fechaesigef").addClass("validate[required]");
            {% endif %}

            $("#id_fecha, #id_fechaesigef").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){
                $(this).datepicker('hide');
            });

            $("#id_fecha, #id_fechaesigef").blur(function () {
                fechavalida($(this));
            });

            $('.fechaspercibido').datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){
                $(this).datepicker('hide');
                actualizar_lista_fechacur();
            });

            $(".fechaspercibido").blur(function () {
                fechavalida($(this));
            });

            actualizar_lista_fechacur = function(){
                lista_items1 = [];
                $(".fechaspercibido").each(function(){
                    lista_items1.push({'id': $(this).attr("cid"),
                                       'numerocur': $(this).attr("nc"),
                                       'fecha': $(this).val()});
                });
            };

            actualizar_lista_fechacur();
        });
    </script>
{% endblock %}
{% block atras %}/rec_comprobantes{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/rec_comprobantes{% endblock %}
{% block formdestination %}/rec_comprobantes{% endblock %}
{% block form-type %}form-vertical{% endblock %}
{% block formwidth %}form-s{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='cambiarfecha'/>
    <input type='hidden' name='id' id="id" value='{{ comprobante.id }}'/>
{% endblock %}
{% block formback %}/rec_comprobantes{% endblock %}
{% block formsuffix %}
    <div class='row-fluid' id="criterios">
        <div class='span12'>
            <table class='table table-striped table-bordered' >
                <thead>
                 <tr>
                    <th colspan="2" class="info" style="vertical-align: middle; text-align: center; width: 100%" >Percibido</th>
                </tr>
                <tr>
                    <th class="info" style="vertical-align: middle; text-align: center; width: 50%" >Número CUR</th>
                    <th class="info" style="vertical-align: middle; text-align: center; width: 50%" >Fecha BCE</th>
                </tr>
                </thead>
                <tbody>
                {% for c in curpercibido %}
                    <tr>
                        <td style="text-align: center">{{ c.numerocur }}</td>
                        <td style="text-align: center">
                            <input class="form-imput input-small fechaspercibido" style="text-align: center" cid="{{ c.id }}" nc="{{ c.numerocur }}" type="text" value="{{ c.fechabce|date:"d-m-Y" }}" >
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block buttonname %}Guardar{% endblock %}
