<script>
    $(function () {
    });
</script>
    <div style="max-height: 300px; overflow: auto">
    <table class="table table-bordered filterable">
        <thead>
        <tr>
            <th colspan="15">
{#                FACTURAS GENERADAS#}
                DOCUMENTOS GENERADOS
            </th>
        </tr>
        <tr>
            <th style="text-align: center"><input type="checkbox" id="todos_terceros"></th>
            <th style="width: 120px">Tipo</th>
            <th style="width: 120px">N°</th>
            <th> Cliente</th>
            <th style="width: 100px; text-align: center">Valor</th>
        </tr>
        </thead>
        <tbody>
        {% for detalle in detalles %}
            <tr class="pagos_facturas" ida="{{ detalle.id }}" valor="{{ detalle.total }}" >
                <td style="text-align: center"><input type="checkbox" class="seleccionados_terceros" ida="{{ detalle.id }}" tdoc="FAC" valor="{{ detalle.total }}" nombre="{{ detalle.nombre }}"></td>
                <td><span class="label label-success">FACTURA</span></td>
                <td>{{ detalle.numerocompleto }}</td>
                <td>{{ detalle.cliente }}</td>
                <td style="text-align: right">$ {{ detalle.total|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        {% for recibo in reciboscaja %}
            <tr class="pagos_facturas" ida="{{ recibo.id }}" valor="{{ recibo.valor }}" >
                <td style="text-align: center"><input type="checkbox" class="seleccionados_terceros" ida="{{ recibo.id }}" tdoc="REC" valor="{{ recibo.valor }}" nombre="{{ recibo.datos_cliente.nombre }}"></td>
                <td><span class="label label-info">RECIBO DE CAJA PAGO</span></td>
                <td>{{ recibo.numerocompleto }}</td>
                <td>{{ recibo.persona }}</td>
                <td style="text-align: right">$ {{ recibo.valor|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        {% for recibo2 in reciboscaja2 %}
            <tr class="pagos_facturas" ida="{{ recibo2.id }}" valor="{{ recibo2.valor }}" >
                <td style="text-align: center"><input type="checkbox" class="seleccionados_terceros" ida="{{ recibo2.id }}" tdoc="REC2" valor="{{ recibo2.valor }}" nombre="{{ recibo2.datos_cliente.nombre }}"></td>
                <td><span class="label label-info">RECIBO DE CAJA</span></td>
                <td>{{ recibo2.numerocompleto }}</td>
                <td>{{ recibo2.persona }}</td>
                <td style="text-align: right">$ {{ recibo2.valor|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>