{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet" />
    <style>
        elemento {
        }
        .state-overview .terques {
            background: #6ccac9;
        }
        .row {
            margin-right: -15px;
            margin-left: -15px;
        }
        .state-overview .terques {
            background: #6ccac9;
        }
        .state-overview .symbol {
            width: 40%;
            padding: 25px 15px;
            -webkit-border-radius: 4px 0px 0px 4px;
            border-radius: 4px 0px 0px 4px;
        }
        .state-overview .symbol, .state-overview .value {
            display: inline-block;
            text-align: center;
        }
        {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .state-overview .value {
            width: 58%;
            padding-top: 21px;
        }
        .state-overview .value {
            float: right;
        }
        .state-overview .symbol, .state-overview .value {
            display: inline-block;
            text-align: center;
        }
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    </style>
    <script type="text/javascript">
        $(function() {
            $("#cancel_inscripcion").click(function(){
                $('#modalinscripcion').modal('hide');
            });
            $("#addinscripcion").click(function(){
                var idactividad = $("#idactividad").val();
                bloqueointerface();
                $.post("/alu_paextracurriculares", {'action': 'addinscripcion', 'idactividad': idactividad}, function(data) {
                    $.unblockUI();
                    if (data.result=='ok') {
                        $('#modalinscripcion').modal('hide');
                        bloqueointerface();
                        location.href = 'alu_paextracurriculares';
                    } else {
                        smoke.alert(data.mensaje);
                    }
                }).error(function(){
                    $.unblockUI();
                    smoke.alert("Error al guardar");
                });

            });

            $(".enviareliminacion").click(function () {
                $(".incompletoaddpreguntas").hide();
                var id = $(this).attr('idr');
                $("#idregistro").val(id);
                $("#itemspanel").modal({backdrop: 'static', width: '300px'}).modal('show');
            });

            $("#cancelenviareliminacion").click(function(){
                $('#itemspanel').modal('hide');
                $(".incompletoaddpreguntas").hide();
                $("#observacion").val("");
            });
        });
        function inscribirparticipantes(idactividad,nombre) {
            bloqueointerface();
            $("#detalle").html(nombre);
            $("#idactividad").val(idactividad);
            $("#modalinscripcion").modal({backdrop:'static', width: '600px'}).modal('show');
            $.unblockUI();
        }
        function enviareliminacion(){
            $(".incompletoaddpreguntas").hide();
            var observacion = $("#observacion").val();
            var id = $("#idregistro").val();
            if( observacion.length!=0){
                $.post("/alu_paextracurriculares", {'action': 'enviareliminacion', 'observacion': observacion, 'id': id }, function(data) {
                    $.unblockUI();
                    if (data.result=='ok') {
                        location.reload();
                        $('#itemspanel').modal('hide');
                        $(".incompletoaddpreguntas").hide();
                        $("#observacion").val("");
                    }
                }, "json");
            }else{
                $(".incompletoaddpreguntas").show();
                return false;
            }
            $("#observacion").val("");
        }
        function pdfactividades(){
            openwindow('POST' ,'/inscripciones', {action:'pdflistaactividades',id: {{ inscripcion.id }}}, '_blank');
        }
    </script>
{% endblock %}
{% block atras %}/inscripciones?id={{ inscripcion.id }}{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>Mis Actividades</h4>
            <h4>{{ inscripcion }}</h4>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:;"> Reportes <span class="caret"></span></a>
                <ul class="dropdown-menu pull-left" >
                    <li><a onclick="pdfactividades()" href="javascript:;"><i class="fa fa-file-pdf-o"></i> Certificación de las actividades complementarias</a></li>
                </ul>
            </div>
        </div>
    </div>
    {#    <div class="row state-overview">#}
    {#        <div class="col-lg-3 col-sm-6">#}
    {#            <div class="symbol terques">#}
    {#                <img width="64" height="64" src="../../static/images/iconos/actividades/deportebn.png" >#}
    {#            </div>#}
    {#            <div class="value">#}
    {#                <h1 class="count">495</h1>#}
    {#                <p>New Users</p>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <div id="no-more-tables"><!-- inicio no more tables-->
        <div class='row-fluid'>
            <div class='span12'>
                <table class='table table-striped table-bordered' >
                    <thead>
                    <tr>
                        <th style="width: 50px;text-align: center;">No.</th>
                        <th style="width: 200px;text-align: center;">ÁREA</th>
                        <th style="width: 400px;text-align: center;">ACTIVIDAD / FACULTAD</th>
                        <th style="width: 400px;text-align: center;">DETALLE</th>
                        <th style="width: 60px;text-align: center;">CALIFICACIÓN</th>
                        <th style="width: 100px;text-align: center;">FECHA INICIO / FIN INSCRIPCIÓN</th>
                        <th style="width: 100px;text-align: center;">FECHA INSCRIPCIÓN</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for inscripcionextracurricular in inscrito %}
                        <tr>
                            <td data-title='No.' style="text-align: center">{{ forloop.counter }}</td>
                            <td data-title='ÁREA' style="text-align: justify;"><img src="../../static/images/iconos/actividades/{{ inscripcionextracurricular.actividades.periodoarea.areas.colorfondo }}" > {{ inscripcionextracurricular.actividades.periodoarea.areas|upper }}</td>
                            <td data-title='ACT./FAC.' style="text-align: justify;">
                                {{ inscripcionextracurricular.actividades.nombre|upper }}<br>
                                {{ inscripcionextracurricular.actividades.coordinacion|upper }}<br>
                                {{ inscripcionextracurricular.matricula.nivel.periodo|upper }}
                                {% if inscripcionextracurricular.actividades.general %}<br><label class="label label-info">INDUCCIÓN GENERAL</label><br>{% endif %}
                                {% if inscripcionextracurricular.actividades.calificar %}<br>
                                    <label class="label label-warning">ACTIVIDAD CON CALIFICACIÓN</label>
                                {% else %}<br>
                                    <label class="label label-default">ACTIVIDAD SIN CALIFICACIÓN</label>
                                {% endif %}
                            </td>
                            <td data-title='DETALLE' style="text-align: justify;">
                                {{ inscripcionextracurricular.actividades.descripcion|upper }}
                                {% if inscripcionextracurricular.actividades.listafechas %}
                                    <div class="accordion" id="accordion{{ inscripcionextracurricular.actividades.id }}">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                            <span class="accordion-toggle">
                                                <a class="btn btn-mini btn-success" data-toggle="collapse" data-parent="#accordion{{ inscripcionextracurricular.actividades.id }}" href="#collapseOne{{ inscripcionextracurricular.actividades.id }}"><i class="fa fa-calendar"></i></a>
                                                <a data-toggle="collapse" data-parent="#accordion{{ inscripcionextracurricular.actividades.id }}" href="#collapseOne{{ inscripcionextracurricular.actividades.id }}">Horarios de la actividad / Asistencia</a>
                                            </span>
                                            </div>
                                            <div id="collapseOne{{ inscripcionextracurricular.actividades.id }}" class="accordion-body collapse in">
                                                <div class="accordion-inner">
                                                    <ol>
                                                        {% for fechasactividades in inscripcionextracurricular.actividades.listafechas %}
                                                            {% with asistencia=fechasactividades|args:inscripcionextracurricular|call:'asistenciaalumno' %}
                                                                {#                                                            {{ asistencia }}#}
                                                                <div style="background: {% if asistencia == 1 %}#dff0d8;{% endif %} {% if asistencia == 2 %}#f2dede;{% endif %}{% if asistencia == 0 %}#ffffff;{% endif %} padding: 2px;border: 1px solid #c5c5c5;margin: 0px;border-radius: 5px;text-align: left">
                                                                <span class="smaller">
                                                                <strong>
                                                                <li>Fecha: {{ fechasactividades.fecha|date:"Y-m-d" }}
                                                                    {% if asistencia == 1 %}
                                                                        <label class="label label-success mini">ASISTIÓ</label>
                                                                    {% endif %}
                                                                    {% if asistencia == 2 %}
                                                                        <label class="label label-important mini">NO ASISTIÓ</label>
                                                                    {% endif %}
                                                                    {% if asistencia == 0 %}
                                                                        <label class="label label-info mini">ASISTENCIA NO REGISTRADA</label>
                                                                    {% endif %}
                                                                </li>
                                                            </strong>
                                                            {% endwith %}
                                                        Lugar: {{ fechasactividades.lugar|upper }}<br>
                                                        Tutor: {{ fechasactividades.tutor }}<br>
                                                        Obs: {{ fechasactividades.observacion|upper }}
                                                        </span>
                                                        </div>
                                                        {% endfor %}
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                            <td data-title='CALIFICACIÓN' style="text-align: center">
                                {% if inscripcionextracurricular.actividades.calificar %}
                                    {{ inscripcionextracurricular.nota }}
                                {% endif %}
                            </td>
                            <td data-title='FEC. INICIO /FIN' style="text-align: center;">
                                {{ inscripcionextracurricular.actividades.fechainicio|date:"Y-m-d" }}<br>
                                {{ inscripcionextracurricular.actividades.fechafin|date:"Y-m-d" }}
                            </td>
                            <td data-title='INSCRIPCIÓN' style="text-align: center;">{{ inscripcionextracurricular.actividades.fecha_creacion|date:"Y-m-d" }}</td>
                        </tr>
                    {% endfor %}
                    {% if not inscrito %}
                        <tr>
                            <td colspan="11">
                                NO SE ENCUENTRA INSCRITO EN ALGUNA ACTIVIDAD
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}