{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_centro, #id_carrera, #id_asignatura, #id_anno, #id_nota_ant, #id_nota_act, #id_creditos").addClass("validate[required]");

            $("#id_nota_ant, #id_nota_act").blur(function(){
                numerico($(this), 0, 0, 2);
            });

            $("#id_creditos").blur(function(){
                numerico($(this), 0, 0, 4);
            });

            $("#id_anno").blur(function(){
                numerico($(this), 1980, 9999, 0);
            });
        })
    </script>
{% endblock %}
{% block atras %}/inscripciones?action=record&id={{ convalidacion.record.inscripcion.id }}{% endblock %}
{% block titulo %}{{ title }}<br>Asignatura: {{ convalidacion.record.asignatura }}{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='convalidar'/>
    <input type='hidden' name='id' value="{{ convalidacion.id }}"/>
    <input type='hidden' name='rid' value="{{ convalidacion.record.id }}"/>
{% endblock %}
{% block formback %}/inscripciones?action=record&id={{ convalidacion.record.inscripcion.id }}{% endblock %}
{% block formdestination %}/inscripciones?action=record&id={{ convalidacion.record.inscripcion.id }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}
