{% load sga_extras %}
<input type="hidden" name="id" value='{{ planificacion.id|encrypt }}'/>
<input type="hidden" name="action" value="editplanificacionsemanal"/>
{% for field in form %}
    {% if field.field.widget.attrs.separator %}
        {% if field.field.widget.attrs.blanklinebefore %}
        {% endif %}
        <div style="width: 100%; height: max-content">
            <h6 style="width:100%; text-align:left; border-bottom: 1px solid #98a3ab; line-height:0.1em; margin:10px 0 20px;">
                    <span style="padding:0 10px; background: #f5f5f5;">
                        {% if field.field.widget.attrs.separatortitle %}
                            {{ field.field.widget.attrs.separatortitle }}
                        {% endif %}
                     </span>
            </h6>
        </div>
    {% endif %}
    <div id="fieldset_{{ field.name }}" class="col-lg-{{ field.field.widget.attrs.col }}" style="float: left; padding-right: 10px;">
        <label class="control-label pr-2" for="id_{{ field.name }}"><b>{{ field.label }}&nbsp;:</b></label>
        {{ field }}
        <p class="help-text">{{ field.help_text }} </p>
    </div>
{% endfor %}

<div class="row-fluid">
    <div style="text-align: right; float: left; width: 100%">
        <button type="submit" id="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Guardar</button>
        <a href="javascript:;" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times-circle"></i> Cancelar</a>
    </div>
</div>

<script>
    $(function () {
        $("select").select2({width: '100%'});

        tooltips();


        ItemsDisplay = function (item) {
            if (item.text) {
                return $('<span>' + item.text + '</span>');
            } else {
                if (item.name) {
                    return $('<span>' + item.name + '</span>');
                } else {
                    return '---------';
                }
            }
        };

        $('#id_responsable').trigger('change');

        $("#id_responsable").select2({
            placeholder: "Buscar Responsable",
            allowClear: true,
            width: '100%',
            ajax: {
                url: function (params) {
                    return "{{ request.path }}?action=buscarpersonas&id={{ cabid }}&q=" + params.term;
                },
                dataType: 'json',
                delay: 400,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            minimumInputLength: 1,
            templateResult: ItemsDisplay,
            templateSelection: ItemsDisplay
        }).on("select2:select", function (evt) {
            $("#id_responsable").attr({"value": (evt.params.data.id)});
        });
    })

    function soloNomenclaturas(e) {
        key = e.keyCode || e.which;
        teclado = String.fromCharCode(key);
        letras = "abcdefghijklmnopqrstuwxvyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890_";
        if (letras.indexOf(teclado) === -1) {
            return false;
        }
    }
</script>