{% extends "base.html" %}
{% load humanize %}
{% load sga_extras %}
{% block heading %}
    <style>
        #app {padding-left: 1.5rem !important;padding-right: 1.5rem !important}
        .table_striped thead th:nth-child(2), .table_striped thead td:nth-child(2) {text-align: left !important;padding-left: 15px}
        .table_primary thead th:first-child, .table_primary thead td:first-child {width: 20px;background-color: #1c3247}
        .table_success thead th:first-child, .table_primary thead td:first-child {width: 20px;background-color: #468847}
        .table_warning thead th:first-child, .table_warning thead td:first-child {width: 20px;background-color: #fe9900}
        html {
            scroll-behavior: smooth;
        }

        .btn-success {background-color: #15ca9a !important}
    </style>
    <script src="/adicionalesjs/formquestionb4.js?0.24"></script>
    <script type="text/javascript">
        $(function() {
            $("select").select2({minimumResultsForSearch: 1});
            busqueda = function () {
                var term = $("#searchinput").val().trim().toUpperCase();
                var ide = $("#id_estado").val();


                if (term.length > 0) {
                    bloqueointerface();
                    location.href = "{{ request.path }}?s=" + term + "&ide=" + ide;
                } else {
                    bloqueointerface();
                    location.href = "{{ request.path }}?ide=" + ide;

                }

            };

            $("#search").click(function () {
                busqueda();
            });

            $('#searchinput').keyup(function (e) {
                if (e.keyCode == 13) {
                    busqueda();
                }
            });

            $(".pdfcertificado").click(function () {
                console.log("FAIR")
                var idins = $(this).attr('idins');
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_formacionejecutiva",
                    data: {'action': 'generate_certificate', 'id': idins},
                    error: function () {
                        $.unblockUI();
                        mensajeErrorSwal("Error al obtener los datos.");
                    },
                    success: function (data) {
                        $.unblockUI();
                        if (data.result === "ok") {
                            window.open(data.url, '_blank');
                        } else {
                            alertaWarning(data.message);
                        }
                    }
                })
            });

        });


        function formModal(id, text, action) {
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    if (data.result === true) {
                        $.unblockUI();
                        $('.panelbody').html(data.data);
                        $('#itemspanel .modal-title').html(text);
                        $("#itemspanel").modal({backdrop: 'static', width: '900px'}).modal('show');
                    } else {
                        $.unblockUI();
                        alertaDanger(data.message);
                    }
                },
                error: function () {
                    $.unblockUI();
                    alertaDanger("Error de conexión.");
                },
                dataType: "json"
            });
        }

        function formModalInfoP(id, idc, text, action, dimension = 'modal-lg', footer = true, idex = '', icon = 'fa-outdent') {
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                    'idc': idc,
                    'idex': idex,
                },
                success: function (data) {
                    $.unblockUI();
                    {#footer ? $('#footermodal').hide() : $('#footermodal').show();#}
                    {#$('#title-icon2').removeClass('fa-outdent').addClass(icon)#}
                    {#$('#wmodal').removeClass('modal-lg modal-sm modal-xl modal-md modal-fullscreen').addClass(dimension)#}
                    if (data.result === true) {
                        $('#itemspanel2 .panelbody').html(data.data);
                        $('#itemspanel2 .paneltitle').html(text.charAt(0).toUpperCase() + text.slice(1).toLowerCase());
                        $("#itemspanel2").modal({backdrop: 'static'}).modal('show');
                    } else {
                        if (data.reload) {
                            location.reload()
                        } else {
                            mensajeDanger(data.message);
                        }
                    }
                },
                error: function () {
                    $.unblockUI();
                    mensajeDanger("Error de conexión.");
                },
                dataType: "json"
            });
        }
    </script>
{% endblock %}
{% block atras %}/adm_formacionejecutiva?action=convocatorias&id={{ eConvocatoria.evento.id }}{% endblock %}
{% block canvas %}
    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3 class="texto-blue">{{ title }}</h3>
                <h6>Gestión de inscrito del evento {{ eConvocatoria.evento.nombre|title }} - {{ eConvocatoria.descripcion|title }}</h6>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form method="GET" class="">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-3 col-sm-12 pe-md-2">
                    <a href="javascript:void(0)"
                       onclick="formModalInfoP('','{{ id|encrypt }}','Datos de la convocatoria','addconvocatoria')"
                       class="btn btn-cian-opacity mb-2">
                        <i class="fa fa-plus"></i> Adicionar
                    </a>
                </div>
            </div>
        </form>
    </div>

    <div class="container-fluid">
        <form method="GET" class="form-row py-0 justify-content-end">
            <div class="col-lg-6 col-md-3 col-sm-12 pe-md-2">
                <i class="fa fa-university tu" title="Formas"></i> Tipo:
                <div class="input-group mb-2">
                    <select name="m" id="id_estado" style="width: 100%">
                        <option value="0" {% if not ide %}selected{% endif %}>----Todos----</option>
                        <option {% if ide == 1 %}selected{% endif %} value="1">No homologables</option>
                        <option {% if ide == 2 %}selected{% endif %} value="2">Homologables</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-3 col-sm-12 pe-md-2">
                <i class="fa fa-search tu" title="Nombres"></i> Busqueda:
                <div class="input-group mb-2">
                    <input class='form-control' type='text' id='searchinput' name="s" value='{{ search }}'
                           autocomplete="off"
                           placeholder="Buscar"/>
                    <div class="input-group-append">
                        <a href="javascript:;"
                           id='search' class='btn btn-primary'><i class="fa fa-search "></i></a>
                        {% if url_vars %}
                            <a title="Ver todo" href="{{ request.path }}" class="btn btn-default tr">
                                <i class="fas fa-sync-alt"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-body border-top border-6 rounded-3 border-dark-info">
                <div class="table-responsive-xxl">
                    <table class="table table_success table-striped">
                        <thead class="table-light">
                        <tr>
                            <th style="border:0!important;"></th>
                            <th style="text-align: center; width: 5%">N°</th>
                            <th style="text-align: center; width: 35%">Datos del inscrito</th>
                            <th style="text-align: center; width: 30%">Detalle de la convocatoria</th>
                            <th style="text-align: center; width: 20%">Estado del pago</th>
                            <th style="text-align: center; width: 10%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for eInscrito in eInscritos %}
                            <tr>
                                <td></td>
                                <td class="text-wrap">
                                    {{ forloop.counter }}
                                </td>
                                <td class="text-wrap" style="text-align: left; font-size: 14px">
                                    <div class="mb-3" style="max-width: 540px;">
                                        <div class="row g-0">
                                            <div class="col-md-3 text-center">
                                                {% if eInscrito.interesado.persona.foto.foto %}
                                                    <img class="img-fluid rounded-circle" width="50px"
                                                         src="https://sga.unemi.edu.ec{{ eInscrito.interesado.persona.foto.foto.url }}">
                                                {% else %}
                                                    {% if eInscrito.interesado.persona.sexo_id == 1 %}
                                                        <img class="img-fluid rounded-circle" width="50px"
                                                             src="/images/iconos/mujer.png">
                                                    {% else %}
                                                        <img class="img-fluid rounded-circle" width="50px"
                                                             src="/images/iconos/hombre.png">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-9">
                                                <div class="">
                                                    <small class="card-text"><i
                                                            class="fa fa-address-card tu"
                                                            title="Cédula"></i>
                                                        {% if eInscrito.interesado.persona.cedula %}
                                                            {{ eInscrito.interesado.persona.cedula }} {% else %}
                                                            {{ eInscrito.interesado.persona.pasaporte }} {% endif %}
                                                        | {{ eInscrito.interesado.persona.usuario.username }}
                                                        {% if eInscrito.interesado.persona.usuario.is_superuser %}| <span style="color: #3a87ad!important; font-weight: bold; font-size:12px">{{ eInscrito.id }}</span>{% endif %}
                                                    </small><br>
                                                    <small class="card-text"><i
                                                            class="fa fa-user tu"
                                                            title="Nombre completo"></i>
                                                        <b>{{ eInscrito.interesado.persona.nombre_completo_inverso|title }}</b>
                                                    </small><br>
                                                    <small class="card-text">
                                                        {% if eInscrito.interesado.persona.telefono %}
                                                            <i class="fa fa-phone tu" title="Teléfono"></i>
                                                            {{ eInscrito.interesado.persona.telefono }}
                                                            <a href='https://web.whatsapp.com/send?l=en&phone=+593{{ eInscrito.interesado.persona.telefono }}&text=Hola {{ eInscrito.persona }}'
                                                               target="_blank" class="btn btn-mini btn-success tu"
                                                               title="Enviar mensaje por whatsapp">
                                                                <i class="fa fa-whatsapp"></i>
                                                            </a>
                                                        {% endif %}
                                                    </small><br>
                                                    <small class="card-text">
                                                        <i class="fa fa-envelope tu" title="Correo"></i>
                                                        <a href="mailto:{{ eInscrito.interesado.persona.email }}">{{ eInscrito.interesado.persona.email }}</a>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-wrap" style="vertical-align: middle; padding: 10px; font-size: 14px">
                                    <b>Evento: </b>{{ eInscrito.convocatoria.evento.nombre|lower|capfirst }}<br>
                                    <b>Convocatoria: </b>{{ eInscrito.convocatoria.descripcion|lower|capfirst }}<br>
                                </td>
                                <td class="text-wrap" style="font-size: 14px">
                                    <b>Rubro generado: </b>{% if eInscrito.tiene_rubro_generado %}<span class="fa fa-check" style="color: green"></span>{% else %}<span class="fa fa-close" style="color: red"></span>{% endif %}<br>
                                    <b>Fecha de generación: </b>{% if eInscrito.rubro_generado %}{{ eInscrito.rubro_generado.fecha|date:'d-m-Y' }}{% else %}<span class="badge badge-warning">No registra</span>{% endif %}<br>
                                    <b>Estado del rubro: </b>{% if eInscrito.estado_rubro == 1 %}<span class="badge badge-success">Cancelado</span>{% elif eInscrito.estado_rubro == 2 %}<span class="badge badge-warning">Vencido</span>{% elif eInscrito.estado_rubro == 3 %}<span class="badge badge-primary">Generado</span>{% elif eInscrito.estado_rubro == 4 %}<span class="badge badge-danger">Eliminado</span>{% else %}<span class="badge badge-default">No generado</span>{% endif %}<br>
                                    <b>Migrado a moodle: </b>{% if eInscrito.encursomoodle %}<span class="fa fa-check" style="color: green"></span>{% else %}<span class="fa fa-close" style="color: red"></span>{% endif %}
                                </td>
                                <td class="text-wrap" style="font-size: 14px; vertical-align: middle; text-align: center">
                                    <div class="dropbottom">
                                        <a href="javascript:void(0);"
                                           class="btn-icon btn btn-ghost btn-sm rounded-circle"
                                           data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true"
                                           aria-expanded="false">
                                            <i class="fa fa-ellipsis-v text-black-50 fs-6"></i>
                                        </a>
                                        <ul class="dropdown-menu" x-placement="right-start">
                                            <span class="dropdown-header">ACCIONES</span>
                                            <li class="dropdown-item">
                                                <a onclick="formModal('{{ eEvento.id }}','Editar evento: {{ eEvento|title }}','editcurso')"
                                                   href="javascript:void(0);">
                                                    <span class="fa fa-pencil"></span> Migrar a moodle
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a onclick="formModal('{{ eEvento.id }}','Editar evento: {{ eEvento|title }}','editcurso')"
                                                   href="javascript:void(0);">
                                                    <span class="fa fa-pencil"></span> Certificado
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="javascript:;"
                                                   class="dropdown-item pdfcertificado tu"
                                                   idins="{{ eInscrito.id }}"><span class="fa fa-download"></span>
                                                    Certificado de admisión</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td class="text-wrap" style="text-align: center" colspan="7">No existen cursos creados
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-muted fs-6">
                        {% widthratio eEventos|length 1 page.number as value %}
                        <caption> Mostrando
                            {% if not paging.num_pages == page.number %}{{ value }}{% else %}
                                {% if paging.num_pages == 1 %}
                                    {{ eEventos|length }}{% else %}{% with len=eEventos|length %}
                                        {% widthratio 10 1 page.number|add:"-1" as val %}
                                        {{ val|add:len }}{% endwith %}
                                {% endif %}{% endif %} de {{ count }}</caption>

                    </div>
                </div>
                <div class="card-footer border-top-0">
                    {% include 'paginacionb4.html' %}
                </div>
            </div>
        </div>
    </div>

     <div id="itemspanel" class="modal fade bd-example-modal-lg"  role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Título</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                            {% csrf_token %}
                            <div class="row panelbody">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
      </div>

    <div class="modal fade static" id="itemspanel2" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" id="wmodal">
            <div class="modal-content" style="border-radius: 17px!important;">
                <div class="modal-header">
                    <h4><i class="fa fa-outdent" id="title-icon2"></i> <b class="paneltitle"> FORMULARIO MODAL</b></h4>
                    <button type="button" class="btn-close btn-cerrar-modal fs-5 cerrar" data-toggle="modal"
                            data-bs-dismiss="modal" aria-label="Close">X
                    </button>
                </div>
                <div class="modal-body p-0">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="panelbody m-3">
                        </div>
                    </form>
                </div>
                {#                <div class="modal-footer" id="footermodal">#}
                {#                    <button type="button" class="btn btn-default cerrar" data-bs-dismiss="modal" id="cerrar"><i#}
                {#                            class="fa fa-times"></i> Cerrar#}
                {#                    </button>#}
                {#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}