{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_capeventoperiodoipec?action=inscritos&id={{ inscrito.capeventoperiodo.id }}{% endblock %}
{% block formaction %}/adm_capeventoperiodoipec{% endblock %}
{% block formactionvalue %}resetearusu{% endblock %}
{% block formobjectid %}{{ inscrito.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea resetear la clave de: {% endblock %}
{% block formobjectrepr %}{{ inscrito.participante }}{% endblock %}