{% load sga_extras %}

<div style="width: 100%; margin-bottom: 0">

    <table class='table table-bordered table-striped'>
        <thead>
            <tr>
                <th colspan="4" class="texto-naranja" style="text-align: center;font-size: 16px;">Requisitos</th>
            </tr>
            {% if not alltitulos %}
                <tr>
                    <th colspan="4" class="texto-blue" style="text-align: left;"><i class="fa fa-circle-o"></i> Puede aplicar si cuenta con uno de los siguientes títulos u otros afines al campo específico:</th>
                </tr>
                <tr>
                    <th style="text-align: left;"><strong>Título</strong></th>
                    <th style="text-align: center;"><strong> Campo Amplio</strong></th>
                    <th style="text-align: center;"><strong>Campo Específico</strong></th>
                    <th style="text-align: center;"><strong>Campo Detallado</strong></th>
                </tr>
            {% endif %}
        </thead>
        <tbody>
            {% if programa %}
                {% if alltitulos %}
                    <tr>
                        <th colspan="4" class="texto-blue" style="font-size: 12px; text-align: left;"><i class="fa fa-circle-o"></i>
                            APLICAN TODOS LOS TÍTULOS DE TERCER NIVEL O SUPERIOR.
                        </th>
                    </tr>
                {% else %}
                    {% for list in listcetituloperfil %}
                        <tr>
                            <td>
                                <div><label class="texto-gris" style="font-size: 13px;"> {{ list }}</label></div>
                            </td>
                             <td style="text-align: left;">
                                {% for t in list.campoamplio.all %}
                                    <div><label class="texto-gris" style="font-size: 13px;"> {{ t|lower|capfirst }} </label></div>
                                {% endfor %}
                            </td>
                             <td style="text-align: left;">
                                {% for t in list.campoespecifico.all %}
                                    <div><label class="texto-naranja" style="font-size: 13px;"> {{ t|lower|capfirst }}</label></div>
                                {% endfor %}
                            </td>
                             <td style="text-align: left;">
                                {% for t in list.campodetallado.all %}
                                    <div><label class="texto-gris" style="font-size: 13px;"> {{ t|lower|capfirst }}</label></div>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <th colspan="4" class="texto-blue" style="font-size: 12px; text-align: left;"><i class="fa fa-circle-o"></i>
                        {% if cantexperiencia %}
                            CONTAR CON UNA EXPERIENCIA MÍNIMA A FIN A LA MAESTRÍA DE {{ cantexperiencia }} AÑOS.
                        {% else %}
                            NO SE NECESITA EXPERIENCIA.
                        {% endif %}
                    </th>
                </tr>
            {% else %}
                <tr>
                    <td style="text-align: left;">
                        <div>
                            <label> No existen requisitos configurados en Instauración.</label>
                        </div>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="row-fluid">
        <div style="text-align: right; float: left; width: 100%">
            <a href="javascript:;" class="btn btn-default" data-dismiss="modal">
                <i class="fa fa-window-close"></i> Cerrar</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/static/dropify/css/dropify.min.css">
<script type="text/javascript" src='/static/dropify/js/dropify.min.js?v=1.0.0'></script>
<script>

</script>