<div class='row-fluid' >
    <table class="table table-bordered">
        <tr>
            <td>
                <strong>CARRERA:</strong>
            </td>
            <td>
                {{ inscripcion.carrera }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>CORREO INSTITUCIONAL:</strong>
            </td>
            <td>
                {{ persona.emailinst }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>CORREO PERSONAL:</strong>
            </td>
            <td>
                {{ persona.email }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>TELÉFONO:</strong>
            </td>
            <td>
                {{ persona.telefono_conv }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>CELULAR:</strong>
            </td>
            <td>
                {{ persona.telefono }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>DIRECCIÓN:</strong>
            </td>
            <td>
                {{ persona.direccion }} <br>
                {{ persona.direccion2 }} <br>
                {{ persona.referencia }}
            </td>
        </tr>
    </table>
</div>
