{% load humanize %}
{% load sga_extras %}
<div class="row-fluid">
        <table class="table table-bordered tabla_responsive">
            <thead>
            <tr>
                <th>Fecha:</th>
                <td>{{ permiso.fechasolicitud|date:'d-m-Y' }} {{ permiso.fecha_creacion|time:'h:i a' }}</td>
                <th>Tipo Solicitud:</th>
                <td>{{ permiso.get_tiposolicitud_display }}</td>
                <th>Estado:</th>
                <td style="text-align: center"><b><span
                        class="label label-{% if permiso.estadosolicitud == 1 %}info{% elif permiso.estadosolicitud == 2 %}warning{% elif permiso.estadosolicitud == 5 %}inverse{% elif permiso.estadosolicitud == 3 %}success{% else %}important{% endif %}">{{ permiso.get_estadosolicitud_display }}</span></b>
                </td>
            </tr>
            <tr>
                <th>Tipo Permiso:</th>
                <td colspan="{% if permiso.categoriatipopermiso %}1{% else %}3{% endif %}">{{ permiso.tipopermiso }}</td>
                {% if permiso.categoriatipopermiso %}
                    <th>Categoría Permiso:</th>
                    <td>{{ permiso.categoriatipopermiso.descripcion|upper }}</td>
                {% endif %}
                <th>Vacaciones:</th>
                <td style="text-align: center"><span
                        class="label label-{% if permiso.descuentovacaciones %}success{% else %}info{% endif %} tu"
                        data-original-title="Cargo a vacaciones">{% if permiso.descuentovacaciones %}SI{% else %}
                    NO{% endif %}</span></td>
            </tr>
            {% if permiso.tipopermisodetalle %}
                <tr>
                    <th style="vertical-align: middle">Detalle Permiso:</th>
                    <td colspan="5">{{ permiso.tipopermisodetalle }}</td>
                </tr>
            {% endif %}
            {% if permiso.permisofamilia %}
                <tr>
                    <th style="vertical-align: middle">Integrante Familia:</th>
                    <td colspan="5">{{ permiso.permisofamilia }}</td>
                </tr>
            {% endif %}
            <tr>
                <th style="vertical-align: middle">Cargo:</th>
                <td>{{ permiso.denominacionpuesto }}</td>
                <th style="vertical-align: middle">Régimen:</th>
                <td colspan="4">{{ permiso.regimenlaboral|default_if_none:"" }}</td>
            </tr>
            </thead>
        </table>
        <table class="table table-bordered tabla_responsive">
            <thead>
            <tr>
                <th style="text-align: center;" colspan="4">Duración del permiso</th>
            </tr>
            <tr>
                <th style="width: 100px; text-align: center">Fecha desde</th>
                <th style="width: 100px; text-align: center">Fecha Hasta</th>
                <th style="width: 100px; text-align: center">Hora desde</th>
                <th style="width: 100px; text-align: center">Hora hasta</th>
            </tr>
            </thead>
            <tbody>
            {% for detalle in detallepermiso %}
                <tr>
                    <td style="text-align: center; color: #0e90d2;">{{ detalle.fechainicio|date:"d-m-Y" }}</td>
                    <td style="text-align: center; color: #0e90d2;">{{ detalle.fechafin|date:"d-m-Y" }}</td>
                    <td style="text-align: center; color: #0e90d2;">
                        {% if detalle.horainicio %}{{ detalle.horainicio|time:'H:i' }}{% endif %}</td>
                    <td style="text-align: center; color: #0e90d2;">
                        {% if detalle.horafin %}{{ detalle.horafin|time:'H:i' }}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered tabla_responsive">
            <thead>
            <tr>
                <th style="font-weight: bold">Observación</th>
                <th style="text-align: center; font-weight: bold; width: 90px;">Estado</th>
                <th style="text-align: center; font-weight: bold; width: 70px;">Fecha</th>
                <th style="font-weight: bold; width: 300px;">Aprobador/Solicitante</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align: justify">{{ permiso.motivo }}</td>
                <td style="text-align: center">SOLICITADO</td>
{#                <td style="text-align: center">{{ permiso.fechasolicitud|date:"d-m-Y" }}</td>#}
                <td style="text-align: center">{{ permiso.fecha_creacion|date:"d-m-Y H:i" }}</td>
                <td>{{ permiso.solicita }}</td>
            </tr>
            {% for aprobado in aprobadores %}
                <tr>
                    <td style="text-align: justify">{{ aprobado.observacion }}</td>
                    <td style="text-align: center">{{ aprobado.get_estadosolicitud_display }}</td>
{#                    <td style="text-align: center">{{ aprobado.fechaaprobacion|date:"d-m-Y" }}</td>#}
                    <td style="text-align: center">{{ aprobado.fecha_creacion|date:"d-m-Y H:i" }}</td>
                    <td>{{ aprobado.aprueba }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

</div>