{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet" />

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>

    <style>
        .dataTables_filter {
            padding-bottom: 15px;
        }

        .table.dataTable tfoot th, table.dataTable tfoot td {
            border-top: 1px solid #E5E8E8 !important;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            const tabla_paginada = $('.tabla_paginada').DataTable({
                responsive: true,
                ordering: false,
                paging: true,
                searching: true,
                bInfo: true,
                dom: "<<'col-sm-12 col-md-3'f><'col-sm-12 col-md-3'l><'col-sm-12 col-md-12'B>>" +
                    "<<'col-sm-12'tr>>" +
                    "<<'col-md-6 col-sm-12'i><'col-md-4 col-sm-12'p>>",
                buttons: [{
                    extend: 'excelHtml5',
                    filename: 'resultados',
                    text: '<i class="fa fa-file-excel-o"></i> EXCEL',
                    exportOptions: {
                        search: 'applied',
                        order: 'applied',
                        modifier: {
                            page: 'current'
                        }
                    }
                },]
            });
            $('.tabla_paginada tbody').on('click', 'tr', function () {
                var data = tabla_paginada.row(this).data();
            });
        });

        function formModal(id, text, action, footer = true) {
            bloqueointerface();
            $('.panelbody').empty();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    if (data.result === true) {
                        $.unblockUI();
                        if (footer === true) {
                            $('#footermodal').hide();
                        }
                        $('.panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text);
                        $("#itemspanel").modal({backdrop: 'static', width: '900'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"
            });
        }

        $(function () {
            $.fn.select2.defaults.set('language', 'es');
            $(".select2hidden").each(function () {
                var id = $(this).attr("id");
                $("#" + id + "_select2").html('<option>' + $(this).attr("descripcion") + '</option>').trigger('change');
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js"></script>
    <script src="/static/adicionalesjs/formquestion.js?0.24"></script>
    <link href="/static/widget_ppp.css" rel="stylesheet"/>
    <script type="text/javascript" src='/static/js/fontawesomev3.js?v=1.0.0'></script>
    <link href="/static/x-editable/bootstrap-editable.css" rel="stylesheet"/>
    <script src="/static/x-editable/bootstrap-editable.min.js?0.24"></script>
    <script src="/static/x-editable/moment.min.js?0.24"></script>
    <script>
        $(function () {

            $('.fCampoTitulo').editable({
                type: 'text', //number-date-select
                emptytext: "Vacío",
                mode: 'popup', //inline - popup
                validate: function (value) {
                    if ($.trim(value) === '') {
                        alertaWarning('No se puede dejar el campo vacío');
                    }
                    var idregistro = $(this).attr('data-pk');
                    bloqueointerface();
                    $.ajax({
                        type: 'POST',
                        url: '{{ request.path }}',
                        async: false,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            action: 'edittitulo',
                            id: idregistro,
                            valor: value
                        },
                        dataType: "json",
                        beforeSend: function () {
                        }
                    }).done(function (data) {
                        $.unblockUI();
                        if (data.result) {
                            alertaSuccess('Información Actualizada')
                        } else {
                            alertaWarning(data.msg);
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        $.unblockUI();
                        alertaWarning('Intentelo más tarde');
                    }).always(function () {
                        $.unblockUI();
                    });
                },
            });

            $('.fCampoFecha').editable({
                type: 'date',
                format: 'dd-mmyyyy',
                viewformat: 'dd/mm/yyyy',
                emptytext: "Vacío",
                mode: 'inline', //inline - popup
                validate: function (value) {
                    if ($.trim(value) === '') {
                        alertaWarning('No se puede dejar el campo vacío');
                    }
                    var idregistro = $(this).attr('data-pk');
                    bloqueointerface();
                    var month = ("0" + (value.getMonth() + 1).toString()).slice(-2);
                    var day = ("0" + value.getDate().toString()).slice(-2);
                    var year = value.getFullYear().toString();
                    var date = year + "/" + month + "/" + day;
                    $.ajax({
                        type: 'POST',
                        url: '{{ request.path }}',
                        async: false,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            action: 'editfecha',
                            id: idregistro,
                            valor: date
                        },
                        dataType: "json",
                        beforeSend: function () {
                        }
                    }).done(function (data) {
                        $.unblockUI();
                        if (data.result) {
                            $('#texto' + data.id).html(data.tiempo)
                            alertaSuccess('Información Actualizada')
                        } else {
                            alertaWarning(data.msg);
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        $.unblockUI();
                        alertaWarning('Intentelo más tarde');
                    }).always(function () {
                        $.unblockUI();
                    });
                },
            });

        });

        function guardardiascorreccion(id) {
                console.log(id)
                bloqueointerface();
                var dias = $(`#dias${id}`).val();
                console.log(dias)
                if (dias) {
                    $.ajax({
                        type: "POST",
                        url: "/adm_convalidacionpractica",
                        data: {'action': 'guardardiascorreccion', 'id': id, 'dias': dias},
                        success: function (data) {
                            if (data.result === 'ok') {
                                //$.unblockUI();
                                setTimeout($.unblockUI, 1);
                                NotificationJG.success('Tiempo de corrección guardado', 'Aviso!', 10000);
                               // location.reload()
                               //$("#fmaxcorreccion"+id).html(data.textofmax);
                               //$("#tlimcorreccion"+id).html(data.textotlim);
                            } else {

                                setTimeout($.unblockUI, 1);
                                smoke.alert(data.mensaje);
                            }
                        },
                        error: function () {
                            setTimeout($.unblockUI, 1);
                            smoke.alert("Error de conexión.");
                        },
                        dataType: "json"
                    });
                } else {
                    $.unblockUI();
                    smoke.alert('Complete los datos')
                }

            }
            function guardarhorasrequisito(id) {
                console.log(id)
                bloqueointerface();
                var dias = $(`#horas${id}`).val();
                console.log(dias)
                if (dias) {
                    $.ajax({
                        type: "POST",
                        url: "/adm_convalidacionpractica",
                        data: {'action': 'guardarhorasrequisito', 'id': id, 'horas': dias},
                        success: function (data) {
                            if (data.result === 'ok') {
                                //$.unblockUI();
                                setTimeout($.unblockUI, 1);
                                NotificationJG.success('HORAS DE REQUIISTO GUARDADAS', 'Aviso!', 10000);

                            } else {
                                if((data.result === 'no')) {

                                    setTimeout($.unblockUI, 1);
                                    {#smoke.alert('LOS HORAS DEBEN COINCIDIR CON LAS HORAS DE ACTIVIDAD');#}

                                    smoke.confirm('LOS HORAS DEBEN COINCIDIR CON LAS HORAS DE ACTIVIDAD',function(e){
                                    if (e){
                                    location.reload()
                                    }else{
                                    location.reload()
                                    }
                                    },
                                    {ok:"Salir", cancel:"OK"} // Nombre de los botones
                                    ); // Muestra mensaje de confirmación

                                }else{
                                    setTimeout($.unblockUI, 1);
                                    smoke.alert(data.mensaje);
                                }
                            }
                        },
                        error: function () {
                            setTimeout($.unblockUI, 1);
                            smoke.alert("Error de conexión.");
                        },
                        dataType: "json"
                    });
                } else {
                    $.unblockUI();
                    smoke.alert('Complete los datos')
                }

            }
    </script>
    <style>
        .input-append .add-on, .input-prepend .add-on {
            height: 30px;
            width: 30px
        }
    </style>
{% endblock %}
{% block atras %}{{ request.path }}{% endblock %}
{% block canvas %}

    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4><i class="fa fa-list"></i> <b class="paneltitle">FORMULARIO MODAL</b></h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal form-modal" autocomplete="off" method="post"
                  enctype="multipart/form-data" action="{{ request.path }}">
                {% csrf_token %}
                <div class="row-fluid panelbody">
                </div>
            </form>
        </div>
        <div class="modal-footer" id="footermodal">
            <a href="javascript:;" class="btn btn-default" data-dismiss="modal"><i
                    class="fa fa-window-close"></i>
                Cerrar</a>
        </div>
    </div>
        <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4><br>
            <h4>TIPO: {{ actividad.get_tipoactividad_display }}</h4>
            {#            <h4><i class="fa fa-tag"></i> {{ actividad.titulo }}</h4>#}
            <h4>ACTIVIDAD: {{ actividad.titulo }}</h4>
            <h4>LIDER: {{ actividad.profesor }}</h4><br>
            <a href="javascript:void(0);"
               onclick="formModal('{{ actividad.id }}', 'ADICIONAR REQUISITO','addrequisito')"
               class="btn btn-primary">
                <i class="fa fa-plus-circle"></i>
                Agregar Requisitos
            </a>
        </div>
    </div>

    <div id="no-more-tables"><!-- inicio no more tables-->
        <div class='row-fluid'>
        <div class='span12'>
            <div class="profile-content">

                <table style="background-color: #FFFFFF;" class="table tabla_paginada table-striped table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center">Evidencia</th>
                        <th style="text-align: center">Detalle</th>
                        <th style="text-align: center">Horas para Requisito</th>
                        <th style="text-align: center">F. Límite de Carga</th>
                        <th style="text-align: center">Formato</th>
                        <th style="text-align: center">Inscritos</th>
                        <th style="text-align: center">Días Límite de Corrección</th>
                        <th style="text-align: center">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for l in requisitos %}
                        <tr style="height: 15px" class="carreras">
                            <td data-title='Evidencia:'  style="text-align:center">
                                <a href="javascript:;" class="fCampoTitulo"
                                   data-type="text"
                                   data-pk='{{ l.id }}'
                                   data-title="Titulo">
                                    {{ l.titulo }}
                                </a>
                            </td>
                            <td data-title='Detalle:'  style="text-align:center">
                                {% if l.leyenda %}
                                    {{ l.leyenda }}
                                {% endif %}
                            </td>
                            <td data-title='Horas:' style="text-align: center">

                                <input type="number" id="horas{{ l.pk }}" class="horasrequisito" step="1" onblur="guardarhorasrequisito('{{ l.pk }}');"
                                       min="0" size=40 style="width:50px" value="{{ l.horasrequisito }}"><br>
                            </td>

                            <td  data-title='Fecha carga:' style="text-align:center">
                                <a href="javascript:;" class="fCampoFecha" data-type="date"
                                   data-viewformat="dd-mm-yyyy"
                                   data-value="{{ l.flimite|date:"d-m-Y"|default:'' }}"
                                   data-pk='{{ l.id }}'
                                   data-title="Fecha Limite">
                                    {{ l.flimite|date:"d-m-Y" }}
                                </a>
                            </td>
                            <td data-title='Formato:' style="text-align:center">
                                {% if l.formato %}
                                    <a href="/media/{{ l.formato }}" target="_blank" class="btn btn-primary"><i
                                            class="fa fa-download"></i> Formato</a>
                                {% else %}
                                    <i class="fa fa-times-circle"></i> Sin Formato
                                {% endif %}
                            </td>
                            <td data-title='Inscritos:' style="text-align:center">
                                <label class="label label-info tr" title="Estudiantes con Informes"><i
                                        class="fa fa-check-circle"></i> {{ l.cargados.count }}</label> /
                                <label class="label label-info tr" title="Cantidad de Estudiantes"><i
                                        class="fa fa-users"></i> {{ l.totalinscritos }}</label>

                                <br>
                                <span id="texto{{ l.id }}">{{ l.textoTiempo|safe }}</span>
                            </td>
                            <td data-title='Días corregir:' style="text-align: center">

                                <input type="number" id="dias{{ l.pk }}" class="diascorreccion" step="1" onblur="guardardiascorreccion('{{ l.pk }}');"
                                       min="0" size=40 style="width:50px" value="{{ l.diascorreccion }}"><br>
                            </td>
                            <td data-title='Acción:' style="text-align: center">
                                <div class="btn-group">
                                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown"
                                       href="javascript:;">
                                        Acciones <span class="caret"></span></a>
                                    <ul class="dropdown-menu pull-right" style="text-align: left">
                                        <li>
                                            <a href="javascript:void(0);"
                                               onclick="formModal('{{ l.pk }}', 'Editar Requisitos', 'editrequisito')">
                                                <i class="fa fa-edit"></i> Editar
                                            </a>
                                        </li>
                                        {% if not l.tiene_cargados %}
                                            <li>
                                                <a title="Eliminar" href="javascript:;"
                                                   onclick="eliminarajax('{{ l.id }}', '{{ l.titulo }}', 'deleterequisito')">
                                                    <i class="fa fa-remove"></i> Eliminar
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
