<input value="{{ comprobante.id }}" type="hidden" id="id_permiso">

<table class="table table-bordered">
    <thead style="text-align: right">
    <tr>
        <th>No.</th>
        <td>{{ comprobante.secuencia }}</td>
    </tr>
    <tr>
        <th>US $:</th>
        <td>{{ comprobante.valor }}</td>
    </tr>
    <tr>
        <th>Fecha:</th>
        <td>
            {{ fechaenletra }}
        </td>
    </tr>
    <tr>
        <th style="vertical-align: middle">A favor de:</th>
        <td colspan="6">{{ comprobante.solicita.nombre_completo_inverso }}</td>
    </tr>
    <tr>
        <th style="vertical-align: middle">La cantidad de:</th>
        <td colspan="6">{{ valorenletra }}</td>
    </tr>
    <tr>
        <th style="vertical-align: middle">Por concepto de:</th>
        <td colspan="6">{{ comprobante.concepto }}</td>
    </tr>
    </thead>
</table>