{% load sga_extras %}
{% load tz %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?python import sitetemplate ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#" py:extends="sitetemplate">
<html lang="en">
<head>
    <title>SOLICITUD PRACTICAS</title>
    <meta charset=UTF-8">
    <style type="text/css">
        @page {
            background-image: url('https://sga.unemi.edu.ec/media/reportes/encabezados_pies/membrete_unemi.png');
            size: a4;/*size: a4 landscape;*/
            @frame header_frame {
            -pdf-frame-content: header_content;
            bottom: 1cm;
            top: 1cm;
            height: 6cm;
        }
        @frame {
        -pdf-frame-content:company_logo;
            /*-pdf-frame-border: 1;*/
        left: 0.1cm; right: 0cm; top: 0.0cm; height: 4700cm; bottom: 0cm;
        }
        @frame content_frame {
        left: 1.5cm; right: 1cm; top: 3cm; bottom: 0cm;
        }
        @frame footer {
        -pdf-frame-content:footerContent;
        bottom: 0.05cm;
        margin-left: 1.5cm;
        margin-right: 2cm;
        text-align:right;
        height: 11cm;
        }
        }

        .avatar-offline {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        .texto {
            font-family: Arial, sans-serif;
            font-size: 12px;
        }

        .textoazul {
            font-family: Arial, sans-serif;
            color: #44546a;
        }
    </style>
</head>
<body>
{#<div id="company_logo">#}
{#    <img src='media/reportes/encabezados_pies/membrete_unemi.png' class="top_image"/>#}
{#</div>#}
<div id="header_content">
</div>
<div class="texto" style="margin-left: 24px; margin-right: 24px">
    <h2 align="right" style="margin-bottom: 0.11in; line-height: 100%">Milagro, {{ data.fecha }}</h2>
    <br>
    <table style="border: 0px solid #000000; font-size:11px; line-height:3px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif">
        <tr>
            <td width="18%"><b>PARA: </b></td>
            <td style="font-size: 13px;">
                <p>{{ data.filtro.dirigidoa }}<br>
                    <b>{{ data.filtro.cargo }}<br>
                    {{ data.filtro.empresa }}</b></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: left"><b>ASUNTO:</b></td>
            <td>
                Solicitud de prácticas pre profesionales o pasantías
            </td>
        </tr>
    </table>
    <br><br>
    <div style="text-align: justify;">
        De mi consideración: <br><br>
        Reciba un cordial y afectuoso saludo, así como mis deseos de éxito en las funciones que desempeña.
        El presente documento tiene como finalidad de presentar a nuestro(a) estudiante que se encuentra interesado(a)
        en realizar prácticas o pasantías en su prestigiosa empresa.
        <br>
        <table style="border: 1px solid lightgrey; font-size:11px; line-height:3px; vertical-align:top; padding:3px; font-family: Verdana, Arial, sans-serif; margin-top: 8px">
            <tr>
                <td style="text-align: left" width="25%"><b>Estudiante:</b></td>
                <td>
                    {{ data.filtro.preinscripcion.inscripcion.persona }}
                </td>
            </tr>
            <tr>
                <td style="text-align: left" width="25%"><b>Cédula:</b></td>
                <td>
                    {{ data.filtro.preinscripcion.inscripcion.persona.cedula }}
                </td>
            </tr>
            <tr>
                <td style="text-align: left" width="25%"><b>Teléfono:</b></td>
                <td>
                    {{ data.filtro.preinscripcion.inscripcion.persona.telefono }}
                </td>
            </tr>
            <tr>
                <td style="text-align: left" width="25%"><b>Correo:</b></td>
                <td>
                    {{ data.filtro.preinscripcion.inscripcion.persona.emailinst }}
                </td>
            </tr>
            <tr>
                <td style="text-align: left" width="25%"><b>Carrera:</b></td>
                <td>
                    {{ data.filtro.preinscripcion.itinerariomalla.malla.carrera }}
                </td>
            </tr>
            <tr>
                <td style="text-align: left" width="25%"><b>Nivel:</b></td>
                <td>
                    {{ data.filtro.preinscripcion.inscripcion.matricula.nivelmalla }}
                </td>
            </tr>
            <tr>
                <td style="text-align: left" width="25%"><b>Horas de prácticas:</b></td>
                <td>
                    {{ data.filtro.preinscripcion.itinerariomalla.horas_practicas }} horas
                </td>
            </tr>
            <tr>
                <td style="text-align: left" width="25%"><b>Itinerario:</b></td>
                <td>
                    {{ data.filtro.preinscripcion.itinerariomalla.nombre }}
                </td>
            </tr>
        </table>
        <br>

        <p>Si la admisión de nuestro(a) estudiante es favorable, se solicita comedidamente generar un documento de aceptación como practicante o pasante,
        sea esto por oficio o correo electrónico dirigido al estudiante para que pueda ingresar el documento en formato PDF en el SGA en el módulo “Mis prácticas preprofesionales”
        opción “Pre inscripción de prácticas” en el botón “Subir carta de aceptación”.</p>

        <p>Por otro lado, si no tenemos un Convenio vigente con la empresa se procede a elaborar un Acuerdo de Compromiso y una vez firmado
            el documento por ambas partes, procederemos a realizar la vinculación del estudiante con la asignación de un tutor que estará a cargo del estudiante durante todo el
            proceso de sus prácticas o pasantías.</p>

        <p>En caso de requerir información adicional, ponemos a su disposición el siguiente correo electrónico practicaspreprofesionales@unemi.edu.ec</p>

        Con sentimientos de distinguida consideración.
        {% comment %}
        <center>
{#            <img src="/media/{{ data.firmaimg.firma }}" style="width: 250px" class="avatar-offline"><br>#}
            <img src="https://sga.unemi.edu.ec{{ data.firmaimg }}" style="width: 250px" class="avatar-offline"><br>
{#            {% if data.responsablevinculacion.titulo_3er_nivel %}{{ data.responsablevinculacion.titulo_3er_nivel.titulo.abreviatura }}{% endif %} {{ data.responsablevinculacion.nombre_completo_titulo }}<br>#}
{#            <b>VICERRECTORA DE VINCULACIÓN</b>#}
            {{ data.responsablevinculacion.nombres }}<br>
            <b>{{ data.responsablevinculacion.cargo }}</b>
        </center>
        {% endcomment %}
        <div style="text-align: left">
            Atentamente,<br><br>
        </div>
        <table>
            <tbody>
                <td style="text-align: left; padding-right: -10px; width: 15%" >
                    <img src="{{ data.url_qr }}" width="80" height="80" alt="firma sga">
                </td>
                <td style="text-align: left ;line-height: normal; padding-left: -10px;" >
                    <span style="font-size: 8px;"><b>APROBADO POR: </b> {{ data.responsablevinculacion.nombres }}</span><br>
                    <span style="font-size: 8px;"><b>CARGO: </b>{{ data.responsablevinculacion.cargo }}</span><br>
                    <span style="font-size: 8px;"><b>FECHA DE APROBACIÓN: </b>{{ data.filtro.fecha_revision|date:'d-m-Y h:i a' }}</span><br>
                </td>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
{#    <div class="textoazul" style="text-align: justify">#}
{#        Nota: <br>#}
{#        • El presente documento es la carta de presentación del estudiante, lo cual no representa al documento#}
{#        formal para iniciar las prácticas. <br>#}
{#        • En caso de ser favorable la solicitud por favor notificar al estudiante mediante un documento de#}
{#        aceptación, sea esto por oficio o correo electrónico dirigido al estudiante para que pueda ingresar en#}
{#        el SGA en el módulo “Pre inscripción de prácticas” en el botón “Solicitud de institución”.#}
{#    </div>#}

    <div align="right">
        Cod. {{ data.filtro.codigodocumento }}
    </div>
{#    <div id="footerContent">#}
{#        {% block page_foot %}#}
{#        {% endblock %}#}
{#    </div>#}
</div>
</body>
</html>




