{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            chequeaLicencia = function() {
                if (!$("#id_tienelicencia").is(':checked')) {
                    tipolicencia = $("#id_tipolicencia");
                    tipolicencia.val("").attr("disabled", true);
                } else {
                    $("#id_tipolicencia").attr("disabled", false);
                }
            };

            $("#id_tienelicencia").click(chequeaLicencia);

            $("#id_hijos").blur(function(){
                numerico($(this), 0, 0, 0);
            });
            $("#id_horanacimiento").timepicker({minuteStep: 1,appendWidgetTo: 'body', showSeconds: false, showMeridian: false, defaultTime: false});

            chequeaLicencia();
        });
    </script>
{% endblock %}
{% block atras %}box_medical?action=ficha&id={{ paciente.id }}{% endblock %}
{% block formwidth %}form-m{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}box_medical?action=ficha&id={{ paciente.id }}{% endblock %}
{% block formaction %}/box_medical{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='datos'/>
    <input type='hidden' name='id' value="{{ pex.id }}"/>
{% endblock %}
{% block formback %}box_medical?action=ficha&id={{ paciente.id }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}