{% load humanize %}
{% load sga_extras %}
{% block extraheading %}
    <link rel="stylesheet" href="/static/css/stylesfc.css">
    <script>
        $(function(){
            $('[data-bs-toggle="tooltip"]').tooltip();

            $("#finreal, #observacionfin").addClass("validate[required]");

            $("#viewcontrato").click(function (){
                Fancybox.show([
                    {
                        src: "{{ docenteinvitado.archivocontrato.url }}",
                        width: 2048,
                        height: 1365,
                        caption:"Anexo: Contrato de Talento Humano"
                    },
                ]);
            });
        });
    </script>
{% endblock %}
<form id="frmFinalizarContrato" style="width: 100%; margin-bottom: 0px;padding-left: 0px;padding-top: 0px; padding-right: 0px; padding-bottom: 0px">
    {% csrf_token %}
    <input type='hidden' name='action' value='finalizarcontrato'/>
    <input type='hidden' name='id' value='{{ docenteinvitado.id|encrypt }}'/>
    <table class="table table-bordered mb-0">
        <tbody>
            <tr>
                <td><b>Profesor:</b></td>
                <td colspan="3">
                    {{ docenteinvitado.profesor.persona.nombre_completo_inverso }}
                </td>
            </tr>
            <tr>
                <td><b>Coordinación:</b></td>
                <td colspan="3">
                    {{ docenteinvitado.profesor.coordinacion.nombre }}
                </td>
            </tr>
            <tr>
                <td style="width: 20%;"><b>Dedicación:</b></td>
                <td style="width: 30%;">
                    {{ docenteinvitado.dedicacion.nombre }}
                </td>
                <td style="width: 20%;"><b>Horas:</b></td>
                <td style="width: 30%;">
                    {{ docenteinvitado.dedicacion.horas }}
                </td>
            </tr>
            <tr>
                <td><b>Modalidad:</b></td>
                <td>
                    {{ docenteinvitado.modalidad.nombre }}
                </td>
                <td><b>N° Contrato:</b></td>
                <td>
                    {{ docenteinvitado.numerocontrato }} <a href="javascript:;" class="btn btn-mini btn-info" id="viewcontrato" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Archivo"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td><b>Inicio Contrato:</b></td>
                <td>
                    {{ docenteinvitado.inicio|date:"d-m-Y" }}
                </td>
                <td><b>Fin Contrato:</b></td>
                <td>
                    {{ docenteinvitado.fin|date:"d-m-Y" }}
                </td>
            </tr>
            <tr>
                <td><b>Remuneración:</b></td>
                <td>
                    $ {{ docenteinvitado.remuneracion|floatformat:2|intcomma }}
                </td>
                <td><b>Fin Real:</b></td>
                <td>
                    <input style="width: 98%;" type="date" id="finreal" name="finreal" value=""/>
                    <div class="help-text" style="color: #dc1414;font-size: xx-small; margin-bottom: 0;"></div>
                </td>
            </tr>
            <tr>
                <td><b>Observaciones:</b></td>
                <td colspan="3">
                    <textarea style="width: 100%; resize: none; text-transform: none" cols="40" id="observacionfin" name="observacionfin" rows="4"></textarea>
                    <div class="help-text" style="color: #dc1414;font-size: xx-small; margin-bottom: 0;"></div>
                </td>
            </tr>
        </tbody>
    </table>
</form>