{% extends  "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#cbo_meses").change(function(){
                bloqueointerface();
                location.href = "/poa_aprobarevidencia?action=graficaobjetivo&idd={{ idd }}&idc={{ idc }}&idp={{ idp }}&mes="+$(this).val();
            });
            {% for depa in lista %}
                Highcharts.chart('container{{ forloop.counter0 }}', {
                        chart: {
                            type: 'gauge',
                            plotBackgroundColor: null,
                            plotBackgroundImage: null,
                            plotBorderWidth: 0,
                            plotShadow: false
                        },
                        title: {
                            text: 'Objetivo Operativo:{{ depa.1 }}',
                            style: {
                                color: '#000000',
                                fontWeight: 'bold',
                                fontSize: '11px'
                            }
                        },
                        pane: {
                            startAngle: -120,
                            endAngle: 120,
                            background: [{
                                backgroundColor: {
                                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                    stops: [
                                        [0, '#FFF'],
                                        [1, '#333']
                                    ]
                                },
                                borderWidth: 0,
                                outerRadius: '109%'
                            }, {
                                backgroundColor: {
                                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                                    stops: [
                                        [0, '#333'],
                                        [1, '#FFF']
                                    ]
                                },
                                borderWidth: 1,
                                outerRadius: '107%'
                            }, {
                                // default background
                            }, {
                                backgroundColor: '#DDD',
                                borderWidth: 0,
                                outerRadius: '90%',
                                innerRadius: '100%',
                                shape: 'arc'
                            }]
                        },
                        // the value axis
                        yAxis: [
                            {
                            offset: 25,
                            min: 0,
                            max: 100,

                            minorTickInterval: 'auto',
                            minorTickWidth: 10,
                            minorTickLength: 0,
                            minorTickPosition: 'inside',
                            minorTickColor: '#666',
                            lineWidth: 1,
                            tickPixelInterval: 30,
                            tickWidth: 1,
                            tickPosition: 'inside',
                            tickLength: 15,
                            tickColor: '#666',
                            labels: {
                                step: 2,
                                rotation: 'auto'
                            },
                            title: {
                                text: '% cumplimiento<br>{{ mes|transformar_mes|upper }}',
                                color: '#FFAC33'
                            },
                            plotBands: [
                                {
                                    from: 0,
                                    to: 30,
                                    color: '#FF3333' // red
                                }, {
                                    from: 30.01,
                                    to: 89.99,
                                    color: '#FFAC33' // yellow
                                }, {
                                    from: 90,
                                    to: 100,
                                    color: '#74DF00' // green
                                }]
                        }],

                        series: [{
                            name: 'Pocentaje cumplimiento',
                            data: [{{ depa.2 }}],
                            dataLabels: {
                                formatter: function () {
                                    var cump = this.y;
                                    if (cump<=30){
                                        colores = '#FF3333'
                                    }
                                    if (cump>30 && cump<90){
                                        colores = '#FFAC33'
                                    }
                                    if (cump>=90){
                                        colores = '#74DF00'
                                    }
                                    return '<span style="color:'+colores+'">' + cump + '</span><br/>'
{#                                                                            + '<span style="color:#933">' + mph + ' mph</span>';#}
                                    {#                                        + '<span style="color:'+colores+'">SEPTIEMBRE</span>';#}
                                },
                                backgroundColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0,
                                        x2: 0,
                                        y2: 1
                                    },
                                    stops: [
                                        [0, '#DDD'],
                                        [1, '#FFF']
                                    ]
                                }
                            },
                            tooltip: {
                                valueSuffix: ' %'
                            }
                        }]

                    },
// Add some life
                    function (chart) {
                        if (!chart.renderer.forExport) {
                            setInterval(function () {
                                var point = chart.series[0].points[0],
                                    newVal,
                                    inc = Math.round((Math.random() - 0.5) * 20);

                                newVal = point.y + inc;
                                if (newVal < 0 || newVal > 200) {
                                    newVal = point.y - inc;
                                }

                                {#                                point.update(newVal);#}

                            }, 3000);
                        }
                    });
            {% endfor %}
        });
    </script>
{% endblock %}
{% block atras %}/poa_aprobarevidencia?action=revisadepartamento&idp={{ periodopoa.id }}{% endblock %}
{% block canvas %}
    <div class='row-fluid' align="center">
        <div class="span12">
            <h3>{{ departamento }}
                {% if carrera %}
                   - {{ carrera.nombre_completo }}
                {% endif %}
            </h3>
        </div>
        <div class='span12'>
            <select id="cbo_meses" >
                {% for idmes in meses %}
                    {% if idmes.0 <= ahora %}
                        <option value="{{ idmes.0 }}" {% if idmes.0 == mes %} selected {% endif %}>{{ idmes.1 }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    {% for depa in lista %}
        <div class="span4" style="text-align: center;border: 1px solid #e3e3e3;padding: 5px;border-radius: 5px">
            <div id="container{{ forloop.counter0 }}" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>
            <div align="left">
                <strong>
                    Acciones planificadas a {{ mes|transformar_mes }}: {{ depa.3 }}<br>
                    Acciones con cumplimiento total a {{ mes|transformar_mes }}: {{ depa.4|floatformat:0 }}<br>
                    Acciones con cumplimiento parcial a {{ mes|transformar_mes }}: {{ depa.5|floatformat:0 }}
                </strong>
            </div>
        </div>
    {% endfor %}
{% endblock %}