{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            $("#id_nombre, #id_tipoincidente").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block atras %}/helpdesk_hdincidente?action=listadocausas{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/helpdesk_hdincidente?action=listadocausas{% endblock %}
{% block formaction %}/helpdesk_hdincidente{% endblock %}
{% block formwidth %}form-s{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editcausa'/>
    <input type='hidden' name='id' value='{{ causa.id }}'/>
{% endblock %}
{% block formback %}/helpdesk_hdincidente?action=listadocausas{% endblock %}
{% block buttonname %}Guardar{% endblock %}