{% extends "base.html" %}
{% load sga_extras %}
{% block heading %}
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet"/>
    <script>

        $(function () {

            $("#search").click(function () {
                var term = $("#searchinput").val().toUpperCase();
                location.href = "{{request.path}}?s=" + term;
            });

            $('#searchinput').keyup(function (e) {
                if (e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });

        });

        function calcular(nombre) {
            var actual = $("#" + nombre).val();
            var propuesta = $("#p" + nombre).text();
            var rbrecha = $("#b" + nombre);
            var observacion = $("#o" + nombre);
            if (nombre == 'serv' || nombre == 'admin') {
                var propuesta = $("#p" + nombre).val();
            }
            var brecha = 0;
            brecha = actual - propuesta;
            sumar();
            if (brecha > 0) {
                observacion.text('SERVIDORES EXCEDENTES');
                rbrecha.text(brecha);

            } else {
                if (brecha < 0) {
                    observacion.text('SERVIDORES REQUERIDOS');
                    rbrecha.text((brecha * -1));

                } else {
                    observacion.text('ok');
                    rbrecha.text('0');


                }
            }
        }

        function sumar() {
            var direccion = parseInt($("#direccion").val());
            var pdireccion = parseInt($("#pdireccion").text());

            var coordinacion = parseInt($("#coordinacion").val());
            var pcoordinacion = parseInt($("#pcoordinacion").text());

            var supervision = parseInt($("#supervision").val());
            var psupervision = parseInt($("#psupervision").text());

            var ejecucion = parseInt($("#ejecucion").val());
            var pejecucion = parseInt($("#pejecucion").text());

            var apoyo = parseInt($("#apoyo").val());
            var papoyo = parseInt($("#papoyo").text());

            var tecnico = parseInt($("#tecnico").val());
            var ptecnico = parseInt($("#ptecnico").text());

            var admin = parseInt($("#admin").val());
            var padmin = parseInt($("#padmin").val());

            var serv = parseInt($("#serv").val());
            var pserv = parseInt($("#pserv").val());

            var observacion = $("#observacion");

            var actual = 0;
            var propuesta = 0;
            var brecha = 0;

            actual = direccion + coordinacion + supervision + ejecucion + apoyo + tecnico + admin + serv;
            propuesta = pdireccion + pcoordinacion + psupervision + pejecucion + papoyo + ptecnico + padmin + pserv;
            brecha = actual - propuesta;
            if (brecha > 0) {
                brecha = (brecha);
                observacion.text('SERVIDORES EXCEDENTES');


            } else {
                if (brecha < 0) {
                    brecha = ((brecha * -1));
                    observacion.text('SERVIDORES REQUERIDOS');

                } else {
                    brecha = 0;
                    observacion.text('ok');

                }
            }
            $("#actual").text(actual);
            $("#propuesta").text(propuesta);
            $("#brecha").text(brecha);

        }

        function guardaractividad(nombre) {
            var objeto = $('#' + nombre);
            var dato = objeto.val();
            bloqueointerface();
            $.ajax({
                type: "POST",
                url: "{{request.path}}",
                data: {
                    'action': 'guardabrecha',
                    'nombre': nombre,
                    'dato': dato,
                    'id':{{gestion.id}},
                    'cab':{{cabecera.id}}
                },
                success: function (data) {
                    $.unblockUI();

                    if (!(data.result == 'ok')) {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"

            });

        }


    </script>
    <style>
        .pintarcuadro {
            color: #ECE5D7;
        }

    </style>
{% endblock %}

{% block atras %}{{request.path}}?action=midepa&idp={{ cabecera.periodo.id }}&unidad={{ unidad }}{% endblock %}

{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>

   <div class="card mb-4">
            <div class="card-body border-top border-6 rounded-3 border-dark-info">
                <div class="table-responsive-xxl">
                <table class='table table-bordered' cellpadding="0" cellspacing="0">

                    <thead>
                    {#                    <tr>#}
                    {#                        <th style="width: 120px">REPORTE DE BRECHAS</th>#}
                    {#                    </tr>#}
                    <tr>
                        <th style="width: 120px;text-align: center;background-color: #3498DB" colspan="17">REPORTE DE
                            BRECHAS
                        </th>
                    </tr>
                    <tr>
                        <th style="width: 120px;background-color: #85C1E9;text-align: center" rowspan="2">Gestión</th>
                        <th style="width: 120px;background-color: #85C1E9;text-align: center" colspan="8">Situación Actual</th>
                        <th style="width: 120px;background-color: #BECAD3;text-align: center" colspan="8">Situación Propuesta</th>

                    </tr>

                    <tr>
                        <th style="width: 120px;background-color: #85C1E9">Dirección</th>
                        <th style="width: 120px;background-color: #85C1E9">Ejecución y Coordinación de procesos</th>
                        <th style="width: 120px;background-color: #85C1E9">Ejecución y Supervisión de procesos</th>
                        <th style="width: 120px;background-color: #85C1E9">Ejecución de procesos</th>
                        <th style="width: 120px;background-color: #85C1E9">Ejecución de procesos de apoyo</th>
                        <th style="width: 120px;background-color: #85C1E9">Técnico</th>
                        <th style="width: 120px;background-color: #85C1E9">Administrativo</th>
                        <th style="width: 120px;background-color: #85C1E9">Servicios</th>

                        <th style="width: 120px;background-color: #BECAD3">Dirección</th>
                        <th style="width: 120px;background-color: #BECAD3">Ejecución y Coordinación de procesos</th>
                        <th style="width: 120px;background-color: #BECAD3">Ejecución y Supervisión de procesos</th>
                        <th style="width: 120px;background-color: #BECAD3">Ejecución de procesos</th>
                        <th style="width: 120px;background-color: #BECAD3">Ejecución de procesos de apoyo</th>
                        <th style="width: 120px;background-color: #BECAD3">Técnico</th>
                        <th style="width: 120px;background-color: #BECAD3">Administrativo</th>
                        <th style="width: 120px;background-color: #BECAD3">Servicios</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for brecha in brechas %}
                        <tr>
                            <td style="width: 120px"><span id="gestion">{{ brecha.gestion.gestion }}</span></td>
                            <td style="width: 120px; background-color: #E0F2FE;text-align: center"><span id="direccion">{{ brecha.direccion }}</span></td>
                            <td style="width: 120px; background-color: #E0F2FE;text-align: center"><span id="direccion">{{ brecha.ejecucioncoord }}</span></td>
                            <td style="width: 120px; background-color: #E0F2FE;text-align: center"><span id="direccion">{{ brecha.ejecucionsupervision }}</span></td>
                            <td style="width: 120px; background-color: #E0F2FE;text-align: center"><span id="direccion">{{ brecha.ejecucion }}</span></td>
                            <td style="width: 120px; background-color: #E0F2FE;text-align: center"><span id="direccion">{{ brecha.ejecucionapoyo }}</span></td>
                            <td style="width: 120px; background-color: #E0F2FE;text-align: center"><span id="direccion">{{ brecha.tecnico }}</span></td>
                            <td style="width: 120px; background-color: #E0F2FE;text-align: center"><span id="direccion">{{ brecha.administrativo }}</span></td>
                            <td style="width: 120px; background-color: #E0F2FE;text-align: center"><span id="direccion">{{ brecha.servicios }}</span></td>


                            <td style="width: 120px; background-color: #F4F5F5;text-align: center"><span id="direccion">{{ brecha.pdireccion }}</span></td>
                            <td style="width: 120px; background-color: #F4F5F5;text-align: center"><span id="direccion">{{ brecha.pejecucioncoord }}</span></td>
                            <td style="width: 120px; background-color: #F4F5F5;text-align: center"><span id="direccion">{{ brecha.pejecucionsupervision }}</span></td>
                            <td style="width: 120px; background-color: #F4F5F5;text-align: center"><span id="direccion">{{ brecha.pejecucion }}</span></td>
                            <td style="width: 120px; background-color: #F4F5F5;text-align: center"><span id="direccion">{{ brecha.pejecucionapoyo }}</span></td>
                            <td style="width: 120px; background-color: #F4F5F5;text-align: center"><span id="direccion">{{ brecha.ptecnico }}</span></td>
                            <td style="width: 120px; background-color: #F4F5F5;text-align: center"><span id="direccion">{{ brecha.padministrativo }}</span></td>
                            <td style="width: 120px; background-color: #F4F5F5;text-align: center"><span id="direccion">{{ brecha.pservicios }}</span></td>

                        </tr>
                    {% endfor %}

                    <tr style="background-color: #BECAD3">
                        <td style="width: 120px;text-align: center">Número de servidores</td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totaldireccion.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalejecucioncoord.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalejecucionsupervision.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalejecucion.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalejecucionapoyo.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totaltecnico.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totaladministrativo.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalservicios.valor }}</span></td>

                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalpdireccion.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalpejecucioncoord.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalpejecucionsupervision.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalpejecucion.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalpejecucionapoyo.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalptecnico.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalpadministrativo.valor }}</span></td>
                        <td style="width: 120px;text-align: center"><span>{{ cabecera.totalpservicios.valor }}</span></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        {% if paging.num_pages > 20 %}
            <div class='pagination'>
                <ul>
                    {% if paging.primera_pagina %}
                        <li><a href="{{request.path}}?page=1">1</a></li>
                        <li><a href="{{request.path}}?page={{ paging.ellipsis_izquierda }}" class="active">...</a>
                        </li>
                    {% endif %}
                    {% for pagenumber in paging.paginas %}
                        <li {%  if pagenumber == page.number %}class='active'{% endif %}><a
                                href="{{request.path}}?page={{ pagenumber }}">{{ pagenumber }}</a></li>
                    {% endfor %}
                    {% if paging.ultima_pagina %}
                        <li><a href="{{request.path}}?page={{ paging.ellipsis_derecha }}" class="active">...</a>
                        </li>
                        <li><a href="{{request.path}}?page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class='pagination'>
                <ul>
                    {% for pagenumber in paging.page_range %}
                        <li {%  if pagenumber == page.number %}class='active'{% endif %}><a
                                href="{{request.path}}?{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}">{{ pagenumber }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>


{% endblock %}
