{% for actividad in actividades %}

    <tr>
        <td style="text-align: center">
            {#            <input {% if actividad.tipo_nombre == 'INVESTIGACION' or actividad.tipo_nombre == 'VINCULACIÓN' %}#}
            {#                                    {% if not es_evaluador %}#}
            {#                                        disabled#}
            {#                                    {% else %}#}
            {#                                        {% if not es_investigador and actividad.tipo_nombre == 'INVESTIGACION' %}#}
            {#                                            disabled#}
            {#                                        {% endif %}#}
            {#                                        {% if not es_vinculacion and actividad.tipo_nombre == 'VINCULACIÓN' %}#}
            {#                                            disabled#}
            {#                                        {% endif %}#}
            {#                                    {% endif %}#}
            {#                                {% endif %}#}
            {#                                {% if not actividad.tipo_nombre == 'INVESTIGACION' and not actividad.tipo_nombre == 'VINCULACIÓN' %}#}
            {#                                    {% if es_evaluador %}#}
            {#                                        disabled#}
            {#                                    {% endif %}#}
            {#                                {% endif %}#}
            <input {% if actividad.tipo_nombre in itemdesabilita %}disabled{% endif %}
                    {% if actividad.id in actividadesselec %}checked {% endif %} {% if actividad.id in actividadesseleccionadas %}disabled {% endif %} ida="{{ actividad.id }}" class="actividad" type="checkbox">
        </td>
        <td class="smaller" id="nombreactividad_{{ actividad.id }}">{{ actividad.nombre }}</td>
        <td class="smaller">{{ actividad.tipo_nombre }} </td>
        <td class="text-align: center">{% if actividad.id in actividadesseleccionadas %}<i class="fa fa-check" style="color: green"></i>{% endif %}</td>
    </tr>
{% endfor %}