{% extends "ajaxformbs.html" %}
{% block atras %}/th_hojavida{% endblock %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_periodograduacion").datepicker({ dateFormat: 'yy'});
            $("#id_calificacion, #id_archivo,id_reconocimientoacademico, #id_periodograduacion,#id_anioinicioperiodograduacion,#id_aniofinperiodograduacion").addClass("validate[required]");

            $(".btn-fancybox").fancybox({
                        openEffect: 'elastic',
                        closeEffect: 'elastic',
                        //modal: true,
                        showCloseButton: true,
                        hideOnOverlayClick: false,
                        hideOnContentClick: false,
                        autoSize: true,
                        type: 'iframe',
                        iframe: {
                            preload: false // fixes issue with iframe and IE
                        }
            });
            {% if titulacion.detalletitulacion.actagrado %}
                $('#id_archivo').parent().find('.bootstrap-filestyle.input-group').append('<a class="btn btn-link btn-fancybox"  data-original-title="Archivo" target="_blank" data-fancybox-type="iframe" href="{{titulacion.detalletitulacion.actagrado.url}}"> <i class="fa fa-download"></i> {{titulacion.detalletitulacion.actagrado.url}}</a>')
                $('#id_archivo').removeClass("validate[required]");
            {% endif %}
            {% if titulacion.detalletitulacion.reconocimientoacademico %}
                $('#id_reconocimientoacademico').parent().find('.bootstrap-filestyle.input-group').append('<a class="btn btn-link btn-fancybox"  data-original-title="Archivo" target="_blank" data-fancybox-type="iframe" href="{{titulacion.detalletitulacion.reconocimientoacademico.url}}"> <i class="fa fa-download"></i> {{titulacion.detalletitulacion.reconocimientoacademico.url}}</a>')
                $("#id_reconocimientoacademico").removeClass("validate[required]");
            {% endif %}


            $("#id_anioinicioperiodograduacion,#id_aniofinperiodograduacion").change(function(){
                numerico($(this), 0, 0, 0);
            });
{#            $("#id_tutorunemi_select2").select2({#}
{#                placeholder: "---------",#}
{#                allowClear: true,#}
{#                ajax: {#}
{#                    url: function (params) {#}
{#                        return "/reportes?action=data&model=Profesor&p=1&s=10&q=" + params.term;#}
{#                    },#}
{#                    dataType: 'json',#}
{#                    delay: 250,#}
{#                    data: function (params) {#}
{#                        return {#}
{#                            q: params.term,#}
{#                            page: params.page#}
{#                        };#}
{#                    },#}
{#                    processResults: function (data, params) {#}
{#                        params.page = params.page || 1;#}
{#                        return {#}
{#                            results: data.results,#}
{#                            pagination: {#}
{#                                more: (params.page * 30) < data.total_count#}
{#                            }#}
{#                        };#}
{#                    },#}
{#                    cache: true#}
{#                },#}
{#                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work#}
{#                minimumInputLength: 1,#}
{#                templateResult: ItemsDisplay, // omitted for brevity, see the source of this page#}
{#                templateSelection: ItemsDisplay // omitted for brevity, see the source of this page#}
{#            }).on("select2:select", function (evt) {#}
{#                $("#id_tutorunemi").attr({"value":(evt.params.data.id)});#}
{#            });#}
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/th_hojavida{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='adddetalletitulobachiller'/>
    <input type='hidden' name='titulacion' value='{{ titulacion.id }}'/>
{% endblock %}
{% block formback %}/th_hojavida{% endblock %}
{% block formdestination %}/th_hojavida{% endblock %}
{% block buttonname %}Guardar{% endblock %}