{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){


            $("#id_fechapublicacion").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
            $("#id_areaconocimiento, #id_subareaconocimiento, #id_subareaespecificaconocimiento").addClass("validate[required]").val(0).trigger("change");
            $("#id_nombre, #id_ciudad, #id_evento, #id_pais, #id_ciudad").addClass("validate[required]");
            $('#id_areaconocimiento').change(function(){
                $('#id_subareaconocimiento, #id_subareaespecificaconocimiento').empty().append('<option value="">---------</option>').val(0).trigger("change");
                var control = $(this);
                var id = parseInt($("#id_areaconocimiento").val());
                if (id > 0) {
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/api",
                        data: {'a': 'subareaconocimiento', 'id': id},
                        success: function (data) {
                            $.unblockUI();
                            if (data.result == 'ok') {
                                for (elemento in data.lista) {
                                    $('#id_subareaconocimiento').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                                }
                            } else {
                                control.val(0).trigger("change");
                                smoke.alert(data.mensaje);
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            control.val(0).trigger("change");
                            smoke.alert("Error de conexion.");
                        },
                        dataType: "json"
                    });
                }
            });

            $('#id_subareaconocimiento').change(function(){
                $('#id_subareaespecificaconocimiento').empty().append('<option value="">---------</option>').val(0).trigger("change");
                var control = $(this);
                var id = parseInt($("#id_subareaconocimiento").val());
                if (id > 0) {
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/api",
                        data: {'a': 'subareaespecificaconocimiento', 'id': id},
                        success: function (data) {
                            $.unblockUI();
                            if (data.result == 'ok') {
                                for (elemento in data.lista) {
                                    $('#id_subareaespecificaconocimiento').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                                }
                            } else {
                                control.val(0).trigger("change");
                                smoke.alert(data.mensaje);
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            control.val(0).trigger("change");
                            smoke.alert("Error de conexion.");
                        },
                        dataType: "json"
                    });
                }
            });
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}/th_hojavida{% endblock %}
{% block formaction %}/th_hojavida{% endblock %}
{% block formdestination %}/th_hojavida{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='add'/>
{% endblock %}
{% block formback %}/th_hojavida{% endblock %}
{% block buttonname %}Guardar{% endblock %}