{% extends "ajaxform.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $('.help-text').css({'color':'black', 'font-size': '10px'});

            selectorleads = $(".selectorleads");

            tooltips();

            $("#id_contactoemergencia,#id_parentescoemergencia,#id_telefonoemergencia").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block atras %}/th_hojavida{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/th_hojavida{% endblock %}
{% block formdestination %}/th_hojavida{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='contactoemergenciaaspirante'/>
{% endblock %}
{% block formback %}/th_hojavida{% endblock %}
{% block buttonname %}Guardar{% endblock %}