{% extends "ajaxform.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $('.help-text').css({'color':'black', 'font-size': '10px'});

            selectorleads = $(".selectorleads");

            tooltips();

            {% if not situacion.tienenegocio %}
                 $("#fieldset_negocio").hide()
            {% endif %}
             {% if not situacion.disponetrabajo %}
                  bloquear()
            {% endif %}
            $('#id_tienenegocio').click(function(){
                if($('#id_tienenegocio').is(":checked")){
                    $("#fieldset_negocio").show()
                    $("#id_negocio").val('{{ familiar.negocio }}')
                }else{
                    $("#fieldset_negocio").hide()
                    $("#id_negocio").val('')
                }
            })

            disponetrabajo = function () {
                if ($('#id_disponetrabajo').is(":checked")) {
                   $("#id_tipoinstitucionlaboral, #id_lugartrabajo").removeAttr('disabled');
                   $("#id_tipoinstitucionlaboral, #id_lugartrabajo").addClass("validate[required]");
                } else {
                    bloquear()
                }
            };
            $('#id_disponetrabajo').click(function () {
                disponetrabajo();
            });
        });

        function bloquear(){
            $("#id_tipoinstitucionlaboral, #id_lugartrabajo").attr({'disabled': 'disabled'});
            $("#id_tipoinstitucionlaboral, #id_lugartrabajo").removeClass("validate[required]");
        }

    </script>
{% endblock %}
{% block atras %}/th_hojavida{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/th_hojavida{% endblock %}
{% block formdestination %}/th_hojavida{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='{{ action }}'/>
{% endblock %}
{% block formback %}/th_hojavida{% endblock %}
{% block buttonname %}Guardar{% endblock %}