{% extends "ajaxformbs.html" %}
{% block atras %}/th_hojavida{% endblock %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_fecha, #id_descripcion,#titulo").addClass("validate[required]");
            $("#id_fecha").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
            $("#id_hora").timepicker({minuteStep: 1,appendWidgetTo: 'body', showSeconds: false, showMeridian: false, defaultTime: true});

        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/th_hojavida{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='{{ action }}'/>
    <input type='hidden' name='id' value='{{ bitacora.id }}'/>
{% endblock %}
{% block formback %}/th_hojavida{% endblock %}
{% block formdestination %}/th_hojavida{% endblock %}
{% block buttonname %}Guardar{% endblock %}