{% extends "ajaxformbs.html" %}
{% block atras %}/th_hojavida{% endblock %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_fecha").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
            $("#id_idioma , #id_nivel, #id_fecha").addClass("validate[required]");
            $("#id_idioma , #id_nivel, #id_fecha").css({'text-transform': 'none'});
            {#$( "#id_validainst" ).click(function() {#}
            {#    if ($('#id_validainst').is(':checked')){#}
            {#        $("#id_otrainstitucion").val('');#}
            {#        $("#id_otrainstitucion").attr('disabled','disabled');#}
            {#        $("#id_institucion").attr('disabled','disabled');#}
            {#    }else{#}
            {#        $("#id_otrainstitucion").removeAttr('disabled');#}
            {#        $("#id_otrainstitucion").removeAttr('readonly');#}
            {#        $("#id_otrainstitucion").addClass("validate[required]");#}
            {#    }#}
            {#});#}

            $('#id_validainst').on('click', function() {
                validatipo();
            });

            validatipo = function () {
                if( $('#id_validainst').is(':checked') ){

                    $("#id_institucion").attr('disabled','disabled');
                    $("#id_otrainstitucion").removeAttr('disabled');
                    $("#id_otrainstitucion").removeAttr('readonly');
                    $("#id_otrainstitucion").addClass("validate[required]");

                }
                else {
                    $("#id_institucion").attr({"disabled": "disabled"});
                    $("#id_otrainstitucion").attr('disabled','disabled');
                    $("#id_institucion").removeAttr("disabled");
                    $("#id_otrainstitucion").val('');
                }

            };

            validatipo();

        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/th_hojavida{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editotrocertificado'/>
    <input type='hidden' name='id' value='{{ certificado.id }}'/>
{% endblock %}
{% block formback %}/th_hojavida{% endblock %}
{% block formdestination %}/th_hojavida{% endblock %}
{% block buttonname %}Guardar{% endblock %}