{% load sga_extras %}
<script>
    $(function () {
        $("#{{ frmName }}").validationEngine({autoHidePrompt:true, autoHideDelay:1000 });
        {% for field in form %}
            {% if field.field.required %}
                {% if field.name != 'coordinacion' %}
                    $("[name='{{ field.name }}']", $("#{{ frmName }}")).css({'text-transform': 'none'}).addClass("validate[required]");
                {% endif %}
            {% endif %}
        {% endfor %}

        $("#id_clasificacion, #id_modalidad", $('#frmPeriodoCalificacion')).select2({minimumResultsForSearch: 20, width: '100%', dropdownParent: $('#modalRptCalificaciones') });
        $("#id_clasificacion", $('#frmPeriodoCalificacion')).trigger('change');
        //$('#id_periodo', $('#frmPeriodoCalificacion')).hide()
        $("#id_periodo", $('#frmPeriodoCalificacion')).val(0).trigger("change");
        ItemsDisplay = function (item) {
            if (item.name) {
                return $('<span>' + item.name + '</span>');
            } else {
                return '';
            }
        };

        $("#id_periodo", $('#frmPeriodoCalificacion')).select2({
            placeholder: "",
            dropdownParent: $('#modalRptCalificaciones'),
            width: '100%',
            allowClear: true,
            ajax: {
                url: function (params) {
                    var clasificacion = $("#id_clasificacion", $('#frmPeriodoCalificacion')).val();
                    //console.log(clasificacion);
                    return `/reportes?action=data&model=Periodo:clasificacion=${clasificacion}&p=1&s=10&q=${params.term}`
                },
                dataType: 'json',
                delay: 400,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
            templateResult: ItemsDisplay, // omitted for brevity, see the source of this page
            templateSelection: ItemsDisplay // omitted for brevity, see the source of this page
        }).on("select2:select", function (evt) {
            $("#id_periodo", $('#modalRptCalificaciones')).attr({"value": (evt.params.data.id)});
        });
        $('#id_clasificacion', $('#frmPeriodoCalificacion')).change(function () {
            //let valor = $(this).val();
            //console.log($("#id_clasificacion", $('#frmPeriodoCalificacion')).val());
            $("#id_periodo", $('#frmPeriodoCalificacion')).val(0).trigger("change");
        });
    })

</script>

<div class="row-fluid">
    <div class="span12">
        <form id="{% if frmName %}{{ frmName }}{% else %}frmDemo{% endif %}" class="form-horizontal" onsubmit="return false">
            <input type='hidden' name='action' value='saveCronogramaCoordinacion'/>
            {% for field in form %}
                {% if field.field.widget.attrs.separator %}
                    <hr noshade="noshade" style="clear: both; color: #0c0c0c; height: 4px; width: 100%; align-content: center" />
                {% endif %}
                {% if field.field.widget.attrs.separator2 %}
                    <div id="separator2_{{ field.name }}" style="width: 100%; height: max-content; display: inline-block">
                        <h6 style="width:100%; text-align:left; border-bottom: 1px solid #98a3ab; line-height:0.1em; margin:10px 0 20px;"><span id="separator2title_{{ field.name }}" style="padding:0 10px; background: #f5f5f5;">{% if field.field.widget.attrs.separatortitle %}{{ field.field.widget.attrs.separatortitle }}{% endif %}</span></h6>
                    </div>
                {% endif %}
                {% if field.field.widget.attrs.separator3 %}
                    <div style="clear: both; height: 4px; width: 100%; align-content: center" ></div>
                {% endif %}
                {% if field.field.widget.attrs.showmsginfo and field.field.widget.attrs.msgloc == 'top' %}
                    <div class="alert alert-info">
                        {% if field.field.widget.attrs.msgtitle %}
                            <h4 class="alert-heading">{{ field.field.widget.attrs.msgtitle }}</h4>
                        {% endif %}
                        {% if field.field.widget.attrs.msgtext %}
                            {{ field.field.widget.attrs.msgtext }}<br>
                        {% endif %}
                        {% if field.field.widget.attrs.msglist %}
                            <ul>
                                {% for item in field.field.widget.attrs.msglist %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div style="clear: both; height: 4px; width: 100%; align-content: center" ></div>
                {% endif %}
                <fieldset id="fieldset_{{ field.name }}" class="control-group nomargins" style="float: left; padding: 5px; width: {% if field.field.widget.attrs.formwidth %}{{ field.field.widget.attrs.formwidth }}{% else %}100%{% endif %}">
                    <div class="control-label label-text" style="display: table;height: 30px;">
                        <div style="display: table-cell; vertical-align: middle; line-height: 11px">
                            <label for="id_{{ field.name }}" style="padding-right: 20px"><b>{{ field.label }}</b></label>
                        </div>
                    </div>
                    <div class="control">
                        {% if field.field.widget.attrs.select2search %}
                            <select id="id_{{ field.name }}_select2" name="{{ field.name }}_sel"
                                    {% if field.field.widget.attrs.disabled %}disabled=""{% endif %}>
                                <option value="0" selected="selected">---------</option>
                            </select>
                            <input name="{{ field.name }}" id="id_{{ field.name }}" value="{{ field.value }}"
                                   hidden="hidden"
                                   {% if field.field.widget.attrs.descripcion %}descripcion="{{ field.field.widget.attrs.descripcion }}"{% endif %}
                                   class="select2hidden">
                        {% else %}
                            {{ field }}
                        {% endif %}
                        <div class="text-info" style="font-size: x-small; margin-bottom: 0; height: 100%; line-height: 14px">{{ field.help_text }} </div>
                        <p class="help-text" style="font-size: xx-small; margin-bottom: 0; height: 13px; line-height: 13px"></p>
                    </div>
                </fieldset>
            {% endfor %}
        </form>
    </div>
</div>



