{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_fechafin").addClass("validate[required]");


            $("#id_fechafin").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });

        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}/programasvinculacion?panel=2&s={{ proyectos.id }}{% endblock %}
{% block formaction %}/programasvinculacion{% endblock %}
{% block formdestination %}/programasvinculacion?panel=2&s={{ proyectos.id }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addfechafinp'/>
    <input type='hidden' name='id' value='{{ proyectos.id }}'/>
{% endblock %}
{% block formback %}/programasvinculacion?panel=2&s={{ proyectos.id }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}