{% extends "ajaxform.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_cedula").addClass("validate[required, cedula]");
            $("#id_nombres, #id_apellido1, #id_nacimiento, #id_sexo").addClass("validate[required]");
            $("#id_nacionalidad, #id_institucionlabora, #id_cargodesempena").addClass("validate[required]");
            $("#id_email").addClass("validate[required, custom[email]]");

            $('#id_cedula').blur(function(){
                $("#formbutton").show();
                if($(this).val().trim().length == 10 ){
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/api",
                        data: {'a': 'consultapersonacedula', 'cedula': $(this).val().trim()},
                        success: function (data) {
                            $.unblockUI();
                            if (data.result == 'ok') {
                                if (data.existe == 'SI'){
                                    $("#formbutton").hide();
                                    mensajeWarningSwal("La persona ya existe", "Atención!!! La persona con ese número de cédula ya existe y no se puede volver a registrar");
                                }
                            } else {
                                mensajeErrorSwal("No se puede consultar", data.mensaje);
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            mensajeErrorSwal("No se puede consultar", "Error de conexión");
                        },
                        dataType: "json"
                    });
                }
            });

            $("#id_nombres, #id_apellido1, #id_apellido2, #id_nacionalidad, #id_institucionlabora, #id_cargodesempena").css('text-transform','uppercase');
            $("#id_email").css('text-transform','lowercase');
        });
    </script>
{% endblock %}
{% block atras %}/programasvinculacion?action=editar&id={{ proyecto.id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/programasvinculacion?action=editar&id={{ proyecto.id }}{% endblock %}
{% block formdestinationswal %}/programasvinculacion?action=editar&id={{ proyecto.id }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='adddocenteexterno'/>
    <input type='hidden' name='idp' value='{{ proyecto.id }}'/>
{% endblock %}
{% block formback %}/programasvinculacion?action=editar&id={{ proyecto.id }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}