{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_area, #id_nombre,#id_archivo").addClass("validate[required]");


            $("#id_horas").val('');
            $("#id_area").change(function(){

                var valor =$("#id_area").val();
                if (valor != 1){
                    $("#id_cupo").hide();
                    $("#id_cupo").val('');
                    $('label[for="id_cupo"]').hide();
                    $('#fieldset_archivo').show();
                }else{
                    $("#id_cupo").show();
                    $('#fieldset_archivo').hide();


                }
            });

        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}/programasvinculacion?action=listadoproyectos{% endblock %}
{% block formaction %}/programasvinculacion{% endblock %}
{% block formdestination %}/programasvinculacion?action=listadoproyectos{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editaprobacion'/>
    <input type='hidden' name='id' value='{{ proyectos.id }}'/>
{% endblock %}
{% block formback %}/programasvinculacion?action=listadoproyectos{% endblock %}
{% block buttonname %}Guardar{% endblock %}