{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script>
        $(function(){
            $("#id_fecha_inicio,#id_fecha_fin").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}/programasvinculacion?action=editar&id={{ pry }}{% endblock %}
{% block formaction %}/programasvinculacion{% endblock %}
{% block formdestination %}/programasvinculacion?action=editar&id={{ pry }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editanexo' />
    <input type='hidden' name='id' id="pry" value='{{ id }}' />
{% endblock %}
{% block formback %}/programasvinculacion?action=editar&id={{ pry }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}