{% extends "ajaxform.html" %}
{% load humanize %}
{% load sga_extras %}
{% block extraheading %}

    <script src="/static/adicionalesjs/formquestion.js?0.24"></script>
    <link href="/static/widget_ppp.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/eventostyle.css">
    <link rel="stylesheet" href="/static/eventoframework.css">
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v=1.0.0"></script>
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css?v=1.0.0" type="text/css" media="screen"/>

    <style>
        .btn_seleccionado{
            background: #0a677e !important;
        {#color: #0c0c0c !important;#}
        }
        .bordecaja {
            border: .07em solid rgba(0, 0, 0, .2);
            color: white;
        !important;
        }
        .course-path-card {
            background-color: #0b2f44;
        }
        .bordestabla {
            border: .07em solid rgba(0, 0, 0, .1);
            color: #000000;
            box-shadow: 1px 1px 3px #999;
        !important;
        }
        .course-path-card-footer {
            justify-content: normal;
        !important;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#cancel_eliminarparticipantes").click(function(){
                $('#modalpregntadel').modal('hide');
            });
            $("#delparticipantes").click(function(){
                var idproyecto = {{ proyecto.id }}
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/programasvinculacion",
                    data: {'action': 'delparticipantesproyectos', 'idproyecto': idproyecto },
                    error: function () {
                        $.unblockUI();
                        smoke.alert("Error al obtener los datos.");
                    },
                    success: function (data) {
                        if (data.result == "ok") {
                            $("#modalpregntadel").modal({backdrop:'static', width: '600px'}).modal('hide');
                            location.href = '/programasvinculacion?action=participantesproyectos&id={{ proyecto.id }}'
                        } else {
                            $.unblockUI();
                            smoke.alert(data.mensaje);
                        }
                    }
                });

            });
            $('.registrarhorasblur').blur(function (){
                let elemento = $(this);
                let participante;
                let valoranterior = elemento.attr("valante");
                let horas = elemento.val();
                if(horas!=valoranterior){
                    let duracionproyecto = elemento.attr("duracion");
                    if((parseInt(horas)<=parseInt(duracionproyecto)) && parseInt(horas)>=0){
                        participante = elemento.attr("idpar");
                        //alert(participante, duracionproyecto, valoranterior, horas);
                        bloqueointerface();
                        $.post("/programasvinculacion",{'action':'updatehoras','indi':participante, 'valor':horas}, function (data){
                            $.unblockUI();
                            if(data.result==='ok'){
                                elemento.attr({'va': data.valor});
                                elemento.val(data.valor);
                                {#elemento.hide();#}
                                console.log(elemento.parent());
                                $('#horascumplidas_'+participante).text(data.valor);
                            }else{
                                elemento.val(valoranterior);
                                smoke.alert(data.mensaje);
                            }
                        }).error(function () {
                            $.unblockUI();
                            elemento.val(valoranterior);
                            smoke.alert("Fallo al registrar horas");
                        })
                    }else{
                        smoke.alert("Las horas ingresadas deben ser menor o igual a la duración del proyecto.");
                    }
                }
            });
            $('.horas').blur(function(){
                var elemento = $(this);
                var indi;
                var valoranterior = elemento.attr("valante");
                var valoractual = elemento.val();
                if (valoractual!=valoranterior){
                    indi = elemento.attr("indi");
                    bloqueointerface();
                    $.post("/programasvinculacion", {'action': 'updatehoras', 'indi': indi, 'valor': valoractual}, function(data) {
                        $.unblockUI();
                        if (data.result=='ok') {
                            elemento.attr({'va': data.valor});
                            elemento.val(data.valor);
                        } else {
                            elemento.val(valoranterior);
                            smoke.alert(data.mensaje);
                        }
                    }).error(function(){
                        $.unblockUI();
                        elemento.val(valoranterior);
                        smoke.alert("Fallo al cambiar el cupo");
                    });
                }

            });
            $('.tipodocente').change(function(){
                var elemento = $(this);
                var cadena = elemento.val().split("_");
                var tipoparticipante = cadena[0];
                var idparticipante = cadena[1];
                bloqueointerface();
                $.post("/programasvinculacion", {'action': 'updatetipoparticipante', 'tipoparticipante': tipoparticipante, 'idparticipante': idparticipante}, function(data) {
                    $.unblockUI();
                    if (data.result=='ok') {
                        bloqueointerface();
                        location.href = 'programasvinculacion?action=participantesproyectos&id={{ proyecto.id }}';
                    } else {
                        {#                        elemento.val(valoranterior);#}
                        smoke.alert(data.mensaje);
                    }
                }).error(function(){
                    $.unblockUI();
                    elemento.val(valoranterior);
                    smoke.alert("Fallo al cambiar el cupo");
                });

            });
            /*$('.registrarhoras').click(function () {
                let idparticipacion = $(this).attr('idparticipacion');
                let idproyecto = $(this).attr('idproyecto');
                let idparticipante = $(this).attr('idparticipante');
                //alert(idparticipacion, idproyecto);
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/programasvinculacion",
                    data: {
                        'action': 'registrarhoras',
                        'idparticipacion': idparticipacion,
                        'idproyecto': idproyecto,
                        'idparticipante': idparticipante
                    },
                    success: function (data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $(".panelbodyhoras").html(data.data);
                            $("#paneltitlehoras").html(data.titulo);
                            $("#itemspanelhoras").modal({backdrop: 'static', width: '300px'}).modal('show');
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                })
            });*/

        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
            $(".fancybox").fancybox();
            $(".gallerypdf").fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic',
                autoSize: true,
                width:'90%',
                type: 'iframe',
                iframe: {
                    preload: false // fixes issue with iframe and IE
                }
            });
            busqueda = function(){
                var term = $("#searchinput").val().toUpperCase().trim();
                if (term.length>0){
                    location.href = "programasvinculacion?action=participantesproyectos&id={{ proyecto.id }}&s="+term;
                }
            };

            $("#search").click(function(){
                busqueda();
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    busqueda();
                }
            });

            $(".cambiarcarrera").click(function() {
                var id = $(this).data('id');
                var pry = $(this).data('proyecto');

                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/programasvinculacion",
                    data: {'action': 'editcarrera', 'id': id, 'pry': pry},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result) {
                            $(".panelbodycambio").html(data.data);
                            $(".paneltitlecambio").html('Gestionar cambio de carrera');
                            $("#itemspanelcambiarcarrera").modal({backdrop:'static', width: '750'}).modal('show');
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
            });

            $(".registrarhoras").click(function() {
                var id = $(this).data('id');
                var pry = $(this).data('proyecto');

                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/programasvinculacion",
                    data: {'action': 'registrarhoras', 'id': id, 'pry': pry},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result) {
                            $(".panelbodycambio").html(data.data);
                            $(".paneltitlecambio").html('Registrar horas de vinculación');
                            $("#itemspanelcambiarcarrera").modal({backdrop:'static', width: '750'}).modal('show');
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
            });

        });
        function eliminarparticipantes(idproyecto) {
            bloqueointerface();
            $("#modalpregntadel").modal({backdrop:'static', width: '600px'}).modal('show');
            $.unblockUI();
        }

        function formModal(id, participante, text, action, footer = true) {
            $('.panelbody_').empty();
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                    'participante': participante
                },
                success: function (data) {
                    $.unblockUI();
                    if (data.result === true) {
                        if (footer === true) {
                            $('#footermodal').hide();
                        }
                        $('.panelbody_').html(data.data);
                        $('#itemspanel .paneltitle').html(text);
                        $("#itemspanel").modal({backdrop: 'static', width: '85%'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"
            });
        }

        function registrarHoras(idproyecto, idparticipacion, idparticipante, text, action) {
            $('.panebodyhoras').empty();
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'idparticipacion': idparticipacion,
                    'idproyecto': idproyecto,
                    'idparticipante': idparticipante
                },
                success: function (data) {
                    if (data.result === true) {
                        $.unblockUI();
                        /*if (footer === true) {
                            $('#footermodal').hide();
                        }*/
                        $('.panelbodyhoras').html(data.data);
                        $('#itemspanelhoras .paneltitlehoras').html(text);
                        $("#itemspanelhoras").modal({backdrop: 'static', width: '400'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"
            });
        }

        $(function (){
            $('.btntabla').click(function () {
                let panel =$(this).attr('panel');
                let idproy = $(this).attr('proyecto');
                console.log(panel);
                switch (panel) {
                    case '2':
                        let sp2 ='';
                        console.log('ingreso en caso 2');
                        location.href = `programasvinculacion?action=participantesproyectos&panel=${panel}&id=${idproy}`;
                        break
                    case '3':
                        console.log('ingreso en caso 3');
                        location.href = `programasvinculacion?action=participantesproyectos&panel=${panel}&id=${idproy}`;
                        break
                    default:
                        let sp1= ''//$();
                        location.href = `programasvinculacion?action=participantesproyectos&s=${sp1}&id=${idproy}`;
                        break
                }
            });
        });



    </script>

{% endblock %}
{% block atras %}/programasvinculacion?panel=2&cod={{ proyecto.id }}{% endblock %}
{% block canvas %}

    <div class="modal fade static" id="itemspanelhoras" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4><i class="fa fa-list"></i> <b class="paneltitlehoras">FORMULARIO MODAL</b></h4>
        </div>
        <div class="modal-body">
            <form action="form-horizontal form-modal" autocomplete="off" method="post"
                  enctype="multipart/form-data" action="{{ request.path }}">{% csrf_token %}
                <div class="row-fluid panelbodyhoras"></div>
            </form>
        </div>
    </div>

    <div class="modal fade static" id="itemspanel">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-list"></i> <b class="paneltitle">FORMULARIO MODAL</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="row panelbody_">
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="text-align: right">
                    <button type="button" class="btn btn-primary cerrar" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static" id="itemspanelcambiarcarrera">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-info-circle"></i> <b class="paneltitlecambio">Cambiar carrera</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body panelbodycambio">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static" id="itemspanelrevisarfirma" tabindex="-1" aria-labelledby="itemspanelrevisarfirmaLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title paneltitlerevisarfirma" id="itemspanelrevisarfirmaLabel">Revisar Documento</h5>
                    <button type="button" class="btn-close cerrar2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row panelbodyrevisarfirma">
                    </div>
                    <div class="col-12">
                        <table class="table table-bordered tabla_paginada" id="tabla_verify">
                            <thead class="table-light">
                            <tr>
                                <th colspan="6" class="text-center">RESULTADOS DE LA VERIFICACIÓN DE
                                    ARCHIVO FIRMADO ELECTRÓNICAMENTE
                                </th>
                            </tr>
                            <tr>
                                <th>Cédula</th>
                                <th>Nombres</th>
                                <th>Entidad Certificadora</th>
                                <th>Fecha Firmado</th>
                                <th>Firma</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="6" class="text-center">Seleccione su documento y
                                    verifique.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: right">
                    <button type="button" class="btn btn-primary cerrar" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="tabbable panelvinculacion">
            {#            PARTICIPANTES MATRICES - ESTUDIANTES #}
            <a class="tabs btntabla {% if not panel %}active{% endif %}" href="javascript:;" proyecto="{{ proyectoid }}" data-toggle="tabs">
                <div class='span2' style="margin: 5px;">
                    <div class="course-path-card  uk-width-1-1 transition-3d-hover bordecaja {% if not panel %}btn_seleccionado{% endif %}" style="cursor:pointer;">
                        <div class="course-path-card-contents">
                            <h4><b style="color: white">ESTUDIANTES</b></h4>
                            <div style="text-align: left; font-size: 11px; color: white; !important;">
                                <b><i class="fa fa-sort-numeric-asc"></i> <span
                                        class="badge bg-success">{{ cantidad_estudiantes }}</span></b>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {#            PARTICIPANTES MATRICES - PROMOTORES Y LIDERES #}
            <a class="tabs btntabla {% if panel == '2' %}active{% endif %}" href="javascript:;" panel="2" proyecto="{{ proyectoid }}" data-toggle="tabs">
                <div class='span2' style="margin: 5px;">
                    <div class="course-path-card  uk-width-1-1 transition-3d-hover bordecaja {% if panel == '2' %}btn_seleccionado{% endif %}" style="cursor:pointer;">
                        <div class="course-path-card-contents">
                            <h4><b style="color: white">DOCENTES</b></h4>
                            <div style="text-align: left; font-size: 11px; color: white; !important;">
                                <b><i class="fa fa-sort-numeric-asc"></i> <span
                                        class="badge bg-info">{{ cantidad_docentes }}</span></b>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="tabs btntabla {% if panel == '3' %}active{% endif %}" href="javascript:;" panel="3" proyecto="{{ proyectoid }}" data-toggle="tabs">
                <div class='span2' style="margin: 5px;">
                    <div class="course-path-card  uk-width-1-1 transition-3d-hover bordecaja {% if panel == '3' %}btn_seleccionado{% endif %}" style="cursor:pointer;">
                        <div class="course-path-card-contents">
                            <h4><b style="color: white">ADMINISTRATIVOS</b></h4>
                            <div style="text-align: left; font-size: 11px; color: white; !important;">
                                <b><i class="fa fa-sort-numeric-asc"></i> <span
                                        class="badge bg-warning">{{ cantidad_administrativos }}</span></b>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <br>
        <div class="row-fluid">
            <div class="btn-group ">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:;"> Acciones<span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    {#                    {%if not proyecto.aprobacion == 7%}#}
                    {% if not tieneperiodoinscripcion %}
                        {#                    <li><a href="/programasvinculacion?action=addparticipantesdocentes&idproyecto={{ proyecto.id }}&tipoparticipante={{ proyecto.tipo }}"><i class="fa fa-user"></i> Adicionar Participante Docente</a></li>#}
                        <li><a href="/programasvinculacion?action=addparticipantesestudiantes&idproyecto={{ proyecto.id }}"><i class="fa fa-user"></i> Adicionar Participante Estudiante</a></li>
                        {#                    <li><a href="/programasvinculacion?action=addparticipantesadministrativos&idproyecto={{ proyecto.id }}"><i class="fa fa-user"></i> Adicionar Participante Administrativo</a></li>#}
                    {%endif%}
                    <li><li><a href="/programasvinculacion?action=excelparticipanteproyecto&idproyecto={{ proyecto.id }}"><i class="fa fa-list "></i> Descargar Excel</a></li></li>
                </ul>
            </div>
        </div>
        <div class="tab-content {% if not panel %}active{% endif %}">
            <div class="tab-pane {% if not panel %}active{% endif %}" id="1">
                <div id="no-more-tables">
                    <div class='row'>
                        <div class='col-lg-12'>
                            <div class="headtitle">
                                <h3>
                                    {{ title }}
                                </h3>
                                <h6>{{ proyecto }}</h6>
                            </div>
                        </div>
                    </div>

                    <div class='row mb-2'>
                        <div class="col-6">
                            <form class="form-search row g-2 align-items-center">
                                <div class="col-8">
                                    <input class="searchinput form-control" type="text" id="searchinput"
                                           value="{{ search }}" autocomplete="off">
                                </div>
                                <div class="col-2">
                                    <button type="button" id="search" class="btn btn-info"><span
                                            class="fa fa-search"></span> Buscar
                                    </button>
                                </div>
                                {% if search or ids %}
                                    <div class="col-2">
                                        <a href="/programasvinculacion?action=participantesproyectos&id={{ proyecto.id }}"
                                           id="allresults" class="btn btn-info">
                                            <span class="fa fa-refresh"></span> Todos
                                        </a>
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-12'>
                            <table class='table table_primary table-striped'>
                                <thead>
                                <tr>
                                    <th colspan="8">Participantes (Estudiantes)</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;"><i class="fa fa-user"></i> Datos del Estudiante
                                    </th>
                                    <th style="text-align: center;"><i class="fa fa-graduation-cap"></i> Carrera
                                    </th>
                                    <th style="text-align: center;"><i class="fa fa-tag"></i> Tipo</th>
                                    <th style="text-align: center;" colspan="2">
                                        <i class ="fa fa-american-sign-language-interpreting"></i> Datos de Participación
                                    </th>
                                    <th style="text-align: center;">Acciones</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for participante in participantes %}
                                    <tr>
                                        <td>
                                            <b><i class="fa fa-id-card"></i> Cédula:
                                            </b>{{ participante.inscripcion.persona.cedula|default_if_none:"" }}<br>
                                            <b><i class="fa fa-user"></i> Nombres:
                                            </b> {{ participante.inscripcion|default_if_none:"" }} <br>
                                            <b><i class="fa fa-envelope"></i> Email:</b> {{ participante.inscripcion.persona.emailinst }} |
                                            <b><i class="fa fa-mobile-phone"></i> Celular:</b> {{ participante.inscripcion.persona.telefono }}<br>
                                            {% if participante.preinscripcion  %}
                                                <b><i class="fa fa-calendar"></i> Periodo inscripción:</b> {{ participante.preinscripcion.periodo.observacion }}
                                            {% else %}
                                                <b><i class="fa fa-calendar"></i> Periodo inscripción:</b> No requerido
                                            {% endif %}
                                            {% if participante.preinscripcion %}
                                            {% with extra=participante.preinscripcion.extraproyectovinculacioninscripcion_set.last %}
                                                {% if extra and extra.actacompromisovinculacion %}
                                                    <br><i class="fas fa-scroll"></i><b> Acta de compromiso: </b>
                                                    <a class="btn btn-default gallerypdf py-2" data-fancybox-type="iframe" href="{{ extra.actacompromisovinculacion.url }}">
                                                        <img src="/static/images/pdf.png" width="18" height="18" align="absmiddle" alt="...">
                                                    </a>
                                                {% endif %}
                                            {% endwith %}
                                            {% endif %}<br>
                                            <b><span class="badge badge-{% if participante.estado == 0 %}warning{% elif participante.estado == 1 %}success{% else %}danger{% endif %} tu" data-original-title="Estado">{{ participante.get_estado_display }}</span></b>
                                        </td>

                                        <td style="text-align: justify;">
                                            {{ participante.inscripcion.carrera }}
                                        </td>

                                        <td style="text-align: center; vertical-align: middle">
                                            {% if participante.inscripcion %}
                                                <span class="badge badge-info"
                                                      data-original-title="Estudiante"> ESTUDIANTE</span>
                                            {% endif %}
                                        </td>

                                        <td style="text-align: center; vertical-align: middle">
                                            <span class="badge badge-success"> {{ participante.horas }}</span><br>

                                            {% if not participante.cantidad_informes_aprobados == participante.cantidad_informes_solicitados %}
                                                <i class="fa fa-warning" style="color: darkorange" data-toggle="tooltip" data-placement="top" title="Tiene informes pendientes"></i>
                                            {% endif %}

                                            {#                                        <input class="form-imput input-mini registrarhorasblur" idpar="{{ participante.id }}"#}
                                            {#                                                       duracion="{{ proyecto.tiempo_duracion_horas }}"#}
                                            {#                                                       valante="{{ participante.horas }}"#}
                                            {#                                                       value="{{ participante.horas|default_if_none:"0" }}"#}
                                            {#                                                       type="text"><br>#}
                                            {#                                                {{ participante.fechahoras|date:'Y-m-d'|default_if_none:"" }}#}

                                        </td>
                                        <td>
                                            <b><i class="fa fa-file"></i> Informes:</b><br>
                                            {% if participante.cantidad_informes_solicitados == 0 %}

                                                <i class="fa fa-warning" style="color: darkorange" >No requiere</i>
                                            {% else %}
                                                <b style="vertical-align: middle"><i class="fa fa-chevron-circle-right"></i>
                                                    Cargados: </b> <span
                                                    class="badge badge-info"> {{ participante.cantidad_informes_cargados }}</span><br>
                                                <b style="vertical-align: middle"><i class="fa fa-chevron-circle-right"></i>
                                                    Aprobados: </b> <span
                                                    class="badge badge-success"> {{ participante.cantidad_informes_aprobados }}</span><br>
                                                <b style="vertical-align: middle"><i class="fa fa-chevron-circle-right"></i>
                                                    Rechazados: </b> <span
                                                    class="badge badge-danger"> {{ participante.cantidad_informes_rechazados }}</span>
                                            {% endif %}
                                        </td>

                                        <td style="text-align: center;">
                                            <div class="dropdown dropstart">
                                                <a class="btn-icon btn btn-ghost btn-sm rounded-circle"
                                                   data-bs-toggle="dropdown"
                                                   href="javascript:;" data-offset="-140" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu pull-right">

                                                    <a href="javascript:void(0);" class="dropdown-item" onclick="formModal('{{ participante.id }}','{{ participante.inscripcion.pk }}', 'Ver Informes de Cumplimiento de {{ participante.inscripcion }}', 'revisarinformes', true)" style="text-align: left"><i class="fa fa-files-o"></i> Revisar Informes</a>

                                                    <a class="cambiarcarrera dropdown-item" style="text-align: left" href="javascript:;" data-id="{{ participante.id }}" data-proyecto="{{ participante.proyecto.id }}"><i class="fa fa-retweet"></i> Cambiar carrera</a>

                                                    <a class="registrarhoras dropdown-item" style="text-align: left" href="javascript:;" data-id="{{ participante.id }}" data-proyecto="{{ participante.proyecto.id }}"><i class="fa fa-retweet"></i> Registrar horas</a>

                                                    {% if participante.preinscripcion %}
                                                    {% with extra=participante.preinscripcion.extraproyectovinculacioninscripcion_set.last %}
                                                        {% if not extra or perms.inno.puede_eliminar_inscripcion_vinculacion %}
                                                            {% if participante.horas == 0 %}
                                                                <a class="eliminacionmodal dropdown-item" style="text-align: left" href="javascript:;" nhref='/programasvinculacion?action=deleteparticipanteproyecto&idproyecto={{ participante.proyecto.id }}&id={{ participante.id }}&tipo=2'><i class="fa fa-close"></i> Eliminar</a>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endwith %}
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if not participantes %}
                                    <tr>
                                        <td colspan="5">
                                            NO SE REGISTRAN PARTICIPANTES ESTUDIANTES
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row my-3 px-3">
                        <div class="col-lg-12">
                            <nav>
                                {% if paging.num_pages > 20 %}
                                    <div>
                                        <ul class="pagination justify-content-center m-0">
                                            {% if paging.primera_pagina %}
                                                <li class="page-item">
                                                    <a class="page-link bloqueo_pantalla" href="/programasvinculacion?action=participantesproyectos&id={{ proyecto.id }}&{% if search %}s={{ search }}&{% endif %}page=1">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="/programasvinculacion?action=participantesproyectos&id={{ proyecto.id }}&{% if search %}s={{ search }}&{% endif %}page={{ paging.ellipsis_izquierda }}"
                                                       class="page-link bloqueo_pantalla active">...</a></li>
                                            {% endif %}
                                            {% for pagenumber in paging.paginas %}
                                                <li {%  if pagenumber == page.number %}class='page-item active'{% endif %}>
                                                    <a class="page-link bloqueo_pantalla" href="/programasvinculacion?action=participantesproyectos&id={{ proyecto.id }}&{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}">{{ pagenumber }}</a>
                                                </li>
                                            {% endfor %}
                                            {% if paging.ultima_pagina %}
                                                <li class="page-item">
                                                    <a href="/programasvinculacion?action=participantesproyectos&id={{ proyecto.id }}&{% if search %}s={{ search }}&{% endif %}page={{ paging.ellipsis_derecha }}"
                                                       class="page-link bloqueo_pantalla active">...</a></li>
                                                <li class="page-item">
                                                    <a class="page-link bloqueo_pantalla" href="/programasvinculacion?action=participantesproyectos&id={{ proyecto.id }}&{% if search %}s={{ search }}&{% endif %}page={{ paging.num_pages }}">{{ paging.num_pages }}</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% else %}
                                    <div>
                                        <ul class="pagination justify-content-center m-0">
                                            {% for pagenumber in paging.page_range %}
                                                <li {% if pagenumber == page.number %}class='active page-item' {% else %}class="page-item"{% endif %}>
                                                    <a class="page-link bloqueo_pantalla" href="/programasvinculacion?action=participantesproyectos&id={{ proyecto.id }}&{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}">{{ pagenumber }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            {#            ================================================================== DOCENTES ======================================================#}
            <div class="tab-pane {% if panel == '2' %}active{% endif %}" id="2">
                <div id="no-more-tables">
                    <div class='row-fluid'>
                        <div class='span12'>
                            <h4>
                                {{ title }}<br>
                                {{ proyecto }}
                            </h4>
                        </div>
                    </div>

                    <div class='row-fluid'>
                        <div class='span12'>
                            <table class='table table-bordered bordestabla uk-width-1-1'>
                                <thead>
                                <tr>
                                    <th colspan="8">Participantes (Docentes)</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;"><i class="fa fa-user"></i> Datos del Personal</th>
                                    <th style="text-align: center;"><i class="fa fa-graduation-cap"></i> Carrera</th>
                                    <th style="text-align: center;"><i class="fa fa-tag"></i> Tipo</th>
                                    <th style="text-align: center;">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for participante in personal_docente %}
                                    <tr>
                                        <td>
                                            {% if participante.profesor %}
                                                <b><i class="fa fa-id-card"></i> Cédula:
                                                </b>{{ participante.profesor.persona.cedula|default_if_none:"" }}<br>
                                                <b><i class="fa fa-user"></i> Nombres:
                                                </b> {{ participante.profesor|default_if_none:"" }} <br>
                                                <b><i class="fa fa-envelope"></i> Email:
                                                </b> {{ participante.profesor.persona.emailinst }} <br>
                                                <b><i class="fa fa-mobile-phone"></i> Celular:
                                                </b> {{ participante.profesor.persona.telefono }}
                                            {% endif %}
                                        </td>
                                        <td style="text-align: justify">
                                            {{ participante.profesor.coordinacion }}
                                        </td>
                                        <td style="text-align: center;">
                                            <select class="form-control tipodocente" id="tipodocente" name="tipodocente">
                                                {% for tipopar in tipoparticipante %}
                                                    <option {% if tipopar.id == participante.tipoparticipante.id %}
                                                        selected {% endif %}
                                                        value="{{ tipopar.id }}_{{ participante.id }}">{{ tipopar }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="btn-group">
                                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown"
                                                   href="javascript:;">Acciones<span class="caret"></span></a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a class="eliminacionmodal" style="text-align: left" href="javascript:;" nhref='/programasvinculacion?action=deleteparticipanteproyecto&idproyecto={{ participante.proyecto.id }}&id={{ participante.id }}&tipo=1'><i class="fa fa-close"></i> Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if not personal_docente %}
                                    <tr>
                                        <td colspan="4">
                                            NO SE REGISTRAN DOCENTES
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            {#            ================================================================== ADMINISTRATIVOS ======================================================#}
            <div class="tab-pane {% if panel == '3' %}active{% endif %}" id="3">
                <div id="no-more-tables">
                    <div class='row-fluid'>
                        <div class='span12'>
                            <h4>
                                {{ title }}<br>
                                {{ proyecto }}
                            </h4>
                        </div>
                    </div>

                    <div class='row-fluid'>
                        <div class='span12'>
                            <table class='table table-bordered bordestabla uk-width-1-1'>
                                <thead>
                                <tr>
                                    <th colspan="8">Participantes (Administrativos)</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;"><i class="fa fa-user"></i> Datos del Personal</th>
                                    <th style="text-align: center;"><i class="fa fa-tag"></i> Tipo</th>
                                    <th style="text-align: center;">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for participante in personal_administrativo %}
                                    <tr>
                                        <td>
                                            {% if participante.profesor %}
                                                <b><i class="fa fa-id-card"></i> Cédula:
                                                </b>{{ participante.administrativo.persona.cedula|default_if_none:"" }}
                                                <br>
                                                <b><i class="fa fa-user"></i> Nombres:
                                                </b> {{ participante.administrativo|default_if_none:"" }} <br>
                                                <b><i class="fa fa-envelope"></i> Email:
                                                </b> {{ participante.administrativo.persona.emailinst }} <br>
                                                <b><i class="fa fa-mobile-phone"></i> Celular:
                                                </b> {{ participante.administrativo.persona.telefono }}
                                            {% endif %}
                                        </td>
                                        <td style="text-align: center;">
                                            <span class="badge badge-green" data-original-title="Administrativo"> ADMINISTRATIVO</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="btn-group">
                                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown"
                                                   href="javascript:;">Acciones<span class="caret"></span></a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a class="eliminacionmodal" style="text-align: left"
                                                           href="javascript:;"
                                                           nhref='/programasvinculacion?action=deleteparticipanteproyecto&idproyecto={{ participante.proyecto.id }}&id={{ participante.id }}&tipo=3'><i
                                                            class="fa fa-close"></i> Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if not personal_administrativo %}
                                    <tr>
                                        <td colspan="4">
                                            NO SE REGISTRA PERSONAL ADMINISTRATIVO
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static" id="modalpregntadel" style="display: none;">
        <div class="modal-header">
            <h4 id="paneltitle">Eliminar participantes</h4>
        </div>
        <div class="modal-body panelbody">
            <div class="alert alert-danger">
                <h4 class="alert-heading">CONFIRMACIÓN</h4>
                Al dar clic en eliminar se borrará todo el listado de participantes(estudiantes,docente,administrativos)
            </div>
            <p style="margin-top: 16px;">Esta seguro(a) que desea eliminar participantes?</p>
            <input type="hidden" id="idepregunta" name="idepregunta">
        </div>
        <div class="modal-footer">
            <p style="text-align: right; margin-bottom: 0">
                <a href="javascript:;" id="delparticipantes" class='btn btn-danger'> Eliminar</a>
                <a href="javascript:;" id="cancel_eliminarparticipantes" class='btn btn-default'> Cancelar</a>
            </p>
        </div>
    </div>



{% endblock %}



