{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_archivo").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block atras %}/alu_sistemasag?action=llenarformulario&idinsc={{ idins }}&idper={{ idper }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/alu_sistemasag{% endblock %}
{% block formwidth %}form-m{% endblock %}
{% block formdestination %}/alu_sistemasag?action=llenarformulario&idinsc={{ idins }}&idper={{ idper }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addarchivotitulacion'/>
    <input type="hidden" name='id' value='{{ titulacion.id }}'/>
{% endblock %}
{% block formback %}/alu_sistemasag?action=llenarformulario&idinsc={{ idins }}&idper={{ idper }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}