{% extends 'ajaxformmodal.html' %}
{% load sga_extras %}
{% block replace_id %}
    <input type="hidden" name="id" value="{{ filtro.id|encrypt }}"/>
    <input type="hidden" name="idp" value="{{ idp }}"/>
{% endblock %}

{% block block_form_seccion %}
    <div class="row">
        <div class="col-12 pe-0">
             <label class="control-label pr-2">
                <b>Archivos adjuntos &nbsp;:</b>

            </label>

            <table class="table table_primary pe-0" id="id_tabla_registro">
                <thead>
                <tr>
                    <th class="w-50"> Documento</th>
                    <th class="text-center w-3"><a href="javascript:void(0)"
                        onclick="btnAddDetalle()"
                         class="btn btn-success btn-mini">
                         <i class="fa fa-plus"></i></a>
                     </th>
                </tr>
                </thead>
                <tbody>
                    {% for adjunto in filtro.documentos %}

                    <tr id_adjunto="{{ adjunto.id }}" id="tr_{{ forloop.counter }}">
                        <td>
                            <label for="a"><b>Documento {{ forloop.counter }} <span class="text-danger">*</span></b>:</label>
                            <input name="descripcion" id="id_descripcion" class="descripcion form-control p-1 my-1" value="{{ adjunto.leyenda }}" >
                            <div class="input-group">
                                {% if adjunto.archivo %}
                                        <a href="{{ adjunto.archivo.url }}" class="btn btn-success tb"
                                           style="padding-bottom: 9px; padding-top: 12px"
                                           data-width="2048" data-height="1365"
                                           data-fancybox="iframe{{ field.id }}"
                                           id="doccargado_{{ adjunto.id }}"
                                           title="Visualizar archivo cargado"
                                           data-caption="Documento actualmente cargado: {{ adjunto.descripcion }}">
                                            <i class="fa fa-eye fs-35"></i></a>
                                    {% endif %}
                                    <input type="file" class="form-control py-2 archivo"
                                           name="adjuntos" id="id_adjunto{{ forloop.counter }}"
                                           accept=""
                                           aria-describedby="inputGroupFileAddon03"
                                           aria-label="Upload">
                            </div>
                        </td>
                        <td class="text-center align-middle">
                            <a href="javascript:void(0);" onclick="deleteInfo('{{ forloop.counter }}')"  class="btn btn-danger btn-mini">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
         var numDetalle = {{ filtro.documentos.count }} + 1;
         var descripcion = CKEDITOR.replace('detalle');
        $(function () {
            {% if cantidad %}
                $('#id_orden').val('{{ cantidad }}')
            {% endif %}
            {% if filtro %}
                $("#id_departamento").val('{{ filtro.gestion.departamento.id }}').trigger('change')
            {% endif %}
            let cbPersona = $('#id_responsable');
            let departamento = $('#id_departamento');
            let gestion = $('#id_gestion');
            buscarPersona(cbPersona,'distributivos, administrativos')
            cargarSelectSecundario('listgestiones',departamento, gestion)
            $("#submit").click(function () {
                lista_items1 = []
                $('table#id_tabla_registro > tbody tr').each(function (index, elementTr) {
                    console.log($(elementTr).find('td > input.archivo')[0])
                    let file = $(elementTr).find('td > input.archivo')[0]
                    lista_items1.push({
                        'id_adjunto': $(elementTr).attr('id_adjunto'),
                        'descripcion': $(elementTr).find('td > input.descripcion').val(),
                        'archivo':file ? file.files[0].name : '',
                        'size': file ? file.files[0].size : '',
                    });
                });

             });
        });

         function funcionAntesDeGuardar() {
            $('#id_detalle').val(descripcion.getData())
        }
        function btnAddDetalle() {
            $('#id_tabla_registro tbody').append($('<tr>', {'id_adjunto': '', 'id':`tr_${numDetalle}`}).append(
                $('<td>', {}).append($('<label>', {'html':`<b>Documento ${numDetalle} <span class="text-danger">*</span> :</b> `})).append($('<input>', {
                    'class': `form-control p-1 my-1 descripcion`,
                    'id':"id_descripcion",
                    'name':'descripcion',
                    'placeholder':'Describa el documento que va a subir...',
                    'required': true
                })).append($('<input>',{
                    'type': 'file',
                    'name': `adjuntos`,
                    'id':`id_adjunto${numDetalle}`,
                    'class':'form-control py-2 archivo',
                    'required': true
                })),
                $('<td class="text-center align-middle">', {}).append($('<button>',{
                    'type': 'button',
                    'required': 'true',
                    'onclick': `deleteInfo(${numDetalle})`,
                    'class': 'btn btn-danger btn-mini deleteInfoDetalle',
                    'html': '<i class="fa fa-trash-o"></i>'
                }))));
                $('#guardarobservaciones').removeAttr('hidden')
            numDetalle += 1;
        }
        function deleteInfo(id) {
            numDetalle -= 1;
            $(`#tr_${id}`).closest('tr').remove();
        }
    </script>
{% endblock %}
