{% load sga_extras %}
<script>
    $(document).ready(function(){
        $('.btn-cerrar', $("#modalViewHistoric")). click(function (){
            $('.modal-body', $("#modalViewHistoric")).html('');
            $("#modalViewHistoric").modal('hide');

        });
        $('.action-view-historic'). click(function (){
            let id = $(this).attr('idr');
            bloqueointerface();
            var data= {
                'action': 'viewHistoric',
                'id': id,
            }
            $.ajax({
                type: "POST",
                url: "/p_registro_novedades/consult",
                data: data,
                success: function (data) {
                    $.unblockUI();
                    if (data.result == 'ok') {
                        $('.modal-body', $("#modalViewHistoric")).html(data.html);
                        var h = $(window).height() - 450
                        $("#modalViewHistoric").modal({backdrop:'static', width: '80%', height: '100%'}).modal('show');
                    } else {
                        //$(".action-search-new").removeAttr('disabled');
                        NotificationJG.error(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    //$(".action-search-new").removeAttr('disabled');
                    NotificationJG.error("Error al enviar los datos");
                },
                dataType: "json"
            });
        });
    });
</script>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 5%; font-weight: bold; text-align: center; vertical-align: middle">N°Solicitud</th>
                <th style="width: 8%; font-weight: bold; text-align: center; vertical-align: middle">Fecha Solicitud</th>
                <th style="width: 8%; font-weight: bold; text-align: center; vertical-align: middle">Tipo</th>
                <th style="font-weight: bold; text-align: center; vertical-align: middle">Motivo</th>
                <th style="width: 9%; font-weight: bold; text-align: center; vertical-align: middle">Solicitud</th>
                <th style="width: 9%; font-weight: bold; text-align: center; vertical-align: middle">Requisitos</th>
                <th style="width: 9%; font-weight: bold; text-align: center; vertical-align: middle">Estado</th>
                <th style="width: 8%; font-weight: bold; text-align: center; vertical-align: middle">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for solicitud in solicitudes %}
                <tr>
                    <td style="text-align: center; vertical-align: middle"><span class="label label-success">{{ solicitud.numero|stringformat:"05d" }}</span></td>
                    <td style="text-align: center; vertical-align: middle"> {{ solicitud.fecha_creacion|date:'Y-m-d G:i' }} </td>
                    <td style="text-align: center; vertical-align: middle"><span class="label label-info">{{ solicitud.tiposolicitud }}</span></td>
                    <td style="text-align: justify; vertical-align: middle">{{ solicitud.descripcion }}</td>
                    <td style="text-align: center; vertical-align: middle">
                        {% if  solicitud.archivo %}
                            {% if not solicitud.typefile == '.pdf' %}
                                <a data-fancybox="image" class="btn tu" title="VER SOLICITUD" href="/media/{{ solicitud.archivo }}"><img style="margin-top: 2px; width: 25px" src="/static/images/image.png"/></a>
                            {% else %}
                                <a data-fancybox data-type="iframe" class="btn tu" title="VER SOLICITUD" href="/media/{{ solicitud.archivo }}"><img style="margin-top: 2px;" src="/static/images/pdf.png"/></a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        {% for doc in solicitud.requisitossolicitud_set.all %}
                            <a data-fancybox data-type="iframe" class="btn tu" title="VER {{ doc.requisito.requisito.descripcion }}" href="/media/{{ doc.archivo }}"> <img style="margin-top: 2px;" src="/static/images/pdf.png"/></a>
                        {% endfor %}
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        <b><span class="label label-{% if solicitud.estado == 1 %}defaultd{% elif solicitud.estado == 3 %}success{% elif solicitud.estado == 2 %}important{% else %}info{% endif %} tu" data-original-title="Estado">{{ solicitud.get_estado_display }}</span></b>
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        <a href="javascript:;" class="btn btn-mini btn-link action-view-historic tu" title="Seguimiento" idr="{{ solicitud.id }}"><i class='fa fa-eye fa-2x'></i></a></li>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td style="text-align: center" colspan="12">NO TIENE REGISTROS DE SOLICITUDES</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade static" id="modalViewHistoric" style="display: none;">
    <div class="modal-header">
        <h3 class="paneltitle">Historial</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        {#        <a href="javascript:;" class="btn btn-save btn-success">Guardar</a>#}
        <a href="javascript:;" class="btn btn-cerrar btn-inverse">Cerrar</a>
    </div>
</div>

