{% extends "emails/emailbase.html" %}
{% load sga_extras %}
{% block contenido %}
    <b>Estimado(a) </b> {{ liquidacion.nombre }}.
    <br>
    <br>
    A continuación adjuntamos el Comprobante electrónico en formato XML de tu LIQUIDACIÓN COMPRA ELECTRÓNICO(A) que hemos generado en cumplimiento de la Resolución No.NAC-DGERCGC12-00105 emitida por el SRI. Dentro de nuestro sistema tenemos registrado tu servicio con la siguiente Identificación No. {{ liquidacion.identificacion }}.
    Favor no utilizar la opción de responder a la dirección de correo electrónico de envío, para consultas puede contactarnos al {{ t.telefono }} o comunicarse al mail tic@unemi.edu.ec
    <br>
    <br>
    A continuación disponemos el link, para que puedas descargar tu LIQUIDACIÓN DE COMPRA:
    <br>
    <br>
    Archivo XML:
    <a href="http://sagest.unemi.edu.ec/{{ liquidacion.xmlarchivo.url }}" target="_blank">http://sagest.unemi.edu.ec/{{ liquidacion.xmlarchivo.url }}</a>
    <br>
    <br>
    Archivo PDF:
    <a href="http://sagest.unemi.edu.ec/{{ liquidacion.pdfarchivo.url }}" target="_blank">http://sagest.unemi.edu.ec/{{ liquidacion.pdfarchivo.url }}</a>


{% endblock %}