{% extends 'ajaxformmodal.html' %}
{% block extra_js %}
    <script>
        $(document).ready(function(){
            let estadorevision = $('#id_estadorevision');
            $("#fieldset_mensaje").hide();
            estadorevision.on('select2:select', function (e) {
                let id = e.params.data.id;
                if(id == 8){
                    $("#fieldset_mensaje").show();
                }else{
                    $("#fieldset_mensaje").hide();
                    $("#id_mensaje").val('');
                }
            })
        });
    </script>
{% endblock %}
{% block header_info %}
{% include 'poa_subirevidencia/info_medioverificacion.html' %}
{% endblock %}
{% block block_form %}
    <div class="col-lg-6">
{#        <iframe src="{{ eDocumentoRecord.archivo.url }}" width="98%" height="500"></iframe>#}
        {% include 'poa_periodos/info_registrada.html' %}
    </div>
    <div class="col-lg-6">

        <div class="mt-2">
            <h4 class="border-start border-3 border-warning"><span class="ms-2">Validar evidencia</span></h4>
            <div class="row">
                {% include 'ajaxformmodal_seccion.html' %}
            </div>
        </div>
    </div>
{% endblock %}