{% extends "base.html" %}
{% load sga_extras %}
{% block heading %}
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v=1.0.0"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <style>

        .bg-anti-dark {
            background-color: #e1a985;
        }

        .dataTables_wrapper .dataTables_filter {
            display: none;
        }

        table.table thead th, table.table thead td {
            vertical-align: middle;
            text-transform: uppercase;
            font-size: 11px;
        }

        table.table tbody th, table.table tbody td {
            vertical-align: middle;
            font-size: 11px;
            padding-left: 4px;
        }

        label.label, span.label, span.badge, label.badge {
            font-size: 11px;
        }

        .select2-selection__rendered {
            font-size: 12px;
            font-weight: bold;
        }

        .select2-selection.select2-selection--single {
            border-radius: 4px !important;
            border: 1px solid #aaa;
        }

        span.select2-dropdown.select2-dropdown--below, span.select2-dropdown.select2-dropdown--above {
            border: 1px solid #F0F0F0 !important
        }

    </style>
    <script type="text/javascript">
        const pk_convocatorias = []

        const add_array_selected = (pk) => {
            if (!pk_convocatorias.includes(pk)){
                pk_convocatorias.push(pk)
            }
        }

        const del_array_selected = (pk) => {
            var indice = pk_convocatorias.indexOf(pk);
            if (pk_convocatorias.includes(pk)){
                if (indice !== -1) {
                  pk_convocatorias.splice(indice, 1);
                }
            }
        }

        $(function () {
            console.log('Welcome...');

            $('select').select2();
            $("#btn_actaseleccion").click(function (e) {
                console.log(pk_convocatorias);
                if (pk_convocatorias.length){
                    location.href = '/adm_postulacion?action=addactaseleccion&pk_convocatorias='+pk_convocatorias
                    /*$.get('/adm_postulacion?action=addactaseleccion', {'pk_convocatorias':pk_convocatorias}, function (e) {
                        alert('Siuu')
                    });*/
                   //formModal(0, 'GENERAR ACTA DE SELECCIÓN', 'addactaseleccion', pk_convocatorias)
                }else{
                    mensajeDanger('Debe seleccionar al menos una convocatoria', 'Alerta')
                }
            });


            $('#id_seleccionmasivo').click(function (e) {
                if (this.checked){
                    $('.seleccionindividual').prop('checked', true);
                    $('.seleccionindividual').each(function (){
                        add_array_selected(this.attributes.id_convocatoria.value)
                    });
                }else{
                    $('.seleccionindividual').prop('checked', false);
                    $('.seleccionindividual').each(function (){
                        del_array_selected(this.attributes.id_convocatoria.value)
                    });
                }

                show_hide_generar_acta()
            });

            $('.seleccionindividual').change(function () {
                let pk = this.attributes.id_convocatoria.value
                if(this.checked){
                    add_array_selected(pk)
                }else{
                    del_array_selected(pk)
                }

                show_hide_generar_acta()
            });

            const table_paralelos = $('.my_tabla_responsive').DataTable({
                responsive: false,
                ordering: false,
                paging: true,
                searching: true,
                language: {
                    "url": "/static/bootstrap5/libs/datatables.net-bs5/js/es-ES.json"
                },
                bInfo: true,
                dom: 'Bfrtip',
                buttons: [],
            });

            $('.my_tabla_responsive tbody').on('click', 'tr', function () {
                let data = table_paralelos.row(this).data();
            });

            $("#search").keyup(function () {
                table_paralelos.search($(this).val().trim()).draw();
            });

            $('#id_tipoprofesor').change(function (e) {
                //console.table(table_paralelos.row(this).data());
                $(this).parents('form').submit()
            });
        });

        show_hide_generar_acta = () => {
            if ($('.seleccionindividual').prop('checked')){
                $('#btn_actaseleccion').show('slow');
            }else{
                $('#btn_actaseleccion').hide('slow');
            }

        }
        
        function formModal(id, text, action, pk_convocatorias, footer=false) {
            bloqueointerface();
            footer && $('#footermodal').show();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                    'pk_convocatorias':pk_convocatorias
                },
                success: function (data) {
                    $.unblockUI();
                    if (data.result === true || data.result === 'ok') {
                        $('#itemspanel .panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text.toUpperCase());
                        $("#itemspanel").modal({
                            backdrop: 'static',
                            width: '90%'
                        }).modal('show').on('hidden.bs.modal', function (e) {
                            $(".panelbody").empty();
                        });
                    } else {
                        mensajeDanger(data.message + ' ' + data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    mensajeDanger("Error de conexión.");
                },
                dataType: "json"
            });
        }
    </script>
{% endblock %}
{% block atras %}/adm_postulacion?action=listadoprogramas{% endblock %}
{% block canvas %}

    <div class='row'>
        <div class='col-sm-12'>
            <div class="headtitle ps-1 ms-1">
                <h3 class="texto-blue">{{ title }}</h3>
                <h6>Administración</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body" onclick="location.reload();" style="cursor: pointer;">
                    <span class="fs-6 text-uppercase fw-semi-bold">Convocatorias</span>
                    <div class="mt-2 d-flex justify-content-between align-items-center">
                        <div class="lh-1">
                            <h2 class="h1 fw-bold mb-1">{{ detalle_cv.count }}</h2>
                            <span style="font-size: 12px">+{{ detalle_cv.last_records }} en menos de {{ nDays }} días</span>
                        </div>
                        <div>
                            <span class="bg-light-primary icon-shape icon-xl rounded-3 text-dark-primary">
                                <i class="bi bi-stack fs-3"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card Body -->
                <div class="card-body">
                    <a href="?action=listadoactas" target="_blank" style="text-decoration: none" class="text-dark">
                        <span class="fs-6 text-uppercase fw-semi-bold">Actas Generadas</span>
                        <div class="mt-2 d-flex justify-content-between align-items-center">
                            <div class="lh-1">
                                <h2 class="h1 fw-bold mb-1">{{ detalle_ac.count }}</h2>
                                <span style="font-size: 12px">+{{ detalle_ac.last_records }} en menos de {{ nDays }} días</span>
                            </div>
                            <div>
                                <span class="bg-light-warning icon-shape icon-xl rounded-3 text-dark-warning">
                                    <i class="bi bi-printer-fill fs-3"></i>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card Body -->
                <div class="card-body">
                    <a href="?action=listadoinvitaciones" target="_blank" class="text-dark">
                    <span class="fs-6 text-uppercase fw-semi-bold">Postulantes</span>
                    <div class="mt-2 d-flex justify-content-between align-items-center">
                        <div class="lh-1">
                            <h2 class="h1 fw-bold mb-1">{{ detalle_ic.count }}</h2>
                            <span style="font-size: 12px">+{{ detalle_ic.last_records }} en menos de {{ nDays }} días</span>
                        </div>
                        <div>
                            <span class="bg-light-success icon-shape icon-xl rounded-3 text-dark-success">
                                <i class="fa fa-users fs-3"></i>
                            </span>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <span class="fs-6 text-uppercase fw-semi-bold">Postulantes Aprobados</span>
                    <div class="mt-2 d-flex justify-content-between align-items-center">
                        <div class="lh-1" style="width: 60%">
                            <h2 class="h1 fw-bold mb-1">{{ detalle_ap.count }}</h2>
                            <span style="min-width: 100px" title="45">
                                <span style="font-size: 12px">+{{ detalle_ap.last_records }} en menos de {{ nDays }} días</span>
{#                                <div class="progress progress-tooltip" style="height: 6px;">#}
{#                                    <div class="progress-bar bg-info " role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                                </div>#}
                            </span>
                        </div>
                        <div>
                            <span class="bg-light-info icon-shape icon-xl rounded-3 text-dark-info">
                                <i class="bi bi-person-check-fill fs-3"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a id="" href="?action=addconvocatoria&tipo={{ '2'|encrypt }}" class="btn btn-success" style="border-radius: 3px;"><i class="fa fa-plus fs-6"></i> Adicionar</a>
            <a id="" href="?action=listadoactas" class="btn btn-cian-secondary" style="border-radius: 3px;"><i class="fa fa-map fs-6"></i> Actas de comité académico</a>
{#            <a id="" href="?action=configuraciones" class="btn btn-default" style="border-radius: 3px;"><i class="fa fa-cogs fs-6"></i> Configuraciones</a>#}
{#            <a id="btn_actaseleccion" style="display: none" href="javascript:;" class="btn btn-success"><i class="fa fa-plus fs-6"></i> Generar acta</a>#}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card mb-4">
                <div class="card-header border-bottom-0">
                    <div class="row">
                        <div class="col-sm-6">
                            <form method="GET">
                            <input type="hidden" value="{{ action }}" name="action">
                            <b>Periodo: <span class="text-danger">*</span></b>
                            <select name="p" id="id_tipoprofesor" style="width: 100%">
                                <option value="0">--TODOS LOS PERIODOS--</option>
                                {% for periodo in PERIODOS_CONVOCATORIA %}
                                    <option value="{{ periodo.0 }}" {% if periodo.0 == p %}selected{% endif %}>{{ periodo.1 }} - TOTAL: ({{ periodo.2 }})</option>
                                {% endfor %}
                            </select>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <b>Criterio: <span class="text-danger">*</span></b>
                            <div class="input-group">
                                <input id="search" style="font-family:Arial, FontAwesome;" type="text" class="form-control" placeholder=" Buscar por nombre de la convocatoria, periodo, carrera o típo de contratación..." aria-label="Buscar" aria-describedby="button-addon2" name="s" value="{{ s }}">
{#                                <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>#}
{#                                {% if s %}<a title="Ver todo" href="?action={{ action }}" class="btn btn-default"><i class="fas fa-sync-alt"></i></a>{% endif %}#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive border-0 overflow-y-hidden">
                    <table class="table mb-0 my_tabla_responsive">
                        <thead class="table-light">
                        <tr>
                            <th style="width: 50px" class="border-0 text-center"><input type="checkbox" id="id_seleccionmasivo"></th>
                            <th style="width: 20px" class="border-0 text-center"></th>
                            <th style="width: 200px" class="border-0 text-center">CONVOCATORIA</th>
                            <th style="width: 200px" class="border-0 text-center">Cohorte</th>
                            <th style="width: 200px" class="border-0 text-center">Carrera/Módulo</th>
                            <th style="width: 80px" class="border-0 text-center">Estado</th>
                            <th style="width: 80px" class="border-0 text-center">Típo</th>
                            <th style="width: 50px" class="border-0"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cv in convocatorias %}
                            <tr>
                                <td class="text-center"><input type="checkbox" id_convocatoria="{{ cv.pk }}" class="seleccionindividual"></td>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="pe-2">
                                    {{ cv.nombre }} - <span class="tr" title="POSTULANTES">[{{ cv.totalinscritos }}]</span> <br>
                                    <span class="text-inherit">
                                    <span title="{{ cv.get_tipo_display }}" class="label {% if cv.tipo == 2 %}bg-warning{% else %}bg-dark{% endif %} tr">{% if cv.tipo == 1 %}DM{% elif cv.tipo == 2 %}DI{% else %}ADM{% endif %}</span>
                                    <br>
                                    {{ cv.fechainicio|date:"d/m/Y" }} a {{ cv.fechafin|date:"d/m/Y" }}
                                </span>
                                </td>
                                <td>
                                    {% if cv.periodo %}
                                    {{ cv.periodo.nombre }}
                                    {% else %}
                                        <del>POR DEFINIR</del>
                                    {% endif %}
                                    <br>
                                    <b>Inscritos: {{ cv.totalinscritos }}</b>
                                    <br>
                                    <b>Aprobados: {{ cv.totalinscritos_aprobados }}</b>
                                </td>
                                <td>
                                    {{ cv.carrera|default:"" }} <br>
                                    <b>  <span style="cursor: pointer;" class="tu" title="Cod: {{ cv.id }}">{{  cv.asignaturamalla.asignatura}}</span></b>
                                </td>
                                <td class="text-center">
                                    {% with e=cv.get_estado %}
                                        <div><span style="font-size: 11px" class="badge bg-light-{{ e.color }} text-dark-{{ e.color }}">{{ e.estado }}</span></div>
                                    {% endwith %}
                                </td>
                                <td class="align-middle text-center">{{ cv.tipodocente|default:"POR DEFINIR" }}</td>
                                <td class="align-middle">
                                <span class="dropdown dropstart">
                                      <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown7" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v fs-6"></i>
                                      </a>
                                    <span class="dropdown-menu" aria-labelledby="courseDropdown7">
                                        <a class="dropdown-item" href="?action=editconvocatoria&idcv={{ cv.id|encrypt }}"><i class="fa fa-edit fs-6"></i>&nbsp;Editar</a>
                                        <a class="dropdown-item" href="?action=listadoinscritosconvocatoria&idcv={{ cv.id|encrypt }}&rt=convocatorias"><i class="fa fa-list fs-6"></i>&nbsp;Listado de inscritos</a>
{#                                        {% if cv.totalinscritos %}<a class="dropdown-item" href="?action=listadoactas&id={{ cv.id }}"><i class="bi bi-person-fill-check"></i>&nbsp;Selección/Evaluación Perfil Docente</a>{% endif %}#}
                                    </span>
                                </span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
{#                <div class="card-footer border-top-0">#}
{#                    {% include 'paginacionb4.html' %}#}
{#                </div>#}
            </div>
        </div>
    </div>

    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-list"></i> <b class="paneltitle">FORMULARIO MODAL</b></h4>
                    <button type="button" class="close btn-icon btn btn-ghost btn-sm rounded-circle"
                            data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formulariomodal" class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="row panelbody"></div>
                    </form>
                </div>
                <div class="modal-footer" id="footermodal" style="display:none;">
                    <div style="float: right">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                class="fa fa-window-close"></i> Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




