{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            var itemstimerai = 1;
            $("#id_nombre").addClass("validate[required]");
            $("#id_nombre").css({'text-transform': 'none'});
            $("#itemsadicionarrai").click(function() {
                $("#id_descripcion").val('');
                $("#id_puntaje").val('');
                $("#alertaingreso").hide();
                $("#itemspanelrai .incompletorai").hide();
                $("#itemspanelrai .incompletovaloresrai").hide();
                $("#adicionarycerrarrai").show();
                $("#guardar").hide();
                $("#itemspanelrai").modal({backdrop:'static', width: '400px'}).modal('show');
                return false;
            });
            $("#cerrarrai").click(function() {
                $("#itemspanelrai .incompletorai").hide();
                $("#itemspanelrai .incompletovaloresrai").hide();
                $("#itemspanelrai").modal("hide");
            });
            $("#adicionarycerrarrai").click(function() {
                adicionar_resultadorai()
            });
            conectar_controlesrai = function () {
                $(".eliminarrai").unbind();
                $(".eliminarrai").click(function () {
                    var padre = $(this).parent().parent();
                    padre.remove();
                    actualizar_listarai();
                });
            };
            adicionar_resultadorai = function(ocultar) {
                var detallerai = $("#id_descripcion").val();
                var idpuntaje = $("#id_puntaje").val();
                if (detallerai == '' || idpuntaje ==  ''){$("#itemspanelrai .incompletorai").show();return false;}
                $("#itemsbodyrai").append('<tr class="elementosrai" id="filarai_'+itemstimerai+'">' +
                    '<td style="text-align: justify" class="detallerai">'+detallerai+'</td>' +
                    '<td style="text-align: justify" class="detallepuntaje">'+idpuntaje+'</td>' +
                    '<td style="text-align: center">' +
                    '<a class="btn btn-tini btn-danger tu eliminarrai" title="Eliminar" id="eliminarrai"><i class="fa fa-remove"></i></a>' +
                    '</td>' +
                    '</tr>');
                $("#itemspanelrai").modal("hide");
                itemstimerai += 1;
                conectar_controlesrai();
                actualizar_listarai();
            };
            actualizar_listarai = function () {
                lista_items4 = [];
                $(".elementosrai").each(function () {
                    var itemrai = {
                        detallenombre: $(this).find(".detallerai").html(),
                        listapuntaje: $(this).find(".detallepuntaje").html()
                    };
                    lista_items4.push(itemrai);
                });
            };
        });
    </script>
{% endblock %}
{% block atras %}/adm_alternativatitulacion?action=listadorubricas{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_alternativatitulacion?action=listadorubricas{% endblock %}
{% block formaction %}/adm_alternativatitulacion{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addrubrica'/>
{% endblock %}
{% block formback %}/adm_alternativatitulacion?action=listadorubricas{% endblock %}
{% block formsuffix %}
    <fieldset class="control-group nomargins" style="float: left; width: 100%">
        <div class="controls">
            <table class='table table-bordered' cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th style="text-align: center" width="90%">Calificaciones</th>
                    <th style="text-align: center" width="90%">Puntaje</th>
                    <th style="text-align: center" width="10%"> <a href="javascript:;" id="itemsadicionarrai" class="btn btn-success btn-mini"><span class="fa fa-plus"></span></a></th>
                </tr>
                </thead>
                <tbody id="itemsbodyrai" class="datatable">

                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </fieldset>
{% endblock %}
{% block extraalerts %}
    <div class="modal fade static" id="itemspanelrai" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Adicionar tipo calificación</h3>
        </div>
        <div class="modal-body panelbody">
            <div class="alert alert-info incompletorai" style="display: none;">
                <i class="fa fa-info-sign"></i> Complete todos los campos para continuar
            </div>
            <div class="alert alert-danger" id="incompletovaloresrai" style="display: none;">
                <i class="fa fa-info-sign"></i> .
            </div>
            <div class="alert alert-danger" id="alertaingresorai" style="display: none;"> </div>
            <div class="row-fluid">
                Nombre:<br>
                <input type="text" value="" id="id_descripcion" name="id_descripcion">
                <br>Puntaje:<br>
                <input type="text" value="" id="id_puntaje" name="id_puntaje">
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-success" id="adicionarycerrarrai"><i class="fa fa-plus"></i> Adicionar</a>
            <a href="javascript:;" class="btn btn-cerrar btn-info" id="cerrarrai">Cerrar</a>
        </div>
    </div>
{% endblock %}
{% block buttonname %}Guardar{% endblock %}