{% extends "base.html" %}
{% block atras %}/adm_alternativatitulacion{% endblock %}
{% load sga_extras %}
{% block heading %}
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css?v=1.0.0" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v=1.0.0"></script>
    <script type="text/javascript" src='/static/js/select2.js?v=1.0.0' ></script>
    <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
        $(function() {
            $(".nota").blur(function(){
                numerico($(this), 0, 100, 2);
            });
            $("select").select2({minimumResultsForSearch: 20 });
            busqueda = function(){
                var term = $("#searchinput").val().trim().toUpperCase();
                if (term.length > 0){
                    if ((ide=parseInt($('#estado_matricula').val()))>0)
                    {
                        location.href = "/adm_alternativatitulacion?action=listadomatriculados&idperiodogrupo={{ periodogrupo.id|encrypt }}&s="+term+"&ide="+ide;
                    }
                    else
                    {
                        location.href = "/adm_alternativatitulacion?action=listadomatriculados&idperiodogrupo={{ periodogrupo.id|encrypt }}&s="+term;
                    }
                }
                else
                {
                    if ((ide=parseInt($('#estado_matricula').val()))>0)
                    {
                        location.href = "/adm_alternativatitulacion?action=listadomatriculados&idperiodogrupo={{ periodogrupo.id|encrypt }}";
                    }
                    else{
                        return false;
                    }
                }
            };
            reportes = function(){
                var term = $("#searchinput").val().trim().toUpperCase();
                if (term.length > 0){
                    if ((ide=parseInt($('#estado_matricula').val()))>0)
                    {
                        location.href = "/adm_alternativatitulacion?action=reporte_estudiante_matriculados&ida={{ alternativa.id }}&s="+term+"&ide="+ide;
                    }
                    else
                    {
                        location.href = "/adm_alternativatitulacion?action=reporte_estudiante_matriculados&ida={{ alternativa.id }}&s="+term;
                    }
                }
                else
                {
                    if ((ide=parseInt($('#estado_matricula').val()))>0)
                    {
                        location.href = "/adm_alternativatitulacion?action=reporte_estudiante_matriculados&ida={{ alternativa.id }}&ide="+ide;
                    }
                    else{
                        location.href = "/adm_alternativatitulacion?action=reporte_estudiante_matriculados&ida={{ alternativa.id }}";
                        return false;
                    }
                }
            };

            $('.eliminarmatricula').click(function (){
                var idm = $(this).attr('idm');
                var nombres = $(this).attr('nombres');
                $('#eliminarmodal_run').attr({'idm': idm});
                document.getElementById( 'nombrematriculado').innerHTML = 'Alumno(a): <strong>'+ nombres +'</ strong>';
                $('#eliminarmodal').modal('show');

            });

            $('.reprobarmatricula').click(function (){
                var idm = $(this).attr('idm');
                var nombres = $(this).attr('nombres');
                $('#reprobarmodal_run').attr({'idm': idm});
                document.getElementById( 'nombrematriculadoreprobado').innerHTML = 'Alumno(a): <strong>'+ nombres +'</ strong>';
                $('#reprobarmodal').modal('show');

            });
            $('.activarmatricula').click(function (){
                var idm = $(this).attr('idm');
                var nombres = $(this).attr('nombres');
                $('#activarmodal_run').attr({'idm': idm});
                document.getElementById( 'nombrematriculadoactivado').innerHTML = 'Alumno(a): <strong>'+ nombres +'</ strong>';
                $('#activarmodal').modal('show');

            });
            $('#cerraractivarmodal').click(function (){
                $('#activarmodal').modal('hide');
            });
            $('#cerrareliminarmodal').click(function (){
                $('#eliminarmodal').modal('hide');
            });
            $('#cerrarreprobarmodal').click(function (){
                $('#reprobarmodal').modal('hide');
            });
            $('.motivomatricula').click(function (){
                var nombres = $(this).attr('nombres');
                var motivo = $(this).attr('motivo');
                document.getElementById( 'nombrematri').innerHTML = 'Alumno(a): <strong>'+ nombres +'</ strong>';
                document.getElementById( 'motivo').innerHTML = motivo;
                $('#motivomodal').modal('show');

            });
            $('#cerrarmotivomodal').click(function (){
                $('#motivomodal').modal('hide');
            });

            $('#eliminarmodal_run').click(function ()
            {
                var motivo = $('#id_motivo').val();
                var idm = $(this).attr('idm');
                if (motivo.length > 0){
                    $('#eliminarmatricula').modal('hide');
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/adm_alternativatitulacion",
                        data: {'action': 'delmatricula', 'motivo': motivo, 'idm': idm},
                        success: function(data) {
                            if (data.result == 'ok') {
                                location.reload();
                            } else {
                                $.unblockUI();
                                smoke.alert(data.mensaje);
                            }
                        },
                        error: function() {
                            $.unblockUI();
                            smoke.alert("Error al enviar los datos.");
                        },
                        dataType: "json"
                    });
                }
            });
            $('#reprobarmodal_run').click(function ()
            {
                var idm = $(this).attr('idm');
                $('#reprobarmatricula').modal('hide');
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_alternativatitulacion",
                    data: {'action': 'reprobarmatricula', 'idm': idm},
                    success: function(data) {
                        if (data.result == 'ok') {
                            location.reload();
                        } else {
                            $.unblockUI();
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error al enviar los datos.");
                    },
                    dataType: "json"
                });
            });

            $('#activarmodal_run').click(function ()
            {
                var idm = $(this).attr('idm');
                $('#activarmodal').modal('hide');
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_alternativatitulacion",
                    data: {'action': 'activarmatricula', 'idm': idm},
                    success: function(data) {
                        if (data.result == 'ok') {
                            location.reload();
                        } else {
                            $.unblockUI();
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error al enviar los datos.");
                    },
                    dataType: "json"
                });
            });

            $("#search").click(function() {
                busqueda();
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    busqueda();
                }
            });
            $("#reporte").click(function() {
                reportes();
            });

            $('.archivocomprobar').click(function(){
                id = $(this).attr('idm');
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_alternativatitulacion",
                    data: {'action': 'comprobacionarchivo','idm': id},
                    success: function(data) {
                        if (data.result == 'ok') {
                            $.unblockUI();
                        } else {
                            $.unblockUI();
                            smoke.alert(data.mensaje);
                        }
                    },
                    dataType: "json"
                });
            });
            $('.nota').change(function () {
                numerico($(this), 0, 100, 2);
                var nota = $(this).val();
                var idm = $(this).attr('idm');
                bloqueointerface();
                $.post("/adm_alternativatitulacion", {'action':'addnota', 'id': idm, 'nota': nota}, function(data) {
                    if (data.result == 'ok') {
                        {#$(".nota_"+data.id).html('<span>'+data.nota+'</span>');#}
                        $.unblockUI();
                    }else{
                        smoke.alert(data.mensaje);
                        $.unblockUI();
                    }
                }, 'json');
            });
        });
    </script>
{% endblock %}
{% block canvas %}
    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3>{{ title }}</h3>
                <h6>Periodo: {{ periodogrupo.nombre }}</h6>
            </div>
        </div>
    </div>
    <form method="GET">
        <div class="container-fluid">
            <div class="form-row">
                <div class="col-md-12 col-sm-12">
                    <div class="input-group mb-2">
                        <input type="hidden" name="action" value="{{ action }}">
                        <input type="hidden" name="idperiodogrupo" value="{{ periodogrupo.id|encrypt }}">
                        <input type="text" class="form-control" placeholder="Buscar"
                               aria-label="Buscar" autocomplete="off" aria-describedby="button-addon2" name="s" value="{{ s }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary bloqueo_pantalla" type="submit" id="button-addon2">
                                <i class="fa fa-search"></i>
                            </button>
                            {% if url_vars %}
                                <a title="Ver todo" href="{{ request.path }}?action=listadomatriculados&idperiodogrupo={{ periodogrupo.id|encrypt }}" class="btn btn-default tr bloqueo_pantalla">
                                    <i class="fas fa-sync-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="card mb-4">
        <div class="card-body border-top border-6 rounded-3 border-dark-info">
            <table class='tabla_responsive table table-bordered table-striped'>
                <thead class="table-light">
                <tr>
                    <th style="width: 400px;">Estudiante</th>
                    <th style="width: 350px;">Alternativa </th>
                    <th style="width: 80px; text-align: center">Matricula</th>
                    <th style="width: 100px; text-align: center">Fecha</th>
                    <th style="width: 40px; text-align: center">Archivo Cedula</th>
                    <th style="width: 40px; text-align: center">Archivo Votación</th>
                    <th style="width: 80px; text-align: center">Estado Gestación</th>
                    <th style="width: 100px; text-align: center">Nota examen</th>
                    <th style="width: 30px;">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for matricula in matriculados %}
                    <tr>
                        {#                        <td width="30px" style="vertical-align: middle;">#}
                        {#                            {% if persona.usuario.is_superuser %}#}
                        {#                                <label class="label label-warning">COD_MAT: {{ matricula.id }}</label>#}
                        {#                            {% endif %}#}
                        {#                        </td>#}
                        <td>
                            <div class="d-flex align-items-center">
                                <div>
                                        <span class="avatar avatar-lg">
                                            {% if matricula.inscripcion.persona.foto.foto %}
                                                <img src="https://sga.unemi.edu.ec{{ matricula.inscripcion.persona.foto.foto.url }}" class="rounded-circle">
                                            {% else %}
                                                {% if matricula.inscripcion.persona.sexo_id == 1 %}
                                                    <img src="/static/images/iconos/mujer.png" class="rounded-circle">
                                                {% else %}
                                                    <img src="/static/images/iconos/hombre.png" class="rounded-circle">
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                </div>
                                <div class="ms-0">
                                    <h6 class="mb-0">
                                        <span class="fa fa-id-badge" aria-hidden="true"></span>
                                        {% if matricula.inscripcion.persona.cedula %}
                                            {{ matricula.inscripcion.persona.cedula }}
                                        {% else %}
                                            {{ matricula.inscripcion.persona.pasaporte }}
                                        {% endif %}
                                        <span class="fa fa-user" aria-hidden="true"></span> {{ matricula.inscripcion }}
                                    </h6>
                                    <p class="mb-0 text-muted">
                                        <span class="fa fa-envelope"></span> <a
                                            href="mailto:{{ matricula.inscripcion.persona.email }}">{{ matricula.inscripcion.persona.email }}</a>
                                        | <span
                                            class="fa fa-phone-square"></span> {{ matricula.inscripcion.persona.telefono }}
                                    </p>
                                    {% if matricula.inscripcion.persona.mi_perfil.tienediscapacidad %}
                                        <label class="label label-info"><i class="fa fa-wheelchair"></i></label>
                                    {% endif %}
                                    {% if matricula.inscripcion.mi_nivel.nivel  %}
                                        Nivel Malla: {{ matricula.inscripcion.mi_nivel.nivel }}<br/>
                                    {% endif %}
                                    {% if egresado %}
                                        {% if graduado %}
                                            <span class="label label-warning tu">Graduado</span>
                                        {% else %}
                                            <span class="label label-info tu">Egresado</span>
                                        {% endif %}
                                    {% endif %}
                                    {% if matricula.tipomatriculalumno %}
                                        <span class="label {%  if matricula.tipomatriculalumno == "REGULAR" %}label-success{% else %}label-inverse{% endif %} tu" title="{{ matricula.tipomatriculalumno }}">
                                                                        {{ matricula.tipomatriculalumno }}
                                                                    </span>
                                    {% endif %}
                                    {% if matricula.cumplerequisitos == 1 %}<br>
                                        <span class="label label-warning tu">
                                                                    {{ matricula.get_cumplerequisitos_display }}
                                                                </span>
                                    {% endif %}
                                    {% if matricula.cumplerequisitos == 2 %}<br>
                                        <span class="label label-success tu">APTO PARA SUSTENTAR</span>
                                    {% endif %}
                                    {% if matricula.cumplerequisitos == 3 %}<br>
                                        <span class="label label-important tu">NO APTO PARA SUSTENTAR</span>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td class="hidden-phone hidden-tablet ">
                            <strong>PERIODO: </strong>{{ matricula.alternativa.grupotitulacion.periodogrupo.nombre }}<br>
                            {{ matricula.alternativa }} - {{ matricula.alternativa.paralelo }}<br>
                            <strong>COD SNIESE: </strong>{{ matricula.alternativa.carrera.codigo }}<br>
                            <strong>CARRERA: </strong>{{ matricula.alternativa.carrera }}
                        </td>
                        <td style="text-align: center">
                            {% with reprobo_complexivo=matricula|call:"reprobo_examen_complexivo" %}
                                {% if reprobo_complexivo %}
                                    <span class="label label-important">REPROBADO</span>
                                {% else %}
                                    <span class="label
                            {% if matricula.estado == 1 %}
                            label-success
                            {% elif matricula.estado == 2 %}
                            label-info
                            {% elif matricula.estado == 3 %}
                            label-default
                            {% elif matricula.estado == 4 %}
                            label-danger
                            {% elif matricula.estado == 5 %}
                            label-warning
                            {% elif matricula.estado == 6 %}
                            label-warning
                            {% elif matricula.estado == 7 %}
                            label-default
                            {% elif matricula.estado == 8 %}
                            label-inverse
                            {% elif matricula.estado == 9 %}
                            label-important
                            {% else %}
                            label-success
                            {% endif %}
                            ">
                            {{ matricula.get_estado_display}}
                            </span>
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td style="text-align: center">
                            {{ matricula.fechainscripcion|date:'d-m-Y'}}<br>
                            {{ matricula.fecha_creacion|time:"h:i a"}}
                        </td>
                        <td style="text-align: center">
                            {% if matricula.documento_cedula %}
                                <a href="{{ matricula.download_archivo_cedula }}" target="_blank" class="btn btn-warning btn-tini tu" title="Descargar Archivo"><i class="fa fa-arrow-down"></i> </a>
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                            {% if matricula.documento_certificado_votacion %}
                                <a href="{{ matricula.download_archivo_certificado_votacion }}" target="_blank" class="btn btn-warning btn-tini tu" title="Descargar Archivo"><i class="fa fa-arrow-down"></i> </a>
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                            {% if matricula.estado_gestacion %}<label class="label label-success">Si</label>{% else %}<label class="label label-important">No</label>{% endif %}
                        </td>
                        <td style="text-align: center" class="nota_{{ matricula.id }}">
                                <span>
                                {% if matricula.existe_graduado %}
                                    {% if matricula.alternativa.aplicapropuesta %}
                                        <input type="text" style="width: 60px;"  class="imp-numbersmall decimal nota" idm="{{ matricula.id }}" value="{{ matricula.nota|default_if_none:'0.0' }}">
                                    {% endif %}
                                {% endif %}
                            </span>
                        </td>
                        <td style="text-align: center">
                            <div class="dropbottom">
                                <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Acción <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" x-placement="right-start">
                                    {% if not matricula.tienegrupo %}
                                        <li class="dropdown-item"><a class="bloqueo_pantalla" href="/adm_alternativatitulacion?action=editalternativamatri&idm={{ matricula.id|encrypt }}&idperiodomatriculado={{ periodogrupo.id|encrypt }}"><i class="fa fa-edit"></i> Cambiar alternativa</a></li>
                                    {% endif %}
                                    {% if matricula.tienegrupo %}
                                        <li class="dropdown-item"><a class="bloqueo_pantalla" href="/adm_alternativatitulacion?action=listadoalternativas&idm={{ matricula.id|encrypt }}&idperiodogrupo={{ matricula.alternativa.grupotitulacion.periodogrupo.id|encrypt }}"><i class="fa fa-group"></i> Grupos</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="text-align: center" colspan="10">NO EXISTEN FICHAS REGISTRADAS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer border-top-0">
        {% include 'paginacionb4.html' %}
    </div>
    <div class="modal fade static" id="eliminarmodal" style="display: none;">
        <div class="modal-header">
            <h4 id="paneltitle">Eliminar Matricula</h4>
        </div>
        <div class="modal-body">
            <form id="formulario1" class='form-horizontal'>
                <label id="nombrematriculado"></label>
                {% for field in form %}
                    <fieldset class="control-group nomargins">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                        </div>
                    </fieldset>
                {% endfor %}
            </form>
        </div>
        <div class="modal-footer">
            <a  href="javascript:;" id="eliminarmodal_run" idm="" class="btn btn-danger">Eliminar</a>
            <a  href="javascript:;" id="cerrareliminarmodal" class="btn">Cerrar</a>
        </div>
    </div>
    <div class="modal fade static" id="reprobarmodal" style="display: none;">
        <div class="modal-header">
            <h4 id="paneltitle">Reprobar Matricula</h4>
        </div>
        <div class="modal-body">
            <form id="formulario1" class='form-horizontal'>
                <label id="nombrematriculadoreprobado"></label>
            </form>
        </div>
        <div class="modal-footer">
            <a  href="javascript:;" id="reprobarmodal_run" idm="" class="btn btn-danger">Reprobar</a>
            <a  href="javascript:;" id="cerrarreprobarmodal" class="btn">Cerrar</a>
        </div>
    </div>
    <div class="modal fade static" id="activarmodal" style="display: none;">
        <div class="modal-header">
            <h4 id="paneltitle">Activar Matricula</h4>
        </div>
        <div class="modal-body">
            <form id="formulario1" class='form-horizontal'>
                <label id="nombrematriculadoactivado"></label>
            </form>
        </div>
        <div class="modal-footer">
            <a  href="javascript:;" id="activarmodal_run" idm="" class="btn btn-info">Activar</a>
            <a  href="javascript:;" id="cerraractivarmodal" class="btn">Cerrar</a>
        </div>
    </div>
    <div class="modal fade static" id="motivomodal" style="display: none;">
        <div class="modal-header">
            <h4 id="paneltitle">Motivo Eliminado</h4>
        </div>
        <div class="modal-body">
            <form id="formulario1" class='form-horizontal'>
                <label id="nombrematri"></label>
                <fieldset class="control-group nomargins">
                    <label class="control-label">Motivo</label>
                    <div class="controls">
                        <textarea id="motivo" rows="5" disabled></textarea>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <a  href="javascript:;" id="cerrarmotivomodal" class="btn">Cerrar</a>
        </div>
    </div>
{% endblock %}
