{% extends "ajaxdeletedinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_paextracurriculares?action=listaactvidades&idperiodoarea={{ actividad.periodoarea.id }}{% endblock %}
{% block formaction %}/adm_paextracurriculares{% endblock %}
{% block formactionvalue %}deleteactividad{% endblock %}
{% block formobjectid %}{{ actividad.id }}{% endblock %}
{% block formobjectrepr %}{{ actividad.nombre }}{% endblock %}
{% block extrabuttons %}
    <input type="hidden" name="id" value="{{ actividad.id }}">
{% endblock %}