<h3>Detalle del tema de titulación</h3> <br>

<div class='row-fluid'>
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th colspan="4">{{ temaindividualapertura.mecanismotitulacionposgrado }}</th>
        </tr>
        </thead>
        <tr>
            <td colspan="2"><b>Tema: </b><br> {{ temaindividualapertura.propuestatema }}

            </td>

        </tr>

        <tr>
            <td colspan="4"><b>Linea: </b>
                <br>{{ temaindividualapertura.sublinea.linea.nombre }}</td>
        </tr>
        <tr>
            <td colspan="4"><b>Sublinea: </b><br> {{ temaindividualapertura.sublinea.nombre }}</td>
        </tr>

        <tr>
            <td colspan="4"><b>Variable dependiente: </b>
                <br>{{ temaindividualapertura.variabledependiente }}</td>
        </tr>
        <tr>
            <td colspan="4"><b>Variable
                independiente: </b><br> {{ temaindividualapertura.variableindependiente }}</td>
        </tr>
        <tr>
            <td colspan="4"><b>Archivo: </b><br>
                {% if temaindividualapertura.archivo %}
                    <a target="_blank" href="media/{{ temaindividualapertura.archivo }}"
                       class="btn btn-success btn-mini"><i class="fa fa-arrow-down"></i>
                        Descargar</a>
                {% endif %}

            </td>
        </tr>

        <tr>
            <td colspan="4">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th colspan="4" style="width: 25%">Maestrante</th>

                    </tr>
                    </thead>

                    <tr>
                        <td colspan="1">
                            <br>{{ temaindividualapertura.matricula.inscripcion }} - {{ temaindividualapertura.matricula.inscripcion.persona.cedula }}<br>
                        </td>

                    </tr>


                </table>

            </td>
        </tr>


    </table>

</div>