{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script>
        $(function(){

            //$("#id_descripcion, #id_unidadmedida, #id_costoreferencia ").addClass("validate[required]");


            //$("#id_costoreferencia").blur(function(){
               // numerico($(this), 0, 0, 2);
            //});

        });
    </script>
{% endblock %}
{% block atras %}/ob_anexosrecursos{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/ob_anexosrecursos{% endblock %}
{% block formdestination %}/ob_anexosrecursos{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='edit'/>
    <input type='hidden' name='id' value='{{ anexo.id }}'/>
{% endblock %}
{% block formback %}/ob_anexosrecursos{% endblock %}
{% block moreblock %}
{% endblock %}