{% extends "ajaxformbs.html" %}
{% block extraheading %}
{% endblock %}
{% block atras %}/docentes?action=tipoprofesor{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/docentes?action=tipoprofesor{% endblock %}
{% block formobjectid %}{{ tipoprofesor.id }}{% endblock %}
{% block formaction %}/docentes{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editar'/>
    <input type='hidden' id='id' name="id" value="{{ tipoprofesor.id }}"/>
{% endblock %}
{% block formback %}/docentes?action=tipoprofesor{% endblock %}
{% block buttonname %}Guardar{% endblock %}
