{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            $("#id_urlzoom").addClass("validate[required]");
            $("#id_urlzoom").css({'text-transform': 'none'});
        });
    </script>
{% endblock %}
{% block atras %}/docentes{% endblock %}
{% block titulo %}Editar {{ profesor }}{% endblock %}
{% block formaction %}/docentes{% endblock %}
{% block formdestination %}/docentes?id={{ profesor.id }}{% endblock %}
{% block formwidth %}form-m{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addzoomurlmodal'/>
    <input type='hidden' id='id' name="id" value="{{ profesor.id|encrypt }}"/>
{% endblock %}
{% block formback %}/docentes{% endblock %}
{% block buttonname %}Guardar{% endblock %}