{% extends "emails/emailbasenew.html" %}
{% block titulo %}Aprobación de solicitud de capacitación{% endblock %}
{% block contenido %}
    <img style="margin-bottom: 18px" width="350px" src="https://postulate.unemi.edu.ec/static/mailing/il_aprobacionth.png"><br>
    <div style="text-space: 1px; color:#5F676E">
        <center>
            <p style="color: #5F676E!important;">
                {% if d.cabecera.participante.sexo_id == 1 %}Estimada{% elif d.cabecera.participante.sexo_id == 2 %}Estimado{% else %}Estimado/a{% endif %}: {{ d.cabecera.participante.nombre_completo|lower|title }}
            </p>
            <p style="margin-top: 30px;margin-bottom: 20px;color: #5F676E!important;">
                <b>PERFECCIONAMIENTO ACADEMICO {% if d.estado == 2 %}APROBÓ{% else %}NO APROBÓ{% endif %}</b><br>
                la solicitud de capacitación en {{ d.cabecera.capeventoperiodo|lower|title }} - [{{ d.cabecera.capeventoperiodo.horas }} HORAS].
            </p>
        <div>
            <p style="color: #5F676E!important;"><b>Observación:</b></p>
            <p style="color: #5F676E!important;">{{ d.observacion|lower|capfirst }}</p>
            <p style="color: #5F676E!important;"><b>Quién Aprueba:</b></p>
            <p style="color: #5F676E!important;">{{ d.cabecera.solicita.nombre_completo|lower|title }}</p>
        </div>
        </center>
    </div>
{% endblock %}