{% extends "emails/emailbasenew.html" %}
{% block titulo %}{% if d.verificado %}Aprobación{% else %}Cancelación{% endif %} de capacitación por UATH{% endblock %}
{% block contenido %}
    <img style="margin-bottom: 18px" width="350px" src="https://postulate.unemi.edu.ec/static/mailing/il_notcertificado.png"><br>
    <div style="text-space: 1px; color:#5F676E">
        <center>
            <p style="color: #5F676E!important;">
                {% if p.sexo.id == 1 %}Estimada{% elif p.sexo.id == 2 %}Estimado{% else %}Estimado/a{% endif %}: {{ p.nombre_completo|lower|title }}
            </p>
            <p style="margin-top: 30px;margin-bottom: 20px;color: #5F676E!important;">
                <b>Le informamos que usted ha {% if d.verificado %}aprobado{% else %}cancelado{% endif %}</b><br>
                la capacitación <b>{{ d.nombre|upper}}</b>, registrado en hoja de vida de {{ d.persona.nombre_completo|title }}.
            </p>
        </center>
    </div>
{% endblock %}