{% extends "emails/emailbasenew.html" %}
{% block titulo %}{{ titulo }}{% endblock %}
{% block contenido %}
    <img style="margin-bottom: 18px" width="350px" src="https://sga.unemi.edu.ec/static/mailing/mail3.png"><br>
    Estimado/a:
    <br><br>
    Comunicamos a Ud. que el capítulo de libro <strong>{{ capitulo }}</strong> ha sido <strong>REGISTRADO</strong> en la base de datos de la UNEMI.
    <br><br>
    <strong>Integrantes:</strong><br><br>
    <table align="center" border="1" style="border-width: 1px; border-color: #0e0e0e" cellpadding="2" cellspacing="0" width="70%">
        <tr>
            <td style="text-align: center" width="5%"><strong>#</strong></td>
            <td style="text-align: center" width="70%"><strong>Apellidos y Nombres</strong></td>
            <td style="text-align: center" width="25%"><strong>Tipo</strong></td>
        </tr>
        {% for integrante in integrantes %}
            <tr>
                <td style="text-align: center">{{ forloop.counter }}</td>
                <td>
                    {% if integrante.profesor %}
                        {{ integrante.profesor }}
                    {% endif %}
                    {% if integrante.administrativo %}
                        {{ integrante.administrativo }}
                    {% endif %}
                    {% if integrante.inscripcion %}
                        {{ integrante.inscripcion }}
                    {% endif %}
                </td>
                <td>
                    {{ integrante.get_tipoparticipante_display }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
{#    <strong>Categoría:</strong> {{ origen }}#}
{#    <br><br>#}
    Saludos Cordiales,<br><br>
    <strong>Vicerrectorado de Investigación y Posgrado</strong>
{% endblock %}