{% extends "emails/emailbasenew.html" %}
{% block titulo %}Curso de Nivelación de Carreras 2S-2024{% endblock %}
{% block contenido %}
    <center>
    <img style="margin-bottom: 18px" width="350px" src="https://sga.unemi.edu.ec/static/mailing/il_cursnivel.png"><br>
{#    https://sga.unemi.edu.ec/static/mailing/il_cursnivel.png#}
    <div style="text-space: 2px">
        <p style="color: #5F676E!important;">
            <br>
            Estimad{% if persona.sexo.id == 2 %}o{% elif persona.sexo.id == 1  %}a{% else %}o/a{% endif %} aspirante: <strong>{{ persona.nombre_completo|title }}</strong><br>
            <br>
            La Universidad Estatal de Milagro <font size="-1">t</font>e da la bienvenida al <b>Curso de Nivelación de Carreras 2S-2024.</b>
        </p>
        <p style="color: #5F676E!important;">A continuación te presentamos el usuario con el que podrás acceder al <strong>Sistema de Gestión Académica</strong> <a href="https://sga.unemi.edu.ec/" style="color:#15c!important;" target="_blank"><font color="#15c!important;">https://sga.unemi.edu.ec/</font></a>
            y <b>Aula Virtual de Nivelación:</b> <a href="https://aulanivelacion.unemi.edu.ec/" style="color:#15c!important;" target="_blank"><font color="#15c">https://aulanivelacion.unemi.edu.ec/</font></a>.
        </p>
    </div>
    <div>
        <p style="text-align:center;font-size:16px;color: #5F676E!important;border: 4px solid #eaeaef;border-style: dotted;border-radius: 9px;width: 200px;padding: 15px;">
            Usuario: <strong>{{ persona.usuario.username }}</strong><br>
            Clave: <strong>{{ persona.identificacion }}</strong>
        </p>
    </div>
    <br>
{#    <div style="color: #5F676E!important;margin-bottom: 25px;">#}
{#        <p style="color: #5F676E!important;">Únete al <b>grupo oficial en Facebook</b> donde publicaremos noticias correspondientes a este proceso.</p>#}
{#        <br>#}
{#        <table>#}
{#            <tbody>#}
{#            <tr>#}
{#                <td style="background: #ffaa46;width: 280px;height: auto;border-radius: 35px;text-align: center;vertical-align: middle;padding-top:3%;padding-bottom: 3%;">#}
{#                    <a href="https://www.facebook.com/groups/249943540915019/"#}
{#                       target="_blank" class=""#}
{#                       style="text-decoration:none!important;border-radius: 15px; background: #ffaa46; color: #ffffff;position:relative!important;top:2px!important;">#}
{#                        Unirse al grupo de Facebook <span style="font-size: 16px!important;">|</span> </a>#}
{#                    <a href="https://www.facebook.com/groups/249943540915019/"#}
{#                       target="_blank" class=""#}
{#                       style="text-decoration:none!important;border-radius: 15px; background: #ffaa46; color: #ffffff;position:relative!important;top:2px!important;">#}
{#                        <img src="https://sga.unemi.edu.ec/static/mailing/icon_facebook.png" width="24"#}
{#                             style="border-radius:50%;color:#ffaa46;line-height:100%;outline:none;text-decoration:none;background: #f6f8fc!important;vertical-align: bottom;"/>#}
{#                    </a>#}
{#                </td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
</center>
{% endblock %}






