{% extends "emails/emailbase.html" %}
{% block contenido %}
    {% if fase == 'SUB' %}
        Estimado(a) <b>{{ medico }}</b>:
        <br><br>
        Se le comunica que {{ estudiante }} registró en su ficha médica el documento del resultado de exámenes de laboratorio el {{ fecha|date:'d-m-Y' }} a las {{ hora|time:'h:i a' }}.
        <br><br>
        Usted deberá VALIDAR o RECHAZAR el documento registrado por el estudiante.
    {% else %}
        Estimado(a) <b>{{ estudiante }}</b>:
        <br><br>
        Se le comunica que {{ medico }} {{ estadorevision }} su documento del resultado de exámenes de laboratorio el {{ fecha|date:'d-m-Y' }} a las {{ hora|time:'h:i a' }}.
        <br><br>
        {% if observaciones %}
            Observaciones: {{ observaciones }}
        {% endif %}
    {% endif %}
{% endblock %}