{% extends "emails/emailbase.html" %}
{% block contenido %}
    <br>
    <br>
    DE: {{ dedetalle.grupo.nombre }} - {{ dedetalle.agente.persona.nombre_completo_inverso }}
    PARA: {{ detalle.grupo.nombre }}
    <br>
    <br>
    <b>Nuevo incidente de la ubicación:</b> {{ detalle.incidente.ubicacion.bloque.nombre }}-{{ detalle.incidente.ubicacion.ubicacion.nombre }}<br>
        <b>Solicitante: </b>  {{ detalle.incidente.persona.nombre_completo_inverso }}<br>
        <b>Asunto: </b>{{ detalle.incidente.asunto }}
    <br>
    <br>
{% endblock %}