{% extends "emails/emailbasenew.html" %}
{% load sga_extras %}
{% load humanize %}
{% block titulo %}CERTIFICADO{% endblock %}

{% block contenido %}
        <img style="margin-bottom: 18px" width="350px" src="https://sga.unemi.edu.ec/static/mailing/il_login1.png"><br>

    <br><br>
    {% if inscrito.participante.sexo_id == 1 %}Estimada{% else %}Estimado{% endif %}, {{ inscrito.participante.nombre_completo_minus }}
    <br>
    <div style="text-align: justify">
        <br><br>
        {% if inscrito.capeventoperiodo.tipoparticipacion_id == 1 %}
            Ponemos a vuestro conocimiento que, luego de haber concluido su participación en: {{ inscrito.capeventoperiodo.capevento }}, se generó su certificado de {{ inscrito.capeventoperiodo.tipoparticipacion|lower }},
        {% else %}
            Ponemos a vuestro conocimiento que, luego de haber concluido su participación en: {{ inscrito.capeventoperiodo.capevento }}, sus resultados finales obtenidos son los siguientes:
        <br>
        {% comment %}PROMEDIO ACADÉMICO:
        {% with notatotalinscrito=inscrito.capeventoperiodo.instructor_principal|args:inscrito|call:"extaer_notatotal" %}
            {{ notatotalinscrito|floatformat:0 }}
        {% endwith %}<br>{% endcomment %}
        DURACIÓN: {{ inscrito.capeventoperiodo.horas }} HORAS<br>
{#        ESTADO: APROBADO<br><br>#}
        Adjuntamos el respectivo certificado de {{ inscrito.capeventoperiodo.tipoparticipacion|lower }}, {% endif %} que podrá ser descargado <a href="https://sga.unemi.edu.ec/{{ inscrito.rutapdf.url }}">aqui</a>

    </div>

{% endblock %}