{% extends "emails/emailbase.html" %}
{% block contenido %}
    {{ saludo }} <b>{{ estudiante }}</b>:
    <br><br>
    Se le comunica que el {{ fecha|date:'d-m-Y' }} a las {{ hora|time:'h:i a' }} {{ mensaje }} <strong>{{ informe.informedocente.nombre }}</strong> correspondiente al proyecto de <strong>{{ proyecto }}</strong>.
    <br><br>
    {% if estado == '1' %}
        <strong>Estado: </strong>APROBADO
    {% else %}
        <strong>Estado: </strong>RECHAZADO
        <br>
        Se habilitó la opción de reemplazar el informe.
    {% endif %}
    <br><br>
    En atención a la revisión realizada. <br>
    Dispóngase a verificar el estado de la misma en: http://sga.unemi.edu.ec/ | Módulo <strong>Proyectos de Vinculación</strong>

{#    Cualquier información adicional contactarse con: <br>#}
{#    <b>Correo electrónico de soporte: </b> soportebienestar@unemi.edu.ec<br>#}
{#    <b>Enlace de ZOOM </b><a href="https://unemi-edu-ec.zoom.us/j/6695633191">6695633191</a><br>#}
{% endblock %}
