{% extends "emails/emailbasenew.html" %}
{% block titulo %}Acreditación de beca{% endblock %}
{% block contenido %}
    <img style="margin-bottom: 18px" width="350px" src="https://sga.unemi.edu.ec/static/mailing/il_aprobacionth.png"><br>
    <br><br>
    {{ saludo}} <b>{{ estudiante }}</b>:
    <br><br>
    Tesorería-UNEMI, comunica a Ud. que el Ministerio de Economía y Finanzas procedió a
    realizar la acreditación de su pago a través de transferencia bancaria el día <strong>{{ fechaacredita|date:'d-m-Y' }}</strong>

{% endblock %}
