{% extends "emails/emailbase.html" %}
{% block contenido %}
    Estimado Aspirante: <b>{{  persona   }}</b>
    <br><br>
    Se informa que puede proceder con la realización de su Test según los horarios establecidos en el
    cronograma, el mismo que dará en el siguiente enlace:
     <br><br>
    {%  if facultad.id == 2   %}
        <b>* Enlace Grupo A: </b><a target="_blank" href="https://grupoa.unemi.edu.ec/">https://grupoa.unemi.edu.ec/</a>  <br>
    {%  else  %}
        <b>* Enlace Grupo B: </b><a target="_blank" href="https://grupob.unemi.edu.ec/">https://grupob.unemi.edu.ec/</a>  <br>
    {%  endif   %}
    <br><br>
    <b>IMPORTANTE:</b> Ingresar con las mismas credenciales del SGA y campus virtual.

    <br><br>
    <br><br>
    Para cualquier información adicional nos puede contactar a la oficina
    virtual de atención a usuarios, en el horario de lunes a viernes de
    08h00 a 17h00 a través de los siguientes enlaces: <br><br>
    </b><a target="_blank" href="https://unemi-edu-ec.zoom.us/j/6695633191">https://unemi-edu-ec.zoom.us/j/6695633191</a>
    <br><br>
    <img src="https://sga.unemi.edu.ec/media/Imagen/adm_test.jpg">
    <br><br>

{% endblock %}