{% extends "emails/emailbasenew.html" %}
{% load sga_extras %}
{% block contenido %}
    <strong>De:</strong> Sistema de Gestión Académica
    <br>
    <strong>Asunto:</strong> CERTIFICADO CONGRESO
    <br><br>
    Estimado(a) {{ inscrito.participante }}:
    <br>
    <div style="text-align: justify">
        Participante de Congreso
        <br>
        Presente,
        <br><br>

        De nuestras consideraciones:
        <br><br>
        Reciba un cordial y atento saludo, ponemos a vuestro conocimiento que, luego de haber concluido el congreso {{ inscrito.congreso.nombre }}:
        <br><br>
        Adjuntamos el respectivo certificado, el mismo que se encuentra codificado.
        <br><br>
    </div>
    <br><br>
    <br><br>
    Universidad Estatal de Milagro le envía el certificado en formato pdf.
    <br><br>
    <br><br>
{% endblock %}