{% extends "emails/emailbasenew.html" %}
{% block titulo %}Finalización de la etapa de revisión{% endblock %}
{% block contenido %}
    <img style="margin-bottom: 18px" width="250px" src="https://sga.unemi.edu.ec/static/mailing/ilustracion_validacion.png"><br>
    <div style="text-space: 2px">
        <p>Estimad{% if persona.sexo.id == 1 %}a{% elif persona.sexo.id == 2 %}o{% else %}o/a{% endif %} aspirante: {{ persona.nombre_completo_minus }}</p>

        <br>

        Respecto a su aplicación en el Proceso de Preselección para la partida <b>{{ partida.denominacionpuesto }}
        - {{ partida.convocatoria.descripcion }}</b> convocado por la INSTITUCIÓN:
        <b>UNIVERSIDAD ESTATAL DE MILAGRO</b>

        {{ contenido|safe }}

    </div>
{% endblock %}