{% extends "emails/emailbasenew.html" %}
{% block titulo %}Tutorías académicas{% endblock %}
{% block contenido %}
    <img style="margin-bottom: 18px" width="350px" src="https://postulate.unemi.edu.ec/static/mailing/il_tutorias.png"><br>
    <br>
    <br>
    <p style="color:#5f676e!important; text-align: center">{% if solicitud.profesor.persona.sexo_id == 1 %}Estimada{% elif solicitud.profesor.persona.sexo_id == 2 %}Estimado{% else %}Estimado/a{% endif %}: {{ solicitud.profesor.persona.nombre_completo_inverso|lower|title }}</p>
    <div style="text-align: justify">
        <p style="color:#5f676e!important;margin-left: 35px;margin-right: 35px">{% if solicitud.materiaasignada.matricula.inscripcion.persona.sexo_id == 1 %}La{% elif solicitud.materiaasignada.matricula.inscripcion.persona.sexo_id == 2 %}El{% else %}La/El{% endif %} estudiante
            {{ solicitud.materiaasignada.matricula.inscripcion.persona.nombre_completo_inverso|lower|title }}, de la asignatura
            {{ solicitud.materiaasignada.materia.nombre_completo }}
            {{ solicitud.materiaasignada.materia.nivel.paralelo }}
            en la carrera <b>{{ solicitud.materiaasignada.matricula.inscripcion.carrera }}</b>,
            ha solicitado una sesión de tutoría ({{ solicitud.get_tipo_display }}) en el horario <b>{{ solicitud.horario }}</b>.
            El tema es:
            {% if solicitud.topico == 1 %}
                <b>REFUERZO ACADÉMICO</b>
            {% else %}
                <b>CONSULTAS SOBRE ACTIVIDADES</b>
            {% endif %}.
        </p>
        <br>
        <div style="text-align: center">
            <center>
                <div style="width: 250px;text-align: left;">
                    <img style="float: left;margin-right: 3px" width="80px" height="80px" src="https://postulate.unemi.edu.ec/static/mailing/ico_tutorias.png">
                    <p style="padding-top:6px!important;color:#5f676e!important;">En su SGA+, <b>módulo Tutoría académica</b> puede gestionar las solicitudes recibidas.</p>
                </div>
            </center>
        </div>
    </div>

{% endblock %}