{% extends "emails/emailbasenew.html" %}
{#{% block titulo %}Revisión de recursos{% endblock %}#}
{% block titulo %}NOTIFICACIÓN{% endblock %}
{% block contenido %}
    <img style="margin-bottom: 18px" width="350px" src="https://sga.unemi.edu.ec/static/mailing/Mesa_de_trabajo2.png"><br>

    <br>
    <br>


    Estimados:<br>
    {% if tipo == 1 %}
        EL COMPENDIO: {{ recurso.descripcion }}
    {% elif tipo == 2 %}
        LA GUÍA DE ESTUDIANTE: {{ recurso.observacion }}
    {% else %}
        El recurso
    {% endif %}
    , correspondiente a la semana: {{ recurso.silabosemanal.numsemana }}, de la asignatura:
    <b>{{ recurso.silabosemanal.silabo.materia.nombre_mostrar_sin_profesor }}</b>, del profesor <b>{{ recurso.silabosemanal.silabo.materia.profesor_principal }}</b>, acaba
    de ser editado por el personal académico responsable.
    <br>
    <br>
    Por favor sírvase a dar continuidad con el proceso respectivo.
    <br>
    <br>
    Saludos,
    <br>
    <br>
{% endblock %}