{% extends "emails/emailbase.html" %}
{% block contenido %}
<strong>De:</strong> Sistema de Prácticas Pre Profesionales
    <br>
    <strong>Asunto:</strong> Asignación Tutoria Prácticas Pre Profesionales
    <br>
    <strong>Descripcion:</strong>
    <br><br>
    Estimado(a) Docente : {{ profesor }}
    <br><br>
    Se le comunica a usted que ha sido designado <br>
    como tutor académico a (el/la) estudiante: <b>{{ estudiante }}</b><br>
    de la carrera {{ carrera }}, favor verificar en el SGA.
{% endblock %}