/* Please ❤ this if you like it! */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

*,
*::before,
*::after {
    box-sizing: border-box;
}

.modal-wrap {
    position: relative;
    display: block;
    width: 100%;
    max-width: 461px;
    margin: 0 auto;
    margin-top: 6%;
    margin-bottom: 20px;
    border-radius: 18px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap img {
    display: block;
    width: 100%;
    height: auto;
}

/*.modal-wrap p {*/
/*    padding: 20px 30px 0 30px;*/
/*}*/

.modal .modal-wrap {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}


.logo img {
    filter: brightness(100%);
    transition: all 250ms linear;
}


@media screen and (max-width: 500px) {
    .modal-wrap {
        /*width: calc(100% - 40px);*/
        padding-bottom: 15px;
    }

    .modal-wrap p {
        padding: 15px 20px 0 20px;
    }
}