.widget {
    overflow: hidden;
    margin-bottom: 20px;
    color: inherit;
    padding: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.widget-map {
    background: #fff
}

.widget-map.widget-map-rounded {
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.widget-map.inverse-mode {
    background: #2d353c
}

.widget-stats, .widget.widget-stats {
    position: relative;
    color: #fff;
    padding: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.widget-stats .stats-info h4, .widget.widget-stats .stats-info h4 {
    font-size: 12px;
    margin: 5px 0;
    color: rgba(255, 255, 255, .7)
}

.widget-stats .stats-info p, .widget.widget-stats .stats-info p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0
}

.widget-stats .stats-link a, .widget.widget-stats .stats-link a {
    display: block;
    margin: 15px -15px -15px;
    padding: 7px 15px;
    background: rgba(0, 0, 0, .4);
    text-align: right;
    color: rgba(255, 255, 255, .7);
    text-decoration: none
}

.widget-stats .stats-link a:focus, .widget-stats .stats-link a:hover, .widget.widget-stats .stats-link a:focus, .widget.widget-stats .stats-link a:hover {
    background: rgba(0, 0, 0, .6);
    color: #fff
}

.widget-stats .stats-icon, .widget.widget-stats .stats-icon {
    font-size: 42px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    color: rgba(0, 0, 0, .15);
    position: absolute;
    right: 15px;
    top: 15px;
    margin-left: 15px
}

.widget-stats .stats-icon.stats-icon-lg, .widget.widget-stats .stats-icon.stats-icon-lg {
    font-size: 128px;
    top: 15px;
    right: 0;
    color: #fff;
    width: 128px;
    height: 50px;
    line-height: 50px;
    text-shadow: 3px 7px rgba(0, 0, 0, .25);
    opacity: .15
}

.widget-stats .stats-icon.stats-icon-lg i, .widget.widget-stats .stats-icon.stats-icon-lg i {
    position: relative
}

.widget-stats .stats-icon.stats-icon-square, .widget.widget-stats .stats-icon.stats-icon-square {
    opacity: 1;
    font-size: 42px;
    top: 15px;
    right: 15px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    margin-left: 15px;
    -webkit-border-radius: 16px;
    border-radius: 16px
}

.widget-stats .stats-content, .widget.widget-stats .stats-content {
    position: relative
}

.widget-stats .stats-title, .widget.widget-stats .stats-title {
    position: relative;
    margin: 0 0 2px;
    font-size: 12px;
    color: rgba(255, 255, 255, .7)
}

.widget-stats .stats-desc, .widget.widget-stats .stats-desc {
    margin: -5px 0 -3px;
    color: rgba(255, 255, 255, .7)
}

.widget-stats .stats-number, .widget.widget-stats .stats-number {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 1px
}

.widget-stats .stats-progress, .widget.widget-stats .stats-progress {
    background: rgba(0, 0, 0, .5);
    height: 2px;
    margin: 0 0 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.widget-stats .stats-progress .progress-bar, .widget.widget-stats .stats-progress .progress-bar {
    background: #fff;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0
}

.widget-stats .stats-progress.stats-progress-light, .widget.widget-stats .stats-progress.stats-progress-light {
    background: rgba(255, 255, 255, .3)
}

.widget-stats.text-inverse.stats-desc, .widget.widget-stats.text-inverse.stats-desc {
    letter-spacing: 0;
    font-weight: 400;
    color: rgba(0, 0, 0, .85)
}

.widget-stats.text-inverse.stats-title, .widget.widget-stats.text-inverse.stats-title {
    font-weight: 700;
    color: rgba(0, 0, 0, .85)
}

.widget-stats.text-inverse.stats-number, .widget.widget-stats.text-inverse.stats-number {
    letter-spacing: 0;
    font-weight: 400
}

.widget-stats.bg-white .stats-progress, .widget.widget-stats.bg-white .stats-progress {
    background: rgba(0, 0, 0, .1)
}

.widget-stats.bg-white .stats-progress .progress-bar, .widget.widget-stats.bg-white .stats-progress .progress-bar {
    background: #2d353c
}

.widget-table.table {
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.widget-table.table .widget-table-img {
    width: 100px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.widget-table.table .widget-table-title {
    font-size: 14px;
    margin: 0;
    line-height: 20px
}

.widget-table.table .widget-table-desc {
    margin: 0;
    font-size: 11px;
    line-height: 16px;
    color: #4e5c68
}

.widget-table.table.table-bordered {
    border: none
}

.widget-table.table.table-bordered > tbody > tr td:first-child {
    border-left: none
}

.widget-table.table.table-bordered > tbody > tr td:last-child {
    border-right: none
}

.widget-table.table.table-bordered > tbody > tr:last-child > td {
    border-bottom: none
}

.widget-table.table.table-bordered > thead > tr th:first-child {
    border-left: none
}

.widget-table.table.table-bordered > thead > tr th:last-child {
    border-right: none
}

.widget-table.table.table-bordered > thead:first-child > tr:first-child > td, .widget-table.table.table-bordered > thead:first-child > tr:first-child > th {
    border-top: none
}

.widget-table.table.inverse-mode {
    background: #2d353c;
    color: #c6ced5
}

.widget-table.table.inverse-mode .widget-table-desc {
    color: #9ba8b4
}

.widget-table.table.inverse-mode thead th {
    color: #fff
}

.widget-table.table.inverse-mode thead > tr > th {
    border-bottom-color: #4e5c68 !important
}

.widget-table.table.inverse-mode tbody tr td, .widget-table.table.inverse-mode tbody tr th, .widget-table.table.inverse-mode tfoot tr td, .widget-table.table.inverse-mode tfoot tr th, .widget-table.table.inverse-mode thead tr td, .widget-table.table.inverse-mode thead tr th {
    border-color: #3d4852
}

.widget-todolist {
    background: #fff
}

.widget-todolist:after, .widget-todolist:before {
    content: '';
    display: table;
    clear: both
}

.widget-todolist .widget-todolist-header {
    display: table;
    width: 100%
}

.widget-todolist .widget-todolist-header .widget-todolist-header-left, .widget-todolist .widget-todolist-header .widget-todolist-header-right {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 15px
}

.widget-todolist .widget-todolist-header .widget-todolist-header-right {
    width: 1%;
    text-align: center
}

.widget-todolist .widget-todolist-header .widget-todolist-header-title {
    margin: 0;
    font-size: 18px;
    font-weight: 400
}

.widget-todolist .widget-todolist-header .widget-todolist-header-total {
    font-size: 18px;
    font-weight: 600;
    color: #2d353c
}

.widget-todolist .widget-todolist-header .widget-todolist-header-total small {
    display: block;
    font-size: 10px;
    line-height: 1
}

.widget-todolist .widget-todolist-body {
    padding: 3px 0;
    border-top: 1px solid #e4e7ea;
    border-bottom: 1px solid #e4e7ea;
    margin-bottom: 20px
}

.widget-todolist .widget-todolist-item {
    display: table;
    width: 100%
}

.widget-todolist .widget-todolist-item .widget-todolist-icon {
    display: table-cell;
    padding: 10px 15px;
    vertical-align: middle;
    width: 1%;
    text-align: center;
    border-top: 1px solid #d5dbe0
}

.widget-todolist .widget-todolist-item .widget-todolist-input {
    display: table-cell;
    padding: 10px 15px;
    vertical-align: middle;
    width: 45px;
    text-align: center
}

.widget-todolist .widget-todolist-item .widget-todolist-input + div {
    padding-left: 0
}

.widget-todolist .widget-todolist-item .widget-todolist-content {
    display: table-cell;
    padding: 10px 15px;
    vertical-align: middle;
    border-top: 1px solid #e4e7ea
}

.widget-todolist .widget-todolist-item .widget-todolist-content .form-control {
    margin: -5px 0;
    border: none !important;
    padding-left: 0;
    background: 0 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important
}

.widget-todolist .widget-todolist-item .widget-todolist-title {
    font-size: 12px;
    margin: 0
}

.widget-todolist .widget-todolist-item .widget-todolist-desc {
    font-size: 12px;
    margin: 0
}

.widget-todolist .widget-todolist-item:first-child .widget-todolist-content, .widget-todolist .widget-todolist-item:first-child .widget-todolist-icon {
    border-top: none
}

.widget-todolist.widget-todolist-rounded {
    -webkit-border-radius: 4px;
    border-radius: 4px
}


.row {
    margin-left: -10px;
    margin-right: -10px
}

.row > [class^=col-] {
    padding-left: 10px;
    padding-right: 10px
}

.row.row-space-0 {
    margin-left: 0;
    margin-right: 0
}

.row.row-space-2 {
    margin-left: -1px;
    margin-right: -1px
}

.row.row-space-4 {
    margin-left: -2px;
    margin-right: -2px
}

.row.row-space-6 {
    margin-left: -3px;
    margin-right: -3px
}

.row.row-space-8 {
    margin-left: -4px;
    margin-right: -4px
}

.row.row-space-10 {
    margin-left: -5px;
    margin-right: -5px
}

.row.row-space-12 {
    margin-left: -6px;
    margin-right: -6px
}

.row.row-space-14 {
    margin-left: -7px;
    margin-right: -7px
}

.row.row-space-16 {
    margin-left: -8px;
    margin-right: -8px
}

.row.row-space-18 {
    margin-left: -9px;
    margin-right: -9px
}

.row.row-space-20 {
    margin-left: -10px;
    margin-right: -10px
}

.row.row-space-22 {
    margin-left: -11px;
    margin-right: -11px
}

.row.row-space-24 {
    margin-left: -12px;
    margin-right: -12px
}

.row.row-space-26 {
    margin-left: -13px;
    margin-right: -13px
}

.row.row-space-28 {
    margin-left: -14px;
    margin-right: -14px
}

.row.row-space-30 {
    margin-left: -15px;
    margin-right: -15px
}

.row.row-space-0 > [class^=col-] {
    padding-left: 0;
    padding-right: 0
}

.row.row-space-2 > [class^=col-] {
    padding-left: 1px;
    padding-right: 1px
}

.row.row-space-4 > [class^=col-] {
    padding-left: 2px;
    padding-right: 2px
}

.row.row-space-6 > [class^=col-] {
    padding-left: 3px;
    padding-right: 3px
}

.row.row-space-8 > [class^=col-] {
    padding-left: 4px;
    padding-right: 4px
}

.row.row-space-10 > [class^=col-] {
    padding-left: 5px;
    padding-right: 5px
}

.row.row-space-12 > [class^=col-] {
    padding-left: 6px;
    padding-right: 6px
}

.row.row-space-14 > [class^=col-] {
    padding-left: 7px;
    padding-right: 7px
}

.row.row-space-16 > [class^=col-] {
    padding-left: 8px;
    padding-right: 8px
}

.row.row-space-18 > [class^=col-] {
    padding-left: 9px;
    padding-right: 9px
}

.row.row-space-20 > [class^=col-] {
    padding-left: 10px;
    padding-right: 10px
}

.row.row-space-22 > [class^=col-] {
    padding-left: 11px;
    padding-right: 11px
}

.row.row-space-24 > [class^=col-] {
    padding-left: 12px;
    padding-right: 12px
}

.row.row-space-26 > [class^=col-] {
    padding-left: 13px;
    padding-right: 13px
}

.row.row-space-28 > [class^=col-] {
    padding-left: 14px;
    padding-right: 14px
}

.row.row-space-30 > [class^=col-] {
    padding-left: 15px;
    padding-right: 15px
}
.bg-purple{background-color:#8E44AD}a.bg-purple:focus,a.bg-purple:hover{background-color:#BB8FCE}