
.widget {
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff;
    color: inherit;
    padding: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}

.widget .widget-header {
    display: table;
    width: 100%
}

.widget .widget-header .widget-header-title {
    font-size: 12px;
    margin: 0;
    line-height: 20px;
    width: 100%;
    display: table-cell;
    padding: 10px 15px
}

.widget .widget-header .widget-header-icon {
    width: 1%;
    display: table-cell;
    padding: 10px 15px
}

.widget .widget-header .widget-header-icon + .widget-header-icon {
    padding-left: 0
}

.widget .widget-body {
    padding: 15px
}

.widget.widget-rounded {
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.widget.inverse-mode {
    background: #2d353c
}

.widget.inverse-mode .vertical-box.with-border-top {
    border-color: #4e5c68
}

.widget.inverse-mode .vertical-box.with-grid > .vertical-box-column + .vertical-box-column {
    border-color: #4e5c68
}

.widget.inverse-mode hr {
    background: #4e5c68
}

.widget-map {
    background: #fff
}

.widget-map.widget-map-rounded {
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.widget-map.inverse-mode {
    background: #2d353c
}

.widget-stats, .widget.widget-stats {
    position: relative;
    color: #fff;
    padding: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.widget-stats .stats-info h4, .widget.widget-stats .stats-info h4 {
    font-size: 12px;
    margin: 5px 0;
    color: rgba(255, 255, 255, .7)
}

.widget-stats .stats-info p, .widget.widget-stats .stats-info p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0
}

.widget-stats .stats-link a, .widget.widget-stats .stats-link a {
    display: block;
    margin: 15px -15px -15px;
    padding: 7px 15px;
    background: rgba(0, 0, 0, .4);
    text-align: right;
    color: rgba(255, 255, 255, .7);
    text-decoration: none
}

.widget-stats .stats-link a:focus, .widget-stats .stats-link a:hover, .widget.widget-stats .stats-link a:focus, .widget.widget-stats .stats-link a:hover {
    background: rgba(0, 0, 0, .6);
    color: #fff
}

.widget-stats .stats-icon, .widget.widget-stats .stats-icon {
    font-size: 42px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    color: rgba(0, 0, 0, .15);
    position: absolute;
    right: 15px;
    top: 15px;
    margin-left: 15px
}

.widget-stats .stats-icon.stats-icon-lg, .widget.widget-stats .stats-icon.stats-icon-lg {
    font-size: 128px;
    top: 15px;
    right: 0;
    color: #fff;
    width: 128px;
    height: 50px;
    line-height: 50px;
    text-shadow: 3px 7px rgba(0, 0, 0, .25);
    opacity: .15
}

.widget-stats .stats-icon.stats-icon-lg i, .widget.widget-stats .stats-icon.stats-icon-lg i {
    position: relative
}

.widget-stats .stats-icon.stats-icon-square, .widget.widget-stats .stats-icon.stats-icon-square {
    opacity: 1;
    font-size: 42px;
    top: 15px;
    right: 15px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    margin-left: 15px;
    -webkit-border-radius: 16px;
    border-radius: 16px
}

.widget-stats .stats-content, .widget.widget-stats .stats-content {
    position: relative
}

.widget-stats .stats-title, .widget.widget-stats .stats-title {
    position: relative;
    margin: 0 0 2px;
    font-size: 12px;
    color: rgba(255, 255, 255, .7)
}

.widget-stats .stats-desc, .widget.widget-stats .stats-desc {
    margin: -5px 0 -3px;
    color: rgba(255, 255, 255, .7)
}

.widget-stats .stats-number, .widget.widget-stats .stats-number {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 1px
}

.widget-stats .stats-progress, .widget.widget-stats .stats-progress {
    background: rgba(0, 0, 0, .5);
    height: 2px;
    margin: 0 0 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.widget-stats .stats-progress .progress-bar, .widget.widget-stats .stats-progress .progress-bar {
    background: #fff;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0
}

.widget-stats .stats-progress.stats-progress-light, .widget.widget-stats .stats-progress.stats-progress-light {
    background: rgba(255, 255, 255, .3)
}

.widget-stats.text-inverse.stats-desc, .widget.widget-stats.text-inverse.stats-desc {
    letter-spacing: 0;
    font-weight: 400;
    color: rgba(0, 0, 0, .85)
}

.widget-stats.text-inverse.stats-title, .widget.widget-stats.text-inverse.stats-title {
    font-weight: 700;
    color: rgba(0, 0, 0, .85)
}

.widget-stats.text-inverse.stats-number, .widget.widget-stats.text-inverse.stats-number {
    letter-spacing: 0;
    font-weight: 400
}

.widget-stats.bg-white .stats-progress, .widget.widget-stats.bg-white .stats-progress {
    background: rgba(0, 0, 0, .1)
}

.widget-stats.bg-white .stats-progress .progress-bar, .widget.widget-stats.bg-white .stats-progress .progress-bar {
    background: #2d353c
}

.widget-table.table {
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.widget-table.table .widget-table-img {
    width: 100px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.widget-table.table .widget-table-title {
    font-size: 14px;
    margin: 0;
    line-height: 20px
}

.widget-table.table .widget-table-desc {
    margin: 0;
    font-size: 11px;
    line-height: 16px;
    color: #4e5c68
}

.widget-table.table.table-bordered {
    border: none
}

.widget-table.table.table-bordered > tbody > tr td:first-child {
    border-left: none
}

.widget-table.table.table-bordered > tbody > tr td:last-child {
    border-right: none
}

.widget-table.table.table-bordered > tbody > tr:last-child > td {
    border-bottom: none
}

.widget-table.table.table-bordered > thead > tr th:first-child {
    border-left: none
}

.widget-table.table.table-bordered > thead > tr th:last-child {
    border-right: none
}

.widget-table.table.table-bordered > thead:first-child > tr:first-child > td, .widget-table.table.table-bordered > thead:first-child > tr:first-child > th {
    border-top: none
}

.widget-table.table.inverse-mode {
    background: #2d353c;
    color: #c6ced5
}

.widget-table.table.inverse-mode .widget-table-desc {
    color: #9ba8b4
}

.widget-table.table.inverse-mode thead th {
    color: #fff
}

.widget-table.table.inverse-mode thead > tr > th {
    border-bottom-color: #4e5c68 !important
}

.widget-table.table.inverse-mode tbody tr td, .widget-table.table.inverse-mode tbody tr th, .widget-table.table.inverse-mode tfoot tr td, .widget-table.table.inverse-mode tfoot tr th, .widget-table.table.inverse-mode thead tr td, .widget-table.table.inverse-mode thead tr th {
    border-color: #3d4852
}

.widget-todolist {
    background: #fff
}

.widget-todolist:after, .widget-todolist:before {
    content: '';
    display: table;
    clear: both
}

.widget-todolist .widget-todolist-header {
    display: table;
    width: 100%
}

.widget-todolist .widget-todolist-header .widget-todolist-header-left, .widget-todolist .widget-todolist-header .widget-todolist-header-right {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 15px
}

.widget-todolist .widget-todolist-header .widget-todolist-header-right {
    width: 1%;
    text-align: center
}

.widget-todolist .widget-todolist-header .widget-todolist-header-title {
    margin: 0;
    font-size: 18px;
    font-weight: 400
}

.widget-todolist .widget-todolist-header .widget-todolist-header-total {
    font-size: 18px;
    font-weight: 600;
    color: #2d353c
}

.widget-todolist .widget-todolist-header .widget-todolist-header-total small {
    display: block;
    font-size: 10px;
    line-height: 1
}

.widget-todolist .widget-todolist-body {
    padding: 3px 0;
    border-top: 1px solid #e4e7ea;
    border-bottom: 1px solid #e4e7ea;
    margin-bottom: 20px
}

.widget-todolist .widget-todolist-item {
    display: table;
    width: 100%
}

.widget-todolist .widget-todolist-item .widget-todolist-icon {
    display: table-cell;
    padding: 10px 15px;
    vertical-align: middle;
    width: 1%;
    text-align: center;
    border-top: 1px solid #d5dbe0
}

.widget-todolist .widget-todolist-item .widget-todolist-input {
    display: table-cell;
    padding: 10px 15px;
    vertical-align: middle;
    width: 45px;
    text-align: center
}

.widget-todolist .widget-todolist-item .widget-todolist-input + div {
    padding-left: 0
}

.widget-todolist .widget-todolist-item .widget-todolist-content {
    display: table-cell;
    padding: 10px 15px;
    vertical-align: middle;
    border-top: 1px solid #e4e7ea
}

.widget-todolist .widget-todolist-item .widget-todolist-content .form-control {
    margin: -5px 0;
    border: none !important;
    padding-left: 0;
    background: 0 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important
}

.widget-todolist .widget-todolist-item .widget-todolist-title {
    font-size: 12px;
    margin: 0
}

.widget-todolist .widget-todolist-item .widget-todolist-desc {
    font-size: 12px;
    margin: 0
}

.widget-todolist .widget-todolist-item:first-child .widget-todolist-content, .widget-todolist .widget-todolist-item:first-child .widget-todolist-icon {
    border-top: none
}

.widget-todolist.widget-todolist-rounded {
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.bg-warning {
    background-color: #f59c1a !important
}

a.bg-warning:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover {
    background-color: #d38109 !important
}

.bg-secondary {
    background-color: #6c757d !important
}

.bg-primary {
    background-color: #00acac !important
}


.bg-success {
    background-color: #00acac !important
}

.bg-info {
    background-color: #49b6d6 !important
}

.bg-blue {
    background-color: #348fe2 !important
}

.bg-blue-lighter {
    background-color: #67abe9 !important
}

.bg-blue-darker {
    background-color: #276baa !important
}

.bg-orange {
    background-color: #f59c1a !important
}

.bg-orange-lighter {
    background-color: #f8b553 !important
}

.bg-orange-darker {
    background-color: #b87514 !important
}

.bg-gradient-orange {
    background: #f59c1a !important;
    background: -moz-linear-gradient(to bottom, #f7b14b 0, #eb900a 100%) !important;
    background: -webkit-linear-gradient(to bottom, #f7b14b 0, #eb900a 100%) !important;
    background: linear-gradient(to bottom, #f7b14b 0, #eb900a 100%) !important
}

.app-theme-orange .app-sidebar .nav > li.active > a {
    background-color: #f59c1a !important
}

.bg-orange-transparent-1 {
    background-color: rgba(245, 156, 26, .1) !important
}

.text-orange-transparent-1 {
    color: rgba(245, 156, 26, .1) !important
}

.bg-orange-transparent-2 {
    background-color: rgba(245, 156, 26, .2) !important
}

.text-orange-transparent-2 {
    color: rgba(245, 156, 26, .2) !important
}

.bg-orange-transparent-3 {
    background-color: rgba(245, 156, 26, .3) !important
}

.text-orange-transparent-3 {
    color: rgba(245, 156, 26, .3) !important
}

.bg-orange-transparent-4 {
    background-color: rgba(245, 156, 26, .4) !important
}

.text-orange-transparent-4 {
    color: rgba(245, 156, 26, .4) !important
}

.bg-orange-transparent-5 {
    background-color: rgba(245, 156, 26, .5) !important
}

.text-orange-transparent-5 {
    color: rgba(245, 156, 26, .5) !important
}

.bg-orange-transparent-6 {
    background-color: rgba(245, 156, 26, .6) !important
}

.text-orange-transparent-6 {
    color: rgba(245, 156, 26, .6) !important
}

.bg-orange-transparent-7 {
    background-color: rgba(245, 156, 26, .7) !important
}

.text-orange-transparent-7 {
    color: rgba(245, 156, 26, .7) !important
}

.bg-orange-transparent-8 {
    background-color: rgba(245, 156, 26, .8) !important
}

.text-orange-transparent-8 {
    color: rgba(245, 156, 26, .8) !important
}

.bg-orange-transparent-9 {
    background-color: rgba(245, 156, 26, .9) !important
}

.bg-red {
    background-color: #ff5b57 !important
}

.bg-red-lighter {
    background-color: #ff8481 !important
}

.bg-red-darker {
    background-color: #bf4441 !important
}

.bg-gradient-red {
    background: #ff5b57 !important;
    background: -moz-linear-gradient(to bottom, #ff8d8a 0, #ff423e 100%) !important;
    background: -webkit-linear-gradient(to bottom, #ff8d8a 0, #ff423e 100%) !important;
    background: linear-gradient(to bottom, #ff8d8a 0, #ff423e 100%) !important
}

.app-theme-red .app-sidebar .nav > li.active > a {
    background-color: #ff5b57 !important
}

.bg-red-transparent-1 {
    background-color: rgba(255, 91, 87, .1) !important
}

.text-red-transparent-1 {
    color: rgba(255, 91, 87, .1) !important
}

.bg-red-transparent-2 {
    background-color: rgba(255, 91, 87, .2) !important
}

.text-red-transparent-2 {
    color: rgba(255, 91, 87, .2) !important
}

.bg-red-transparent-3 {
    background-color: rgba(255, 91, 87, .3) !important
}

.text-red-transparent-3 {
    color: rgba(255, 91, 87, .3) !important
}

.bg-red-transparent-4 {
    background-color: rgba(255, 91, 87, .4) !important
}

.text-red-transparent-4 {
    color: rgba(255, 91, 87, .4) !important
}

.bg-red-transparent-5 {
    background-color: rgba(255, 91, 87, .5) !important
}

.text-red-transparent-5 {
    color: rgba(255, 91, 87, .5) !important
}

.bg-red-transparent-6 {
    background-color: rgba(255, 91, 87, .6) !important
}

.text-red-transparent-6 {
    color: rgba(255, 91, 87, .6) !important
}

.bg-red-transparent-7 {
    background-color: rgba(255, 91, 87, .7) !important
}

.text-red-transparent-7 {
    color: rgba(255, 91, 87, .7) !important
}

.bg-red-transparent-8 {
    background-color: rgba(255, 91, 87, .8) !important
}

.text-red-transparent-8 {
    color: rgba(255, 91, 87, .8) !important
}

.bg-red-transparent-9 {
    background-color: rgba(255, 91, 87, .9) !important
}

.text-red-transparent-9 {
    color: rgba(255, 91, 87, .9) !important
}


.panel {
    margin-bottom: 20px;
    background: #fff;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.panel > .table-bordered, .panel > .table-responsive > .table-bordered {
    border: none;
    margin-bottom: 0
}

.panel > .table-bordered > thead > tr > th, .panel > .table-responsive > .table-bordered > thead > tr > th {
    border-top: none
}

.panel > .table-bordered > thead > tr > th:first-child, .panel > .table-responsive > .table-bordered > thead > tr > th:first-child {
    border-left: none
}

.panel > .table-bordered > thead > tr > th:last-child, .panel > .table-responsive > .table-bordered > thead > tr > th:last-child {
    border-right: none
}

.panel > .table-bordered > tbody > tr > td:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child {
    border-left: none
}

.panel > .table-bordered > tbody > tr > td:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child {
    border-right: none
}

.panel > .table-bordered > tbody > tr:last-child > td, .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td {
    border-bottom: none
}

.panel > .form-control {
    border-right: 0;
    border-left: 0;
    padding: 15px;
    -webkit-border-radius: 0;
    border-radius: 0
}

.panel > .form-control + .panel-footer {
    border-top: none
}

.panel > .alert, .panel > .note {
    margin: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}

.panel > .list-group, .panel > .tab-content, .panel > .table {
    margin-bottom: 0
}

.panel > .tab-content {
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px
}

.panel > .list-group .list-group-item {
    border-left: none;
    border-right: none
}

.panel > .list-group .list-group-item:first-child {
    border-top-width: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0
}

.panel > .list-group .list-group-item:last-child {
    border-bottom: none
}

.panel > div + .list-group .list-group-item:first-child {
    border-top-width: 1px
}

.panel > .widget-list .widget-list-item {
    -webkit-border-radius: 0;
    border-radius: 0
}

.panel > .table-responsive > .table > tbody > tr > td:first-child, .panel > .table-responsive > .table > tbody > tr > th:first-child, .panel > .table-responsive > .table > thead > tr > td:first-child, .panel > .table-responsive > .table > thead > tr > th:first-child, .panel > .table > tbody > tr > td:first-child, .panel > .table > tbody > tr > th:first-child, .panel > .table > thead > tr > td:first-child, .panel > .table > thead > tr > th:first-child {
    padding-left: 15px
}

.panel > .table-responsive > .table > tbody > tr > td:last-child, .panel > .table-responsive > .table > tbody > tr > th:last-child, .panel > .table-responsive > .table > thead > tr > td:last-child, .panel > .table-responsive > .table > thead > tr > th:last-child, .panel > .table > tbody > tr > td:last-child, .panel > .table > tbody > tr > th:last-child, .panel > .table > thead > tr > td:last-child, .panel > .table > thead > tr > th:last-child {
    padding-right: 15px
}

.panel .panel-heading {
    padding: 10px 15px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px
}

.panel .panel-heading .panel-title {
    line-height: 20px;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.panel .panel-heading .panel-title > a {
    color: inherit;
    display: block
}

.panel .panel-heading .panel-title > a:focus, .panel .panel-heading .panel-title > a:hover {
    text-decoration: none
}

.panel .panel-heading .panel-title .pull-right {
    line-height: 20px
}

.panel .panel-heading .panel-heading-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.panel .panel-heading .panel-heading-btn > a + a {
    margin-left: 5px
}

.panel .panel-heading .panel-heading-btn .btn-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.panel .panel-heading .btn-group .btn {
    margin-top: -7px;
    margin-bottom: -7px
}

.panel .panel-heading .btn-group .btn-group-sm > .btn, .panel .panel-heading .btn-group .btn.btn-sm {
    margin-top: -5px;
    margin-bottom: -5px
}

.panel .panel-heading .btn-group .btn.btn-xs {
    margin-top: -1px;
    margin-bottom: -1px
}

.panel .panel-heading .progress {
    min-width: 120px
}

.panel .panel-body {
    padding: 15px
}

.panel .panel-body:after, .panel .panel-body:before {
    content: '';
    display: table;
    clear: both
}

.panel .panel-body.no-padding, .panel .panel-body.panel-form, .panel .panel-body.panel-full-width, .panel .panel-body.panel-table {
    padding: 0 !important
}

.panel .panel-body.no-border {
    border: none !important
}

.panel .panel-body[class^=bg-] {
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px
}

.panel .panel-toolbar {
    padding: 10px 15px;
    background: #fff
}

.panel .panel-footer {
    background: #fff;
    border-top: 1px solid #d5dbe0;
    padding: 10px 15px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel [class^=col-].ui-sortable {
    min-height: 0
}

.panel.panel-default > .panel-heading {
    background: #f2f4f5;
    color: #4e5c68
}

.panel.panel-inverse > .panel-heading {
    background: #1d2226;
    color: #fff
}

.panel.panel-success > .panel-heading {
    background: #008686;
    color: #fff
}

.panel.panel-warning > .panel-heading {
    background: #df880a;
    color: #fff
}

.panel.panel-danger > .panel-heading {
    background: #ff3631;
    color: #fff
}

.panel.panel-primary > .panel-heading {
    background: #1e7cd2;
    color: #fff
}

.panel.panel-info > .panel-heading {
    background: #2ea7cb;
    color: #fff
}

.panel.panel-sga > .panel-heading {
    background: #1C3247 ;
    color: #fff
}

.panel.panel-loading .panel-body {
    position: relative;
    z-index: 0
}

.panel.panel-loading .panel-body .panel-loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: .9;
    z-index: 10;
    -webkit-animation: fadeIn .2s;
    -moz-animation: fadeIn .2s;
    -ms-animation: fadeIn .2s;
    -o-animation: fadeIn .2s;
    animation: fadeIn .2s;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.panel.panel-expand {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    z-index: 1080;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-border-radius: 0;
    border-radius: 0
}

.panel.panel-expand > .panel-body, .panel.panel-expand > .panel-footer, .panel.panel-expand > .panel-heading {
    -webkit-border-radius: 0;
    border-radius: 0
}

.panel.panel-expand > .panel-body {
    overflow-x: scroll;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.panel.panel-expand > .panel-body > .slimScrollDiv {
    height: 100% !important
}

.panel.panel-expand > .panel-body > .slimScrollDiv > div:not(.slimScrollBar):not(.slimScrollRail) {
    height: 100% !important
}

.panel.panel-expand > .panel-heading {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0
}

.panel.panel-expand > .panel-heading .fa-expand:before {
    content: '\f066'
}

.panel.panel-hover-icon .panel-heading .panel-heading-btn .btn i {
    visibility: hidden
}

.panel.panel-hover-icon .panel-heading:focus .panel-heading-btn .btn i, .panel.panel-hover-icon .panel-heading:hover .panel-heading-btn .btn i {
    visibility: visible
}

.panel.panel-no-rounded-corner .panel-body, .panel.panel-no-rounded-corner .panel-footer, .panel.panel-no-rounded-corner .panel-header {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important
}

.panel.panel-with-tabs .panel-heading {
    -ms-flex-align: center;
    align-items: center
}

.panel.panel-with-tabs .panel-heading > .nav-tabs {
    margin-top: -5px;
    margin-bottom: -11px;
    border-bottom: none
}

.panel.panel-with-tabs .panel-heading > .nav-tabs .nav-item .nav-link {
    border: none;
    margin: 0
}

.panel-group .panel {
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.panel-group .panel + .panel {
    margin-top: 5px
}

.panel-expand .header, .panel-expand .sidebar, .panel-expand .sidebar-bg, .panel-expand .top-menu {
    z-index: 0
}

.panel-expand .content .row [class^=col-] {
    position: inherit
}

.panel-expand .content .panel-expand .row > [class^=col-] {
    position: relative
}

.panel-expand .vertical-box .vertical-box-column {
    display: table-cell
}

.panel-expand .page-content-full-height .content {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none
}


.m-t-0 {
    margin-top: 0 !important
}

.bg-gray {
    background-color: #e8e8e8 !important
}

.bg-gray-lighter {
    background-color: #91989e !important
}

.bg-gray-darker {
    background-color: #51585e !important
}

.bg-gradient-gray {
    background: #6c757d !important;
    background: -moz-linear-gradient(to bottom, #868e96 0, #60686f 100%) !important;
    background: -webkit-linear-gradient(to bottom, #868e96 0, #60686f 100%) !important;
    background: linear-gradient(to bottom, #868e96 0, #60686f 100%) !important
}
.rounded-sm {
    border-radius: 3px !important
}

.rounded {
    border-radius: 3px; !important
    border: 1px solid transparent; !important
}

.rounded-top {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important
}

.rounded-right {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important
}

.rounded-bottom {
    border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 3px !important
}

.rounded-left {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important
}

.rounded-lg {
    border-radius: 4px !important
}

.rounded-circle {
    border-radius: 50% !important
}

.rounded-pill {
    border-radius: 50rem !important
}

.rounded-0 {
    border-radius: 0 !important
}


.p-10 {
    padding: 10px !important
}

.media {
    display: flex;
    align-items: flex-start
}

.media-body {
    flex: 1
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0
}

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit
}

.list-group-item-action:focus, .list-group-item-action:hover {
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa
}

.list-group-item-action:active {
    color: #333;
    background-color: #e9ecef
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid rgba(45, 53, 60, .125)
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.list-group-item:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.list-group-item.disabled, .list-group-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #348fe2;
    border-color: #348fe2
}

.list-group-item + .list-group-item {
    border-top-width: 0
}

.list-group-item + .list-group-item.active {
    margin-top: -1px;
    border-top-width: 1px
}

.list-group-horizontal {
    flex-direction: row
}

.list-group-horizontal .list-group-item:first-child {
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0
}

.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0
}

.list-group-horizontal .list-group-item.active {
    margin-top: 0
}

.list-group-horizontal .list-group-item + .list-group-item {
    border-top-width: 1px;
    border-left-width: 0
}

.list-group-horizontal .list-group-item + .list-group-item.active {
    margin-left: -1px;
    border-left-width: 1px
}

@media (min-width: 360px) {
    .list-group-horizontal-xs {
        flex-direction: row
    }

    .list-group-horizontal-xs .list-group-item:first-child {
        border-bottom-left-radius: 4px;
        border-top-right-radius: 0
    }

    .list-group-horizontal-xs .list-group-item:last-child {
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0
    }

    .list-group-horizontal-xs .list-group-item.active {
        margin-top: 0
    }

    .list-group-horizontal-xs .list-group-item + .list-group-item {
        border-top-width: 1px;
        border-left-width: 0
    }

    .list-group-horizontal-xs .list-group-item + .list-group-item.active {
        margin-left: -1px;
        border-left-width: 1px
    }
}

.align-items-center {
    align-items: center !important
}
