{% load sga_extras %}
{% load tz %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?python import sitetemplate ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#" py:extends="sitetemplate">
<html lang="en">
    <head>
        <meta charset=UTF-8">
        <style type="text/css">
            @page {
                background-image: url('/media/reportes/encabezados_pies/hoja_membretada.png');
                size: a4;/*size: a4 landscape;*/
                @frame header_frame {
                -pdf-frame-content: header_content;
                left: 1cm; right: 1cm; top: 0.5cm; height: 4cm;
            }
            @frame {
            -pdf-frame-content: company_logo;
                /*-pdf-frame-border: 1;*/
            left: 0.5cm; right: 0.5cm;
            }
            @frame content_frame {
            left: 1.5cm; right: 1.5cm; top: 2.5cm; bottom: 3cm;
            }
            @frame footer {
            -pdf-frame-content: footerContent;
            bottom: 1cm;
            margin-left: 1cm;
            margin-right: 3cm;
            text-align: right;
            height: 1cm;
            }
            }
            .top_image {
                zoom: 100%;
            }
        </style>

        <style>
          table {
            border-collapse: collapse;
            width: 100%;
            font-size:12px;
            line-height:1.5;
            vertical-align:top;
            font-family: Verdana, Arial, sans-serif;
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
          }
          th, td {
            {#border: 1px solid #dddddd;#}
            border: 0.5px solid #7C7C7C;
            {#padding:4px;#}
          }
        </style>
    </head>
    <body>
        <div id="company_logo">
            <img name='unemi' src="https://sga.unemi.edu.ec/media/reportes/encabezados_pies/hoja_membretada.png" class="top_image" >
        </div>
        <div id="content_frame">
            <div align="center" style="font-size:14px; font-weight: bold; font-family: Verdana, Arial, sans-serif">
                CARRERA {{ data.inscripcion.carrera.nombre }}<br>
                INTERNADO ROTATIVO COHORTE {{ data.periodo.nombre }}<br>
                INFORME MENSUAL DE ACTIVIDADES DEL MES DE {{ data.mesbitacora|upper }}
            </div>
        </div>
        <h2>N°. {{ data.secuencia|stringformat:"03d" }}</h2>
        <table>
            <tbody>
                <tr>
                    <th bgcolor="#f1f1f1" align="left" width="20%" style="color:#7C7C7C;">OBJETIVO DEL ESTUDIO:</th>
                    <td bgcolor="#ffffff" align="justify" width="60%"> INFORMAR LAS ACTIVIDADES EJECUTADAS POR LOS INTERNOS DEL {{ data.nivel }} CICLO EN EL {{ data.centrosalud }} A LOS SUPERVISORES DE LAS PRÁCTICAS PRE-PROFESIONALES</td>
                    <th bgcolor="#f1f1f1" width="20%" style="color:#7C7C7C;"> DESDE: <br>{{ data.regbitacora.fechaini|date:'d-m-Y' }} </th>
                </tr>
                <tr>
                    <th bgcolor="#f1f1f1" align="left" width="20%" style="color:#7C7C7C;">SOLICITADO POR:</th>
                    <td bgcolor="#ffffff" align="justify" width="60%">
                        <strong>TUTOR{% if data.tutor.persona.sexo.id == 1 %}A{% endif %}: </strong>
                        {% if data.tutor.persona.titulo3y4nivel.tit1 %}{{ data.tutor.persona.titulo3y4nivel.tit1 }}{% endif %}
                        {{ data.tutor.persona}}{% if data.tutor.persona.titulo3y4nivel.tit2 %}{{data.tutor.persona.titulo3y4nivel.tit2 }}{% endif %}
                        <br><br>
                        <strong>COORDINADOR{% if data.coordinadorppp.persona.sexo.id == 1 %}A{% endif %} DE PASANTÍAS Y PRÁCTICAS PRE-PROFESIONALES:</strong>
                        {% if data.coordinadorppp.persona.titulo3y4nivel.tit1 %}{{ data.coordinadorppp.persona.titulo3y4nivel.tit1 }}{% endif %}
                        {{ data.coordinadorppp.persona.nombre_completo_inverso}}{% if data.coordinadorppp.persona.titulo3y4nivel.tit2 %}{{data.coordinadorppp.persona.titulo3y4nivel.tit2 }}{% endif %}
                        <br><br>
                        <strong>DIRECTOR{% if data.directorcarrera.persona.sexo.id == 1 %}A{% endif %} DE LA CARRERA:</strong>
                        {% if data.directorcarrera.persona.titulo3y4nivel.tit1 %}{{ data.directorcarrera.persona.titulo3y4nivel.tit1 }}{% endif %}
                        {{ data.directorcarrera.persona.nombre_completo_inverso}}{% if data.directorcarrera.persona.titulo3y4nivel.tit2 %}{{data.directorcarrera.persona.titulo3y4nivel.tit2 }}{% endif %}
                        <br><br>
                        <strong>DECAN{% if data.decanocarrera.persona.sexo.id == 1 %}A{% endif %}:</strong>
                        {% if data.decanocarrera.persona.titulo3y4nivel.tit1 %}{{ data.decanocarrera.persona.titulo3y4nivel.tit1 }}{% endif %}
                        {{ data.decanocarrera.persona.nombre_completo_inverso}}{% if data.decanocarrera.persona.titulo3y4nivel.tit2 %}{{data.decanocarrera.persona.titulo3y4nivel.tit2 }}{% endif %}
                    </td>
                    <th bgcolor="#ffffff" width="20%"> </th>
                </tr>
                <tr>
                    <th bgcolor="#f1f1f1" align="left" width="20%" style="color:#7C7C7C;">ELABORADO POR:</th>
                    <td bgcolor="#ffffff" align="justify" width="60%">{{ data.inscripcion}} </td>
                    <th bgcolor="#f1f1f1" width="20%" style="color:#7C7C7C;"> HASTA: <br>{{ data.regbitacora.fechafin|date:'d-m-Y' }} </th>
                </tr>
                <tr>
                    <th bgcolor="#f1f1f1" align="left" width="20%" style="color:#7C7C7C;">LUGAR:</th>
                    <td bgcolor="#ffffff" align="justify" width="60%">{{ data.centrosalud }} </td>
                    <th bgcolor="#ffffff" width="20%">  </th>
                </tr>
                <tr>
                    <th bgcolor="#f1f1f1" width="20%"> </th>
                    <td bgcolor="#ffffff" width="60%"> </td>
                    <th bgcolor="#f1f1f1" width="20%" style="color:#7C7C7C;">PORCENTAJE: <br>100% </th>
                </tr>
                <tr>
                    <th bgcolor="#f1f1f1" align="left" width="20%" style="color:#7C7C7C;">ASUNTO: </th>
                    <td colspan="2" align="justify" width="80%">INFORME DE ACTIVIDADES REALIZADAS DURANTE EL MES DE {{ data.mesbitacora|splitcadena:' '|first }} CORRESPONDIENTE A LA ROTACIÓN: {{ data.nombreitinerario }}</td>
                </tr>
                <tr>
                    <th colspan="3" bgcolor="#ffffff" width="100%"> </th>
                </tr>
                <tr>
                    <th bgcolor="#f1f1f1" colspan="3" align="left" style="color:#7C7C7C;">OBJETIVO GENERAL: </th>
                </tr>
                <tr>
                    <td colspan="3" align="justify"> Consolidar los resultados del aprendizaje: cognitivos, procedimentales y axiológicos, que garanticen el cumplimiento del perfil de egreso de la / el profesional de nutrición y su aporte en la implementación del modelo de atención integral de salud. </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th bgcolor="#f1f1f1" align="center" colspan="{% if data.habilitarol%}3{% else %}2{% endif %}">ACTIVIDADES EJECUTADAS</th>
                </tr>
                <tr>
                    <th bgcolor="#f1f1f1" align="left" width="12%">FECHA</th>
                    {% if data.habilitarol%}
                    <th bgcolor="#f1f1f1" align="left" width="20%">ROLES</th>
                    {% endif %}
                    <th bgcolor="#f1f1f1" align="center" width="68%">ACTIVIDADES</th>
                </tr>
            </thead>
            <tbody>
            {% for semana in data.regbitacora.obtener_fechas_por_semana %}
                {% if data.habilitarol and data.habilitatipo %}
                    {% with actividades_por_rol_tipo=data.regbitacora|args:semana.0|args:semana.1|call:"obtener_actividades_por_rol_tipo" %}
                        <tr>
                            <th bgcolor="#f1f1f1" align="center" width="12%" rowspan="{{ actividades_por_rol_tipo.items|length }}"> {{ semana.0|date:"d/m/Y" }} Hasta {{ semana.1|date:"d/m/Y" }}</th>
                            {% for rol, tipos in actividades_por_rol_tipo.items %}
                                {% if forloop.first %}
                                    <th bgcolor="#f1f1f1" align="center" width="20%"> Rol {{ rol|lower|title }}</th>
                                    <td bgcolor="#f1f1f1" align="justify" width="68%">
                                        {% for tipo, actividades in tipos.items %}
                                            <p><strong>{{ tipo }}</strong></p>
                                            {% for actividad in actividades %}
                                                {{ actividad.descripcion|safe }}
                                            {% endfor %}
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    <tr>
                                        <th bgcolor="#f1f1f1" align="center" width="20%">Rol {{ rol|lower|title }}</th>
                                        <td bgcolor="#f1f1f1" align="justify" width="68%">
                                            {% for tipo, actividades in tipos.items %}
                                                <p><strong>{{ tipo }}</strong></p>
                                                {% for actividad in actividades %}
                                                    {{ actividad.descripcion|safe }}
                                                {% endfor %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endwith %}
                {% elif data.habilitarol %}
                    {% with actividades_por_rol=data.regbitacora|args:semana.0|args:semana.1|call:"obtener_actividades_por_rol" %}
                        <tr>
                            <th bgcolor="#f1f1f1" align="center" width="12%" rowspan="{{ actividades_por_rol.items|length }}"> {{ semana.0|date:"d/m/Y" }} Hasta {{ semana.1|date:"d/m/Y" }}</th>
                            {% for rol, actividades in actividades_por_rol.items %}
                                {% if forloop.first %}
                                    <th bgcolor="#f1f1f1" align="center" width="20%"> Rol {{ rol|lower|title }}</th>
                                    <td bgcolor="#f1f1f1" align="justify" width="68%">
                                        {% for actividad in actividades %}
                                            {{ actividad.descripcion|safe }}
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    <tr>
                                        <th bgcolor="#f1f1f1" align="center" width="20%">Rol {{ rol|lower|title }}</th>
                                        <td bgcolor="#f1f1f1" align="justify" width="68%">
                                            {% for actividad in actividades %}
                                                {{ actividad.descripcion|safe }}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endwith %}
                {% elif data.habilitatipo %}
                    {% with actividades_por_tipo=data.regbitacora|args:semana.0|args:semana.1|call:"obtener_actividades_por_tipo" %}
                        <tr>
                            <th bgcolor="#f1f1f1" align="center" width="12%"> {{ semana.0|date:"d/m/Y" }} Hasta {{ semana.1|date:"d/m/Y" }}</th>
                            <td bgcolor="#f1f1f1" align="justify" width="68%">
                            {% for tipo, actividades in actividades_por_tipo.items %}
                                <p><strong>{{ tipo }}</strong></p>
                                {% for actividad in actividades %}
                                    {{ actividad.descripcion|safe }}
                                {% endfor %}
                            {% endfor %}
                            </td>
                        </tr>
                    {% endwith %}
                {% endif %}
            {% empty %}
                <tr>
                    <td bgcolor="#f1f1f1" align="center" colspan="2"> Sin actividades </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                <tr> <th bgcolor="#f1f1f1" colspan="2" style="color: #7C7C7C;" align="left">PRODUCTOS/ RESULTADOS OBTENIDOS:</th> </tr>
            </thead>
            <tbody>
                <tr>
                    <td bgcolor="#f1f1f1" align="left" colspan="2">
                        {{ data.regbitacora.resultado }}
                    </td>
                </tr>
            </tbody>
            <thead>
                <tr> <th bgcolor="#f1f1f1" colspan="2" style="color: #7C7C7C;" align="left">PLAN DE ACCIÓN:</th> </tr>
            </thead>
            <tbody>
                <tr>
                    <td bgcolor="#f1f1f1" align="left" colspan="2">
                        {{ data.regbitacora.planaccion }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td width="45%" align="justify">
                        <strong style="text-align: left;">Elaborado Por:</strong><br><br><br>
                        <p style="text-align: center;">
                        _______________________________<br>{{ data.inscripcion.persona.nombre_completo_inverso }}<br>
                        <strong>INTERNO DE LA CARRERA<br>{{ data.inscripcion.carrera.nombre }}</strong></p>
                        <strong style="text-align: left;">Fecha:</strong> {{ data.fecha_creacion|date:'d-m-Y' }}
                    </td>
                    <td width="55%" align="justify">
                        <strong style="text-align: left;">Solicitado Por:</strong><br><br><br>
                        <p style="text-align: center;">_______________________________<br>
                        {% if data.tutor.persona.titulo3y4nivel.tit1 %}{{ data.tutor.persona.titulo3y4nivel.tit1 }}{% endif %} {{ data.tutor.persona}}{% if data.tutor.persona.titulo3y4nivel.tit2 %}{{data.tutor.persona.titulo3y4nivel.tit2 }}{% endif %}<br>
                        <strong>TUTOR{% if data.tutor.persona.sexo.id == 1 %}A{% endif %} PRÁCTICAS PRE-PROFESIONALES <br> FACS-UNEMI</strong></p>
                        <strong style="text-align: left;">Fecha:</strong>_____________________<br>

                        <strong style="text-align: left;">Revisado Por:</strong><br><br><br>
                        {% for d in data.docentes %}
                        <p style="text-align: center;">_______________________________<br>
                        {% if d.1.persona.titulo3y4nivel.tit1 %}{{ d.1.persona.titulo3y4nivel.tit1 }}{% endif %} {{ d.1.persona}}{% if d.1.persona.titulo3y4nivel.tit2 %}{{d.1.persona.titulo3y4nivel.tit2 }}{% endif %}<br>
                        <strong>DOCENTE DE LA MATERIA {{ d.0|upper }}<br>FACS-UNEMI</strong></p><br>
                        {% endfor %}
                        <p style="text-align: center;">_______________________________<br>
                        {{ data.responsablecentro }}<br>
                        <strong>DIRECTOR / ADMINISTRADOR DEL CENTRO<br>DE SALUD</strong></p>

                        <strong style="text-align: left;">Aprobado por:</strong><br><br><br>
                        <p style="text-align: center;">_______________________________<br>
                        {% if data.coordinadorppp.persona.titulo3y4nivel.tit1 %}{{ data.coordinadorppp.persona.titulo3y4nivel.tit1 }}{% endif %} {{ data.coordinadorppp.persona.nombre_completo_inverso}}{% if data.coordinadorppp.persona.titulo3y4nivel.tit2 %}{{data.coordinadorppp.persona.titulo3y4nivel.tit2 }}{% endif %}<br>
                        <strong>COORDINADOR{% if data.coordinadorppp.persona.sexo.id == 1 %}A{% endif %} PRÁCTICAS PRE-PROFESIONALES<br>FACS-UNEMI</strong></p>
                        <strong style="text-align: left;">Fecha:</strong>_____________________

                    </td>
                </tr>
            </tbody>
        </table>
        <div id="footerContent">
            <div>
                {% block page_foot %}
                    <div style="text-align: right;" >
                       <pdf:pagenumber></pdf:pagenumber>
                    </div>
                {% endblock %}
            </div>
        </div>
    </body>
</html>



