{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src='/static/js/select2.js?v=1.0.0'></script>
    <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
    <script>
        $(function () {
            let chartEstados = document.getElementById('chartEstados').getContext('2d');
            chartEstados.canvas.parentNode.style.height = '20%';
            chartEstados.canvas.parentNode.style.width = '20%';
            let graficoEstados = new Chart(chartEstados, {
                type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {

                    labels: ['PENDIENTES', 'APROBADOS', 'EN REVISIÓN', 'ENTREGADAS', 'RECHAZADOS'],
                    datasets: [{
                        label: 'Totales',
                        data: [
                            '{{ totalpendientes }}', '{{ totalaprobados }}', '{{ totalenrevision }}', '{{ totalfinalizadas }}', '{{ totalanuladas }}',
                        ],
                        backgroundColor: [
                            'rgba(171, 178, 185, 0.5)',
                            'rgba(93, 173, 226, 0.5)',
                            'rgba(220, 118, 51, 0.5)',
                            'rgba(46, 204, 113, 0.5)',
                            'rgba(231, 76, 60, 0.5)'
                        ],
                        borderWidth: 0.1,
                        borderColor: '#777',
                        hoverBorderWidth: 0.5,
                        hoverBorderColor: '#000'
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    title: {
                        display: true,
                        text: 'Estados de Solicitudess',
                        fontSize: 15
                    },
                    legend: {
                        display: true,
                        position: 'top',
                        labels: {
                            fontColor: '#000'
                        }
                    },
                    layout: {
                        padding: {
                            left: 50,
                            right: 0,
                            bottom: 0,
                            top: 0
                        }
                    },
                    tooltips: {
                        enabled: true
                    }
                }
            });
            let productosChart = document.getElementById('productosChart').getContext('2d');
            productosChart.canvas.parentNode.style.height = '50%';
            productosChart.canvas.parentNode.style.width = '20%';
            let graficosProductos = new Chart(productosChart, {
                type: 'polarArea', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {

                    labels: [{% for p in listado %}'{{ p.producto__descripcion }}',{% endfor %}],
                    datasets: [
                        {
                            label: 'Total Solicitado',
                            data: [
                                {% for p in listado %} '{{ p.totcont }}',{% endfor %},
                            ],
                            backgroundColor: [
                                {% for p in listado %}
                                    'rgba(171, 178, 185, 0.5)',
                                    'rgba(93, 173, 226, 0.5)',
                                    'rgba(220, 118, 51, 0.5)',
                                    'rgba(46, 204, 113, 0.5)',
                                    'rgba(231, 76, 60, 0.5)',
                                {% endfor %}
                            ],
                        }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Cantidad de Veces Solicitados (Productos)',
                        fontSize: 15
                    },
                    legend: {
                        display: false,
                        position: 'bottom',
                        labels: {
                            fontColor: '#000'
                        }
                    },
                    layout: {
                        padding: {
                            left: 50,
                            right: 0,
                            bottom: 0,
                            top: 0
                        }
                    },
                    tooltips: {
                        enabled: true
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        function verGrafica() {
            $("#itemspanelGrafica").modal({backdrop: 'static'}).modal('show');
        }

        function formModal(id, text, action) {
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    if (data.result === true) {
                        $('.panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text);
                        $("#itemspanel").modal({backdrop: 'static', width: '900'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"
            });
        }

        $(function () {
            $("select").select2({minimumResultsForSearch: 5});
            $(".select2hidden").each(function () {
                var id = $(this).attr("id");
                $("#" + id + "_select2").html('<option>' + $(this).attr("descripcion") + '</option>').trigger('change');
            });
        });
    </script>
    <style>
        .dataTables_filter {
            padding-bottom: 15px;
        }

        .table.dataTable tfoot th, table.dataTable tfoot td {
            border-top: 1px solid #E5E8E8 !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            const tabla_paginada = $('.tabla_paginada').DataTable({
                responsive: true,
                ordering: false,
                paging: true,
                searching: true,
                bInfo: true,
                dom: "<<'col-sm-12 col-md-3'f><'col-sm-12 col-md-3'l><'col-sm-12 col-md-12'B>>" +
                    "<<'col-sm-12'tr>>" +
                    "<<'col-md-6 col-sm-12'i><'col-md-4 col-sm-12'p>>",
                buttons: []
            });
            $('.tabla_paginada tbody').on('click', 'tr', function () {
                var data = tabla_paginada.row(this).data();
            });
        });
    </script>
{% endblock %}
{% block atras %}/adm_solicitudproductos{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>

    <div class='row-fluid'>
        <div class="span12">
            <form method="GET">
                <input type="hidden" name="action" value="{{ action }}">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="options" id="option1" autocomplete="off" value="1" {% if options == 1 %}checked {% endif %}><strong> Entregados</strong>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="options" id="option2" autocomplete="off" value="2" {% if options == 2 %}checked {% endif %}><strong> No Entregados</strong>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="options" id="option2" autocomplete="off" value=""><strong> Todos</strong>
                    </label>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td style="width: 45%">
                            <i class="fa fa-tag"></i> Departamentos: <br>
                            <select name="departamento" id="id_departamento" class="form-control" style="width: 100%">
                                <option value="" selected>TODOS</option>
                                {% for g in departamentos %}
                                    <option value="{{ g.pk }}"
                                            {% if g.pk == departamento %}selected{% endif %}>{{ g.nombre }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <i class="fa fa-calendar"></i> Desde: <br>
                            <input class="form-control" name="desde" id="id_desde" value="{{ desde }}" type="date"
                                   style="width: 100%">
                        </td>
                        <td>
                            <i class="fa fa-calendar"></i> Hasta: <br>
                            <input class="form-control" name="hasta" id="id_hasta" value="{{ hasta }}" type="date"
                                   style="width: 50%">
                            <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                    class="fa fa-search"></i>
                            </button>
                            {% if url_vars %}
                                <a href="{{ request.path }}?action={{ action }}&id={{ id }}" id='allresults'
                                   class='btn btn-default'><span
                                        class="fa fa-refresh "></span>
                                </a>
                            {% endif %}
                            <a href="{{ request.path }}?action={{ action }}&departamento={{ departamento }}&desde={{ desde }}&hasta={{ hasta }}&report_pdf" id='reportpdf' target="_blank"
                                   class='btn btn-danger'><span
                                        class="fa fa-file-pdf-o "></span>
                                </a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div class='row-fluid'>

        <div class='span12'>
            <div class='span6'>
            <span class="label label-inverse" style="margin-bottom: 12px"><i
                    class="fa fa-info-circle"></i> Total Solicitudes {{ totalcount }}</span>
                <span class="label label-default" style="margin-bottom: 12px"><i class="fa fa-info-circle"></i> Total Pendientes {{ totalpendientes }}</span>
                <span class="label label-info" style="margin-bottom: 12px"><i
                        class="fa fa-info-circle"></i> Total Aprobados {{ totalaprobados }}</span>
                <span class="label label-warning" style="margin-bottom: 12px"><i class="fa fa-info-circle"></i> Total En Revisión {{ totalenrevision }}</span>
                <span class="label label-important" style="margin-bottom: 12px"><i class="fa fa-info-circle"></i> Total Rechazadas {{ totalanuladas }}</span>
                <span class="label label-success" style="margin-bottom: 12px"><i class="fa fa-info-circle"></i> Total Aprobados {{ totalfinalizadas }}</span>
                <table class='table table-bordered table-striped tabla_paginada' style="width: 100%">
                    <thead>
                    <tr>
                        <th colspan="3" style="text-align: center"><i class="fa fa-archive"></i> DATOS PRODUCTOS</th>
                        <th colspan="3" style="text-align: center"><i class="fa fa-truck"></i> DATOS DE ENTREGA</th>
                    </tr>
                    <tr>
                        <th style="text-align: center; width: 5%">Codigo</th>
                        <th style="text-align: center; width: 10%">Cuenta</th>
                        <th style="text-align: center; width: 20%">Descripción</th>
                        <th style="text-align: center; width: 5%">Veces<br> Solicitados</th>
                        <th style="text-align: center; width: 5%">Cantidad <br> Solicitada</th>
                        <th style="text-align: center; width: 5%">Cantidad <br> Entregada</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for l in listado %}
                        <tr>
                            <td style="text-align: center;">{{ l.producto__codigo }}</td>
                            <td style="text-align: center;">{{ l.producto__cuenta__cuenta }}</td>
                            <td style="text-align: center;">{{ l.producto__descripcion }}</td>
                            <td style="text-align: center;"><b>{{ l.totcont }}</b></td>
                            <td style="text-align: center;"><b>{{ l.cant }}</b></td>
                            <td style="text-align: center;">
                                {% if l.cant_entregada == 0 %}
                                    <b class="text-error">{{ l.cant_entregada }}</b>
                                {% else %}
                                    <b class="text-success">{{ l.cant_entregada }}</b>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <td colspan="15">NO EXISTEN REGISTROS</td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="span3 hidden-phone hidden-tablet">
                <canvas id="productosChart" width="300" height="300"></canvas>
            </div>
            <div class="span3 hidden-phone hidden-tablet">
                <canvas id="chartEstados" width="300" height="300"></canvas>
            </div>

        </div>
    </div>

{% endblock %}