{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
{% block atras %}/pro_laboratoriocronograma{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
            <h5>Asignatura: {{ materia }}</h5>
            <a class="btn btn-success" href="/pro_laboratoriocronograma?action=aadtutoriaclase&id={{ materia.id|encrypt }}"><i class="fa fa-plus"></i> Adicionar tutoría grupal</a>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' >
                <thead>
                <tr>
                    <th>Tema</th>
                    <th style="width: 100px; text-align: center">Fecha</th>
                    <th style="width: 100px;text-align: center;"># Participantes</th>
                    <th style="text-align: center;width: 110px;">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for t in tutorias %}
                    <tr>
                        <td>{{ t.observacion }}</td>
                        <td style="text-align: center">{{ t.fecha|date:"Y-m-d" }}</td>
                        <td style="text-align: center">{{ t.participantes }}</td>
                        <td style="text-align: center">
                            <a href='/pro_laboratoriocronograma?action=edittutoriaclase&id={{ t.id|encrypt }}' class="btn btn-warning btn-mini"><i class="fa fa-edit "></i> </a>
                            <a class="eliminacionmodal btn btn-danger btn-mini" href="javascript:;" nhref="/pro_laboratoriocronograma?action=deletutoriaclase&id={{ t.id|encrypt }}"><i class="fa fa-remove"></i> </a>
                        </td>
                    </tr>
                {% endfor %}
                {% if not tutorias %}
                    <tr><td colspan="4" style="text-align: center">NO EXISTEN TUTORIAS</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">
            <div class='pagination'>
                <ul>
                    {% for pagenumber in paging.page_range %}
                        <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/pro_laboratoriocronograma?action=tutoriaclase&id={{ materia.id }}&page={{ pagenumber }}">{{ pagenumber }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}