{% extends "basebs.html" %}
{% load sga_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    {% block heading %}
        <script type="text/javascript">
            $(document).ready(function(){
                $("#formulariouno").submit(function(){
                    var cadenanormal = $(this).serialize();
                    var periodoid = $("#periodoid").val()
                    bloqueointerface();
                    $.post("/alu_sistemasag", {'action': 'addrespuestaencuesta', "cadenajson": cadenanormal, "periodoid": {{ periodoid }} }, function(data){
                        $.unblockUI();
                        if (data.result=='ok'){
                            location.href = "/alu_sistemasag";
                        }else{
                            smoke.alert(data.mensaje);
                        }
                    }, "json" );
                    valores_check = null;
                    bloqueointerface();
                    return false;
                });
            });
        </script>
    {% endblock %}
    {% block atras %}/sistemasag?action=listadoencuestados&idperiodo={{ periodoid }}{% endblock %}
    {% block canvas %}
        <form accion="#" id="formulariouno" onsubmit="">
            <div class="row-fluid no-marging-bottom" style="margin-bottom: 3px;">
                <div class="well" style="margin-bottom: 3px;padding: 10px;">
                    <h3 style="text-align: center">UNIVERSIDAD ESTATAL DE MILAGRO</h3>
                    <h4>{{ inscripcion }}</h4>
                </div>
            </div>
            <div class="well" style="display: flex; background: #FFFFFF">
                <div class='row-fluid'>
                    <div class='span12'>
                        {% for listaencuesta in listaencuestas %}
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4>{{ listaencuesta.nombre }}</h4>
                                    <span style="font-size: 14px; text-align: justify;">{{ listaencuesta.descripcion|linebreaksbr }}</span><br><br>
                                </div>
                                {% for grupo in listaencuesta.listado_gruposencuestas %}
                                    <div style="border: 1px solid dimgray; padding: 5px;">
                                        <h5>{{ grupo.grupo__descripcion }} </h5>
                                        <h6>{{ grupo.grupo__observacion }} </h6>
                                    </div>
                                    {% with listapreguntas=listaencuesta|args:grupo.grupo__id|call:'listado_preguntas' %}
                                        <div style="padding-left: 15px;">
                                            {% for pregunta in listapreguntas %}
                                                {% if grupo.grupo__agrupado and forloop.counter == 1 %}
                                                    <table width="100%" border="1" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td align="center"><strong>PREGUNTAS</strong></td>
                                                        {% for value in 1|rangonumeros:pregunta.tipo.numeromatriz %}
                                                            <td align="center" style="width: 175px">
                                                                <strong>
                                                                    <table border="0" width="100%">
                                                                        <tr>
                                                                            {% for token in  pregunta.tipo.titulomatriz|splitcadena:"," %}
                                                                                {% if forloop.counter == value %}
                                                                                    {{ token }}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                            {% for valor in pregunta.tipo.min|rangonumeros:pregunta.tipo.max %}
                                                                                <td align="center">{{ valor }}</td>
                                                                            {% endfor %}
                                                                        </tr>
                                                                    </table>
                                                                </strong></td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endif %}
                                                {% if grupo.grupo__agrupado %}
                                                    <tr><td align="left">
                                                        <strong>{{ pregunta.orden }}.-</strong> <span style="font-size: 14px">{{ pregunta.sagpregunta }} {{ pregunta.observacion }} {% if pregunta.responder %}<i class="fa fa-asterisk" style="color: #a9302a"></i>{% endif %}</span><br>
                                                    </td>
                                                        {% for value in 1|rangonumeros:pregunta.tipo.numeromatriz %}
                                                            <td align="center">
                                                                <strong>
                                                                    <table border="0" width="100%">
                                                                        <tr>
                                                                            {% for valor in pregunta.tipo.min|rangonumeros:pregunta.tipo.max %}
                                                                                <td align="center"><input disabled type="radio" id="item_{{ value }}_{{ pregunta.id }}_{{ valor }}" name="item_{{ value }}_{{ pregunta.id }}_{{ valor }}" value="{{ valor }}" {% if pregunta.responder %}required=""{% endif %}/></td>
                                                                            {% endfor %}
                                                                        </tr>
                                                                    </table>
                                                                </strong></td>
                                                        {% endfor %}
                                                    </tr>
                                                {% else %}
                                                    <strong>{{ pregunta.orden }}.-</strong> <span style="font-size: 14px">{{ pregunta.sagpregunta }} {{ pregunta.observacion }} {% if pregunta.responder %}<i class="fa fa-asterisk" style="color: #a9302a"></i>{% endif %}</span><br>
                                                {% endif %}
                                                <input class="form-control" type="hidden" value="{{ pregunta.id }}">
                                                {% if not pregunta.tipo.tienealternativa and  not pregunta.tipo.escala %}
                                                    <input value="" disabled id="item_{{ pregunta.id }}" name="item_{{ pregunta.id }}" class="form-control"  type="{{ pregunta.tipo.tipocampo }}" {% if pregunta.responder %}required=""{% endif %}   {% if pregunta.tipo.tipocampo == 'date' or pregunta.tipo.tipocampo == 'number' %}style="width: 150px"{% endif %}>
                                                    <br><br>
                                                {% else %}
                                                    {% if pregunta.tipo.escala and pregunta.tipo.numeromatriz == 0 %}
                                                        <table width="25%" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                {% for value in pregunta.tipo.min|rangonumeros:pregunta.tipo.max %}
                                                                    <td align="center">{{ value }}</td>
                                                                {% endfor %}
                                                            </tr>
                                                            <tr>
                                                                {% for value in pregunta.tipo.min|rangonumeros:pregunta.tipo.max %}
                                                                    <td align="center">
                                                                        <input disabled type="radio" id="item_1_{{ pregunta.id }}_{{ value }}" name="item_1_{{ pregunta.id }}_{{ value }}" value="{{ value }}"/>
                                                                    </td>
                                                                {% endfor %}
                                                            </tr>
                                                        </table><br>
                                                    {% endif %}
                                                    {% if pregunta.tipo.tienealternativa and not pregunta.tipo.escala and pregunta.tipo.numeromatriz == 1 %}
                                                        {% for respuesta in pregunta.listado_respuesta %}
                                                            {{ respuesta.nombre }}
                                                            <input align="center" disabled type="{{ respuesta.preguntaencuesta.tipo.estilo }}" id="item_{{ pregunta.id }}_{{ respuesta.id }}" name="item_{{ pregunta.id }}" {% if pregunta.responder %}required=""{% endif %} value="{{ respuesta.id }}">&nbsp
                                                        {% endfor %}<br>
                                                    {% endif %}
                                                    {% if pregunta.tipo.tienealternativa and not pregunta.tipo.escala and pregunta.tipo.numeromatriz == 0 %}
                                                        {% for respuesta in pregunta.listado_respuesta %}
                                                            <span style="font-size: 12px">{{ respuesta.nombre }}</span>
                                                            <input align="center" disabled type="{{ respuesta.preguntaencuesta.tipo.estilo }}" id="item_0_{{ pregunta.id }}_{{ respuesta.id }}" name="item_0_{{ pregunta.id }}_{{ respuesta.id }}" {% if pregunta.responder %}required=""{% endif %} value="{{ respuesta.id }}">&nbsp
                                                        {% endfor %}<br><br>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}<br> <br>
                                            {% if grupo.grupo__agrupado %}
                                                </table><br>
                                            {% endif %}
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        {% if not listaencuestas %}
                            <tr>
                                <td colspan="11">
                                    <div class="alert alert-danger">
                                        <strong>NO HAY ENCUESTA ACTIVA</strong>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            {% for lista in resultados %}
                {% if lista.preguntaencuesta.grupo.grupo == 1 %}
                    if ('{{ lista.preguntaencuesta.tipo.estilo }}'== 'radio') {
                        $("#item_"+{{ lista.numero }} +'_'+ {{ lista.preguntaencuesta.id }} + '_' + '{{ lista.valor }}').prop( "checked", true );
                    }
                {% else %}
                    if ('{{ lista.preguntaencuesta.tipo.estilo }}'== 'text') {
                        $("#item_"+{{ lista.preguntaencuesta.id }}).val('{{ lista.valor }}')
                    }

                    if ('{{ lista.preguntaencuesta.tipo.estilo }}'== 'radio') {
                        $("#item_"+{{ lista.numero }} +'_'+ {{ lista.preguntaencuesta.id }} + '_' + '{{ lista.valor }}').prop( "checked", true );
                    }
                    if ('{{ lista.preguntaencuesta.tipo.estilo }}'== 'checkbox') {
                        $("#item_"+{{ lista.preguntaencuesta.id }} + '_' + '{{ lista.valor }}').prop( "checked", true );
                    }
                {% endif %}
            {% endfor %}
        </script>
    {% endblock %}