{% extends "base.html" %}
{% load sga_extras %}
{% block heading %}
    <style type="text/css">
        #ModalExportEdcom .select2-container {
            width: 100% !important;
        }
        #ModalExportEdcom .select2-container .select2-selection--multiple {
            width: 100% !important;
        }
        .table-borderless td {
            border: 0;
        }
        a h4 {
            padding-left: 20px; padding-bottom: 15px; padding-top: 15px
        }
       .searchinput {
        {% if search %}
            max-width: 220px !important;
        {% else %}
            max-width: 250px !important;
        {% endif %}
            min-width: 100px !important;
        }
        .radio label,
        .checkbox label {
            display: inline-block;
            cursor: pointer;
            color: #0074D9;
            position: relative;
            padding: 2px 2px 1px 27px;
            font-size: 1em;
            border-radius: 5px;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .radio label:hover,
        .checkbox label:hover {
            background: rgba(255, 65, 54, 0.1);
        }

        .radio label:before,
        .checkbox label:before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            position: absolute;
            left: 5px;
            border-radius: 50%;
            background: none;
            border: 3px solid #0074D9;
        }

        input[type="radio"] {
            display: none;
        }

        input[type="radio"]:checked + label:before {
            display: none;
        }

        input[type="radio"]:checked + label {
            padding: 5px 15px;
            background: #0074D9;
            border-radius: 2px;
            color: #fff;
        }

        .checkbox label:before {
            border-radius: 3px;
        }

        .checkbox input[type="checkbox"] {
            display: none;
        }

        .checkbox input[type="checkbox"]:checked + label:before {
            display: none;
        }

        .checkbox input[type="checkbox"]:checked + label {
            background: #0074D9;
            color: #fff;
            padding: 5px 15px;
        }
        @media (max-width: 767.98px) {
            .custom-width {
                width: 100% !important;
            }
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#select_anio, #select_carrera").select2().on("select2:select", function (e) {
                busqueda();
            });
            if ('{{ idcar }}'.length){
                $('#select_carrera').val('{{ idcar }}').trigger('change');
            }
            if ('{{ anio }}'.length){
                $('#select_anio').val('{{ anio }}').trigger('change');
            }
            if ('{{ idg }}'.length){
                $('#select_genero').val('{{ idg }}').trigger('change');
            }
            if ($("#select_anio").val()) {
                vertotalencuesta();
             }
            $("#search").click(function () {
                busqueda();
            });
            $('#searchinput').keyup(function (e) {
                if (e.keyCode == 13) {
                    busqueda();
                }
            });
            $('[name="filter_genero"]').change(function () {
                busqueda();
            });
            busqueda = function() {
                var params = "{{ request.path|safe }}?action=vergraduados"
                var term = $("#searchinput").val().toUpperCase().trim();
                var genero = $("[name='filter_genero']:checked").val();
                var anios = $("#select_anio").val();
                var carrera = $("#select_carrera").val();
                var desde = $("#desde").val();
                var hasta = $("#hasta").val();
                if (term.length > 0) {
                   params += "&search=" + term;
                }
                if (anios && parseInt(anios) > 0) {
                    params += "&anio=" + anios;
                }
                if (parseInt(genero) > 0) {
                  params += "&idg=" + genero;
                }
                if (parseInt(carrera) > 0) {
                   params += "&idcar=" + carrera;
                }
                if (desde) {
                   params += "&desde=" + desde;
                }
                if (hasta) {
                   params += "&hasta=" + hasta;
                }
                location.href = params;
                bloqueointerface();
            }
            checkencuesta();
            function checkencuesta() {
                var valueanio = $("#select_anio").val();
                if (valueanio === '') {
                    vertotalencuesta();
                }
            }
            $('#selec_encuestas').select2({
                placeholder: "Selecciona las encuestas",
                allowClear: true,
                multiple: true,
                dropdownParent: $('#ModalExportEdcom'),
                width: '100%'
            });

            $('#ModalExportEdcom').on('show.bs.modal', function () {
                $('#selec_encuestas').empty().trigger('change');
                LoadMuestraEncuesta();
            });

         });
        function descargar_graduados() {
            var term = $("#searchinput").val().toUpperCase().trim();
            var genero = $("[name='filter_genero']:checked").val();
            var anios = $("#select_anio").val();
            var carrera = $("#select_carrera").val();
            var desde = $("#desde").val();
            var hasta = $("#hasta").val();
            $.ajax({
                type: "GET",
                url: "{{ request.path }}",
                data: {
                    'action': 'exportargraduados',
                    'search': term,
                    'idg': genero,
                    'anio': anios,
                    'idcar': carrera,
                    'desde': desde,
                    'hasta': hasta
                },
                success: function(data) {
                    if (data.result) {
                        mensajeSuccess(data.mensaje);
                    } else {
                        mensajeWarning(data.mensaje);
                    }
                },
                error: function() {
                    mensajeErrorSwal("Error de conexión.");
                },
                dataType: "json"
            });
        }

        function exportar_encuestados(encuesta) {
            var ida = $("#select_anio").val();
            $.ajax({
                type: "GET",
                url: "{{ request.path }}",
                data: {'action': 'exportaencuestadosporencuesta','ide':encuesta,'ida':ida},
                success: function(data) {
                    data.result ? mensajeSuccess(data.mensaje) : mensajeWarning(data.mensaje);

                },
                error: function() {
                    mensajeErrorSwal("Error de conexión.");
                },
                dataType: "json"
            });
        }

        function vertotalencuesta(ide) {
            const anio = $("#select_anio").val();
            $('#txtencuesta').text('cargando..');
            $('#totalencuestados').text('cargando..');
            $('#totalnoencuestados').text('cargando..');
            $('#encuestanombre').text('cargando..');
            $.ajax({
                type: 'GET',
                url: '{{ request.path }}',
                data: {'action':'vertotalencuesta','ide': ide,'anio':anio},
                success: function(data) {
                    if(data.result){
                        $('#txtencuesta').text('Total por Encuesta');
                        $('#totalencuestados').text(data.totalencuestados);
                        $('#totalnoencuestados').text(data.totalnoencuestados);
                        $('#encuestanombre').text(data.encuesta);
                    }else{
                        $('#txtencuesta').text('Total de Encuesta: ');
                        $('#totalencuestados').text('0');
                        $('#totalnoencuestados').text('0');
                        $('#encuestanombre').text('No existe encuesta');
                        mensajeWarning(data.mensaje);
                    }
                },
                error: function () {
                    mensajeErrorSwal('Error al extraer datos de las encuestas');
                },
                dataType: "json"
            });
        }

        async function LoadMuestraEncuesta(){
            const anio = $("#select_anio").val();
            $.ajax({
                type: 'GET',
                url: '{{ request.path }}',
                data: {'action':'MuestraEncuestaEdCom','idanio': anio},
                 success: function(data) {
                    if (data.result) {
                        console.log(data)
                        $('#selec_encuestas').empty();
                        data.data.forEach(function(periodo) {
                            var ap = periodo.aplicacurso ? "Aplica: Sí" : "Aplica: No";
                            var option = `${periodo.nombre} (${ap})`;
                            $('#selec_encuestas').append(new Option(option, periodo.id));
                        });
                        $('.selectpicker').selectpicker('refresh');
                    } else {
                        console.error("Error al cargar encuestas:", data.message);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error al cargar las encuestas:', error);
                },
                dataType: "json"
            });
        }

        function Export_EncuestaEdCom(tiporeporte) {
            const anio = $("#select_anio").val();
            const encuestas = $('#selec_encuestas').val();
            if (!encuestas || encuestas.length === 0) {
                $("#errorencuesta").text("Por favor, seleccione al menos un periodo.").show();
                    return;
             }
            $.ajax({
                type: 'POST',
                url: '{{ request.path }}',
                data: {'action': 'exportarinscritoseducacioncontinua', 'idanio':anio, 'idf': tiporeporte, 'ide': encuestas,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(data) {
                    data.result ? mensajeSuccess(data.mensaje) : mensajeWarning(data.mensaje);

                },
                error: function() {
                    mensajeErrorSwal('Error de conexión.');
                },
                dataType: 'json'
            });
        }
    </script>
{% endblock %}
{% block atras %}/sistemasag{% endblock %}
{% block canvas %}
    <div class='row d-flex'>
        <div class='col-lg-8'>
            <div class="headtitle">
                <h3 class="texto-blue">{{ title }}</h3>
                <h6>Seguimiento Graduado</h6>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-end align-items-center">
            <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                  <div class="dropdown-menu">
{#                    <a class="dropdown-item">Genera acciones</a>#}
{#                    <div class="dropdown-divider"></div>#}
                    <li><a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#ModalExportEdcom"><i class="fa fa-gear me-2"></i>Informes (Educacion Continua)</a></li>
                  </div>
            </div>
        </div>
    </div>

    <div class="row" style="display: flex; justify-content: center; align-items: center;">
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 mb-3">
            <div class="card">
                <div class="card-body p-3 pb-5 pt-4">
                    <span class="fs-5 fw-semi-bold">Recien Graduado</span>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="lh-1">
                            <h3 class="h2 fw-bold mb-0">
                                {{ ultimosgraduados.count }}
                            </h3>
                            <span>
                                Ultimos 7 dias
                            </span>
                        </div>
                        <div>
                            <span class="bg-light-primary icon-shape icon-xl rounded-3 text-dark-primary">
                                <i class="bi bi-building-fill-check fs-3"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 mb-3">
            <div class="card">
                <div class="card-body p-3 pb-5 pt-4">
                    <span class="fs-5 fw-semi-bold">Estadistica por genero</span>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="lh-2">
                            <span class="fs-5 fw-semi-bold d-block"><i class="fas fa-mars"></i> Hombre: {{ count_hombres }}</span>
                            <span class="fs-5 fw-semi-bold d-block"><i class="fas fa-venus"></i> Mujer: {{ count_mujeres }}</span>
                        </div>

                        <div>
                            <span class="bg-light-warning icon-shape icon-xl rounded-3 text-dark-warning">
                                <i class="fs-3 fas fa-venus-mars"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 mb-3">
            <div class="card">
                <div class="card-body p-3 pb-5 pt-4">
                   <div class="d-flex justify-content-between align-items-center">
                        <div class="text-right">
                            <span class="fs-5 fw-semi-bold">Total Graduados</span>
                        </div>
                        <div class="text-left">
                            <a title="Exportar reporte por filtro" type="button" href="javascript:;" onclick="descargar_graduados()" class=""><i class="fas fa-print"></i></a>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="lh-1">
                            <h3 class="h2 fw-bold mb-0">{{listcount}}</h3>
                            <a>{% if idcar %}Graduados por carrera{% else %}Todas las carrera del {{ anio }}{% endif %}</a>
                        </div>
                        <div>
                             <span class="bg-light-success icon-shape icon-xl rounded-3 text-dark-success">
                                <i class="fa fa-business-time fs-3"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 mb-3">
            <div class="card">
                <div class="card-body p-3 pb-5 pt-4">
                    <span class="fs-5 fw-semi-bold">Top Graduados {% if anio %}{{ anio }}{% endif %}</span>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="lh-1">
                            <h3 class="h3 fw-bold mb-0">{{ carrera_mas_graduado.count }}</h3>
                           <span style="font-size: 8px;" title="{{ carrera_mas_graduado.carrera| upper }}">{{ carrera_mas_graduado.carrera| upper }}</span>
                        </div>
                        <div>
                            <span class="bg-light-info icon-shape icon-xl rounded-3 text-dark-info">
                                <i class="fa fa-users fs-3"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 mb-3">
            <div class="card">
                <div class="card-body p-3 pb-3 pt-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-right">
                            <span id="txtencuesta" class="fs-5 fw-semi-bold"></span>
                        </div>
                        <div class="text-left">
                        {% if encuestas %}
                            <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-file-pdf me-1"></i>
                                <i class="fa fa-angle-down"></i>
                            </a>
                                <ul class="dropdown-menu" >
                                {% for encuesta in encuestas %}
                                    <li>
                                        <a href="javascript:void(0);" onclick="vertotalencuesta({{ encuesta.sagperiodo.id }})" class="dropdown-item">
                                            <i class="fa fa-file-export me-2"></i>Encuesta {{ forloop.counter }}
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                        {% endif %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="lh-1">
                            <div><span class="fw-semi-bold" style="font-size:10px;">Encuestados</span><span class="fs-5 fw-semi-bold d-block pb-1" id="totalencuestados"></span></div>
                            <div><span class="fw-semi-bold" style="font-size:10px;">Sin Encuesta</span><span class="fs-5 fw-semi-bold d-block" id="totalnoencuestados"></span></div>
                        </div>
                        <div>
                            <span class="bg-light-info icon-shape icon-xl rounded-3 text-dark-info">
                                <i class="bi bi-person-workspace fs-3"></i>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <span class="text-left" id="encuestanombre" style="font-size: 9px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 custom-width" style="width: 11%;">
                <div class="form-group">
                    Generar Reportes
                    <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false"><span
                        class="fa fa-list-alt "></span> Reportes <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    {% if encuestas %}
                        {% for encuesta in encuestas %}
                            <li>
                                <a href="javascript:;"  onclick="exportar_encuestados({{ encuesta.sagperiodo.id }})" class="dropdown-item">
                                    <i class="fa fa-file-pdf-o me-2"></i>Encuesta {{ forloop.counter }} | {{ encuesta.sagperiodo.numero_encuestados }}
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <a href="javascript:;" class="dropdown-item">
                            <i class="fa fa-file-excel"></i>No existe encuesta {{ anio }}
                        </a>
                    {%  endif %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 custom-width" style="width: 14%;">
                <div class="form-group">
                    Genero:
                    <div class="radio">
                        <input type="radio" id="filter_genero_all" name="filter_genero" value="" {% if idg != 0 %}checked{% endif %}>
                        <label class="tu" title="Ambos" for="filter_genero_all"><i class="fa fa-venus-double"></i></label>
                        {% for s in genero %}
                            <input type="radio" id="filter_genero_{{ s.id }}" name="filter_genero" value="{{ s.id }}" {% if idg == s.id %}checked{% endif %}>
                            <label class="tu" title="{{ s.nombre }}" for="filter_genero_{{ s.id }}"><span class="label label-default"><i class="fa {% if s.id == 1 %}fa-female{% else %}fa-male{% endif %}"></i></span></label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-1 custom-width" style="width: 10%;">
                <div class="form-group">
                    <div class="input-group">
                        Desde:
                        <input type="date" id="desde" value="{{ desde }}" autocomplete="off" name="desde" placeholder="Desde"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 custom-width" style="width: 10%;">
                <div class="form-group">
                    <div class="input-group">
                        Hasta:
                        <input type="date" id="hasta" value="{{ hasta }}" autocomplete="off" name="hasta" placeholder="hasta"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="input-group">
                    Carrera:
                    <select class="selector" id="select_carrera" style="width: 100%">
                        <option value="">TODOS</option>
                        {% for i in listcarreras %}
                            <option {% if i.id == idcar %}selected{% endif %}value="{{ i.id }}">{{ i.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-group">
                    <div class="input-group">
                        Años
                        {% if anios %}
                            <select id="select_anio" style="width: 100%">
                                <option value="" {% if anio == 0 %}selected{% endif %}>Todos</option>
                                {% for a in anios %}
                                    <option {% if anio == a %}selected{% endif %} value="{{ a }}">{{ a }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="input-group">
                        Estudiantes:
                        <input style="width: 100%" type='text' id='searchinput' value='{{ search }}' placeholder="Buscar..." autocomplete="off"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 d-flex align-items-end">
                <div class="form-group">
                    <div class="btn-group">
                    <a href="javascript:;" id='search' class='btn btn-warning'><span
                            class="fa fa-search "></span></a>
                    {% if search %}
                        <a href="{{ request.path }}?action=vergraduados" id='allresults' class='btn btn-default'><span class="fa fa-refresh "></span> </a>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-body border-6 rounded-3 border-dark-info">
                <div class="table-responsive-xxl">
                    <table class='tabla_responsive table table_primary' cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="width:1%;text-align: left;">No.</th>
                            <th style="width: 10%;text-align: left;">Graduado</th>
                            <th style="width: 5%;text-align: left;">Detalle Graduacion</th>
                            <th style="width: 2%;text-align: left;">Encuestas(Graduado)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for graduado in graduados %}
                            <tr role="row" class="odd">
                                <td style="text-align: center;">{{ forloop.counter }}</td>
                                <td style="text-align: left;">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <span class="avatar avatar-lg">
                                                {% if graduado.inscripcion.persona.foto.foto %}
                                                    <img src="https://sga.unemi.edu.ec{{ graduado.inscripcion.persona.foto.foto.url }}" class="rounded-circle">
                                                {% else %}
                                                    {% if graduado.inscripcion.persona.sexo_id == 1 %}
                                                        <img src="/static/images/iconos/mujer.png" class="rounded-circle">
                                                    {% else %}
                                                        <img src="/static/images/iconos/hombre.png" class="rounded-circle">
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="ms-0">
                                            <h6 class="mb-0">
                                                <span class="fa fa-id-badge" aria-hidden="true"></span>
                                                {{ graduado.inscripcion.persona.cedula }}
                                                |
                                                <span class="fa fa-user" aria-hidden="true"></span>{{ graduado.inscripcion.persona.nombre_completo }}
                                            </h6>
                                            <p class="mb-0 text-muted">
                                                <span class="fa fa-envelope" aria-hidden="true"></span> <a>{{ graduado.inscripcion.persona.email }}</a> |
                                                <span aria-hidden="true"></span> {{ graduado.inscripcion.persona.telefono }}
                                                <a class="btn btn-mini btn-success tu pl-3 pb-0 pr-3 pt-0" href='https://web.whatsapp.com/send?l=en&phone=+593{{ graduado.inscripcion.persona.telefono }}&text=Hola {{ graduado.inscripcion.persona }}' target="_blank" title="Enviar mensaje por whatsapp"><i class="fa fa-whatsapp"></i></a>
                                            </p>

                                            <h6 class="mb-0 text-muted">
                                                <strong>{{ graduado.inscripcion.carrera }}</strong>
                                            </h6>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: left;padding: 0px">
                                    <div class="ms-0">
                                        <h6 class="mb-0">
                                            <span style="font-size: 10px">ACTA DE GRADO:</span>
                                            {% if graduado.fechaactagrado %}
                                                <span style="font-size: 10px;" class="badge bg-success">{{ graduado.fechaactagrado|date:"d-m-Y" }}</span>
                                            {% else %}
                                                <span style="font-size: 10px;" class="badge bg-important">No Disponible</span>
                                            {% endif %}
                                        </h6>

                                        <h6 class="mb-0">
                                            <span style="font-size: 10px">FECHA GRADUACIÓN:</span>
                                            {% if graduado.fechagraduado %}
                                                <span style="font-size: 10px;" class="badge bg-success">{{ graduado.fechagraduado|date:"d-m-Y" }}</span>
                                            {% else %}
                                                <span style="font-size: 10px;" class="badge bg-important">No Disponible</span>
                                            {% endif %}
                                        </h6>



                                    </div>
                                </td>

                                <td style="text-align: left;padding: 0px">
                                    <div class="ms-0">
                                        <h6 class="mb-0">
                                            <span style="font-size: 10px">ENCUESTA 1    </span>
                                            <span style="font-size: 10px;" class="badge bg-success">
                                                {% set_encuesta_primeravez graduado.inscripcion %}
                                            </span>
                                        </h6>

                                        <h6 class="mb-0 mt-2">
                                            <span style="font-size: 10px">ENCUESTAS 2 Y 3</span>
                                            <span style="font-size: 10px;" class="badge bg-success">
                                              {% set_encuesta_muestra graduado.inscripcion %}
                                            </span>
                                        </h6>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="11" style="text-align: center">
                                    NO EXISTEN REGISTROS DE APERTURAS
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer border-top-0">
                <div class="row my-3 px-3">
                    <div class="col-lg-12">
                        <nav>
                            {% if paging.num_pages > 20 %}
                                <ul class="pagination justify-content-center m-0">
                                    {% if paging.primera_pagina %}
                                        <li class="page-item">
                                            <a class="page-link " href="{{ request.path }}?action=vergraduados&{% if search %}&search={{ search }}{% endif %}{% if desde %}&desde={{ desde }}{% endif %}{% if hasta %}&hasta={{ hasta }}{% endif %}{% if idcar %}&idcar={{ idcar }}{% endif %}{% if anio %}&anio={{ anio }}{% endif %}{% if idg %}&idg={{ idg }}{% endif %}
                                            &page=1">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link " href="{{ request.path }}?action=vergraduados{{ url_vars }}"
                                               class="page-link">...</a></li>
                                    {% endif %}
                                    {% for pagenumber in paging.paginas %}
                                        <li {% if pagenumber == page.number %}class='active page-item'{% else %}class='page-item'{% endif %}><a
                                                class="page-link " href="{{ request.path }}?action=vergraduados{{ url_vars }}&page={{ pagenumber }}">{{ pagenumber }}</a>
                                        </li>
                                    {% endfor %}
                                    {% if paging.ultima_pagina %}
                                        <li class="page-item">
                                            <a href="{{ request.path }}?action=vergraduados{{ url_vars }}&page={{ paging.ellipsis_derecha }}"
                                               class="page-link ">...</a></li>
                                        <li class="page-item">
                                            <a class="page-link " href="{{ request.path }}?action=vergraduados{{ url_vars }}&page={{ paging.num_pages }}">{{ paging.num_pages }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% else %}
                                <ul class="pagination justify-content-center m-0">
                                    {% for pagenumber in paging.page_range %}
                                        <li {% if pagenumber == page.number %}class='active page-item'{% else %}class="page-item"{% endif %}><a
                                              class="page-link "href="{{ request.path }}?action=vergraduados{{ url_vars }}&page={{ pagenumber }}">{{ pagenumber }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#SE AGREGA AQUI TODOS LOS MODALES NECESARIOS#}
    <div class="modal fade" id="ModalExportEdcom" tabindex="-1" aria-labelledby="ModalExportEdcom">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalExportEdcom">Exportar Inscritos en Cursos/Diplomados</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="encuestas" class="form-label">Elegir periodo de encuestas</label>
                            <small id="errorencuesta" style="color: red; display: none;"></small>
                            <select id="selec_encuestas" class="form-control" multiple data-live-search="true"></select>
                        </div>
                    </form>
                    <div class="d-flex justify-content-center">
                        <a type="button" class="btn btn-danger btn-sm me-3" onclick="Export_EncuestaEdCom(1)"><i class="fa fa-file-pdf fa-sm me-2"></i>PDF</a>
                        <a type="button" class="btn btn-success btn-sm ms-3" onclick="Export_EncuestaEdCom(2)"><i class="fa fa-file-excel fa-sm me-2"></i>EXCEL</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
