{% extends "ajaxconfirmaciondinamicbs.html" %}
{% load sga_extras %}
{% block titulo %}{{ title }} {{ unidad.descripcion }}{% endblock %}
{% block formdestination %}/adm_gestionvideo?action=programanalitico&id={{ autorprograma.id|encrypt }}{% endblock %}
{% block formaction %}/adm_gestionvideo{% endblock %}
{% block formactionvalue %}aprobar_unidades{% endblock %}
{% block formobjectid %}{{ unidad.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea aprobar los videos de la unidad :{{ unidad.descripcion }} {% endblock %}
{% block formobjectrepr %}{{ tema }}{% endblock %}