{% extends "basebs.html" %}
{% load sga_extras%}
{% block heading %}
    <script>
        $(function() {
            $("#id_carrera,#id_materia,#id_profesor").select2();
            $("#search").click(function() {
                var term = $("#searchinput").val().toUpperCase();
                var idcarr = $("#id_carrera").val();
                var idmat = $("#id_materia").val();
                var iddoc = $("#id_profesor").val();
                location.href = "adm_gestionvideo?action=materias_recursos&s="+term+"&idcarr="+idcarr+"&idmat="+idmat+"&iddoc="+iddoc;
            });


            reporte_recursos = function(){
                var term = $("#searchinput").val().toUpperCase();
                var idcarr = $("#id_carrera").val();
                var idmat = $("#id_materia").val();
                var iddoc = $("#id_profesor").val();
                location.href = "adm_gestionvideo?action=reporte_materias_recursos_general&s="+term+"&idcarr="+idcarr+"&idmat="+idmat+"&iddoc="+iddoc;

                return false;
            };

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    $("#search").trigger("click");
                }
            });

            $("#id_carrera").change(function () {
                $("#id_materia").html('').append('<option value="0">--TODAS LAS MATERIAS--</option>');
                var carrera = $(this).val();
                if (carrera>0) {
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/adm_gestionvideo",
                        data: {"action": "buscar_materias", "idcarr": carrera},
                        success: function (data) {
                            $.unblockUI();
                            if (data.result == 'ok') {

                                for (x = 0; x < data.lista.length; x++) {
                                    elemento = data.lista[x];
                                    $("#id_materia").append('<option value="' + elemento[0] + '">' + elemento[1] + '</option>');
                                }
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            $("#id_materia").val(0).trigger("change");
                            smoke.alert("Error de conexión.");
                        },
                        dataType: "json"
                    });
                }
            });

            $("#id_materia").change(function () {
                $("#id_profesor").html('').append('<option value="0">--TODAS LOS DOCENTES--</option>');
                var materia = $(this).val();
                if (materia > 0) {
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/adm_gestionvideo",
                        data: {"action": "buscar_profesor", "idmat": materia},
                        success: function (data) {
                            $.unblockUI();
                            if (data.result == 'ok') {
                                for (x = 0; x < data.lista.length; x++) {
                                    elemento = data.lista[x];
                                        $("#id_profesor").append('<option value="' + elemento[0] + '">' + elemento[1] + '</option>');
                                }
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            $("#id_materia").val(0).trigger("change");
                            smoke.alert("Error de conexión.");
                        },
                        dataType: "json"
                    });
                }
            });

        });

    </script>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class='row-fluid'>

        <div class="span3">
            <a onclick="reporte_recursos()" class='btn btn-success'><span class="fa fa-file-excel-o "></span> Reporte recursos de aprendizaje</a>

            <select name="id_carrera" id="id_carrera" >

                <option value="0">--NINGUNA LAS CARRERAS--</option>
                {% for carrera in carreras_select %}
                    <option {% if idcarr_select == carrera.id %} selected {% endif %} value="{{ carrera.id }}">{{ carrera }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="span3">
            <select name="id_materia" id="id_materia" >
                <option value="0">--TODAS LAS MATERIAS--</option>
                {% for mater in materias_select %}
                    <option {% if idmat_select == mater.id %} selected {% endif %} value="{{ mater.id }}">{{ mater }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="span3">
            <select name="id_profesor" id="id_profesor" >
                <option value="0">--TODOS LOS DOCENTES--</option>
                {% for prof in profesor_select %}
                    <option {% if iddoc_select == prof.id %} selected {% endif %} value="{{ prof.id }}">{{ prof }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="span3">
            <form class="form-search" onsubmit="return busqueda()">
                <input class='searchinput' type='text' id='searchinput' value='{{ search }}' autocomplete="off"/>
                <a href="javascript:;" id='search' class='btn btn-info bloqueo_pantalla'><span class="fa fa-search "></span> Buscar</a>
                {% if search or ids or idcarr_select or idmat_select or iddoc_select %}
                    <a href="/adm_gestionvideo?action=materias_recursos" id='allresults' class='btn btn-info bloqueo_pantalla'><span class="fa fa-refresh "></span> Todos</a>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span12'>
{#         {{ iddoc_select }}#}
            <table class='table table-bordered table-striped'>
                <thead>
                <tr>
                    <th>Asignatura</th>
                    <th style="width: 80px">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for materia in materias %}
                    <tr>
                        <td style="vertical-align: middle">
                            {% if persona.usuario.is_superuser %}
                                <span class="label label-info">ID_SIL: {{ materia.silabo_actual.id }}</span>
                            {% endif %}
                            {{ materia.asignatura.nombre }}
                            - {{ materia.asignaturamalla.nivelmalla }}
                            {{ materia.paralelo }}
                            {% if materia.nivel.carrera %}
                                - {{ materia.nivel.carrera.alias }}
                            {% elif materia.asignaturamalla.malla.carrera %}
                                - {{ materia.asignaturamalla.malla.carrera.alias }}
                            {% endif %}
                            {% for profesor in materia.mis_profesores %}
                                <br>
                                <strong>{{ profesor.tipoprofesor }}: </strong>{{ profesor.profesor.persona.nombre_completo_inverso }}
                            {% endfor %}
                            <br>
                            <span style="color: #0e90d2">
                                <strong>
                                    {%  if not materia.tiene_silabo_semanal %}
                                        0
                                    {% else %}
                                        {{ materia.silabo_actual.estado_planificacion_clases }}
                                    {% endif %}
                                    % Planificado
                                </strong>
                            </span><br>
                            {% with tiene_silabo_semanal=materia|call:"tiene_silabo_semanal" %}
                                {% if tiene_silabo_semanal %}
                                    {% with silabo=materia|call:"silabo_actual" %}
                                        {% if silabo %}
                                            {% with estadoaprobacion=silabo|call:'estado_aprobacion' %}
                                                {%  if estadoaprobacion %}
                                                    {% if estadoaprobacion.estadoaprobacion == aprobar %}
                                                        <span class="label label-success">{{ estadoaprobacion.get_estadoaprobacion_display }}</span>
                                                    {% else %}
                                                        {% if estadoaprobacion.estadoaprobacion == rechazar %}
                                                            <span class="label label-important">{{ estadoaprobacion.get_estadoaprobacion_display }}</span>
                                                        {% else %}
                                                            <span class="label label-warning">{{ estadoaprobacion.get_estadoaprobacion_display }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            {% endwith %}
                        </td>

                        <td style="text-align: center; vertical-align: middle">
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span></a>
                                <ul class="dropdown-menu pull-right list-group" style="text-align: left;">
                                    {% with tiene_silabo_semanal=materia|call:"tiene_silabo_semanal" %}
                                        {% if tiene_silabo_semanal %}
                                            {% with silabo=materia|call:"silabo_actual" %}
                                                {% if silabo %}
                                                                <li><a href="/adm_gestionvideo?action=listar_recursossilabos&id={{ materia.id|encrypt }}" ><i class="fa fa-eye"></i> Ver Recursos</a></li>
                                                                <li><a href="/adm_gestionvideo?action=reporte_materias_recursos&id={{ materia.id|encrypt }}" ><i class="fa fa-file-excel-o "></i> Reporte recursos</a></li>

                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endwith %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row-fluid'>
        {% if paging.num_pages > 20 %}
            <div class='pagination'>
                <ul>
                    {% if paging.primera_pagina %}
                        <li><a href="/adm_gestionvideo?action=materias_recursos&page=1">1</a></li>
                        <li><a href="/adm_gestionvideo?action=materias_recursos&page={{ paging.ellipsis_izquierda }}" class="active">...</a></li>
                    {% endif %}
                    {% for pagenumber in paging.paginas %}
                        <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/adm_gestionvideo?action=materias_recursos&page={{ pagenumber }}">{{ pagenumber }}</a></li>
                    {% endfor %}
                    {% if paging.ultima_pagina %}
                        <li><a href="/adm_gestionvideo?action=materias_recursos&page={{ paging.ellipsis_derecha }}" class="active">...</a></li>
                        <li><a href="/adm_gestionvideo?action=materias_recursos&page={{ paging.num_pages }}">{{ paging.num_pages }}</a></li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class='pagination'>
                <ul>
                    {% for pagenumber in paging.page_range %}
                        <li {%  if pagenumber == page.number %}class='active'{% endif %}><a href="/adm_gestionvideo?action=materias_recursos&{% if search %}s={{ search }}&{% endif %}page={{ pagenumber }}">{{ pagenumber }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block atras %}/adm_gestionvideo{% endblock %}
