<script type="text/javascript" src='/static/js/select2.js?v=1.0.0'></script>
<link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
<script>
    $("#aniosel,#facultad,#carrera").select2({minimumResultsForSearch: 10});
    $(".cerrar ").click(function () {
        $(".itemspanelaniogeneral").modal("hide");
    });
    $(".generar ").click(function () {
        var anio = $("#aniosel").val();
        var idcoor = $("#facultad").val();
        var idcarr = $("#carrera").val();
        var action = $(this).attr('act');
        $(".itemspanelaniogeneral").modal("hide");
        openwindow('GET', '/descargaarchivo', {action: action, anio: anio, idcoor: idcoor, idcarr: idcarr}, '_blank');
    });

    $("#reporte_anio").click(function () {
        var anio = $("#aniosel").val();
        var idcoor = $("#facultad").val();
        var idcarr = $("#carrera").val();
        var action = $(this).attr('act');
        $.get("/descargaarchivo", {'action': action, 'anio': anio, 'idcoor': idcoor, 'idcarr': idcarr}, function (data) {
            if (data.result) {
                $('#btnNotificacionTareas').html(data.btn_notificaciones);
                mensajeSuccess(data.mensaje)
            } else {
                mensajeWarning(data.mensaje)
            }
        }, 'json');
    });

    $('#facultad').change(function () {
        $('#carrera').empty().append('<option value="">---------</option>').val(0).trigger("change");
        var id_facultad = $('#facultad').val();
        if (id_facultad > 0) {
            bloqueointerface();
            $.ajax({
                type: "POST",
                url: "/descargaarchivo",
                data: {'action': 'buscacarrera', 'id_facultad': id_facultad},
                success: function (data) {
                    $.unblockUI();
                    if (data.result == 'ok') {
                        for (elemento in data.lista) {
                            $('#carrera').append('<option value="' + data.lista[elemento][0] + '">' + data.lista[elemento][1] + '</option>');
                        }
                    } else {
                        control.val(0).trigger("change");
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    control.val(0).trigger("change");
                    smoke.alert("Error de conexion.");
                },
                dataType: "json"
            });
        }
    });

</script>
<div class="row-fluid">
    <div class="span12">
        <span>Año: </span>
        <select id="aniosel" style="width: 83%">
            {% for an in lista %}
                <option value="{{ an.0 }}">{{ an.0 }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <span>Facultad: </span>
        <select id="facultad" style="width: 83%">
            <option value="0">-----Seleccione----</option>
            {% for coo in coordinacion %}
                <option value="{{ coo.id }}">{{ coo }}</option>
            {% endfor %}
        </select>
        <br><br>
        <span>Carrera: </span>
        <select id="carrera">
            <option value="0">-----Seleccione----</option>
        </select>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="pull-right">
            <a href="javascript:void(0);" id="reporte_anio" act="{{ action }}" class="btn btn-success">
                <i class="fa fa-file-excel-o"></i> Generar
            </a>
{#            <a href="javascript:;" class="btn generar btn-success" act="{{ action }}"><i class="fa fa-file-excel-o"></i> Generar</a>#}
            <a href="javascript:void(0);" class="btn cerrar btn-danger"><i class="fa fa-close"></i> Cerrar</a>
        </div>
    </div>
</div>
