{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_archivo").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block atras %}/th_personal?action=detallepersonal&ida={{ personaadmin.id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/th_personal{% endblock %}
{% block formwidth %}form-m{% endblock %}
{% block formdestination %}/th_personal?action=detallepersonal&ida={{ personaadmin.id }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addarchivotitulacion'/>
    <input type="hidden" name='id' value='{{ titulacion.id }}'/>
    <input type="hidden" name='ida' value='{{ personaadmin.id }}'/>
{% endblock %}
{% block formback %}/th_personal?action=detallepersonal&ida={{ personaadmin.id }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}