{% extends 'th_personal/basepersonal.html' %}
{% load sga_extras %}
{% block heading_ext %}

    <script type="text/javascript">


        $(function() {

            $("#tipopersonal").change(function() {
                location.href = "{{ request.path }}?s="+$("#searchinput").val().toUpperCase()+"&tipopersonal="+$("#tipopersonal").val();
            });

            busqueda = function(){
                var term = $("#searchinput").val().trim().toUpperCase();
                if (term.length>0){
                    location.href = "{{ request.path }}?s="+term+"&tipopersonal="+$("#tipopersonal").val();
                }
                return false;
            };

            $("#search").click(function() {
                busqueda();
            });

            $('#searchinput').keyup(function(e) {
                if(e.keyCode == 13) {
                    busqueda();
                }
            });

            $("#detalledatomodal_cerrar").click(function(){
                $("#detalledatomodal").modal("hide");
            });

            $("#datosnuevos").click(function(){
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/th_personal",
                    data: {'action':'detalledato'},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result=='ok'){
                            $("#detalledatomodal_body").html(data.data);
                            conectarcontroles();
                            $("#detalledatomodal").modal({"backdrop":"static", "width": "800px"}).modal("show");
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
                return false;
            });



        });
    </script>
{% endblock %}

{% block content %}

    <form method="GET" id="form-filters" enctype="multipart/form-data" style="align-items: end">
        <div class="form-row">
            <input type="hidden" name="action" value="{{ action }}"/>

            <div class="col pe-2 pb-1">
                <i class="fa fa-users" title="Tipo de personal"></i> Tipo personal:<br>
                <select name="tipopersonal" style="width: 100%" class="noselect2" id="tipopersonal">
                    <option value="1" {% if tipopersonal == 1 %}selected="selected"{% endif %}>EN PLANTILLA </option>
                    <option value="2" {% if tipopersonal == 2 %}selected="selected"{% endif %}>TODOS </option>
                </select>
            </div>
            <div class="col pe-2 pb-1">
                <i class="fa fa-search tu" title="Criterio"></i> Criterio:
                <div class="input-group text-left">
                    <input class="form-control" type='text' id='searchinput' value='{{ s }}' autocomplete="off"
                           name="s" placeholder="Buscar por Funcionario o Descripción" style="width: 60%"/>
                    <div class="input-group-append">
                        <a class="btn btn-primary" href="javascript:void(0);" onclick="busqueda()" id="button-addon2">
                                <i class="fa fa-search"></i>
                            </a>
                        {% if url_vars %}
                            <a href="{{ request.path }}"
                               id='allresults' class='btn btn-default'><span class="fa fa-refresh "></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row py-2 pt-3">
        <div class="col-md-3" style="text-align: left">

            <div class="btn-group" role="group">
                <div class="row">
                    <div class="col p-0" role="group">
                        <button id="btnGroupDrop" type="button" class="btn btn-default w-100 dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-file-earmark-arrow-down-fill"></i> Reportes <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop">
                            <li>
                                <a href="/th_personal?action=datos" class="dropdown-item">
                                    <i class="fa fa-file-excel dropdown-item-icon"></i> Datos del personal</a>
                            </li>
                            <li>
                                <a href="/th_personal?action=datossindistributivo" class="dropdown-item"><i
                                        class="fa fa-edit dropdown-item-icon"></i> Datos Personal todos </a>
                            </li>
                            <li>
                                <a href="/th_personal?action=rephojavida" class="dropdown-item"><i
                                        class="fa fa-bar-chart dropdown-item-icon"></i> Actualización de Hoja de Vida </a></li>
                            <li>
                                <a href="/th_personal?action=repdecbienes" class="dropdown-item"><i
                                        class="fa fa-laptop dropdown-item-icon"></i> Declaración de Bienes</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="dropdown-item"
                                   onclick="formModal('','','Descargar documentos de personal','descargarcomprimido','modal-md')"><i
                                        class="fa fa-file-archive-o dropdown-item-icon"> </i> Comprimido archivos cargas</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="dropdown-item"
                                   onclick="formModalBase('', 'Generar reporte de declaraciones', 'reportedeclaraciones', '', 'modal-md' )"><i
                                        class="fa fa-file-excel dropdown-item-icon"> </i> Reporte de declaraciones</a>
                            </li>
                            {% if persona.usuario.is_superuser %}
                                <li>
                                    <a href="javascript:void(0)" class="dropdown-item"
                                       onclick="confirmsweetalertmessage('Generar archivo .zip', '¿Está seguro generar comprimido de imágenes?', 'comprimidofotospersonal', '', '', '{{ request.path }}', false, false, '', 'info')"><i
                                            class="fa fa-file-archive-o dropdown-item-icon"> </i> .zip foto personal</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 text-end">
            <div>
                Títulos: <span class="badge bg-primary">{{ titulos_nuevos }}</span> |
                Cursos: <span class="badge bg-default">{{ cursos_nuevos }}</span> |
                Declaraciones: <span class="badge bg-secondary">{{ declaraciones_nuevos }}</span> |
                Ctas. bancarias: <span class="badge bg-success">{{ cbancarias_nuevos }}</span> |
                Experiencia: <span class="badge bg-dark">{{ experiencia_nuevos }}</span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class='table table_primary'>
            <thead>
            <tr>
                <th style="width: 5%"></th>
                <th style="width: 30%">Nombre</th>
                <th style="width: 20%">Cargo</th>
                <th style="width: 15%">Usuario</th>
                <th style="width: 10%">Activo</th>
                <th style="width: 10%">Documentos Cargados</th>
                <th style="width: 15%"></th>
            </tr>
            </thead>
            <tbody>
            {% for administrativo in administrativos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="text-secondary align-middle w-25">
                        <div class="mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-3 text-center"
                                     style="display: flex; align-items: center; align-content: center; justify-content: center">
                                    <img src="{{ administrativo.get_foto }}" alt=""
                                         class="img-fluid rounded-circle"
                                         width="60px">
                                </div>
                                <div class="col-md-9">
                                    <div class="">
                                        <small class="card-text" title="Nombre completo"
                                               data-bs-toggle="tooltip"><i
                                                class="fa fa-user"></i> {{ administrativo.nombre_completo_minus }}
                                        </small><br>
                                        <small class="card-text" title="Cédula" data-bs-toggle="tooltip"><i
                                                class="fa fa-address-card"></i> {{ administrativo.cedula }}
                                        </small><br>
                                        <small class="card-text">
                                            {% if administrativo.telefono %} <i class="fa fa-phone"></i>
                                                {{ administrativo.telefono }}
                                                <a href='https://web.whatsapp.com/send?l=en&phone=+593{{ administrativo.telefono }}&text=Hola {{ list.persona }}'
                                                   target="_blank" class="btn btn-mini btn-success tu"
                                                   title="Enviar mensaje por whatsapp">
                                                    <i class="fa fa-whatsapp"></i>
                                                </a>
                                            {% endif %}
                                        </small><br>
                                        <small class="card-text" title="Correo electronico"
                                               data-bs-toggle="tooltip">
                                            <i class="fa fa-envelope"></i>
                                            {% if administrativo.emailinst %}
                                                {{ administrativo.emailinst }}
                                            {% else %}
                                                {{ administrativo.email }}
                                            {% endif %}
                                        </small>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td>{{ administrativo.mi_cargo|default_if_none:'' }}</td>
                    <td>
                        {% if not administrativo.usuario.is_superuser %}
                            {{ administrativo.usuario }}
                        {% endif %}
                    </td>


                    <td style="text-align: center;">
                        {% if administrativo.activo %}
                            <i class="fa fa-check"></i>
                        {% endif %}
                    </td>

                    <td style="text-align: center">
                        {% if administrativo.regimen_vigente %}
                            {% if administrativo.regimen_vigente != 3 %}
                                {% if administrativo.documentos_personales %}
                                    <span class="label label-success tu" title="Documentos Cargados">SI</span>
                                {% else %}
                                    <span class="label label-important tu" title="Documentos No Cargados">NO</span>
                                {% endif %}
                            {% else %}
                                <span class="label label-info tu" title="No aplica">N/A</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        <a href="/th_personal?action=datospersonales&ida={{ administrativo.id }}"
                           class="btn btn-mini btn-success"><i class="fa fa-list"></i> Datos</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer border-top-0">
        {% include 'paginacionb4.html' %}
    </div>
{% endblock %}

{% block moreblock_ext %}
     <div class="modal fade static" id="detalledatomodal">
        <div class="modal-header">
            <h3 class="paneltitle">Nuevos datos ingresados</h3>
        </div>
        <div class="modal-body">
            <input type="search" style="text-transform: uppercase; margin-bottom: 0" class="input-block-level" id="FilterTextBox" name="FilterTextBox" placeholder="BUSQUEDA">
            <div style="max-height: 400px; overflow: auto">
                <table class="table table-bordered filterable">
                    <thead>
                    <tr>
                        <th style="width: 80px">Identificaci&oacute;n:</th>
                        <th>Nombre</th>
                        <th style="text-align: center; width: 40px">Tit.</th>
                        <th style="text-align: center; width: 40px">Cur.</th>
                        <th style="text-align: center; width: 40px">Decl.</th>
                        <th style="text-align: center; width: 40px">Cta.B.</th>
                        <th style="text-align: center; width: 40px">Exp.</th>
                        <th style="width: 40px"></th>
                    </tr>
                    </thead>
                    <tbody id="detalledatomodal_body">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <div style="float: right">
                <a href="javascript:;" id="detalledatomodal_cerrar" class="btn btn-info"> Cerrar</a>
            </div>
        </div>
    </div>
{% endblock %}