{% extends 'th_personal/basepersonal.html' %}
{% load sga_extras %}
{% block content %}
    <div class="row py-2 pt-3">
        <div class="col-md-3" style="text-align: left">
            <div class="btn-group" role="group">
                <div class="row">
                    <div class="col p-0" role="group">
                        <button id="btnGroupDrop" type="button" class="btn btn-default w-100 dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Reportes <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop">

                            <li>
                                <a href="/th_personal?action=repdecimo" class="dropdown-item"><i
                                        class="fa fa-file-excel-o dropdown-item-icon"></i> Excel de décimos </a></li>


                            <li>

                                <a href="javascript:void(0)"
                                   onclick="mensajeConfirmSwal('Reporte comprimido','¿Está seguro/a de descargar el reporte?',true,'{{ request.path }}','descargardecimo','','{{ request.path }}?action=decimo')"
                                   class="dropdown-item">
                                    <i class="fa fa-file-archive-o dropdown-item-icon"> </i> Comprimido archivos decimo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="btn-group" role="group">
                <div class="row">
                    <div class="col p-0" role="group">
                        <button id="btnGroupDrop" type="button" class="btn btn-default w-100 dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Procesos <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop">
                            <li>
                                <a href="javascript:void(0)" class="dropdown-item"
                                   onclick="formModalBase('','Importar décimos','importardecimo','','modal-xs')">
                                    <i class="fa fa-upload dropdown-item-icon"></i> Importar décimos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" mt-2">
            <table class='table table_primary table_striped table-responsive'>
                    <thead>
                    <tr>
                        <th style="width: 5px;text-align: center;"> </th>
                        <th style="width: 10px;text-align: center;">Inicio</th>
                        <th style="width: 30px;text-align: center;">Fin</th>
                        <th style="width: 30px;text-align: center;">regimen Laboral</th>
                        <th style="width: 30px;text-align: center;">modalidad Laboral</th>
                        <th style="width: 5px;text-align: center;"></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for reg in registro %}
                        <tr>
                            <td style="text-align: center">{{ forloop.counter }}</td>
                            <td style="text-align: center;">{{ reg.fechainicio|date:'d-m-Y' }}</td>
                            <td style="text-align: center;">{{ reg.fechafin|date:'d-m-Y' }}</td>
                            <td style="text-align: center;">{{ periodog.personasgasto.count }}</td>
                            <td style="text-align: center;">{{ periodog.personasgasto.count }}</td>


                            <td style="text-align: center;">
                                <div class="dropbottom">
                                     <a href="javascript:void(0);" class="btn-icon btn btn-ghost btn-sm rounded-circle" data-bs-toggle="dropdown" data-offset="-140" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v text-black-50 fs-6"></i>
                                        </a>

                                    <ul class="dropdown-menu pull-right" style="text-align: left">

{#                                            <a href="{{ request.path }}?action=repcargas&id={{ periodog.id }}" class="dropdown-item">#}
{#                                                <i class="fa fa-users"></i> Reporte cargas</a></li>#}
{#                                        <li>#}
{#                                            <a href="javascript:void(0)" class="dropdown-item"#}
{#                                               onclick="formModal('','{{ periodog.id }}','Descargar reporte de cargas','repcargas','modal-md')"><i#}
{#                                                    class="fa fa-file-archive-o"></i> Reporte de cargas</a>#}
{#                                        </li>#}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td style="text-align: center;" colspan="11">
                                NO EXISTEN DATOS PARA MOSTRAR
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    <div class="card-footer border-top-0">
                {% include 'paginacionb4.html' %}
    </div>


{% endblock %}

