{% extends "base.html" %}
{% load humanize %}
{% load sga_extras %}
{% block atras %}/pro_tutoriaposgrado?action=solicitudes{% endblock %}
{% block heading %}
    <script>
        $(function () {
            $("#itemspanelmasinfo .btn-cerrar").click(function () {
                $("#itemspanelmasinfo").modal("hide");

                return false;
            });

            var tabtemastitulacion = localStorage.getItem('tabtemastitulacion');
            if (!tabtemastitulacion) {
                tabtemastitulacion = "#1";
                localStorage.setItem("tabtemastitulacion", tabtemastitulacion);
            }

            $('.tabs').each(function () {
                if ($(this).attr('href') == tabtemastitulacion) {
                    $(this).trigger('click');
                }
            }).click(function () {
                localStorage.setItem("tabtemastitulacion", $(this).attr('href'));
            });

            $(".masinformacion").click(function () {
                $("#aprobarcerrar").css('display', 'none');
                var id = $(this).attr('idd');
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "{{ request.path }}",
                    data: {'action': 'masinformacionaperturado', 'id': id},

                    success: function (data) {

                        $.unblockUI();
                        if (data.result == 'ok') {

                            $(".panelbodymasinfo").html(data.data);
                            $("#itemspanelmasinfo").modal({backdrop: 'static', width: '900px'}).modal('show');
                        } else {
                            NotificationJG.error(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        NotificationJG.error("Error de conexión.");
                    },
                    dataType: "json"
                });
            });

            $(".masinformacionpareja").click(function () {
                $("#aprobarcerrar").css('display', 'none');
                var id = $(this).attr('idd');
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "{{ request.path }}",
                    data: {'action': 'masinformacionaperturadopareja', 'id': id},

                    success: function (data) {

                        $.unblockUI();
                        if (data.result == 'ok') {

                            $(".panelbodymasinfo").html(data.data);
                            $("#itemspanelmasinfo").modal({backdrop: 'static', width: '900px'}).modal('show');
                        } else {
                            NotificationJG.error(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        NotificationJG.error("Error de conexión.");
                    },
                    dataType: "json"
                });
            });

        });

    </script>
{% endblock %}
{% block canvas %}
    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3 class="texto-blue">{{ title }}</h3>
                <h6>Seleccionar el tema que desees ser tutor.</h6>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span12'>
            <div class="tabtable">
                <ul id="pills-tab-nav-second" class="nav nav-lb-tab mt-0" role="tablist">
                    <li class="nav-item">
                        <a id="pills-nav-soli-individual-tab"
                           class="nav-link py-1 active" data-bs-toggle="pill"
                           href="#pills-nav-soli-individual" role="tab"
                           aria-controls="pills-nav-soli-individual" aria-selected="true">
                            TEMAS APERTURADOS INDIVIDUAL</a></li>
                    <li class="nav-item">
                        <a id="pills-nav-soli-grupal-tab"
                            class="nav-link py-1" data-bs-toggle="pill"
                            href="#pills-nav-soli-grupal" role="tab"
                            aria-controls="pills-nav-soli-grupal" aria-selected="false">
                        TEMAS APERTURADOS EN PAREJA</a></li>
                </ul>
            </div>
            <div id="pills-tabContent-nav-second" class="tab-content">
                <div class="tab-pane fade active show" role="tabpanel" id="pills-nav-soli-individual" aria-labelledby="pills-nav-soli-individual-tab">
                    <table class='table table-bordered' cellpadding="0" cellspacing="0">
                                <thead>
                                <tr>
                                    <th colspan="6">Temas Aperturados individual</th>
                                </tr>
                                <tr>
                                    <th>Maestrante</th>
                                    <th style="width: 600px;text-align: center;">Tema</th>
                                    <th style="width: 100px;text-align: center;">Detalle</th>
                                    <th style="width: 50px;text-align: center;">Documento</th>
                                    <th style="width: 80px">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tema in temasperiodo %}
                                    {% with estadoaprobacion=tema|call:'estado_aprobacion' %}
                                        {% if estadoaprobacion %}
                                            {% if estadoaprobacion.estado == aprobar %}
                                                <tr>
                                                    <td>
                                                        {{ tema.matricula.inscripcion.persona.nombre_completo_inverso }}
                                                        <br>
                                                        <strong>Carrera: </strong> {{ tema.matricula.inscripcion.carrera }}
                                                    </td>
                                                    <td>
                                                        {{ tema.propuestatema }}
                                                    </td>
                                                    <td style="text-align: center" data-title='Detalle'>
                                                        <a class="btn btn-info btn-mini masinformacion tu"
                                                           idd="{{ tema.id }}" title="más información"
                                                           href='javascript:;'
                                                           cid="{{ tema.pk }}"> <i class='fa fa-list'></i> </a>

                                                    </td>

                                                    <td style="text-align: center">
                                                        {% if tema.archivo %}
                                                            <a href='{{ tema.archivo.url }}' target="_blank"
                                                               class='btn btn-info btn-mini tu' title="Descargar"><i
                                                                    class="fa fa-download  "></i></a>{% endif %}
                                                    </td>

                                                    <td style="text-align: center">
                                                        {% if not tema.tutor %}
                                                            <a href="javascript:;"
                                                               nhref="{{request.path}}?action=add&id={{ tema.id }}"
                                                               class='btn btn-success confirmacionmodal'><span
                                                                    class="fa fa-plus "></span> Solicitar</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endwith %}
                                    {% empty %}
                                    <tr>
                                        <td colspan="6">
                                            NO EXISTEN SOLICITUDES REGISTRADAS
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    <div class="card-footer border-top-0">
                        {% include 'paginacionb4.html' %}
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel"id="pills-nav-soli-grupal" aria-labelledby="pills-nav-soli-grupal-tab">
                    <div class="row-fluid">
                        <div class='span12'>
                            <table class='table table-bordered' cellpadding="0" cellspacing="0">
                                <thead>
                                <tr>
                                    <th colspan="6">Temas Aperturados en pareja</th>
                                </tr>
                                <tr>
                                    <th>Maestrantes</th>
                                    <th style="width: 500px;text-align: center;">Tema</th>
                                    <th style="width: 100px;text-align: center;">Detalle</th>
                                    <th style="width: 50px;text-align: center;">Documento</th>
                                    <th style="width: 80px">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tema in temasperiodogrupo %}

                                    <tr>
                                        <td>
                                            {% for foo in tema.obtener_parejas %}

                                                {{ foo.matricula.inscripcion.persona.nombre_completo_inverso }}
                                                <br>
                                                {% if forloop.last %}
                                                    <strong>Carrera: </strong>
                                                    {{ foo.matricula.inscripcion.carrera }}<br>

                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {{ tema.propuestatema }}
                                        </td>

                                        <td style="text-align: center">
                                            <a class="btn btn-info btn-mini masinformacionpareja tu"
                                               idd="{{ tema.id }}" title="más información" href='javascript:;'
                                               cid="{{ tema.pk }}"> <i class='fa fa-list'></i> </a>
                                        </td>

                                        <td style="text-align: center">
                                            {% for foo in tema.obtener_parejas %}
                                                {% if forloop.first %}
                                                    {% if foo.archivo %}
                                                        <a href='{{ foo.archivo.url }}' target="_blank"
                                                           class='btn btn-info btn-mini tu' title="Descargar"><i
                                                                class="fa fa-download  "></i></a>{% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </td>

                                        <td style="text-align: center">
                                            {% if not tema.tutor %}
                                                <a href="javascript:;"
                                                   nhref="{{ request.path }}?action=addpareja&id={{ tema.id }}"
                                                   class='btn btn-success confirmacionmodal'><span
                                                        class="fa fa-plus "></span> Solicitar</a>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    {% empty %}
                                    <tr>
                                        <td colspan="6">
                                            NO EXISTEN SOLICITUDES REGISTRADAS
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer border-top-0">
                    <div class="row my-3 px-3">
                        <div class="col-lg-12">
                            <nav>
                                {% if paging2.num_pages > 5 %}
                                    <ul class="pagination justify-content-center m-0">
                                        {% if paging2.primera_pagina %}
                                            <li class="page-item">
                                                <a class="page-link bloqueo_pantalla" href="?page2=1{{ url_vars }}">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="?page2={{ paging2.ellipsis_izquierda }}{{ url_vars }}"
                                                   class="active page-link bloqueo_pantalla">...</a></li>
                                        {% endif %}
                                        {% for pagenumber in paging2.paginas %}
                                            <li {% if pagenumber == page2.number %}class='active page-item '
                                                {% else %}class='page-item'{% endif %}>
                                                <a href="?page2={{ pagenumber }}{{ url_vars }}"
                                                   class="page-link bloqueo_pantalla">{{ pagenumber }}</a>
                                            </li>
                                        {% endfor %}
                                        {% if paging2.ultima_pagina %}
                                            <li class="page-item">
                                                <a href="?page2={{ paging2.ellipsis_derecha }}{{ url_vars }}"
                                                   class="active page-link bloqueo_pantalla">...</a></li>
                                            <li class="page-item">
                                                <a href="?page2={{ paging2.num_pages }}{{ url_vars }}"
                                                   class="page-link bloqueo_pantalla">{{ paging2.num_pages }}</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% else %}
                                    <ul class="pagination justify-content-center m-0">
                                        {% for pagenumber in paging2.page_range %}
                                            <li {% if pagenumber == page2.number %}class='active page-item'
                                                {% else %}class="page-item"{% endif %}>
                                                <a class="page-link bloqueo_pantalla"
                                                   href="?page2={{ pagenumber }}{{ url_vars }}">{{ pagenumber }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static" id="resultado" style="display: none;" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Resultado</h4>
                </div>
                <div class="modal-body">
                    <div class="row-fluid" id="contenido_resultado">
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" data-bs-dismiss="modal">Cerrar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static" id="itemspanelmasinfo" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body panelbodymasinfo">
                    <div class="modal-header">
                        <h3 class="paneltitle">Detalle del tema </h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <table class="pull-right">
                        <tr>
                            <td id="aprobarcerrar"><a href="javascript:;" class="btn btn-aprobarcerrar btn-success"> Guardar</a>
                            </td>
                            <td><a href="javascript:;" class="btn btn-info" data-bs-dismiss="modal">Cerrar</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
