{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            $("#id_fechainicio, #id_fechafin").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); }).addClass("validate[required]");
            $('#id_fechainicio, #id_fechafin').attr('autocomplete','off');
            $('#id_coordinacion').addClass("validate[required]");
            $("select").select2({minimumResultsForSearch: 10, width: "100%" });
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_evaluaciondocentesacreditacion{% endblock %}
{% block atras %}/adm_evaluaciondocentesacreditacion?action=cronogramafacultadproceso&id={{ detalle.tipocronograma }}{% endblock %}
{% block formdestination %}/adm_evaluaciondocentesacreditacion?action=cronogramafacultadproceso&id={{ detalle.tipocronograma }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='id' value='{{ detalle.id }}'/>
    <input type='hidden' name='action' value='addcronogramafacultadproceso'/>
{% endblock %}
{% block formback %}/adm_evaluaciondocentesacreditacion?action=cronogramafacultadproceso&id={{ detalle.tipocronograma }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}
