{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_nombre").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}/adm_evaluaciondocentesacreditacion?action=consultipocriterios{% endblock %}
{% block formaction %}/adm_evaluaciondocentesacreditacion{% endblock %}
{% block formdestination %}/adm_evaluaciondocentesacreditacion?action=consultipocriterios{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addtipocategoria'/>
{% endblock %}
{% block formback %}/adm_evaluaciondocentesacreditacion?action=consultipocriterios{% endblock %}
{% block buttonname %}Guardar{% endblock %}