{% extends "base.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function () {
            actualizarresumenevaluacion = function () {
                var idp = "{{ ePeriodo.id }}"
                $("#contenidotribunal").html('<div class="fa-2x"><i class="fa fa-spinner fa-spin" style="color: var(--white); --fa-animation-duration:2s;"></i>  Cargando resultado de evaluaciones docentes, por favor espere..</div>')

                $.ajax({
                    type: "POST",
                    url: "/adm_evaluaciondocentesacreditacion",
                    data: {'action': 'tablaresumenposgrado', 'idp': idp},
                    success: function (data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $("#contenidotribunal").html(data.listado);
                            var h = $(window).height() - 332;
                            var table = $('#example').DataTable({
                                language: {
                                    "decimal": "",
                                    "emptyTable": "No hay información",
                                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
                                    "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
                                    "infoFiltered": "(Filtrado de _MAX_ total Registros)",
                                    "infoPostFix": "",
                                    "thousands": ",",
                                    "lengthMenu": "Mostrar _MENU_ Registros",
                                    "loadingRecords": "Cargando...",
                                    "processing": "Procesando...",
                                    "search": "Buscar:",
                                    "zeroRecords": "Sin resultados encontrados",
                                    "paginate": {
                                        "first": "Primero",
                                        "last": "Ultimo",
                                        "next": "Siguiente",
                                        "previous": "Anterior"
                                    }
                                },
                                "sPaginationType": "full_numbers",
                                {#"scrollY": h,#}
                                "scrollX": true,
                                "lengthChange": false,
                                "scroller": true,
                                "deferRender": true,
                                {#"scrollCollapse": true,#}
                                "paging": true,
                                "ordering": false,
                                initComplete: function () {
                                    $('.dataTables_filter input[type="search"]').css({
                                        'width': '100%',
                                        'display': 'inline-block'
                                    });
                                },
                                "columnDefs": [{"visible": false, "targets": 1}],
/*                                "drawCallback": function (settings) {
                                    var api = this.api();
                                    var rows = api.rows({page: 'current'}).nodes();
                                    var last = null;
                                    var contador = 1;
                                    api.column(1, {page: 'current'}).data().each(function (group, i) {
                                        if (last !== group) {
                                            contador = contador + 1;
                                            $(rows).eq(i).before(
                                                '<tr ><td colspan="52" height="10" bgcolor="#000000"><strong>' + group + '</strong></td></tr>'
                                            );
                                            last = group
                                        }
                                    });
                                },*/
                                {#"sfixedHeader":    true,#}
                                "info": false,
                                {#                "scrollY": '50vh',#}
                                "order": [[1, 'asc']]

                            });
                            new $.fn.dataTable.FixedColumns(table, {
                                leftColumns: 1,
                                rightColumns: 1
                            });
                        } else {
                            mensajeWarning(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        control.val(0).trigger("change");
                        mensajeWarning("Error de conexion.");
                    },
                    dataType: "json"
                });

            };

            actualizarresumenevaluacion();

        });
    </script>
{% endblock %}
{% block atras %}/adm_evaluaciondocentesacreditacion{% endblock %}
{% block canvas %}
    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3 class="texto-blue">{{ title }}</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-body border-top border-6 rounded-3 border-dark-info">
                <div class="table-responsive-xxl" id="contenidotribunal">

                </div>
            </div>
        </div>
    </div>
    <script>
        actualizarresumenevaluacion();
    </script>
{% endblock %}