{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            $("#id_nombre, #id_horaspresencial, #id_horasautonoma, #id_horasvirtual").addClass("validate[required]");
            $("#id_horaspresencial").blur(function(){
                numerico($(this), 0,500, 0);
            });
            $("#id_horasautonoma").blur(function(){
                numerico($(this), 0,500, 0);
            });
            $("#id_horasvirtual").blur(function(){
                numerico($(this), 0,500, 0);
            });
        });
    </script>
{% endblock %}
{% block atras %}/adm_alternativatitulacion?action=modelotitulacion{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_alternativatitulacion?action=modelotitulacion{% endblock %}
{% block formaction %}/adm_alternativatitulacion{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addmodelotitulacion'/>
{% endblock %}
{% block formback %}/adm_alternativatitulacion?action=modelotitulacion{% endblock %}
{% block buttonname %}Guardar{% endblock %}