{% extends "ajaxdeletedinamicbs.html" %}
{% load sga_extras %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination_java %}location.reload(true);{% endblock %}
{% block formaction %}/adm_horarios/clases{% endblock %}
{% block formactionvalue %}limpiarhorarioparalelo{% endblock %}
{% block formobjectid %}{{ nivel.id }}{% endblock %}
{% block formobjectrepr %}{{ nivel }}{% endblock %}
{% block fieldsextra %}
    <input type="hidden" name="mallaid" value="{{ mallaid }}">
    <input type="hidden" name="paraleloid" value="{{ paraleloid }}">
    <input type="hidden" name="nivelmallaid" value="{{ nivelmallaid }}">
{% endblock %}