{% load sga_extras %}
<script type="text/javascript">
$(function () {
    let contador = 1;
    
    document.getElementById("fecha").textContent = "{{ grupoplanificacion.aulaplanificacion.turnoplanificacion.fechaplanificacion.fecha }}";
    document.getElementById("horainicio").textContent = "{{ grupoplanificacion.aulaplanificacion.turnoplanificacion.horainicio }}";
    document.getElementById("horafin").textContent = "{{ grupoplanificacion.aulaplanificacion.turnoplanificacion.horafin }}";
    document.getElementById("responsable").textContent = "{{ grupoplanificacion.responsable }}";
    document.getElementById("grupo").textContent = "{{ grupoplanificacion.grupo }}";
    document.getElementById("aula").textContent = "{{ grupoplanificacion.aulaplanificacion.aula.nombre }}";
    document.getElementById("sede").textContent = "{{ grupoplanificacion.aulaplanificacion.turnoplanificacion.fechaplanificacion.sede }}";
    {% for item in tibunal %}
        document.getElementById("profesor" + contador).textContent = "{{ item.responsable}}";
        console.log("profesor" + contador)
        contador++;
    {% endfor %}
});
</script>

<div class='row'>
    <div class='col-lg-12'>
        <div class="headtitle">
            <h3>{{ asignada.matricula.inscripcion }}</h3>
            {% if asignada.materia %}
                <h6>{{ asignada.materia }} </h6>
            {% endif %}
            <h6>NIVEL MALLA: {{ ultimonivelmalla }}</h6>
            <h6>PENÚLTIMO NIVEL MALLA: {{ penultimonivel }}</h6>
        </div>
    </div>
</div>
 <div class="container-fluid">
    <div class="card mb-4">
        <div class="card-body border-top border-6 rounded-3 border-dark-info">
            <table class='tabla_responsive table table-bordered table-striped'>
           <tr>
                <th>Fecha :</th>
                <td id="fecha"></td>
                <th>Hora inicio :</th>
                <td id="horainicio"></td>
                <th>Hora fin :</th>
                <td id="horafin"></td>
            </tr>
            <tr>
                <th>Profesor1 :</th>
                <td id="profesor1" colspan="2"></td>
                <th>Profesor2 :</th>
                <td id="profesor2" colspan="2"></td>
            </tr>
             <tr>
                <th>Profesor3 :</th>
                <td id="profesor3" colspan="2"></td>
                <th>Profesor4 :</th>
                <td id="profesor4" colspan="2"></td>
            </tr>
            <tr>
                <th>Responsable :</th>
                <td id="responsable" colspan="5"></td>
            </tr>
            <tr>
                <th>Sede :</th>
                <td id="sede" colspan="5"></td>
            </tr>
            <tr>
                <th>Aula :</th>
                <td id="aula"></td>
                <th>Grupo :</th>
                <td id="grupo" colspan="4"></td>
            </tr>
        </table>
        </div>
    </div>
</div>
