{% load sga_extras %}

    <link href="/static/bootstrap5/libs/timepicker/css/bootstrap-timepicker.css" rel="stylesheet">
    <script src="/static/bootstrap5/libs/timepicker/js/bootstrap-timepicker.js"> </script>
    <link href="/static/bootstrap5/libs/datepicker/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="/static/bootstrap5/libs/datepicker/js/bootstrap-datepicker.js"> </script>

<script type="text/javascript">
    $(document).ready(function(){
        $(".selectorhora").timepicker({
            minuteStep: 1,
            appendWidgetTo: 'body',
            showSeconds: false,
            showMeridian: false,
            defaultTime: false
          });
        $(".selectorfecha").datepicker({
            format: "dd-mm-yyyy",
            autoclose: true
        }).on('changeDate', function(ev){
            $(this).datepicker('hide');
        });


         if ('{{ action }}'=='aditdisertacionalumno') {
            $(".selectorfecha").datepicker('setDate', initialDate);
        } else {
            // Si no hay fecha inicial, usar la fecha actual
            var today = new Date();
            var day = String(today.getDate()).padStart(2, '0');
            var month = String(today.getMonth() + 1).padStart(2, '0'); // Los meses son de 0 a 11
            var year = today.getFullYear();
            var formattedDate = day + '-' + month + '-' + year;
            $(".selectorfecha").datepicker('setDate', formattedDate);
        }

    });

         function toggleAulaField() {
                var sedeValue = $('#id_sede').val();
                if (sedeValue == '1') {  // El valor que corresponde a "UNIVERSIDAD ESTATAL DE MILAGRO"
                    $('#fieldset_aula').show();
                } else {
                    $('#fieldset_aula').hide();
                }
            }

            $('#id_sede').change(function(){
                toggleAulaField();
            });

            toggleAulaField();

    $("select").select2({width: '100%'});
    $(function() {

       ItemsDisplay = function (item) {
             if (item.text) {
                 return $('<span>' + item.text + '</span>');
             } else {
                 if (item.name) {
                     return $('<span>' + item.name + '</span>');
                 } else {
                     return '---------';
                 }
             }
         };

       $('#id_profesor1').trigger('change');
       $("#id_profesor1").select2({
             placeholder: "Buscar Persona",
             allowClear: true,
             width: '100%',
             ajax: {
                 url: function (params) {
                     return "{{ request.path }}?action=buscarpersonas&q=" + params.term;
                 },
                 dataType: 'json',
                 delay: 400,
                 data: function (params) {
                     return {
                         q: params.term,
                         page: params.page
                     };
                 },
                 processResults: function (data, params) {
                     params.page = params.page || 1;
                     return {
                         results: data.results,
                         pagination: {
                             more: (params.page * 30) < data.total_count
                         }
                     };
                 },
                 cache: true
             },
             escapeMarkup: function (markup) {
                 return markup;
             },
             minimumInputLength: 1,
             templateResult: ItemsDisplay,
             templateSelection: ItemsDisplay
         }).on("select2:select", function (evt) {
             $("#id_profesor1").attr({"value": (evt.params.data.id)});
       });
       $('#id_profesor2').trigger('change');
       $("#id_profesor2").select2({
             placeholder: "Buscar Persona",
             allowClear: true,
             width: '100%',
             ajax: {
                 url: function (params) {
                     return "{{ request.path }}?action=buscarpersonas&q=" + params.term;
                 },
                 dataType: 'json',
                 delay: 400,
                 data: function (params) {
                     return {
                         q: params.term,
                         page: params.page
                     };
                 },
                 processResults: function (data, params) {
                     params.page = params.page || 1;
                     return {
                         results: data.results,
                         pagination: {
                             more: (params.page * 30) < data.total_count
                         }
                     };
                 },
                 cache: true
             },
             escapeMarkup: function (markup) {
                 return markup;
             },
             minimumInputLength: 1,
             templateResult: ItemsDisplay,
             templateSelection: ItemsDisplay
         }).on("select2:select", function (evt) {
             $("#id_profesor2").attr({"value": (evt.params.data.id)});
       });
       $('#id_profesor3').trigger('change');
       $("#id_profesor3").select2({
             placeholder: "Buscar Persona",
             allowClear: true,
             width: '100%',
             ajax: {
                 url: function (params) {
                     return "{{ request.path }}?action=buscarpersonas&q=" + params.term;
                 },
                 dataType: 'json',
                 delay: 400,
                 data: function (params) {
                     return {
                         q: params.term,
                         page: params.page
                     };
                 },
                 processResults: function (data, params) {
                     params.page = params.page || 1;
                     return {
                         results: data.results,
                         pagination: {
                             more: (params.page * 30) < data.total_count
                         }
                     };
                 },
                 cache: true
             },
             escapeMarkup: function (markup) {
                 return markup;
             },
             minimumInputLength: 1,
             templateResult: ItemsDisplay,
             templateSelection: ItemsDisplay
         }).on("select2:select", function (evt) {
             $("#id_profesor3").attr({"value": (evt.params.data.id)});
       });
       $('#id_profesor4').trigger('change');
       $("#id_profesor4").select2({
             placeholder: "Buscar Persona",
             allowClear: true,
             width: '100%',
             ajax: {
                 url: function (params) {
                     return "{{ request.path }}?action=buscarpersonas&q=" + params.term;
                 },
                 dataType: 'json',
                 delay: 400,
                 data: function (params) {
                     return {
                         q: params.term,
                         page: params.page
                     };
                 },
                 processResults: function (data, params) {
                     params.page = params.page || 1;
                     return {
                         results: data.results,
                         pagination: {
                             more: (params.page * 30) < data.total_count
                         }
                     };
                 },
                 cache: true
             },
             escapeMarkup: function (markup) {
                 return markup;
             },
             minimumInputLength: 1,
             templateResult: ItemsDisplay,
             templateSelection: ItemsDisplay
         }).on("select2:select", function (evt) {
             $("#id_profesor4").attr({"value": (evt.params.data.id)});
       });
       $('#id_responsable').trigger('change');
       $("#id_responsable").select2({
             placeholder: "Buscar Persona",
             allowClear: true,
             width: '100%',
             ajax: {
                 url: function (params) {
                     return "{{ request.path }}?action=buscarpersonas&q=" + params.term;
                 },
                 dataType: 'json',
                 delay: 400,
                 data: function (params) {
                     return {
                         q: params.term,
                         page: params.page
                     };
                 },
                 processResults: function (data, params) {
                     params.page = params.page || 1;
                     return {
                         results: data.results,
                         pagination: {
                             more: (params.page * 30) < data.total_count
                         }
                     };
                 },
                 cache: true
             },
             escapeMarkup: function (markup) {
                 return markup;
             },
             minimumInputLength: 1,
             templateResult: ItemsDisplay,
             templateSelection: ItemsDisplay
         }).on("select2:select", function (evt) {
             $("#id_responsable").attr({"value": (evt.params.data.id)});
       });
    });


</script>
<div class='row'>
    <div class='col-sm-12'>
        <form id="form" style="width: 100%; margin-bottom: 0">
            <input type='hidden' name='action' value='{{ action }}'/>
            <input type='hidden' name='id' value='{{ id }}'/>
            <input type='hidden' name='cdla' value='{{ cdla }}'/>
            <div class="row">
                {% for field in form %}
                    {% if field.field.widget.attrs.separator %}
                        {% if field.field.widget.attrs.blanklinebefore %}
                        {% endif %}
                        <div style="width: 100%; height: max-content">
                            <h6 style="width:100%; text-align:left; border-bottom: 1px solid #98a3ab; line-height:0.1em; margin:10px 0 20px;">
                <span style="padding:0 10px; background: #f5f5f5;">
                    {% if field.field.widget.attrs.separatortitle %}
                        {{ field.field.widget.attrs.separatortitle }}
                    {% endif %}
                 </span>
                            </h6>
                        </div>
                    {% endif %}
                    <div id="fieldset_{{ field.name }}" class="col-lg-{{ field.field.widget.attrs.col }}"
                         style="float: left; padding-left: 20px;">
                        <label class="control-label pr-2"
                               for="id_{{ field.name }}"><b>{{ field.label }}&nbsp;:</b></label>
                        {{ field }}
                        <p class="help-text">{{ field.help_text }} </p>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
