{% extends "ajaxformbs.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            $("#id_grupocategoria, #id_piezaparte, #id_tipo").addClass("validate[required]");
            $('#id_piezaparte').empty();

            $('#id_grupocategoria').change(function() {
                var idcat = $('#id_grupocategoria').val();
                $('#id_piezaparte').empty();
                $('#id_piezaparte').append('<option value="">-----</option>');
                $('#select2-id_piezaparte-container').attr('title', '------').text('------');
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_hdincidente",
                    data: {'action': 'listatipopieza', 'idcat': idcat},
                    success: function (data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            for (elemento in data.lista) {
                                $('#id_piezaparte').append('<option value="'+data.lista[elemento][0]+'">'+data.lista[elemento][1]+'</option>');
                            }
                        } else {
                            control.val(0).trigger("change");
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        control.val(0).trigger("change");
                        smoke.alert("Error de conexion.");
                    },
                    dataType: "json"
                });
            });
        });
    </script>
{% endblock %}
{% block atras %}/adm_hdincidente?action=solicitudespiezapartes{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_hdincidente?action=solicitudespiezapartes{% endblock %}
{% block formaction %}/adm_hdincidente{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addsolicitudpiezaparte'/>
{% endblock %}
{% block formback %}/adm_hdincidente?action=solicitudespiezapartes{% endblock %}
{% block buttonname %}Guardar{% endblock %}