{% extends "basebs.html" %}
{% load humanize %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src='/static/js/jquery.validationEngine.js?v=1.0.0'></script>
    <script type="text/javascript" src='/static/js/jquery.validationEngine-es.js?v=1.0.0' ></script>
    <link type='text/css' rel='stylesheet' href="/static/css/validationEngine.jquery.css?v=1.0.0"/>
    <script type="text/javascript" src="/static/js/bootstrap-filestyle.min.js?v=1.0.1"> </script>
    <script type="text/javascript" src='/static/js/select2.js?v=1.0.0' ></script>
    <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
    <script type="text/javascript">

        $(function () {
            $('.select2').select2({width:'100%'})
        })
        $.extend(true, $.fn.dataTable.defaults, {
            oLanguage: {
                sSearch: "<span>Filtro:</span> _INPUT_",
                sLengthMenu: "<span>Mostrar Entradas:</span> _MENU_",
                sZeroRecords: "No se encontraron resultados",
                sProcessing: "Procesando...",
                sEmptyTable: "Ningún dato disponible para visualizar",
                sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                sLoadingRecords: "Cargando...",
                oPaginate: {
                    sFirst: "<i title='Inicio' class='fa fa-step-backward'></i>",
                    sLast: "<i title='Último' class='fa fa-step-forward'></i>",
                    sNext: "<i title='Siguiente' class='fa fa-fast-forward'></i>",
                    sPrevious: "<i title='Anterior' class='fa fa-fast-backward'></i>"
                },
            }
        });
        var ControllerRequestsPredataBecados = {
            init: function (eData={}){
                var self = this;
                self.$eData = eData;
                self.$table = $('.datatable table#dtViewRequestsPredatabecados');

                $(".action-add").click(function (){
                    uiModal.open('new', 0);
                });

                self.loadDataTable();
                $("#action_min").click(function(){
                    $("#panel_filter .panel-body").hide();
                    $("#action_min").hide();
                    $("#action_max").show();
                });
                $("#action_max").click(function(){
                    $("#panel_filter .panel-body").show();
                    $("#action_min").show();
                    $("#action_max").hide();
                });


                $("#action_min").trigger("click");

            },
            loadDataTable: function(){
                var self = this;
                self.$table.dataTable({
                    responsive: true,
                    searchDelay: 1000,
                    bJQueryUI: false,
                    bAutoWidth: false,
                    //bProcessing: true,
                    bServerSide: true,
                    bSort: false,
                    sPaginationType: "full_numbers",
                    iDisplayLength: 25,
                    sDom: '<"datatable-header"fl><"datatable-scroll"tr><"datatable-footer"ip>',
                    sAjaxSource: "{{request.path}}",
                    sServerMethod: "POST",
                    /*initComplete: function () {
                        console.log('Hola estoy aqui');
                        this.api()
                            .columns([2,3,4])
                            .every(function () {
                                var column = this;
                                var select = $('<select><option value=""></option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                        column.search(val ? '^' + val + '$' : '', true, false).draw();
                                    });

                                column
                                    .data()
                                    .unique()
                                    .sort()
                                    .each(function (d, j) {
                                        select.append('<option value="' + d + '">' + d + '</option>');
                                        console.log(d, j)
                                    });
                            });
                    },*/
                    aoColumnDefs:
                        [
                            {
                                aTargets: [0],
                                width: "30%",
                                mRender: function (data, type, row) {
                                    let html = `
{% comment %}                                              <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                                                <div class="avatar avatar-sm mr-8pt" style="width: 50px">
                                                    <img class="avatar img-circle grupo.matricula.inscripcion.file_info_image img-thumbnail"
                                                     src="${data.foto}"
                                                     width="100px">
                                                </div>
                                                <div class="media-body" style="width: 100%">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex d-flex flex-column">
                                                            <i class="fa fa-user"></i> ${data.nombres}<br>
                                                            <i class="fa fa-address-card"></i> ${data.documento} <br>
                                                            | <i class="fa fa-phone"></i>
                                                            <b>${data.tipo_documento}: </b> ${data.documento}<br>
                                                            <b>Tipo: </b> <span class="label label-success tu" data-original-title="${data.becatipo}">${data.becatipo_nombrecorto}</span><br>
                                                            <b>Carrera: </b> ${data.carrera}<br>
                                                            <b>Promedio: </b> ${data.promedio}<br>
                                                            <b>Prioridad: </b> ${data.prioridad ? '<span class="label label-warning tu" data-original-title="Tiene prioridad">SI</span>':'<span class="label label-info tu" data-original-title="No tiene prioridad">NO</span>' }
                                                        </div>
                                                    </div>
                                                 </div>
                                              </div>{% endcomment %}
                                              ${data.nombres} <br>
                                            <b>${data.tipo_documento}: </b> ${data.documento}<br>
                                            <b>Tipo: </b> <span class="label label-success tu" data-original-title="${data.becatipo}">${data.becatipo_nombrecorto}</span><br>
                                            <b>Carrera: </b> ${data.carrera}<br>
                                            <b>Promedio: </b> ${data.promedio}<br>
                                            <b>Prioridad: </b> ${data.prioridad ? '<span class="label label-warning tu" data-original-title="Tiene prioridad">SI</span>':'<span class="label label-info tu" data-original-title="No tiene prioridad">NO</span>' }`;

                                    return html;
                                },
                                fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                    if (sData != 'NULL') {
                                        $(nTd).css('text-align', 'left');
                                        $(nTd).css('vertical-align', 'middle');
                                        $(nTd).css('padding', '8px');
                                    }
                                }
                            },
                            {
                                aTargets: [1],
                                width: "20%",
                                mRender: function (data, type, row) {
                                    let elemails = ``;
                                    for (const email of data.emails) {
                                        elemails += `<a href="${email}">${email}</a>  `;
                                    }
                                    let html = `${elemails} <br>
                                            ${data.telefonos}<br>
                                            <b>Direccion:.</b> ${data.direccion}<br>`;
                                    return html;
                                },
                                fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                    if (sData != 'NULL') {
                                        $(nTd).css('text-align', 'left');
                                        $(nTd).css('vertical-align', 'middle');
                                        $(nTd).css('padding', '8px');
                                        $(nTd).attr('data-title', '#');
                                    }
                                }
                            },
                            {
                                aTargets: [2],
                                width: "15%",
                                mRender: function (data, type, row) {
                                    let elemails = ``;
                                    let html = `<span class="label label-success tu" data-original-title="Estado de Gratuidad">
                                                    ${data.estado_gratuidad_texto}
                                                </span>
                                                <span class="label label-info tu" data-original-title="Nivel academico">
                                                   ${data.session} - ${data.matriculaactual.display}
                                                </span>
                                                <br><b>Per actual:</b>
                                                <span class="label label-${data.matriculaactual.tipo_matricula == 1?'success':'dark'} tu" data-original-title="">
                                                    ${data.matriculaactual.tipo_matricula_texto}
                                                </span>
                                                <br><b>Per anterior:</b>
                                                <span class="label label-${data.matriculaanterior.tipo_matricula == 1?'success':'dark'}  tu" data-original-title="">
                                                    ${data.matriculaanterior.tipo_matricula_texto}
                                                </span>
                                                <span class="label label-info tu" data-original-title="">
                                                   ${data.session} - ${data.matriculaactual.id} - ${data.becatipo_id}
                                                </span>`;
                                    return html;
                                },
                                fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                    if (sData != 'NULL') {
                                        $(nTd).css('text-align', 'left');
                                        $(nTd).css('vertical-align', 'middle');
                                        $(nTd).css('padding', '8px');
                                        $(nTd).attr('data-title', '#');
                                    }
                                }
                            },
                            {
                                aTargets: [4],
                                width: "15%",
                                mRender: function (data, type, row)
                                {
                                    return `<input type="hidden" class="dt-col-option" value="${data["id"]}"/> <input type="hidden" class="dt-col-data-nombre" value="${data["nombre"]}"/> <input type="hidden" class="dt-col-data-prioridad" value="${data["prioridad"] ? 1:0}"/>`;
                                },
                                fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                    if (sData != 'NULL') {
                                        $(nTd).css('text-align', 'center');
                                        $(nTd).css('vertical-align', 'middle');
                                        $(nTd).css('padding', '8px');
                                        $(nTd).attr('data-title', '#');
                                    }
                                }
                            },
                        ],
                    fnServerParams: function (aoData)
                    {
                        bloqueointerface();
                        aoData.push(
                            {"name": "action", "value": 'loadDataTablePreDataBecas'},
                            {"name": "bt", "value": $("#id_tipobeca").val()},
                            {"name": "bests", "value": $("#id_estado_seleccion").val()},
                        );
                        for (const name  in self.$eData) {
                            aoData.push({"name": name, "value": self.$eData[name]})
                        }
                    },
                    fnDrawCallback: function (oSettingst, oData) {
                        var count = 0;
                        $.unblockUI();
                        $('.dt-col-option').each(function(){
                            const id = $(this).val();
                            const nombre = $('.dt-col-data-nombre').eq(count).val();
                            const prioridad = $('.dt-col-data-prioridad').eq(count).val() == "1" ?? false;
                            const $html = $('#el-templates [element="table-row-actions"] .table-controls').clone();
                            if (prioridad == false){
                                $('.dt-action-yes-prioridad', $html).parent('li').removeClass('hidden');
                                $('.dt-action-no-prioridad', $html).parent('li').addClass('hidden');
                                $('.dt-action-yes-prioridad', $html).click(function(){
                                    console.log('Funcion yes');
                                    const question = `Al dar prioridad al estudiante se considera para el ingreso directo. <br>¿Está seguro de dar prioridad a <span class="label label-warning">${nombre}</span>?`;
                                    Confirm.question(question, function () {
                                        console.log('Dijo si');
                                        bloqueointerface();
                                        var aData = {"action": "changeEstadoPrioridad", 'id': id, 'prioridad': 1}
                                        $.ajax({
                                            type: "POST",
                                            url: "{{ request.path }}",
                                            data: aData,
                                            success: function(data) {
                                                if (data.result) {
                                                    self.$table.dataTable().fnDraw(false);
                                                    NotificationJG.success(data.mensaje)
                                                }
                                                else{
                                                    NotificationJG.error(data.mensaje);
                                                }
                                                $.unblockUI();
                                            },
                                            error: function() {
                                                $.unblockUI();
                                                NotificationJG.error("Error al enviar los datos.");
                                            },
                                            dataType: "json",
                                        });
                                    }, function () {
                                        NotificationJG.info("Enhorabuena has cancelado la acción.!");

                                    });
                                });
                            }else{
                                $('.dt-action-yes-prioridad', $html).parent('li').addClass('hidden');
                                $('.dt-action-no-prioridad', $html).parent('li').removeClass('hidden');
                                $('.dt-action-no-prioridad', $html).click(function(){
                                    console.log('Funcion not');
                                    const question = `Al quitar prioridad al estudiante ya no se considera para el ingreso directo. <br>¿Está seguro de quitar prioridad a <span class="label label-warning">${nombre}</span>?`;
                                    Confirm.question(question, function () {
                                        console.log('Dijo si');
                                        bloqueointerface();
                                        var aData = {"action": "changeEstadoPrioridad", 'id': id, 'prioridad': 0}
                                        $.ajax({
                                            type: "POST",
                                            url: "{{ request.path }}",
                                            data: aData,
                                            success: function(data) {
                                                if (data.result) {
                                                    self.$table.dataTable().fnDraw(false);
                                                    NotificationJG.success(data.mensaje)
                                                }
                                                else{
                                                    NotificationJG.error(data.mensaje);
                                                }
                                                $.unblockUI();
                                            },
                                            error: function() {
                                                $.unblockUI();
                                                NotificationJG.error("Error al enviar los datos.");
                                            },
                                            dataType: "json",
                                        });
                                    }, function () {
                                        NotificationJG.info("Enhorabuena has cancelado la acción.!");

                                    });
                                });
                            }
                            count ++;
                            $(this).after( $html );
                        });
                        {#$('.paneltitle',self.$modalForm).html(self.$eData.title);#}
                        {#self.$modalForm.modal({backdrop:'static', width: '90%', keyboard: false}).modal('show');#}
                    },
                });
                $("#dtViewRequestsPredatabecados_filter input").unbind(); // 'x' es el nombre de tu tabla
                $('#dtViewRequestsPredatabecados_filter input').bind('keyup', function (e) {
                    if (e.keyCode == 13) {
                        self.searhFilter();
                    }
                });
            },
            destroy:function (){
                var self = this;
                self.$table.fnDestroy();
            },
            searhFilter: function () {
                var self = this;
                let value = $('#dtViewRequestsPredatabecados_filter input').val()
                self.$table.dataTable().fnFilter(value);
            }
        };
        $(function () {
            ControllerRequestsPredataBecados.init();
        });
    </script>
{% endblock %}
{% block atras %}/adm_becas{% endblock %}
{% block canvas %}
    <div class="row-fluid">
        <div class="card mb-4">
            <div class="card-header border-bottom-0">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="d-md-flex align-items-center">
                        <a href="{{ request.path }}?action=adicionarprebecado" class="btn btn-success"><i
                                class="fa fa-plus"></i> Adicionar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <select id="id_tipobeca" name="td" onchange="ControllerRequestsPredataBecados.searhFilter()" class="select2 form-control" style="width: 100%">
                <option value="" {% if becatipo_select == 0 %} selected {% endif %}>
                    ----TODAS----
                </option>
                {% for beca_config in becatipo_configuraciones %}
                    <option value="{{ beca_config.becatipo.id }}" {% if beca_config.becatipo.id  == becatipo_select %}selected {% endif %} >
                        {{ beca_config.becatipo }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="span3">
            <select id="id_estado_seleccion" onchange="ControllerRequestsPredataBecados.searhFilter()" name="td" class="select2 form-control" style="width: 100%">
                <option value="" {% if not becatipo_configuraciones %} selected {% endif %}>
                    ----TODAS----
                </option>
                <option value="1"> Seleccionados</option>
                <option value="2"> No Seleccionados</option>
            </select>
        </div>
        <div class="span3">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:;">Reportes <span class="caret"></span></a>
                <ul class="dropdown-menu pull-left">
                    <li>
                        <a href="{{ request.path }}?action=rpt_preinscriptos_becas&tpr=2&bsel=1">
                            <i class="fa fa-file-excel"></i> Listado de seleccionados a becas
                        </a>
                    </li>
                    <li>
                        <a href="{{ request.path }}?action=rpt_preinscriptos_becas&tpr=2&bsel=0">
                            <i class="fa fa-file-excel"></i> Listado general
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span3"></div>
    </div>

    <div id="no-more-tables">
        <div class="row-fluid">
            <div class="span12">
                <div class="datatable" id="divDetailData">
                    <table id="dtViewRequestsPredatabecados" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th style="text-align: center; vertical-align: middle; width: 30%">Estudiante</th>
                            <th style="text-align: center; vertical-align: middle; width: 10%">EMAIL / TELÉFONOS</th>
                            <th style="text-align: center; vertical-align: middle; width: 10%">NIVEL / MATRICULA</th>
                            <th style="text-align: center; vertical-align: middle; width: 20%">Semestre</th>
                            <th style="text-align: center; vertical-align: middle; width: 20%">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="el-templates" style="display:none;">
        <div element="table-row-actions">
            <table>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="table-controls">
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-right" style="text-align: left">
                                    <li class="hidden"><a href="javascript:;" class="dt-action-yes-prioridad"><i class="fa fa-check"></i> Dar prioridad</a></li>
                                    <li class="hidden"><a href="javascript:;" class="dt-action-no-prioridad"><i class="fa fa-close"></i> Quitar prioridad</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
     <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><b class="paneltitle">FORMULARIO MODAL</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" style="padding: 1.5%;">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="row panelbody">
                        </div>
                    </form>
                </div>
                <div class="modal-footer" id="footermodal">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-times"></i>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}