{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src='/static/js/jquery-ui-1.10.3.js?v=1.0.0'></script>
    <style type="text/css">
        .modal-header {
            padding: 9px 15px;
            border-bottom: 1px solid #ddd;
            background-color: #eaf5e2;
            color: #3f572c;
            border-radius: 6px 6px 0 0;
        }
    </style>
    <script type="text/javascript">
        //window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';
        //$.fn.select2.defaults.set('language', 'es');
        $.extend(true, $.fn.dataTable.defaults, {
            oLanguage: {
                sSearch: "<span>Filtro:</span> _INPUT_",
                sLengthMenu: "<span>Mostrar Entradas:</span> _MENU_",
                sZeroRecords: "No se encontraron resultados",
                sProcessing: "<div style='margin: 0 auto; width: 60px; height: 60px; background-color: #0c6251; opacity: .6'><img src='/static/images/ajax-document-loader.gif'/></div>",
                sEmptyTable: "Ningún dato disponible para visualizar",
                sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                sLoadingRecords: "Cargando...",
                oPaginate: {
                    sFirst: "<i title='Inicio' class='fa fa-step-backward'></i>",
                    sLast: "<i title='Último' class='fa fa-step-forward'></i>",
                    sNext: "<i title='Siguiente' class='fa fa-fast-forward'></i>",
                    sPrevious: "<i title='Anterior' class='fa fa-fast-backward'></i>"
                },
            }
        });

        var myController = {
            //************************************************
            // FUNCTION **************************************
            //************************************************
            init: function ()
            {
                var self = this;

                self.$table = $('#dataTableListTests table');

                self.$table.dataTable({
                    responsive: true,
                    searchDelay: 1000,
                    bJQueryUI: false,
                    bAutoWidth: false,
                    //bProcessing: true,
                    bServerSide: true,
                    bSort: false,
                    sPaginationType: "full_numbers",
                    iDisplayLength: 25,
                    sDom: '<"datatable-header"fl><"datatable-scroll"tr><"datatable-footer"ip>',
                    sAjaxSource: "box_psicologica",
                    sServerMethod: "POST",
                    //"dom": '<"toolbar">frtip',
                    //buttons: ['csv', 'excel', 'pdf', 'print'],
                    aoColumnDefs:
                        [
                            {
                                /*CODIGO*/
                                aTargets: [0],
                                width: "6%",
                                fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                {
                                    if(sData != 'NULL') {
                                        $(nTd).css('text-align', 'center')
                                        $(nTd).css('vertical-align', 'middle')
                                        $(nTd).css('padding', '8px')
                                    }
                                }
                            },
                            {
                                /*NOMBRE*/
                                aTargets: [1],
                                width: "70%",
                                fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                {
                                    if(sData != 'NULL') {
                                        $(nTd).css('text-align', 'left')
                                        $(nTd).css('vertical-align', 'middle')
                                        $(nTd).css('padding', '8px')
                                    }
                                }
                            },
                            {
                                /*VERSION*/
                                aTargets: [2],
                                width: "8%",
                                /*mRender: function (data, type, row)
                                {
                                    return '<input type="hidden" class="dt-col-estado" value="' + (data) + '"/>';
                                },*/
                                fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                {
                                    if(sData != 'NULL') {
                                        $(nTd).css('text-align', 'center')
                                        $(nTd).css('vertical-align', 'middle')
                                        $(nTd).css('padding', '8px')
                                    }
                                }
                            },
                            {
                                /*ACCIONES*/
                                aTargets: [3],
                                width: "16%",
                                mRender: function (data, type, row)
                                {
                                    return '<input type="hidden" class="dt-col-option" value="' + (data.id) + '"/>'+
                                        '<input type="hidden" class="dt-col-option-can-delete-edit" value="' + (data.can_delete_edit ? 1 : 0) + '"/>';
                                },
                                fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                {
                                    if(sData != 'NULL') {
                                        $(nTd).css('text-align', 'center')
                                        $(nTd).css('vertical-align', 'middle')
                                        $(nTd).css('padding', '8px')
                                    }
                                }
                            },
                        ]
                    ,
                    initComplete: function(settings, json) {
                        //$("div.datatable-header").before('<a class="btn btn-success addTest" href="javascript:;" style="margin-bottom: 5px;"><i class="fa fa-plus"></i> Adicionar</a>');
                        //$("div.datatable-header").css('margin-bottom', '30px')
                        //$("#dtViewListTests_filter").css('margin-bottom', '35px')
                        $("#dtViewListTests_filter input").unbind();
                        $("#dtViewListTests_filter input").bind('keyup', function (e) {
                            //console.log("eeee");
                            if (e.keyCode == 13) {
                                self.$table.dataTable().fnFilter(this.value);
                            }
                        });

                        $.unblockUI();
                    },
                    fnServerParams: function (aoData)
                    {
                        bloqueointerface();
                        aoData.push({"name": 'action', "value": 'load_datatable_tests'})

                    },
                    fnDrawCallback: function (oSettingst)
                    {
                        var count = 0;
                        $.unblockUI();

                        //aTargets: [3]
                        $('.dt-col-option').each(function () {
                            var id = $(this).val();
                            var can_delete_edit = $('.dt-col-option-can-delete-edit').eq(count).val();
                            if (can_delete_edit == 1) {
                                var html = '' +
                                    '<div class="btn-group">' +
                                    '<button class="btn btn-primary btn-icon btn-xs tu dt-action-edit" href="javascript:;"><i class="fa fa-edit"></i> Editar</button>' +
                                    '</div>' +
                                    '<div class="btn-group">' +
                                    '<button class="btn btn-danger btn-icon btn-xs tu dt-action-eliminar" href="javascript:;"><i class="fa fa-remove"></i> Eliminar</button>' +
                                    '</div>';

                                var $html = $(html);

                                $(".dt-action-edit", $html).click(function () {

                                    //var aData = {"id": id, "idm": idm, "idi": idi, "alumno": alumno, "action": "LoadRequirementsStudentInformation"}
                                    //ModalValidateRequirements.open(aData);
                                    //console.log(id);
                                    myModalAddTest.open(id, true)
                                });

                                $(".dt-action-eliminar", $html).click(function () {

                                    //var aData = {"id": id, "idm": idm, "idi": idi, "alumno": alumno, "action": "LoadRequirementsStudentInformation"}
                                    //ModalValidateRequirements.open(aData);
                                    //console.log(id);
                                });


                                $(this).after($html);
                            }
                            count++;
                        });

                    }

                });

                $(".addTest", self.$popup).click(function (){
                    myModalAddTest.open(0);
                });


                $('input[type="checkbox"].awesome-checkbox').each(function(index){
                    if(!$(this).hasClass('initialized')){
                        $(this).before('<label class="awesome-checkbox-label" for="'+ $(this).attr('id') + '">' + self.getCheckboxIcon(this) + '</label>');
                        $(this).addClass('initialized');

                    }
                });

                $(document).on('change', '.awesome-checkbox', function(){
                    $('label[for="'+ $(this).attr('id') +'"]').html(self.getCheckboxIcon(this));
                });



            },
            getCheckboxIcon: function (selector){
                var icon = $(selector).is(':checked') ? $(selector).data('icon-checked') : $(selector).data('icon-unchecked')
                return '<i class="' + icon + '"></i>';
            },

        };


        var myModalAddTest = {
            init: function () {
                var self = this;

                self.$popup = $('#modalAddTest');
                self.$elTemplates = $('#el-templates');
                self.$table = $('.datatable table', self.$popup);
                self.$tbody = $("tbody", self.$table);
                self.$aDataList = [];

                self.$tbody.sortable({
                    revert: true,
                    handle: ".sortable-tr-handle"
                });

                $(".action-close", self.$popup).click(function (){
                    self.closePopup();
                });
                $(".addQuestion", self.$popup).click(function (){
                    myModalQuestion.open();
                });

                $(".action-add-save", self.$popup).click(function (){
                    self.save();
                });

                self.$popup.on("show.bs.modal", function () {
                });

                self.$popup.on("hidden.bs.modal", function () {
                    //self.setFormReadOnlyAsignacionClase(false);
                    //self.setDataAsignacionClase(null);
                });


                $('[name="version"]', self.$popup).on('input', function () {
                    this.value = this.value.replace(/[^0-9]/g,'');
                });

            },
            open: function (id_test, isEdit/*=false*/) {
                var self = this;
                bloqueointerface();
                self.formSetError([]);
                var fOpen = function (){
                    var h = $(window).height() - 150;
                    $('.modal-title > span', self.$popup).html(isEdit ? 'Editar': 'Nuevo')
                    self.$popup.modal({backdrop:'static', width: '80%',  height: h}).modal('show');
                    $.unblockUI();
                }
                self.loadData(id_test, isEdit, fOpen)


            },
            loadData: function (id_test, isEdit/*=false*/, fOpen){
                var self = this;
                if (isEdit){
                    var dataFilter = {'id': id_test, 'action': 'load_test' }
                    $.ajax({
                        type: "POST",
                        url: "/box_psicologica",
                        data:dataFilter,
                        success: function(data) {
                            if (data.result=='ok'){
                                //NotificationJG.success(data.mensaje, "Exitoso")
                                //self.closePopup();
                                //myController.$table.dataTable().fnDraw();
                                $("[name='id_test']", self.$popup).val(data.aData.id);
                                $("[name='nombre']", self.$popup).val(data.aData.nombre);
                                $("[name='subnombre']", self.$popup).val(data.aData.subnombre);
                                $("[name='version']", self.$popup).val(data.aData.version);
                                $("[name='instruccion']", self.$popup).val(data.aData.instruccion);
                                self.createCKEDITOR('instruccion');
                                CKEDITOR.instances.instruccion.setData(data.aData.instruccion);
                                if (data.aData.preguntas.length>0){
                                    self.$tbody.empty();
                                    //console.log(data.aData.preguntas);
                                    $.each(data.aData.preguntas, function(i, item) {
                                        //console.log(item);
                                        self.htmlTableTBodyTr(item);
                                    });


                                }

                                if (fOpen){
                                    fOpen();
                                }

                            } else {
                                NotificationJG.error(data.mensaje, "Error")
                                //self.formSetError(data.errores)
                                $.unblockUI();
                            }

                        },
                        error: function() {
                            NotificationJG.error("Existio un error en la conexión", "Error");
                            $.unblockUI();
                        },
                        dataType: "json"
                    });

                }
                else {

                    if (fOpen){
                        fOpen();
                        self.createCKEDITOR('instruccion');
                    }
                }
            },
            closePopup: function () {

                var self = this

                //self.$table.dataTable().fnDestroy();
                self.formReset();
                self.removeCKEDITOR('instruccion');

                self.$popup.modal('hide');

            },
            formReset: function (){
                var self = this;
                $("[name='nombre']", self.$popup).val('');
                $("[name='subnombre']", self.$popup).val('');
                $("[name='version']", self.$popup).val('');
                $("[name='id_test']", self.$popup).val(0);
                $("[name='instruccion']", self.$popup).html('');
                CKEDITOR.instances.instruccion.setData('');
                self.$tbody.empty();
                self.$tbody.html('<tr><td colspan="4" class="noexitdata" style="text-align: center">NO EXISTEN REGISTRA PREGUNTAS EN EL TEST</td></tr>');
                self.formSetError([]);
            },
            formSetError: function( data ) {
                /*
                data: {
                    NAME_FIELD1:MESSAGE1, NAME_FIELD2:MESSAGE2
                    ...
                }
                */

                var self = this;

                var $form_group = $('.form-group', self.$popup);

                $form_group.removeClass('has-error');
                $('.label-important', $form_group ).html('').hide();
                //console.log(data);
                for( var i in data )
                {
                    //console.log(data[i].name);
                    var $form_group = $('[name="'+( data[i].name )+'"]', self.$popup).closest('.form-group');
                    $form_group.addClass('has-error');
                    $('.label-important', $form_group ).html( data[i].error ).show();
                }
            },
            createCKEDITOR: function(element) {
                /*if ( html )
                    return;*/

                // Create a new editor inside the <div id="editor">, setting its value to html
                var config = {};
                //element = CKEDITOR.appendTo( element, config, html );
                CKEDITOR.replace(element);
            },

            removeCKEDITOR: function(element) {
                /*if ( !html )
                    return;*/

                // Retrieve the editor contents. In an Ajax application, this data would be
                // sent to the server or used in any other way.
                //document.getElementById( 'element' ).innerHTML = html = editor.getData();
                //document.getElementById( 'contents' ).style.display = '';

                // Destroy the editor.
                //var $element = $('#'+element)
                CKEDITOR.instances[element].destroy()
                //$element.destroy();
                //element = null;
            },
            UpdateList: function(){
                var self = this;

                var valor = 0;
                $(".dt-action-eliminar", self.$table).each(function(){
                    self.$aDataList.push ({
                        idp: $(this).attr("idp"),
                        idt: $(this).attr("idt"),
                        ide: $(this).attr("ide"),
                    });
                });
            },
            htmlTableTBodyTr: function(data){
                //console.log(data);
                var self = this;
                var $tr = $('[element="table-preguntas-row"] tr', self.$elTemplates).clone();
                $tr.data({'preguntaid': data.pregunta.id, 'tiporespuestaid': data.tiporespuesta.id, 'escalaid': data.escala.id});
                //$('td:nth-child(1)', $tr).html();
                //var pregunta = pregunta.leyenda ? "<div>"+data.pregunta.text+"</div><div>"+data.pregunta.leyenda+"</div>" : "<div>"+data.pregunta.text+"</div>";
                var escala = data.escala.id ? data.escala.text : "Sin Escala";
                var te = "<div><strong>Tipo de respuesta</strong>: "+data.tiporespuesta.text+"</div>"+
                    "<div><strong>Escala</strong>: "+escala+"</div>";
                $('td:nth-child(2)', $tr).html(data.pregunta.leyenda ? "<div>"+data.pregunta.text+"</div><div>"+data.pregunta.leyenda+"</div>" : "<div>"+data.pregunta.text+"</div>");
                $('td:nth-child(3)', $tr).html(te);
                $('td:nth-child(4) a', $tr).attr('idp', data.pregunta.id);
                $('td:nth-child(4) a', $tr).attr('idt', data.tiporespuesta.id);
                $('td:nth-child(4) a', $tr).attr('ide', data.escala.id);
                $tr.attr("id","fila_"+data.pregunta.id);


                self.$tbody.append($tr);
                $(".dt-action-eliminar", $tr).click(function() {
                    $tr.remove();
                    if(($('.dt-action-eliminar', self.$tbody).length)==0){
                        self.$tbody.html('<tr><td colspan="4" class="noexitdata" style="text-align: center">NO EXISTEN REGISTRA PREGUNTAS EN EL TEST</td></tr>');
                    }
                    //self.UpdateList();

                });
                //self.UpdateList();
                tooltips();
            },
            save: function (){
                var self = this;
                //self.resetForm();
                var id = $("[name='id_test']", self.$popup).val();
                var nombre = $("[name='nombre']", self.$popup).val();
                var subnombre = $("[name='subnombre']", self.$popup).val();
                var version = $("[name='version']", self.$popup).val();
                var instruccion = CKEDITOR.instances.instruccion.getData()
                var preguntas = []

                $('#dtViewListPreguntas > tbody > tr', self.$popup).each(function(index, value){
                    var $_tr = $(this);
                    var data = $_tr.data();
                    if (data.preguntaid)
                    {
                        preguntas.push({'id_pregunta': data.preguntaid, 'id_tiprespuesta': data.tiporespuestaid, 'id_escala': data.escalaid})
                    }
                });

                var dataFilter = {'id': id,
                    'nombre': nombre,
                    'subnombre': subnombre,
                    'version': version,
                    'instruccion': instruccion,
                    'preguntas': JSON.stringify(preguntas),
                    'action': 'save_test_psicologico' }

                smoke.confirm("¿Está seguro de guardar el test.?", function(e){
                    if (e){
                        bloqueointerface();
                        $.ajax({
                            type: "POST",
                            url: "/box_psicologica",
                            data:dataFilter,
                            success: function(data) {
                                if (data.result=='ok'){
                                    NotificationJG.success(data.mensaje, "Exitoso")
                                    self.closePopup();
                                    myController.$table.dataTable().fnDraw();

                                } else {
                                    NotificationJG.error(data.mensaje, "Error")
                                    self.formSetError(data.errores)
                                }
                                $.unblockUI();
                            },
                            error: function() {
                                NotificationJG.error("Existio un error en la conexión", "Error");
                                $.unblockUI();
                            },
                            dataType: "json"
                        });
                    }
                }, {
                    ok: "SI,SEGURO",
                    cancel: "NO,CANCELAR",
                    classname: "custom-class",
                    reverseButtons: true
                });

            },
        }

        var myModalQuestion = {
            init: function () {
                var self = this;

                self.$popup = $('#modalAddQuestion');
                self.$dataSelect = {
                    'pregunta': {
                        'id': 0,
                        'text': '',
                        'leyenda': ''
                    },
                    'tiporespuesta': {
                        'id': 0,
                        'text': '',
                    },
                    'escala': {
                        'id': 0,
                        'text': '',
                    }
                }
                self.$tiporespuesta = $("[name='tiporespuesta']", self.$popup).select2({
                    dropdownParent: self.$popup
                })
                self.$pregunta = $("[name='pregunta']", self.$popup).select2({
                    dropdownParent: self.$popup
                })
                self.$escala = $("[name='escala']", self.$popup).select2({
                    dropdownParent: self.$popup
                })

                $(".action-close", self.$popup).click(function (){
                    self.closePopup();
                });

                $(".action-send-question", self.$popup).click(function (){
                    self.save();
                });

                self.$popup.on("show.bs.modal", function () {
                });

                self.$popup.on("hidden.bs.modal", function () {
                    //self.setFormReadOnlyAsignacionClase(false);
                    //self.setDataAsignacionClase(null);
                });




            },
            open: function (ele/*=false*/) {
                var self = this;
                bloqueointerface();
                //self.formReset();
                //var idca = $(ele).attr('idca');
                //var dataFilter = {'idca': idca, 'idcp': idcp, 'idpa': idpa, 'idpp': idpp, 'action': 'enrollment_list_by_careers_and_period' }
                self.formInit();
                self.formSetError([]);

                self.$popup.modal({backdrop:'static', width: '80%',  height: '50%'}).modal('show');

                $.unblockUI();

            },
            formReset: function (){
                var self = this;
                self.$dataSelect.escala.id = 0;
                self.$dataSelect.pregunta.id = 0;
                self.$dataSelect.tiporespuesta.id = 0;
                self.formSetError([]);
                //self.$tiporespuesta.select2("destroy");
                //self.$pregunta.select2("destroy");
                //self.$escala.select2("destroy");
                //$("select[name='tiporespuesta'], select[name='escala'], select[name='pregunta']", self.$popup).select2("destroy");
                self.$tiporespuesta.val(null).trigger("change");
                self.$pregunta.val(null).trigger("change");
                self.$escala.val(null).trigger("change");
                //self.$pregunta.select2('val', 0).trigger("change");
            },
            formInit: function (){
                var self = this;
                //console.log("entra init formo");
                self.$tiporespuesta.on("select2:select", function (e) {
                    //console.log(e.params.data)
                    self.$dataSelect.tiporespuesta.id = e.params.data.element.id
                    self.$dataSelect.tiporespuesta.text = e.params.data.element.text
                    //$("[name='tiporespuesta']", self.$popup).attr({"value": e.params.data.element.id});
                });

                self.$escala.on("select2:select", function (e) {
                    //console.log(e.params.data.element)
                    self.$dataSelect.escala.id = e.params.data.element.id
                    self.$dataSelect.escala.text = e.params.data.element.text
                    //$("[name='escala']", self.$popup).attr({"value": e.params.data.element.id});
                });
                //self.$pregunta.val(null).trigger("change");
                self.$pregunta.select2({
                    dropdownParent: self.$popup,
                    tag: true,
                    //minimumInputLength: 4,
                    //allowClear: true,
                    //placeholder: '',
                    ajax: {
                        url: '/box_psicologica',
                        dataType: 'json',
                        type: 'POST',
                        //delay: 250,
                        data: function (params) {
                            var query = {
                                action: 'load_questions',
                                q: params.term,
                            }
                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        },
                        processResults: function (data) {
                            // Transforms the top-level key of the response object from 'items' to 'results'
                            //console.log(data);
                            var aData = []
                            if (data.result == 'ok')
                            {
                                if (data.aData){
                                    if (data.aData.length > 0)
                                    {
                                        aData = data.aData
                                    }
                                    else{
                                        NotificationJG.info("No se encontraron preguntas.", "Información!")
                                    }

                                }
                                else {
                                    NotificationJG.warning("No se encontro datos de consulta.", "Advertencia!")
                                }
                            }
                            else{
                                NotificationJG.error(data.mensaje, "Error")
                            }

                            return {
                                results: aData
                            };
                        },
                        complete : function(xhr, status) {
                            //console.log('Petición realizada');
                            //console.log(status);
                        }

                    },
                    templateResult: self.formatSelectPreguntas,
                    templateSelection: self.formatSelectPreguntasSelection,
                    language: {
                        noResults: function() {
                            return "No hay preguntas";
                        },
                        searching: function() {

                            return "Buscando preguntas....";
                        },
                        loadingMore: function () {
                            return 'Cargando mas resultados...';
                        },
                        errorLoading: function () {
                            return 'No se pudieron cargar los resultados.';
                        },
                    }
                }).on("select2:select", function (e) {
                    //console.log(e)
                    self.$dataSelect.pregunta.id = e.params.data.id
                    self.$dataSelect.pregunta.text = e.params.data.text
                    self.$dataSelect.pregunta.leyenda = e.params.data.leyenda
                    //$("select[name='pregunta']", self.$popup).attr({"value": e.params.data.id});
                });

            },
            formSetError: function( data ) {
                /*
                data: {
                    NAME_FIELD1:MESSAGE1, NAME_FIELD2:MESSAGE2
                    ...
                }
                */

                var self = this;

                var $form_group = $('.form-group', self.$popup);

                $form_group.removeClass('has-error');
                $('.label-important', $form_group ).html('').hide();
                //console.log(data);
                for( var i in data )
                {
                    //console.log(data[i].name);
                    var $form_group = $('[name="'+( data[i].name )+'"]', self.$popup).closest('.form-group');
                    $form_group.addClass('has-error');
                    $('.label-important', $form_group ).html( data[i].error ).show();
                }
            },
            formValidate: function(){
                var self = this;

                /*var pregunta = $("[name='pregunta']", self.$popup).val();
                var tiporespuesta = $("select[name='tiporespuesta']", self.$popup).select2('val');
                var escala = $("[name='escala']:selected", self.$popup).val();*/
                var dataForm = []
                //console.log(self.$dataSelect.pregunta);
                //console.log(self.$dataSelect.tiporespuesta);
                //console.log(self.$dataSelect.escala);
                //if (pregunta.id == 'undefined' || pregunta.id == 0)
                if (self.$dataSelect.pregunta.id == 0)
                {
                    dataForm.push({'name': 'pregunta', 'error': "Error, debe selecionar una pregunta"})
                }
                if (self.$dataSelect.tiporespuesta.id == 0)
                {
                    dataForm.push({'name': 'tiporespuesta', 'error': "Error, debe selecionar un tipo de pregunta"})
                }

                if (!dataForm.length == 0){
                    self.formSetError(dataForm);
                    return false;
                }

                return true;

            },
            formatSelectPreguntas: function(data){
                //console.log(data);
                if (data.loading) {
                    return 'Buscando....';
                }

                var $container = $(
                    "<div class='select2-result-repository clearfix'>" +
                    "<div class='select2-result-repository__meta'>" +
                    "<div class='select2-result-repository__title'></div>" +
                    "<div class='select2-result-repository__description'></div>" +
                    "</div>" +
                    "</div>"
                );

                $container.find(".select2-result-repository__title").text(data.text);
                $container.find(".select2-result-repository__description").text(data.leyenda);

                return $container;

            },
            formatSelectPreguntasSelection: function (data) {
                /*return repo.full_name || repo.text;*/
                //console.log(data);

                return data.text;
            },
            closePopup: function () {

                var self = this
                self.formReset();
                self.$popup.modal('hide');

            },
            save: function (){
                var self = this;
                if (!self.formValidate()){
                    NotificationJG.error("Existe errores antes de guardar", "Error");
                    return;
                }

                if ($("#fila_" + self.$dataSelect.pregunta.id).length) {
                    NotificationJG.warning("La pregunta ya existe", "Advetencia!");
                    return;
                }

                if ($('.noexitdata', myModalAddTest.$tbody).length == 1)
                {
                    $('.noexitdata', myModalAddTest.$tbody).remove();
                }

                myModalAddTest.htmlTableTBodyTr(self.$dataSelect);

                NotificationJG.success("Se envio correctamente la pregunta", "Exitoso");
                self.closePopup();

            },
        }

        $(function (){
            myController.init();
            myModalAddTest.init();
            myModalQuestion.init();
        });
    </script>
{% endblock %}
{% block atras %}/box_psicologica{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="btn-group">
                <a href="javascript:;" class="btn btn-success addTest"><i class="fa fa-plus"></i> Adicionar</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;"> Acciones <span class="caret"></span></a>
                <ul class="dropdown-menu pull-left">
                    <li><a href="/box_psicologica?action=gestionar_preguntas_test" ><i class="fa fa-question"></i> Preguntas</a></li>
                    <li><a href="/box_psicologica?action=gestionar_escalas_test" ><i class="fa fa-tags"></i> Escalas</a></li>
                </ul>
            </div>
        </div>
        <div class="span6">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="datatable" id="dataTableListTests">
                <table id="dtViewListTests" class='table table-bordered table-striped'>
                    <thead>
                    <tr>
                        <th style="text-align: center; width: 6%; vertical-align: middle">Código</th>
                        <th style="text-align: center; width: 70%; vertical-align: middle">Nombre</th>
                        <th style="text-align: center; width: 8%; vertical-align: middle">Versión</th>
                        <th style="text-align: center; width: 16%; vertical-align: middle"></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modalAddTest" data-width="" class="modal fade" aria-labelledby="" aria-hidden="true" tabindex="-1" role="dialog" style="display: block;"  data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"> <i class="fa fa-question"></i> <span></span> Test Psicológico</h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id_test" id="id_test" value="0">
                    <div class="row-fluid">
                        <div class="span10" style="vertical-align: middle">
                            <div class="form-group has-feedback">
                                <label for="nombre"><strong>Nombre:</strong></label>
                                <input type="text" name="nombre" id="nombre" class="form-control" style="width: 100%" placeholder="Nombre del test" />
                                <span class="label label-block label-important text-left">Centered label</span>
                            </div>
                        </div>
                        <div class="span2">
                            <div class="form-group has-feedback">
                                <label for="version"><strong>Versión:</strong></label>
                                <input type="number" name="version" id="version" class="form-control" style="width: 100%" placeholder="Version del test" />
                                <span class="label label-block label-important text-left">Centered label</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12" style="vertical-align: middle">
                            <div class="form-group has-feedback">
                                <label for="subnombre"><strong>Sub-Nombre/Descripción:</strong></label>
                                <input type="text" name="subnombre" id="subnombre" class="form-control" style="width: 100%" placeholder="Sub-Nombre/Descripción del test" />
                                <span class="label label-block label-important text-left">Centered label</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12" style="text-align: left; vertical-align: middle">
                            <div class="form-group has-feedback">
                                <label for="instruccion"><strong>Instrucciones:</strong></label>
                                <textarea style="width: 100%" id="instruccion" class="form-control"></textarea>
                                <span class="label label-block label-important text-left">Centered label</span>
                            </div>
                        </div>
                    </div>
                    <hr style="border-top: 1px solid #0f1626; border-bottom: 1px solid #0f1626;">
                    <div class="row-fluid">
                        <div class="span12">
                            <a class="btn btn-success addQuestion"><i class="fa fa-plus"></i> Agregar pregunta</a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="datatable" id="dataTableListPreguntas">
                                <table id="dtViewListPreguntas" class='table table-bordered table-striped'>
                                    <thead>
                                    <tr>
                                        <th style="text-align: center; width: 5%; vertical-align: middle"></th>
                                        <th style="text-align: center; width: 55%; vertical-align: middle">Pregunta</th>
                                        <th style="text-align: center; width: 25%; vertical-align: middle">Tipo de Respuesta/Escala</th>
                                        <th style="text-align: center; width: 15%; vertical-align: middle"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="4" class="noexitdata" style="text-align: center">NO EXISTEN REGISTRA PREGUNTAS EN EL TEST</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-success action-add-save"> Guardar</a>
                    <a href="javascript:;" class="btn btn-info action-close" data-dismiss="modal"> Cerrar</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Form modal PREGUNTAS -->
    <div id="modalAddQuestion" data-width="" class="modal fade" aria-labelledby="" aria-hidden="true" tabindex="-1" role="dialog" style="display: block;"  data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-search"></i> Buscar Preguntas</h4>
                </div>
                <!-- Form inside modal -->
                <form action="javascript:;" role="form">
                    <div class="modal-body with-padding">
                        <div class="form-group has-feedback">
                            <label for="pregunta">Preguntas </label>
                            <select name="pregunta" class="form-control" style="width: 100%">
                                <option id="0" selected="selected">-----------------</option>
                            </select>
                            <span class="label label-block label-important text-left">Centered label</span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="tiporespuesta">Tipo de respuesta</label>
                            <select name="tiporespuesta" style="width: 100%" class="form-control">
                                <option id="0" selected="selected">-----------------</option>
                                {% for tiporespuesta in tiporespuestas %}
                                    <option id="{{ tiporespuesta.id }}">{{ tiporespuesta.nombre }}</option>
                                {% endfor %}
                            </select>
                            <span class="label label-block label-important text-left">Centered label</span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="escala">Descripcion</label>
                            <select name="escala" style="width: 100%" class="form-control">
                                <option id="0" selected="selected">-----------------</option>
                                {% for escala in escalas %}
                                    <option id="{{ escala.id }}">{{ escala.descripcion }}</option>
                                {% endfor %}
                            </select>
                            <span class="label label-block label-important text-left">Centered label</span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-success action-send-question"> Aceptar</a>
                        <a href="javascript:;" class="btn btn-info action-close" data-dismiss="modal"> Cerrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="el-templates" style="display:none;">
        <div element="table-preguntas-row">
            <table>
                <tbody>
                <tr>
                    <td style="text-align: center; vertical-align: middle">
                        <span class="label label-primary sortable-tr-handle"><i class='fa fa-arrows-v'></i></span>
                    </td>
                    <td style="text-align: left; vertical-align: middle"></td>
                    <td style="text-align: left; vertical-align: middle"></td>
                    <td style="text-align: center; vertical-align: middle">
                        <div class="table-controls">
                            <!--<a title="" class="btn btn-primary btn-icon btn-xs tu dt-action-edit-permission" href="javascript:;" title="Editar"><i class="fa fa-edit"></i></a>-->
                            <a title="" class="btn btn-danger btn-icon btn-xs tu dt-action-eliminar" href="javascript:;" title="Eliminar"><i class="fa fa-remove"></i> Eliminar</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div element="table-permission-row-actions">
            <div class="table-controls">
                <a title="" class="btn btn-primary btn-icon btn-xs tip dt-action-view" href="javascript:;" data-original-title="Edit entry"><i class="icon-search3"></i></a>
                <a title="" class="btn btn-primary btn-icon btn-xs tip dt-action-edit" href="javascript:;" data-original-title="Edit entry"><i class="icon-pencil"></i></a>
            </div>
        </div>
    </div>

{% endblock %}
