{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_configuracion_mundocrai{% endblock %}
{% block formdestination %}/adm_configuracion_mundocrai?action=verinscritoscapacitacioncrai&id={{ inscripcion.capacitacionescrai.id }}{% endblock %}
{% block formactionvalue %}aprobarinscripcion{% endblock %}
{% block formobjectid %}{{ inscripcion.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) de aprobar la incripción: {{ inscripcion.inscrito }}{% endblock %}