{% extends "ajaxformbs.html" %}
{% load humanize %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">        // Load Charts and the corechart package.
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChartGeneral);
    function drawChartGeneral() {
        var data = google.visualization.arrayToDataTable([
            ["Element", "Cantidad", { role: "style" } ],
            {% for resultado in resultadosgeneral %}
                ["{{ resultado.0 }}", {{ resultado.1 }}, "{{ resultado.2 }}"],
            {% endfor %}
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            { calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation" },
            2]);

        var options = {
            title: "Gráfica General",
            width: 900,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values_general"));
        chart.draw(view, options);
    }
    </script>
    <script>
        $(function() {
            $("#id_fecha1,#id_fecha1_hasta").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
            var tabcontratos = localStorage.getItem('tabcontratos');
            if (!tabcontratos){
                tabcontratos = "#1";
                localStorage.setItem("tabcontratos", tabcontratos);
            }

            $('.tabs').each(function(){
                if ($(this).attr('href') == tabcontratos){
                    $(this).trigger('click');
                }
            }).click(function(){
                localStorage.setItem("tabcontratos", $(this).attr('href'));
            });

            conectar_acciones=function () {
                $(".icon").unbind();
                $(".icon").hover(function() {
                    $(this).addClass("hovered");
                }, function() {
                    $(this).removeClass("hovered");
                }).click(function() {
                    var id = $(this).attr("idt");
                    $("#itemspanel_adicionar_2").attr({"idc":(id)});
                    $(".descargareporte").attr({"idc":(id)});
                    $("#itemspanel2").modal({backdrop:'static', width: '400'}).modal('show');
                });
                $("#itemspanel_adicionar_2").unbind();
                $("#itemspanel_adicionar_2").click(function () {
                    var id = $(this).attr("idc");
                    var fecha = $("#id_fecha1").val();
                    var fecha_hasta = $("#id_fecha1_hasta").val();
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/adm_configuracion_mundocrai",
                        data: {"action": "segmento_aux", "id": id, "nivel": 2, "fecha": fecha, "fecha_hasta": fecha_hasta},
                        success: function (data) {
                            $.unblockUI();
                            if (data.result == 'ok') {
                                $("#modal-body").html(data.data);
                                $("#mostrarmodal").modal({"backdrop":"static", "width":"1200px", "height":"600"}).modal("show");
                                conectar_acciones();
                            } else {
                                {#$("#segmento1").empty();#}
                                smoke.alert(data.mensaje);
                            }
                        },
                        error: function () {
                            $.unblockUI();
                            {#control.val(0).trigger("change");#}
                            smoke.alert("Error de conexion.");
                        },
                        dataType: "json"
                    });
                });
                $("#itemspanel_cerrar_2").unbind();
                $("#itemspanel_cerrar_2").click(function () {
                    $("#itemspanel2").modal('hide');
                });
                $(".descargardocente").unbind();
                $(".descargardocente").click(function() {
                    var fecha = $(this).attr("fecha");
                    var fecha_hasta = $(this).attr("fecha_hasta");
                    var idt = $(this).attr("idt");
                    openwindow('GET' ,'/adm_configuracion_mundocrai', {action:"descargardocente", fecha: fecha,fecha_hasta: fecha_hasta,idt: idt},'_self');
                });

                $('.descargareporte').click(function (){
                    var idc = $(this).attr("idc");
                    var fecha = $('#id_fecha1').val();
                    var fecha_hasta = $('#id_fecha1_hasta').val();
                    $("#itemspanel2").modal('hide');
                    openwindow('GET' ,'/adm_configuracion_mundocrai', {'action':"descargardocente2",
                        'fecha': fecha,'fecha_hasta': fecha_hasta,'idt': idc},'_blank');
                 })

/*
                $('.descargardocentereporte').click(function (){
                    var idt = $(this).attr("idt");
                    var fecha = $("#id_fecha1").val();
                    var fecha_hasta = $("#id_fecha1_hasta").val();
                    openwindow('GET' ,'/adm_configuracion_mundocrai', {action:"descargardocente2", fecha: fecha,fecha_hasta: fecha_hasta,idt: idt},'_self');
                })
*/
            };
            conectar_acciones();
        });
    </script>
{% endblock %}
{% block atras %}/adm_configuracion_mundocrai{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span12'>
            <a href="/adm_configuracion_mundocrai" class='btn btn-success'><span class="fa fa-cubes " ></span> Actividades</a>
            <a href="/adm_configuracion_mundocrai?action=capacitacion" class='btn btn-success'><span class="fa fa-group " ></span> Capacitaciones</a>
            <a href="/adm_configuracion_mundocrai?action=noticias" class='btn btn-success'><span class="fa fa-amazon " ></span> Noticias</a>
            <a href="/adm_configuracion_mundocrai?action=salas" class='btn btn-success'><span class="fa fa-cogs " ></span> Salas CRAI</a>
            <a href="/adm_configuracion_mundocrai?action=reservasala" class='btn btn-success'><span class="fa fa-university " ></span> Reservas Sala</a>
            <a href="/adm_configuracion_mundocrai?action=organigrama" class='btn btn-success'><span class="fa fa-sitemap " ></span> Organigrama</a>
            <a href="/adm_configuracion_mundocrai?action=reservacubiculo" class='btn btn-success'><span class="fa fa-users " ></span> Reservas Cubículo</a>
            <a href="/adm_configuracion_mundocrai?action=seccionclubes" class='btn btn-success'><span class="fa fa-futbol-o " ></span> Clubes</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class='span12'>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li><a class="tabs" href="#1" data-toggle="tab">ESTADISTICA</a></li>
                    <li><a class="tabs" href="#2" data-toggle="tab">NORMATIVAS</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="1">
                        <div id="segmento1">
                            <div class='row-fluid'>
                                <div class='span12'>
                                    <a class='icon' idt="1" nivel="1">
                                        <div class='iconimage'>
                                            <div class='pd'>
                                                <img src='/static/images/soportebiblioteca.png' border="0"/>
                                            </div>
                                        </div>
                                        <div class='iconname'>
                                            <div class='pd'>
                                                <label style="font-size: 11px"><b>Biblioteca</b></label>
                                            </div>
                                        </div>
                                    </a>

                                    <a class='icon' href="javascript:;" idt="2" nivel="1">
                                        <div class='iconimage'>
                                            <div class='pd'>
                                                <img src='/static/images/soportedocencia.png' border="0"/>
                                            </div>
                                        </div>
                                        <div class='iconname'>
                                            <div class='pd'>
                                                <label style="font-size: 11px"><b>Docencia</b></label>
                                            </div>
                                        </div>
                                    </a>
                                    <a class='icon' href="javascript:;" idt="3" nivel="1">
{#                                            <div><p style="float: right; padding: 10px; color: darkgreen" class="descargareporte"#}
{#                                                    data-toggle="tooltip" data-placement="right"#}
{#                                                    title="Descargar Reporte"><i class="fa fa-file-excel-o fa-2x"></i>#}
{#                                            </p></div>#}
                                        <div class='iconimage'>
                                            <div class='pd'>
                                                <img src='/static/images/soporteinvestigacion.png' border="0"/>
                                            </div>
                                        </div>
                                        <div class='iconname'>
                                            <div class='pd'>
                                                <label style="font-size: 11px"><b>Investigación</b></label>
                                            </div>
                                        </div>
                                    </a>
                                    <a class='icon' href="javascript:;" idt="4" nivel="1">
                                        <div class='iconimage'>
                                            <div class='pd'>
                                                <img src='/static/images/soportecultural.png' border="0"/>
                                            </div>
                                        </div>
                                        <div class='iconname'>
                                            <div class='pd'>
                                                <label style="font-size: 11px"><b>Gestión Cultural</b></label>
                                            </div>
                                        </div>
                                    </a>
                                    <a class='icon' href="javascript:;" idt="5" nivel="1">
                                        <div class='iconimage'>
                                            <div class='pd'>
                                                <img src='/static/images/soportecapacitacion.png' border="0"/>
                                            </div>
                                        </div>
                                        <div class='iconname'>
                                            <div class='pd'>
                                                <label style="font-size: 11px"><b>Capacitación</b></label>
                                            </div>
                                        </div>
                                    </a>
                                    <a class='icon' href="javascript:;" idt="6" nivel="1">
                                        <div class='iconimage'>
                                            <div class='pd'>
                                                <img src='/static/images/soportesalas.png' border="0"/>
                                            </div>
                                        </div>
                                        <div class='iconname'>
                                            <div class='pd'>
                                                <label style="font-size: 11px"><b>Reservas Sala</b></label>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="2">
                        <div id="segmento3">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>MUNDO CRAI - UNEMI</h3>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static" id="itemspanel2" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Fechas</h3>
        </div>
        <div class="modal-body panelbody">
            <div class=ow-fluid">
                <form id="form3" class="form-horizontal form-modal" style="width: 370px; margin-bottom: 0">
                    <div style="width: 150px">
                        <p>Desde: <input type="text" id="id_fecha1"></p>
                        <p>Hasta: <input type="text" id="id_fecha1_hasta"></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-info" id="itemspanel_adicionar_2"><i class="fa fa-bar-chart"></i> Gráfico </a>
            <a href="javascript:;" class="btn btn-success descargareporte" ><i class="fa fa-file-excel-o"></i> Reporte</a>
{#            <a href="javascript:;" class="btn btn-danger tu descargareporte" fecha="{{ fecha }}" fecha_hasta="{{ fecha_hasta }}"><i class="fa fa-plus"></i> Procesar</a>#}
            <a href="javascript:;" class="btn btn-danger" id="itemspanel_cerrar_2"> Cerrar</a>
        </div>
    </div>

{% endblock %}
