{% extends "basebs_js.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src="/static/js/jquery.isloading.min.js"></script>
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet" />
    <link href="/static/widget_ppp.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js?v=1.0.1" data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js?v=1.0.1"></script>
    <style type="text/css">
        .radio label,
        .checkbox label {
            display: inline-block;
            cursor: pointer;
            color: #0074D9;
            position: relative;
            padding: 5px 15px 5px 51px;
            font-size: 1em;
            border-radius: 5px;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
        .radio label:hover,
        .checkbox label:hover {
            background: rgba(255, 65, 54, 0.1); }
        .radio label:before,
        .checkbox label:before {
            content: "";
            display: inline-block;
            width: 17px;
            height: 17px;
            position: absolute;
            left: 15px;
            border-radius: 50%;
            background: none;
            border: 3px solid #0074D9; }
        input[type="radio"] {
            display: none; }
        input[type="radio"]:checked + label:before {
            display: none; }
        input[type="radio"]:checked + label {
            padding: 5px 15px;
            background: #0074D9;
            border-radius: 2px;
            color: #fff; }
        .checkbox label:before {
            border-radius: 3px; }
        .checkbox input[type="checkbox"] {
            display: none; }
        .checkbox input[type="checkbox"]:checked + label:before {
            display: none; }
        .checkbox input[type="checkbox"]:checked + label {
            background: #0074D9;
            color: #fff;
            padding: 5px 15px; }
    </style>
    <script type="text/javascript">
        $.extend(true, $.fn.dataTable.defaults, {
            oLanguage: {
                sSearch: "<span>Filtro:</span> _INPUT_",
                sLengthMenu: "<span>Mostrar Entradas:</span> _MENU_",
                sZeroRecords: "No se encontraron resultados",
                sProcessing: "Procesando...",
                sEmptyTable: "Ningún dato disponible para visualizar",
                sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                sLoadingRecords: "Cargando...",
                oPaginate: {
                    sFirst: "<i title='Inicio' class='fa fa-step-backward'></i>",
                    sLast: "<i title='Último' class='fa fa-step-forward'></i>",
                    sNext: "<i title='Siguiente' class='fa fa-fast-forward'></i>",
                    sPrevious: "<i title='Anterior' class='fa fa-fast-backward'></i>"
                },
            }
        });

        var ControllerNonWorking = {
            init: function (){
                var self = this;
                self.$table = $('.datatable table');

                $('[name="filter_periodo"], [name="filter_coordinacion"], [name="filter_carrera"], [name="filter_nivel"], [name="filter_type"]').change(function(){
                    self.$table.dataTable().fnDraw();
                });

                $("#action_min").click(function(){
                    $("#panel_filter .panel-body").hide();
                    $("#action_min").hide();
                    $("#action_max").show();
                });
                $("#action_max").click(function(){
                    $("#panel_filter .panel-body").show();
                    $("#action_min").show();
                    $("#action_max").hide();
                });

                self.loadDataTable();
                $('select').select2({minimumResultsForSearch: 20,})


                $(".action-add").click(function(){
                    uiModal.open('new', 0)

                });

                $("#action_min").trigger("click");

            },
            loadDataTable: function(){
                var self = this;
                self.$table.dataTable({
                    responsive: true,
                    searchDelay: 1000,
                    bJQueryUI: false,
                    bAutoWidth: false,
                    //bProcessing: true,
                    bServerSide: true,
                    bSort: false,
                    sPaginationType: "full_numbers",
                    iDisplayLength: 25,
                    sDom: '<"datatable-header"fl><"datatable-scroll"tr><"datatable-footer"ip>',
                    sAjaxSource: "/adm_sistemas/non_working_days",
                    sServerMethod: "POST",
                    fnServerParams: function (aoData)
                    {
                        bloqueointerface();
                        var idp = $('[name="filter_periodo"]').val();
                        var idcc = $('[name="filter_coordinacion"]').val();
                        var idc = $('[name="filter_carrera"]').val();
                        var idnm = $('[name="filter_nivel"]').val();
                        var type = $('[name="filter_type"]').val();
                        aoData.push(
                            {"name": "action", "value": 'loadDataTable'},
                            {"name": "idp", "value": idp},
                            {"name": "idcc", "value": idcc},
                            {"name": "idc", "value": idc},
                            {"name": "idnm", "value": idnm},
                            {"name": "type", "value": type},
                        );
                        //console.log(aoData);
                    },
                    aoColumnDefs:
                        [
                            {
                                aTargets: [0],
                                width: "5%",
                                fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                {
                                    if(sData != 'NULL') {
                                        $(nTd).css('text-align', 'center');
                                        $(nTd).css('vertical-align', 'middle');
                                        $(nTd).css('padding', '8px');
                                        $(nTd).attr('data-title', 'ID');
                                    }
                                }
                            },
                            {
                                aTargets: [1],
                                width: "18%",
                                fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                {
                                    if(sData != 'NULL') {
                                        $(nTd).css('text-align', 'center');
                                        $(nTd).css('vertical-align', 'middle');
                                        $(nTd).css('padding', '8px');
                                        $(nTd).attr('data-title', 'Fecha / Hora');
                                    }
                                }
                            },
                            {
                                aTargets: [2],
                                width: "6%",
                                fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                {
                                    if(sData != 'NULL') {
                                        $(nTd).css('text-align', 'center');
                                        $(nTd).css('vertical-align', 'middle');
                                        $(nTd).css('padding', '8px');
                                        $(nTd).attr('data-title', 'Dirigido');
                                    }
                                }
                            },
                            {
                                aTargets: [3],
                                width: "20%",
                                fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                {
                                    if(sData != 'NULL') {
                                        $(nTd).css('text-align', 'center');
                                        $(nTd).css('vertical-align', 'middle');
                                        $(nTd).css('padding', '8px');
                                        $(nTd).attr('data-title', 'Periodo');
                                    }
                                }
                            },
                            {
                                aTargets: [4],
                                width: "20%",
                                fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                {
                                    if(sData != 'NULL') {
                                        $(nTd).css('text-align', 'center');
                                        $(nTd).css('vertical-align', 'middle');
                                        $(nTd).css('padding', '8px');
                                        $(nTd).attr('data-title', 'Coordinación');
                                    }
                                }
                            },
                            {
                                aTargets: [5],
                                width: "8%",
                                fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                {
                                    if(sData != 'NULL') {
                                        $(nTd).css('text-align', 'center');
                                        $(nTd).css('vertical-align', 'middle');
                                        $(nTd).css('padding', '8px');
                                        $(nTd).attr('data-title', 'Motivo');
                                    }
                                }
                            },
                            {
                                aTargets: [6],
                                width: "17%",
                                fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                {
                                    if(sData != 'NULL') {
                                        $(nTd).css('text-align', 'left');
                                        $(nTd).css('vertical-align', 'middle');
                                        $(nTd).css('padding', '8px');
                                    }
                                }
                            },
                            {
                                aTargets: [7],
                                width: "8%",
                                mRender: function (data, type, row)
                                {
                                    return `<input type="hidden" class="dt-col-option" value="${data["id"]}"/> <input type="hidden" class="dt-col-data-nombre" value="${data["nombre"]}"/> <input type="hidden" class="dt-col-data-v_c" value="${data["v_c"]}"/>`;
                                },
                                fnCreatedCell: function(nTd, sData, oData, iRow, iCol)
                                {
                                    if(sData != 'NULL') {
                                        $(nTd).css('text-align', 'center')
                                        $(nTd).css('vertical-align', 'middle')
                                        $(nTd).css('padding', '8px')
                                    }
                                }
                            },
                        ]
                    ,
                    fnDrawCallback: function (oSettingst)
                    {
                        desbloqueointerface();
                        var count = 0;

                        $('.dt-col-option').each(function(){
                            var id = $(this).val();
                            var nombre = $('.dt-col-data-nombre').eq(count).val();
                            var v_c = $('.dt-col-data-v_c').eq(count).val().trim() == 1 ? true : false;
                            var $html = $('#el-templates [element="table-row-actions"] .table-controls').clone();

                            $('.dt-action-view', $html).click(function(){
                                uiModal.open('view', id);
                            });

                            $('.dt-action-edit', $html).click(function(){
                                uiModal.open('edit', id);
                            });

                            if (v_c){
                                $('.dt-action-detail', $html).click(function(){
                                    bloqueointerface()
                                    location.href = `/adm_sistemas/non_working_days?action=loadDataDayNoWorkingDetail&id=${id}`
                                });
                            }else{
                                $(".dt-action-detail", $html).addClass('disabled').hide();
                            }


                            $('.dt-action-delete', $html).click(function(){
                                var question = `<p style="font-size: medium; text-align: center">Al eliminar el registro no podra volver a recuperar los datos.</p> <p style="font-size: medium; text-align: center">¿Está seguro de eliminar el día no laborable?</p> <p style="font-size: x-small; text-align: center">${nombre}</p>`;
                                Confirm.ajax({"model": "DiasNoLaborable", 'id': id, "permission": "puede_eliminar_dia_no_laborable", "app_label": "sga"}, function () {
                                    Confirm.question(question, function () {
                                        bloqueointerface();
                                        var aData = {"action": "deleteDayNoWorking", 'id': id}
                                        $.ajax({
                                            type: "POST",
                                            url: "/adm_sistemas/non_working_days",
                                            data: aData,
                                            success: function(data) {
                                                if (data.result == 'ok') {
                                                    self.$table.dataTable().fnDraw(false);
                                                    NotificationJG.success(data.mensaje)
                                                }
                                                else{
                                                    NotificationJG.error(data.mensaje);
                                                }
                                                desbloqueointerface();
                                            },
                                            error: function() {
                                                desbloqueointerface();
                                                NotificationJG.error("Error al enviar los datos.");
                                            },
                                            dataType: "json",
                                        });
                                    }, function () {
                                        NotificationJG.info("Enhorabuena el registro esta salvado.!");
                                        var h = $(window).height() - 350;
                                        $('#modalConfirmAjax').modal({backdrop: 'static', keyboard: false, width: "60%", height: h}).modal('show');
                                    });

                                }, function () {
                                    NotificationJG.info("Enhorabuena el registro esta salvado.!");
                                });
                            });


                            count ++;
                            $(this).after( $html );
                        });
                    }

                });
                $("#dtViewDaysNo_filter input").unbind(); // 'x' es el nombre de tu tabla
                $('#dtViewDaysNo_filter input').bind('keyup', function (e) {
                    if (e.keyCode == 13) {
                        //console.log(this.value);
                        self.$table.dataTable().fnFilter(this.value);
                    }
                });
            }

        };

        var uiModal = {
            init: function () {
                var self = this;
                self.$modalForm = $('#modalDayNonWorking');
                $('.action-close', self.$modalForm).click(function(){
                    self.close();
                });
                $('.action-edit', self.$modalForm).click(function(){
                    self.setFormType('edit');
                });
                $('.action-save', self.$modalForm).click(function (){
                    self.actionSave();
                });
            },
            close: function (){
                var self = this;
                self.$modalForm.modal('hide');
            },
            open: function(type, id){

                bloqueointerface();

                var self = this;
                self.setFormType(type);

                var h = $(window).height()-450;
                $.ajax({
                    type: "GET",
                    url: "/adm_sistemas/non_working_days",
                    data: {'action': 'loadForm', 'typeForm': type, 'id': id},
                    success: function(data) {
                        if (data.result == 'ok') {
                            desbloqueointerface();
                            $(".modal-body", self.$modalForm).html(data.html);
                            self.$modalForm.modal({backdrop:'static', width: '40%'}).modal('show');
                        } else {
                            desbloqueointerface();
                            NotificationJG.error(data.mensaje);
                        }
                    },
                    error: function() {
                        desbloqueointerface();
                        NotificationJG.error("Error al enviar los datos.");
                    },
                    dataType: "json",
                });
            },
            setFormType: function( type /* new, edit, view */ )
            {
                var self = this;

                if( type == 'new' )
                {
                    $('.modal-header span', self.$modalForm).html('Nuevo');

                    $('.action-save', self.$modalForm).show();
                    $('.action-edit', self.$modalForm).hide();
                    self.setFormReadOnly(false);
                }
                else if( type == 'edit' )
                {
                    $('.modal-header span', self.$modalForm).html('Editar');

                    $('.action-save', self.$modalForm).show();
                    $('.action-edit', self.$modalForm).hide();
                    self.setFormReadOnly(false);
                }
                else if( type == 'view' )
                {
                    $('.modal-header span', self.$modalForm).html('Ver');

                    $('.action-save', self.$modalForm).hide();
                    $('.action-edit', self.$modalForm).show();
                    self.setFormReadOnly(true);
                }
            },
            setFormReadOnly: function( isFormReadOnly )
            {
                var self = this;
                $('[name="periodo"]', self.$modalForm).prop('disabled', isFormReadOnly);
                $('[name="periodo"]', self.$modalForm).prop('readonly', isFormReadOnly);
                $('[name="coordinacion"]', self.$modalForm).prop('disabled', isFormReadOnly);
                $('[name="coordinacion"]', self.$modalForm).prop('readonly', isFormReadOnly);
                $('[name="carrera"]', self.$modalForm).prop('disabled', isFormReadOnly);
                $('[name="carrera"]', self.$modalForm).prop('readonly', isFormReadOnly);
                $('[name="nivelmalla"]', self.$modalForm).prop('disabled', isFormReadOnly);
                $('[name="nivelmalla"]', self.$modalForm).prop('readonly', isFormReadOnly);
                $('[name="motivo"]', self.$modalForm).prop('disabled', isFormReadOnly);
                $('[name="motivo"]', self.$modalForm).prop('readonly', isFormReadOnly);
                $('[name="fecha"]', self.$modalForm).prop('disabled', isFormReadOnly);
                $('[name="fecha"]', self.$modalForm).prop('readonly', isFormReadOnly);
                $('[name="desde"]', self.$modalForm).prop('disabled', isFormReadOnly);
                $('[name="desde"]', self.$modalForm).prop('readonly', isFormReadOnly);
                $('[name="hasta"]', self.$modalForm).prop('disabled', isFormReadOnly);
                $('[name="hasta"]', self.$modalForm).prop('readonly', isFormReadOnly);
                $('[name="observaciones"]', self.$modalForm).prop('disabled', isFormReadOnly);
                $('[name="observaciones"]', self.$modalForm).prop('readonly', isFormReadOnly);
                $('[name="activo"]', self.$modalForm).prop('disabled', isFormReadOnly);
                $('[name="activo"]', self.$modalForm).prop('readonly', isFormReadOnly);
                $('[name="valida_coordinacion"]', self.$modalForm).prop('disabled', isFormReadOnly);
                $('[name="valida_coordinacion"]', self.$modalForm).prop('readonly', isFormReadOnly);
                $('[name="tipo_accion"]', self.$modalForm).prop('disabled', isFormReadOnly);
                $('[name="tipo_accion"]', self.$modalForm).prop('readonly', isFormReadOnly);
            },
            formGetData:function(){
                var self = this;
                var data = new FormData($("#frmDiasNoLaborable", self.$modalForm)[0]);
                return data;
            },
            actionSave: function (){
                var self = this;
                $("#frmDiasNoLaborable", self.$modalForm).validationEngine('attach',{ scroll: false });
                var valid = $("#frmDiasNoLaborable", self.$modalForm).validationEngine('validate', { scroll: false });
                if (!valid){
                    setTimeout(function() {
                        $('.help-text', self.$modalForm).each(function () {
                            var field = $(this);
                            if (field.attr('alert')) {
                                field.html(field.attr('alert'));
                            } else {
                                field.html('');
                            }
                        });
                    }, 8000);
                    desbloqueointerface();
                    return false;
                }
                $('.datepicker', self.$modalForm).css({"display": "none"});
                $('.bootstrap-timepicker-widget', self.$modalForm).css({"display": "none"});

                $('.controls input', self.$modalForm).each(function(){
                    if ($(this).attr('type')=='text'){
                        $(this).val($(this).val().trim());
                    }
                    if ($(this).attr('type')!='file'){
                        if ($(this).css('text-transform')=='uppercase'){
                            if ($(this).attr('type')!='password'){
                                $(this).val($(this).val().toUpperCase());
                            }
                        }
                    }
                });

                var aData = self.formGetData();
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/adm_sistemas/non_working_days",
                    data: aData,
                    success: function(data) {
                        if (data.result == 'ok') {
                            ControllerNonWorking.$table.dataTable().fnDraw(false);
                            self.close();
                            NotificationJG.success(data.mensaje);
                        }
                        else{
                            NotificationJG.error(data.mensaje);
                        }
                        desbloqueointerface();
                    },
                    error: function() {
                        desbloqueointerface();
                        NotificationJG.error("Error al enviar los datos.");
                    },
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                });
            },
        };

        $(function() {
            ControllerNonWorking.init();
            uiModal.init();
        });
    </script>
{% endblock %}
{% block atras %}/adm_sistemas{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span8'>
            <div><h4>{{ title }}</h4></div>
            {% if perms.bd.puede_agregar_dia_no_laborable %}
                <br>
                <div><a href="javascript:;" class="btn btn-success action-add"><i class="fa fa-plus"></i> Agregar</a></div>
            {% endif %}
        </div>
        <div class="span4">
            <div class="panel panel-sga" id="panel_filter">
                <div class="panel-heading">
                    <h3 class="panel-title">Filtro</h3>
                    <div class="pull-right">
                        <a style="margin-right: 5px" href="javascript:;" class='btn btn-mini btn-info tu' id="action_min" title="Minimizar"><span class="fa fa-minus"></span></a>
                        <a style="margin-right: 5px" href="javascript:;" class='btn btn-mini btn-info tu' id="action_max" title="Maximizar"><span class="fa fa-plus"></span></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row-fluid">
                        <div class="span3"><b>Periodo:</b></div>
                        <div class="span9">
                            <select name="filter_periodo" style="width: 100%;">
                                <option value="0" selected="selected">--TODOS--</option>
                                {% for p in ePeriodos %}
                                    {% if idp > 0 %}
                                        <option value="{{ p.id }}" {% if p.id == idp %}selected="selected"{% endif %}>{{ p }}</option>
                                    {% else %}
                                        <option value="{{ p.id }}" {% if periodo.id == p.id %}selected="selected"{% endif %}>{{ p }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><b>Coordinación:</b></div>
                        <div class="span9">
                            <select name="filter_coordinacion" style="width: 100%;">
                                <option value="0" selected="selected">--TODOS--</option>
                                {% for c in eCoordinaciones %}
                                    <option value="{{ c.id }}">{{ c }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><b>Carrera:</b></div>
                        <div class="span9">
                            <select name="filter_carrera" style="width: 100%;">
                                <option value="0" selected="selected">--TODOS--</option>
                                {% for c in eCarreras %}
                                    <option value="{{ c.id }}">{{ c }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><b>Nivel Malla:</b></div>
                        <div class="span9">
                            <select name="filter_nivel" style="width: 100%;">
                                <option value="0" selected="selected">--TODOS--</option>
                                {% for n in eNivelesMalla %}
                                    <option value="{{ n.id }}">{{ n }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><b>Tipo:</b></div>
                        <div class="span9">
                            <select name="filter_type" style="width: 100%;">
                                <option value="0" selected="selected">--TODOS--</option>
                                {% for t in eTipos %}
                                    <option value="{{ t.0 }}">{{ t.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="no-more-tables">
        <div class='row-fluid'>
            <div class='span12'>
                <div class="datatable" id="divDetailData">
                    <table id="dtViewDaysNo" class='table table-bordered table-striped'>
                        <thead>
                        <tr>
                            <th style="text-align: center; vertical-align: middle; width: 5%">ID</th>
                            <th style="text-align: center; vertical-align: middle; width: 18%">Fecha / Hora</th>
                            <th style="text-align: center; vertical-align: middle; width: 6%">Dirigido</th>
                            <th style="text-align: center; vertical-align: middle; width: 20%">Periodo</th>
                            <th style="text-align: center; vertical-align: middle; width: 20%">Coordinación</th>
                            <th style="text-align: center; vertical-align: middle; width: 6%">Motivo</th>
                            <th style="text-align: center; vertical-align: middle; width: 17%">Observación</th>
                            <th style="text-align: center; vertical-align: middle; width: 8%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="el-templates" style="display:none;">
        <div element="table-row-actions">
            <table>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="table-controls">
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-right" style="text-align: left">
                                    <li><a href="javascript:;" class="dt-action-view"><i class="fa fa-eye"></i> Ver</a></li>
                                    {% if perms.bd.puede_modificar_dia_no_laborable %}
                                        <li><a href="javascript:;" class="dt-action-edit"><i class="fa fa-edit"></i> Editar</a></li>
                                    {% endif %}
                                    <li><a href="javascript:;" class="dt-action-detail"><i class="fa fa-gear"></i> Detalle</a></li>
                                    {% if perms.bd.puede_eliminar_dia_no_laborable %}
                                        <li><a href="javascript:;" class="dt-action-delete"><i class="fa fa-trash"></i> Eliminar</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="modal fade static" id="modalDayNonWorking" style="display: none;">
        <div class="modal-header">
            <h4 class="paneltitle"><span></span> Día no laborable</h4>
        </div>
        <div class="modal-body panelbody">

        </div>
        <div class="modal-footer">
            {% if perms.bd.puede_modificar_dia_no_laborable %}
                <a href="javascript:;" class="btn btn-success action-save">Guardar</a>
                <a href="javascript:;" class="btn btn-info action-edit">Editar</a>
            {% endif %}
            <a href="javascript:;" class="btn btn-danger action-close"> Cerrar</a>
        </div>
    </div>


{% endblock %}
