{% load sga_extras %}
<script type="text/javascript">
    var ids = 0;
    var idm = 0;
    $(function() {

    });
    function vistaprevia(idm, idp){
        openwindow('POST' ,'/alu_documentos', {action:'mostrarsilabodigital',idm:idm, idp:idp}, '_blank');
    }
</script>
<style>
    textarea {text-transform: uppercase;}
</style>
<div class='row-fluid' >
    <table class="table table-bordered">
        <thead>
        <th style="width: 15px">N.V</th>
        <th style="width: 500px">Silabo</th>
        <th style="width: 80px">Sílabo</th>
        <th style="width: 80px">Estado de Aprobación</th>
        </thead>
        <tbody>
        {% for silabo in silabos %}
            <tr>
                <td>V{{ forloop.counter }}</td>
                <td>{{ silabo.materia.asignaturamalla }} - [P {{ silabo.materia.paralelo }}] - {{ silabo.materia.nivel.paralelo }}  - {{ silabo.fecha_creacion }}<br>
                    <span style="color: #0e90d2"><strong>Tiene
                        {% if silabo.estado_planificacion_clases >= 100 %} 100% Planificado{% else %}{{ silabo.estado_planificacion_clases }} % Planificado  {% if silabo.estado_planificacion_clases > 80 %} ( <u><a ids="{{ silabo.id }}" href="javascript:;" class="detalle_tst_registrar">Temas pendientes de planificar</a></u>){% endif %}{% endif %}
                      </strong>
                </span>
                </td>
                {% with tiene_aporbado_silabo=silabo.materia|args:profesor.id|call:"tiene_silabo_aprobado" %}
                    <td style="text-align: center;">
                        {%  if silabo.codigoqr %}
                            <a class="btn btn-default" target="_blank" href="https://sga.unemi.edu.ec/media/qrcode/silabodocente/qr_silabo_{{ silabo.id|encrypt }}.pdf"><span class="fa fa-qrcode"></span> Imprimir sílabo QR</a>
                        {% else %}
                            {% if tiene_aporbado_silabo %}
                                <a class="btn btn-default" onclick="vistaprevia({{ silabo.materia.id }}, {{ profesor.id }})" href="javascript:;"><span class="fa fa-print"></span> Sílabo</a>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endwith %}
                <td style="text-align: center">
                    {% with tieneapro=silabo|call:'tiene_aprobaciones' %}
                        {% if tieneapro %}
                            {% with estadoaprobacion=silabo|call:'estado_aprobacion' %}
                                {%  if estadoaprobacion %}
                                    {% if estadoaprobacion.estadoaprobacion == aprobar %}
                                        <span class="label label-success">{{ estadoaprobacion.get_estadoaprobacion_display }}</span>
                                    {% else %}
                                        {% if estadoaprobacion.estadoaprobacion == rechazar %}
                                            <span class="label label-important">{{ estadoaprobacion.get_estadoaprobacion_display }}</span>
                                        {% else %}
                                            <span class="label label-warning">{{ estadoaprobacion.get_estadoaprobacion_display }}</span>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            <span class="label label-warning">PENDIENTE</span>
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="9" STYLE="text-align: center">NO TIENE SILABOS REGISTRADOS</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
