{% extends "ajaxform.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        {% if proyecto.convocatoria.tipo == 1 %}
            $(document).on('select2:opening.disabled', ':disabled', function() { return false; });
        {% endif %}

        $(function(){
            $("select").select2({minimumResultsForSearch: 20 });

            $("#id_nombres, #id_apellido1, #id_nacimiento, #id_sexo, #id_nacionalidad").addClass("validate[required]");
            $("#id_institucionlabora, #id_cargodesempena").addClass("validate[required]");
            $("#id_email").addClass("validate[required, custom[email]");

            $('#id_cedula, #id_telefono').blur(function(){
                digitos($(this));
            });

            {% if proyecto.convocatoria.tipo == 1 %}
                $("#id_funcionproyecto option[value='1']").remove();
                $("#id_funcionproyecto option[value='2']").remove();
                $("#id_funcionproyecto option[value='3']").remove();
                $("#id_funcionproyecto option[value='4']").remove();

                $("#id_funcionproyecto").val('5').trigger('change');
                $("#id_funcionproyecto").attr('disabled', 'disabled');
            {% else %}
                $("#id_funcionproyecto").addClass("validate[required]");
            {% endif %}

            $("#id_email").css('text-transform', 'lowercase');
            $("#id_nombres, #id_apellido1, #id_apellido2, #id_pasaporte, #id_nacionalidad, #id_institucionlabora, #id_cargodesempena").css('text-transform', 'uppercase');
        });
    </script>
{% endblock %}
{% block atras %}/adm_proyectoinvestigacion?action=integrantesproyecto&id={{ proyecto.id|encrypt }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_proyectoinvestigacion?action=integrantesproyecto&id={{ proyecto.id|encrypt }}{% endblock %}
{% block formwidth %}form-xl{%  endblock %}
{% block formdestinationswal %}/adm_proyectoinvestigacion?action=integrantesproyecto&id={{ proyecto.id|encrypt }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addexterno'/>
    <input type='hidden' name='idp' value='{{ proyecto.id|encrypt }}'/>
{% endblock %}
{% block formback %}/adm_proyectoinvestigacion?action=integrantesproyecto&id={{ proyecto.id|encrypt }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}