{% load humanize %}
{% load sga_extras %}
{% block extraheading %}
{#        <script type="text/javascript" src='/static/js/select2.js?v=1.0.0' ></script>#}
{#        <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>#}
        <script>
            $(function(){
                $("select").select2({minimumResultsForSearch: 5, dropdownParent: $('#itemspanelcerrarevaluacion') });

                $("#estado").addClass("validate[required]");

                $('#estado').change(function(){
                    $("#observacion").prop("disabled", true);
                    $("#observacion").val("");
                    if($(this).val() == '6'){
                        $("#observacion").addClass("validate[required]");
                        $("#observacion").prop("disabled", false);
                    }else{
                        $("#observacion").removeClass("validate[required]");
                    }
                });

                $('#estado').val('').trigger('change');

            });
        </script>
{% endblock %}
<form id="frmCerrarEvaluacion" style="width: 100%; margin-bottom: 0px;padding-left: 0px;padding-top: 0px; padding-right: 0px; padding-bottom: 0px">
    <input type='hidden' name='action' value='cerrarevaluacion'/>
    <input type='hidden' name='id' value='{{ evaluacion.id|encrypt }}'/>
    <table class="table table-bordered" >
        <tbody>
            <tr>
                <td colspan="4">
                    <div class="alert alert-info" style="margin-bottom: 0px">
                        {{ evaluacion.proyecto.titulo }}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 15%;">Tipo:</td>
                <td style="width: 35%;">
                    <span class="label label-info">{{ evaluacion.get_tipo_display }}</span>
                    {% if evaluacion.adicional %}
                        <span class="label label-warning">ADICIONAL</span>
                    {% endif %}
                </td>
                <td style="width: 15%;">Fecha:</td>
                <td style="width: 35%;">{{ evaluacion.fecha|date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <td style="width: 15%;">Evaluador:</td>
                <td colspan="3" style="text-align: justify; width: 85%;">{{ evaluacion.evaluador.persona.nombre_completo_inverso }}</td>
            </tr>
            <tr>
                <td>Puntaje Total:</td>
                <td>{{ evaluacion.puntajetotal }}</td>
                <td>Resultado:</td>
                <td>
                    {{ evaluacion.get_estado_display }}
                </td>
            </tr>
            <tr>
                <td>Estado:</td>
                <td colspan="3">
                    <select id="estado" name="estado" style="width: 300px">
                        <option value="" selected>---------</option>
                        {% for estado in estados %}
                            <option value="{{ estado.id }}">{{ estado.descripcion }}</option>
                        {% endfor %}
                    </select>
                    <div class="help-text" style="font-size: xx-small; margin-bottom: 0;"></div>
                </td>
            </tr>
            <tr>
                <td>Observaciones:</td>
                <td colspan="3">
                    <textarea style="width: 95%; resize: none; text-transform: uppercase" cols="40" id="observacion" name="observacion" rows="4"></textarea>
                    <div class="help-text" style="font-size: xx-small; margin-bottom: 0;"></div>
                </td>
            </tr>
        </tbody>
    </table>
</form>