{% extends "ajaxform.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js?v=1.0.1" data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js?v=1.0.1"></script>
    <script type="text/javascript" src='/static/js/jquery.validationEngine.js?v=1.0.0'></script>
    <script type="text/javascript" src='/static/js/jquery.validationEngine-es.js?v=1.0.0' ></script>
    <link type='text/css' rel='stylesheet' href="/static/css/validationEngine.jquery.css?v=1.0.0"/>
    <link rel="stylesheet" href="/static/css/stylesfc.css">
    <script type="text/javascript">
        $(function(){
            //Contendrá los ids de objetivos eliminados de las tablas (los existentes en base de datos)
            lista_items1 = [];
            //Contendrá los ids de resultados/compromisos eliminados de las tablas (los existentes en base de datos)
            lista_items2 = [];
            //Contendrá los ids de referencias bibliográficas eliminadas de las tablas (los existentes en base de datos)
            lista_items3 = [];

            let nfr = {{ totalresultados }};
            let numeroresultado = {{ totalresultados }};

            let nfrb = {{ totalreferencias }};
            let numeroreferencia = {{ totalreferencias }};

            let nf = {{ totalobjetivos }};
            let numeroobjetivo = {{ totalobjetivos }};

            $('[data-bs-toggle="tooltip"]').on('click', function () {
                $(this).tooltip('hide');
            });

            {% if not resumenpropuesta %}
                $("#objetivos_aux, #referencias_aux, #resultados_aux, #declaratoria_aux").addClass("validate[required]");
            {% endif %}

            configurarChkEditor = function (nombreCampo, nombreCampo2, obligatorio){
                CKEDITOR.replace(nombreCampo, {
                    language: 'es',
                    width: '100%',
                    height: 200,
                    resize_enabled: false,
                    toolbarGroups: [
                        { name: 'styles' },
                        { name: 'basicstyles' },
                        { name: 'undo' },
                        { name: 'listindentalign',  groups: [ 'list', 'indent', 'align' ] },
                        { name: 'links' },
                        { name: 'insert' },
                        { name: 'tools' },
                        { name: 'mode' }
                    ],
                    removeButtons: 'Image,Flash'
                });

                if(obligatorio) $("#"+nombreCampo+"_aux").addClass("validate[required]");
            };

            configurarChkEditor('resumenpropuesta', 'resumenpropuesta', true);
            configurarChkEditor('formulacionproblema', 'formulacionproblema', true);
            configurarChkEditor('objetivogeneral', 'objetivogeneral', true);
            configurarChkEditor('justificacion', 'justificacion', true);
            configurarChkEditor('estadoarte', 'estadoarte', true);
            configurarChkEditor('metodologia', 'metodologia', true);

            CKEDITOR.instances['resumenpropuesta'].on('change', function() {
                if(CKEDITOR.instances['resumenpropuesta'].getData().length > 0)
                    $("#resumenpropuesta_aux").val("OK");
                else
                    $("#resumenpropuesta_aux").val("");
            });

            CKEDITOR.instances['formulacionproblema'].on('change', function() {
                if(CKEDITOR.instances['formulacionproblema'].getData().length > 0)
                    $("#formulacionproblema_aux").val("OK");
                else
                    $("#formulacionproblema_aux").val("");
            });

            CKEDITOR.instances['objetivogeneral'].on('change', function() {
                if(CKEDITOR.instances['objetivogeneral'].getData().length > 0)
                    $("#objetivogeneral_aux").val("OK");
                else
                    $("#objetivogeneral_aux").val("");
            });

            CKEDITOR.instances['justificacion'].on('change', function() {
                if(CKEDITOR.instances['justificacion'].getData().length > 0)
                    $("#justificacion_aux").val("OK");
                else
                    $("#justificacion_aux").val("");
            });

            CKEDITOR.instances['estadoarte'].on('change', function() {
                if(CKEDITOR.instances['estadoarte'].getData().length > 0)
                    $("#estadoarte_aux").val("OK");
                else
                    $("#estadoarte_aux").val("");
            });

            CKEDITOR.instances['metodologia'].on('change', function() {
                if(CKEDITOR.instances['metodologia'].getData().length > 0)
                    $("#metodologia_aux").val("OK");
                else
                    $("#metodologia_aux").val("");
            });

            $(".agregaobjetivo").click(function() {
                if(datosobjetivocompleto()){
                    nf += 1;
                    numeroobjetivo ++;
                    borrar_fila_default_objetivo();

                    nueva = '<tr id="fila_'+nf.toString()+'">'+
                            '<td style="width:3%; text-align: right; font-weight: bold">'+numeroobjetivo.toString()+'</td>' +
                            '<td style="width: 47%; text-align: left"><input type="hidden" name="idobjetivoespecifico[]" value="0"> <textarea rows="3" name="objetivoespecifico[]" id="objetivoespecifico'+ nf.toString() +'"></textarea> <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div></td>'+
                            '<td style="width: 47%; text-align: left"><textarea rows="3" name="medioverificacion[]" id="medioverificacion'+ nf.toString() +'"></textarea> <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div></td>'+
                            '<td style="width: 3%; text-align: center"><a href="javascript:;" class="btn btn-tini btn-danger eliminaritem" ido="0" idf="'+nf.toString()+'" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="fa fa-remove"></i></a></td>'+
                            '</tr>';

                    $("#detalle_objetivos").append(nueva);
                    $("#objetivoespecifico"+nf.toString()).addClass("validate[required]");
                    $("#medioverificacion"+nf.toString()).addClass("validate[required]");
                    $("#detalle_objetivos").find(".eliminaritem").tooltip();
                    $(".eliminaritem").unbind("click.eliminarItem");
                    $(".eliminaritem").bind("click.eliminarItem", eliminarItem);
                }else{
                    mensajeWarningSwal("No se puede agregar más filas para Objetivos específicos", "Ingrese la información completa de cada objetivo");
                }
            });

            agregar_fila_default_objetivo = function (){
                filadefault = '<tr id="fila_default_objetivo">'+
                              '<td colspan="4" style="text-align: center">NO HAY DETALLES DE OBJETIVOS ESPECÍFICOS</td>'+
                              '</tr>';
                $("#detalle_objetivos").append(filadefault);
                $("#objetivos_aux").addClass("validate[required]");
            };

            borrar_fila_default_objetivo = function (){
                $("#fila_default_objetivo").remove();
                $("#objetivos_aux").removeClass("validate[required]");
            };

            datosobjetivocompleto = function (){
                let c1e = c2e = true;

                $('textarea[name="objetivoespecifico[]"]').each(function() {
                    if($(this).val().trim()==''){
                        c1e = false;
                        return false;
                    }
                });

                $('textarea[name="medioverificacion[]"]').each(function() {
                    if($(this).val().trim()==''){
                        c2e = false;
                        return false;
                    }
                });

                return c1e && c2e;
            };

            eliminarItem = function() {
                $(this).tooltip('hide');
                let id = $(this).attr("idf");
                let idobjetivo = $(this).attr("ido");

                if(idobjetivo != '0'){
                    var item = {idobjetivo: idobjetivo};
                    lista_items1.push(item)
                }

                $("#fila_"+id).remove();
                let rowCount = $('#tbdetalleobjetivos tr').length;
                numeroobjetivo = 0;

                $("#tbdetalleobjetivos tbody tr").each(function (index) {
                    numeroobjetivo ++;
                    $(this).children("td").each(function (index2) {
                        if(index2 == 0)
                            $(this).html(numeroobjetivo.toString());
                    });
                });

                if(numeroobjetivo == 0)
                    agregar_fila_default_objetivo();

            };

            $(".agregaresultado").click(function() {
                let valoresSelectTipo, opcion, campotipo;
                if(datosresultadocompleto()){
                    nfr += 1;
                    numeroresultado ++;
                    borrar_fila_default_resultado();

                    valoresSelectTipo = '<option value="">---------</option>';
                    {% for tipo in tiporesultado %}
                        opcion = `<option value="{{ tipo.id }}">{{ tipo.descripcion }}</option>`;
                        valoresSelectTipo += opcion;
                    {% endfor %}
                    campotipo = `<select style="width: 100%;" class="tipo" id="tipo${nfr}" name="tipo[]" >${valoresSelectTipo}</select>`;

                    nueva = '<tr id="filaresultado_'+nfr.toString()+'">' +
                            '<td style="width: 3%;text-align: right; font-weight: bold">'+numeroresultado.toString()+'</td>' +
                            '<td style="text-align: justify">'+campotipo+' <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div>  </td>'+
                            '<td style="text-align: left"><input type="hidden" name="idresultadocompromiso[]" value="0"><input type="hidden" name="idtiporesultado[]" value="0"><input type="hidden" name="idtiporesultadonofijo[]" value="0"><input type="hidden" name="obligtiporesultado[]" value="False"><input type="hidden" name="tiporegistro[]" value="N"><input autocomplete="off" type="hidden" name="destiporesultado[]" value=""> <textarea rows="3" name="descripciontiporesultado[]" id="descripciontiporesultado'+ nfr.toString() +'"></textarea> <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div></td>' +
                            '<td style="text-align: left"><textarea rows="3" name="detalletiporesultado[]" id="detalletiporesultado'+ nfr.toString() +'"></textarea> <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div></td>' +
                            '<td style="text-align: center"><input type="checkbox" value="" name="marcados[]" checked onclick="return false;"></td>' +
                            '<td style="text-align: center"><a href="javascript:;" class="btn btn-tini btn-danger eliminaritemresultado" idrc="0" idf="'+nfr.toString()+'" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="fa fa-remove"></i></a></td>' +
                            '</tr>';

                    $("#detalle_resultados").append(nueva);
                    $("#tipo"+nfr.toString()).addClass("validate[required]");
                    $("#descripciontiporesultado"+nfr.toString()).addClass("validate[required]");
                    $("#detalletiporesultado"+nfr.toString()).addClass("validate[required]");
                    $("#detalle_resultados").find(".tipo").select2({minimumResultsForSearch: 5});
                    $("#detalle_resultados").find(".eliminaritemresultado").tooltip();
                    $(".eliminaritemresultado").unbind("click.eliminarItemResultado");
                    $(".eliminaritemresultado").bind("click.eliminarItemResultado", eliminarItemResultado);
                }else{
                    mensajeWarningSwal("No se puede agregar más filas para Resultados", "Ingrese todas las descripciones de los resultados");
                }
            });

            datosresultadocompleto = function (){
                let c1e = c2e = c3e = true;

                $('select[name="tipo[]"]').each(function() {
                    if($(this).val().trim()==''){
                        c1e = false;
                        return false;
                    }
                });

                $('textarea[name="descripciontiporesultado[]"]').each(function() {
                    if($(this).val().trim()==''){
                        c2e = false;
                        return false;
                    }
                });

                $('textarea[name="detalletiporesultado[]"]').each(function() {
                    if($(this).val().trim()==''){
                        c3e = false;
                        return false;
                    }
                });

                return c1e && c2e && c3e;
            };

            agregar_fila_default_resultado = function (){
                filadefault = '<tr id="fila_default_resultado">'+
                              '<td colspan="6" style="text-align: center">NO HAY DETALLES DE PRODUCTOS/RESULTADOS/COMPROMISOS</td>'+
                              '</tr>';
                $("#detalle_resultados").append(filadefault);
                $("#resultados_aux").addClass("validate[required]");
            };

            borrar_fila_default_resultado = function (){
                $("#fila_default_resultado").remove();
                $("#resultados_aux").removeClass("validate[required]");
            };

            eliminarItemResultado = function() {
                $(this).tooltip('hide');
                let id = $(this).attr("idf");
                let idresultado = $(this).attr("idrc");

                if(idresultado != '0'){
                    let item = {idresultado: idresultado};
                    lista_items2.push(item)
                }

                $("#filaresultado_"+id).remove();
                let rowCount = $('#tbdetalleresultados tr').length;
                numeroresultado = 0;

                $("#tbdetalleresultados tbody tr").each(function (index) {
                    numeroresultado ++;
                    $(this).children("td").each(function (index2) {
                        if(index2 == 0)
                            $(this).html(numeroresultado.toString());
                    });
                });

                if(numeroresultado == 0)
                    agregar_fila_default_resultado();
            };

            $(".agregareferencia").click(function() {
                if(datosreferenciacompleto()){
                    nfrb += 1;
                    numeroreferencia ++;
                    borrar_fila_default_referencia();

                    nueva = '<tr id="filarb_'+nfrb.toString()+'">' +
                            '<td style="width: 3%; text-align: right; font-weight: bold">'+numeroreferencia.toString()+'</td>' +
                            '<td style="width: 94%; text-align: left"><input type="hidden" name="idreferenciabib[]" value="0"><input autocomplete="off" style="text-align: left; width: 100%; text-transform: none" maxlength="250" class="form-imput" id="referenciabib'+ nfrb.toString() +'" name="referenciabib[]"  type="text" value="" ><div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div></td>' +
                            '<td style="width: 3%; text-align: center"><a href="javascript:;" class="btn btn-tini btn-danger eliminaritemrefbib" idrb="0" idf="'+nfrb.toString()+'" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="fa fa-remove"></i></a></td>' +
                            '</tr>';


                    $("#detalle_referencia").append(nueva);
                    $("#referenciabib"+nfrb.toString()).addClass("validate[required]");
                    $("#detalle_referencia").find(".eliminaritemrefbib").tooltip();
                    $(".eliminaritemrefbib").unbind("click.eliminarItemRefBib");
                    $(".eliminaritemrefbib").bind("click.eliminarItemRefBib", eliminarItemRefBib);
                }else{
                    mensajeWarningSwal("No se pueden agregar más filas para Refencias bibliográficas", "Ingrese la información completa para cada referencia bibliográfica");
                }
            });

            agregar_fila_default_referencia = function (){
                filadefault = '<tr id="fila_default_referencia">'+
                              '<td colspan="3" style="text-align: center">NO HAY DETALLES DE REFERENCIAS BIBLIOGRÁFICAS</td>'+
                              '</tr>';
                $("#detalle_referencia").append(filadefault);
                $("#referencias_aux").addClass("validate[required]");
            };

            borrar_fila_default_referencia = function (){
                $("#fila_default_referencia").remove();
                $("#referencias_aux").removeClass("validate[required]");
            };

            datosreferenciacompleto = function (){
                let c1e = true;

                $('input[name="referenciabib[]"]').each(function() {
                    if($(this).val().trim()==''){
                        c1e = false;
                        return false;
                    }
                });

                return c1e;
            };

            eliminarItemRefBib = function() {
                $(this).tooltip('hide');
                let id = $(this).attr("idf");
                let idreferencia = $(this).attr("idrb");

                if(idreferencia != '0'){
                    let item = {idreferencia: idreferencia};
                    lista_items3.push(item)
                }

                $("#filarb_"+id).remove();
                let rowCount = $('#tbreferenciabib tr').length;
                numeroreferencia = 0;

                $("#tbreferenciabib tbody tr").each(function (index) {
                    numeroreferencia ++;
                    $(this).children("td").each(function (index2) {
                        if(index2 == 0)
                            $(this).html(numeroreferencia.toString());
                    });
                });

                if(numeroreferencia == 0)
                    agregar_fila_default_referencia();

            };

            $(".resultados").click(function(){
                let id = $(this).attr('idfila');
                if($(this).is(':checked'))
                    $("#auxresultados"+id).val("S");
                else
                    $("#auxresultados"+id).val("");
            });

            $(".declaratoria").click(function(){
                if($(this).is(':checked'))
                    $("#declaratoria_aux").val("S");
                else
                    $("#declaratoria_aux").val("");
            });

            agregarValidacionResultados = function (){
                $(".auxresultados").each(function(){
                    $(this).addClass("validate[required]");
                });
            };

            {% if resumenpropuesta %}
                agregarValidacionObjetivos = function (){
                    $(".objetivos").each(function(){
                        $(this).addClass("validate[required]");
                    });

                    $(".mediosverificacion").each(function(){
                        $(this).addClass("validate[required]");
                    });
                };

                agregarValidacionDescripcionesResultados = function (){
                    $(".tipo").each(function(){
                        $(this).addClass("validate[required]");
                    });

                    $(".descripcionesresultado").each(function(){
                        $(this).addClass("validate[required]");
                    });

                    $(".detallestiporesultado").each(function(){
                        $(this).addClass("validate[required]");
                    });
                };

                agregarValidacionReferencias = function (){
                    $(".referencias").each(function(){
                        $(this).addClass("validate[required]");
                    });
                };

                agregarValidacionObjetivos();
                $(".eliminaritem").unbind("click.eliminarItem");
                $(".eliminaritem").bind("click.eliminarItem", eliminarItem);

                agregarValidacionDescripcionesResultados();
                $(".eliminaritemresultado").unbind("click.eliminarItemResultado");
                $(".eliminaritemresultado").bind("click.eliminarItemResultado", eliminarItemResultado);

                agregarValidacionReferencias();
                $(".eliminaritemrefbib").unbind("click.eliminarItemRefBib");
                $(".eliminaritemrefbib").bind("click.eliminarItemRefBib", eliminarItemRefBib);

            {% endif %}

            agregarValidacionResultados();

            $('textarea').css({'padding':'3px', 'resize':'none'});
            $(':input[readonly]').css({'cursor':'not-allowed'});

            {% if not puedeeditar %}
                $("#formbutton").hide();
            {% endif %}

        });
    </script>
{% endblock %}
{% block atras %}/adm_proyectoinvestigacion?action=propuestasold&idc={{ convocatoria.id|encrypt }}&id={{ id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_proyectoinvestigacion?action=propuestasold&idc={{ convocatoria.id|encrypt }}&id={{ id }}{% endblock %}
{% block formdestinationswal %}/adm_proyectoinvestigacion?action=propuestasold&idc={{ convocatoria.id|encrypt }}&id={{ id }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editcontenidoproyecto'/>
    <input type='hidden' name='id' value='{{ id }}'/>
{% endblock %}
{% block formback %}/adm_proyectoinvestigacion?action=propuestasold&idc={{ convocatoria.id|encrypt }}&id={{ id }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}
{% block formsuffix %}
    <div id="fieldset_resumenpropuesta" class="col-md-12" style="float: left;">
        <div class="row">

        </div>
        <div class="input-group">
            <div class="label-text col-md-3 col-sm-3 col-12"  style="display: table;height: 30px;">
                <div style="display: table-cell; vertical-align: middle; line-height: 18px">
                    <label for="resumenpropuesta" style="padding-right: 10px;">Resumen de la Propuesta:</label>
                </div>
            </div>
            <div class="control-group col-md-9 col-sm-9 col-12" style="float: left; width: 100">
                <textarea name="resumenpropuesta" id="resumenpropuesta">{{ resumenpropuesta }}</textarea>
                <input style="visibility: hidden; width: 0px; height: 0px; " type="text" id="resumenpropuesta_aux" value="{% if resumenpropuesta %}OK{% endif %}">
                <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div>
            </div>
        </div>
    </div>

    <div id="fieldset_formulacionproblema" class="col-md-12" style="float: left;">
        <div class="row">

        </div>
        <div class="input-group">
            <div class="label-text col-md-3 col-sm-3 col-12"  style="display: table;height: 30px;">
                <div style="display: table-cell; vertical-align: middle; line-height: 18px">
                    <label for="formulacionproblema" style="padding-right: 10px;">Formulación del problema:</label>
                </div>
            </div>
            <div class="control-group col-md-9 col-sm-9 col-12" style="float: left; width: 100">
                <textarea name="formulacionproblema" id="formulacionproblema">{{ formulacionproblema }}</textarea>
                <input style="visibility: hidden; width: 0px; height: 0px; " type="text" id="formulacionproblema_aux" value="{% if formulacionproblema %}OK{% endif %}">
                <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div>
            </div>
        </div>
    </div>

    <div id="fieldset_objetivogeneral" class="col-md-12" style="float: left;">
        <div class="row">

        </div>
        <div class="input-group">
            <div class="label-text col-md-3 col-sm-3 col-12"  style="display: table;height: 30px;">
                <div style="display: table-cell; vertical-align: middle; line-height: 18px">
                    <label for="objetivogeneral" style="padding-right: 10px;">Objetivo general:</label>
                </div>
            </div>
            <div class="control-group col-md-9 col-sm-9 col-12" style="float: left; width: 100">
                <textarea name="objetivogeneral" id="objetivogeneral">{{ objetivogeneral }}</textarea>
                <input style="visibility: hidden; width: 0px; height: 0px; " type="text" id="objetivogeneral_aux" value="{% if objetivogeneral %}OK{% endif %}">
                <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <table class="table table-bordered table-striped" id="tbdetalleobjetivos">
            <thead class="table-light">
                <tr>
                    <th colspan="4">Objetivos Específicos</th>
                </tr>
                <tr>
                    <th style="width: 3%; text-align: center;">#</th>
                    <th style="width: 47%; text-align: center;">Objetivo</th>
                    <th style="width: 47%; text-align: center;">Medio de verificación</th>
                    <th style="width: 3%; text-align: center">
                        {% if puedeeditar %}
                            <a href="javascript:;" id="btnagregarcuota" class="btn btn-success btn-mini agregaobjetivo" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar Objetivo específico"><i class="fa fa-plus"></i> </a>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody id="detalle_objetivos">
                {% if objetivos %}
                    {% for objetivo in objetivos %}
                        <tr id="fila_{{ forloop.counter }}">
                            <td style="text-align: right; font-weight: bold">{{ forloop.counter }}</td>
                            <td style="text-align: left"><input type="hidden" name="idobjetivoespecifico[]" value="{{ objetivo.id }}"><textarea rows="3" class="objetivos" name="objetivoespecifico[]" id="objetivoespecifico{{ forloop.counter }}">{{ objetivo.descripcion }}</textarea><div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div></td>
                            <td style="text-align: left"><textarea rows="3" class="mediosverificacion" name="medioverificacion[]" id="medioverificacion{{ forloop.counter }}">{{ objetivo.medioverificacion }}</textarea><div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div></td>
                            <td style="text-align: center">
                                {% if not objetivo.tiene_cronograma_actividades %}
                                    <a href="javascript:;" class="btn btn-tini btn-danger eliminaritem" ido="{{ objetivo.id }}" idf="{{ forloop.counter }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="fa fa-remove"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr id="fila_default_objetivo">
                        <td colspan="4" style="text-align: center">NO HAY DETALLES DE OBJETIVOS ESPECÍFICOS</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <div>
            <input style="visibility: hidden; width: 0px; height: 0px; " type="text" id="objetivos_aux" value="">
            <div class="help-text" style="color: #dc1414;font-size: xx-small; margin-bottom: 0;"></div>
        </div>
    </div>

    <div id="fieldset_justificacion" class="col-md-12" style="float: left;">
        <div class="row">

        </div>
        <div class="input-group">
            <div class="label-text col-md-3 col-sm-3 col-12"  style="display: table;height: 30px;">
                <div style="display: table-cell; vertical-align: middle; line-height: 18px">
                    <label for="justificacion" style="padding-right: 10px;">Justificación:</label>
                </div>
            </div>
            <div class="control-group col-md-9 col-sm-9 col-12" style="float: left; width: 100">
                <textarea name="justificacion" id="justificacion">{{ justificacion }}</textarea>
                <input style="visibility: hidden; width: 0px; height: 0px; " type="text" id="justificacion_aux" value="{% if justificacion %}OK{% endif %}">
                <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div>
            </div>
        </div>
    </div>

    <div id="fieldset_estadoarte" class="col-md-12" style="float: left;">
        <div class="row">

        </div>
        <div class="input-group">
            <div class="label-text col-md-3 col-sm-3 col-12"  style="display: table;height: 30px;">
                <div style="display: table-cell; vertical-align: middle; line-height: 18px">
                    <label for="estadoarte" style="padding-right: 10px;">Estado del arte:</label>
                </div>
            </div>
            <div class="control-group col-md-9 col-sm-9 col-12" style="float: left; width: 100">
                <textarea name="estadoarte" id="estadoarte">{{ estadoarte }}</textarea>
                <input style="visibility: hidden; width: 0px; height: 0px; " type="text" id="estadoarte_aux" value="{% if estadoarte %}OK{% endif %}">
                <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div>
            </div>
        </div>
    </div>

    <div id="fieldset_metodologia" class="col-md-12" style="float: left;">
        <div class="row">

        </div>
        <div class="input-group">
            <div class="label-text col-md-3 col-sm-3 col-12"  style="display: table;height: 30px;">
                <div style="display: table-cell; vertical-align: middle; line-height: 18px">
                    <label for="metodologia" style="padding-right: 10px;">Metodología (Máximo 1000 palabras):</label>
                </div>
            </div>
            <div class="control-group col-md-9 col-sm-9 col-12" style="float: left; width: 100">
                <textarea name="metodologia" id="metodologia">{{ metodologia }}</textarea>
                <input style="visibility: hidden; width: 0px; height: 0px; " type="text" id="metodologia_aux" value="{% if metodologia %}OK{% endif %}">
                <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div>
            </div>
        </div>
    </div>

    <div style="width: 100%; height: max-content; display: inline-block">
        <h6 style="width:100%; text-align:left; border-bottom: 1px solid #98a3ab; line-height:0.1em; margin:10px 0 20px;"><span style="padding:0 10px; background: white;">Impactos (Ingrese al menos uno)</span></h6>
    </div>

    <div id="fieldset_impactosocial" class="col-md-12" style="float: left;">
        <div class="row">

        </div>
        <div class="input-group">
            <div class="label-text col-md-3 col-sm-3 col-12"  style="display: table;height: 30px;">
                <div style="display: table-cell; vertical-align: middle; line-height: 18px">
                    <label for="impactosocial" style="padding-right: 10px;">Social:</label>
                </div>
            </div>
            <div class="control-group col-md-9 col-sm-9 col-12" style="float: left; width: 100">
                <textarea name="impactosocial" id="impactosocial" class="form-control" rows="4">{{ impactosocial|safe }}</textarea>
                <div class="help-text" style="color: #dc1414;font-size: xx-small; margin-bottom: 0; height: 13px; line-height: 13px"></div>
            </div>
        </div>
    </div>

    <div id="fieldset_impactocientifico" class="col-md-12" style="float: left;">
        <div class="row">

        </div>
        <div class="input-group">
            <div class="label-text col-md-3 col-sm-3 col-12"  style="display: table;height: 30px;">
                <div style="display: table-cell; vertical-align: middle; line-height: 18px">
                    <label for="impactocientifico" style="padding-right: 10px;">Ambiental:</label>
                </div>
            </div>
            <div class="control-group col-md-9 col-sm-9 col-12" style="float: left; width: 100">
                <textarea name="impactocientifico" id="impactocientifico" class="form-control" rows="4">{{ impactocientifico|safe }}</textarea>
                <div class="help-text" style="color: #dc1414;font-size: xx-small; margin-bottom: 0; height: 13px; line-height: 13px"></div>
            </div>
        </div>
    </div>


    <div id="fieldset_impactoeconomico" class="col-md-12" style="float: left;">
        <div class="row">

        </div>
        <div class="input-group">
            <div class="label-text col-md-3 col-sm-3 col-12"  style="display: table;height: 30px;">
                <div style="display: table-cell; vertical-align: middle; line-height: 18px">
                    <label for="impactoeconomico" style="padding-right: 10px;">Económico:</label>
                </div>
            </div>
            <div class="control-group col-md-9 col-sm-9 col-12" style="float: left; width: 100">
                <textarea name="impactoeconomico" id="impactoeconomico" class="form-control" rows="4">{{ impactoeconomico|safe }}</textarea>
                <div class="help-text" style="color: #dc1414;font-size: xx-small; margin-bottom: 0; height: 13px; line-height: 13px"></div>
            </div>
        </div>
    </div>

    <div id="fieldset_impactopolitico" class="col-md-12" style="float: left;">
        <div class="row">

        </div>
        <div class="input-group">
            <div class="label-text col-md-3 col-sm-3 col-12"  style="display: table;height: 30px;">
                <div style="display: table-cell; vertical-align: middle; line-height: 18px">
                    <label for="impactopolitico" style="padding-right: 10px;">Político:</label>
                </div>
            </div>
            <div class="control-group col-md-9 col-sm-9 col-12" style="float: left; width: 100">
                <textarea name="impactopolitico" id="impactopolitico" class="form-control" rows="4">{{ impactopolitico|safe }}</textarea>
                <div class="help-text" style="color: #dc1414;font-size: xx-small; margin-bottom: 0; height: 13px; line-height: 13px"></div>
            </div>
        </div>
    </div>

    <div id="fieldset_otroimpacto" class="col-md-12" style="float: left;">
        <div class="row">

        </div>
        <div class="input-group">
            <div class="label-text col-md-3 col-sm-3 col-12"  style="display: table;height: 30px;">
                <div style="display: table-cell; vertical-align: middle; line-height: 18px">
                    <label for="otroimpacto" style="padding-right: 10px;">Otro:</label>
                </div>
            </div>
            <div class="control-group col-md-9 col-sm-9 col-12" style="float: left; width: 100">
                <textarea name="otroimpacto" id="otroimpacto" class="form-control" rows="4">{{ otroimpacto|safe }}</textarea>
                <div class="help-text" style="color: #dc1414;font-size: xx-small; margin-bottom: 0; height: 13px; line-height: 13px"></div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <table class="table table-bordered table-striped" id="tbdetalleresultados">
            <thead class="table-light">
                <tr>
                    <th colspan="6">Productos / Resultados / Compromisos</th>
                </tr>
                <tr>
                    <th style="width: 3%; text-align: center;">#</th>
                    <th style="width: 14%; text-align: center;">Tipo</th>
                    <th style="width: 40%; text-align: center;">Resultado/Producto</th>
                    <th style="width: 40%; text-align: center;">Detalle</th>
                    <th></th>
                    <th style="width: 3%; text-align: center">
                        {% if puedeeditar %}
                            <a href="javascript:;" id="btnagregarresultado" class="btn btn-success btn-mini agregaresultado" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar Resultado"><i class="fa fa-plus"></i> </a>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody id="detalle_resultados">
                {% for resultado in resultados %}
                    <tr id="filaresultado_{{ forloop.counter }}">
                        <td style="text-align: right; font-weight: bold">{{ forloop.counter }}</td>
                        <td style="text-align: justify">
                            <select style="width: 100%;" class="tipo" id="tipo{{ forloop.counter }}" name="tipo[]" >
                                <option value="">---------</option>
                                {% for tipo in tiporesultado %}
                                    <option value="{{ tipo.id }}" {% if resultado.tipo == tipo.id %}selected{% endif %}>{{ tipo.descripcion }}</option>
                                {% endfor %}
                            </select>
                            <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div>
                        </td>
                        <td style="text-align: justify"><input type="hidden" name="destiporesultado[]" value="{{ resultado.resultado.descripcion }}">  <textarea rows="3" class="descripcionesresultado" name="descripciontiporesultado[]" id="descripciontiporesultado{{ forloop.counter }}">{{ resultado.resultado.descripcion }}</textarea> <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div></td>
                        <td style="text-align: left"><textarea rows="3" class="detallestiporesultado" name="detalletiporesultado[]" id="detalletiporesultado{{ forloop.counter }}">{{ resultado.detalle }}</textarea> <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div></td>
                        <td style="text-align: center"><input type="checkbox" value="{{ resultado.resultado.id }}" name="marcados[]" checked onclick="return false;"></td>
                        <td style="text-align: center"><input type="hidden" name="tiporegistro[]" value="E">  <input type="hidden" name="obligtiporesultado[]" value="{{ resultado.resultado.obligatorio }}">  <input type="hidden" name="idresultadocompromiso[]" value="{{ resultado.id }}">  <input type="hidden" name="idtiporesultado[]" value="{{ resultado.resultado.id }}"> <input type="hidden" name="idtiporesultadonofijo[]" value="{{ resultado.resultado.id }}">  <a href="javascript:;" class="btn btn-tini btn-danger eliminaritemresultado tu" idrc="{{ resultado.id }}" idf="{{ forloop.counter }}" title="Eliminar"><i class="fa fa-remove"></i></a></td>
                    </tr>
                {% empty %}
                    <tr id="fila_default_resultado">
                        <td colspan="6" style="text-align: center">NO HAY DETALLES DE PRODUCTOS/RESULTADOS/COMPROMISOS</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input style="visibility: hidden; width: 0px; height: 0px; " type="text" id="resultados_aux" value="">
        <div class="help-text" style="color: #dc1414;font-size: xx-small; margin-bottom: 0;"></div>
    </div>

    <div class="row-fluid">
        <table class="table table-bordered table-striped" id="tbreferenciabib">
            <thead class="table-light">
                <tr>
                    <th colspan="3">Referencia Bibliográfica (En formato APA séptima edición)</th>
                </tr>
                <tr>
                    <th style="width: 3%; text-align: center;">#</th>
                    <th style="width: 54%; text-align: center;">Referencia</th>
                    <th style="width: 3%; text-align: center;">
                        {% if puedeeditar %}
                            <a href="javascript:;" id="btnagregarreferencia" class="btn btn-success btn-mini agregareferencia" data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar Referencia Bibliográfica"><i class="fa fa-plus"></i> </a>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody id="detalle_referencia">
                {% if referencias %}
                    {% for referencia in referencias %}
                        <tr id="filarb_{{ forloop.counter }}">
                            <td width="3%" style="text-align: right; font-weight: bold">{{ forloop.counter }}</td>
                            <td width="94%" style="text-align: left"><input type="hidden" name="idreferenciabib[]" value="{{ referencia.id }}"><input autocomplete="off" style="text-align: left; width: 100%; text-transform: none" maxlength="250" class="referencias" id="referenciabib{{ forloop.counter }}" name="referenciabib[]"  type="text" value="{{ referencia.descripcion }}" ><div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div></td>
                            <td width="3%" style="text-align: center">
                            {% if puedeeditar %}
                                <a href="javascript:;" class="btn btn-tini btn-danger eliminaritemrefbib" idrb="{{ referencia.id }}" idf="{{ forloop.counter }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="fa fa-remove"></i></a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr id="fila_default_referencia">
                        <td colspan="3" style="text-align: center">NO HAY DETALLES DE REFERENCIAS BIBLIOGRÁFICAS</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <input style="visibility: hidden; width: 0px; height: 0px; " type="text" id="referencias_aux" value="">
        <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div>
    </div>

    <div class='row-fluid' id="politicas">
        <div class='span12'>
            <div class="alert alert-info">
                <h4 class="alert-heading">Compromiso:</h4>
                <input type="checkbox" class="declaratoria" id="chkdeclaratoria" value="1" name="chkdeclaratoria" {% if existeresumen %}checked disabled{% endif %}> NOS COMPROMETEMOS A ENTREGAR LOS RESULTADOS EN EL INFORME FINAL DEL PROYECTO.
                <input style="visibility: hidden; width: 0px; height: 0px; " type="text" id="declaratoria_aux" value="">
                <div class="help-text" style="color: #dc1414; font-size: xx-small; margin-bottom: 0;"> </div>
            </div>
        </div>
    </div>

{% endblock %}