{% load humanize %}
{% load sga_extras %}
{% block extraheading %}
    <script>
        $(function(){
            $("#funcionpersona").addClass("validate[required]");
            $("select").select2({minimumResultsForSearch: 5 });
        });
    </script>
{% endblock %}
<form id="frmEditRolPersona" style="width: 100%; margin-bottom: 0px;padding-left: 0px;padding-top: 0px; padding-right: 0px; padding-bottom: 0px">
    <input type='hidden' name='action' value='editrolintegrante'/>
    <input type='hidden' name='idproyecto' value='{{ proyecto.id|encrypt }}'/>
    <input type='hidden' name='idi' value='{{ integranteid|encrypt }}'/>
    <table class="table table-bordered" >
        <tbody>
            <tr>
                <td><b>Tipo:</b></td>
                <td>
                    {{ tipopersona }}
                </td>
            </tr>
            <tr>
                <td><b>Persona:</b></td>
                <td>
                    {{ integrante.nombre_completo_inverso }}
                </td>
            </tr>
            <tr>
                <td><b>Rol:</b></td>
                <td>
                    <select id="funcionpersona" name="funcionpersona" style="width: 300px">
                        <option value="" selected>---------</option>
                        {% for funcion in funcionpersona %}
                            <option value="{{ funcion.0 }}" {% if funcion.0 == funcionper %}selected{% endif %}>{{ funcion.1 }}</option>
                        {% endfor %}
                    </select>
                    <div class="help-text" style="color: #dc1414;font-size: xx-small; margin-bottom: 0;"></div>
                </td>
            </tr>
        </tbody>
    </table>
</form>