{% extends "base.html" %}
{% load humanize %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src='/static/js/jquery.validationEngine.js?v=1.0.0'></script>
    <script type="text/javascript" src='/static/js/jquery.validationEngine-es.js?v=1.0.0' ></script>
    <link type='text/css' rel='stylesheet' href="/static/css/validationEngine.jquery.css?v=1.0.0"/>
    <script type="text/javascript">
        $(function() {
            $('[data-bs-toggle="tooltip"]').on('click', function () {
                $(this).tooltip('hide');
            });

            $(".mostrarevidencias").click(function() {
                let id = $(this).attr('id');
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/adm_proyectoinvestigacion",
                    data: {'action': 'mostrarevidenciasinforme', 'id': id},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result === 'ok') {
                            $(".panelbodyevidencias").html(data.data);
                            $("#itemspanelevidencias").modal({backdrop:'static'}).modal('show');
                        } else {
                            mensajeErrorSwal("No se puede consultar", data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        mensajeErrorSwal("No se puede consultar", "Error al enviar los datos")
                    },
                    dataType: "json"
                });
            });

            $(".firmardocumento").click(function() {
                let id = $(this).attr('id');
                let idper = $(this).attr('idper');
                let tipofirma = $(this).attr('tipofirma');
                let accion = $(this).attr('acc');
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/adm_proyectoinvestigacion",
                    data: {'action': accion, 'id': id, 'idper': idper, 'tipofirma': tipofirma},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result == 'ok') {
                            $(".panelbodyfirmardocumento").html(data.data);
                            $(".paneltitlefirmardocumento").html(data.title);
                            $("#itemspanelfirmardocumento").modal({backdrop:'static'}).modal('show');
                            $("#itemspanelfirmardocumento .guardar").attr('accion', accion);
                        } else {
                            mensajeErrorSwal("No se puede consultar", data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        mensajeErrorSwal("No se puede consultar", "Error al enviar los datos")
                    },
                    dataType: "json"
                });
            });

            $("#itemspanelfirmardocumento .guardar").click(function () {
                enviarFormulario("/adm_proyectoinvestigacion", $(this).attr('accion'));
                return false;
            });

            $(".validarinformefirmado").click(function() {
                let id = $(this).attr('id');
                bloqueointerface();
                $.ajax({
                    type: "GET",
                    url: "/adm_proyectoinvestigacion",
                    data: {'action': 'validarinformefirmado', 'id': id},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result === 'ok') {
                            $(".paneltitlevalidarinformefirmado").html(data.title);
                            $(".panelbodyvalidarinformefirmado").html(data.data);
                            $("#itemspanelvalidarinformefirmado").modal({backdrop:'static'}).modal('show');
                        } else {
                            if(data.swalType === 'warning')
                                mensajeWarningSwal(data.titulo, data.mensaje);
                            else
                                mensajeErrorSwal(data.titulo, data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        mensajeErrorSwal("No se puede consultar", "Error al enviar los datos")
                    },
                    dataType: "json"
                });
            });

            $("#itemspanelvalidarinformefirmado .guardar").click(function () {
                enviarFormulario("/adm_proyectoinvestigacion", "validarinformefirmado");
                return false;
            });


            enviarFormulario = function(url, action){
                let valido;
                let formdata;

                if(action === 'firmarinformeavance'){
                    $("#frmFirmarDocumento").validationEngine('attach',{ scroll: false });
                    valido = $("#frmFirmarDocumento").validationEngine('validate', { scroll: false });
                }
                else if(action === 'validarinformefirmado'){
                    $("#frmValidarInformeFirmado").validationEngine('attach',{ scroll: false });
                    valido = $("#frmValidarInformeFirmado").validationEngine('validate', { scroll: false });
                }

                if(valido){
                    bloqueointerface();
                    if (action === 'firmarinformeavance')
                        formdata = new FormData($("#frmFirmarDocumento")[0]);
                    else if (action === 'validarinformefirmado')
                        formdata = new FormData($("#frmValidarInformeFirmado")[0]);

                    $.ajax({
                        type: "POST",
                        action: action,
                        url: url,
                        data: formdata,
                        success: function(data) {
                            if(data.result === 'ok'){
                                $.unblockUI();
                                if(action === 'firmarinformeavance'){
                                    location.href = `/adm_proyectoinvestigacion?action=informesproyecto&id={{ proyecto.id|encrypt }}&idi=${data.idi}`;
                                }
                                else{
                                    urlDestino = `/adm_proyectoinvestigacion?action=informesproyecto&id={{ proyecto.id|encrypt }}`;
                                    mensajeSuccessSwal(data.titulo, data.mensaje, urlDestino);
                                }
                            }else{
                                $.unblockUI();
                                if(data.swalType === 'warning')
                                    mensajeWarningSwal(data.titulo, data.mensaje);
                                else
                                    mensajeErrorSwal(data.titulo, data.mensaje);
                            }
                        },
                        error: function() {
                            $.unblockUI();
                            mensajeErrorSwal("No se puede guardar", "Error al enviar los datos")
                        },
                        dataType: "json",
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                }else{
                    setTimeout(function() {
                        $('.help-text').html("");
                    }, 8000);
                    $.unblockUI();
                }
            };

            {% if informe %}
                Fancybox.show([
                    {
                        src: "{{ informe }}",
                        width: 2048,
                        height: 1365,
                        caption:"{{ tipoinforme }}"
                    }
                ]);
            {% endif %}

        });
    </script>
{% endblock %}
{% block atras %}/adm_proyectoinvestigacion?id={{ proyecto.id|encrypt }}&action=propuestas&idc={{ proyecto.convocatoria.id|encrypt }}{% endblock %}
{% block canvas %}
    {# TITULO PANTALLA #}
    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3 class="texto-blue">{{ title }}</h3>
                <h6>Propuestas de Docentes (Convocatoria: {{ proyecto.convocatoria.descripcion }})</h6>
            </div>
        </div>
    </div>
    {# TITULO PANTALLA #}
    <div class="container-fluid">
        {# TITULO DEL PROYECTO #}
        <div class='row'>
            <div class="col-sm-12">
                <div class="alert alert-info mb-2" style="text-align: justify">
                    <strong>{{ proyecto.titulo }}</strong>
                </div>
            </div>
        </div>
        {# TITULO DEL PROYECTO #}
        {# TABLA DE DATOS #}
        <div class="card mb-4">
            <div class="card-body border-top border-6 rounded-3 border-dark-info">
                <div class="table-responsive-xxl">
                    <table class='table table-bordered table-striped'>
                        <thead class="table-light cabecera-fija">
                            <tr>
                                <th style="width: 9%; text-align: center">Tipo</th>
                                <th style="width: 10%; text-align: center">Número</th>
                                <th style="width: 7%; text-align: center">Fecha</th>
                                <th style="width: 7%; text-align: center">Archivo</th>
                                <th style="width: 10%; text-align: center"># Actividades</th>
                                <th style="width: 10%; text-align: center"># Evidencias</th>
                                <th style="width: 10%; text-align: center">Evidencias</th>
                                <th style="width: 7%; text-align: center">Firmas</th>
                                <th style="width: 5%; text-align: center">Estado</th>
                                <th style="width: 20%; text-align: center">Observaciones</th>
                                <th style="width: 5%;text-align: center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for informe in informes %}
                                <tr>
                                    <td style="text-align: center;">{{ informe.get_tipo_display }} {% if informe.tipo == 1 %} # {{ forloop.counter }}{% endif %}</td>
                                    <td style="text-align: center;">{% if informe.numero %}<span class="label label-success">{{ informe.numero }}</span>{% endif %}</td>
                                    <td style="text-align: center;">{% if informe.fecha %}<span class="label label-info">{{ informe.fecha|date:"d-m-Y" }}</span>{% endif %}</td>
                                    <td style="text-align: center;">
                                        {% if informe.archivogenerado %}
                                            <a href="{{ informe.archivogenerado.url }}" class="btn btn-mini btn-info" data-width="2048" data-height="1380" data-fancybox="informesinfirma{{ forloop.counter }}" data-caption="Informe sin firma {{ informe.numero }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Informe sin firmas"><i class="fa fa-eye"></i> </a>
                                        {% endif %}
                                        {% if informe.archivo %}
                                            <a href="{{ informe.archivo.url }}" class="btn btn-mini btn-success" data-width="2048" data-height="1380" data-fancybox="informeconfirma{{ forloop.counter }}" data-caption="Informe firmado {{ informe.numero }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Informe firmado"><i class="fa fa-eye"></i> </a>
                                        {% endif %}
                                    </td>
                                    <td style="text-align: center"><span class="badge badge-warning">{{ informe.total_actividades }}</span></td>
                                    <td style="text-align: center"><span class="badge badge-info">{{ informe.total_evidencias }}</span></td>
                                    <td style="text-align: center;">
                                        <a href="javascript:;" id="{{ informe.id|encrypt }}" class="btn btn-info mostrarevidencias btn-mini" data-bs-toggle="tooltip" data-bs-placement="top" title="Mostrar evidencias"><i class="fa fa-list-ol"></i></a>
                                    </td>
                                    <td style="text-align: center">
                                        {% with estadosfirmas=informe.estados_firmas %}
                                            {% if estadosfirmas %}
                                                <i class="fa fa-{{ estadosfirmas.elabora.icono }} text-{{ estadosfirmas.elabora.color }} tu" title="Elabora"></i>
                                                {% if informe.tipo == 1 %}
                                                    <i class="fa fa-{{ estadosfirmas.verifica.icono }} text-{{ estadosfirmas.verifica.color }} tu" title="Verifica"></i>
                                                    <i class="fa fa-{{ estadosfirmas.aprueba.icono }} text-{{ estadosfirmas.aprueba.color }} tu" title="Aprueba"></i>
                                                {% endif %}
                                            {% endif %}
                                        {% endwith %}
                                    </td>
                                    <td style="text-align: center;"><span class="label label-{{ informe.color_estado }}">{{ informe.get_estado_display }}</span></td>
                                    <td style="text-align: justify">
                                        {% if informe.observacionverificacion %}
                                            <strong class="tu" title="Técnico de Investigación">TI:</strong>{{ informe.observacionverificacion }}<br>
                                        {% endif %}
                                        {% if informe.observacionaprobacion %}
                                            <strong class="tu" title="Decano de Investigación">DI:</strong>{{ informe.observacionaprobacion }}<br>
                                        {% endif %}
                                    </td>
                                    <td style="text-align: center">
                                        {# SI NO ES DECANO DE INVESTIGACION #}
                                        {% if persona.mi_cargo.id != 1030 %}
                                            {% if informe.estado != 10 %}
                                                <div class="dropbottom" style="text-align: left">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones <i class="fa fa-angle-down"></i></button>
                                                    <ul class="dropdown-menu pull-right" x-placement="right-start">
                                                        {% if informe.puede_revisar_aprobar %}
                                                            {% if informe.estado == 3 or informe.estado == 5 or informe.estado == 6 or informe.estado == 8 %}
                                                                {% if informe.tipo == 1 %}
                                                                    <li class="dropdown-item"><a href="/adm_proyectoinvestigacion?action=revisarinforme&id={{ informe.id|encrypt }}"><i class="fa fa-check-square-o"></i> Revisar Informe</a></li>
                                                                {% else %}
                                                                    <li class="dropdown-item"><a href="/adm_proyectoinvestigacion?action=revisarinformefinal&id={{ informe.id|encrypt }}"><i class="fa fa-check-square-o"></i> Revisar Informe</a></li>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if informe.estado == 4 %}
                                                                <li class="dropdown-item"><a href="javascript:;" class="validarinformefirmado" id="{{ informe.id|encrypt }}"><i class="fa fa-check"></i> Validar Informe Firmado</a></li>
                                                            {% endif %}
                                                            {% if informe.puede_firmar_verifica %}
                                                                <li class="dropdown-item"><a href="javascript:;" class="firmardocumento" id="{{ informe.id|encrypt }}" idper="{{ informe.personaverifica.id|encrypt }}" tipofirma="VAL" acc="firmarinformeavance"><i class="fa fa-signature"></i> Firmar Verifica</a></li>
                                                            {% endif %}
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            {% if informe.estado != 10 and informe.estado != 4 %}
                                                <div class="dropbottom" style="text-align: left">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones <i class="fa fa-angle-down"></i></button>
                                                    <ul class="dropdown-menu pull-right" x-placement="right-start">
                                                        {% if informe.puede_revisar_aprobar %}
                                                            {% if informe.estado != 4 %}
                                                                {% if informe.estado == 5 or informe.estado == 7 or informe.estado == 8 %}
                                                                    {% if informe.tipo == 1 %}
                                                                        {% if not informe.firmaelabora %}
                                                                            <li class="dropdown-item"><a href="/adm_proyectoinvestigacion?action=aprobarinforme&id={{ informe.id|encrypt }}"><i class="fa fa-handshake-o"></i> Aprobar Informe</a></li>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        <li class="dropdown-item"><a href="/adm_proyectoinvestigacion?action=aprobarinformefinal&id={{ informe.id|encrypt }}"><i class="fa fa-handshake-o"></i> Aprobar Informe</a></li>
                                                                    {% endif %}
                                                                {% endif %}
                                                                {% if informe.tipo == 1 %}
                                                                    {% if informe.puede_firmar_aprueba %}
                                                                        <li class="dropdown-item"><a href="javascript:;" class="firmardocumento" id="{{ informe.id|encrypt }}" idper="{{ informe.personaaprueba.id|encrypt }}" tipofirma="APR" acc="firmarinformeavance"><i class="fa fa-signature"></i> Firmar Aprueba</a></li>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% endif %}

{#                                        {% if informe.estado != 10 %}#}
{#                                            <div class="dropbottom" style="text-align: left">#}
{#                                                <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones <i class="fa fa-angle-down"></i></button>#}
{#                                                <ul class="dropdown-menu pull-right" x-placement="right-start">#}
{#                                                    {% if informe.puede_revisar_aprobar %}#}
{#                                                        {% if persona.mi_cargo.id != 1030 %}#}
{##}
{#                                                            {% if informe.estado == 3 or informe.estado == 5 or informe.estado == 6 or informe.estado == 8 %}#}
{#                                                                {% if informe.tipo == 1 %}#}
{#                                                                    <li class="dropdown-item"><a href="/adm_proyectoinvestigacion?action=revisarinforme&id={{ informe.id|encrypt }}"><i class="fa fa-check-square-o"></i> Revisar Informe</a></li>#}
{#                                                                {% else %}#}
{#                                                                    <li class="dropdown-item"><a href="/adm_proyectoinvestigacion?action=revisarinformefinal&id={{ informe.id|encrypt }}"><i class="fa fa-check-square-o"></i> Revisar Informe</a></li>#}
{#                                                                {% endif %}#}
{#                                                            {% endif %}#}
{#                                                            {% if informe.estado == 4 %}#}
{#                                                                <li class="dropdown-item"><a href="javascript:;" class="validarinforme" id="{{ informe.id|encrypt }}"><i class="fa fa-check"></i> Validar Informe Firmado</a></li>#}
{#                                                            {% endif %}#}
{##}
{#                                                            {% if informe.puede_firmar_verifica %}#}
{#                                                                <li class="dropdown-item"><a href="javascript:;" class="firmardocumento" id="{{ informe.id|encrypt }}" idper="{{ informe.personaverifica.id|encrypt }}" tipofirma="VAL" acc="firmarinformeavance"><i class="fa fa-signature"></i> Firmar Verifica</a></li>#}
{#                                                            {% endif %}#}
{##}
{#                                                        {% else %}#}
{#                                                            {% if informe.estado != 4 %}#}
{#                                                                {% if informe.estado == 5 or informe.estado == 7 or informe.estado == 8 %}#}
{#                                                                    {% if informe.tipo == 1 %}#}
{#                                                                        {% if not informe.firmaelabora %}#}
{#                                                                            <li class="dropdown-item"><a href="/adm_proyectoinvestigacion?action=aprobarinforme&id={{ informe.id|encrypt }}"><i class="fa fa-handshake-o"></i> Aprobar Informe</a></li>#}
{#                                                                        {% endif %}#}
{#                                                                    {% else %}#}
{##}
{#                                                                        <li class="dropdown-item"><a href="/adm_proyectoinvestigacion?action=aprobarinformefinal&id={{ informe.id|encrypt }}"><i class="fa fa-handshake-o"></i> Aprobar Informe</a></li>#}
{##}
{#                                                                    {% endif %}#}
{#                                                                {% endif %}#}
{#                                                                {% if informe.tipo == 1 %}#}
{#                                                                    {% if informe.puede_firmar_aprueba %}#}
{#                                                                        <li class="dropdown-item"><a href="javascript:;" class="firmardocumento" id="{{ informe.id|encrypt }}" idper="{{ informe.personaaprueba.id|encrypt }}" tipofirma="APR" acc="firmarinformeavance"><i class="fa fa-signature"></i> Firmar Aprueba</a></li>#}
{#                                                                    {% endif %}#}
{#                                                                {% endif %}#}
{#                                                            {% endif %}#}
{#                                                        {% endif %}#}
{#                                                    {% endif %}#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        {% endif %}#}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="11" style="text-align: center">NO EXISTEN REGISTROS DE INFORMES DEL PROYECTO</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {# TABLA DE DATOS #}
    </div>

    <div class="modal fade static"  id="itemspanelevidencias" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-list-ol"></i>&nbsp;<span class="paneltitleevidencias">Evidencias del Informe de proyecto de investigación</span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body panelbodyevidencias">

                </div>
                <div class="modal-footer" id="footermodal">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static"  id="itemspanelfirmardocumento" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-signature"></i>&nbsp;<span class="paneltitlefirmardocumento">Mostrar Recorrido de la Convocatoria</span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body panelbodyfirmardocumento">

                </div>
                <div class="modal-footer" id="footermodal">
                    <button type="button" class="btn btn-success guardar" accion=""> Firmar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static"  id="itemspanelvalidarinformefirmado" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content border-radius-modal">
                <div class="modal-header" style="padding-bottom: .7rem !important">
                    <h4 class="mb-0"><i class="fa fa-check"></i>&nbsp;<span class="paneltitlevalidarinformefirmado">Mostrar Recorrido de la Convocatoria</span></h4>
                    <button type="button" class="btn-close btn-cerrar-modal fs-5" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body panelbodyvalidarinformefirmado">

                </div>
                <div class="modal-footer" id="footermodal">
                    <button type="button" class="btn btn-orange fs-5 guardar"><i class="fa fa-check-circle" aria-hidden="true"></i> Guardar</button>
                    <button type="button" class="btn btn-cian-secondary fs-5" data-bs-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> Cancelar</button>
                </div>
            </div>
        </div>
    </div>


{#    <div class="modal fade static"  id="itemspanelsubirinforme" style="display: none;">#}
{#        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h4><i class="fa fa-cloud-upload"></i>&nbsp;<span class="paneltitlesubirinforme">Mostrar Recorrido de la Convocatoria</span></h4>#}
{#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">#}
{#                    </button>#}
{#                </div>#}
{#                <div class="modal-body panelbodysubirinforme">#}
{##}
{#                </div>#}
{#                <div class="modal-footer" id="footermodal">#}
{#                    <button type="button" class="btn btn-success guardar"> Guardar</button>#}
{#                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cerrar</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{#    <div class="modal fade static" data-keyboard="false" id="itemspanelevidencias" style="display: none;">#}
{#        <div class="modal-header">#}
{#            <h4 class="paneltitleevidencias">Evidencias del Informe de proyecto de investigación</h4>#}
{#        </div>#}
{#        <div class="modal-body panelbodyevidencias">#}
{#        </div>#}
{#        <div class="modal-footer">#}
{#            <table class="pull-right">#}
{#                <tr>#}
{#                    <td><a href="javascript:;" class="btn btn-cerrar btn-info">Cerrar</a></td>#}
{#                </tr>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
