{% extends "basebs.html" %}
{% load humanize %}
{% block heading %}
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css?v=1.0.0" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v=1.0.0"></script>
    <script type="text/javascript">
        $(function() {
            var documento=0
            $("#id_fechaini, #id_fechafin").addClass("validate[required]").datepicker({format:"yyyy-mm-dd"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });

            $("#modal_autoregistro").click(function() {
                iddocumento = $(this).attr('idc');
                $("#id_fechafin").val('');
                $("#modaladdindicadores").modal({backdrop:'static', width: '250px'}).modal('show');
            });

            $("#generar_reporte").click(function() {
                var id_fini = $("#id_fechaini").val();
                var id_ffin = $("#id_fechafin").val();
                if (id_fini=='' || id_ffin == ''){
                    smoke.alert('Ingresar fecha');
                    return false;
                }
                if (id_fini > id_ffin){
                    smoke.alert('La fecha desde no puede ser mayor a fecha hasta');
                    return false;
                }
                openwindow('GET' ,'/virtual_soporte_online', {action:'extraer_actividades',fechainicio:id_fini,fechafin:id_ffin,iddocumento:iddocumento}, '_blank');
                $("#modaladdindicadores").modal("hide");
            });

            $("#cerrarindicadoresadd").click(function() {
                $("#modaladdindicadores").modal("hide");
            });

            $(".generar_reporte_soporte_resumen").click(function () {
                var id = $(this).attr('idi');
                openwindow('GET' ,'/virtual_soporte_online', {action: 'generar_reporte_soporte_resumen',id:id},'_blank');
            });

            $(".generar_reporte_soporte").click(function () {
                var id = $(this).attr('idi');
                openwindow('GET' ,'/virtual_soporte_online', {action: 'generar_reporte_soporte',id:id},'_blank');
            });

        });
    </script>
{% endblock %}
{% block atras %}/virtual_admsoporte_online?action=lista_reportes{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span1">
            <a class="btn btn-success bloqueo_pantalla" href="/virtual_soporte_online?action=addactividad&idreporte={{ reporte.id }}"><i class="fa fa-plus"></i> Actividades</a>
        </div>
        <div class="span2">
            <a href="javascript:;" class="btn btn-info tu generar_reporte_soporte_resumen" title="Generar Reporte Resumen" idi="{{ reporte.id}}"><i class="fa fa-file-pdf-o fa-lg"></i> Generar Reporte (Resúmen)</a>
        </div>
        <div class="span2">
            <a href="javascript:;" class="btn btn-info tu generar_reporte_soporte" title="Generar Reporte Mensual" idi="{{ reporte.id}}"><i class="fa fa-file-pdf-o fa-lg"></i> Generar Reporte Mensual</a>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-striped table-bordered'>
                <thead>
                <tr>
                    <th style="width: 50px;text-align: center" >N° </th>
                    <th style="width: 80px;text-align: center" >Fecha de Actividad </th>
                    <th style="width: 200px;text-align: center" >Nombre de Actividad </th>
                    <th style="width: 40px; text-align: center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for actividad in listadoactividades %}
                    <tr>
                        <td style="text-align: center">{{ forloop.counter}}</td>
                        <td style="text-align: center">{{ actividad.fechaactividad|date:"Y-m-d" }}</td>
                        <td style="text-align: justify">{{ actividad.nombreactividad}}</td>
                        <td style="text-align: center">
                            <div class="btn-group-lg">
                                <a class="btn btn-success bloqueo_pantalla tu" title="Editar Actividad" href="/virtual_soporte_online?action=editactividad&id={{ actividad.id }}"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger bloqueo_pantalla eliminacionmodal" href="javascript:;" nhref='/virtual_soporte_online?action=delactividad&id={{ actividad.id }}'><span class="fa fa-trash"></span> </a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" style="text-align: center">NO EXISTEN ACTIVIDADES REGISTRADAS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span6">
            <a class="btn btn-success bloqueo_pantalla" href="/virtual_soporte_online?action=adddocumento&idreporte={{ reporte.id }}"><i class="fa fa-plus"></i> Adicionar Documentos</a>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-striped table-bordered'>
                <thead>
                <tr>
                    <th style="width: 50px;text-align: center" >N°</th>
                    <th style="width: 100px;text-align: center" >Nombre del Documento Entregado </th>
                    <th style="width: 40px; text-align: center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for documento in documentos %}
                    <tr>
                        <td style="text-align: center">{{ forloop.counter}}</td>
                        <td style="text-align: center">{{ documento.nombredocumento}}</td>
                        <td style="text-align: center">
                            <div class="btn-group-lg">
                                <a class="btn btn-success bloqueo_pantalla tu" title="Editar Documento" href="/virtual_soporte_online?action=editdocumento&id={{ documento.id }}"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-info tu" title="Extraer Indicentes"  href="javascript:;"  id="modal_autoregistro" idc="{{ documento.id }}"><i class="fa fa-refresh"></i></a>
                                <a class="btn btn-warning tu" title="Agregar Anexos"  href="/virtual_soporte_online?action=addanexo&id={{ documento.id }}"><i class="fa fa-plus"></i></a>
                                <a class="btn btn-info listado_anexo" title="Listar Anexos" href="/virtual_soporte_online?action=listar_anexos&id={{ documento.id }}"><i class="fa fa-list"></i></a>
                                <a class="btn btn-danger bloqueo_pantalla eliminacionmodal" href="javascript:;" nhref='/virtual_soporte_online?action=deldocumento&id={{ documento.id }}'><span class="fa fa-trash"></span> </a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" style="text-align: center">NO EXISTEN DOCUMENTOS REGISTRADOS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade static" id="modaladdindicadores" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Extraer incidentes</h3>
        </div>
        <div class="modal-body panelbody">
            <div class="alert alert-info incompletoaddindicadores" style="display: none;">
                <i class="fa fa-info-sign"></i> Complete todos los campos para continuar
            </div>
            <div class="alert alert-danger" id="incompletovaloresaddindicadores" style="display: none;">
                <i class="fa fa-info-sign"></i> Revise los valores, la fecha/hora DESDE no debe ser mayor a la fecha/hora HASTA
            </div>
            <div class="alert alert-danger" id="alertaingresoaddindicadores" style="display: none;"> FECHAS YA FUERON INGRESADAS</div>
            <div class="row-fluid">
                <form id="formulario2" class='form-vertical' action="" method="POST" >
                    <b><span class="carreraindicador"> </span></b><br>
                    Fecha desde.:<br><input type="text" name="id_fechaini" id="id_fechaini" placeholder="Fecha desde">
                    <br>Fecha hasta.:<br><input type="text" name="id_fechafin" id="id_fechafin" placeholder="Fecha hasta">
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-warning" id="generar_reporte"><i class="fa fa-file-excel-o"></i> Generar Reporte</a>
            <a href="javascript:;" class="btn btn-cerrar btn-info" id="cerrarindicadoresadd">Cerrar</a>
        </div>
    </div>

{% endblock %}

