{% extends "poa_periodos/base_poa.html" %}
{% load sga_extras %}
{% load humanize %}
{% block extraJs_ext %}
    <script>
        function formModal(id, text, action, footer = true) {
            $('#itemspanel .panelbody').empty();
            !footer ? $('#itemspanel #footermodal').hide() : null;
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    if (data.result === true) {
                        if (footer === true) {
                            $('#footermodal').hide();
                        }
                        debugger;
                        $('#itemspanel .panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text);
                        $("#itemspanel").modal({backdrop: 'static'}).modal('show').on('hidden.bs.modal', function (e) {
                            //Do something on modal hidden
                        });
                        $.unblockUI();
                    } else {
                        $.unblockUI();
                        NotificationJG.error(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    NotificationJG.error("Error de conexión.");
                },
                dataType: "json"
            });
        }

        $(function () {
            $(".deleteajax").click(function () {
                var idnombre = $(this).attr('idnombre');
                var pk = $(this).attr('idcodi');
                var accion = $(this).attr('opc');
                Swal.fire({
                    html: '<b>Estás por eliminar este registro:</b>' + idnombre,
                    text: "Esta acción es irreversible",
                    type: 'info',
                    showCancelButton: true,
                    allowOutsideClick: false,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, deseo hacerlo',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        bloqueointerface();
                        $.ajax({
                            type: 'POST',
                            url: '{{ reques.path }}',
                            async: false,
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                action: accion,
                                id: pk,
                            },
                            dataType: "json",
                            beforeSend: function () {
                                bloqueointerface();
                            }
                        }).done(function (data) {
                            {#setTimeout($.unblockUI, 1);#}
                            if (data.result == 'ok') {
                                location.reload();
                            }
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            setTimeout($.unblockUI, 1);
                            NotificationJG.error('Error en el servidor', 'Advertencia!', 10000);
                        }).always(function () {
                        });
                    } else {
                    }
                })
            });
        });
    </script>
{% endblock %}
{% block atras %}{{ request.path }}{% endblock %}
{% block buttons_action %}
 <a onclick="formModalBase('{{ periodo.id }}', 'Adicionar evaluacion ', 'addperiodoevaluacion', '', 'modal-md')"
                           href="javascript:void(0);" class='btn btn-success'>
                            <span class="fa fa-plus "></span> Adicionar
                        </a>
{% endblock %}
{% block content %}
    {#    AGGGG BUSCADOOOOOR    _________________________________________________#}
    {#                <div class="span6">#}
    {#                    <form class="form-search" onsubmit="return busqueda()">#}
    {#                        <input class='searchinput' type='text' id='searchinput' value='{{ search }}' autocomplete="off"/>#}
    {#                        <a href="javascript:;" id='search' class='btn btn-info'><span class="fa fa-search "></span> Buscar</a>#}
    {#                        {% if search or ids %}#}
    {#                            <a href="/poa_periodos" id='allresults' class='btn btn-info'><span class="fa fa-refresh "></span> Todos</a>#}
    {#                        {% endif %}#}
    {#                    </form>#}
    {#                </div>#}

    <form method="GET" action="{{ request.path }}">
        <input type="hidden" name="action" value="listadoevaluacion">
        <input type="hidden" name="idperiodopoa" value="{{ periodo.id }}">
        <div class="form-row">
            <div class="col-md-12 col-sm-12">
                <div class="input-group mb-2">
                    <input type="text" class="form-control searchinput" placeholder="Buscar" id="searchinput"
                           aria-label="Buscar" autocomplete="off" aria-describedby="button-addon2" name="s"
                           value="{{ search }}">
                    <div class="input-group-append">
                        <button class="btn btn-primary-old bloqueo_pantalla" type="submit" id="button-addon2">
                            <i class="fa fa-search"></i>
                        </button>
                        {% if url_vars|realizo_busqueda:2 %}
                            <a title="Ver todo"
                               href="{{ request.path }}?action=listadoevaluacion&idperiodopoa={{ periodo.id }}"
                               class="btn btn-default tr bloqueo_pantalla">
                                <i class="fas fa-sync-alt"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>

    <table class='table table_primary' id="example">
        <thead>
        <tr>
            <th>Descripción</th>
            {#                    <th style="width: 200px; text-align: center">% Desempeño</th>#}
            {#                    <th style="width: 200px; text-align: center">% Meta</th>#}
            <th style="width: 200px; text-align: center">Fecha Inicio</th>
            <th style="width: 200px; text-align: center">Fecha Fin</th>
            <th style="width: 100px; text-align: center">Informe Anual</th>
            <th style="width: 100px"></th>
        </tr>
        </thead>
        <tbody>
        {% for l in listadoevaluacion %}
            <tr>
                <td>{{ l.descripcion }}</td>
                {#                        <td style="text-align: center">{{ l.porcentajedesempeno }}</td>#}
                {#                        <td style="text-align: center">{{ l.porcentajemeta }}</td>#}
                <td style="text-align: center">{{ l.fechainicio|date:"Y-m-d" }}</td>
                <td style="text-align: center">{{ l.fechafin|date:"Y-m-d" }}</td>
                <td style="text-align: center">{% if l.informeanual %}
                    <i class="fa fa-check" style="color: green"></i>
                {% else %}
                    <i class="fa fa-remove" style="color: red"></i>
                {% endif %}
                </td>
                <td data-title="Acciones" style="text-align: center">
                    {% if l.periodopoa.activo %}
                        <div class="dropdown sik-dropdown">
                            <button class="btn-icon btn btn-ghost btn-sm rounded-circle dropdown-toggle"
                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" style="text-align: left">


                                <li class="dropdown-item">
                                    <a onclick="formModalBase('{{ l.id|encrypt }}', 'Editar {{ l }}', 'editarperiodoevaluacion','','modal-md')"><i
                                            class="fa fa-edit"></i> Editar </a>
                                    {#                                            <a href='/poa_periodos?action=editarperiodoevaluacion&idperiodoevaluacion={{ l.id|encrypt }}' class="bloqueo_pantalla"><i class="fa fa-edit"></i> Editar</a>#}
                                </li>
                                {% if not l.en_uso %}
                                    <li class="dropdown-item">
                                        <a href="javascript:;" title="Eliminar" class="deleteajax"
                                           idcodi="{{ l.id }}" opc="deleteperiodopoa"
                                           idnombre="{{ l.descripcion }}">
                                            <span class="fa fa-remove"></span> Eliminar
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'paginacionb4.html' %}
    
{% endblock %}
{% block moreblock_ext %}
    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-list"></i> <b class="paneltitle">FORMULARIO MODAL</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" style="padding: 1.5%;">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="row-fluid panelbody">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

