{% extends "ajaxformdinamicbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script>
    </script>
{% endblock %}
{% block formaction %}/adm_admision{% endblock %}
{% block formdestination %}/adm_admision?action=evidenciacontrato&idcohorte={{ inscripcioncohorte.cohortes.id|encrypt }}&aspirante={{ inscripcioncohorte.id|encrypt }}&tipoestado={{ tipoestado }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='cargarcontratopago' />
    <input type='hidden' name='id' id="id" value='{{ id }}' />
    <input type='hidden' name='fpago' id="fpago" value='{{ fpago }}' />
{% endblock %}
{% block formback %}/adm_admision?action=evidenciacontrato&idcohorte={{ inscripcioncohorte.cohortes.id|encrypt }}&aspirante={{ inscripcioncohorte.id|encrypt }}&tipoestado={{ tipoestado }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}