{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v=1.0.0"></script>
    <script type="text/javascript">
        $(function() {
            $("#cancel_cancelar").click(function(){
                $('#modalaplicar').modal('hide');
            });
            $("#boton_aplicar").click(function(){
                var idcohorte = $('#idcohorte').val();
                var idgrupo = $('#idgrupo').val();
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/alu_requisitosmaestria",
                    data: {'action': 'aplicarcohortegrupo', 'idcohorte': idcohorte, 'idgrupo': idgrupo },
                    error: function () {
                        $.unblockUI();
                        smoke.alert("Error al obtener los datos.");
                    },
                    success: function (data) {
                        if (data.result == "ok") {
                            $("#modalpregntadel").modal({backdrop:'static', width: '600px'}).modal('hide');
                            location.href = '/alu_requisitosmaestria'
                        } else {
                            $.unblockUI();
                            smoke.alert(data.mensaje);
                        }
                    }
                });

            });


        });
        function aplicarcohorte(idcohorte,idgrupo) {
            bloqueointerface();
            $('#idcohorte').val(idcohorte);
            $('#idgrupo').val(idgrupo);
            $("#modalaplicar").modal({backdrop:'static', width: '600px'}).modal('show');
            $.unblockUI();
        }
    </script>
{% endblock %}
{% block atras %}/alu_requisitosmaestria{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span6'>
            <h4>{{ title }}</h4>
            <h5>Maestría: {{ cohorte.maestriaadmision }}</h5>
            <h5>Cohorte: {{ cohorte.descripcion }}</h5>
        </div>
        <div class='span6 alert alert-warning'>
            Estimado postulante se les comunica que solo se puede aplicar a uno de los tres perfiles de acuerdo a su campo profesional.
        </div>
    </div>
    <div id="no-more-tables"><!-- inicio no more tables-->
        <div class='row-fluid'>
            <div class='span12'>
                <table class='table table-bordered table-striped' >
                    <thead>
                    <tr>
                        <th style="text-align: center;width: 35px">N.</th>
                        <th style="width: 400px;text-align: left;">Perfiles</th>
                        <th style="width: 300px;text-align: center;">Requisitos</th>
                        <th style="width: 80px; text-align: center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for grupo in grupos %}
                        <tr>
                            <td style="text-align: center" data-title='Nº'>{{ forloop.counter }} </td>
                            <td style="text-align: justify" data-title='Grupo'>{{ grupo }}</td>
                            <td data-title='Participantes'>
                                <div class="accordion" id="accordion{{ grupo.id }}">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a data-toggle="collapse" data-parent="#accordion{{ grupo.id }}" href="#collapseOne{{ grupo.id }}"><span class="fa fa-list"></span> Requisitos</a>
                                        </div>
                                        <div id="collapseOne{{ grupo.id }}" class="accordion-body collapse in">
                                            <table class='table table-striped table-bordered'>
                                                <tbody>
                                                {% for requisitos in grupo.mis_requisitosgrupos %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td style="text-align: justify">
                                                            {{ requisitos}}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="text-align: center" data-title='Acciones'>
                                <a href="javascript:;" class='btn btn-info' onclick="aplicarcohorte({{ cohorte.id }},{{ grupo.id }})">Aplicar</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td style="text-align: center" colspan="12">NO EXISTEN DATOS</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="modalaplicar" style="display: none;">
        <div class="modal-header">
            <h4 id="paneltitle">Programa</h4>
        </div>
        <div class="modal-body panelbody">
            <div class="alert alert-danger">
                <h4 class="alert-heading">CONFIRMACIÓN</h4>
                Al dar clic en aplicar, se inscribe en el programa de maestría.
            </div>
            <p style="margin-top: 16px;">Esta seguro(a) que desea aplicar programa?</p>
            <input type="hidden" id="idcohorte" name="idcohorte">
            <input type="hidden" id="idgrupo" name="idgrupo">
        </div>
        <div class="modal-footer">
            <p style="text-align: right; margin-bottom: 0">
                <a href="javascript:;" id="boton_aplicar" class='btn btn-success'> Aplicar</a>
                <a href="javascript:;" id="cancel_cancelar" class='btn btn-default'> Cancelar</a>
            </p>
        </div>
    </div>
{% endblock %}
