<table class="table  table-responsive" id="rwd-table-histo">
    <thead class="table-light">

    <tr>
        <th scope="col" class="border-top-0 text-center align-middle " >Fecha
        </th
        >
        <th scope="col" class="border-top-0 text-center align-middle "
        >Persona
        </th
        >
        <th scope="col" class="border-top-0 text-center align-middle ">Estado</th>

    </tr>
    </thead>
    <tbody>
    {% for historial in  historiales %}
        <tr>
            <td class="fs-6 align-middle border-top-0 text-wrap nombre" >
                {{historial.fecha_creacion}}
            </td>
            <td
                    class="fs-6 align-middle border-top-0 text-center text-wrap autor"

            >
                {{historial.persona}}
            </td>

            <td class="fs-6 align-middle border-top-0 text-center">
                {% if historial.estado == 1 %}
                    <span class="badge bg-warning">{{ historial.get_estado_display }}</span>
                {% endif %}
                {% if historial.estado == 2 %}
                    <span class="badge bg-success">{{ historial.get_estado_display }}</span>
               {% endif %}
                {% if historial.estado == 3 %}
                    <span class="badge bg-danger">{{ historial.get_estado_display }}</span>

                {% endif %}

            </td>


        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">No existen registros</td>
        </tr>
    {% endfor %}


    </tbody>
</table>
