{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_hdincidente?action=viewtreematerial{% endblock %}
{% block formdestination %}/adm_hdincidente?action=viewtreematerial{% endblock %}
{% block formactionvalue %}SaveInactiveMaterial{% endblock %}
{% block formobjectid %}{{ material.id }}{% endblock %}
{% block mensaje %}{{ '¿Esta seguro(a) que desea inactivar el material? ' }}{% endblock %}
{% block formobjectrepr %}{{ material.nombre }}{% endblock %}