{% extends 'serviciosvinculacion/baseservicios.html' %}
{% load sga_extras %}
{% block section_top %}
    {% include 'core/header_top.html' %}
{% endblock %}
{% block content %}
    {% if servicios.gestion_servicio == 1  %}
        <!-- Card section (visible solo para Unemi Empleo) -->
        <div class="row text-center my-4 justify-content-center">
            <!-- Empresa Registradas Card -->
            <div class="col-md-2 col-sm-6 col-12">
                <div class="card mb-4 h-100">
                    <div class="card-body d-flex flex-column justify-content-between align-items-center">
                        <div class="lh-1 text-center">
                            <span class="fs-6 text-uppercase fw-bold">Empresas registradas</span>
                            <div class="d-flex justify-content-center align-items-center mt-2">
                                <h2 class="fw-bold mb-1">{{ numempresas.count }}</h2>
                                <span class="ms-2">
                            <span class="bg-light-primary icon-shape icon-md rounded-3 text-dark-primary p-2">
                                <i class="bi bi-building-fill-check fs-4"></i>
                            </span>
                        </span>
                            </div>
                            <span>{{ numempresas.last_records }} {% if numempresas.last_records == 1 %} Nueva
                                empresa {% else %} Nuevas empresas {% endif %} en los últimos {{ nDays }} días</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Total de Ofertas Card -->
            <div class="col-md-2 col-sm-6 col-12">
                <div class="card mb-4 h-100">
                    <div class="card-body d-flex flex-column justify-content-between align-items-center">
                        <div class="lh-1 text-center">
                            <span class="fs-6 text-uppercase fw-bold">Total de ofertas</span>
                            <div class="d-flex justify-content-center align-items-center mt-2">
                                <h2 class="fw-bold mb-1">{{ numofertas.count }}</h2>
                                <span class="ms-2">
                            <span class="bg-light-warning icon-shape icon-md rounded-3 text-dark-warning p-2">
                                <i class="bi bi-briefcase-fill fs-4"></i>
                            </span>
                        </span>
                            </div>
                            <span>{{ numofertas.last_records }} {% if numofertas.last_records == 1 %} Nueva
                                oferta {% else %} Nuevas ofertas {% endif %} en los últimos {{ nDays }} días</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ofertas Disponibles Card -->
            <div class="col-md-2 col-sm-6 col-12">
                <div class="card mb-4 h-100">
                    <div class="card-body d-flex flex-column justify-content-between align-items-center">
                        <div class="lh-1 text-center">
                            <span class="fs-6 text-uppercase fw-bold">Ofertas disponibles</span>
                            <div class="d-flex justify-content-center align-items-center mt-2">
                                <h2 class="fw-bold mb-1">{{ numofertasdisp.count }}</h2>
                                <span class="ms-2">
                            <span class="bg-light-success icon-shape icon-md rounded-3 text-dark-success p-2">
                                <i class="fa fa-business-time fs-4"></i>
                            </span>
                        </span>
                            </div>
                            <span>{{ numofertasdisp.last_records }} {% if numofertasdisp.last_records == 1 %} Nueva
                                oferta {% else %} Nuevas ofertas {% endif %} en los últimos {{ nDays }} días</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Postulantes Card -->
            <div class="col-md-2 col-sm-6 col-12">
                <div class="card mb-4 h-100">
                    <div class="card-body d-flex flex-column justify-content-between align-items-center">
                        <div class="lh-1 text-center">
                            <span class="fs-6 text-uppercase fw-bold">Postulantes</span>
                            <div class="d-flex justify-content-center align-items-center mt-2">
                                <h2 class="fw-bold mb-1">{{ numpostulantes.count }}</h2>
                                <span class="ms-2">
                            <span class="bg-light-info icon-shape icon-md rounded-3 text-dark-info p-2">
                                <i class="fa fa-users fs-4"></i>
                            </span>
                        </span>
                            </div>
                            <span>{{ numpostulantes.last_records }} {% if numpostulantes.last_records == 1 %}
                                Postulante {% else %} Postulantes {% endif %} en los últimos {{ nDays }} días</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Usuarios Card -->
            <div class="col-md-2 col-sm-6 col-12">
                <div class="card mb-4 h-100">
                    <div class="card-body d-flex flex-column justify-content-between align-items-center">
                        <div class="lh-1 text-center">
                            <span class="fs-6 text-uppercase fw-bold">Usuarios</span>
                            <div class="d-flex justify-content-center align-items-center mt-2">
                                <h2 class="fw-bold mb-1">{{ numusuarios.count }}</h2>
                                <span class="ms-2">
                            <span class="bg-light-info icon-shape icon-md rounded-3 text-dark-info p-2">
                                <i class="bi bi-person-workspace fs-4"></i>
                            </span>
                        </span>
                            </div>
                            <span>{{ numusuarios.last_records }} {% if numusuarios.last_records == 1 %}
                                Usuario {% else %}
                                Usuarios {% endif %} han ingresado hoy</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Service description section -->
    <div class="row px-lg-20">
        <div class="col-12 ">
            <div class="post-date pt-2 text-center">
                {% if tiene_planificacion %}
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-warning btn-lg"
                           href="{{ request.path }}?sistema={{ tiposistema }}&action=agendarcita&servicio={{ servicios.id|encrypt }}">
                            <i class="fas fa-calendar-alt"></i> Agendar Cita
                        </a>
                    {% else %}
                        <a class="btn btn-warning btn-lg" href="javascript:void(0)"
                           onclick="formModalFlat('{{ request.path }}, {{ url_entrada }}, {{ url_entrada }}&sistema={{ tiposistema }}&action=agendarcita&servicio={{ servicios.id|encrypt }}',
                                   'Iniciar sesión', 'login', 'modal-md',true, 'control_acceso')">
                            <i class="fas fa-calendar-alt"></i> Agendar Cita
                        </a>
                    {% endif %}
                {% endif %}
            </div>

            <div class="mb-3">
                {{ servicios.cuerpodescripcion|safe }}
            </div>
        </div>
    </div>
{% endblock %}