{% extends "ajaxdeletedinamicbs.html" %}
{% load sga_extras %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_inscripcionesingles?action=listadohorasaprendizaje&id={{ aprendizajepractico.materiaasignada.matricula.inscripcion.id|encrypt }}{% endblock %}
{% block formaction %}/adm_inscripcionesingles{% endblock %}
{% block formactionvalue %}delaprendizaje{% endblock %}
{% block formobjectid %}{{ aprendizajepractico.id|encrypt }}{% endblock %}
{% block formobjectrepr %}{{ aprendizajepractico.fecha }} | {{ aprendizajepractico.horainicio }} | {{ aprendizajepractico.horafin }}{% endblock %}
{% block extrabuttons %}
    <input type="hidden" name="id" value="{{ aprendizajepractico.id|encrypt }}">
{% endblock %}