{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
{% endblock %}
<style type="text/css">
    .accordion1 {
        margin-bottom: 1px;
    }
    .accordion2 {
        margin-bottom: 1px;
    }
</style>
{% block atras %}/pro_personaevaluacion{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span5'>
            <h4>{{ title }}</h4>
            <h5>Docente: {{ profesor }}</h5>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <table class='table table-bordered table-striped' >
                <thead>
                <tr>
                    <th colspan="6">DISTRIBUTIVO DE HORAS (Total: {{ distributivo_horas.total_horas|floatformat:0 }} Hrs)</th>
                </tr>
                {% if distributivo_horas.detalle_horas_docencia %}
                    <tr>
                        <th>DOCENCIA ({{ distributivo_horas.horasdocencia|floatformat:0 }} Hrs)</th>
                    </tr>
                    <tr>
                        <td>
                            {% if distributivo.detalle_horas_docencia %}
                                {% for actividad in distributivo.detalle_horas_docencia %}
                                    {% if actividad.criteriodocenciaperiodo.criterio.id == 15  or actividad.criteriodocenciaperiodo.criterio.id == 16 or actividad.criteriodocenciaperiodo.criterio.id == 19 or actividad.criteriodocenciaperiodo.criterio.id == 21 or actividad.criteriodocenciaperiodo.criterio.id == 28  or actividad.criteriodocenciaperiodo.criterio.id == 30 %}
                                        <span></span>
{#                                        <table class='table table-bordered table-striped'>#}
{#                                            <thead>#}
{#                                            <tr>#}
{#                                                <th style="text-align: justify">{{ actividad.criteriodocenciaperiodo.criterio }}</th>#}
{#                                                <th STYLE="text-align: center">Evidencia</th>#}
{#                                                {% if actividad.criteriodocenciaperiodo.criterio.id == 30 %}#}
{#                                                    <th STYLE="text-align: center"></th>#}
{#                                                {% endif %}#}
{#                                            </tr>#}
{#                                            </thead>#}
{#                                            <tbody>#}
{#                                            <tr>#}
{#                                                <td>#}
{#                                                    Porcentaje asistencia#}
{#                                                </td>#}
{#                                                {% for resultados in resultado %}#}
{#                                                    <th style="text-align: center">{{ resultados.2 }} %</th>#}
{#                                                {% endfor %}#}
{#                                                {% if actividad.criteriodocenciaperiodo.criterio.id == 30 %}#}
{#                                                    <th style="text-align: center">#}
{#                                                        <a href="/pro_personaevaluacion?action=informe_seguimiento_generaltodaevidencia&id={{ profesor.id|encrypt }}&idcriteriodocencia={{ actividad.criteriodocenciaperiodo.criterio.id }}" class="btn btn-mini btn-warning bloqueo_pantalla"><i class="fa fa-list"></i></a>#}
{#                                                    </th>#}
{#                                                {% endif %}#}
{#                                            </tr>#}
{#                                            </tbody>#}
{#                                        </table>#}
                                    {% elif not actividad.criteriodocenciaperiodo.criterio.id == 4  and not actividad.criteriodocenciaperiodo.criterio.id == 1 and not actividad.criteriodocenciaperiodo.criterio.id == 15  and not actividad.criteriodocenciaperiodo.criterio.id == 16 and not actividad.criteriodocenciaperiodo.criterio.id == 19 and not actividad.criteriodocenciaperiodo.criterio.id == 21 and not actividad.criteriodocenciaperiodo.criterio.id == 28%}
                                        {% with evidenciascriterio=distributivo|args:actividad.id|args:periodo.inicio|args:periodo.fin|call:"detalle_evidencias" %}
                                            {% if actividad.criteriodocenciaperiodo.criterio.id == 59 %}
                                                <table class='table table-bordered table-striped'>
                                                    <thead>
                                                    <tr>
                                                        <th colspan="5">{{ actividad.criteriodocenciaperiodo.criterio }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 600px; text-align: center">Detalle</th>
                                                        <th style="width: 120px;text-align: center;">Ver evidencia</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td style="text-align: justify">CONSULTAR TEMAS Y FOROS</td>
                                                        <td style="text-align: center">
                                                            <a href="/pro_personaevaluacion?action=informe_seguimiento_generalevidencia&id={{ profesor.id|encrypt }}&idcriteriodocencia={{ actividad.criteriodocenciaperiodo.criterio.id }}" class="btn btn-mini btn-warning tu bloqueo_pantalla" data-original-title="Ver Evidencias"><i class="fa fa-list"></i></a>
                                                        </td>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                {% if actividad.criteriodocenciaperiodo.criterio.id == 60 or actividad.criteriodocenciaperiodo.criterio.id == 50 or actividad.criteriodocenciaperiodo.criterio.id == 54 %}
                                                    <table class='table table-bordered table-striped'>
                                                        <thead>
                                                        <tr>
                                                            <th colspan="5">{{ actividad.criteriodocenciaperiodo.criterio }}</th>
                                                        </tr>
                                                        <tr>
                                                            <th style="width: 600px; text-align: center">Detalle</th>
                                                            <th style="width: 120px;text-align: center;">Ver evidencia</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td style="text-align: justify">CONSULTAR RECURSO</td>
                                                            <td style="text-align: center">
                                                                <a href="/pro_personaevaluacion?action=informe_seguimiento_generalrecursos&id={{ profesor.id|encrypt }}&idcriteriodocencia={{ actividad.criteriodocenciaperiodo.criterio.id }}" class="btn btn-mini btn-warning tu bloqueo_pantalla" data-original-title="Ver Evidencias"><i class="fa fa-list"></i></a>
                                                            </td>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                {% else %}
                                                    {% if actividad.criteriodocenciaperiodo.criterio.id == 58 %}
                                                        <table class='table table-bordered table-striped'>
                                                            <thead>
                                                            <tr>
                                                                <th colspan="5">{{ actividad.criteriodocenciaperiodo.criterio }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th style="width: 600px; text-align: center">Detalle</th>
                                                                <th style="width: 120px;text-align: center;">Ver evidencia</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td style="text-align: justify">CANTIDAD DE MENSAJES</td>
                                                                <td style="text-align: center">
                                                                    <a href="/pro_personaevaluacion?action=informe_seguimiento_generalmensajes&id={{ profesor.id|encrypt }}&idcriteriodocencia={{ actividad.criteriodocenciaperiodo.criterio.id }}" class="btn btn-mini btn-warning tu bloqueo_pantalla" data-original-title="Ver Evidencias"><i class="fa fa-list"></i></a>
                                                                </td>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    {% else %}
                                                        {% if actividad.criteriodocenciaperiodo.criterio.id == 67 or actividad.criteriodocenciaperiodo.criterio.id ==  42 %}
                                                            <table class='table table-bordered table-striped'>
                                                                <thead>
                                                                <tr>
                                                                    <th colspan="5">{{ actividad.criteriodocenciaperiodo.criterio }}</th>
                                                                </tr>
                                                                <tr>
                                                                    <th style="width: 600px; text-align: center">Detalle</th>
                                                                    <th style="width: 120px;text-align: center;">Ver evidencia</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td style="text-align: justify">CONSULTAR TAREAS, FOROS Y CANTIDAD DE MENSAJES</td>
                                                                    <td style="text-align: center">
                                                                        <a href="/pro_personaevaluacion?action=evidenciaadmision&id={{ profesor.id|encrypt }}&idcriteriodocencia={{ actividad.criteriodocenciaperiodo.criterio.id }}" class="btn btn-mini btn-warning tu bloqueo_pantalla" data-original-title="Ver Evidencias"><i class="fa fa-list"></i></a>
                                                                    </td>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        {% else %}
                                                            {% if actividad.criteriodocenciaperiodo.criterio.id == 46 %}
                                                                <table class='table table-bordered table-striped'>
                                                                    <thead>
                                                                    <tr>
                                                                        <th colspan="5">{{ actividad.criteriodocenciaperiodo.criterio }}</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th style="width: 600px; text-align: center">Detalle</th>
                                                                        <th style="width: 120px;text-align: center;">Ver evidencia</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="text-align: justify">VIDEOS</td>
                                                                        <td style="text-align: center">
                                                                            <a href="/pro_personaevaluacion?action=informe_seguimiento_generalrecursosvideos&id={{ profesor.id|encrypt }}&idcriteriodocencia={{ actividad.criteriodocenciaperiodo.criterio.id }}" class="btn btn-mini btn-warning tu bloqueo_pantalla" data-original-title="Ver Evidencias"><i class="fa fa-list"></i></a>
                                                                        </td>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            {% else %}

                                                                {% if actividad.criteriodocenciaperiodo.criterio.id == 7 %}
                                                                    <table class='table table-bordered table-striped'>
                                                                        <thead>
                                                                        <tr>
                                                                            <th colspan="5">{{ actividad.criteriodocenciaperiodo.criterio }}</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th style="width: 600px; text-align: center">Detalle</th>
                                                                            <th style="width: 120px;text-align: center;">Ver evidencia</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="text-align: justify">TUTORIAS INDIVIDUALES O GRUPALES</td>
                                                                            <td style="text-align: center">
                                                                                <a href="/pro_personaevaluacion?action=listadotutoriasindividualesgrupales&id={{ profesor.id|encrypt }}&idcriteriodocencia={{ actividad.criteriodocenciaperiodo.criterio.id }}" class="btn btn-mini btn-warning tu bloqueo_pantalla" data-original-title="Ver Evidencias"><i class="fa fa-list"></i></a>
                                                                            </td>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    {% if evidenciascriterio %}
                                                                        <table class='table table-bordered table-striped'>
                                                                            <thead>
                                                                            <tr>
                                                                                <th colspan="5">{{ actividad.criteriodocenciaperiodo.criterio }}</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th style="width: 600px; text-align: center">Detalle</th>
                                                                                <th style="width: 120px;text-align: center;">Desde</th>
                                                                                <th style="width: 120px;text-align: center;">Hasta</th>
                                                                                {#                                                        <th style="width: 90px;text-align: center;">Aprobado</th>#}
                                                                                <th style="width: 90px;text-align: center;">Archivo</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {% for evidencia in evidenciascriterio %}
                                                                                <tr>
                                                                                    <td style="text-align: justify">{{ evidencia.actividad }}</td>
                                                                                    <td style="text-align: center">{{ evidencia.desde|date:"Y-m-d" }}</td>
                                                                                    <td style="text-align: center">{{ evidencia.hasta|date:"Y-m-d" }} </td>
                                                                                    {#                                                        <td STYLE="text-align: center">#}
                                                                                    {#                                                            {% if evidencia.aprobado %}#}
                                                                                    {#                                                                SI#}
                                                                                    {#                                                            {% else %}#}
                                                                                    {#                                                                NO#}
                                                                                    {#                                                            {% endif %}#}
                                                                                    {#                                                        </td>#}
                                                                                    <td style="text-align: center;">
                                                                                        {% if evidencia.archivo %}
                                                                                            <a target="_blank" href="{{ evidencia.download_link }}" class="btn btn-success btn-mini"><i class="fa fa-arrow-down"></i> Descargar</a>
                                                                                        {% endif %}
                                                                                    </td>
                                                                                </tr>
                                                                            {% empty %}
                                                                                <tr>
                                                                                    <td COLSPAN="5" style="text-align: center">DOCENTE NO HA SUBIDO EVIDENCIAS</td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    {% endif %}

                                                                {% else %}
                                                                    {% if actividad.criteriodocenciaperiodo.criterio.id == 56 %}
                                                                        <table class='table table-bordered table-striped'>
                                                                            <thead>
                                                                            <tr>
                                                                                <th colspan="5">{{ actividad.criteriodocenciaperiodo.criterio }}</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th style="width: 600px; text-align: center">Detalle</th>
                                                                                <th style="width: 120px;text-align: center;">Ver evidencia</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="text-align: justify">VIDEO AUTOR</td>
                                                                                <td style="text-align: center">
                                                                                    <a href="/pro_personaevaluacion?action=evidenciasvideoautor&id={{ profesor.id|encrypt }}&idcriteriodocencia={{ actividad.criteriodocenciaperiodo.criterio_id }}" class="btn btn-mini btn-warning tu bloqueo_pantalla" data-original-title="Ver Evidencias"><i class="fa fa-list"></i></a>
                                                                                </td>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    {% else %}

                                                                        <table class='table table-bordered table-striped'>
                                                                            <thead>
                                                                            <tr>
                                                                                <th colspan="5">{{ actividad.criteriodocenciaperiodo.criterio }}</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th style="width: 600px; text-align: center">Detalle</th>
                                                                                <th style="width: 120px;text-align: center;">Desde</th>
                                                                                <th style="width: 120px;text-align: center;">Hasta</th>
                                                                                {#                                                        <th style="width: 90px;text-align: center;">Aprobado</th>#}
                                                                                <th style="width: 90px;text-align: center;">Archivo</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {% for evidencia in evidenciascriterio %}
                                                                                <tr>
                                                                                    <td style="text-align: justify">{{ evidencia.actividad }}</td>
                                                                                    <td style="text-align: center">{{ evidencia.desde|date:"Y-m-d" }}</td>
                                                                                    <td style="text-align: center">{{ evidencia.hasta|date:"Y-m-d" }} </td>
                                                                                    {#                                                        <td STYLE="text-align: center">#}
                                                                                    {#                                                            {% if evidencia.aprobado %}#}
                                                                                    {#                                                                SI#}
                                                                                    {#                                                            {% else %}#}
                                                                                    {#                                                                NO#}
                                                                                    {#                                                            {% endif %}#}
                                                                                    {#                                                        </td>#}
                                                                                    <td style="text-align: center;">
                                                                                        {% if evidencia.archivo %}
                                                                                            <a target="_blank" href="{{ evidencia.download_link }}" class="btn btn-success btn-mini"><i class="fa fa-arrow-down"></i> Descargar</a>
                                                                                        {% endif %}
                                                                                    </td>
                                                                                </tr>
                                                                            {% empty %}
                                                                                <tr>
                                                                                    <td COLSPAN="5" style="text-align: center">DOCENTE NO HA SUBIDO EVIDENCIAS</td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <table class='table table-bordered table-striped'>
                                <thead>
                                <tr>
                                    <th colspan="4" style="text-align: justify">
                                        {% if distributivo.detalle_horas_docencia_actividades_docencia  %}
                                            {% for actividad in distributivo.detalle_horas_docencia_actividades_docencia %}
                                                {{ actividad.criteriodocenciaperiodo.criterio }}<br>
                                            {% endfor %}
                                        {% else %}
                                            PLANIFICACIÓN DE ACTIVIDADES
                                        {% endif %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if usamoodle %}
                                    {% for profesormateria in profesormaterias %}
                                        {% with planificacionesmateria=profesormateria.materia|args:fini|args:ffin|call:"planificacionxfecha_moodle" planificacionrecursos=profesormateria.materia|args:fini|args:ffin|call:"planificacionrecursosxfecha_moodle" %}
                                            <tbody>
                                            {% for planif in planificacionesmateria %}
                                                <tr>
                                                    <td style="width:300px; text-align: justify">{{ planif.1 }}</td>
                                                    <td style="width:100px; text-align: justify">{{ planif.0 }}</td>
                                                    <td style="width:450px; text-align: justify">{{ profesormateria.materia.nombre_mostrar_solo }}</td>
                                                    <td style="width:150px; text-align: center">{% if planif.2 %}{{ planif.2|safe }}{% endif %}</td>
                                                </tr>
                                            {% endfor %}
                                            {% for rec in planificacionrecursos %}
                                                <tr>
                                                    <td style="width:300px; text-align: justify">{{ rec.1 }}</td>
                                                    <td style="width:100px; text-align: justify">{{ rec.0 }}</td>
                                                    <td style="width:450px; text-align: justify">{{ profesormateria.materia.nombre_mostrar_solo }}</td>
                                                    <td style="width:150px; text-align: center">{% if rec.2 %}{{ rec.2|safe }}{% endif %}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        {% endwith %}
                                    {% empty %}
                                        <tr>
                                            <td colspan="4">DOCENTE NO HA SUBIDO EVIDENCIAS</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    {% for profesormateria in profesormaterias %}
                                        {% with planificacionesmateria=profesormateria.materia|args:fini|args:ffin|call:"planificacionxfecha" %}
                                            <tbody>
                                            {% for planificacionmateria in planificacionesmateria %}
                                                <tr>
                                                    <td style="width:725px; text-align: justify">{{ planificacionmateria.descripcion }}</td>
                                                    <td style="width:275px; text-align: justify">{{ planificacionmateria.materia.nombre_mostrar_solo }}</td>
                                                    <td style="width:150px; text-align: center">{{ planificacionmateria.desde|date:'d-m-Y' }} {{ planificacionmateria.horadesde|date:'H:i' }} <br> {{ planificacionmateria.hasta|date:'d-m-Y' }} {{ planificacionmateria.horahasta|date:'H:i' }}</td>
                                                    <td style="width:100px; text-align: center">
                                                        {% if planificacionmateria.paraevaluacion %}
                                                            {% if planificacionmateria.calificada %}
                                                                Pendiente
                                                            {% else %}
                                                                Calificado
                                                            {% endif %}
                                                        {% else %}
                                                            No obligatorio
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        {% endwith %}
                                    {% empty %}
                                        <tr>
                                            <td colspan="15">DOCENTE NO HA SUBIDO EVIDENCIAS</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}

                {% if distributivo_horas.detalle_horas_investigacion %}
                    <tr>
                        <th>INVESTIGACION ({{ distributivo_horas.horasinvestigacion|floatformat:0 }} Hrs)</th>
                    </tr>
                    <tr>
                        <td>
                            {% with actividadesdetallesinves=distributivo_horas|args:iddetallepares|call:'detalle_horas_investigacion_pordocente' %}
                                {% for actividad in actividadesdetallesinves %}
                                    <table class='table table-bordered table-striped' >
                                        <thead>
                                        <tr>
                                            <th>{{ actividad.criterioinvestigacionperiodo.criterio }} | Horas: {{ actividad.horas }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% with evidenciasactividades=actividad|call:'evidenciasactividaddetaslleditributivo' %}
                                            {% if evidenciasactividades %}
                                                <table class='table table-bordered table-striped' >
                                                    <thead>
                                                    <tr>
                                                        <th>Actividad</th>
                                                        <th style="width: 90px;text-align: center;">Desde</th>
                                                        <th style="width: 90px;text-align: center;">Hasta</th>
                                                        {#                                                        <th style="width: 90px;text-align: center;">Aprobado</th>#}
                                                        <th style="width: 90px;text-align: center;">Archivo</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for evidencias in evidenciasactividades %}
                                                        <tr>
                                                            <td>{{ evidencias.actividad }}</td>
                                                            <td style="text-align: center;">{{ evidencias.desde|date:"d-m-Y" }}</td>
                                                            <td style="text-align: center;">{{ evidencias.hasta|date:"d-m-Y" }}</td>
                                                            {#                                                            <td>#}
                                                            {#                                                                {% if evidencias.aprobado %}#}
                                                            {#                                                                    SI#}
                                                            {#                                                                {% else %}#}
                                                            {#                                                                    NO#}
                                                            {#                                                                {% endif %}#}
                                                            {#                                                            </td>#}
                                                            <td style="text-align: center;">
                                                                {% if evidencias.archivo %}
                                                                    <a target="_blank" href="{{ evidencias.download_link }}" class="btn btn-success btn-mini"><i class="fa fa-arrow-down"></i> Descargar</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                <tr><td STYLE="text-align: center">NO EXISTEN REGISTROS</td></tr>
                                            {% endif %}
                                        {% endwith %}
                                        </tbody>
                                    </table>
                                {% endfor %}
                            {% endwith %}
                        </td>
                    </tr>
                {% endif %}
                {% if distributivo_horas.detalle_horas_gestion %}
                    <tr>
                        <th>GESTION ({{ distributivo_horas.horasgestion|floatformat:0 }} Hrs)</th>
                    </tr>
                    <tr>
                        <td>
                            {% with actividadesdetallesgestion=distributivo_horas|args:iddetallepares|call:'detalle_horas_gestion_pordocente' %}
                                {% for actividad in actividadesdetallesgestion %}
                                    <table class='table table-bordered table-striped' >
                                        <thead>
                                        <tr>
                                            <th>{{ actividad.criteriogestionperiodo.criterio }} | Horas: {{ actividad.horas }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% with evidenciasactividades=actividad|call:'evidenciasactividaddetaslleditributivo' %}
                                            {% if evidenciasactividades %}
                                                <table class='table table-bordered table-striped' >
                                                    <thead>
                                                    <tr>
                                                        <th>Actividad</th>
                                                        <th style="width: 90px;text-align: center;">Desde</th>
                                                        <th style="width: 90px;text-align: center;">Hasta</th>
                                                        {#                                                        <th style="width: 90px;text-align: center;">Aprobado</th>#}
                                                        <th style="width: 90px;text-align: center;">Archivo</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for evidencias in evidenciasactividades %}
                                                        <tr>
                                                            <td>{{ evidencias.actividad }}</td>
                                                            <td style="text-align: center;">{{ evidencias.desde|date:"d-m-Y" }}</td>
                                                            <td style="text-align: center;">{{ evidencias.hasta|date:"d-m-Y" }}</td>
                                                            {#                                                            <td>#}
                                                            {#                                                                {% if evidencias.aprobado %}#}
                                                            {#                                                                    SI#}
                                                            {#                                                                {% else %}#}
                                                            {#                                                                    NO#}
                                                            {#                                                                {% endif %}#}
                                                            {#                                                            </td>#}
                                                            <td style="text-align: center;">
                                                                {% if evidencias.archivo %}
                                                                    <a target="_blank" href="{{ evidencias.download_link }}" class="btn btn-success btn-mini"><i class="fa fa-arrow-down"></i> Descargar</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                <tr><td STYLE="text-align: center">NO EXISTEN REGISTROS</td></tr>
                                            {% endif %}
                                        {% endwith %}
                                        </tbody>
                                    </table>
                                {% endfor %}
                            {% endwith %}
                        </td>
                    </tr>
                {% endif %}
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
