{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_desde, #id_hasta").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
            $("#id_tipoevaluacion, #id_tipoplanificacion, #id_descripcion, #id_horadesde, #id_horahasta,#id_desde, #id_hasta").addClass("validate[required]");
            $("#id_horadesde, #id_horahasta").timepicker({minuteStep: 1,appendWidgetTo: 'body', showSeconds: false, showMeridian: false, defaultTime: true});
        });
    </script>
{% endblock %}
{% block atras %}/pro_planificacion?action=planificaciones&id={{ materia.id|encrypt }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formaction %}/pro_planificacion{% endblock %}
{% block formdestination%}/pro_planificacion?action=planificaciones&id={{ materia.id|encrypt }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='add'/>
    <input type='hidden' name='id' value="{{ materia.id|encrypt }}"/>
{% endblock %}
{% block formback %}/pro_planificacion?action=planificaciones&id={{ materia.id|encrypt }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}
