{% extends "ajaxformbs.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_observacion").css({'text-transform': 'none'});
            $("#id_archivoguiadocente").addClass("validate[required]");
            {#$("#id_nombre, #id_descripcion").css({'text-transform': 'none'});#}
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}/pro_planificacion?action=planrecursoclasevirtual&silaboid={{ codigosemana.silabo.id|encrypt }}{% endblock %}
{% block formaction %}/pro_planificacion{% endblock %}
{% block formdestination %}/pro_planificacion?action=planrecursoclasevirtual&silaboid={{ codigosemana.silabo.id|encrypt }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addguiadocentevirtual'/>
    <input type='hidden' name='id' value='{{ codigosemana.id|encrypt }}'/>
{% endblock %}
{% block formback %}/pro_planificacion?action=planrecursoclasevirtual&silaboid={{ codigosemana.silabo.id|encrypt }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}