{% extends "ajaxform.html" %}
{% load sga_extras %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $(":file").filestyle("destroy");
            $("#id_observacion").css({'text-transform': 'none'});
            $("#id_archivoguiaestudiante").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block titulo %}<span class="label label-warning">Semana {{ codigosemana.numsemana }}</span> {{ title }}{% endblock %}
{% block atras %}/pro_planificacion?action=planrecursoclasevirtual&silaboid={{ codigosemana.silabo.id|encrypt }}{% endblock %}
{% block formaction %}/pro_planificacion{% endblock %}
{% block formdestination %}/pro_planificacion?action=planrecursoclasevirtual&silaboid={{ codigosemana.silabo.id|encrypt }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addguiaestudiantevirtual'/>
    <input type='hidden' name='id' value='{{ codigosemana.id|encrypt }}'/>
{% endblock %}
{% block formback %}/pro_planificacion?action=planrecursoclasevirtual&silaboid={{ codigosemana.silabo.id|encrypt }}{% endblock %}
{% block buttonname %}Guardar{% endblock %}