{% extends "ajaxconfirmaciondinamicbs.html" %}
{% load sga_extras %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/pro_planificacion?action=planrecursoclasevirtual&silaboid={{ silabo }}{% endblock %}
{% block formaction %}/pro_planificacion{% endblock %}
{% block formactionvalue %}crearmoodlecompendiomasivo{% endblock %}
{% block formobjectid %}{{ silabo }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea crear los compendios masivamente en moodle: {% endblock %}
{% block formobjectrepr %}
    <br>{% for compe in  documento %}
        {{ compe }}<br>
    {% endfor %}
{% endblock %}