{% extends "ajaxdeletedinamicbs.html" %}
{% load sga_extras %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/pro_planificacion{% endblock %}
{% block formdestination_java %}location.reload(true);{% endblock %}
{#{% block formdestination %}/pro_planificacion?action=plansemanal&silaboid={{ silabosemanal.silabo.id|encrypt }}{% endblock %}#}
{% block formactionvalue %}dellibrosodilo{% endblock %}
{% block formobjectid %}{{ libroodilo.id|encrypt }}{% endblock %}
{% block formobjectrepr %}La Bibliografía,  {{ libroodilo.autor }}, {{ libroodilo.titulo }} de la Semana:{{ silabosemanal.numsemana }}{% endblock %}