<div class='row-fluid' >
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="text-align: justify" width="100px">Unidades</th>
            <th style="text-align: justify" width="150px">Temas</th>
            <th style="text-align: justify" width="100px">SubTemas</th>
        </tr>
        </thead>
        <tbody>
        {% for tema in temas %}
            <tr>
                <td style="text-align: left">{{ tema.unidadresultadoprogramaanalitico.orden }}.-{{ tema.unidadresultadoprogramaanalitico.descripcion }}</td>
                <td style="text-align: left"> {{ tema.descripcion }}</td>
            <td style="text-align: justify">
                {% for subtema in subtemas %}
                    {% if subtema.temaunidadresultadoprogramaanalitico.id == tema.id %}
                        - {{ subtema.descripcion }}<br>
                    {% endif %}
                {% endfor %}
            </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>