<script type="text/javascript">
    $(document).ready(function() {
        var h =$(window).height() - 400;
        var table = $('#tablaexample').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
                "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
                "infoFiltered": "(Filtrado de _MAX_ total Registros)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Registroa",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "sPaginationType": "full_numbers",
            "sDom": 'T<"clear">lfrtip',
            "paging":   false,
            "ordering": false,
            "info":     true,
            "scrollY": h,
            "scroller": true,
            "deferRender": true,
            "autoWidth": false,
            "scrollCollapse": true,
            "columnDefs": [{ "width": "5%", "targets": 0 }],
            {#"order": [[ 1, 'asc' ]],#}
            //"columnDefs": [{ "visible": false,"targets": 2 }],
            "drawCallback": function ( settings ) {
                var api = this.api();
                var rows = api.rows( {page:'current'} ).nodes();
                var last=null;
            }
        });
        setTimeout( function () {
            table.columns.adjust();
        }, 50);
    } );
</script>
{% if listadoalumnos %}
    <div class="card mb-4">
        <div class="card-body border-top border-6 rounded-3 border-dark-info">
            <table class='table table-bordered table-striped' id="tablaexample">
                <thead class="table-light">
                <tr>
                    <th style="width: 25px">Nº</th>
                    <th>APELLIDOS Y NOMBRES</th>
                    <th>ASIGNATURA</th>
                    <th>PARALELO</th>
                </tr>
                </thead>
                <tbody>
                {% for alu in listadoalumnos %}
                    <tr>
                        <td style="text-align: center">{{ forloop.counter }}</td>
                        <td>{{ alu.matricula.inscripcion.persona.nombre_completo_inverso }}</td>
                        <td>{{ alu.materia.asignaturamalla.asignatura.nombre }}</td>
                        <td>{{ alu.materia.paralelo }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}