{% block heading %}
    <script>
        $(function () {

         $(".detallehistorial").click(function() {
                var id = $(this).attr("idh");

                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/pro_planificacion",
                    data: {'action':'detallehistorialguiadocente', 'id': id},
                    success: function(data) {
                        $.unblockUI();
                        if (data.result=='ok'){
                            $("#detallemodal_body").html(data.html);
                            $("#divmostrardetalle").modal({backdrop:'static', width: '1000px'}).modal('show');
                        } else {
                            smoke.alert(data.mensaje);
                        }
                    },
                    error: function() {
                        $.unblockUI();
                        smoke.alert("Error de conexión.");
                    },
                    dataType: "json"
                });
                return false;
            });
         $(".cerrardetalle").click(function() {
                $("#divmostrardetalle").modal("hide");
            });
    });
    </script>

<div class='row-fluid' >
    <table class="table table-bordered">
        <tr>
            <td>
                <strong>OBSERVACIÓN:</strong><br>
                {{ guiadocente.observacion }}
            </td>
            <td>
                <strong>ESTADO:</strong><br>
                {{ guiadocente.estado.nombre }}
            </td>
            <td>
                Archivos:<br>
                {% if guiadocente.archivoguiadocente %}
                    <a href='{{ guiadocente.archivoguiadocente.url }}' target="_blank" class="btn btn-warning"><span class="fa fa-download"></span> <i class=" hidden-phone hidden-tablet visible-desktop "></i> Guía docente</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <strong>USUARIO:</strong> {{ guiadocente.usuario_creacion }} <strong>CREACIÓN:</strong> {{ guiadocente.fecha_creacion|date:"Y-m-d h:i:s" }} <strong>MODIFICACIÓN:</strong> {{ guiadocente.fecha_modificacion|date:"Y-m-d h:i:s" }}
            </td>
        </tr>
    </table>
    <table class="table table-bordered">
        <thead>
        <th style="width: 80px">USUARIO</th>
        <th style="width: 100px">FECHA</th>
        <th style="width: 250px">OBSERVACIÓN</th>
        <th style="width: 60px; text-align: center">ESTADO</th>
        <th style="width: 80px"></th>
        </thead>
        <tbody>
        {% for historial in historialaprobacion %}
            <tr>
                <td style="text-align: justify">{{ historial.usuario_creacion }}</td>
                <td style="text-align: justify;">{{ historial.fecha_creacion|date:"Y-m-d" }}</td>
                <td style="text-align: justify;">{{ historial.observacion }}</td>
                <td style="text-align: center;">{{ historial.estado.nombre }}</td>
                <td style="text-align: center;">
                    {% if historial.estado.id == 3 %}
                        <a href="javascript:;" idh="{{ historial.id }}" class='btn btn-warning btn-mini tu detallehistorial' title="Ver más" ><i class='fa fa-eye'></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade static" id="divmostrardetalle" style="display: none;">
        <div class="modal-header">
            <h3 class="paneltitle">Detalle de Historial Rechazado</h3>
        </div>

        <div class="modal-body" id="detallemodal_body">

        </div>
        <div class="modal-footer">
            <table class="pull-right">
                <tr>
                    <td><a href="javascript:;" class="btn btn-default cerrardetalle">Cerrar</a></td>
                </tr>
            </table>
        </div>

</div>
{% endblock %}
