{% extends "base.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function () {
            $(".duplicar_silabo").click(function () {
                var id = $(this).attr('ids');
                bloqueointerface();
                $.get("/pro_planificacion", {'action': 'duplicar_silabovdos', 'ids': id}, function (data) {
                    if (data.result == 'ok') {
                        $.unblockUI();
                        $(".itemspanelduplicar_silabopanelbody").html(data.data);
                        $("#itemspanelduplicar_silabo").modal({backdrop: 'static', width: '610px'}).modal('show');
                    }
                }, 'json');

            });
            $("#itemspanelduplicar_silabo .btn-cerrar").click(function () {
                $("#itemspanelduplicar_silabo").modal("hide");
            });
            $(".duplicar_silabo_carrera").click(function () {
                var id = $(this).attr('ids');
                bloqueointerface();
                $.get("/pro_planificacion", {'action': 'duplicar_silabo_carreravdos', 'ids': id}, function (data) {
                    if (data.result == 'ok') {
                        $.unblockUI();
                        $(".itemspanelduplicar_silabocarrerapanelbody").html(data.data);
                        $("#itemspanelduplicar_silabocarrera").modal({backdrop: 'static', width: '610px'}).modal('show');
                    }
                }, 'json');

            });
            $("#itemspanelduplicar_silabocarrera .btn-cerrar").click(function () {
                $("#itemspanelduplicar_silabocarrera").modal("hide");
            });
            $(".duplicar_silabo_otro_docente").click(function () {
                var id = $(this).attr('ids');
                bloqueointerface();
                $.get("/pro_planificacion", {'action': 'duplicar_silabo_otro_docentevdos', 'ids': id}, function (data) {
                    if (data.result == 'ok') {
                        $.unblockUI();
                        $(".itemspanelduplicar_silabopanelbody").html(data.data);
                        $("#itemspanelduplicar_silabo").modal({backdrop: 'static', width: '700px'}).modal('show');
                    }
                }, 'json');

            });
            $("#itemspaneldetalle_temas_subtemas .btn-cerrar").click(function () {
                $("#itemspaneldetalle_temas_subtemas").modal("hide");
            });
        })

        function desplegar(id, aux, nombre) {
            if (aux == 0) {
                $(".collapse" + id).collapse('hide');
                $("#" + nombre).parent().find(".fa").removeClass("fa-chevron-up").addClass("fa-chevron-down");
                aux = 1;
            } else {
                $(".collapse" + id).collapse('show');
                $("#" + nombre).parent().find(".fa").removeClass("fa-chevron-down").addClass("fa-chevron-up");
                aux = 0;
            }
            return aux;
        }


        function vistaprevia(idproprag) {
            openwindow('POST', '/pro_planificacion', {action: 'silaboverdos_pdf', id: idproprag}, '_blank');
        }

        function formModal(id, text, action) {
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    $.unblockUI();
                    if (data.result === true) {
                        $('.panelbodymatricula').html(data.data);
                        $('#itemspanelmatricula .paneltitlematricula').html(text);
                        $("#itemspanelmatricula").modal({backdrop: 'static', width: '900'}).modal('show');
                        $('[data-toggle="popover"]').popover({
                            placement: 'top',
                            trigger: 'hover'
                        });
                        tooltips = function () {
                            $(".tl").tooltip({placement: "left"});
                            $(".tr").tooltip({placement: "right"});
                            $(".tu").tooltip({placement: "top"});
                            $(".tb").tooltip({placement: "bottom"});
                        };

                        tooltips();
                    } else {
                        mensajeWarning(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    mensajeWarning("Error de conexión.");
                },
                dataType: "json"
            });
        }
        function formModalGenerico(id, text, action, dimension, ids, footer=true) {
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                    'ids':ids,
                },
                success: function (data) {
                    $.unblockUI();
                    if (dimension){
                        $("#w-modal").removeClass('modal-lg modal-xl modal-md modal-sm').addClass(dimension)
                    }
                    if (data.result === true) {
                        if (footer === true) {
                            $('#footermodal').hide();
                        }
                        $('.panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text);
                        $("#itemspanel").modal({backdrop: 'static'}).modal('show');
                         $("#id_periodos").select2({width:"100%", placeholder:"Seleccione un periodo."})
                    } else {
                        mensajeDanger(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    mensajeDanger("Error de conexión.");
                },
                dataType: "json"
            });
        }

    </script>
    <script>
        function cambiarsemana(numsemana) {
            bloqueointerface();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': 'cambiar_semana_plan',
                    'numsemana': numsemana,
                    'silabocab': '{{ silabocab.id }}',
                },
                success: function (data) {
                    $.unblockUI();
                    if (data.result) {
                        $('.contenidosemanalplan').remove();
                        $('.menusemanas').removeClass('active')
                        $(`#nav${numsemana}`).addClass('active')
                        $('.detallesemana').html(data.data);
                    } else {
                        mensajeWarning(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    mensajeWarning("Error de conexión.");
                },
                dataType: "json"
            });
        }

        $(function () {
            $('#id_componente').select2({width:'100%', minimumResultsForSearch:-1,placeholder:'Seleccione una actividad'})
            {#cambiarsemana('{{ request.session.fecha_sel }}')#}
        })

    </script>
    <script src="/static/adicionalesjs/formquestionb4.js?0.24"></script>
{% endblock %}
{% block atras %}/pro_planificacion?action=silabo&materia={{ silabocab.materia.id|encrypt }}{% endblock %}
{% block canvas %}

    <div class='row'>
        <div class='col-lg-12'>
            <div class="headtitle">
                <h3 class="texto-blue">{{ title }}</h3>
                <h6>Asignatura: {{ silabocab.materia.asignaturamalla.asignatura|lower|capfirst }} - {{ silabocab.materia.paralelo }}</h6>
                <input type="hidden" id="codsilabo" name="codsilabo" value="{{ silabocab.id }}">
                <input type="hidden" name="num_semana" id="id_numsemana" value="{{ fecha.9|encrypt }}">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="card mb-3">
                    <div class="card-header" style="height: 25px;">
                        <h4><i class="fa fa-list-alt"></i> Detalle Planificación</h4>
                    </div>
                    <div class="card-body">
                        <div class="border-top row border-bottom mb-2 g-0">
                            <div class="col">
                                <div class="pe-1 ps-2 py-3 text-center">
                                    <h5 class="mb-0">v{{ silabocab.versionsilabo }}</h5>
                                    <span>Versión</span>
                                </div>
                            </div>
                            <div class="col border-start">
                                <div class="pe-1 ps-3 py-3 text-center">
                                    <h5 class="mb-0 {% if totalporcentajecumplimiento >= 100 %}text-success{% else %}text-danger{% endif %}">{% if not tienesemanas %}0.00{% else %}{{ silabocab.estado_planificacion_clases }}{% endif %}%</h5>
                                    <span>Planificado</span>
                                </div>
                            </div>
                            <div class="col border-start">
                                <div class="pe-1 ps-3 py-3 text-center">
                                    <h5 class="mb-0">
                                        {% with tieneapro=silabocab|call:'tiene_aprobaciones' %}
                                            {% if tieneapro %}
                                                {% with estadoaprobacion=silabocab|call:'estado_aprobacion' %}
                                                    {% if estadoaprobacion %}
                                                        {% if estadoaprobacion.estadoaprobacion == aprobar %}
                                                            <span class="text-success">{{ estadoaprobacion.get_estadoaprobacion_display }}</span>
                                                        {% else %}
                                                            {% if estadoaprobacion.estadoaprobacion == rechazar %}
                                                                <span class="text-danget">{{ estadoaprobacion.get_estadoaprobacion_display }}</span>
                                                            {% else %}
                                                                <span class="text-warning">{{ estadoaprobacion.get_estadoaprobacion_display }}</span>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endwith %}
                                            {% else %}
                                                <span class="text-black">Pendiente</span>
                                            {% endif %}
                                        {% endwith %}
                                    </h5>
                                    <span>Estado</span>
                                </div>
                            </div>
                        </div>
                        {% if panalitico != 0 %}
                            {% if totalporcentajecumplimiento >= 100 %}
                                {% if silabocab.codigoqr %}
                                    <a data-fancybox="iframe{{ silabocab.id }}" data-caption="{{ silabocab.materia }}"
                                       data-width="2048" data-height="1365"
                                       class="btn btn-default tb mb-1" title="Ver Sílabo"
                                       href="https://sga.unemi.edu.ec/media/qrcode/silabodocente/qr_silabo_{{ silabocab.id|encrypt }}.pdf">
                                        <i class="fa fa-qrcode"></i> Imprimir Sílabo
                                    </a>
                                {% else %}
                                    <a class="btn btn-success mb1" onclick="vistaprevia('{{ silabocab.id|encrypt }}')" href="javascript:;"><i class="fa fa-print"></i>&nbsp; Imprimir Sílabo</a>
                                {% endif %}
                                <a class="btn btn-warning bloqueo_pantalla mb-1" href="/pro_planificacion?action=trazabilidad&id={{ silabocab.id|encrypt }}&rutapage=planclase"><i class="fa fa-list"></i> Trazabilidad</a>
                            {% endif %}
                        {% else %}
                            {% if not silabocab.codigoqr %}

                                <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-expanded="false"> Acciones duplicar
                                <span class="fa fa-angle-down"></span>
                                </button>
                                <ul class="dropdown-menu">
                                {% if silabocab.tiene_materia_duplicadas %}
{#                                    {% if not no_permite_duplicar %}#}
                                    <li><a ids="{{ silabocab.id|encrypt }}" href="javascript:;" class='dropdown-item tu duplicar_silabo_carrera'><i class="fa fa-paste"></i>&nbsp; Duplicar sílabo otra carrera</a></li>
{#                                    {% endif %}#}
                                    {% if silabocab.tiene_materia_fecha_igual %}
                                        <li><a ids="{{ silabocab.id|encrypt }}" href="javascript:;" class='dropdown-item tu duplicar_silabo mb-1'><i class="fa fa-clone"></i>&nbsp; Duplicar sílabo</a></li>
                                    {% endif %}
                                {% else %}
                                    {% if silabocab.tiene_silabo_otra_carrera and not tienesemanas %}
{#                                    {% if not no_permite_duplicar %}#}
                                        <li><a ids="{{ silabocab.id|encrypt }}" href="javascript:;" class='dropdown-item tu duplicar_silabo_carrera mb-1'><i class="fa fa-paste"></i>&nbsp; Duplicar sílabo otra carrera</a></li>
{#                                    {% endif %}#}
                                    {% endif %}
                                {% endif %}
                                {% if silabocab.silabos_para_duplicar and not tienesemanas %}
                                    <li><a ids="{{ silabocab.id|encrypt }}" href="javascript:;" class='dropdown-item tu duplicar_silabo_otro_docente mb-1'><i class="fa fa-copy"></i>&nbsp; Duplicar sílabo de otro docente</a></li>
                                {% endif %}
                                {% if not tienesemanas and silabocab.programaanalitico_existe %}
                                    {% if not no_permite_duplicar %}
                                    <li><a href="javascript:;" class='dropdown-item tu mb-1' onclick="formModalGenerico('{{ silabocab.id|encrypt }}','Duplicar sílabo por periodo','duplicar_silabo_periodo')"><i class="fa fa-record-vinyl"></i>&nbsp; Duplicar sílabo otro periodo</a></li>
                                    {% endif %}
                                {% endif %}
                                </ul>
                            {% endif %}
                        {% endif %}
                        <div {% if totalporcentajecumplimiento >= 100 %} class="text-black mt-2 mb-2" {% else %} class="text-black mt-2 mb-2"{% endif %} id="mensajeevidencia" style="text-align: justify;font-size: 12px">
                            {% if totalporcentajecumplimiento >= 100 %}
                                <span><i class="fa fa-info-circle"></i> Los temas planificados corresponden al 100% del programa analítico.</span>
                                {% if not silabocab.codigoqr %}
                                    <a class="btn btn-default" onclick="formModal('{{ silabocab.id|encrypt }}', 'PENDIENTES', 'listadopendientes')" href="javascript:"> <i class="fa fa-check"></i> Ver cumplimiento</a>
                                {% endif %}
                            {% else %}
                                <span><i class="fa fa-info-circle"></i> Tiene el {{ totalporcentajecumplimiento }}% planificado.
                                    El botón imprimir se habilitará cuando se registre toda la planificación.</span> {% if totalporcentajecumplimiento > 80 %}( <u><a ids="{{ silabocab.id|encrypt }}" href="javascript:;" class="detalle_tst_registrar">Temas pendientes de planificar</a></u>){% endif %}
                                <br><a class="btn btn-warning" onclick="formModal('{{ silabocab.id|encrypt }}', 'PENDIENTES', 'listadopendientes')" href="javascript:"> <i class="fa fa-bell  blinkimg" border=0></i> Ver pendientes</a>
                            {% endif %}
                            {% if silabocab.materia.idcursomoodle %}
                                {% if silabocab.materia.coordinacion.id == 9 %}
                                   <a class="btn btn-warning"
                                   href="{{ periodo.urlmoodle2 }}/course/view.php?id={{ silabocab.materia.idcursomoodle }}" target="_blank">
                                   <i class="fa fa-share"></i> Ir al curso de moodle
                                   </a>
                                {% elif silabocab.materia.coordinacion.id == 7 %}
                                    <a class="btn btn-warning "
                                       href="{{ periodo.urlmoodle }}/course/view.php?id={{ silabocab.materia.idcursomoodle }}" target="_blank">
                                       <i class="fa fa-share"></i> Ir al curso de moodle
                                    </a>
                                {% elif silabocab.materia.asignaturamalla.malla.modalidad_id == 1 or silabocab.materia.asignaturamalla.malla.modalidad_id == 2 %}
                                    <a class="btn btn-warning "
                                       href="{{ periodo.urlmoodle }}/course/view.php?id={{ silabocab.materia.idcursomoodle }}" target="_blank">
                                       <i class="fa fa-share"></i> Ir al curso de moodle
                                   </a>
                                {% elif silabocab.materia.asignaturamalla.malla.modalidad_id == 3 %}
                                    <a class="btn btn-warning "
                                       href="{{ periodo.urlmoodleenlinea }}/course/view.php?id={{ silabocab.materia.idcursomoodle }}" target="_blank">
                                       <i class="fa fa-share"></i> Ir al curso de moodle
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                    <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false">
                        <span class="fa fa-list"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="sidenav" style="margin-top: 4px;">
                        <div class="navbar-nav flex-column">
                            <span class="navbar-header"><i class="fa fa-calendar"></i> Semanas</span>
                            <ul class="list-unstyled ms-n2 mb-4">
                                {% for fecha in listadocronogramaclase %}
                                    {% with semanaadicional=silabocab|args:fecha.fechainicio|args:fecha.fechafin|call:'semana_adicional' numero_semana=silabocab|args:fecha.fechainicio|args:fecha.fechafin|call:'cronograma_silabo_n_semana' %}
                                        <li id="nav{{ forloop.counter }}" class="menusemanas nav-item {% if fecha.semana == request.session.fecha_sel %}active{% endif %}">
{#                                        <li id="nav{{ forloop.counter }}" class="menusemanas nav-item {% if forloop.counter == request.session.fecha_sel %}active{% endif %}">#}
{#                                            <a class="nav-link bloqueo_pantalla" href="?action=planclase&silaboid={{ silabocab.id|encrypt }}&numsemana={{ forloop.counter }}">#}
                                            <a class="nav-link bloqueo_pantalla" href="?action=planclase&silaboid={{ silabocab.id|encrypt }}&numsemana={{ fecha.semana }}">
                                                {% if semanaadicional %}
                                                    {% for semana in  semanaadicional %}
                                                        <span><i class="fa fa-calendar-check"></i> {{ semana.cronograma.obejetivosemanal|capfirst }}</span>
                                                    {% endfor %}
                                                {% else %}
                                                    <span><i class="fa fa-calendar-check"></i> {% if fecha.semana == 0 %}{{ fecha.obejetivosemanal }}{% else %}Semana {{ fecha.semana }}{% endif %} <span class="text-muted">({{ fecha.fechainicio|date:"Y-m-d" }} - {{ fecha.fechafin|date:"Y-m-d" }}){% if fecha.examen %}(Examen parcial){% endif %}</span></span>
                                                    {% if fecha.examen %}
    {#                                                                | <span>Examen</span>#}
                                                    {% else %}
                                                        {% if fecha.tieneactividadplanificada %}{% if not fecha.semana == 0 %}<span class="text-muted">&nbsp;<i class="fa fa-info-circle tr " title="Actividad planificada"></i></span>{% endif %}{% endif %}
                                                        {% if not fecha.tienesemanaplanificada %}{% if not fecha.semana == 0 %}<i class="fa fa-warning text-danger tr" title="Sin Planificar"></i>{% endif %}{% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endwith %}
                                {% endfor %}
{#                                {% for fecha in fechas %}#}
{#                                    {% with semanaadicional=silabocab|args:fecha.1|args:fecha.2|call:'semana_adicional' cronograma_silabo=silabocab|args:fecha.1|args:fecha.2|call:'cronograma_silabo' numero_semana=silabocab|args:fecha.1|args:fecha.2|call:'cronograma_silabo_n_semana' %}#}
{#                                        <li id="nav{{ forloop.counter }}" class="menusemanas nav-item {% if forloop.counter == request.session.fecha_sel %}active{% endif %}">#}
{#                                            <a class="nav-link bloqueo_pantalla" href="?action=planclase&silaboid={{ silabocab.id|encrypt }}&numsemana={{ forloop.counter }}">#}
{#                                                {% if semanaadicional %}#}
{#                                                    {% for semana in  semanaadicional %}#}
{#                                                        <span><i class="fa fa-calendar-check"></i> {{ semana.cronograma.obejetivosemanal|capfirst }}</span>#}
{#                                                    {% endfor %}#}
{#                                                {% else %}#}
{#                                                    {% if cronograma_silabo %}#}
{#                                                        {% for crono in  cronograma_silabo %}#}
{#                                                            <span><i class="fa fa-calendar-check"></i> {{ crono.obejetivosemanal|capfirst }} <span class="text-muted">({{ fecha.1|date:"Y-m-d" }} - {{ fecha.2|date:"Y-m-d" }})</span></span>#}
{#                                                            {% if crono.examen %}#}
{#                                                                | <span>Examen</span>#}
{#                                                            {% else %}#}
{#                                                                {% if not fecha.9 > 0 %}{% if not crono.semana == 0 %}<i class="fa fa-warning text-danger tr" title="Sin Planificar"></i>{% endif %}{% endif %}#}
{#                                                            {% endif %}#}
{#                                                        {% endfor %}#}
{#                                                    {% else %}#}
{#                                                        <span class="text-danger">Por favor comuníquese con GTA para verificar cronograma y fechas de la materia.</span><br>#}
{#                                                    {% endif %}#}
{#                                                {% endif %}#}
{#                                            </a>#}
{#                                        </li>#}
{#                                    {% endwith %}#}
{#                                {% endfor %}#}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-8 col-md-12 col-12">
                <div class="card rounded-3">
                    <div class="card-header border-bottom-0 p-0">
                        {#                        <div>#}
                        {#                            <ul class="nav nav-lb-tab" id="tab" role="tablist">#}
                        {#                                <li class="nav-item">#}
                        {#                                    <a class="nav-link active" data-bs-toggle="pill" href="#contenido" role="tab" aria-controls="table" aria-selected="true"><i class="fa fa-pencil-alt"></i> Contenido</a>#}
                        {#                                </li>#}
                        {#                            </ul>#}
                        {#                        </div>#}
                    </div>
                    <div class="card-body detallesemana">
                        {% include 'pro_planificacion/plansemanaldetalle.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade static" id="itemspanelo" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Editar Objetivo de Apendizaje</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" style="display: inline-block;">
                    <div class="row-fluid">
                        <form id="formobj" name="formobj" class="form-vertical form-modal">
                            <input type='hidden' name='action' value='editarobjetivoaprendizaje'/>
                            <input type='hidden' name='idso' id="idso"/>
                            <label>Objetivo Aprendizaje</label>
                            <textarea maxlength="1000" rows="5" id="id_objetivo" style="text-align: justify"></textarea>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="adicionarobj" class="btn btn-adicionar btn-success"><i class="fa fa-check"></i> Guardar</a>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-window-close"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="itemspanelenf" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Editar Enfoque Metodológico</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" style="display: inline-block;">
                    <div class="row">
                        <form id="formenf" name="formenf" class="form-vertical form-modal">
                            <input type='hidden' name='action' value='editenfoquemetodologico'/>
                            <input type='hidden' name='idse' id="idse"/>
                            <label>Inicio</label>
                            <textarea maxlength="1000" rows="5" id="id_enfoque" style="text-align: justify"></textarea>
                            <label>Desarrollo</label>
                            <textarea maxlength="1000" rows="5" id="id_enfoquedos" style="text-align: justify"></textarea>
                            <label>Cierre </label>
                            <textarea maxlength="1000" rows="5" id="id_enfoquetres" style="text-align: justify"></textarea>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="adicionarenf" class="btn btn-adicionar btn-success"><i class="fa fa-check"></i> Guardar</a>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-window-close"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="itemspanelrec" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Editar Recursos Didácticos</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" style="display: inline-block;">
                    <div class="row">
                        <form id="formrec" name="formrec" class="form-vertical form-modal">
                            <input type='hidden' name='action' value='editrecursodidactico'/>
                            <input type='hidden' name='idsr' id="idsr"/>
                            <label>Recursos Didácticos</label>
                            <textarea maxlength="1000" rows="5" id="id_recurso" style="text-align: justify"></textarea>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="adicionarrec" class="btn btn-adicionar btn-success"><i class="fa fa-check"></i> Guardar</a>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-window-close"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="itemspaneleva" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Editar Evaluación</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" style="display: inline-block;">
                    <div class="row">
                        <form id="formeva" name="formeva" class="form-vertical form-modal">
                            <input type='hidden' name='action' value='editevaluacion'/>
                            <input type='hidden' name='idsv' id="idsv"/>
                            <label>Evaluación</label>
                            <textarea maxlength="1000" rows="5" id="id_evaluacion" style="text-align: justify"></textarea>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="adicionareva" class="btn btn-adicionar btn-success"><i class="fa fa-check"></i> Guardar</a>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-window-close"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="itemspanelevacomp" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Adicionar actividad de aprendizaje</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body row" style="display: inline-block;">
                    <form id="formevacomp" name="formevacomp" class="form-vertical form-modal">
                        <input type='hidden' name='id_silsemana' id="id_silsemana"/>
                       <b> ACTIVIDAD:</b>
                        <select id="id_componente" name="id_componente">
                        </select>
                         <div class="my-2" style="text-align: justify;">
                            <b>COMPONENTE: </b><span id="tipocomponente" style="font-size: 16px; color: #2d75b9;" class="texto-blue"></span>
                        </div>
                        <table class='table table-bordered' cellpadding="0" cellspacing="0">
                            <thead>
                            <tr>
                                <th class="text-center">-</th>
                                <th class="text-center">Temas</th>
                            </tr>
                            </thead>
                            <tbody id="itemsbody" class="datatable">
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="adicionarevacomp" class="btn btn-adicionar btn-success"><i class="fa fa-check"></i> Guardar</a>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-window-close"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="itemspanelevacomptemas" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Listado de temas</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body row pd-2">
                    <table class='table table-bordered' cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                            <th>TEMAS</th>
                        </tr>
                        </thead>
                        <tbody id="itemsbodytemas">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    {#            <a href="javascript:;" id="adicionarevacomp" class="btn btn-adicionar btn-success"><i class="fa fa-check"></i> Guardar</a>#}
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-window-close"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static itemspanelduplicar_silabo" id="itemspanelduplicar_silabo" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Sílabos que puede importar</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body row itemspanelduplicar_silabopanelbody">

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static itemspanelduplicar_silabocarrera" id="itemspanelduplicar_silabocarrera" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Sílabos de otras carreras que puede importar</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body row itemspanelduplicar_silabocarrerapanelbody">

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="itemspaneldetalle_temas_subtemas" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Temas y subtemas por reguistrar</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body row panelbody">

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="itemspanelplanificacionsalida" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle"><i class="fa fa-plus-circle"></i> Adicionar gira de clase</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" style="display: inline-block;">
                    <form id="formsalida" name="formsalida" class="form-vertical form-modal">
                        <input type='hidden' name='action' value='addplanificacionsalida'/>
                        <input type='hidden' name='ids' id="ids"/>
                        <label>Descripción </label>
                        <textarea rows="4" id="contenido" style="text-align: justify"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="adicionarplanificacionsalida" class="btn btn-adicionar btn-success"><i class="fa fa-check"></i> Guardar</a>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-window-close"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="itemspaneleditplanificacionsalida" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Editar gira de clase</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" style="display: inline-block;">
                    <div class="row">
                        <form id="formsalida" name="formsalida" class="form-vertical form-modal">
                            <input type='hidden' name='ids' id="ids"/>
                            <label>Descripción </label>
                            <textarea rows="4" id="id_contenido" style="text-align: justify"></textarea>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="editplanificacionsalida" class="btn btn-adicionar btn-success"><i class="fa fa-check"></i> Guardar</a>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-window-close"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="itemspaneladicionarsubtemas" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Adicionar Sub Temas</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" style="display: inline-block;">
                    <div class="row">
                        <form id="formsalida" name="formsubtemas" class="form-vertical form-modal">
                            <span>Tema: </span>
                            <select id="id_tema" class="selector" name="tema" style="width: 92%">
                            </select><br><br>
                            <input type='hidden' name='ids' id="ids"/>
                            <table class="table table-bordered" border="0" width="100%" style="background-color: transparent">
                                <tr>
                                    <td border="0" style="background-color: transparent">
                                        <label><b>Sub Tema</b></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td border="0" style="background-color: transparent">
                                        <textarea rows="2" id="id_subtema" style="text-align: justify; width: 100%;" maxlength="150"></textarea><br>
                                        <span class="obligatorio" style="color: red"></span>
                                    </td>
                                    <td style="text-align: right; background-color: transparent" width="8%" border="0">
                                        <a href="javascript:;" class="btn btn-success addsubtema"><i class="fa fa-plus"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <div style="margin: 0px;overflow-y:auto;height:150px;">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th style="text-align: left">Tema</th>
                                    <th style="text-align: left">Subtema</th>
                                    <th style="text-align: left">Acciones</th>
                                </tr>
                                </thead>
                                <tbody id="contenidosubtemas">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="adicionarsubtema" class="btn btn-adicionarsubtema btn-success"><i class="fa fa-check"></i> Guardar</a>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-window-close"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static itemspanelimportar_silabo_periodo" id="itemspanelimportar_silabo_periodo" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Sílabos que puede importar de otros periodos</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid panelbody"></div>
                </div>
                <div class="modal-footer" style="margin-top: -15px">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static itemspanellink" id="itemspanellink" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="paneltitle">Editar recursos didácticos (Link de youtube, etc)</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body  panelbodylink">

                </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="adicionarlink" class="btn btn-success adicionarlink"><i class="fa fa-check"></i> Guardar</a>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-window-close"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="itemspanelmatricula" style="display: none;" tabindex="-1" role="dialog" aria-hidden="true">>
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><i class="fa fa-list-alt"></i> <b class="paneltitlematricula">FORMULARIO MODAL</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="container-fluid table-responsive panelbodymatricula">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade static" id="itemspanel" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" id="w-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><b class="paneltitle">FORMULARIO MODAL</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id="close_top" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" style="padding: 1.5%;">
                    <form class="form-horizontal form-modal" autocomplete="off" method="post"
                          enctype="multipart/form-data" action="{{ request.path }}">
                        {% csrf_token %}
                        <div class="row panelbody">
                        </div>
                    </form>
                </div>
                 <div class="modal-footer" id="footermodal">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal" id="cerrar"><i class="fa fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}