{% load sga_extras %}
<script type="text/javascript">
    var item = 1;
    $(function () {
        $(".guardasilabos").click(function () {
            var lista = "";
            $(".recorresilabos").each(function (index) {
                if ($(this).is(":checked")) {
                    var seleccion = $(this).attr('id');
                    lista += seleccion + ",";
                }
            });
            if (lista.length == 0) {
                alertaDanger('Favor seleccione silabos')
                return false;
            }
            lista = lista.substring(0, lista.length - 1);
            bloqueointerface();
            var idgrupoexamen = $('#idgrupoexa').val();
            $.ajax({
                type: "POST",
                url: "/pro_planificacion",
                data: {'action': 'replicarecursos', 'idsact': {{ idsact }}, 'lista': lista},
                success: function (data) {
                    if (data.result == 'ok') {
                        $('#modalnotoficacionimportar').modal('hide');
                        location.reload();
                    } else {
                        $.unblockUI();
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    $.unblockUI();
                    smoke.alert("Error al obtener los datos");
                },
                dataType: "json"
             });

        });


    });

</script>
{#<div class='row-fluid' >#}
{#    <div class="span12">#}
{#        <h4><b>Semana {{ numsemana }} - {{ fini }} - {{ ffin }}</b></h4>#}
{#    </div>#}
{#</div>#}
<div class='row'>
{#    <div class='col-lg-12'>#}
{#        <div class="alert alert-info" style="text-align: justify">#}
{#            <strong>NOTA:</strong> Se podrá copiar a <b>otro curso del mismo periodo académico y la misma asignatura</b>#}
{#            las actividades que estén en estado "APROBADO" ó "EN MOODLE", a su vez se copiarán en estado <b>APROBADO</b>,#}
{#            recuerde que una vez copiado debe dar click en el botón MIGRAR MOODLE.#}
{#        </div>#}
{#    </div>#}


    <div class="col-lg-12">
        <table class='table table-bordered table-striped'>
            <thead class="table-light">
            <th></th>
            <th>SILABO</th>
            </thead>
            <tbody>
            {% for sila in listadosilabos %}
                <tr>
                    <td style="text-align: center"><input type="checkbox" class="recorresilabos" id="{{ sila.id }}"></td>
                    <td>{{ sila.materia.nombre_mostrar_sin_profesor }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade static itemspane_planificacion_semanal" id="itemspane_planificacion_semanal" style="display: none;">
    <div class="modal-header">
        <h3 class="paneltitle">Planificación semanal del Sílabo seleccionado</h3>
    </div>
    <div class="modal-body panelbodysa">
    </div>
    <div class="modal-footer" style="margin-top: -15px">
        <table class="pull-right">
            <tr>
                <td><a href="javascript:;" class="btn btn-cerrar btn-info">Cerrar</a></td>
            </tr>
        </table>
    </div>
</div>

