{% extends "ajaxformmodal.html" %}
{% load sga_extras %}
{% block header_info %}
    <div class="alert alert-primary d-flex align-items-center p-2" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
             class="bi bi-info-circle-fill me-2" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </svg>
        <div class="lh-15">
            <p class="ps-2">
                1. Los funcionarios que vienen cargado por defecto son los que no disponen de respuesta en su solicitud. <br>
                2. Puede volver a seleccionar los funcionarios que ya dispongan de una respuesta en su solicitud.  <br>
                3. Las solicitudes que ya tengan generado su certificado no serán editados.
            </p>
        </div>
    </div>
    <div class="alert alert-warning">
        <i class="fa fa-warning fs-3 nav-icon"></i> Tiene {{ pazsalvos|length }} registros de Paz y Salvos pendiente de contestar
    </div>
{% endblock %}
{% block block_form %}
    <div class="col-lg-4">
        <h4><i class="fa fa-user-tie"></i> Seleccione los funcionarios <span class="text-danger">*</span>:</h4>
        <select multiple name="funcionario" id="id_funcionario" class="" required>
            {% for p in pazsalvos %}
                <option value="{{ p.id }}" selected>
                    {{ p.text }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-lg-8">
        {% if preguntas_jefe %}
            <div class="mb-3">
                <label for="" class="fw-semi-bold"><i class="fa fa-commenting"></i> Observación general:</label>
                <textarea name="observaciongeneral" id="id_observacion_general" class="form-control" rows="3" placeholder="Describa una observación general del certificado....">{{ pazsalvo.observacion }}</textarea>
            </div>
        {% endif %}
        <h4>
            <i class="fa fa-check-double text-success"></i>
            Seleccionar todo: <input type="checkbox" name="checkall" id="check_all" class="checkall"> |
            <i class="fa fa-sort-numeric-asc text-warning"></i>
            Items seleccionados: <span class="items-seleccionados">0</span>
        </h4>
        {% if preguntas_jefe %}
            <div class="mb-3">
                <h5 class="mb-1"><i class="fa fa-clipboard-check text-secondary"></i> Preguntas de Jefe Inmediato</h5>
                <table class="table table_primary mb-0" id="id_tabla_jefe">
                    <thead>
                    <tr class="">
                        <th> Preguntas</th>
                        <th class="w-10 text-center">
                            Item
                        </th>
                        <th class="w-40">
                            Observación
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pregunta in preguntas_jefe %}
                        <tr class="" id_pregunta="{{ pregunta.id|encrypt }}">
                            <td class="fs-5">
                                {{ pregunta.descripcion|lower|capfirst }}
                            </td>
                            <td class="text-center w-10">
                                <input type="checkbox" name="marcado" class="pregunta">
                            </td>
                            <td>
                                <input type="text" name="observacion" placeholder="Describa una observación..."
                                       class="observacion" value="">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if preguntas %}
            <div>
                <h5 class="mb-1"><i class="fa fa-clipboard-check text-secondary"></i> Preguntas
                    de {{ persona.mi_cargo|title2 }}</h5>

                <table class="table table_warning mb-0" id="id_tabla_registro">
                    <thead>
                    <tr class="">
                        <th> Preguntas</th>
                        <th class="w-10 text-center">
                            Item
                        </th>
                        <th class="w-40">
                            Observación
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pregunta in preguntas %}
                        <tr class="" id_pregunta="{{ pregunta.id|encrypt }}">
                            <td class="fs-5">
                                {{ pregunta.descripcion|lower|capfirst }}
                            </td>
                            <td class="text-center w-10">
                                <input type="checkbox" name="marcado" class="pregunta" {% if pregunta.obligatorio %}required{% endif %}>
                            </td>
                            <td>
                                <input type="text" name="observacion" placeholder="Describa una observación..."
                                       class="observacion" value="">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $(function () {
            buscarPersona($("#id_funcionario"), '', 'buscarpazsalvo')
            $(".checkall").change(function () {
                if ($(this).is(":checked")) {
                    $(".pregunta").prop('checked', true);
                } else {
                    $(".pregunta").prop('checked', false);
                }
                comprobarSeleccion()
            });
            $(".pregunta").change(function () {
                comprobarSeleccion()
            });
        })
        function funcionAntesDeGuardar(){
             lista_items1 = []
            $('table#id_tabla_registro > tbody tr').each(function (index, elementTr) {
                lista_items1.push({
                    'jefe': false,
                    'id_pregunta': $(elementTr).attr('id_pregunta'),
                    'marcado': $(elementTr).find('td > input.pregunta').is(":checked"),
                    'observacion': $(elementTr).find('td > input.observacion').val(),
                });
            });
            $('table#id_tabla_jefe > tbody tr').each(function (index, elementTr) {
                    lista_items1.push({
                        'jefe': true,
                        'id_pregunta': $(elementTr).attr('id_pregunta'),
                        'marcado': $(elementTr).find('td > input.pregunta').is(":checked"),
                        'observacion': $(elementTr).find('td > input.observacion').val(),
                    });
                });
        }
        function comprobarSeleccion() {
            var checkboxes = document.querySelectorAll('.pregunta');
            var algunoSeleccionado = false;
            var sinSeleccionar = false;
            var cont = 0
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    algunoSeleccionado = true;
                    cont += 1
                } else {
                    sinSeleccionar = true;
                }
            }
            if (sinSeleccionar) {
                $(".checkall").prop('checked', false);
            } else {
                $(".checkall").prop('checked', true);
            }
            $(".items-seleccionados").text(cont)
        }
    </script>
{% endblock %}