{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript" src='/static/js/select2.js?v=1.0.0'></script>
    <link type='text/css' rel='stylesheet' href="/static/css/select2.css?v=1.0.0"/>
    <script type="text/javascript">


        function formModal(id, text, action, footer = true) {
            $('#footermodal').show();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    if (data.result === true) {
                        if (footer === true) {
                            $('#footermodal').hide();
                        }
                        $('.panelbody').html(data.data);
                        $('#itemspanel .paneltitle').html(text);
                        $("#itemspanel").modal({backdrop: 'static', width: '1500'}).modal('show');
                    } else {
                        smoke.alert(data.mensaje);
                    }
                },
                error: function () {
                    smoke.alert("Error de conexión.");
                },
                dataType: "json"
            });
        }

        $(function () {

            $(".FilterTextBox").unbind().val('');

            $(".FilterTextBox").on('input', function () {
                var s = $(this).val().toLowerCase().split(" ");
                $(".filterable tr:hidden").show();
                $.each(s, function () {
                    $(".filterable tr:visible .indexColumn:not(:contains('" + this + "'))").parent().hide();
                });
            })

            $(".cantidadentrega").on('blur', function () {
                numerico($(this), 0, 1000000, 4);
            });

            $('.observacionentrega').on('change', function () {
                var valor = $(this).val()
                var id = $(this).attr('data-id');
                bloqueointerface();
                $.ajax({
                    type: 'POST',
                    url: '{{ reques.path }}',
                    async: false,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'editobservacion',
                        id: id,
                        value: valor
                    },
                    dataType: "json",
                    beforeSend: function () {
                    }
                }).done(function (data) {
                    setTimeout($.unblockUI, 1);
                    if (data.error) {
                        smoke.alert(data.message);
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    setTimeout($.unblockUI, 1);
                    smoke.alert('Error en el servidor');
                }).always(function () {
                });
            })
            $('.cantidadentrega').on('change', function () {
                var input = $(this)
                var valor = $(this).val()
                var valoractual = $(this).attr('data-value');
                var id = $(this).attr('data-id');
                if (valor !== valoractual) {
                    bloqueointerface();
                    $.ajax({
                        type: 'POST',
                        url: '{{ reques.path }}',
                        async: false,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            action: 'editcantidad',
                            data: $(this).attr('data-pk'),
                            value: valor
                        },
                        dataType: "json",
                        beforeSend: function () {
                        }
                    }).done(function (data) {
                        setTimeout($.unblockUI, 1);
                        if (data.error === false) {
                            input.css("background", "#E8FFEA");
                        } else {
                            input.val('0')
                            smoke.alert(data.message);
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        setTimeout($.unblockUI, 1);
                        smoke.alert('Error en el servidor');
                    }).always(function () {
                    });
                }
            })

            numericoconvertir = function (elemento, min, max, decimales) {
                var nvalor = 0;
                var valor = elemento;
                if (valor == "") {
                    valor = parseFloat(0).toFixed(decimales);
                    elemento.val(valor);
                    return;
                }
                if (isNaN(valor)) {
                    nvalor = parseFloat(min).toFixed(decimales);
                    elemento.val(nvalor);
                    return;
                }
                if (valor < min) {
                    nvalor = parseFloat(min).toFixed(decimales);
                    elemento.val(nvalor);
                    return;
                }
                if (max > 0 && valor > max) {
                    nvalor = parseFloat(max).toFixed(decimales);
                    elemento.val(nvalor);
                    return;
                }
                nvalor = parseFloat(valor).toFixed(decimales);
                return nvalor;
            };

        });

    </script>
    <script src="/static/adicionalesjs/formquestion.js?0.24"></script>
{% endblock %}
{% block atras %}/adm_solicitudproductos{% endblock %}
{% block canvas %}
    <div class="modal fade static  modal-lg" id="itemspanel" style="display: none;">
        <div class="modal-header modal-lg">
            <h4><i class="fa fa-list"></i> <b class="paneltitle">FORMULARIO MODAL</b></h4>
        </div>
        <div class="modal-body">
            <div class="row-fluid panelbody">

            </div>
        </div>
        <div class="modal-footer" id="footermodal">
            <a href="javascript:;" class="btn btn-default" data-dismiss="modal"><i
                    class="fa fa-window-close"></i>
                Cerrar</a>
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
        </div>
    </div>

    <div class="row-fluid">
        <div class='span3'>
            <form id="form2" class="form-horizontal form-modal" autocomplete="off" method="post"
                  enctype="multipart/form-data" action="{{ request.path }}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ filtro.id }}"/>
                <input type="hidden" name="action" value="{{ action }}"/>
                <table class="table table-bordered" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <label class="label label-info"
                                   style="font-size: 12px;">{{ filtro.codigodocumento }}</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <b>Departamento:</b> {{ filtro.departamento }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Fecha Solicitud:</b> {{ filtro.fecha_creacion|date:"Y-m-d" }}
                        </td>
                        <td>
                            <b>Registrado por:</b> {{ filtro.usuario_creacion }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Responsable: </b> {{ filtro.responsable }}
                        </td>
                        <td>
                            <b>Puesto: </b> {{ filtro.denominacionpuesto }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Director: </b> {{ filtro.director }}
                        </td>
                        <td>
                            <b>Puesto: </b> {{ filtro.directordenominacionpuesto }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <b>Observaciones:</b><br>
                            <textarea name="detentrega" id="id_detentrega" cols="30" rows="3" style="width: 100%"
                                      required placeholder="Ingrese una observación. (Obligatorio)"
                                      class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right">
                            <a href="{{ request.path }}" class="btn btn-danger bloqueo_pantalla"><i
                                    class="fa fa-times-circle"></i> Cancelar</a>
                            <button type="submit" id="submit"
                                    class="btn btn-success">
                                <i class="fa fa-save"></i> Enviar
                            </button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class='span9'>
            <label>Buscar:</label>
            <input type="text" class="form-control FilterTextBox" style="width: 100%">
            <table class="table table-bordered table-striped filterable" style="margin-top: 10px">
                <thead>
                <tr>
                    <th style="text-align: center">Codigo</th>
                    <th style="text-align: left">Producto</th>
                    <th style="text-align: center; width: 10%;">Cantidad Solicitada</th>
                    <th style="text-align: center; width: 10%;">Cantidad Entregar</th>
                    <th style="text-align: center; width: 10%;">Existencias</th>
                    <th style="text-align: center">Detalle</th>
                    <th style="text-align: center">¿Entregado?</th>
                </tr>
                </thead>
                <tbody>
                {% for d in detalle %}
                    <tr>
                        <td style="text-align: center">{{ d.producto.cuenta.cuenta }}.<b>{{ d.producto.codigo }}</b>
                        </td>
                        <td style="text-align: left">{{ d.producto }}</td>
                        <td class="indexColumn"
                            style="display: none">{{ d.producto.cuenta.cuenta }}.{{ d.producto.codigo }} {{ d.producto|lower }}</td>
                        <td style="text-align: center">{{ d.cantidad }}</td>
                        <td style="text-align: center"><input type="text" value="{{ d.cantentregar }}"
                                                              name="cant{{ d.pk }}"
                                                              id="cant{{ d.pk }}"
                                                              data-pk='{"pk":"{{ d.pk }}", "campo":"cantidad", "valoranterior":"{{ d.cantentregar }}"}'
                                                              data-stock="{{ d.producto.stock_inventario }}"
                                                              data-maxcantidad="{{ d.cantidad }}"
                                                              data-id="{{ d.pk }}" decimal="4"
                                                              class="imp-moneda cantidadentrega">
                        </td>
                        <td style="text-align: center">{{ d.producto.stock_inventario }}</td>
                        <td style="text-align: center">
                            <textarea name="obs{{ d.pk }}" id="obs{{ d.pk }}" style="width: 100%;  text-transform: uppercase;" data-id="{{ d.pk }}"
                                      class="form-control observacionentrega">{{ d.observacion }}</textarea>
                        </td>
                        <td style="text-align: center">
                            {% if d.entregado %}
                                <i class="fa fa-check-circle text-success" style="font-size: 20px;"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-error" style="font-size: 20px;"></i>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}