{% extends "ajaxformbs.html" %}
{% block atras %}/alu_socioecon{% endblock %}
{% block extraheading %}
    <script type="text/javascript">
        $(function(){
            $("#id_raza").addClass("validate[required]");

            verificadiscapacidad = function(){
                if ($("#id_tienediscapacidad").is(":checked")){
                    $("#id_tipodiscapacidad, #id_porcientodiscapacidad").removeAttr('disabled').addClass("validate[required]");
                    $("#id_carnetdiscapacidad").removeAttr('disabled');
                } else {
                    $("#id_tipodiscapacidad, #id_porcientodiscapacidad").attr({'disabled': 'disabled'}).removeClass("validate[required]");
                    $("#id_carnetdiscapacidad").attr({'disabled': 'disabled'});
                }
            };

            $("#id_tienediscapacidad").click(function(){
                verificadiscapacidad();
            });

            $("#id_porcientodiscapacidad").blur(function(){
                numerico($(this), 0, 100, 0);
            });

            verificadiscapacidad();

        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/alu_socioecon{% endblock %}
{% block formwidth %}form-s{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='discapacidad'/>
{% endblock %}
{% block formback %}/alu_socioecon{% endblock %}
{% block formdestination %}/alu_socioecon{% endblock %}
{% block buttonname %}Guardar{% endblock %}