{% load sga_extras %}
<input type="hidden" name="id" id="doc_id" value=""/>
<input type="hidden" name="action" value="subirrequisito"/>

<div class="row">
    <div class="col-lg-6">
    <div class="view_pdf">
        <iframe src=""
                    align="center" height="450px" width="100%"
                    id="pdf_view">
          </iframe>
    </div>
    <div class="view_msj h-100">
        <div class="border border-2 shadow-none card-dashed-hover h-100 align-middle text-center"
        style=" display: flex;align-items: center;justify-content: center;">
            <div style="height:70px;" class="mt-4 mb-3">
                <i class="fa fa-file-pdf-o text-danger fs-2"></i>
                <h4 class="text-secondary">SIN ARCHIVO</h4>
            </div>
        </div>
    </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <h4 class="mb-0 pb-0">Información</h4>
            <div class="col">
                <p><b>Usuario: </b>{{ cita.persona.nombre_completo_minus }}</p>
                <p><b>Servicio: </b>{{ cita.servicio.serviciocita|lower|capfirst }}</p>
            </div>
            <div class="col">
                <p><b>Fecha: </b>{{ cita.fechacita|date:'d-m-Y' }}</p>
                <p><b>Turno: </b>{{ cita.horario.turno.nombre_horario }}</p>
            </div>
{#            <div class="col-12">#}
{#                <a href="javascript:void(0);" id="guia_requisitos" class="btn btn-cian-secondary"> <i class="fa fa-file-text"></i> Guia Requisitos</a>#}
{#            </div>#}
        </div>

        <div class="row" id="form_archivo">
            {% for field in form %}
            {% if field.field.widget.attrs.separator %}
                {% if field.field.widget.attrs.blanklinebefore %}
                {% endif %}
                <div style="width: 100%; height: max-content">
                    <h6 style="width:100%; text-align:left; border-bottom: 1px solid #98a3ab; line-height:0.1em; margin:10px 0 20px;">
                    <span style="padding:0 10px; background: #f5f5f5;">
                        {% if field.field.widget.attrs.separatortitle %}
                            {{ field.field.widget.attrs.separatortitle }}
                        {% endif %}
                    </span>
                    </h6>
                </div>
            {% endif %}
            <label class="control-label pr-2"><b id="name_requisito">{{ field.label }}&nbsp;:</b> <b class="text-danger">*</b></label>
            <div id="fieldset_{{ field.name }}" class="col-lg-{% if field.field.widget.attrs.col %}{{ field.field.widget.attrs.col }}{% else %}12{% endif %}" id="fieldset_{{ field.name }}"
                 style="float: left; padding-right: 10px;">
                <div class="input-group" style="width:{% if not field.field.widget.attrs.controlwidth %}100%{% else %}{{ field.field.widget.attrs.controlwidth }}{% endif %};">
                    <label class="input-group-text" for="id_{{ field.name }}"><i class="fa fa-upload fs-6"></i></label>
                    {{ field }}
                </div>
                <p class="help-text fs-6 text-secondary">{{ field.help_text }} </p>
                <p id="errorMessage{{ field.name }}" class="fs-6 text-danger p-1 py-0"></p>
            </div>
        {% endfor %}
            <div class="col-lg-3">
                <button type="submit" id="submit" class="btn btn-success w-100"><i class="fa fa-check-circle"></i> Guardar</button>
            </div>
        </div>

        <table class="table table-bordered table-responsive tabla_paginada" width="100%" id="id_requisitos">
            <thead class="table-light">
            <tr>
                <th class="text-center">&nbsp;<b><i class="fa fa-file-text"></i> Requisito
                    (<b id="total">{{ cita.documentos_subidos|length }}</b>)</b></th>
                <th class="text-center">&nbsp;<i class="fa fa-eye"></i> Estado</th>
                <th class="text-center">&nbsp;<i class="fa fa-commenting-o"></i> Observación</th>
            </tr>
            </thead>
            <tbody>
{#            {% for list in cita.servicio.requisitos_con_archivos %}#}
{#                {% with doc=list|args:cita.id|call:'documento_subido'%}#}
{#                    {% if doc %}#}
{#                        <tr href="javascript:void(0);"#}
{#                            id="box_{{ forloop.counter }}"#}
{#                            style="cursor: pointer"#}
{#                            class="box_"#}
{#                            onclick="CargarInfo('{{ doc.id }}', '{{ forloop.counter }}', '{{ cita.estado }}')">#}
{#                            <input type="hidden" id="url_{{ doc.id }}" value="{{ doc.archivo.url }}">#}
{#                            <td class="text-center">#}
{#                                <h5 class="text-secondary" id="req_name_{{ doc.id }}">{{ doc.requisito.requisito|lower|capfirst }}</h5>#}
{#                            </td>#}
{#                            <td class="text-center">#}
{#                               <span class="badge {{ doc.color_estado }}" id="req_est_{{ doc.id }}" data-id="{{ doc.estados }}">{{ doc.get_estados_display }}</span>#}
{#                            </td>#}
{#                            <td class="text-center">#}
{#                                <p id="req_ob_{{ doc.id }}">{{ doc.observacion }}</p>#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% else %}#}
{#                        <tr href="javascript:void(0);"#}
{#                            id="box_{{ forloop.counter }}"#}
{#                            style="cursor: pointer"#}
{#                            class="box_"#}
{#                            onclick="CargarInfo('{{ list.id }}', '{{ forloop.counter }}', '{{ cita.estado }}')">#}
{#                            <input type="hidden" id="url_{{ list.id }}" value="{{ list.archivo.url }}">#}
{#                            <td class="text-center">#}
{#                                <h5 class="text-secondary" id="req_name_{{ list.id }}">{{ list.requisito|lower|capfirst }}</h5>#}
{#                            </td>#}
{#                            <td class="text-center">#}
{#                               <span class="badge bg-default">Sin Archivo</span>#}
{#                            </td>#}
{#                            <td class="text-center">#}
{#                                <p id="req_ob_{{ doc.id }}">{{ doc.observacion }}</p>#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endif %}#}
{#                {% endwith %}#}
{#            {% endfor %}#}

            {% for list in cita.documentos_subidos %}
                <tr href="javascript:void(0);"
                    id="box_{{ forloop.counter }}"
                    style="cursor: pointer"
                    class="box_"
                    onclick="CargarInfo('{{ list.id }}', '{{ forloop.counter }}', '{{ cita.estado }}')">
                    <input type="hidden" id="url_{{ list.id }}" value="{% if list.archivo %}{{ list.archivo.url }}{% else %}0{% endif %}">
                    <td class="text-left">
                        <p class="text-secondary" id="req_name_{{ list.id }}">
                            {{ list.requisito.requisito|lower|capfirst }}
                            <b>{% if list.requisito.opcional and not list.obligatorio %}
                                (Opcional)
                            {% else %}
                                (Obligatorio)
                            {% endif %}</b>
                        </p>
                    </td>
                    <td class="text-center align-middle">
                       <span class="badge {% if not list.archivo and list.obligatorio %}bg-warning{% else %}{{ list.color_estado }}{% endif %}" id="req_est_{{ list.id }}" data-id="{{ list.estados }}"
                        {% if not list.archivo and list.obligatorio %}
                            data-bs-toggle="tooltip" title="Documento requerido de subir para la proxima cita agendada."
                        {% endif %}>
                       {% if list.archivo %}
                            {{ list.get_estados_display }}
                       {% else %}
                            {% if not list.archivo and list.obligatorio %}
                                    <i class="rounded-circle text-white  fa fa-bell blinkimg fs-6"
                                    data-bs-toggle="tooltip"
                                     title="Documento requerido de subir para la proxima cita agendada."></i>

                            {% endif %}
                            Sin Archivo
                       {% endif %}
                       </span>
                    </td>
                    <td class="text-center">
                        <p id="req_ob_{{ list.id }}">{{ list.observacion }}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h6 class="text-danger">*<i class="fa fa-info-circle"></i> Los documentos que fueron aprobados no podran ser subidos nuevamente.*</h6>
    </div>
</div>
<script>
    var iter = false;
    var ubi=0;
    var $elemento = document.querySelector("#id_archivo");
    $(function () {
        $('select').select2({width: '100%', minimumResultsForSearch:-1,placeholder:'----------------'});
         $('#form_archivo').hide()
        $('#cerrar, #close_top').click(function () {
            if (iter) {
                location.reload()
            }
        });
        $('#box_1').trigger('click')
    });

    $(document).ready(function () {
        const tabla_paginada = $('.tabla_paginada').DataTable({
            responsive: false,
            {#scrollX: true,#}
            ordering: false,
            paging: true,
            searching: false,
            pageLength: 5,
            bInfo: false,
            dom: 'Bfrtip',
            language: {
                "url": '/static/js/i18n/Spanish.json'
            },
            buttons: []
        });
        $('.tabla_paginada tbody').on('click', 'tr', function () {
            var data = tabla_paginada.row(this).data();
        });
    });

    /*Actualizar Tabla con nuevos elementos*/
    function ActualizarTabla(data) {
        iter = true
        $(`#req_est_${data.id}`).text(`${data.estado}`).removeAttr("class").addClass(`badge ${data.color}`).attr('data-id', `${data.idestado}`)
        $(`#url_${data.id}`).val(`${data.url_pdf}`)
        CargarInfo(`${data.id}`,ubi,`${data.idestado}`)
        $('.errorMessage').empty()
    }

    function CargarInfo(id,ide,estado_cita){
        ubi=ide;
        var estado = $(`#req_est_${id}`).attr('data-id')
        var url= $(`#url_${id}`).val()
        var name = $(`#req_name_${id}`).text()
        if(estado==1 || estado == 3 || estado_cita == 2 || estado_cita == 4 || estado_cita == 5){
            $('#form_archivo').hide()
        }else{
            $('#form_archivo').show()
        }
        $('#name_requisito').text(`${name}`)
        if (url==0){
            $('.view_pdf').hide()
            $('.view_msj').show()
        }else{
            $('.view_pdf').show()
            $('.view_msj').hide()
            $('#pdf_view').attr('src',`${url}`)
        }
        $('#doc_id').val(`${id}`)
        $('#id_estado').val(`${estado}`).trigger('change')
        $('.box_').removeClass('table-warning')
        $(`#box_${ide}`).addClass('table-warning')
        $elemento.value = "";
    }
</script>