{% load sga_extras %}
<option value="0_0" selected="selected">Seleccione la actividad</option>
{% for actividad in actividades %}
    {% if actividad.criteriodocenciaperiodo.criterio.nombre%}
        {% if actividad.total_claseactividades > 0 %}
            <option value="{{ actividad.id }}_1" >
                 <b>Quedan {{ actividad.total_claseactividades|floatformat }}</b> horas de: {{ actividad.criteriodocenciaperiodo.criterio.nombre }}
            </option>
        {% endif %}
    {% endif %}
    {% if actividad.criterioinvestigacionperiodo.criterio.nombre%}
        {% if actividad.total_claseactividades > 0 %}
            <option value="{{ actividad.id }}_2" >
                 <b>Quedan {{ actividad.total_claseactividades|floatformat }} </> horas de: {{ actividad.criterioinvestigacionperiodo.criterio.nombre }}
            </option>
        {% endif %}
    {% endif %}
    {% if actividad.criteriogestionperiodo.criterio.nombre%}
        {% if actividad.total_claseactividades > 0 %}
            <option value="{{ actividad.id }}_3" >
                <b>Quedan {{ actividad.total_claseactividades|floatformat }} </b> horas de: {{ actividad.criteriogestionperiodo.criterio.nombre }}
            </option>
        {% endif %}
    {% endif %}
{% endfor %}

