{% extends "ajaxformbs.html" %}
{% block validaciones %}
    if (($("#id_profesor").val()=='') || ($("#id_profesor").val()==0)){
    smoke.alert('Debe ingresar docente');
    var valid= false;
    }else
    {
    }
{% endblock %}
{% block extraheading %}
    <script>
        $(function(){
            $("#id_horas, #id_profesor, #id_tipoparticipante").addClass("validate[required]");
            $("#id_horas").change(function(){
                numerico($(this), 0, 1000, 0);
            });
            ItemsDisplay = function (item) {
                if (item.name){
                    return $('<span>' + item.name+ '</span>');
                }else{
                    return '---------';
                }
            };

            $("#id_profesor_select2").select2({
                placeholder: "---------",
                allowClear: true,
                ajax: {
                    url: function (params) {
                        return "/reportes?action=dataexclude&periodoid={{ periodo.id }}&model=Profesor&p=1&s=10&q=" + params.term;
                    },
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: ItemsDisplay, // omitted for brevity, see the source of this page
                templateSelection: ItemsDisplay // omitted for brevity, see the source of this page
            }).on("select2:select", function (evt) {
                $("#id_profesor").attr({"value":(evt.params.data.id)});
            });
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block atras %}/adm_criteriosactividadesdocente{% endblock %}
{% block formaction %}/adm_criteriosactividadesdocente{% endblock %}
{% block formdestination %}/adm_criteriosactividadesdocente{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addprofesor' />
    <input type='hidden' name='id' id="id" value='' />
{% endblock %}
{% block formback %}/adm_criteriosactividadesdocente{% endblock %}
{% block buttonname %}Guardar{% endblock %}