{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_criteriosactividadesdocente?action=criterios&id={{ cro.actividad.distributivo.profesor.id }}{% if search %}&s={{ search }}{% endif %}{% if idc %}&idc={{ idc }}{% endif %}{% endblock %}
{% block formaction %}/adm_criteriosactividadesdocente{% endblock %}
{% block formactionvalue %}aprobar_cronograma{% endblock %}
{% block formobjectid %}{{ cro.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea aprobar el cronograma de actividad del docente: <b>{{ cro.actividad }}</b>{% endblock %}