{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function() {
        });
    </script>
{% endblock %}
{% block atras %}/adm_criteriosactividadesdocente?action=productoinvestigacion&id={% if tipo == 1 %}{{ articulo.detalledistributivo.id|encrypt }}&t=2{% elif tipo == 2 %}{{ ponencia.detalledistributivo.id|encrypt }}&t=2{% elif tipo == 3 %}{{ libro.detalledistributivo.id|encrypt }}&t=2{% elif tipo == 4 %}{{ capitulolibro.detalledistributivo.id|encrypt }}&t=2{% endif %}{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}
                {% if tipo == 1 %}
                    Artículo<br/>
                    {{ articulo.detalledistributivo }} - {{ articulo.detalledistributivo.criterioinvestigacionperiodo }}
                {% elif tipo == 2 %}
                    Ponencia <br/>
                    {{ ponencia.detalledistributivo }} - {{ ponencia.detalledistributivo.criterioinvestigacionperiodo }}
                {% elif tipo == 3 %}
                    Libro <br/>
                    {{ libro.detalledistributivo }} - {{ libro.detalledistributivo.criterioinvestigacionperiodo }}
                {% elif tipo == 4 %}
                    Capítulo Libro <br/>
                    {{ capitulolibro.detalledistributivo }} - {{ capitulolibro.detalledistributivo.criterioinvestigacionperiodo }}
                {% endif %}
            </h4>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            {%  if tipo == 1 %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center;" colspan="4">Artículo</th>
                    </tr>
                    <tr>
                        <th style="width: 300px;">Temática</th>
                        <th style="width: 300px; text-align: center">Revista</th>
                        <th style="text-align: center; width: 300px;">Metodologias</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ articulo.tematica }} </td>
                        <td>{{ articulo.revista }} </td>
                        <td>{{ articulo.metodologia }} </td>
                    </tr>
                    </tbody>
                </table>
            {%  elif tipo == 2 %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center;" colspan="4">Ponencia</th>
                    </tr>
                    <tr>
                        <th style="width: 300px;">Temática</th>
                        <th style="width: 300px; text-align: center">Congreso</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ ponencia.tematica }} </td>
                        <td>{{ ponencia.congreso }} </td>
                    </tr>
                    </tbody>
                </table>
            {% elif tipo == 3 %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center;" colspan="4">Libro</th>
                    </tr>
                    <tr>
                        <th style="width: 250px;">Nombre</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ libro.nombre }} </td>
                    </tr>
                    </tbody>
                </table>
            {% elif tipo == 4 %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center;" colspan="4">Capitulo Libro</th>
                    </tr>
                    <tr>
                        <th style="width: 250px;">Nombre</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ capitulolibro.nombre }} </td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}

            <table class='table table-bordered table-striped' >
                <thead>
{#                <tr>#}
{#                    <th style="width: 250px;" colspan="5">#}
{#                        {% if tipo == 1 %}#}
{#                            {% if not articulo.en_uso %}#}
{#                                <a href="/pro_cronograma?action=addcronogramaproducto&id={% if tipo == 1 %}{{ articulo.id|encrypt }}&tipo={{ tipo }}{% elif tipo == 2 %}{{ ponencia.id|encrypt }}&tipo={{ tipo }}{% elif tipo == 3 %}{{ libro.id|encrypt }}&tipo={{ tipo }}{% elif tipo == 4 %}{{ capitulolibro.id|encrypt }}&tipo={{ tipo }}{% endif %} " class='btn btn-mini btn-success tu' title="Añadir artículo" ><i class='fa fa-plus'></i></a><br>#}
{#                            {% endif %}#}
{#                        {% elif tipo == 2 %}#}
{#                            {% if not ponencia.en_uso %}#}
{#                                <a href="/pro_cronograma?action=addcronogramaproducto&id={% if tipo == 1 %}{{ articulo.id|encrypt }}&tipo={{ tipo }}{% elif tipo == 2 %}{{ ponencia.id|encrypt }}&tipo={{ tipo }}{% elif tipo == 3 %}{{ libro.id|encrypt }}&tipo={{ tipo }}{% elif tipo == 4 %}{{ capitulolibro.id|encrypt }}&tipo={{ tipo }}{% endif %} " class='btn btn-mini btn-success tu' title="Añadir artículo" ><i class='fa fa-plus'></i></a><br>#}
{#                            {% endif %}#}
{#                        {% elif tipo == 3 %}#}
{#                            {% if not libro.en_uso %}#}
{#                                <a href="/pro_cronograma?action=addcronogramaproducto&id={% if tipo == 1 %}{{ articulo.id|encrypt }}&tipo={{ tipo }}{% elif tipo == 2 %}{{ ponencia.id|encrypt }}&tipo={{ tipo }}{% elif tipo == 3 %}{{ libro.id|encrypt }}&tipo={{ tipo }}{% elif tipo == 4 %}{{ capitulolibro.id|encrypt }}&tipo={{ tipo }}{% endif %} " class='btn btn-mini btn-success tu' title="Añadir artículo" ><i class='fa fa-plus'></i></a><br>#}
{#                            {% endif %}#}
{#                        {% elif tipo == 4 %}#}
{#                            {% if not capitulolibro.en_uso %}#}
{#                                <a href="/pro_cronograma?action=addcronogramaproducto&id={% if tipo == 1 %}{{ articulo.id|encrypt }}&tipo={{ tipo }}{% elif tipo == 2 %}{{ ponencia.id|encrypt }}&tipo={{ tipo }}{% elif tipo == 3 %}{{ libro.id|encrypt }}&tipo={{ tipo }}{% elif tipo == 4 %}{{ capitulolibro.id|encrypt }}&tipo={{ tipo }}{% endif %} " class='btn btn-mini btn-success tu' title="Añadir artículo" ><i class='fa fa-plus'></i></a><br>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                    </th>#}
{#                </tr>#}
                <tr>
                    <th style="width: 10px;">No.</th>
                    <th style="width: 200px;">Fecha desde</th>
                    <th style="width: 200px;">Fecha hasta</th>
                    <th style="width: 800px;">Actividad</th>
{#                    <th style="text-align: center; width: 100px;">Acciones</th>#}
                </tr>
                </thead>
                <tbody>
                {% for detalle in cronograma %}
                    <tr>
                        <td>{{ forloop.counter }} </td>
                        <td>{{ detalle.fechainicio|date:"d-m-Y" }} </td>
                        <td>{{ detalle.fechafin|date:"d-m-Y" }} </td>
                        <td>{{ detalle.actividad }} </td>
{#                        <td style="text-align: center">#}
{#                            {%  if not detalle.en_uso %}#}
{#                                <a class="btn btn-info btn-mini tu" href="/pro_cronograma?action=editcronogramaproducto&id={{ detalle.id|encrypt  }}" title="Editar"><i class="fa fa-edit"></i> </a>#}
{#                                <a class="btn btn-danger btn-mini tu eliminacionmodal" href="javascript:;" nhref="/pro_cronograma?action=delcronogramaproducto&id={{ detalle.id|encrypt  }}" title="Eliminar"><i class="fa fa-close"></i> </a>#}
{#                            {% endif %}#}
{#                        </td>#}
                    </tr>
                {% empty %}
                    <tr><td colspan="5" style="text-align: center">NO EXISTEN REGISTROS</td></tr>
                {% endfor %}
                </tbody>
            </table><br>
        </div>
    </div>
{% endblock %}