{% extends "ajaxdeletedinamicbs.html" %}
{% load sga_extras %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_criteriosactividadesdocente?action=registrarhorario&id={{ idprofesor }}&iddistri={{ iddistri }}{% endblock %}
{% block formaction %}/adm_criteriosactividadesdocente{% endblock %}
{% block formactionvalue %}delhorario{% endblock %}
{% block formobjectid %}{{ horario.id|encrypt }}{% endblock %}
{% block formobjectrepr %}{{ horario }}{% endblock %}
{% block fieldsextra %}
<input type='hidden' name='max' value="{{ max }}"/>
{% endblock %}
