{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <link href="/static/css/table-responsive.css?1.0.0" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v=1.0.0"></script>
    <script type="text/javascript">
        $(function() {
            $("#id_fecha_desde,#id_fecha_hasta,#id_fini, #id_finiadm, #id_ffin, #id_ffinadm, #id_fini_seguimiento, #id_ffin_seguimiento,#id_fini_seguimiento_general, #id_ffin_seguimiento_general, #id_fini_autor, #id_ffin_autor").datepicker({format:"dd-mm-yyyy"}).on('changeDate', function(ev){ $(this).datepicker('hide'); });
            $(".informe_autor").click(function () {
                $(".incompletoseguimiento_informe_autor").hide();
                var idm = $(this).attr('idm');
                $("#idmateriaaautor").val("");
                $("#idmateriaaautor").val(idm);
                $("#itemspanel_informe_autor").modal({backdrop: 'static', width: '300px'}).modal('show');
            });

            $("#cancel_informe_autor").click(function(){
                $('#itemspanel_informe_autor').modal('hide');
                $(".incompletoseguimiento_informe_autor").hide();
            });

            $(".generar_informe_autor").click(function () {
                $(".incompletoseguimiento_informe_autor").hide();
                var fini = $("#id_fini_autor").val();
                var ffin = $("#id_ffin_autor").val();
                var idmateriaaautor = $("#idmateriaaautor").val();
                if( fini.length!=0 && ffin.length!=0 ){
                    openwindow('POST' ,'/adm_criteriosactividadesdocente', {'action': 'informe_autor', 'fini': fini, 'ffin': ffin,'idmateriaaautor':idmateriaaautor },'_blank');
                }else{
                    $(".incompletoseguimiento_informe_autor").show();
                    return false;
                }
            });

        });

    </script>
{% endblock %}
{% block atras %}/adm_criteriosactividadesdocente{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
            <h4>Profesor: {{ profesor }}</h4>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' >
                <tbody>
                <thead>
                <tr>
                    <th width="500px">Materia</th>
                    <th style="width: 100px;text-align: center">Usuario creación</th>
                    <th style="width: 100px;text-align: center">Fecha de creación</th>
                    <th style="width: 80px;text-align: center">Inicio</th>
                    <th style="width: 80px;text-align: center">Fin</th>
                    <th style="width: 80px; text-align: center">Aciones</th>
                </tr>
                </thead>
                {% for materia in materias %}
                    <tr>
                        <td class='rightborder'>
                            {{ materia.materia }}
                            {% if materia.materia.cerrado %}
                                <br><span class="label label-important tu" title="Retirado"> CERRADA</span>
                            {% else %}
                                <br><span class="label label-success tu" title="Retirado"> ABIERTA</span>
                            {% endif %}
                        <br><span class="label label-info tu">{{ materia.tipoprofesor }}</span>
                        </td>
                        <td style="text-align: center">{% if not materia.usuario_creacion.is_superuser %}{{ materia.usuario_creacion }}{% endif %}</td>
                        <td style="text-align: center">{{ materia.fecha_creacion|date:"d-m-Y" }}</td>
                        <td style="text-align: center">{{ materia.materia.inicio|date:"d-m-Y" }}</td>
                        <td style="text-align: center">{{ materia.materia.fin|date:"d-m-Y" }}</td>
                        <td style="text-align: center">
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span></a>
                                <ul class="dropdown-menu pull-right" style="text-align: left">
                                    {%  if materia.tipoprofesor.id == 9  %}
                                        <li><a class="tu informe_autor" href="javascript:;" idm="{{ materia.materia.id|encrypt }}"><span class="fa fa-print"></span> Informe seguimiento autor</a></li>
                                    {% endif %}
                                    {%  if materia.tipoprofesor.id == 1 or materia.tipoprofesor.id == 2  %}
                                        <li><a href="/adm_criteriosactividadesdocente?action=verformulario&idpm={{ materia.id }}"><span class="fa fa-list"></span> Formulario de rúbricas de evaluación docente</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade static" id="itemspanel_informe_autor" style="display: none;" >
        <div class="modal-header">
            <h4 id="paneltitle">Ingresar un rango de fechas :</h4>
        </div>
        <div class="modal-body panelbody">
            <div class="alert alert-danger incompletoseguimiento_informe_autor" style="display: none">
                <i class="fa fa-info-sign"></i> Seleccione un rango de fechas para continuar...!!!
            </div>
            <div style="text-align: center">
                <input placeholder="fecha desde" type="text" value="{{ fechainicio }}" name="fini" id="id_fini_autor" style="width: 100px">
                <input placeholder="fecha hasta" type="text" value="{{ fechafin }}" name="ffin" id="id_ffin_autor" style="width: 100px">
                <input type="hidden" value="0" name="idmateriaaautor" id="idmateriaaautor" >
            </div><br>
        </div>
        <div class="modal-footer">
            <p style="text-align: center; margin-bottom: 0">
                <a href="javascript:;" class="btn btn-danger generar_informe_autor"><i class="fa fa-plus"></i> Procesar</a>
                <a href="javascript:;" id="cancel_informe_autor" class="btn btn-info"> Cancelar</a>
            </p>
        </div>
    </div>
{% endblock %}