{% load humanize %}
{% load sga_extras %}
{% block extraheading %}
    <script>
        $(function(){
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
    <table class="table table-bordered table_primary">
        <thead class="table-light">
            <tr>
                <th colspan="2">Datos de la Persona</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 15%;"><b>Apellidos y Nombres:</b></td>
                <td style="width: 85%;">{{ participante.nombre_completo_inverso|title }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table_primary mb-0">
        <thead class="table-light">
            <tr>
                <th colspan="6">Listado de Proyectos de Investigación</th>
            </tr>
            <tr>
                <th class="text-center" style="width: 2%;">N°</th>
                <th class="text-center" style="width: 20%;">Convocatoria</th>
                <th class="text-center" style="width: 53%;">Título</th>
                <th class="text-center" style="width: 10%;">Rol</th>
                <th class="text-center" style="width: 15%;">Fechas participación</th>
                <th class="text-center" style="width: 10%;">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for proyectopersona in proyectos %}
                <tr>
                    <td class="text-end">{{ forloop.counter }}</td>
                    <td class="text-justify">
                        <p>{{ proyectopersona.proyecto.convocatoria.descripcion|title }}</p>
                    </td>
                    <td class="text-justify">
                        <p>{{ proyectopersona.proyecto.titulo }}</p>
                    </td>
                    <td class="text-center">
                        <p>{{ proyectopersona.get_funcion_display|title }}</p>
                    </td>
                    <td class="text-center  ">
                        {% if proyectopersona.desde %}
                            <p><b>Inicio</b>: {{ proyectopersona.desde|date:"d-m-Y" }}</p>
                            <p><b>Fin&nbsp;&nbsp;&nbsp;&nbsp;</b>: {{ proyectopersona.hasta|date:"d-m-Y" }}</p>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <span class="{{ proyectopersona.proyecto.estado.clase }}" data-bs-toggle="tooltip" title="{{ proyectopersona.proyecto.estado.observacion|title }}">{{ proyectopersona.proyecto.estado.descripcion|title }}</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>