{% load humanize %}
{% load sga_extras %}
{% block extraheading %}
    <script>
        $(function(){
            $('[data-bs-toggle="tooltip"]').tooltip();

            $('[data-bs-toggle="tooltip"]').on('click', function () {
                $(this).tooltip('hide');
            });
        });
    </script>
{% endblock %}
<table class="table table_primary table-bordered">
    <thead>
        <tr>
            <th colspan="6">Datos del Rubro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Tipo:</b></td>
            <td colspan="5">{{ detalle.tiporecurso.descripcion|title }}</td>
        </tr>
        <tr>
            <td><b>Recurso:</b></td>
            <td colspan="5">{{ detalle.recurso }}</td>
        </tr>
        <tr>
            <td><b>Descripcion:</b></td>
            <td colspan="5">{{ detalle.descripcion }}</td>
        </tr>
        <tr>
            <td style="width: 15%;"><b>Cantidad:</b></td>
            <td style="width: 18%;">{{ detalle.cantidad}}</td>
            <td style="width: 15%;"><b>Valor Unitario:</b></td>
            <td style="width: 18%;">$ {{ detalle.valorunitario|floatformat:2|intcomma }}</td>
            <td style="width: 15%;"><b>Total:</b></td>
            <td style="width: 19%;">$ {{ detalle.valortotal|floatformat:2|intcomma }}</td>
        </tr>
    </tbody>
</table>
<div class="table-responsive-xxl">
    <table class="table table-bordered table_primary table-striped mb-0" id="tbdetalleanexos">
        <thead>
            <tr>
                <th style="width: 3%; text-align: center;">#</th>
                <th style="width: 87%; text-align: center;">Descripción</th>
                <th style="width: 10%; text-align: center;">Archivo</th>
            </tr>
        </thead>
        <tbody id="detalle_anexos">
            {% for anexo in detalle.proformas %}
                <tr class="detalleanexos" id="filaanexo_{{ forloop.counter }}">
                    <td style="text-align: center">{{ forloop.counter }}</td>
                    <td>
                        {{ anexo.descripcion }}
                    </td>
                    <td style="text-align: center;">
                        {% if anexo.tipo_accion == 'preview' %}
                            <a href="{{ anexo.archivo.url }}" class="fs-4" data-width="2048" data-height="1380" data-fancybox="anexo{{ anexo.id }}" data-caption="Anexo: {{ anexo.descripcion }}" data-bs-toggle="tooltip" data-placement="top" title="Ver anexo"><i class="fa fa-eye text-info"></i> </a>
                        {% else %}
                            <a href="{{ anexo.archivo.url }}" target="_blank" class="fs-4"  data-bs-toggle="tooltip" data-placement="top" title="Descargar anexo"><i class="fa fa-download text-info"></i> </a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr id="fila_default_anexo">
                    <td colspan="3" style="text-align: center">No existen detalles de proformas</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>