{% extends "basebs.html" %}
{% load sga_extras %}
{% block heading %}
    <script type="text/javascript">

    </script>
{% endblock %}
{% block atras %}/box_planificaciontemas{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='span12'>
            <h4>{{ title }}</h4>
            <h4>{{ tema }}</h4>
        </div>

    </div>
    <div class="row-fluid">
        <div class='span6'>
            <a href="/box_planificaciontemas?action=addplanificacioncurso&idtema={{ tema.id }}" class='btn btn-success bloqueo_pantalla'><span class="fa fa-plus " ></span> Adicionar</a>
        </div>
    </div>

    <div class='row-fluid'>
        <div class='span12'>
            <table class='table table-bordered table-striped' >
                <thead>
                <tr>
                    <th>CARRERA</th>
                    <th >NIVEL</th>
                    <th style="text-align: center">PARALELO</th>
                    <th style="text-align: center">FECHA</th>
                    <th style="text-align: center;width: 100px;">PARTICIPANTES</th>
                    <th style="text-align: center;width: 100px;">ASISTENCIAS</th>
                    <th style="text-align: center;width: 100px;">FALTAS</th>
                    <th style="width: 80px;"></th>
                </tr>
                </thead>
                <tbody>
                {% for curso in listacursos %}
                    <tr>
                        <td>
                            {{ curso.carrera }}
                        </td>
                        <td>
                            {{ curso.nivelmalla }}
                        </td>
                        <td style="text-align: center">
                            {{ curso.paralelo }}
                        </td>
                        <td style="text-align: center">
                            {{ curso.fecha|date:"Y-m-d" }}
                        </td>
                        <td style="text-align: center">
                            {{ curso.total_participantes }}
                        </td>
                        <td style="text-align: center">
                            {{ curso.total_asistencias }}
                        </td>
                        <td style="text-align: center">
                            {{ curso.total_faltas }}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="javascript:;">Acciones<span class="caret"></span></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="/box_planificaciontemas?action=listadoparticipantes&idcurso={{ curso.id }}" class="bloqueo_pantalla"><i class="fa fa-check"></i> Tomar asistencia</a></li>
                                    <li><a href="/box_planificaciontemas?action=imprimirpdf&idcurso={{ curso.id }}" target="_blank"><i class="fa fa-file-pdf-o"></i> Imprimir</a></li>
                                    <li><a href="javascript:;" nhref='/box_planificaciontemas?action=delparticipantes&idcurso={{ curso.id }}' class='eliminacionmodal'><i class="fa fa-remove "></i> Eliminar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
