<table class='table table-bordered'>
    <tr>
        <th width="50" style="text-align: center; font-weight: bold">N°</th>
        <th style="text-align: center; font-weight: bold">Apellidos y nombres</th>
    </tr>
    {% for matricula in matriculas %}
        <tr>
            <td style="text-align: center">
                {{ forloop.counter }}
            </td>
            <td style="font-size: 9px" class="selector" codmatri="{{ matricula.id }}">{{ matricula }}</td>
        </tr>
    {% endfor %}
</table>