{% load sga_extras %}

{% block canvas %}
    <div class='span12'>
        <input type="hidden" name="id" value="{{ filtro.id }}"/>
        <input type="hidden" name="action" value="{{ action }}"/>
       <h4>Subir evidencia de veracidad de los requisitos del estudiante</h4>
        <br>
        <fieldset class="control-group custom-file-upload">
             <input type="file" name="archivos[]" id="id_archivo" accept=".pdf" data-allowed-file-extensions='pdf' multiple>
        </fieldset>
        <label class="label label-info"><i class="fa fa-info-circle"></i> <span class="texto"> </span></label>

        <br>
        <div class="row-fluid">
            <div style="text-align: right; float: left; width: 100%">
                <button type="submit" id="guardarevidencia" class="btn btn-success" ><i class="fa fa-check-circle"></i> Guardar</button>
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-window-close"></i>
                    Cancelar</a>
            </div>
        </div>

    </div>
{% endblock %}

<link rel="stylesheet" href="/static/dropify/css/dropify.min.css">
<script type="text/javascript" src='/static/dropify/js/dropify.min.js?v=1.0.0'></script>
<script>
    $(function () {
             $('#id_archivo').attr('data-allowed-file-extensions', 'jpg jpeg png jepg pdf');
            var drEvent = $('#id_archivo').dropify({
                messages: {
                    default: 'Arrastre y suelte el archivo o haga clic aquí.',
                    replace: 'Arrastre y suelte el archivo o haga clic aquí.',
                    remove: 'Eliminar',
                    error: 'Ocurrió un error!'
                },
                error: {
                    fileSize: "El tamaño del archivo debe ser máximo (2MB).",
                    fileExtension: "Sólo puede subir los archivos con las extensiones .jpeg .pdf .jpg .png"
                },
            });
            $('input[type=file]').change(function() {
                const totalFicheros = $(this).get(0).files.length;
                let mensaje = '';
                if (totalFicheros > 1) {
                    mensaje = `${totalFicheros} Archivos Seleccionados`
                } else {
                    mensaje = $(this).val().split('\\').pop();
                }
                $('.texto').html(mensaje);
              });
        $('.dropify-clear').click(function (){
            $('.texto').html('');
        })
    });

</script>